Repository librenms/librenms, pull requests merged in 2018-08, with the labels that each got.

#8976 Fix template conversion
  html/includes/forms/convert-template.inc.php
  includes/alerts.inc.php
Labels: Alerting :bell:, Bug :beetle:

#8968 Log an event for each Service Status change
  check-services.php
  includes/services.inc.php
Labels: Feature

#8981 Fix Eventlog search
  html/includes/table/eventlog.inc.php
Labels: Bug :beetle:, WebUI

#8650 Selective Port polling improvements
  includes/functions.php
  includes/polling/ports.inc.php
Labels: Needs Testing, Polling

#8952 Find snmpsimd
  LibreNMS/Util/Snmpsim.php
Labels: Refactor

#8955 Line up ping graph legend
  html/includes/graphs/device/ping_perf.inc.php
Labels: WebUI

#8978 Update sonus-sbc detection
  includes/definitions/sonus-sbc.yaml
  tests/data/sonus-sbc.json
  tests/snmpsim/sonus-sbc.snmprec
  tests/snmpsim/sonus-sbc_2.snmprec
Labels: Device :desktop_computer:

#8941 Remove port association mode map from the database
  html/pages/device/edit/snmp.inc.php
  includes/common.php
  includes/functions.php
  misc/db_schema.yaml
  sql-schema/258.sql
  tests/CommonFunctionsTest.php
Labels: Refactor, Schema

#8969 Allow to use full DN as value for member attribute instead of member: username
  LibreNMS/Authentication/LdapAuthorizer.php
  doc/Extensions/Authentication.md
  includes/defaults.inc.php
Labels: Refactor

#8983 Add another hardware setup
  doc/Support/Example-Hardware-Setup.md
Labels: Documentation :book:

#8991 Bugfix: Correct config template for API transport
  LibreNMS/Alert/Transport/Api.php
Labels: Alerting :bell:, Bug :beetle:

#8987 Update Fast-Ping-Check.md
  doc/Extensions/Fast-Ping-Check.md
Labels: Documentation :book:

#8992 remove strict comparisons for check-services.php
  check-services.php
Labels: Refactor

#8988 Update Distributed-Poller.md
  doc/Extensions/Distributed-Poller.md
Labels: Documentation :book:

#8990 Don't insert into the alert table if the entry is already correct.
  includes/alerts.inc.php
Labels: Refactor

#9000 Reverted parse_mode in Telegram transport
  LibreNMS/Alert/Transport/Telegram.php
Labels: Bug :beetle:

#9002 rockstor os and logo svgs
  html/images/logos/rockstor.svg
  html/images/os/rockstor.svg
Labels: WebUI

#8898 Fixed snmptraps.
  LibreNMS/Interfaces/SnmptrapHandler.php
  LibreNMS/Snmptrap/Handler/AuthenticationFailure.php
  LibreNMS/Snmptrap/Handler/BgpBackwardTransition.php
  LibreNMS/Snmptrap/Handler/BgpEstablished.php
  LibreNMS/Snmptrap/Handler/Fallback.php
  LibreNMS/Snmptrap/Handler/LinkDown.php
  LibreNMS/Snmptrap/Handler/LinkUp.php
  LibreNMS/Snmptrap/Trap.php
  LibreNMS/Util/ModuleTestHelper.php
  app/Models/Device.php
  app/Models/Ipv4Address.php
  app/Models/Ipv4Network.php
  app/Models/Ipv6Address.php
  app/Models/Port.php
  app/Providers/SnmptrapProvider.php
  composer.json
  composer.lock
  config/app.php
  config/snmptraps.php
  database/factories/ModelFactory.php
  doc/Extensions/SNMP-Trap-Handler.md
  includes/snmptrap.inc.php
  includes/snmptrap/linkDown.inc.php
  includes/snmptrap/linkUp.inc.php
  snmptrap.php
  tests/AuthSSOTest.php
  tests/CreatesApplication.php
  tests/LaravelTestCase.php
  tests/SnmpTrapTest.php
  tests/bootstrap.php
Labels: Feature

#9005 Remove non-existent PowerNet-MIB OIDs.
  includes/definitions/discovery/apc.yaml
Labels: Bug :beetle:

#8970 Use Process for fping
  includes/functions.php
Labels: Polling, Refactor

#8956 linux sensors - check if value is valid before use discovery_sensor
  includes/discovery/sensors/charge/linux.inc.php
  includes/discovery/sensors/current/linux.inc.php
  includes/discovery/sensors/temperature/linux.inc.php
  includes/discovery/sensors/voltage/linux.inc.php
  tests/data/linux_ntc.json
  tests/snmpsim/linux_ntc.snmprec
Labels: Bug :beetle:, Polling

#9010 Updates to snmptrap handling
  LibreNMS/Snmptrap/Dispatcher.php
  LibreNMS/Snmptrap/Handlers/AuthenticationFailure.php
  LibreNMS/Snmptrap/Handlers/BgpBackwardTransition.php
  LibreNMS/Snmptrap/Handlers/BgpEstablished.php
  LibreNMS/Snmptrap/Handlers/Fallback.php
  LibreNMS/Snmptrap/Handlers/LinkDown.php
  LibreNMS/Snmptrap/Handlers/LinkUp.php
  LibreNMS/Snmptrap/Trap.php
  LibreNMS/Util/CliColorFormatter.php
  app/Models/Device.php
  app/Providers/SnmptrapProvider.php
  config/snmptraps.php
  database/factories/ModelFactory.php
  doc/Developing/SNMP-Traps.md
  doc/Extensions/SNMP-Trap-Handler.md
  includes/defaults.inc.php
  mkdocs.yml
  snmptrap.php
  tests/SnmpTrapTest.php
  tests/Unit/DeviceTest.php
Labels: Bug :beetle:, Documentation :book:

#9019 Update ReadMe (postfix)
  doc/Extensions/Applications.md
Labels: Documentation :book:

#8953 Initial detection for SIAE Microelettronica ALFOplus2 microwave radio device
  LibreNMS/OS/SmOs.php
  html/images/logos/siae.png
  html/images/os/siae.png
  includes/definitions/sm-os.yaml
  includes/polling/os/sm-os.inc.php
  mibs/siae/SIAE-ACM-STATISTICS-MIB
  mibs/siae/SIAE-AGGRL1-MANAGEMENT-MIB
  mibs/siae/SIAE-ALARM-MIB
  mibs/siae/SIAE-CARRIER-AGGRL1-MIB
  mibs/siae/SIAE-CFGM-MIB
  mibs/siae/SIAE-CLOG-MIB
  mibs/siae/SIAE-ECFM-EXT-MIB
  mibs/siae/SIAE-EQUIP-MIB
  mibs/siae/SIAE-EQUIPTYPE-MIB
  mibs/siae/SIAE-FEATUREKEYS-MIB
  mibs/siae/SIAE-HC-MIB
  mibs/siae/SIAE-HITLESS-AGGRL1-MIB
  mibs/siae/SIAE-IFEXT-MIB
  mibs/siae/SIAE-LLF-MIB
  mibs/siae/SIAE-MAB-MIB
  mibs/siae/SIAE-MANOP-MIB
  mibs/siae/SIAE-PMFTP-MIB
  mibs/siae/SIAE-PMG828-MIB
  mibs/siae/SIAE-PMRXPWR-MIB
  mibs/siae/SIAE-PMTXPWR-MIB
  mibs/siae/SIAE-PTP-MIB
  mibs/siae/SIAE-QUEUE-DEPTH-MIB
  mibs/siae/SIAE-RADIO-ENCRYPTION-MIB
  mibs/siae/SIAE-RADIO-SYSTEM-MIB
  mibs/siae/SIAE-RET-MIB
  mibs/siae/SIAE-SAFE-MODE-MIB
  mibs/siae/SIAE-SECURITY-MANAGEMENT-MIB
  mibs/siae/SIAE-SENSOR-TEMP-MIB
  mibs/siae/SIAE-SFP-MIB
  mibs/siae/SIAE-SOFT-MIB
  mibs/siae/SIAE-SYNC-MIB
  mibs/siae/SIAE-TREE-MIB
  mibs/siae/SIAE-UNIT-MIB
  mibs/siae/SIAE-UNITYPE-MIB
  mibs/siae/SIAE-USER-MIB
  tests/data/sm-os.json
  tests/snmpsim/sm-os.snmprec
Labels: Device :desktop_computer:

#9011 Device: Add support for Huawei iBMC
  includes/definitions/discovery/ibmc.yaml
  includes/definitions/ibmc.yaml
  includes/polling/os/ibmc.inc.php
  mibs/huawei/HUAWEI-SERVER-IBMC-MIB
  tests/data/ibmc.json
  tests/snmpsim/ibmc.snmprec
Labels: Device :desktop_computer:

#9015 Fix invalid json in test data
  LibreNMS/Util/ModuleTestHelper.php
  includes/polling/applications/fail2ban.inc.php
  tests/data/arbos.json
  tests/data/awplus.json
  tests/data/fortiweb.json
  tests/data/hiveos-wireless.json
  tests/data/hiveos-wireless_ap130.json
  tests/data/linux_fail2ban-legacy.json
  tests/data/linux_fail2ban-v1.json
  tests/data/voss_8404c.json
  tests/snmpsim/linux_fail2ban-legacy.snmprec
  tests/snmpsim/linux_fail2ban-v1.snmprec
Labels: Bug :beetle:

#9022 Snmp configuration docs for vCenter 6.x
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#9020 Add a check for a failed dns query in get_astext()
  includes/functions.php
Labels: Bug :beetle:

#8935 Use PDO for MySQL queries
  LibreNMS/DB/Eloquent.php
  LibreNMS/IRCBot.php
  LibreNMS/Validations/Database.php
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  build-base.php
  config/app.php
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  html/install.php
  html/legacy_index.php
  includes/common.php
  includes/dbFacile.php
  includes/functions.php
  includes/init.php
  includes/notifications.php
  includes/polling/unix-agent.inc.php
  includes/sql-schema/update.php
  resources/views/layouts/menu.blade.php
  sql-schema/007.sql
  tests/AuthSSOTest.php
  tests/CommonFunctionsTest.php
  tests/ConfigTest.php
  tests/DBSetupTest.php
  tests/TestCase.php
  tests/bootstrap.php
  validate.php
Labels: Refactor

#9029 use rrdtool_escape() for sensors instead of manually padding text
  html/includes/graphs/sensor/frequency.inc.php
  html/includes/graphs/sensor/signal.inc.php
  html/includes/graphs/sensor/snr.inc.php
Labels: WebUI

#9031 Fix dbFacile null parameters
  includes/dbFacile.php
Labels: Bug :beetle:

#9030 Add basic support for IBM i
  includes/definitions/ibm-i.yaml
  includes/polling/os/ibm-i.inc.php
  tests/data/ibm-i.json
  tests/snmpsim/ibm-i.snmprec
Labels: Device :desktop_computer:

#9026 Cleaned up Trango Apex Lynx OS code and added wireless sensors
  LibreNMS/OS/ApexLynx.php
  includes/polling/os/apex-lynx.inc.php
  mibs/trango/GIGA-PLUS-MIB-DEFINITIONS
  tests/data/apex-lynx.json
  tests/snmpsim/apex-lynx.snmprec
Labels: Device :desktop_computer:

#9034 Convert old templates title as well as body
  html/includes/forms/convert-template.inc.php
  html/includes/modal/alert_template.inc.php
Labels: WebUI

#9023 Improved SmartAX OS support. Added CPU&Temperature for each card and …
  LibreNMS/OS/Smartax.php
  includes/definitions/smartax.yaml
  includes/discovery/sensors/power/smartax.inc.php
  includes/discovery/sensors/temperature/smartax.inc.php
  includes/polling/os/smartax.inc.php
  tests/data/smartax.json
  tests/snmpsim/smartax.snmprec
Labels: Device :desktop_computer:

#9037 Fix laravel start from PDO PR
  html/includes/functions.inc.php
  includes/init.php
Labels: Ignore changelog :mute:

#8573 convert zfs over to use json_app_get
  includes/polling/applications/zfs.inc.php
  includes/polling/functions.inc.php
  misc/db_schema.yaml
  sql-schema/259.sql
  tests/data/linux_zfs-legacy.json
  tests/data/linux_zfs-v1.json
  tests/module_tables.yaml
  tests/snmpsim/linux_zfs-legacy.snmprec
  tests/snmpsim/linux_zfs-v1.snmprec
Labels: Feature

#9045 Just disable phan for now
  .codeclimate.yml
Labels: Ignore changelog :mute:

#9043 Update validate to check for mysqlnd
  LibreNMS/Validations/Php.php
  composer.json
  composer.lock
Labels: Documentation :book:

#9049 Workaround for storage bigint
  includes/polling/storage.inc.php
Labels: Bug :beetle:, Polling

#9044 Workaround for billing with large bps
  poll-billing.php
Labels: Billing :heavy_dollar_sign:, Bug :beetle:, Polling

#9048 Fix port customers display
  html/includes/graphs/customer/bits.inc.php
  html/includes/table/customers.inc.php
Labels: Bug :beetle:, WebUI

#9053 Workaround for bill quota/cdr bigint
  html/pages/bill/actions.inc.php
Labels: Billing :heavy_dollar_sign:, Bug :beetle:

#9041 Check for incorrect heartbeats in rrdtstep.php script
  LibreNMS/Validations/Poller.php
  app/Jobs/PingCheck.php
  html/includes/table/poll-log.inc.php
  scripts/rrdstep.php
Labels: Enhancement, Refactor

#9027 New transport modules (Kayako Classic, SMSFeedback)
  LibreNMS/Alert/Transport/Kayako.php
  LibreNMS/Alert/Transport/Smsfeedback.php
  doc/Alerting/Transports.md
  html/includes/modal/edit_alert_transport.inc.php
Labels: Alerting :bell:

#9055 Extended the templates documentation.
  doc/Alerting/Templates.md
Labels: Documentation :book:

#9060 Fixed Device->Eventlog to show rows/pages and Syslog hostname filter
  html/pages/device/logs.inc.php
  html/pages/device/logs/eventlog.inc.php
  html/pages/eventlog.inc.php
  html/pages/syslog.inc.php
Labels: Bug :beetle:, WebUI

#9067 Fix ldap fetching user_id as string
  LibreNMS/Authentication/LdapAuthorizer.php
Labels: Bug :beetle:

#9066 Display user id for auth_test.php -l
  scripts/auth_test.php
Labels: Feature

#9057 Add Basic Support for Allworx VoIP Systems
  html/images/os/allworx.svg
  includes/definitions/allworx_voip.yaml
  includes/polling/os/allworx_voip.inc.php
  tests/data/allworx_voip.json
  tests/snmpsim/allworx_voip.snmprec
Labels: Device :desktop_computer:

#9078 Fix port_id is null in ospf poller
  includes/polling/ospf.inc.php
Labels: Bug :beetle:

#9080 Optimize OSPF poller
  includes/polling/ospf.inc.php
Labels: Polling, Refactor

#9079 Fix xss in deluser
  html/pages/deluser.inc.php
Labels: Security

#9074 Isolate poller and discovery modules
  includes/discovery/functions.inc.php
  includes/polling/functions.inc.php
Labels: Enhancement, Refactor

#8966 Fix Debian Stretch rrdcached Base_Path
  doc/Extensions/RRDCached.md
Labels: Documentation :book:

#9042 Add cli options debug and bill_id to poll-billing.php
  poll-billing.php
Labels: Feature, Refactor

#9077 Fix IN db queries
  daily.php
  html/includes/api_functions.inc.php
  html/includes/common/availability-map.inc.php
  html/includes/common/worldmap.inc.php
  html/includes/forms/alert-rules.inc.php
  html/includes/forms/attach-alert-template.inc.php
  html/includes/forms/transport-groups.inc.php
  html/includes/forms/update-config-item.inc.php
  includes/device-groups.inc.php
  includes/discovery/vlans.inc.php
  includes/functions.php
  includes/polling/cipsec-tunnels.inc.php
  includes/polling/functions.inc.php
Labels: Bug :beetle:

#9083 New OS: Basic Support for Arris D5 EdgeQAM
  includes/definitions/arris-d5.yaml
  includes/discovery/sensors/entity-sensor.inc.php
  includes/rewrites.php
  mibs/DOCS-CABLE-DEVICE-MIB
  mibs/DOCS-IF-MIB
  mibs/arris/d5/ARRIS-D5-ALARM-MIB
  mibs/arris/d5/ARRIS-D5-CHANNEL-MODE-LOG-MIB
  mibs/arris/d5/ARRIS-D5-DTI-EXT-MIB
  mibs/arris/d5/ARRIS-D5-DVB-EIS-MIB
  mibs/arris/d5/ARRIS-D5-DVB-PSIG-MIB
  mibs/arris/d5/ARRIS-D5-ENT-CHASSIS-MIB
  mibs/arris/d5/ARRIS-D5-ENT-SENSOR-THRESH-MIB
  mibs/arris/d5/ARRIS-D5-IP-MIB
  mibs/arris/d5/ARRIS-D5-LICENSE-MIB
  mibs/arris/d5/ARRIS-D5-QAM-EXT-MIB
  mibs/arris/d5/ARRIS-D5-QAM-MIB
  mibs/arris/d5/ARRIS-D5-QAM-POST-MIB
  mibs/arris/d5/ARRIS-D5-SFP-MIB
  mibs/arris/d5/ARRIS-D5-SLOT-EXT-MIB
  mibs/arris/d5/ARRIS-D5-SOFTWARE-MGR-MIB
  mibs/arris/d5/ARRIS-D5-TEST-MIB
  mibs/arris/d5/ARRIS-D5-VIDEO-ERM-MIB
  mibs/arris/d5/ARRIS-D5-VIDEO-IP-BUNDLE-MIB
  mibs/arris/d5/ARRIS-D5-VIDEO-MIB
  mibs/arris/d5/ARRIS-D5-VIDEO-SESSION-MIB
  mibs/arris/d5/ARRIS-D5-VIDEO-VIF-MIB
  mibs/arris/d5/ARRIS-D5-WAN-POST-MIB
  mibs/arris/d5/ARRIS-MIB
  mibs/arris/d5/SIM-MIB
  tests/data/arris-d5.json
  tests/snmpsim/arris-d5.snmprec
Labels: Device :desktop_computer:

#9088 convert NTP to JSON and json_app_get
  includes/polling/applications/ntp-client.inc.php
  includes/polling/applications/ntp-server.inc.php
  tests/data/linux_ntp-client-legacy.json
  tests/data/linux_ntp-client-v1.json
  tests/snmpsim/linux_ntp-client-legacy.snmprec
  tests/snmpsim/linux_ntp-client-v1.snmprec
Labels: Refactor, applications :floppy_disk:

#9093 Fix alert notes
  includes/alerts.inc.php
  scripts/test-template.php
Labels: Alerting :bell:, Bug :beetle:

#9091 Prevent bgp-peers module from adding json data for every device
  tests/data/allied_alliedware.json
  tests/data/allworx_voip.json
  tests/data/apex-lynx.json
  tests/data/arista_eos.json
  tests/data/arris-c3.json
  tests/data/arris-c4.json
  tests/data/barracudaspamfirewall.json
  tests/data/barracudaspamfirewall_email_sg.json
  tests/data/cmm.json
  tests/data/comware.json
  tests/data/coreos.json
  tests/data/dcn-software_s5750e.json
  tests/data/dell-rpdu.json
  tests/data/dnos.json
  tests/data/exa_e7-2.json
  tests/data/fortiwlc.json
  tests/data/hpe-ilo_4.json
  tests/data/hwg-poseidon.json
  tests/data/ibm-i.json
  tests/data/ios_3560g.json
  tests/data/iosxe.json
  tests/data/iosxr.json
  tests/data/junos_ex.json
  tests/data/junos_mx.json
  tests/data/mimosa_b5.json
  tests/data/netscaler-sdwan.json
  tests/data/netscaler.json
  tests/data/occamos_blc-6252.json
  tests/data/procurve.json
  tests/data/routeros.json
  tests/data/serverscheck.json
  tests/data/sm-os.json
  tests/data/smartax.json
  tests/data/solidserver.json
  tests/data/sslvis.json
  tests/data/vrp_5720.json
  tests/data/xirrus_aos.json
  tests/module_tables.yaml
Labels: Ignore changelog :mute:

#9046 Small sysDescr_regex update for improved hiveos-wireless OS Detecttion
  includes/definitions/hiveos-wireless.yaml
  tests/data/hiveos-wireless_320_n.json
  tests/snmpsim/hiveos-wireless_320_n.snmprec
Labels: Device :desktop_computer:

#9089 Added/Updated collectd information
  doc/Support/Configuration.md
Labels: Documentation :book:

#9096 Fixed PeeringDB AS Selection table
  html/includes/table/as-selection.inc.php
  html/pages/peering/as-selection.inc.php
Labels: Bug :beetle:, WebUI

#9082 Improved port polling in certain scenarios
  includes/polling/ports.inc.php
Labels: Refactor

#8630 Create Installation-Ubuntu-1804-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  mkdocs.yml
Labels: Documentation :book:

#9040 API: additional parameters for list_alerts and list_devices API calls
  doc/API/Alerts.md
  doc/API/Devices.md
  html/includes/api_functions.inc.php
Labels: API

#9099 Fix invalid test data
  LibreNMS/Util/ModuleTestHelper.php
  tests/OSModulesTest.php
  tests/data/arris-d5.json
  tests/data/linux_ntp-client-legacy.json
  tests/data/linux_ntp-client-v1.json
Labels: Ignore changelog :mute:

#9105 Test fixes
  mibs/benuos/BENU-WAG-STATS-MIB
  tests/data/comware.json
  tests/data/linux_ntp-client-legacy.json
  tests/data/linux_ntp-client-v1.json
  tests/data/occamos_blc-6252.json
Labels: Ignore changelog :mute:

#9013 Add fanspeed for EdgeSwitch
  includes/definitions/discovery/edgeswitch.yaml
  includes/discovery/sensors/state/edgeswitch.inc.php
  includes/discovery/sensors/temperature/edgeswitch.inc.php
  tests/data/edgeswitch.json
  tests/snmpsim/edgeswitch.snmprec
Labels: Device :desktop_computer:

#9102 SNMP v3 auth is no longer checked for case sensitivity + push pass v3 creds to front of queue
  doc/API/Devices.md
  html/includes/api_functions.inc.php
  includes/snmp.inc.php
Labels: API, Bug :beetle:, Documentation :book:

#9092 Converted PagerDuty to new transport format
  LibreNMS/Alert/Transport/Pagerduty.php
  doc/Alerting/Transports.md
  html/images/transports/pagerduty-green.svg
  html/images/transports/pagerduty-white.svg
  html/includes/forms/alert-transports.inc.php
  html/includes/modal/edit_alert_transport.inc.php
  html/includes/print-alert-transports.php
  html/pages/alert-transports.inc.php
  includes/alerts.inc.php
Labels: Alerting :bell:

#9108 Fixed install suggesting to install mysqli -> mysqlnd
  html/install.php
Labels: Ignore changelog :mute:

#9112 Set ip to null when a device is renamed
  includes/functions.php
Labels: Bug :beetle:

#9110 Add robots.txt to the docs site.
  doc/robots.txt
Labels: Ignore changelog :mute:

#9109 Fixed url to graphs from date selector
  html/includes/print-date-selector.inc.php
Labels: Bug :beetle:, WebUI

#9107 Fixed slack options not showing in the webui
  LibreNMS/Alert/Transport/Slack.php
Labels: Alerting :bell:, Breaking change, Bug :beetle:

#9116 Changelog for 1.43
  doc/General/Changelog.md
Labels: Documentation :book:

#9120 Additional debug output when sending/testing email
  includes/functions.php
Labels: Alerting :bell:
