Repository librenms/librenms, pull requests merged in 2018-03, with the labels that each got.

#8314 Added auto width and height dimensions parameters
  doc/Extensions/Dashboards.md
  html/includes/common/generic-image.inc.php
Labels: Feature, WebUI

#8312 Add a irc_alert_short option to only send the alert title
  LibreNMS/IRCBot.php
  doc/Extensions/IRC-Bot.md
  includes/defaults.inc.php
Labels: Alerting :bell:, Feature

#8322 change the column type from varchar(255) to TEXT for nagios-plugins perfdata
  misc/db_schema.yaml
  sql-schema/239.sql
Labels: Schema

#8343 fix: Fixed sysname -> sysName for device dependancy display
  html/pages/device-dependencies.inc.php
Labels: Bug :beetle:, WebUI

#8349 Update Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Apache.md
Labels: Documentation :book:

#8253 Improve LDAP filter in the getUserlist() function
  LibreNMS/Authentication/LdapAuthorizer.php
Labels: Bug :beetle:

#8320 alerting: Add Philips Hue as transport
  LibreNMS/Alert/Transport/Hue.php
  doc/Alerting/Transports.md
  html/pages/settings/alerting.inc.php
  sql-schema/240.sql
Labels: Alerting :bell:

#8352 Remove mcrypt, it doesn't exist in php 7.2
  doc/Installation/Installation-CentOS-7-Nginx.md
Labels: Documentation :book:

#8358 Fix etherlike graphs
  includes/polling/ports/port-etherlike.inc.php
Labels: Bug :beetle:

#8360 Added two html alert template examples
  doc/Alerting/Templates.md
Labels: Documentation :book:

#8332 Lenovo CNOS Discovery/Logo Update
  html/images/os/lenovo.svg
  includes/definitions/cnos.yaml
  includes/definitions/discovery/cnos.yaml
  mibs/lenovo/ LENOVO-PRODUCTS-MIB
  mibs/lenovo/LENOVO-ENV-MIB
  mibs/lenovo/LENOVO-SMI-MIB
  tests/data/cnos.json
  tests/snmpsim/cnos.snmprec
Labels: New-Device :desktop_computer:

#8336 Add detection of Axis Network Speaker
  axisaudio_c3003.snmprec
  includes/definitions/axisaudio.yaml
Labels: Needs-Info, New-Device :desktop_computer:

#8375 feature: Add Oxidized reload node list button
  html/includes/forms/reload-oxidized-nodes-list.inc.php
  html/pages/oxidized.inc.php
Labels: WebUI

#8139 device: Improve Allied Telesis Chassis product support
  includes/polling/os/awplus.inc.php
  tests/data/awplus.json
  tests/snmpsim/awplus.snmprec
Labels: New-Device :desktop_computer:

#8383 Reference the correct table for devices
  includes/alerts.inc.php
Labels: Alerting :bell:, Bug :beetle:

#8390 Delete invalid alert maps
  sql-schema/245.sql
Labels: Schema

#8395 docs: fixed WeatherMapper style
  doc/Extensions/Weathermap.md
Labels: Documentation :book:

#8385 Update SNMP-Configuration-Examples.md pt. 2
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#8396 Add info about client config options for suppressing/enabling FQDN info in syslogmsgs
  doc/Extensions/Graylog.md
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#8397 added docs link to about page
  html/pages/about.inc.php
Labels: WebUI

#8405 Added Nimble storage volume utilization
  includes/definitions/nimbleos.yaml
  includes/discovery/storage/nimbleos.inc.php
  includes/polling/storage/nimbleos.inc.php
  mibs/nimble/NIMBLE-MIB
Labels: Enhancement

#8153 device: "DEVELOP" Support
  includes/definitions/konica.yaml
  tests/data/konica.json
  tests/module_tables.yaml
  tests/snmpsim/konica.snmprec
Labels: New-Device :desktop_computer:

#8372 Add Radwin OS Wireless Sensors
  LibreNMS/OS/Radwin.php
  tests/data/radwin_5200-0150.json
  tests/data/radwin_5550-0150.json
  tests/data/radwin_5550-0h50.json
  tests/snmpsim/radwin_5200-0150.snmprec
  tests/snmpsim/radwin_5550-0150.snmprec
  tests/snmpsim/radwin_5550-0h50.snmprec
Labels: New-Device :desktop_computer:

#8317 AOS-EMU2: Add contact,relay,outlet discovery; update yaml,snmprec,json
  includes/definitions/aos-emu2.yaml
  includes/discovery/sensors/state/aos-emu2.inc.php
  tests/data/aos-emu2_ap9320.json
  tests/data/awplus.json
  tests/data/drac.json
  tests/data/fusion.json
  tests/data/gaia.json
  tests/data/netonix_wispswitch.json
  tests/data/pcoweb-rittalchiller.json
  tests/data/procurve.json
  tests/data/routeros.json
  tests/module_tables.yaml
  tests/snmpsim/aos-emu2_ap9320.snmprec
Labels: New-Device :desktop_computer:

#8403 github: update issue template
  .github/ISSUE_TEMPLATE.md
Labels: Documentation :book:

#8337 Borderless fullscreen geographical map, with just the nodes.
  html/css/fullscreenmap.css
  html/includes/print-menubar.php
  html/pages/fullscreenmap.inc.php
Labels: Feature, WebUI

#8315 Fixing HP Proliant state sensors
  includes/discovery/sensors/state/hp.inc.php
Labels: Bug :beetle:

#8384 newdevice: add support for Moxa EDS-P510A-8PoE
  includes/definitions/discovery/moxa-etherdevice.yaml
  mibs/moxa/MOXA-EDSP510A8POE-MIB
  tests/data/moxa-etherdevice_edsp510a8poe.json
  tests/snmpsim/moxa-etherdevice_edsp510a8poe.snmprec
Labels: Needs Tests :unicorn:, Needs-Verification, New-Device :desktop_computer:

#8415 Alerting, actually generate SQL
  includes/alerts.inc.php
Labels: Alerting :bell:, Bug :beetle:, High

#8388 Updating the mibs file from vmware
  mibs/vmware/VMWARE-AGENTCAP-MIB
  mibs/vmware/VMWARE-CIMOM-MIB
  mibs/vmware/VMWARE-ENV-MIB
  mibs/vmware/VMWARE-ESX-AGENTCAP-MIB
  mibs/vmware/VMWARE-HEARTBEAT-MIB
  mibs/vmware/VMWARE-NSX-MANAGER-AGENTCAP-MIB
  mibs/vmware/VMWARE-NSX-MANAGER-MIB
  mibs/vmware/VMWARE-OBSOLETE-MIB
  mibs/vmware/VMWARE-PRODUCTS-MIB
  mibs/vmware/VMWARE-RESOURCES-MIB
  mibs/vmware/VMWARE-ROOT-MIB
  mibs/vmware/VMWARE-SRM-EVENT-MIB
  mibs/vmware/VMWARE-SYSTEM-MIB
  mibs/vmware/VMWARE-TC-MIB
  mibs/vmware/VMWARE-VA-AGENTCAP-MIB
  mibs/vmware/VMWARE-VC-EVENT-MIB
  mibs/vmware/VMWARE-VCHA-MIB
  mibs/vmware/VMWARE-VCOPS-EVENT-MIB
  mibs/vmware/VMWARE-VMINFO-MIB
  mibs/vmware/VMWARE-VRNI-AGENTCAP-MIB
  mibs/vmware/VMWARE-VRNI-MIB
Labels: Blocker :no_entry_sign:

#8436 Don't break the webui when there are broken sql queries.
  includes/dbFacile.php
Labels: Bug :beetle:, WebUI

#8443 fix: Restored config items in sql queries
  sql-schema/247.sql
Labels: Bug :beetle:, Schema

#8448 Docs: App doc fix
  doc/Extensions/Applications.md
Labels: Documentation :book:

#8430 alert: Added support for disabling recovery notifications
  LibreNMS/Alerting/QueryBuilderFilter.php
  doc/Alerting/Rules.md
  html/includes/forms/alert-rules.inc.php
  html/includes/modal/new_alert_rule.inc.php
  includes/alerts.inc.php
Labels: Alerting :bell:

#8445 device: Added additional detection for Calix B6
  includes/definitions/calix.yaml
  tests/data/calix_b6-256.json
  tests/snmpsim/calix_b6-256.snmprec
Labels: Device :desktop_computer:

#8431 refactor: Small improvement to per port polling
  includes/polling/ports.inc.php
Labels: Polling, Refactor

#8457 Query builder fix root OR with more than one rule
  LibreNMS/Alerting/QueryBuilderParser.php
  tests/data/misc/querybuilder.json
Labels: Alerting :bell:, Bug :beetle:

#8459 Fix GenSQLOld()
  includes/alerts.inc.php
Labels: Alerting :bell:, Bug :beetle:

#8277 Added better detection for HiveOS devices
  includes/definitions/hiveos-network.yaml
  includes/definitions/hiveos-wireless.yaml
  includes/polling/os/hiveos-wireless.inc.php
  mibs/aerohive/AH-INTERFACE-MIB
  mibs/aerohive/AH-MRP-MIB
  mibs/aerohive/AH-SMI-MIB
  mibs/aerohive/AH-SYSTEM-MIB
  mibs/aerohive/AH_TRAP_MIB
  tests/snmpsim/aerohive.snmprec
  tests/snmpsim/aerohive_1.snmprec
  tests/snmpsim/hiveos-network.snmprec
  tests/snmpsim/hiveos-network_sr2024p.snmprec
  tests/snmpsim/hiveos-wireless.snmprec
  tests/snmpsim/hiveos-wireless_1.snmprec
Labels: Device :desktop_computer:

#8279 device: Added detection for Raritan KVM and EMX devices
  includes/definitions/raritan-emx.yaml
  includes/definitions/raritan-kvm.yaml
  includes/definitions/raritan-pdu.yaml
  includes/discovery/sensors/current/raritan-pdu.inc.php
  includes/discovery/sensors/frequency/raritan-pdu.inc.php
  includes/discovery/sensors/power/raritan-pdu.inc.php
  includes/discovery/sensors/pre-cache/raritan-pdu.inc.php
  includes/discovery/sensors/temperature/raritan-pdu.inc.php
  includes/discovery/sensors/voltage/raritan-pdu.inc.php
  mibs/raritan/RemoteKVMDevice-MIB
  tests/snmpsim/raritan-emx.snmprec
  tests/snmpsim/raritan-kvm.snmprec
  tests/snmpsim/raritan-kvm_1.snmprec
  tests/snmpsim/raritan-pdu.snmprec
  tests/snmpsim/raritan-pdu_px2.snmprec
Labels: Device :desktop_computer:

#8461 Add ifAlias to tag influxdb port data
  includes/polling/ports.inc.php
Labels: Enhancement, Polling

#8460 Remove alert.macros from db schema again.
  sql-schema/126.sql
  sql-schema/159.sql
  sql-schema/187.sql
  sql-schema/216.sql
  sql-schema/247.sql
Labels: Schema

#8447 device: Improved detection for dlink and dlinkap devices
  includes/definitions/dlink.yaml
  includes/definitions/dlinkap.yaml
  tests/data/dlink.json
  tests/data/dlink_dgs-1210-52mp.json
  tests/snmpsim/dlink.snmprec
  tests/snmpsim/dlink_des1.snmprec
  tests/snmpsim/dlink_dgs-1210-52mp.snmprec
  tests/snmpsim/dlink_dgs.snmprec
  tests/snmpsim/dlinkap_2.snmprec
Labels: Device :desktop_computer:

#8470 Debian stretch settings
  doc/Extensions/RRDCached.md
Labels: Documentation :book:

#8462 Change the default alert delay to 1m
  html/includes/modal/new_alert_rule.inc.php
Labels: Alerting :bell:, WebUI

#8474 Full defaults for alert collection rules
  html/includes/forms/alert-rules.inc.php
  html/includes/forms/sql-from-alert-collection.inc.php
Labels: Alerting :bell:, Bug :beetle:

#8428 fix: Fixed and improved toner discovery
  includes/discovery/toner.inc.php
  tests/data/konica.json
  tests/data/xerox.json
  tests/module_tables.yaml
  tests/snmpsim/xerox.snmprec
Labels: Bug :beetle:, Discovery

#8482 docs: add FAQ for Device Type
  doc/Support/FAQ.md
Labels: Documentation :book:

#8439 Add serial number detection to xerox
  includes/polling/os/xerox.inc.php
  tests/data/xerox_apeosport.json
  tests/snmpsim/xerox_apeosport.snmprec
Labels: Device :desktop_computer:, Polling

#8456 devices: Add Phybridge OS support
  html/images/logos/phybridge.svg
  html/images/os/phybridge.svg
  includes/definitions/phybridge-flex.yaml
  tests/data/phybridge-flex.json
  tests/snmpsim/phybridge-flex.snmprec
Labels: Device :desktop_computer:

#8407 feature: Improve Sentry4 discovery
  includes/definitions/discovery/sentry4.yaml
  includes/discovery/sensors/frequency/sentry4.inc.php
  includes/discovery/sensors/power/sentry4.inc.php
  includes/discovery/sensors/temperature/sentry4.inc.php
  includes/polling/functions.inc.php
  mibs/sentry/Sentry4-MIB
  tests/data/sentry4.json
  tests/snmpsim/sentry4.snmprec
Labels: Device :desktop_computer:

#8446 device: Added detection for Cisco SPA devices
  includes/definitions/ciscospa.yaml
  tests/data/ciscospa.json
  tests/data/ciscospa_spa112.json
  tests/data/ciscospa_spa112_1.json
  tests/snmpsim/ciscospa.snmprec
  tests/snmpsim/ciscospa_spa112.snmprec
  tests/snmpsim/ciscospa_spa112_1.snmprec
Labels: Device :desktop_computer:

#8434 LDAP debug output
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizer.php
  doc/Extensions/Authentication.md
  scripts/auth_test.php
Labels: Enhancement

#8489 Alert builder: don't waste space
  html/includes/modal/new_alert_rule.inc.php
  html/includes/print-menubar.php
Labels: WebUI
