Repository librenms/librenms, pull requests merged in 2018-04, with the labels that each got.

#8497 docs: Changelog for 1.38
  doc/General/Changelog.md
Labels: Documentation :book:

#8495 Update RRDCached.md
  doc/Extensions/RRDCached.md
Labels: Documentation :book:

#8492 Add WTI-MPC OS and mib
  html/images/os/wti.svg
  includes/definitions/wti-mpc.yaml
  mibs/wti/WTI-MPC-MIB
  tests/snmpsim/wti-mpc.snmprec
Labels: Device :desktop_computer:

#8402 Dlink: show PO and vlanmgmt ports
  includes/definitions/dlink.yaml
Labels: Device :desktop_computer:

#8501 Update Rules.md
  doc/Alerting/Rules.md
Labels: Documentation :book:

#8511 fix: Updated ports macros to use %macros.port
  misc/macros.json
Labels: Alerting :bell:, Bug :beetle:

#8509 Update devices.inc.php to use searchquery
  html/pages/devices.inc.php
Labels: WebUI

#8500 AeroHive Wireless Support
  LibreNMS/Device/WirelessSensor.php
  LibreNMS/OS/HiveosWireless.php
  includes/discovery/mempools/hiveos-wireless.inc.php
  includes/polling/mempools/hiveos-wireless.inc.php
  includes/polling/os/hiveos-wireless.inc.php
  mibs/aerohive/AH-SMI-MIB
  tests/data/hiveos-wireless.json
  tests/snmpsim/hiveos-wireless.snmprec
  tests/snmpsim/hiveos-wireless_2.snmprec
Labels: Needs Tests :unicorn:

#8490 Added 2n device detection.
  html/images/os/2n.svg
  includes/definitions/heliosip.yaml
  includes/polling/os/heliosip.inc.php
  mibs/2n/TEL2N-MIB
  tests/data/heliosip.json
  tests/snmpsim/heliosip.snmprec
Labels: Device :desktop_computer:

#8251 Improved fdb search
  html/includes/table/fdb-search.inc.php
  html/pages/search/fdb.inc.php
Labels: Feature

#8478 newdevice: Add Last Mile CTM support
  html/images/logos/ctm.png
  html/images/os/ctm.png
  includes/definitions/ctm.yaml
  includes/definitions/discovery/ctm.yaml
  includes/discovery/sensors/state/ctm.inc.php
  includes/polling/os/ctm.inc.php
  includes/polling/sensors/state/ctm.inc.php
  mibs/ctm/CTMMIBCUSTOM
  mibs/ctm/CTMMIBV2
  tests/data/ctm.json
  tests/snmpsim/ctm.snmprec
Labels: Device :desktop_computer:

#8464 Added Tegile Storage OS detection, storage pool, and project storage.
  html/images/os/tegile.svg
  includes/definitions/intelliflash.yaml
  includes/discovery/storage/intelliflash.inc.php
  includes/polling/storage/intelliflash-pl.inc.php
  includes/polling/storage/intelliflash-pr.inc.php
  mibs/tegile/TEGILE-MIB
  tests/data/intelliflash.json
  tests/snmpsim/intelliflash.snmprec
Labels: Device :desktop_computer:

#8517 Update Graylog.md
  doc/Extensions/Graylog.md
Labels: Documentation :book:

#8529 Add CPU Information for Ruckus Wireless Type
  includes/definitions/discovery/ruckuswireless.yaml
  tests/data/ruckuswireless_zd1100.json
  tests/data/ruckuswireless_zd1200.json
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#8538 Fix device group rule suggest, Auth before init
  html/ajax_ossuggest.php
  html/ajax_rulesuggest.php
Labels: Bug :beetle:

#8546 Add doc for Linux ZFS setup
  doc/Extensions/Applications.md
Labels: Documentation :book:

#8545 Move AD user and group filter functions into ActiveDirectoryAuthorizer
  LibreNMS/Authentication/ADAuthorizationAuthorizer.php
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
  includes/common.php
Labels: Refactor

#8543 AeroHive Wireless added AP130.
  includes/polling/os/hiveos-wireless.inc.php
  tests/data/hiveos-wireless_ap130.json
  tests/snmpsim/hiveos-wireless_ap130.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#8536 device: Updated buffalo OS detection
  includes/definitions/buffalo.yaml
  tests/snmpsim/buffalo_ts3410r.snmprec
  tests/snmpsim/buffalo_ts5410r.snmprec
Labels: Device :desktop_computer:

#8542 device: Added support for Dahua NVR
  html/images/logos/dahua.png
  html/images/os/dahua.png
  includes/definitions/dahua-nvr.yaml
  tests/data/dahua-nvr.json
  tests/snmpsim/dahua-nvr.snmprec
Labels: Device :desktop_computer:

#8527 Refactor database and config init
  LibreNMS/Config.php
  LibreNMS/IRCBot.php
  LibreNMS/Validations/Database.php
  build-base.php
  html/index.php
  html/install.php
  includes/dbFacile.php
  includes/functions.php
  includes/init.php
  includes/sql-schema/update.php
  scripts/build-schema.php
  tests/DBSetupTest.php
  tests/DBTestCase.php
  tests/bootstrap.php
  validate.php
Labels: Refactor

#8551 device: Updated cyberpower sensors and os support
  LibreNMS/Device/YamlDiscovery.php
  includes/definitions/discovery/cyberpower.yaml
  includes/polling/os/cyberpower.inc.php
  mibs/cyberpower/CPS-MIB
  tests/data/cyberpower.json
  tests/snmpsim/cyberpower.snmprec
Labels: Device :desktop_computer:

#8512 refactor: Use snmp.version config option to allow users to set versions available
  doc/Support/Configuration.md
  includes/defaults.inc.php
  includes/functions.php
Labels: Refactor

#8548 Device: Add add mempols and cpu for ArubaOS controllers
  includes/definitions/discovery/arubaos.yaml
  includes/discovery/mempools/arubaos.inc.php
  includes/polling/mempools/arubaos.inc.php
  tests/data/arubaos_aruba7210.json
  tests/snmpsim/arubaos_aruba7210.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#8550 fix: Use email_user variable as from name for emails if available
  includes/functions.php
Labels: Alerting :bell:

#8533 Refactor: Exclude modules from json test data when empty
  LibreNMS/Util/ModuleTestHelper.php
Labels: Refactor

#8437 Added Prometheus PushGateway support
  check-services.php
  doc/Extensions/Metric-Storage.md
  doc/Extensions/Prometheus.md
  doc/Extensions/metrics/Prometheus.md
  includes/datastore.inc.php
  includes/defaults.inc.php
  includes/init.php
  includes/polling/ports.inc.php
  includes/prometheus.inc.php
  mkdocs.yml
  poller.php
Labels: Needs Testing

#8427 fix: Apply divisor / multiplier to high/low limits in sensors
  doc/Developing/os/Health-Information.md
  includes/definitions/discovery/awplus.yaml
  includes/definitions/discovery/hpe-ipdu.yaml
  includes/discovery/functions.inc.php
  tests/data/airos.json
  tests/data/awplus.json
  tests/data/routeros.json
Labels: Bug :beetle:

#8532 refactor: Allow _perc and _current columns to be string for alert rules
  LibreNMS/Alerting/QueryBuilderFilter.php
Labels: Alerting :bell:, Refactor

#8558 ict-pdu os: Fixed polling for state sensor.
  includes/polling/sensors/state/ict-pdu.inc.php
  tests/data/ict-pdu.json
  tests/snmpsim/ict-pdu.snmprec
Labels: Device :desktop_computer:

#8541 devices: ibm-dpi os discovery
  includes/definitions/dpi.yaml
  includes/polling/os/dpi.inc.php
  tests/data/dpi.json
  tests/snmpsim/dpi.snmprec
Labels: Device :desktop_computer:

#8596 doc: Remove clause of CLA
  doc/Developing/Licensing.md
Labels: Documentation :book:

#8598 doc: Updated github issues links to community site
  doc/Support/index.md
  html/pages/about.inc.php
  includes/defaults.inc.php
Labels: Documentation :book:

#8593 newdevice: Add support for HWG Poseidon 4002
  includes/definitions/discovery/hwg-poseidon.yaml
  includes/definitions/hwg-poseidon.yaml
  mibs/hwg/POSEIDON-MIB
  tests/data/hwg-poseidon.json
  tests/snmpsim/hwg-poseidon.snmprec
Labels: Device :desktop_computer:

#8597 refactor: Update include files for disco/poller to be dynamic
  includes/discovery/entity-physical.inc.php
  includes/discovery/ntp.inc.php
  includes/discovery/vlans.inc.php
  includes/polling/entity-physical.inc.php
  includes/polling/netstats.inc.php
  includes/polling/ntp.inc.php
Labels: Refactor

#8616 Added a third graph to unbound with more metrics
  html/includes/graphs/application/unbound_operations.inc.php
  html/pages/apps.inc.php
  html/pages/device/apps/unbound.inc.php
  includes/polling/applications/unbound.inc.php
Labels: applications :floppy_disk:

#8618 docs: Updated CentOS 7 install docs to use php72w-mysqlnd
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
Labels: Documentation :book:

#8433 alert: Added ability to make notes for acking alerts + record who did so
  html/includes/common/alerts.inc.php
  html/includes/forms/ack-alert.inc.php
  html/includes/forms/alert-notes.inc.php
  html/includes/forms/alert-rules.inc.php
  html/includes/modal/alert_notes.inc.php
  html/includes/modal/alert_template.inc.php
  html/includes/table/alerts.inc.php
  html/pages/alerts.inc.php
  html/pages/front/tiles.php
  includes/alerts.inc.php
  misc/db_schema.yaml
  sql-schema/248.sql
Labels: Alerting :bell:, Schema

#8604 fix: Added indexes to two routeros temp sensors
  includes/definitions/discovery/routeros.yaml
Labels: Bug :beetle:

#8570 Added Dahua NVR processor and sensors
  includes/definitions/discovery/dahua-nvr.yaml
  includes/polling/os/dahua-nvr.inc.php
  mibs/dahua/DAHUA-SNMP-MIB
  tests/data/dahua-nvr.json
  tests/snmpsim/dahua-nvr.snmprec
Labels: Device :desktop_computer:

#8574 device: Added detection for Corero CMS devices
  html/images/logos/corero.png
  html/images/os/corero.png
  includes/definitions/cms.yaml
  mibs/corero/CORERO-CMS-MIB
  mibs/corero/CORERO-MIB
  tests/data/cms.json
  tests/snmpsim/cms.snmprec
Labels: Device :desktop_computer:

#8576 device: Added detection for Red Lion Sixnet devices
  html/images/logos/sixnet.png
  html/images/os/sixnet.png
  includes/definitions/discovery/sixnet.yaml
  includes/definitions/sixnet.yaml
  includes/polling/os/sixnet.inc.php
  mibs/redlion/SIXNET-MIB
  tests/data/sixnet.json
  tests/snmpsim/sixnet.snmprec
Labels: Device :desktop_computer:

#8572 refactor: Updated the oxidized script
  scripts/syslog-notify-oxidized.php
Labels: Refactor

#8621 Fix alerting
  misc/db_schema.yaml
  sql-schema/249.sql
Labels: Alerting :bell:, Bug :beetle:, Schema

#8625 Fix port_usage_perc macro
  misc/alert_rules.json
  misc/macros.json
Labels: Alerting :bell:, Bug :beetle:

#8620 Always update the alert note when acknowledging
  html/includes/forms/ack-alert.inc.php
Labels: Alerting :bell:, WebUI

#8522 update docs to reflect SMART monitoring having the ability to use either device name or disk serial number
  doc/Extensions/Applications.md
Labels: Documentation :book:

#8636 docs: Changelog for 1.39 Apr 2018
  doc/General/Changelog.md
Labels: Documentation :book:

#8634 Detect HPE iLO 5
  includes/definitions/hpe-ilo.yaml
  tests/snmpsim/hpe-ilo_5.snmprec
Labels: Device :desktop_computer:

#8641 Add good_if to boss
  includes/definitions/boss.yaml
Labels: Bug :beetle:

#8581 Added new raritan logo
  html/images/logos/raritan.svg
  html/images/os/raritan.png
  html/images/os/raritan.svg
Labels: WebUI
