Repository librenms/librenms, pull requests merged in 2018-12, with the labels that each got.

#9510 Added changelog for 1.46 release
  doc/General/Changelog.md
Labels: Ignore changelog :mute:

#9517 Update cucs mib to fix warnings
  mibs/cisco/CISCO-UNIFIED-COMPUTING-TC-MIB
Labels: Ignore changelog :mute:

#9518 Add HPE Comware temp limit
  includes/discovery/sensors/temperature/comware.inc.php
  tests/snmpsim/comware_hpe5900.snmprec
Labels: Device :desktop_computer:

#9491 Comtrol
  html/images/os/comtrol.png
  includes/definitions/comtrol.yaml
  mibs/comtrol/ES8510-MIB
  tests/data/comtrol.json
  tests/snmpsim/comtrol.snmprec
Labels: Device :desktop_computer:

#9503 Focus and select location on override
  html/pages/device/edit/device.inc.php
Labels: WebUI

#9450 SAF CFM wireless device support
  LibreNMS/Device/Sensor.php
  LibreNMS/OS/SafCfm.php
  includes/definitions/discovery/saf-cfm.yaml
  includes/definitions/saf-cfm.yaml
  includes/discovery/entity-physical/entity-physical.inc.php
  mibs/saf/SAF-MPMUX-MIB
  tests/data/saf-cfm.json
  tests/snmpsim/saf-cfm.snmprec
Labels: Device :desktop_computer:, User-Pending

#9507 GitHub test script updates
  scripts/github-apply
  scripts/github-remove
Labels: Ignore changelog :mute:

#9525 Updated harmony OS poller to use multi get
  includes/polling/os/harmony-enhanced.inc.php
Labels: Ignore changelog :mute:

#9527 docs: fix images doc
  doc/Installation/Images.md
Labels: Documentation :book:

#9523 fix error when location is missing from the DB
  html/includes/dev-overview-data.inc.php
Labels: Bug :beetle:, WebUI

#9530 Bug: Typo in YamlDiscovery.php
  LibreNMS/Device/YamlDiscovery.php
Labels: Bug :beetle:

#9529 Fixed alert log showing only green instead of all by default
  html/pages/alert-log.inc.php
Labels: Bug :beetle:, WebUI

#9492 Change snmp-scan heading
  doc/Extensions/Auto-Discovery.md
Labels: Documentation :book:, Ignore changelog :mute:

#9489 Marathon UPS
  html/images/os/marathonups.png
  includes/definitions/marathonups.yaml
  mibs/SYNSO-UPSMIB
  tests/data/marathonups.json
  tests/snmpsim/marathonups.snmprec
Labels: Device :desktop_computer:

#9524 Device management link fallback to http if https isn't available.
  html/includes/table/devices.inc.php
  html/js/librenms.js
  html/legacy_index.php
  html/pages/device.inc.php
  resources/views/layouts/librenmsv1.blade.php
Labels: Feature, WebUI

#9498 Fix plugins using d_echo
  LibreNMS/Plugins.php
  composer.json
  includes/common.php
  includes/helpers.php
Labels: Bug :beetle:

#9533 feature: Added HTML tag support for msteams transport
  LibreNMS/Alert/Transport/Msteams.php
Labels: Alerting :bell:

#9519 Pushover fix sounds
  LibreNMS/Alert/Transport/Pushover.php
  html/includes/modal/edit_alert_transport.inc.php
Labels: Bug :beetle:

#9531 feature: Macros for xDP neighbours alert rules
  doc/Alerting/Macros.md
  misc/macros.json
Labels: Alerting :bell:

#9505 Mapquest layers for location editors
  html/js/librenms.js
Labels: WebUI

#9392 Ceraos more sensors
  LibreNMS/Device/WirelessSensor.php
  LibreNMS/Interfaces/Discovery/Sensors/WirelessXpiDiscovery.php
  LibreNMS/Interfaces/Polling/Sensors/WirelessXpiPolling.php
  LibreNMS/OS/Ceraos.php
  doc/Developing/os/Wireless-Sensors.md
  includes/definitions/ceraos.yaml
  includes/definitions/discovery/ceraos.yaml
  includes/discovery/sensors/temperature/ceraos.inc.php
  tests/data/ceraos.json
  tests/data/helios.json
  tests/snmpsim/ceraos.snmprec
  tests/snmpsim/helios.snmprec
Labels: Device :desktop_computer:

#9469 Add support for Eltek Smartpack S
  includes/definitions/discovery/enexus.yaml
  includes/definitions/enexus.yaml
  includes/polling/os/enexus.inc.php
  tests/data/enexus_smartpacks.json
  tests/data/enexus_smartpacks2.json
  tests/snmpsim/enexus_smartpacks.snmprec
  tests/snmpsim/enexus_smartpacks2.snmprec
Labels: Device :desktop_computer:

#9526 Manual location coordinate editing
  resources/views/locations.blade.php
Labels: Feature, WebUI

#9520 Added Fortigate state sensors
  includes/definitions/discovery/fortigate.yaml
  includes/definitions/fortigate.yaml
  includes/polling/ports.inc.php
  tests/data/fortigate.json
  tests/snmpsim/fortigate.snmprec
Labels: Device :desktop_computer:

#9511 Correct sound for pushover.net
  doc/Alerting/Transports.md
Labels: Documentation :book:

#9483 Add Device Trango Apex-Plus
  LibreNMS/OS/ApexPlus.php
  includes/definitions/apex-plus.yaml
  includes/polling/os/apex-plus.inc.php
  tests/data/apex-plus.json
  tests/snmpsim/apex-plus.snmprec
Labels: Device :desktop_computer:

#9546 Improve hardware/platform naming for Juniper devices
  includes/polling/os/junos.inc.php
  includes/rewrites.php
  mibs/junos/mib-jnx-chas-defines.txt
Labels: Device :desktop_computer:

#9536 Fixed openstreetmap support in device not using custom tiles
  html/includes/dev-overview-data.inc.php
  html/js/librenms.js
  html/legacy_index.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/locations.blade.php
Labels: Bug :beetle:, WebUI

#9553 Fix snmp-collect-data.php
  LibreNMS/Util/ModuleTestHelper.php
Labels: Bug :beetle:, Ignore changelog :mute:

#9557 Widget fixes
  app/Http/Controllers/Widgets/AvailabilityMapController.php
  app/Http/Controllers/Widgets/GraphController.php
  resources/views/widgets/availability-map.blade.php
Labels: Bug :beetle:, WebUI

#9560 Fix error in error page
  resources/views/layouts/error.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:

#9559 More Widget fixes
  app/Http/Controllers/Widgets/AvailabilityMapController.php
  app/Http/Controllers/Widgets/TopInterfacesController.php
  app/Http/Controllers/Widgets/WorldMapController.php
  html/css/styles.css
  resources/views/widgets/availability-map.blade.php
  resources/views/widgets/settings/availability-map.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9561 Even more widget fixes/improvements
  app/Http/Controllers/Select/PortController.php
  app/Http/Controllers/Widgets/DeviceSummaryController.php
  app/Http/Controllers/Widgets/WidgetController.php
  html/pages/front/tiles.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9562 Add reference to check_service scripts response format.
  doc/Extensions/Services.md
Labels: Documentation :book:

#9565 Allow multiple worldmap widgets
  resources/views/widgets/worldmap.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9567 Order archived notifications in date DESC order
  html/pages/notifications.inc.php
Labels: WebUI

#9569 Added detection for Cisco SG550x-24
  includes/definitions/ciscosb.yaml
  tests/data/ciscosb_sg550x-24.json
  tests/snmpsim/ciscosb_sg550x-24.snmprec
Labels: Device :desktop_computer:

#9227 NAC Polling (Network Access Control)
  LibreNMS/Util/DiscoveryModelObserver.php
  LibreNMS/Util/ModuleTestHelper.php
  LibreNMS/Util/Rewrite.php
  app/Http/Controllers/Table/PortNacController.php
  app/Models/PortsNac.php
  html/pages/device.inc.php
  html/pages/device/nac.inc.php
  includes/defaults.inc.php
  includes/functions.php
  includes/polling/nac.inc.php
  mibs/cisco/CISCO-AUTH-FRAMEWORK-MIB
  mibs/cisco/CISCO-NAC-TC-MIB
  misc/db_schema.yaml
  routes/web.php
  sql-schema/274.sql
  tests/data/ios_nac.json
  tests/module_tables.yaml
  tests/snmpsim/ios_nac.snmprec
Labels: Feature, Polling, Schema

#9550 webui: translate state in health/state display
  html/includes/functions.inc.php
  html/includes/table/sensors-common.php
  html/pages/device/health/sensors.inc.php
Labels: WebUI

#9572 TopDevices widget respect limit
  app/Http/Controllers/Widgets/TopDevicesController.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9509 Nokia vrf
  includes/discovery/vrf.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/timos.inc.php
  mibs/nokia/TIMETRA-CHASSIS-MIB
  mibs/nokia/TIMETRA-FILTER-MIB
  mibs/nokia/TIMETRA-TC-MIB
  mibs/nokia/TIMETRA-VRTR-MIB
  tests/data/ios_6500.json
  tests/data/timos.json
  tests/module_tables.yaml
  tests/snmpsim/timos.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#9574 Fix for snmp query timeout after 60s
  includes/common.php
Labels: Bug :beetle:

#9436 Added SNMP Trap Handlers for Adva Ethernet devices
  LibreNMS/Snmptrap/Handlers/AdvaAttributeChange.php
  LibreNMS/Snmptrap/Handlers/AdvaNetworkElementAlmTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaObjectCreation.php
  LibreNMS/Snmptrap/Handlers/AdvaObjectDeletion.php
  LibreNMS/Snmptrap/Handlers/AdvaSnmpDyingGaspTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaStateChangeTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaSysAlmTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaThresholdCrossingAlert.php
  config/snmptraps.php
Labels: Enhancement, User-Pending

#9583 Widget fixes 4
  html/js/librenms.js
  html/legacy_index.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/widgets/globe.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9544 Added automatic generation of the list of available transports (alerting)
  doc/Alerting/Creating-Transport.md
  html/includes/modal/edit_alert_transport.inc.php
Labels: Alerting :bell:, User-Pending, WebUI

#9591 Correction in sensor yaml docs
  doc/Developing/os/Health-Information.md
Labels: Documentation :book:

#9547 Add support for Eaton Matrix Telecom Inverters
  includes/definitions/discovery/eaton-matrix.yaml
  includes/definitions/eaton-matrix.yaml
  includes/polling/os/eaton-matrix.inc.php
  mibs/eaton/TELECOM-MIB
  tests/data/eaton-matrix.json
  tests/snmpsim/eaton-matrix.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#9597 allow pre-commit.php to work without changes
  scripts/pre-commit.php
Labels: Ignore changelog :mute:

#9563 AirFiber additional modulation rates, fix gpsSync
  includes/definitions/discovery/airos-af.yaml
  includes/discovery/functions.inc.php
  includes/discovery/sensors/state/airos-af.inc.php
  includes/discovery/sensors/temperature/airos-af.inc.php
  tests/data/airos-af.json
  tests/snmpsim/airos-af.snmprec
Labels: Device :desktop_computer:

#9598 Fix customers page to only show customer type ports
  app/Http/Controllers/Table/CustomersController.php
Labels: Bug :beetle:

#9601 Updated virtual images doc to use latest URL
  doc/Installation/Images.md
Labels: Ignore changelog :mute:

#9602 New OS: Suggest -d in discovery.php to clear cache
  doc/Developing/os/Initial-Detection.md
Labels: Documentation :book:
