Repository librenms/librenms, pull requests merged in 2018-09, with the labels that each got.

#9121 Update to add breaking-change label + fix users list formatting
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#9123 Email debug
  includes/functions.php
Labels: Ignore changelog :mute:

#9126 Fixed web installer to allow users to change db creds if we can't connect
  html/install.php
Labels: Bug :beetle:, WebUI

#9130 Fix edgeswitch temperatures
  includes/definitions/discovery/edgeswitch.yaml
  tests/data/edgeswitch.json
Labels: Bug :beetle:

#9133 Don't update ospf stats if there are none.
  includes/polling/ospf.inc.php
Labels: Bug :beetle:, Polling

#9132 Enable and catch exceptions for PHPMailer to gather error messages.
  includes/functions.php
Labels: Alerting :bell:, Refactor

#9115 Fixed Total Chassis Power sensor_index for SmartAX MA5603T/MA5683T
  includes/discovery/sensors/power/smartax.inc.php
  tests/data/smartax.json
  tests/snmpsim/smartax.snmprec
Labels: Bug :beetle:, Device :desktop_computer:

#9111 Improve error handling
  app/Exceptions/Handler.php
Labels: Refactor

#9081 device: Added support for EdgeCore ES3510MA
  LibreNMS/OS/Edgecos.php
  includes/definitions/edgecos.yaml
  includes/discovery/mempools/edgecos.inc.php
  includes/polling/os/edgecos.inc.php
  mibs/edgecos/ES3510MA-MIB
  tests/data/edgecos_es3510ma.json
  tests/snmpsim/edgecos_es3510ma.snmprec
Labels: Device :desktop_computer:

#9138 Fix edgeswitch numeric oids
  includes/definitions/discovery/edgeswitch.yaml
  tests/data/edgeswitch.json
Labels: Device :desktop_computer:

#9131 Disable test devices to block normal poller
  LibreNMS/Util/ModuleTestHelper.php
Labels: Ignore changelog :mute:

#9139 Do not try to fetch data again if previous attempts failed
  LibreNMS/Device/YamlDiscovery.php
Labels: Discovery

#9145 syntax error in documentation
  doc/Alerting/Old_Templates.md
  doc/Alerting/Templates.md
  doc/Extensions/Authentication.md
Labels: Documentation :book:

#9140 Modified timestamp sent to nagios-receiver in order to fix an issue w…
  LibreNMS/Alert/Transport/Nagios.php
Labels: Alerting :bell:, Bug :beetle:

#9148 Remove duplicate mib directories
  includes/snmp.inc.php
Labels: Refactor

#9016 Add Comware Power Usage
  includes/definitions/discovery/comware.yaml
  tests/data/comware_hpe5900.json
  tests/snmpsim/comware_hpe5900.snmprec
Labels: Device :desktop_computer:

#9036 Add support for Rancid GIT
  doc/Extensions/Rancid.md
  doc/Support/Configuration.md
  html/pages/device/showconfig.inc.php
  includes/defaults.inc.php
Labels: WebUI

#9143 Add OpenBSD Carp State Sensor
  includes/definitions/discovery/openbsd.yaml
  tests/data/openbsd.json
  tests/snmpsim/openbsd.snmprec
Labels: Device :desktop_computer:

#9129 WebUI: Oxidized Device List: Link to config and refreshDevice Btn
  html/includes/forms/refresh-oxidized-node.inc.php
  html/includes/functions.inc.php
  html/pages/oxidized.inc.php
  includes/functions.php
  scripts/syslog-notify-oxidized.php
Labels: Oxidized, WebUI

#9127 Added FAQ on where to update database credentials if they change
  doc/Support/FAQ.md
Labels: Documentation :book:

#9158 Fixed PeeringDB module
  html/includes/table/as-selection.inc.php
  html/pages/peering/ix-list.inc.php
  misc/db_schema.yaml
  sql-schema/264.sql
Labels: Bug :beetle:, WebUI

#9153 Squelch PBN processor warnings
  LibreNMS/Device/Processor.php
  LibreNMS/OS/Pbn.php
  includes/definitions/discovery/pbn.yaml
Labels: Ignore changelog :mute:

#9146 Add HPE iLO Version Polling
  includes/polling/os/hpe-ilo.inc.php
  tests/data/hpe-ilo.json
  tests/snmpsim/hpe-ilo.snmprec
Labels: Device :desktop_computer:

#9173 Fixed remove alert rule from template
  html/includes/forms/attach-alert-template.inc.php
Labels: Bug :beetle:

#9171 Sanitize data in dashboard add/edit/delete
  html/includes/forms/add-dashboard.inc.php
  html/includes/forms/delete-dashboard.inc.php
  html/includes/forms/edit-dashboard.inc.php
Labels: Security

#9163 WebGUI Oxidized - Add author+message + refresh button
  html/js/librenms.js
  html/pages/device/showconfig.inc.php
  html/pages/oxidized.inc.php
Labels: WebUI

#9176 Fix Travis
  .travis.yml
Labels: Ignore changelog :mute:

#9162 fix: edgeswitch fans
  includes/definitions/discovery/edgeswitch.yaml
  tests/data/edgeswitch.json
  tests/data/edgeswitch_es-24-250w.json
  tests/snmpsim/edgeswitch_es-24-250w.snmprec
Labels: Device :desktop_computer:

#9150 Fix ES3510MA os info
  includes/polling/os/edgecos.inc.php
Labels: Device :desktop_computer:

#9169 device: Initial support for CXR-Networks Terminal Server
  html/images/os/cxr-networks.png
  includes/definitions/cxr-ts.yaml
  includes/definitions/discovery/cxr-ts.yaml
  includes/polling/os/cxr-ts.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/cxr-ts.inc.php
  mibs/cxr-networks/CXR-TS-MIB
  tests/data/cxr-ts.json
  tests/snmpsim/cxr-ts.snmprec
Labels: Device :desktop_computer:, User-Pending

#9165 Added BGP Peer Descriptions
  html/includes/forms/routing-update.inc.php
  html/includes/table/routing-edit.inc.php
  html/pages/device/edit.inc.php
  html/pages/device/edit/routing.inc.php
  html/pages/device/routing/bgp.inc.php
  html/pages/routing/bgp.inc.php
  misc/db_schema.yaml
  sql-schema/266.sql
  tests/data/arista_eos.json
  tests/data/comware.json
  tests/data/ios_3560g.json
  tests/data/iosxe.json
  tests/data/iosxr.json
  tests/data/junos_ex.json
  tests/data/junos_mx.json
Labels: WebUI

#8888 Feature: Collect VRP Entity details in the Huawei MIB
  LibreNMS/Device/Processor.php
  includes/discovery/entity-physical/entity-physical.inc.php
  includes/discovery/functions.inc.php
  tests/data/vrp_5720_vrf.json
  tests/data/vrp_ce12804-entity.json
  tests/snmpsim/vrp_5720_vrf.snmprec
  tests/snmpsim/vrp_ce12804-entity.snmprec
Labels: Device :desktop_computer:, User-Pending

#9185 Fix API auth issues
  LibreNMS/Authentication/LdapAuthorizer.php
  LibreNMS/Util/Laravel.php
  app/Providers/LegacyUserProvider.php
  app/Providers/TokenUserProvider.php
  html/pages/api-access.inc.php
  includes/functions.php
Labels: API, Bug :beetle:

#9186 Init and refresh the php session each page load
  LibreNMS/Authentication/LegacyAuth.php
  app/Http/Kernel.php
  app/Http/Middleware/LegacySession.php
  app/Listeners/AuthEventListener.php
Labels: Bug :beetle:, WebUI

#9190 Fix auth user level not updated
  app/Providers/LegacyUserProvider.php
Labels: Bug :beetle:, WebUI

#9189 Fix error in logout
  app/Listeners/AuthEventListener.php
Labels: Bug :beetle:, WebUI

#9180 ignore dns errors when fetching astext
  includes/functions.php
Labels: Bug :beetle:

#9192 Fix up ldap-authorizer, create non-existent users
  LibreNMS/Authentication/LdapAuthorizationAuthorizer.php
  app/Http/Middleware/LegacyExternalAuth.php
  app/Listeners/AuthEventListener.php
Labels: Bug :beetle:, WebUI

#9195 Fix anonymous bind
  app/Providers/LegacyUserProvider.php
Labels: Bug :beetle:, WebUI

#9196 Allow trusted proxy via APP_TRUSTED_PROXIES
  LibreNMS/Util/Env.php
  app/Http/Kernel.php
  composer.json
  composer.lock
  config/app.php
  config/trustedproxy.php
  doc/General/Security.md
  doc/Support/Environment-Variables.md
  doc/Support/FAQ.md
  includes/defaults.inc.php
  mkdocs.yml
  tests/Unit/Util/EnvTest.php
Labels: Bug :beetle:, WebUI

#9201 Only run unit tests on 7.2
  .travis.yml
  scripts/pre-commit.php
Labels: Ignore changelog :mute:

#9197 More codeclimate tuning
  .codeclimate.yml
Labels: Ignore changelog :mute:

#9205 Add line break
  doc/Extensions/Applications.md
Labels: Documentation :book:

#9203 Fixed format for snmpd configuration step
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
Labels: Documentation :book:

#9206 change : with .
  doc/Extensions/Applications.md
Labels: Ignore changelog :mute:

#9208 Don't output non-fatal errors from legacy web pages.
  includes/functions.php
Labels: WebUI

#9202 Work around for annoying Components errors
  LibreNMS/Component.php
Labels: Ignore changelog :mute:

#9211 Remove api rate limits
  app/Http/Kernel.php
Labels: API, Bug :beetle:

#9217 Update github templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Ignore changelog :mute:

#9214 Speed up testing based on changed files
  .travis.yml
  scripts/pre-commit.php
Labels: Refactor

#9224 Fix install.php redirect
  app/Http/Kernel.php
  app/Http/Middleware/CheckInstalled.php
  html/legacy_index.php
Labels: Bug :beetle:, WebUI

#9218 validate.php: Updated file permissions check
  LibreNMS/Validations/User.php
  logs/.gitignore
  rrd/.gitignore
Labels: Feature

#9213 Fixed PagerDuty alert to show rule name + device as summary
  LibreNMS/Alert/Transport/Pagerduty.php
Labels: Alerting :bell:, Bug :beetle:

#9094 Added ability to set a custom SQL query for alert rules.
  LibreNMS/Alerting/QueryBuilderParser.php
  doc/API/Alerts.md
  doc/Alerting/Rules.md
  doc/Alerting/Templates.md
  html/includes/api_functions.inc.php
  html/includes/forms/alert-rules.inc.php
  html/includes/forms/parse-alert-rule.inc.php
  html/includes/modal/new_alert_rule.inc.php
  html/includes/output/query.inc.php
  html/includes/print-alert-rules.php
Labels: Alerting :bell:

#9237 [ubuntu 18 - apache install docs edit]Add universe repo
  doc/Installation/Installation-Ubuntu-1804-Apache.md
Labels: Documentation :book:

#9238 [ubuntu 18 - nginx install docs edit] Add universe repo
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
Labels: Documentation :book:

#9233 Fix remember me
  app/Http/Kernel.php
Labels: Bug :beetle:, WebUI

#9235 Run all tests in os group when testing specific OS
  scripts/pre-commit.php
  tests/YamlTest.php
Labels: Ignore changelog :mute:

#9136 Add support for allowing alerts to un-ack
  doc/API/Alerts.md
  doc/Alerting/Introduction.md
  doc/Alerting/img/ack.png
  doc/Alerting/img/notes.png
  doc/Alerting/img/nunack.png
  doc/Alerting/img/unack.png
  doc/Alerting/index.md
  html/includes/api_functions.inc.php
  html/includes/common/alerts.inc.php
  html/includes/forms/ack-alert.inc.php
  html/includes/modal/alert_ack.inc.php
  html/includes/table/alerts.inc.php
  html/pages/alerts.inc.php
  html/pages/device/alerts.inc.php
  html/pages/front/tiles.php
  html/pages/settings/alerting.inc.php
  includes/alerts.inc.php
  misc/db_schema.yaml
  mkdocs.yml
  sql-schema/268.sql
Labels: Alerting :bell:, Schema, WebUI

#9212 Disable used rules in template map for select them
  html/includes/forms/attach-alert-template.inc.php
  html/includes/modal/attach_alert_template.inc.php
Labels: Bug :beetle:, WebUI

#9229 Move ext-mysqlnd to suggested for now (even though it is actually required)
  composer.json
  composer.lock
  scripts/pre-commit.php
Labels: Ignore changelog :mute:

#9236 Fixed edit dashboard permissions + moved to toastr
  html/ajax_dash.php
  html/includes/forms/add-dashboard.inc.php
  html/includes/forms/delete-dashboard.inc.php
  html/includes/forms/edit-dashboard.inc.php
  html/includes/forms/update-dashboard-config.inc.php
  html/includes/forms/widget-settings.inc.php
  html/pages/front/tiles.php
Labels: Bug :beetle:, WebUI

#9228 Update syslog display and backend
  LibreNMS/Util/Url.php
  app/Http/Controllers/PaginatedAjaxController.php
  app/Http/Controllers/ResolutionController.php
  app/Http/Controllers/Select/DeviceController.php
  app/Http/Controllers/Select/SelectController.php
  app/Http/Controllers/Select/SyslogController.php
  app/Http/Controllers/Table/SyslogController.php
  app/Http/Controllers/Table/TableController.php
  app/Models/Device.php
  app/Models/Syslog.php
  database/factories/ModelFactory.php
  html/includes/common/syslog.inc.php
  html/includes/table/syslog.inc.php
  html/legacy_index.php
  html/pages/syslog.inc.php
  resources/views/layouts/librenmsv1.blade.php
  routes/web.php
Labels: WebUI

#9241 Altered EXIM Download instruction
  doc/Extensions/Applications.md
Labels: Documentation :book:

#9246 Syslog fixes
  app/Http/Controllers/Table/SyslogController.php
  html/css/select2-bootstrap.min.css
Labels: Bug :beetle:, WebUI

#9249 Config class collides with Config in model namespace
  app/Models/Device.php
Labels: Bug :beetle:, Polling

#9251 Re-enable unit tests for PHP 5.6
  .travis.yml
Labels: Ignore changelog :mute:

#9253 Improved ASUSWRT-Merlin Icon
  html/images/os/asuswrt-merlin.png
Labels: Ignore changelog :mute:

#9255 List files for new permission check.
  LibreNMS/Validations/User.php
Labels: Refactor

#9252 Eventlog WebUI/backend update
  LibreNMS/Util/Rewrite.php
  LibreNMS/Util/Url.php
  app/Http/Controllers/Select/EventlogController.php
  app/Http/Controllers/Table/EventlogController.php
  app/Models/Device.php
  app/Models/Eventlog.php
  app/Models/Port.php
  app/Models/Sensor.php
  app/Providers/AppServiceProvider.php
  html/includes/common/eventlog.inc.php
  html/pages/eventlog.inc.php
  includes/rewrites.php
  routes/web.php
Labels: Refactor, WebUI
