Repository librenms/librenms, pull requests merged in 2018-06, with the labels that each got.

#8807 Fix storing metrics for SMART
  includes/polling/applications/smart.inc.php
Labels: Bug :beetle:

#8806 Device: Adding sensors to omnitron iconverter
  includes/definitions/discovery/omnitron-iconverter.yaml
  includes/definitions/omnitron-iconverter.yaml
  includes/polling/os/omnitron-iconverter.inc.php
  mibs/omnitron/OMNITRON-MIB
  mibs/omnitron/OMNITRON-POE-MIB
  mibs/omnitron/OMNITRON-TC-MIB
  tests/data/omnitron-iconverter.json
  tests/snmpsim/omnitron-iconverter.snmprec
Labels: Device :desktop_computer:

#8815 Added Juniper SRX Branch Session Graphing
  html/includes/graphs/device/junos_jsrx_spu_sessions.inc.php
  includes/definitions.inc.php
  includes/polling/os/junos.inc.php
  mibs/junos/JUNIPER-SRX5000-SPU-MONITORING-MIB
  sql-schema/252.sql
  tests/data/junos_srx340.json
  tests/snmpsim/junos_srx340.snmprec
Labels: Device :desktop_computer:

#8799 WebUI: Change VRFs page to group together by RD and vrf_name
  html/pages/routing/vrf.inc.php
Labels: Bug :beetle:, WebUI

#8725 Clean up old cambium code / migrate more data to wireless sensors
  LibreNMS/OS/Pmp.php
  includes/definitions.inc.php
  includes/discovery/sensors/temperature/cambium.inc.php
  includes/discovery/sensors/temperature/canopy.inc.php
  includes/polling/os/cambium.inc.php
  includes/polling/os/canopy.inc.php
  includes/polling/os/pmp.inc.php
  tests/data/pmp_450.json
  tests/data/pmp_450m.json
  tests/snmpsim/pmp_450.snmprec
  tests/snmpsim/pmp_450m.snmprec
Labels: Device :desktop_computer:

#8773 EfficientIP SOLIDserver Detections
  html/images/os/eip.png
  includes/definitions/solidserver.yaml
  includes/polling/os/solidserver.inc.php
  mibs/efficientip/EIP-DNSBLAST-MIB
  mibs/efficientip/EIP-MON-MIB
  mibs/efficientip/EIP-STATS-MIB
  tests/data/solidserver.json
  tests/snmpsim/solidserver.snmprec
Labels: Device :desktop_computer:

#8811 Ability to enable debug output with wrappers
  discovery-wrapper.py
  doc/Extensions/Services.md
  doc/Support/Discovery Support.md
  doc/Support/Poller Support.md
  poller-wrapper.py
  services-wrapper.py
Labels: Feature

#8749 Improved support for DNOS/FTOS M-Series
  includes/discovery/mempools/dnos-ftos.inc.php
  includes/discovery/sensors/temperature/dnos.inc.php
  includes/polling/mempools/dnos.inc.php
  mibs/dell/DELL-NETWORKING-CHASSIS-MIB
  mibs/dell/DELL-NETWORKING-SMI
  mibs/dell/DELL-NETWORKING-TC
  tests/data/dnos.json
  tests/snmpsim/dnos.snmprec
Labels: Device :desktop_computer:

#8822 HPE ILO power fix
  includes/definitions/discovery/hpe-ilo.yaml
Labels: Bug :beetle:, Device :desktop_computer:

#8825 Added detection for Netscaler SD-WAN devices
  includes/definitions/netscaler-sdwan.yaml
  tests/data/netscaler-sdwan.json
  tests/snmpsim/netscaler-sdwan.snmprec
Labels: Device :desktop_computer:

#8830 Ability to enable debug output with wrappers
  discovery-wrapper.py
  doc/Extensions/Services.md
  doc/Support/Discovery Support.md
  doc/Support/Poller Support.md
  poller-wrapper.py
  services-wrapper.py
Labels: Feature

#8838 Change _POST to vars to get params by URL on FDB search.
  html/pages/search/fdb.inc.php
Labels: WebUI

#8836 Fixed incorrect divisor for #8746
  includes/discovery/sensors/current/procurve.inc.php
Labels: Bug :beetle:

#8833 Disable autocomplete on SNMPv3 settings
  html/pages/addhost.inc.php
  html/pages/device/edit/snmp.inc.php
Labels: Security, WebUI

#8840 Added SNR Sensor to CMTS Arris
  includes/definitions/cmts.yaml
  includes/discovery/sensors/pre-cache/cmts.inc.php
  includes/discovery/sensors/snr/cmts.inc.php
  tests/data/cmts.json
  tests/snmpsim/cmts.snmprec
Labels: Device :desktop_computer:

#8810 Allow the hostname to resolve to the sysName, ie Dynamic DNS
  doc/Support/Configuration.md
  includes/common.php
  includes/defaults.inc.php
Labels: WebUI

#8643 Added support for graphing pf related stats for pfsense devices
  html/includes/graphs/device/pf_badoffset.inc.php
  html/includes/graphs/device/pf_fragmented.inc.php
  html/includes/graphs/device/pf_memdropped.inc.php
  html/includes/graphs/device/pf_normalized.inc.php
  html/includes/graphs/device/pf_short.inc.php
  includes/definitions.inc.php
  includes/polling/os/pfsense.inc.php
  mibs/pfsense/BEGEMOT-ATM
  mibs/pfsense/BEGEMOT-ATM-FREEBSD-MIB
  mibs/pfsense/BEGEMOT-BRIDGE-MIB
  mibs/pfsense/BEGEMOT-HAST-MIB
  mibs/pfsense/BEGEMOT-HOSTRES-MIB
  mibs/pfsense/BEGEMOT-IP-MIB
  mibs/pfsense/BEGEMOT-MIB
  mibs/pfsense/BEGEMOT-MIB2-MIB
  mibs/pfsense/BEGEMOT-NETGRAPH
  mibs/pfsense/BEGEMOT-PF-MIB
  mibs/pfsense/BEGEMOT-SNMPD
  mibs/pfsense/BEGEMOT-WIRELESS-MIB
  mibs/pfsense/FOKUS-MIB
  mibs/pfsense/FREEBSD-MIB
Labels: Device :desktop_computer:

#8844 Revised Pushover title and severity level
  LibreNMS/Alert/Transport/Pushover.php
Labels: Alerting :bell:

#8847 sanitize oxidized geshi html output
  html/pages/device/showconfig.inc.php
Labels: Bug :beetle:, WebUI

#8848 Only list polling as overdue when it is 20% over the rrd_step value.
  LibreNMS/Validations/Poller.php
  html/includes/table/poll-log.inc.php
Labels: Bug :beetle:

#8455 New python service
  .gitignore
  LibreNMS/ComposerHelper.php
  LibreNMS/Config.php
  LibreNMS/Validations/Poller.php
  LibreNMS/__init__.py
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  config_to_json.php
  discovery.php
  doc/Extensions/Poller-Service.md
  html/includes/forms/delete-cluster-poller.inc.php
  html/includes/modal/delete_poller.inc.php
  html/pages/pollers/pollers.inc.php
  includes/alerts.inc.php
  includes/discovery/functions.inc.php
  includes/polling/functions.inc.php
  librenms-service.py
  misc/db_schema.yaml
  misc/librenms.service
  misc/librenms.service.scl
  poller.php
  requirements.txt
  scripts/librenms-poller-service.conf
  scripts/librenms-poller-service.init
  sql-schema/253.sql
  tests/__init__.py
  tests/tests.py
Labels: Feature
