Repository librenms/librenms, pull requests merged in 2019-07, with the labels that each got.

#10397 More changelog generation changes
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10393 Add support for Extreme VSP-7432CQ
  includes/definitions/voss.yaml
  includes/definitions/xos.yaml
  tests/data/voss_7432cq.json
  tests/snmpsim/voss_7432cq.snmprec
Labels: Device :desktop_computer:

#10390 Added panasonic ns1000 os
  html/images/os/panasonic.png
  includes/definitions/panasonic-ns.yaml
  includes/polling/os/panasonic-ns.inc.php
  mibs/panasonic/KX-NS.mib
  tests/data/panasonic-ns.json
  tests/snmpsim/panasonic-ns.snmprec
Labels: Device :desktop_computer:

#10401 Fix tabs and units on the wireless page
  includes/html/functions.inc.php
  includes/html/pages/wireless.inc.php
  includes/html/table/sensors-common.php
  includes/html/table/sensors.inc.php
  includes/html/table/wireless-sensors.inc.php
Labels: Bug :beetle:, WebUI

#10394 Update Portactivity Applications.md
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10404 Split 2017 and 2018 changelogs
  doc/General/Changelog.md
  doc/General/Changelogs/2017.md
  doc/General/Changelogs/2018.md
Labels: Documentation :book:

#10384 Added VPN sensors for Fortinet Fortigate
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate_100e.json
  tests/snmpsim/fortigate_100e.snmprec
Labels: Device :desktop_computer:

#10369 Ignore disabled components in component widget
  app/Http/Controllers/Widgets/ComponentStatusController.php
Labels: WebUI

#10405 Avoid unnecessary net-snmp long options for version info
  includes/common.php
Labels: Refactor

#10407 Update Smokeping.md
  doc/Extensions/Smokeping.md
Labels: Documentation :book:

#10372 Replace color indicator near uptime counter with colored text and change color of status indicator to black on disabled devices instead of gray (matches availablity map with show ignored/disabled enabled)
  app/Http/Controllers/Table/DeviceController.php
  app/Models/Device.php
  includes/html/pages/device.inc.php
  includes/html/pages/devices.inc.php
Labels: WebUI

#10070 Refactor Api transport to use Guzzle (and new variables syntax)
  LibreNMS/Alert/Transport/Api.php
  doc/Alerting/Transports.md
  includes/html/modal/edit_alert_transport.inc.php
  includes/html/print-alert-transports.php
Labels: Alerting :bell:, Breaking-Change, Refactor

#10344 Added detection for ZTE zxdsl devices
  includes/definitions/zxdsl.yaml
  includes/discovery/sensors/temperature/zxdsl.inc.php
  includes/polling/os/zxdsl.inc.php
  tests/data/zxdsl.json
  tests/snmpsim/zxdsl.snmprec
Labels: Device :desktop_computer:

#10367 docs: make Applications.md more lint happy and add a section on sudo at the top
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10334 Set Service Ignore and Disabled in UI
  check-services.php
  includes/html/forms/create-service.inc.php
  includes/html/forms/parse-service.inc.php
  includes/html/modal/new_service.inc.php
  includes/services.inc.php
Labels: Needs Testing, Service, WebUI

#10420 Typo in Spelling prevented new services from being added.
  includes/services.inc.php
Labels: Bug :beetle:

#10415 Smoking outgoing graphs fix
  includes/html/graphs/smokeping/in.inc.php
  includes/html/graphs/smokeping/out.inc.php
  includes/html/pages/device/latency.inc.php
Labels: Bug :beetle:, WebUI

#10419 Added skip_values operator and documentation
  doc/Developing/os/Health-Information.md
  includes/functions.php
  misc/discovery_schema.json
  misc/os_schema.json
Labels: Discovery, Documentation :book:

#10430 mdadm application documentation
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10406 Updating RAPID-CITY mib for Extreme VSP
  includes/definitions/discovery/voss.yaml
  includes/discovery/sensors/state/voss.inc.php
  includes/discovery/sensors/temperature/voss.inc.php
  mibs/nortel/RAPID-CITY
  tests/data/voss_7432cq.json
  tests/data/voss_8404.json
  tests/data/voss_8608.json
  tests/data/voss_9012.json
  tests/snmpsim/voss_7432cq.snmprec
Labels: Device :desktop_computer:

#10434 Ensure that sysName is trimmed on discovery
  includes/discovery/core.inc.php
Labels: Discovery

#10431 API Transport - Empty lines handling
  LibreNMS/Alert/Transport/Api.php
Labels: Bug :beetle:, Ignore changelog :mute:

#10443 Fix missing background on progress-bar for 95th bills
  includes/html/pages/bill.inc.php
Labels: Billing :heavy_dollar_sign:

#10429 Fix structure of network_map_legend default
  includes/defaults.inc.php
Labels: Bug :beetle:, WebUI

#9883 Added F5 ssl tps, global server/client connection rate and active connections
  includes/definitions.inc.php
  includes/html/graphs/device/bigip_system_client_concurrent_connections.inc.php
  includes/html/graphs/device/bigip_system_client_connection_rate.inc.php
  includes/html/graphs/device/bigip_system_server_concurrent_connections.inc.php
  includes/html/graphs/device/bigip_system_server_connection_rate.inc.php
  includes/html/graphs/device/bigip_system_tps.inc.php
  includes/polling/os/f5.inc.php
Labels: Device :desktop_computer:, Graphs, WebUI

#10363 Added VRP SFPs thresholds and map entPhysical to ifIndexes
  includes/definitions/discovery/vrp.yaml
  includes/discovery/entity-physical/entity-physical.inc.php
  includes/discovery/functions.inc.php
Labels: Bug :beetle:, Device :desktop_computer:, Discovery

#10435 Added support for DGD and BER on newer infinera-groove FW
  includes/discovery/sensors/ber/infinera-groove.inc.php
  includes/discovery/sensors/delay/infinera-groove.inc.php
  tests/data/infinera-groove.json
Labels: Discovery

#10451 Fix ports page javascript
  includes/html/pages/ports.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9765 Alert Subsys to OOP and SNMPTraps trigger Alert Rules
  LibreNMS/Alert/AlertDB.php
  LibreNMS/Alert/AlertRules.php
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Snmptrap/Dispatcher.php
  alerts.php
  app/Jobs/PingCheck.php
  includes/alerts.inc.php
  includes/init.php
  poller.php
Labels: Alerting :bell:

#10452 Fix missed alert function renames
  LibreNMS/Alert/RunAlerts.php
  daily.php
  includes/html/common/worldmap.inc.php
  includes/html/forms/create-alert-item.inc.php
  includes/html/forms/test-transport.inc.php
  includes/html/output/query.inc.php
Labels: Alerting :bell:, Bug :beetle:, Ignore changelog :mute:

#10453 Fix roku svg
  html/images/os/roku.svg
Labels: Ignore changelog :mute:

#10371 docs: more md linting
  doc/Extensions/Syslog.md
  doc/Extensions/World-Map.md
  doc/Extensions/metrics/Graphite.md
  doc/Extensions/metrics/InfluxDB.md
  doc/Extensions/metrics/OpenTSDB.md
  doc/Extensions/metrics/Prometheus.md
  doc/General/Acknowledgement.md
  doc/General/CODE_OF_CONDUCT.md
  doc/General/Callback-Stats-and-Privacy.md
  doc/General/Releases.md
  doc/General/Security.md
  doc/General/Updating.md
  doc/General/Welcome-to-Observium-users.md
  doc/Installation/Images.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1404-Apache.md
  doc/Installation/Installation-Ubuntu-1404-Lighttpd.md
  doc/Installation/Installation-Ubuntu-1404-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  doc/Installation/Migrating-from-Observium.md
  doc/Support/1-Minute-Polling.md
  doc/Support/Adding-a-Device.md
  doc/Support/CLI-Tools.md
  doc/Support/Cleanup-options.md
  doc/Support/Configuration.md
  doc/Support/Device-Notes/Carel-pCOweb-Devices.md
  doc/Support/Device-Sensors.md
  doc/Support/Device-Troubleshooting.md
  doc/Support/Discovery Support.md
  doc/Support/Environment-Variables.md
  doc/Support/Example-Hardware-Setup.md
  doc/Support/FAQ.md
  doc/Support/Features.md
  doc/Support/Install Validation.md
  doc/Support/Performance.md
  doc/Support/Poller Support.md
  doc/Support/Remote-Monitoring-VPN.md
  doc/Support/SNMP-Configuration-Examples.md
  doc/Support/SSL-Configuration.md
  doc/Support/index.md
Labels: Documentation :book:

#10388 Add more detail to webgui alerts
  includes/html/common/alerts.inc.php
  includes/html/table/alerts.inc.php
  resources/views/widgets/alerts.blade.php
Labels: WebUI

#10455 Docs: Mistake in url API
  doc/API/PortGroups.md
Labels: Documentation :book:

#10416 Transport API - Doc for placeholders
  doc/Alerting/Transports.md
Labels: Documentation :book:

#10358 Added Support For Teltonika RUT2XX Devices
  includes/definitions.inc.php
  includes/definitions/discovery/rutos-2xx.yaml
  includes/definitions/rutos-2xx.yaml
  includes/html/graphs/device/rutos_2xx_mobileDataUsage.inc.php
  includes/polling/os/rutos-2xx.inc.php
  mibs/teltonika/TELTONIKA-MIB
  tests/data/rutos-2xx.json
  tests/snmpsim/rutos-2xx.snmprec
Labels: Device :desktop_computer:, User-Pending

#10424 FS.net pdu
  includes/definitions/fs-net-pdu.yaml
  includes/discovery/sensors/current/fs-net-pdu.inc.php
  includes/discovery/sensors/voltage/fs-net-pdu.inc.php
  tests/data/fs-net-pdu.json
  tests/snmpsim/fs-net-pdu.snmprec
Labels: Device :desktop_computer:

#10399 Allow filtering of getUserlist LDAP function
  LibreNMS/Authentication/LdapAuthorizer.php
  doc/Extensions/Authentication.md
Labels: Feature, Needs Testing

#10444 Properly format 95th CDR as SI Mbps in billing
  includes/html/pages/bill.inc.php
  includes/html/table/bills.inc.php
Labels: Billing :heavy_dollar_sign:

#10326 MRV: temperature limits from MIB
  includes/definitions/discovery/mrv-od.yaml
  mibs/mrv/NBS-CMMC-MIB
  mibs/mrv/NBS-CMMCENUM-MIB
  mibs/mrv/NBS-COHERENT-MIB
  mibs/mrv/NBS-CONNECTIVITY-MIB
  mibs/mrv/NBS-EFM-MIB
  mibs/mrv/NBS-EUSM-MIB
  mibs/mrv/NBS-FAN-MIB
  mibs/mrv/NBS-FEC-MIB
  mibs/mrv/NBS-FECPM-MIB
  mibs/mrv/NBS-JUMPER-MIB
  mibs/mrv/NBS-META-MIB
  mibs/mrv/NBS-MIB
  mibs/mrv/NBS-OBA-MIB
  mibs/mrv/NBS-ODSYS-MIB
  mibs/mrv/NBS-OPTIC-MIB
  mibs/mrv/NBS-OSA-MIB
  mibs/mrv/NBS-OTNOH-MIB
  mibs/mrv/NBS-OTNPM-MIB
  mibs/mrv/NBS-PART-MIB
  mibs/mrv/NBS-PRBS-MIB
  mibs/mrv/NBS-REDUNDANCY-MIB
  mibs/mrv/NBS-ROADM-MIB
  mibs/mrv/NBS-SFF-MIB
  mibs/mrv/NBS-SIGCOND-MIB
  mibs/mrv/NBS-SIGLANE-MIB
  mibs/mrv/NBS-SLA-MIB
  mibs/mrv/NBS-STATS-MIB
  mibs/mrv/NBS-SYSCOMM-MIB
  mibs/mrv/NBS-SYSLOG-SERVER-MIB
  mibs/mrv/NBS-TRAPCONTROL-MIB
  mibs/mrv/NBS-TUNABLE-MIB
  mibs/mrv/NBS-USER-SESSION-MIB
  mibs/mrv/NBS-VLAN-TAGS-MIB
  tests/data/mrv-od.json
  tests/snmpsim/mrv-od.snmprec
Labels: Device :desktop_computer:

#10454 Add OpenWrt OS support (discovery, poller)
  includes/definitions/openwrt.yaml
  includes/polling/os/openwrt.inc.php
  tests/data/openwrt.json
  tests/snmpsim/openwrt.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#10459 Network-Map: Fixed broken links
  doc/Extensions/Network-Map.md
Labels: Documentation :book:

#10462 Fix 2fa enable
  resources/views/auth/2fa.blade.php
  resources/views/user/preferences.blade.php
Labels: Bug :beetle:, WebUI

#10458 Graylog entry matching device if source is not hostname or primary ip
  app/ApiClients/GraylogApi.php
  app/Http/Controllers/Table/GraylogController.php
  app/Models/Device.php
  doc/Extensions/Graylog.md
  includes/html/common/graylog.inc.php
  resources/lang/en/syslog.php
Labels: Bug :beetle:, Feature

#10464 Fix alert and template test scripts
  scripts/test-alert.php
  scripts/test-template.php
Labels: Alerting :bell:, Bug :beetle:

#10446 Don't display INF% for percentage of used transfer when billing is CDR
  includes/html/pages/bill/transfer.inc.php
Labels: Billing :heavy_dollar_sign:, Needs Testing

#10421 MPLS Services
  LibreNMS/DB/SyncsModels.php
  LibreNMS/Interfaces/Discovery/MplsDiscovery.php
  LibreNMS/Interfaces/Polling/MplsPolling.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/OS/Timos.php
  app/Models/Device.php
  app/Models/MplsSap.php
  app/Models/MplsSdp.php
  app/Models/MplsSdpBind.php
  app/Models/MplsService.php
  database/migrations/2019_06_30_190400_create_mpls_sdps_table.php
  database/migrations/2019_06_30_190401_create_mpls_sdp_binds_table.php
  database/migrations/2019_06_30_190402_create_mpls_services_table.php
  database/migrations/2019_07_03_132417_create_mpls_saps_table.php
  includes/html/pages/device/routing/mpls.inc.php
  includes/html/pages/routing/mpls.inc.php
  misc/db_schema.yaml
  tests/data/timos.json
  tests/module_tables.yaml
  tests/snmpsim/timos.snmprec
Labels: Feature

#10463 Fix Google maps lat/lon query string
  includes/html/dev-overview-data.inc.php
Labels: WebUI

#10470 more changelog categories
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10457 Move API routing to Laravel
  app/Api/Controllers/LegacyApiController.php
  app/Exceptions/Handler.php
  app/Http/Controllers/LegacyController.php
  app/Http/Kernel.php
  app/Http/Profile/CorsApiProfile.php
  app/Models/ApiToken.php
  app/Models/User.php
  composer.json
  composer.lock
  config/cors.php
  doc/API/Alerts.md
  doc/Support/Configuration.md
  html/api_v0.php
  includes/html/api_functions.inc.php
  includes/html/functions.inc.php
  includes/html/graphs/graph.inc.php
  includes/html/legacy_api_v0.php
  routes/api.php
  tests/BasicApiTest.php
Labels: API, Refactor

#10474 Missing an I from Input
  doc/API/Logs.md
Labels: Documentation :book:

#10475 Extended RecoveryOS Definition
  includes/definitions/recoveryos.yaml
  tests/data/recoveryos_8024s.json
  tests/snmpsim/recoveryos_8024s.snmprec
Labels: Device :desktop_computer:

#10469 doc: Oxidized - Recover a configuration of a disabled/removed device
  doc/Extensions/Oxidized.md
Labels: Documentation :book:, Oxidized

#10472 Added definition for Cisco SB SG250X
  includes/definitions/ciscosb.yaml
  tests/snmpsim/ciscosb_sg250x.snmprec
Labels: Device :desktop_computer:

#10479 Add resources/views/menu/ to .gitignore
  .gitignore
Labels: Cleanup, WebUI
