Repository librenms/librenms, pull requests merged in 2019-03, with the labels that each got.

#9867 [feat] edgeos hardware info
  includes/polling/os/edgeos.inc.php
  tests/data/edgeos.json
  tests/snmpsim/edgeos.snmprec
Labels: Device :desktop_computer:

#9863 VRP: add fan description to hwEntityFanState
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_5720-32x-ei.json
  tests/snmpsim/vrp_5720-32x-ei.snmprec
Labels: Device :desktop_computer:

#9835 add support for sagemcom
  LibreNMS/Snmptrap/Handlers/EquipStatusTrap.php
  LibreNMS/Snmptrap/Handlers/LogTrap.php
  config/snmptraps.php
  html/images/logos/sagemcom.svg
  html/images/os/sagemcom.svg
  includes/definitions/discovery/ionos.yaml
  includes/definitions/ionos.yaml
  mibs/sagemcom/ADR155C-MIB
  mibs/sagemcom/ADR2500C-MIB
  mibs/sagemcom/ADR63E1-MIB
  mibs/sagemcom/EQUIPMENT-MIB
  mibs/sagemcom/GIGE-MIB
  mibs/sagemcom/LOG-MIB
  mibs/sagemcom/PERFORMANCE-MIB
  mibs/sagemcom/PPP-BRIDGE-NCP-MIB
  mibs/sagemcom/PPP-LCP-MIB
  mibs/sagemcom/PROTECTION-MIB
  mibs/sagemcom/SAGEM-DR-MIB
  mibs/sagemcom/SDH-ETS-MIB
  mibs/sagemcom/SESSION-MIB
  mibs/sagemcom/SHELF-MIB
  mibs/sagemcom/SPRIF-MIB
  mibs/sagemcom/XCONNECTION-MIB
  tests/data/ionos.json
  tests/snmpsim/ionos.snmprec
Labels: Device :desktop_computer:

#9888 Try to fix some of the Component code
  LibreNMS/Component.php
Labels: Bug :beetle:

#9887 Fix incorrect icon sometimes
  LibreNMS/Util/Url.php
  app/Models/Device.php
  html/ajax_ossuggest.php
  html/images/logos/serverscheck.png
  html/images/os/serverscheck.svg
  includes/definitions/alcoma-almp.yaml
  includes/definitions/marathonups.yaml
  includes/definitions/serverscheck.yaml
  includes/functions.php
  tests/data/serverscheck.json
Labels: Bug :beetle:

#9895 docs: fix link missing parenthesis
  doc/Extensions/Applications.md
Labels: Documentation :book:

#9843 Add support for Infinera-Coriant Groove
  html/images/logos/infinera.png
  html/images/os/infinera.png
  includes/definitions/discovery/infinera-groove.yaml
  includes/definitions/infinera-groove.yaml
  includes/discovery/sensors/chromatic_dispersion/infinera-groove.inc.php
  includes/discovery/sensors/dbm/infinera-groove.inc.php
  includes/discovery/sensors/load/infinera-groove.inc.php
  includes/discovery/sensors/pre-cache/infinera-groove.inc.php
  includes/discovery/sensors/snr/infinera-groove.inc.php
  includes/discovery/sensors/state/infinera-groove.inc.php
  includes/polling/os/infinera-groove.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/infinera-groove.inc.php
  mibs/infinera/CORIANT-GROOVE-MIB
  tests/data/infinera-groove.json
  tests/snmpsim/infinera-groove.snmprec
Labels: Device :desktop_computer:

#9661 Add data scrubbing state to Synology RAID status
  includes/discovery/sensors/state/dsm.inc.php
  mibs/synology/SYNOLOGY-RAID-MIB
Labels: Device :desktop_computer:

#9899 Add Device - Cisco Sat Receivers
  LibreNMS/OS/Ciscosat.php
  includes/definitions/ciscosat.yaml
  includes/definitions/discovery/ciscosat.yaml
  includes/polling/os/ciscosat.inc.php
  mibs/cisco/CISCO-DMN-DSG-DIAG-MIB
  mibs/cisco/CISCO-DMN-DSG-ROOT-MIB
  mibs/cisco/CISCO-DMN-DSG-TUNING-MIB
  tests/data/ciscosat.json
  tests/snmpsim/ciscosat.snmprec
Labels: Device :desktop_computer:

#9816 Update Web UI debug FAQ
  doc/Support/FAQ.md
Labels: Documentation :book:

#9902 Fix Cisco Sat style
  LibreNMS/OS/Ciscosat.php
  tests/data/ciscosat.json
Labels: Ignore changelog :mute:

#9893 Access to "sub" index (when OID has multiple indexes)
  LibreNMS/Device/YamlDiscovery.php
  doc/Developing/os/Health-Information.md
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_5720-32x-ei.json
Labels: Feature

#9865 webui: Allow admins to add/remove/create sticky notifications
  html/includes/forms/notifications.inc.php
Labels: Bug :beetle:, WebUI

#9891 Added VRP stack member and ports discovery
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_5720-vrf.json
  tests/snmpsim/vrp_5720-vrf.snmprec
Labels: Device :desktop_computer:

#9817 Prevent credentials from being leaked in backtrace in some instances
  LibreNMS/Authentication/ADAuthorizationAuthorizer.php
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
  LibreNMS/Authentication/HttpAuthAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizationAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizer.php
  LibreNMS/Authentication/MysqlAuthorizer.php
  LibreNMS/Authentication/RadiusAuthorizer.php
  LibreNMS/Authentication/SSOAuthorizer.php
  LibreNMS/Config.php
  LibreNMS/Interfaces/Authentication/Authorizer.php
  app/Providers/LegacyUserProvider.php
  composer.json
  html/pages/preferences.inc.php
  scripts/auth_test.php
  tests/AuthSSOTest.php
Labels: Security

#9767 Dantel WebMon Device Support
  html/images/os/dantel.png
  includes/definitions/webmon.yaml
  includes/discovery/sensors/humidity/webmon.inc.php
  includes/discovery/sensors/temperature/webmon.inc.php
  includes/polling/os/webmon.inc.php
  mibs/dantel/WEBMON-EDGE-MATRIX-MIB
  tests/data/webmon.json
  tests/snmpsim/webmon.snmprec
Labels: Device :desktop_computer:

#9788 Add Debian instruction
  doc/Extensions/Poller-Service.md
Labels: Documentation :book:, User-Pending

#9819 Fixes to composer_wrapper proxy handling
  scripts/composer_wrapper.php
Labels: Bug :beetle:

#9907 Replace misplaced nokia/OSPFV3-MIB with a newer version to right place
  mibs/OSPFV3-MIB
  mibs/nokia/OSPFV3-MIB
Labels: Bug :beetle:

#9905 Fix ldap/ad auth anon-bind
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizer.php
Labels: Bug :beetle:

#9910 Update color index to fix mysql graphs
  includes/defaults.inc.php
Labels: Graphs

#9901 Added Patton SmartNode OS discovery and polling
  html/images/logos/patton.png
  includes/definitions/discovery/patton-sn.yaml
  includes/definitions/patton-sn.yaml
  includes/discovery/mempools/patton-sn.inc.php
  includes/polling/mempools/patton-sn.inc.php
  includes/polling/os/patton-sn.inc.php
  mibs/patton/SMARTNODE-MIB
  tests/data/patton-sn.json
  tests/snmpsim/patton-sn.snmprec
Labels: Device :desktop_computer:

#9768 Meraki MS: add serial number
  includes/polling/os/merakims.inc.php
  tests/data/merakims.json
  tests/snmpsim/merakims.snmprec
Labels: Device :desktop_computer:

#9908 update some timetra (nokia) mibs
  mibs/nokia/TIMETRA-PORT-MIB
  mibs/nokia/TIMETRA-QOS-MIB
  mibs/nokia/TIMETRA-SAP-MIB
  mibs/nokia/TIMETRA-SDP-MIB
  mibs/nokia/TIMETRA-SERV-MIB
  mibs/nokia/TIMETRA-SUBSCRIBER-MGMT-MIB
  mibs/nokia/TIMETRA-TC-MG-MIB
Labels: MIBs

#9911 add IBM IMMALERT-MIB for traps from Integrated Management Module
  mibs/ibm/IMMALERT-MIB
Labels: MIBs

#9920 fix style
  includes/polling/mempools/patton-sn.inc.php
Labels: Ignore changelog :mute:

#9919 Graylog: Handle missing fields a little more gracefully
  app/Http/Controllers/Table/GraylogController.php
Labels: Bug :beetle:

#9917 Fix printer discovery level
  includes/discovery/toner.inc.php
  tests/data/jetdirect_m252dw.json
Labels: Ignore changelog :mute:

#9922 Fix widgets page with MySQL 8
  html/pages/front/tiles.php
Labels: WebUI

#9898 Add support for power supply on Extreme BOSS switches
  includes/discovery/sensors/state/boss.inc.php
  tests/data/boss_ers3510.json
  tests/data/boss_ers4950.json
  tests/snmpsim/boss_ers3510.snmprec
  tests/snmpsim/boss_ers4950.snmprec
Labels: Device :desktop_computer:

#9913 Improved Infinera Groove discovery
  includes/definitions/infinera-groove.yaml
  includes/polling/os/infinera-groove.inc.php
  includes/polling/ports/infinera-groove.inc.php
  tests/snmpsim/infinera-groove.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#9906 Grandstream basic support
  html/images/logos/grandstream.png
  html/images/os/grandstream.png
  includes/definitions/grandstream-ht.yaml
  includes/polling/os/grandstream-ht.inc.php
  tests/data/grandstream-ht.json
  tests/snmpsim/grandstream-ht.snmprec
Labels: Device :desktop_computer:

#9932 Cleaned sensor descriptions using $subindexX
  includes/definitions/discovery/apc-mgeups.yaml
  includes/definitions/discovery/eaton-mgeups.yaml
  includes/definitions/discovery/fusion.yaml
  includes/definitions/discovery/netgear.yaml
  tests/data/apc-mgeups_galaxy7000.json
  tests/data/eaton-mgeups_5px.json
  tests/data/fusion.json
  tests/data/netgear.json
Labels: Cleanup

#9608 Changes to improve testing
  LibreNMS/Authentication/SSOAuthorizer.php
  LibreNMS/Config.php
  LibreNMS/DB/Eloquent.php
  LibreNMS/RRD/RrdDefinition.php
  LibreNMS/Snmptrap/Handlers/AuthenticationFailure.php
  LibreNMS/Snmptrap/Handlers/BgpBackwardTransition.php
  LibreNMS/Snmptrap/Handlers/BgpEstablished.php
  LibreNMS/Snmptrap/Handlers/EquipStatusTrap.php
  LibreNMS/Snmptrap/Handlers/LinkDown.php
  LibreNMS/Snmptrap/Handlers/LinkUp.php
  LibreNMS/Snmptrap/Handlers/LogTrap.php
  LibreNMS/Snmptrap/Handlers/UpsmgUtilityFailure.php
  LibreNMS/Snmptrap/Handlers/UpsmgUtilityRestored.php
  LibreNMS/Util/Laravel.php
  app/Facades/LogManager.php
  app/Http/Controllers/Ajax/NetCommand.php
  app/Listeners/AuthEventListener.php
  app/Models/DeviceGroup.php
  app/Providers/AppServiceProvider.php
  config/database.php
  database/factories/ModelFactory.php
  includes/common.php
  includes/dbFacile.php
  includes/functions.php
  includes/helpers.php
  includes/polling/ipmi.inc.php
  phpunit.xml
  resources/views/locations.blade.php
  resources/views/widgets/graylog.blade.php
  tests/AuthSSOTest.php
  tests/ConfigTest.php
  tests/DBSetupTest.php
  tests/DBTestCase.php
  tests/Feature/SnmpTraps/BgpTrapTest.php
  tests/Feature/SnmpTraps/CommonTrapTest.php
  tests/Feature/SnmpTraps/PortsTrapTest.php
  tests/LaravelTestCase.php
  tests/OSDiscoveryTest.php
  tests/OSModulesTest.php
  tests/SnmpTrapTest.php
  tests/TestCase.php
  tests/YamlTest.php
  tests/snmpsim/fabos_1.snmprec
Labels: Refactor

#9926 Allowed more characters in graph legend for interface names
  html/includes/graphs/generic_multi_seperated.inc.php
Labels: Bug :beetle:, WebUI

#9930 Added Ciena Waveserver
  includes/definitions/ciena-waveserver.yaml
  includes/definitions/discovery/ciena-waveserver.yaml
  includes/polling/os/ciena-waveserver.inc.php
  mibs/ALARM-MIB
  mibs/ciena/CIENA-CES-ACCESS-LIST-MIB
  mibs/ciena/CIENA-CES-ACL-MIB
  mibs/ciena/CIENA-CES-ALARM-MIB
  mibs/ciena/CIENA-CES-BENCHMARK-MIB
  mibs/ciena/CIENA-CES-BFD-MIB
  mibs/ciena/CIENA-CES-CONFIG-MGMT-MIB
  mibs/ciena/CIENA-CES-DHCPV6-CLIENT-MIB
  mibs/ciena/CIENA-CES-ICL-MIB
  mibs/ciena/CIENA-CES-LDP-MIB
  mibs/ciena/CIENA-CES-MCAST-FILTER-MIB
  mibs/ciena/CIENA-CES-MGMT-INTERFACE-MIB
  mibs/ciena/CIENA-CES-MODULE-MIB
  mibs/ciena/CIENA-CES-MPLS-MIB
  mibs/ciena/CIENA-CES-OSPF-MIB
  mibs/ciena/CIENA-CES-PM-MIB
  mibs/ciena/CIENA-CES-RADIUS-CLIENT-MIB
  mibs/ciena/CIENA-CES-RMON-MIB
  mibs/ciena/CIENA-CES-RSVPTE-MIB
  mibs/ciena/CIENA-CES-TIME-SYNC-MIB
  mibs/ciena/CIENA-CES-VLLI-MIB
  mibs/ciena/CIENA-GLOBAL-MIB
  mibs/ciena/CIENA-SMI
  mibs/ciena/CIENA-TC
  mibs/ciena/CIENA-WS-ALARM-MIB
  mibs/ciena/CIENA-WS-BLADE-MIB
  mibs/ciena/CIENA-WS-CHASSIS-MIB
  mibs/ciena/CIENA-WS-CONFIGURATION-MIB
  mibs/ciena/CIENA-WS-ENCRYPTION-MIB
  mibs/ciena/CIENA-WS-ENCRYPTION-RPC-MIB
  mibs/ciena/CIENA-WS-LICENSE-MIB
  mibs/ciena/CIENA-WS-MIB
  mibs/ciena/CIENA-WS-NOTIFICATION-MIB
  mibs/ciena/CIENA-WS-PM-MIB
  mibs/ciena/CIENA-WS-PORT-MIB
  mibs/ciena/CIENA-WS-PTP-MIB
  mibs/ciena/CIENA-WS-PTP-MODEM-MIB
  mibs/ciena/CIENA-WS-PTP-PLUGGABLE-MIB
  mibs/ciena/CIENA-WS-SERVICE-DOMAIN-MIB
  mibs/ciena/CIENA-WS-SERVICE-MIB
  mibs/ciena/CIENA-WS-SOFTWARE-MIB
  mibs/ciena/CIENA-WS-SYSTEM-MIB
  mibs/ciena/CIENA-WS-TYPEDEFS-MIB
  mibs/ciena/CIENA-WS-XCVR-MIB
  mibs/ciena/CIENA-WS-XCVR-MODEM-MIB
  mibs/ciena/CIENA-WS-XCVR-PLUGGABLE-MIB
  tests/data/ciena-waveserver.json
  tests/snmpsim/ciena-waveserver.snmprec
Labels: Device :desktop_computer:, Needs Testing

#9879 Add Junos VirtuallChassis ports polling
  includes/polling/ports.inc.php
  includes/polling/ports/junos-vcp.inc.php
  tests/data/junos.json
  tests/snmpsim/junos.snmprec
Labels: Device :desktop_computer:

#9935 fix misc models
  app/Models/Alert.php
  app/Models/AlertRule.php
  app/Models/Device.php
Labels: Ignore changelog :mute:

#9941 Resubmit #9608
  LibreNMS/Authentication/SSOAuthorizer.php
  LibreNMS/Config.php
  LibreNMS/DB/Eloquent.php
  LibreNMS/RRD/RrdDefinition.php
  LibreNMS/Snmptrap/Handlers/AuthenticationFailure.php
  LibreNMS/Snmptrap/Handlers/BgpBackwardTransition.php
  LibreNMS/Snmptrap/Handlers/BgpEstablished.php
  LibreNMS/Snmptrap/Handlers/EquipStatusTrap.php
  LibreNMS/Snmptrap/Handlers/LinkDown.php
  LibreNMS/Snmptrap/Handlers/LinkUp.php
  LibreNMS/Snmptrap/Handlers/LogTrap.php
  LibreNMS/Snmptrap/Handlers/UpsmgUtilityFailure.php
  LibreNMS/Snmptrap/Handlers/UpsmgUtilityRestored.php
  LibreNMS/Util/Laravel.php
  app/Facades/LogManager.php
  app/Http/Controllers/Ajax/NetCommand.php
  app/Listeners/AuthEventListener.php
  app/Models/DeviceGroup.php
  app/Providers/AppServiceProvider.php
  config/database.php
  database/factories/ModelFactory.php
  includes/common.php
  includes/dbFacile.php
  includes/functions.php
  includes/helpers.php
  includes/polling/ipmi.inc.php
  phpunit.xml
  resources/views/locations.blade.php
  resources/views/widgets/graylog.blade.php
  tests/AuthSSOTest.php
  tests/ConfigTest.php
  tests/DBSetupTest.php
  tests/DBTestCase.php
  tests/Feature/SnmpTraps/BgpTrapTest.php
  tests/Feature/SnmpTraps/CommonTrapTest.php
  tests/Feature/SnmpTraps/PortsTrapTest.php
  tests/LaravelTestCase.php
  tests/OSDiscoveryTest.php
  tests/OSModulesTest.php
  tests/SnmpTrapTest.php
  tests/TestCase.php
  tests/YamlTest.php
  tests/snmpsim/fabos_1.snmprec
Labels: Ignore changelog :mute:

#9936 Fix Aruba Instant wireless sensors
  LibreNMS/OS/Arubaos.php
  tests/data/arubaos_instant.json
  tests/snmpsim/arubaos_instant.snmprec
Labels: Device :desktop_computer:

#9942 Add new template syntax into the FAQ, pointing to the documentation
  doc/Support/FAQ.md
Labels: Documentation :book:, Ignore changelog :mute:

#9925 Improve VRP stack state discovery with one member only to avoid unnecessary alarms
  includes/definitions/discovery/vrp.yaml
  includes/discovery/sensors/state/vrp.inc.php
  tests/data/vrp_5720-vrf.json
Labels: Bug :beetle:, Device :desktop_computer:

#9849 Fix graphs for ASA announcing all interfaces in type l2vlan (by default filtered)
  html/includes/graphs/device/bits.inc.php
Labels: Graphs, WebUI

#9946 Add Alert-transports to Laravel menu blade
  resources/views/layouts/menu.blade.php
Labels: WebUI

#9944 Documentation for setting a development environment
  doc/Developing/Getting-Started.md
  doc/Developing/index.md
Labels: Documentation :book:

#9933 Corrected active_count for Alert icon color
  app/Http/ViewComposers/MenuComposer.php
  app/Models/AlertRule.php
  includes/caches/alerts.inc.php
Labels: Bug :beetle:, WebUI

#9943 Add Device Arris DSR-4410MD Sat Receiver
  LibreNMS/OS/ArrisDsr4410md.php
  includes/definitions/arris-dsr4410md.yaml
  includes/definitions/discovery/arris-dsr4410md.yaml
  includes/polling/os/arris-dsr4410md.inc.php
  mibs/arris/DSR4410MD-MIB
  tests/data/arris-dsr4410md.json
  tests/snmpsim/arris-dsr4410md.snmprec
Labels: Device :desktop_computer:

#9947 Eaton pdu extension
  includes/definitions/discovery/eatonpdu.yaml
  includes/definitions/eatonpdu.yaml
  includes/polling/os/eatonpdu.inc.php
  mibs/eaton/PDU-MIB
  tests/data/eatonpdu_dbq.json
  tests/data/eatonpdu_epdu.json
  tests/snmpsim/eatonpdu_dbq.snmprec
  tests/snmpsim/eatonpdu_epdu.snmprec
Labels: Device :desktop_computer:

#9953 fix docs
  mkdocs.yml
Labels: Ignore changelog :mute:

#9842 Always boot Laravel
  html/includes/output/db-update.inc.php
  includes/init.php
  includes/sql-schema/update.php
  snmptrap.php
  validate.php
Labels: Cleanup

#9958 Fix an issue that could block install
  html/install.php
  includes/dbFacile.php
Labels: Bug :beetle:

#9959 remove whitespace
  includes/polling/os/eatonpdu.inc.php
Labels: Ignore changelog :mute:

#9968 Bug: Cisco OTV (array)cast issue creating empty adj.
  includes/discovery/cisco-otv.inc.php
Labels: Bug :beetle:

#9960 added new OS - sensatronics-em1
  html/images/logos/sensatronics.png
  html/images/os/sensatronics.png
  includes/definitions/discovery/sensatronics-em1.yaml
  includes/definitions/sensatronics-em1.yaml
  mibs/sensatronics/SENSATRONICS-EM1
  mibs/sensatronics/SENSATRONICS-ITTM
  mibs/sensatronics/SENSATRONICS-SMI
  tests/data/sensatronics-em1.json
  tests/snmpsim/sensatronics-em1.snmprec
Labels: Device :desktop_computer:

#9963 Fix device missing from traps/new Log::event()
  LibreNMS/Snmptrap/Dispatcher.php
  app/Models/Eventlog.php
  tests/Feature/SnmpTraps/CommonTrapTest.php
Labels: Bug :beetle:, Design

#9961 Dell UPS enable rfc 1628 support
  includes/definitions/dell-ups.yaml
  tests/data/dell-ups_rack3750w.json
  tests/data/dell-ups_tower1000w.json
  tests/snmpsim/dell-ups_rack3750w.snmprec
  tests/snmpsim/dell-ups_tower1000w.snmprec
Labels: Device :desktop_computer:

#9973 Optional automatic sensor limits
  doc/Support/Configuration.md
  includes/defaults.inc.php
  includes/discovery/functions.inc.php
Labels: Feature

#9974 Added support for Cisco Small Business WAP371-a-k9
  includes/definitions/ciscosb.yaml
  tests/data/ciscosb.json
  tests/snmpsim/ciscosb.snmprec
Labels: Device :desktop_computer:

#9975 Custom storage warning percentage
  doc/Support/Configuration.md
  includes/defaults.inc.php
  includes/discovery/functions.inc.php
Labels: Feature

#9976 Update Getting-Started.md
  doc/Developing/Getting-Started.md
Labels: Documentation :book:, Ignore changelog :mute:

#9978 Do not use $sensor[sensor_limit] if not available
  html/includes/graphs/sensor/humidity.inc.php
  html/includes/graphs/sensor/temperature.inc.php
Labels: Bug :beetle:

#9982 Fix inconsistent <h3> closed by </div>
  html/pages/device/health/sensors.inc.php
Labels: Bug :beetle:, WebUI

#9984 Fix install not connecting to DB
  LibreNMS/DB/Eloquent.php
  includes/dbFacile.php
Labels: Bug :beetle:

#9971 Don't enable secure cookies when they won't work
  LibreNMS/Config.php
  doc/General/Security.md
  includes/defaults.inc.php
Labels: Bug :beetle:

#9951 Display Up/Down time in Device List
  LibreNMS/Util/Time.php
  app/Http/Controllers/Table/DeviceController.php
  app/Models/Device.php
  html/includes/dev-overview-data.inc.php
  html/pages/devices.inc.php
  includes/alerts.inc.php
  includes/functions.php
  includes/polling/core.inc.php
Labels: WebUI

#9962 Riello UPS os definition with RFC 1628 support
  html/images/os/riello.png
  includes/definitions/riello.yaml
  mibs/riello/RIELLO-MIB
  mibs/riello/RIELLOMDU-MIB
  mibs/riello/RIELLOMTS-MIB
  mibs/riello/RIELLOUPS-MIB
  mibs/riello/SENSORTRAP-MIB
  tests/data/riello.json
  tests/snmpsim/riello.snmprec
Labels: Device :desktop_computer:

#9990 github-remove updates
  scripts/github-remove
Labels: Ignore changelog :mute:

#9989 Fix mysql table engine validation
  LibreNMS/Validations/Database.php
Labels: Bug :beetle:

#9970 Added a blue theme
  html/css/blue.css
  html/images/librenms_logo_blue.svg
Labels: WebUI

#9955 Update documentation to reflect matching behaviour
  doc/Extensions/Oxidized.md
Labels: Alerting :bell:, Documentation :book:

#9994 Fix device list down devices that have never been polled
  app/Http/Controllers/Table/DeviceController.php
  html/pages/devices.inc.php
Labels: Bug :beetle:

#9997 Fix world map when location has been deleted that a device still references
  app/Http/Controllers/Widgets/WorldMapController.php
  html/includes/dev-overview-data.inc.php
Labels: Bug :beetle:, WebUI

#10000 Fix device group queries again
  includes/device-groups.inc.php
Labels: Alerting :bell:, Bug :beetle:

#9837 Added resources/sensors api call to list all sensors
  doc/API/Devices.md
  html/includes/api_functions.inc.php
  html/legacy_api_v0.php
Labels: API

#10004 Fix issue with new permissions code
  LibreNMS/Permissions.php
Labels: Bug :beetle:

#10005 Fix bill permissions
  LibreNMS/Permissions.php
Labels: Bug :beetle:

#10002 Update dependencies
  composer.lock
Labels: Security

#9981 Beautify port health
  html/includes/functions.inc.php
  html/pages/device/port/sensors.inc.php
Labels: WebUI

#10006 Add Device Arris Apex
  includes/definitions/arris-apex.yaml
  includes/definitions/discovery/arris-apex.yaml
  includes/polling/os/arris-apex.inc.php
  mibs/arris/APEX-MIB
  mibs/arris/BCS-IDENT-MIB
  mibs/arris/BCS-TRAPS-MIB
  tests/data/arris-apex.json
  tests/snmpsim/arris-apex.snmprec
Labels: Device :desktop_computer:

#10009 Fix an issue with bills with no data
  includes/billing.php
Labels: Bug :beetle:

#10018 Extend support for all emerson products
  includes/definitions/ees.yaml
Labels: Device :desktop_computer:

#10014 Added Panduit Eagle-I (was Sinetica)
  html/images/logos/panduit.png
  html/images/os/panduit.png
  html/includes/graphs/sensor/humidity.inc.php
  includes/definitions/discovery/panduit-eagle.yaml
  includes/definitions/panduit-eagle.yaml
  mibs/sinetica/HAWK-I2-MIB
  tests/data/panduit-eagle.json
  tests/snmpsim/panduit-eagle.snmprec
Labels: Device :desktop_computer:, WebUI

#9889 New Device: ATS - Automatic Transfer Switch
  html/images/logos/ats.png
  html/images/os/ats.png
  includes/definitions/ats.yaml
  includes/definitions/discovery/ats.yaml
  includes/discovery/sensors/temperature/ats.inc.php
  includes/polling/os/ats.inc.php
  mibs/ats/ATS-MIB
  tests/data/ats.json
  tests/snmpsim/ats.snmprec
Labels: Device :desktop_computer:

#10022 Update Fast-Ping-Check.md
  doc/Extensions/Fast-Ping-Check.md
Labels: Documentation :book:

#10025 Fix missing pipe in ports page menu
  html/pages/ports.inc.php
Labels: WebUI

#10026 Added support for Ruijie Networks
  html/images/logos/ruijie.png
  html/images/os/ruijie.png
  includes/definitions/ruijie.yaml
  mibs/ruijie/MY-ENTITY-MIB
  mibs/ruijie/MY-FILE-MIB
  mibs/ruijie/MY-INTERFACE-MIB
  mibs/ruijie/MY-PRODUCTS-MIB
  mibs/ruijie/MY-SMI
  mibs/ruijie/MY-SMP-MIB
  mibs/ruijie/MY-SNMP-AGENT-MIB
  mibs/ruijie/MY-SYSTEM-MIB
  mibs/ruijie/MY-TC
  tests/data/ruijie.json
  tests/snmpsim/ruijie.snmprec
Labels: Device :desktop_computer:

#9903 Typo in routeros YAML discovery
  includes/definitions/discovery/routeros.yaml
  tests/data/routeros.json
Labels: Bug :beetle:

#10001 Fix transport options when edited on Windows
  LibreNMS/Alert/Transport.php
  LibreNMS/Alert/Transport/Alertmanager.php
  LibreNMS/Alert/Transport/Boxcar.php
  LibreNMS/Alert/Transport/Discord.php
  LibreNMS/Alert/Transport/Hipchat.php
  LibreNMS/Alert/Transport/Pushover.php
  LibreNMS/Alert/Transport/Rocket.php
  LibreNMS/Alert/Transport/Slack.php
  LibreNMS/Alert/Transport/Smseagle.php
Labels: Alerting :bell:, Bug :beetle:

#10023 Auth: fix error when user doesn't exist
  app/Providers/LegacyUserProvider.php
Labels: Bug :beetle:

#10024 top ports widget: work around bad data in the database
  app/Http/Controllers/Widgets/TopInterfacesController.php
Labels: Bug :beetle:

#10021 Added support for Orvaldi UPS
  html/images/os/orvaldi.png
  includes/definitions/discovery/orvaldi-ups.yaml
  includes/definitions/orvaldi-ups.yaml
  includes/polling/os/orvaldi-ups.inc.php
  mibs/orvaldi/companyMIB
  tests/data/orvaldi-ups.json
  tests/snmpsim/orvaldi-ups.snmprec
Labels: Device :desktop_computer:

#10040 Eltek Valere: group by shelf
  includes/definitions/discovery/valere.yaml
  tests/data/valere.json
Labels: Device :desktop_computer:

#9912 Added support for EDFA
  includes/definitions/discovery/edfa.yaml
  includes/definitions/edfa.yaml
  includes/polling/os/edfa.inc.php
  mibs/edfa/NSCRTV-ROOT
  tests/data/edfa.json
  tests/snmpsim/edfa.snmprec
Labels: Device :desktop_computer:

#9980 Added support for HikVision-DS Cameras
  includes/definitions/discovery/hikvision-cam.yaml
  includes/definitions/hikvision-cam.yaml
  includes/definitions/hikvision-nvr.yaml
  includes/definitions/hikvision.yaml
  includes/discovery/mempools/hikvision-cam.inc.php
  includes/discovery/mempools/hikvision-nvr.inc.php
  includes/discovery/storage/hikvision-cam.inc.php
  includes/discovery/storage/hikvision-nvr.inc.php
  includes/polling/os/hikvision-cam.inc.php
  includes/polling/os/hikvision-nvr.inc.php
  includes/polling/os/hikvision.inc.php
  mibs/hikvision/HIK-DEVICE-MIB
  mibs/hikvision/HIKVISION-MIB
  tests/data/hikvision-cam.json
  tests/data/hikvision-nvr.json
  tests/snmpsim/hikvision-cam.snmprec
  tests/snmpsim/hikvision-nvr.snmprec
Labels: Device :desktop_computer:

#10033 Work around issue with Weathermaps
  LibreNMS/Util/Laravel.php
  includes/init.php
  routes/web.php
Labels: Bug :beetle:

#10045 Fix path in Smokeping conf file
  doc/Extensions/Smokeping.md
Labels: Documentation :book:
