Repository librenms/librenms, pull requests merged in 2019-12, with the labels that each got.

#10876 Show Date from last discovery and last poll
  includes/html/pages/device/edit/device.inc.php
Labels: WebUI

#10897 IES OS discovery, removed trailing "-" from sysdescr
  includes/definitions/ies.yaml
  tests/snmpsim/ies_ies1248.snmprec
Labels: Device :desktop_computer:

#10899 updated regex for ies os,
  includes/polling/os/ies.inc.php
Labels: Device :desktop_computer:, Ignore changelog :mute:

#10883 Improve ports-fdb discovery sql queries
  includes/discovery/fdb-table.inc.php
Labels: Cleanup, Discovery

#10900 Doc - remove unnecessary condition in doc
  doc/Developing/os/Mem-CPU-Information.md
Labels: Documentation :book:, Ignore changelog :mute:

#10880 Add authentication release category
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10898 Added iBoot PDU (dataprobe) support
  html/images/logos/dataprobe.png
  includes/definitions/discovery/iboot.yaml
  includes/definitions/iboot.yaml
  includes/polling/os/iboot.inc.php
  mibs/dataprobe/IBOOTPDU-MIB
  tests/data/iboot_pdu8-2n15.json
  tests/snmpsim/iboot_pdu8-2n15.snmprec
Labels: Device :desktop_computer:

#10902 Update alert rules with backticks
  misc/alert_rules.json
Labels: Alerting :bell:, Bug :beetle:

#10905 Fix missing documentation parts for Seafile
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10906 Fix alert icons wrongly defaults to blue info level
  includes/html/table/alerts.inc.php
Labels: Bug :beetle:

#10912 Removed typo from the code
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10909 Add EdgeSwitch 10XP definition
  includes/definitions/edgeswitch.yaml
  tests/data/edgeswitch_10xp.json
  tests/snmpsim/edgeswitch_10xp.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#10913 Add ability to fetch oxidized device config via the librenms API
  doc/API/Devices.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#10915 Add queues to Barracuda Email Security GW
  includes/definitions/discovery/barracudaspamfirewall.yaml
  tests/data/barracudaspamfirewall.json
  tests/snmpsim/barracudaspamfirewall.snmprec
Labels: Device :desktop_computer:

#10914 Typo VDSL2-LINE-MIB
  mibs/VDSL2-LINE-MIB
Labels: Cleanup

#10861 API Call to trigger Device Discovery
  doc/API/Devices.md
  includes/functions.php
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#10801 Added detection of Edge-Core ECS4100
  includes/definitions/edgecos.yaml
  tests/data/edgecos_ecs4100-28t.json
  tests/snmpsim/edgecos_ecs4100-28t.snmprec
Labels: Device :desktop_computer:

#10921 Updated Spelling
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10922 Updated Spelling
  doc/Extensions/Dispatcher-Service.md
Labels: Documentation :book:, Ignore changelog :mute:

#10926 Fix Capture Debug page symfony timeout error
  includes/html/output/capture.inc.php
Labels: Bug :beetle:

#10931 Fix icon for bgp search
  html/ajax_search.php
  resources/views/layouts/menu.blade.php
Labels: Bug :beetle:, WebUI

#10930 Fix raisecom fan speed sensor limits
  includes/definitions/discovery/raisecom.yaml
  tests/data/raisecom.json
  tests/snmpsim/raisecom.snmprec
Labels: Device :desktop_computer:

#10924 Added support for additional Edge-Core ECS devices
  includes/definitions/edgecos.yaml
  tests/data/edgecos_2100-28p.json
  tests/snmpsim/edgecos_2100-28p.snmprec
Labels: Device :desktop_computer:

#10911 More appropriate state colours for MS Teams alerts
  LibreNMS/Alert/Transport/Msteams.php
Labels: Alerting :bell:

#10935 Port usage perc CI/CD fix
  tests/data/misc/querybuilder.json
Labels: User-Pending

#10939 Fix macro, reloaded
  tests/data/misc/querybuilder.json
Labels: Bug :beetle:, Ignore changelog :mute:

#10933 Protocol filter for Routing Table View
  app/Http/Controllers/Table/RoutesTablesController.php
  includes/html/pages/device/routing/routes.inc.php
Labels: WebUI

#10948 Remove forcing of database in save-test-data.php
  scripts/save-test-data.php
Labels: Ignore changelog :mute:

#10947 Cisco Viptela basic support
  includes/definitions/viptela.yaml
  includes/polling/os/viptela.inc.php
  tests/data/viptela_vedge1000.json
  tests/snmpsim/viptela_vedge1000.snmprec
Labels: Device :desktop_computer:

#10918 Add severity filter to webui alert history
  includes/common.php
  includes/html/pages/alert-log.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
Labels: Needs Testing, WebUI

#10864 Update Oxidized.md
  doc/Extensions/Oxidized.md
Labels: Documentation :book:

#10831 Added Huawei UPS2000 support
  includes/definitions/huaweiups.yaml
  includes/discovery/functions.inc.php
  includes/polling/os/huaweiups.inc.php
  tests/data/huaweiups_ups2000.json
  tests/snmpsim/huaweiups_ups2000.snmprec
Labels: Device :desktop_computer:

#10885 Adds API to fetch all inventory items for a given device
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#10944 Globalize getColorForState function
  LibreNMS/Alert/Transport.php
  LibreNMS/Alert/Transport/Canopsis.php
  LibreNMS/Alert/Transport/Hipchat.php
  LibreNMS/Alert/Transport/Kayako.php
  LibreNMS/Alert/Transport/Msteams.php
  LibreNMS/Alert/Transport/Twilio.php
Labels: Refactor

#10959 Rewrite Microsemi Midspan Power Sensors with mib
  includes/definitions/discovery/microsemipdsine.yaml
  includes/definitions/microsemipdsine.yaml
  includes/discovery/sensors/power/microsemipdsine.inc.php
  mibs/microsemi/MICROSEMI-PDSINE-MIB
  tests/data/microsemipdsine.json
  tests/snmpsim/microsemipdsine.snmprec
Labels: Device :desktop_computer:, Refactor

#10961 SNMP-Configuration-Examples.md: RouterOS 6.x
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#10953 Categorise Cisco WLC as wireless, like the other controller-based wireless platforms
  includes/definitions/ciscowlc.yaml
  misc/notifications.rss
Labels: Device :desktop_computer:

#10704 Support new os SNR
  html/images/os/snr.png
  includes/definitions/discovery/snr.yaml
  includes/definitions/snr.yaml
  includes/discovery/mempools/snr.inc.php
  includes/polling/mempools/snr.inc.php
  includes/polling/os/snr.inc.php
  mibs/snr/NAG-MIB
  tests/data/snr.json
  tests/snmpsim/snr.snmprec
Labels: Device :desktop_computer:

#10957 Get Colors from getColorState function for Alert Transport Slack
  LibreNMS/Alert/Transport/Slack.php
Labels: Needs Testing

#10945 Feature: Custom OID polling and graphing
  database/migrations/2019_12_16_140000_create_customoids_table.php
  includes/common.php
  includes/html/forms/customoid.inc.php
  includes/html/forms/delete-customoid.inc.php
  includes/html/forms/parse-customoid.inc.php
  includes/html/graphs/customoid/auth.inc.php
  includes/html/graphs/customoid/customoid.inc.php
  includes/html/graphs/graph.inc.php
  includes/html/modal/delete_customoid.inc.php
  includes/html/modal/new_customoid.inc.php
  includes/html/pages/device/edit.inc.php
  includes/html/pages/device/edit/customoid.inc.php
  includes/html/pages/device/graphs.inc.php
  includes/html/pages/device/graphs/customoid.inc.php
  includes/html/print-customoid.php
  includes/polling/customoid.inc.php
  misc/alert_rules.json
  misc/config_definitions.json
  misc/db_schema.yaml
Labels: Feature, Schema

#10963 docs: Update alert transport doc.
  doc/Alerting/Transports.md
Labels: Documentation :book:

#10946 Ixia ANUE basic support
  html/images/os/ixia.svg
  includes/definitions/anue.yaml
  mibs/ixia/ANUE-MIB
  tests/data/anue.json
  tests/snmpsim/anue.snmprec
Labels: Device :desktop_computer:

#10951 Use sysName instead of hostname on AJAX search and new billing form
  html/ajax_search.php
  includes/html/modal/new_bill.inc.php
Labels: Needs Testing, WebUI

#10962 Fix Device Mouseover View
  app/Models/Device.php
  includes/common.php
Labels: Bug :beetle:, WebUI

#10974 Capcity -> Capacity
  includes/html/pages/device/apps/zfs.inc.php
Labels: WebUI

#10976 Array to String conversion fix
  app/Models/Device.php
  includes/definitions/cdata.yaml
Labels: Bug :beetle:

#10956 Get Colors from getColorState function for Alert Transport Mattermost
  LibreNMS/Alert/Transport/Mattermost.php
Labels: Alerting :bell:

#10955 Get Colors from getColorState function for Alert Transport Rocket
  LibreNMS/Alert/Transport/Rocket.php
Labels: Needs Testing

#10978 Support new os GWD
  html/images/os/gwd.png
  includes/definitions/discovery/gwd.yaml
  includes/definitions/gwd.yaml
  includes/discovery/mempools/gwd.inc.php
  includes/polling/mempools/gwd.inc.php
  includes/polling/os/gwd.inc.php
  mibs/gwd/GW-EPON-DEV-MIB
  mibs/gwd/GW-EPON-MIB
  mibs/gwd/GWTT-SMI
  tests/data/gwd.json
  tests/snmpsim/gwd.snmprec
Labels: Device :desktop_computer:

#10980 fix polling os cdata
  includes/polling/os/cdata.inc.php
Labels: Device :desktop_computer:, Ignore changelog :mute:, Refactor

#10568 Device group based access
  LibreNMS/Authentication/MysqlAuthorizer.php
  LibreNMS/IRCBot.php
  LibreNMS/Permissions.php
  app/Models/Device.php
  app/Models/DeviceGroup.php
  app/Models/Port.php
  app/Models/User.php
  config/librenms.php
  database/migrations/2019_10_21_105350_devices_group_perms.php
  html/ajax_search.php
  html/js/vendor.js
  html/mix-manifest.json
  includes/caches/alerts.inc.php
  includes/caches/devices.inc.php
  includes/caches/ports.inc.php
  includes/caches/services.inc.php
  includes/caches/toner.inc.php
  includes/html/common/worldmap.inc.php
  includes/html/list/devices.inc.php
  includes/html/pages/edituser.inc.php
  includes/html/pages/fullscreenmap.inc.php
  includes/html/pages/ports.inc.php
  includes/html/pages/search/arp.inc.php
  includes/html/pages/search/fdb.inc.php
  includes/html/pages/search/ipv4.inc.php
  includes/html/pages/search/ipv6.inc.php
  includes/html/pages/search/mac.inc.php
  includes/html/pages/search/packages.inc.php
  includes/html/pages/services.inc.php
  includes/html/print-graph-alerts.inc.php
  includes/html/print-map.inc.php
  includes/html/table/address-search.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
  includes/html/table/arp-search.inc.php
  includes/html/table/inventory.inc.php
  includes/html/table/mempool.inc.php
  includes/html/table/ports.inc.php
  includes/html/table/processor.inc.php
  includes/html/table/sensors-common.php
  includes/html/table/storage.inc.php
  misc/config_definitions.json
  misc/db_schema.yaml
  resources/lang/en/settings.php
Labels: Needs Testing, Pending Review, WebUI

#10943 Highlight Nodes on Network map
  includes/html/print-map.inc.php
  misc/config_definitions.json
Labels: WebUI

#10984 User Enabled State as Icon
  resources/views/user/index.blade.php
Labels: WebUI
