Repository librenms/librenms, pull requests merged in 2019-10, with the labels that each got.

#10598 Add redis sentinel support to dispatcher service
  LibreNMS/__init__.py
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  doc/Extensions/Dispatcher-Service.md
Labels: Polling

#10643 Fix device_groups in alert/group builder
  LibreNMS/Alerting/QueryBuilderParser.php
  LibreNMS/DB/Schema.php
  tests/data/misc/querybuilder.json
Labels: Bug :beetle:

#10645 Fix CentOS PHP install docs
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
Labels: Documentation :book:

#10563 When sending email alerts use CRLF for windows clients
  LibreNMS/Alert/Transport/Mail.php
  database/migrations/2019_08_28_105051_fix-template-linefeeds.php
Labels: Alerting :bell:, Schema

#10647 Do not update mempool warning % every discovery
  includes/discovery/functions.inc.php
Labels: Bug :beetle:, Discovery

#10637 Add Cisco QFP module
  includes/defaults.inc.php
  includes/definitions/iosxe.yaml
  includes/discovery/cisco-qfp.inc.php
  includes/html/graphs/device/qfp.inc.php
  includes/html/graphs/qfp/auth.inc.php
  includes/html/graphs/qfp/avgpktsize.inc.php
  includes/html/graphs/qfp/memory.inc.php
  includes/html/graphs/qfp/packets.inc.php
  includes/html/graphs/qfp/relativeutil.inc.php
  includes/html/graphs/qfp/throughput.inc.php
  includes/html/graphs/qfp/util.inc.php
  includes/html/pages/device/health.inc.php
  includes/html/pages/device/health/qfp.inc.php
  includes/polling/cisco-qfp.inc.php
  misc/os_schema.json
  tests/data/iosxe.json
  tests/snmpsim/iosxe.snmprec
Labels: Device :desktop_computer:

#10651 Store config data serialized
  LibreNMS/Config.php
  app/Models/Config.php
  database/migrations/2019_10_03_211702_serialize_config.php
  database/seeds/DefaultConfigSeeder.php
  includes/html/forms/config-item-update.inc.php
  includes/html/forms/update-config-item.inc.php
  includes/html/functions.inc.php
  tests/ConfigTest.php
Labels: Refactor

#10646 Added Teltonika Rutos-2xx wireless sensors
  LibreNMS/OS/Rutos2xx.php
  tests/data/rutos-2xx.json
  tests/snmpsim/rutos-2xx.snmprec
Labels: Device :desktop_computer:

#10656 Optimize logo sizes
  html/images/logos/alpha.png
  html/images/logos/alvarion.png
  html/images/logos/arraynetworks.png
  html/images/logos/atal.png
  html/images/logos/ats.png
  html/images/logos/bcn.png
  html/images/logos/ccpower.png
  html/images/logos/chatsworth.png
  html/images/logos/cirpack.png
  html/images/logos/corero.png
  html/images/logos/cradlepoint.png
  html/images/logos/ctm.png
  html/images/logos/cyberoam.png
  html/images/logos/dahua.png
  html/images/logos/digipower.png
  html/images/logos/dpstelecom.png
  html/images/logos/dragonwave.png
  html/images/logos/eltek.png
  html/images/logos/eltex.png
  html/images/logos/enlogic.png
  html/images/logos/etherwan.png
  html/images/logos/exalt.png
  html/images/logos/exinda.png
  html/images/logos/extrahop.png
  html/images/logos/geist.png
  html/images/logos/grandstream.png
  html/images/logos/ict.png
  html/images/logos/ignitenet.png
  html/images/logos/infinera.png
  html/images/logos/ionodes.png
  html/images/logos/logmaster.png
  html/images/logos/maipu.png
  html/images/logos/netmodule.png
  html/images/logos/omnitron.png
  html/images/logos/openaccess.png
  html/images/logos/packetflux.png
  html/images/logos/packetlight.png
  html/images/logos/panduit.png
  html/images/logos/patton.png
  html/images/logos/protelevision.png
  html/images/logos/ruijie.png
  html/images/logos/sensatronics.png
  html/images/logos/siae.png
  html/images/logos/sixnet.png
  html/images/logos/sophos.png
  html/images/logos/teradici.png
  html/images/logos/tsc.png
  html/images/logos/tyconsystems.png
  html/images/logos/unitrends.png
  html/images/logos/vertiv.png
  html/images/logos/zhone.png
Labels: Cleanup

#10657 Optimize docs picture size
  doc/Extensions/Network-Map.md
  doc/Extensions/Weathermap.md
  doc/img/Enable_application_module.png
  doc/img/Enable_applications.png
  doc/img/carelpcowebsystemoid.png
  doc/img/device_groups.png
  doc/img/example-dashboard.png
  doc/img/example-embed-website.png
  doc/img/librenms-distributed-diagram.png
  doc/img/network-weather-map.PNG
  doc/img/network-weather-map.png
  doc/img/network-weathermap-dashboard.png
  doc/img/networkmap.PNG
  doc/img/networkmap.png
  doc/img/port-bits-graph.png
  doc/img/varnish_block.png
  doc/img/webui_add_device.png
Labels: Cleanup

#10654 Remove default temp dir already set in LibreNMS/Config.php
  includes/defaults.inc.php
Labels: Bug :beetle:

#10662 Update SNMP-Configuration-Examples.md
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#10667 Fix DSM DS916 test snmp data
  tests/snmpsim/dsm_ds916.snmprec
Labels: Ignore changelog :mute:

#10617 Add support RedLion N-Tron 714FX6 industrial switch
  html/images/os/redlion.png
  includes/definitions/ntron.yaml
  mibs/redlion/NTRON714FX6-MIB
  misc/os_schema.json
  tests/data/ntron.json
  tests/snmpsim/ntron.snmprec
Labels: Device :desktop_computer:

#10675 Rename RutOS 2xx pinState state sensor to avoid conflict
  includes/definitions/discovery/rutos-2xx.yaml
  misc/notifications.rss
  tests/data/rutos-2xx.json
Labels: Bug :beetle:, Device :desktop_computer:

#10679 Fix junose test data non-incrementing
  tests/snmpsim/junose.snmprec
Labels: Ignore changelog :mute:

#10692 Fix duplicate ping response causing false down
  includes/functions.php
  tests/FpingTest.php
Labels: Bug :beetle:, Polling

#10681 Remove update=0 in distributed poller docs
  doc/Extensions/Distributed-Poller.md
Labels: Documentation :book:

#10699 Fix issue when non-existent plugin is enabled
  LibreNMS/Plugins.php
Labels: Bug :beetle:

#10695 Update Slack.php add emoji and username support
  LibreNMS/Alert/Transport/Slack.php
Labels: Alerting :bell:

#10698 Update includes/polling/os/unix.inc.php to detect aarch64/ARM64/ARMv8
  includes/polling/os/unix.inc.php
Labels: Polling

#10687 Fix maps display only one link if multiple links are present between devices.
  includes/html/print-map.inc.php
Labels: WebUI

#10700 Fix ldap groups not being overridden
  misc/config_definitions.json
Labels: Bug :beetle:, Ignore changelog :mute:

#10648 Implement Oxidized "config search" as an API
  doc/API/Devices.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#10705 Restore base_url base tag
  resources/views/layouts/librenmsv1.blade.php
Labels: Bug :beetle:, WebUI

#10706 Fix oxidized
  includes/html/pages/device/showconfig.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:, Oxidized, WebUI

#10708 Fix mini graph order
  misc/config_definitions.json
Labels: Bug :beetle:, Graphs, Ignore changelog :mute:, WebUI

#10534 Add lnms commands to get and set config settings
  LibreNMS/Config.php
  LibreNMS/Util/DynamicConfigItem.php
  app/Console/Commands/GetConfigCommand.php
  app/Console/Commands/SetConfigCommand.php
  app/Console/LnmsCommand.php
  app/Http/Controllers/SettingsController.php
  app/Models/Config.php
  resources/lang/en/commands.php
Labels: Feature

#10710 Smokeping config syntax fix
  doc/Extensions/Smokeping.md
Labels: Documentation :book:

#10711 Add distributed polling config settings
  app/Console/Commands/SetConfigCommand.php
  html/js/app.js
  misc/config_definitions.json
  resources/lang/en/settings.php
  resources/views/settings/index.blade.php
Labels: WebUI

#10719 Allow different config sources to completely override a setting from the previous
  LibreNMS/Config.php
Labels: Bug :beetle:, Ignore changelog :mute:

#10709 Fix service overview
  includes/html/pages/device/overview/services.inc.php
Labels: WebUI

#10652 api: add hostname search for list_devices function
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API

#10707 Include setting nfsen binary path in NfSen docs
  doc/Extensions/NFSen.md
Labels: Documentation :book:

#10616 Improved RARITAN PDU/PDU2 MIB (current, power) and external env. sensors
  includes/discovery/sensors/current/raritan-pdu.inc.php
  includes/discovery/sensors/humidity/raritan-pdu.inc.php
  includes/discovery/sensors/power/raritan-pdu.inc.php
  includes/discovery/sensors/temperature/raritan-pdu.inc.php
  tests/data/raritan-pdu.json
  tests/snmpsim/raritan-pdu.snmprec
Labels: Device :desktop_computer:

#10641 Add sysObjectID for Riello netman 204 firmware 02.17
  includes/definitions/riello.yaml
  tests/snmpsim/riello_new.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#10723 Validate config schema, add types to all
  LibreNMS/Util/DynamicConfigItem.php
  html/js/app.js
  includes/defaults.inc.php
  includes/definitions.inc.php
  includes/html/graphs/common.inc.php
  includes/html/graphs/multiport/bits_duo.inc.php
  includes/html/graphs/multiport/bits_trio.inc.php
  misc/config_definitions.json
  misc/config_schema.json
  resources/lang/en/settings.php
  resources/views/settings/index.blade.php
  tests/YamlTest.php
Labels: Refactor

#10714 Update Transition Networks support
  includes/polling/os/transition.inc.php
  tests/data/transition.json
  tests/snmpsim/transition.snmprec
Labels: Device :desktop_computer:

#10715 Add memcached to DS-docs
  doc/Extensions/Dispatcher-Service.md
Labels: Documentation :book:

#10644 Add CISCO-IF-EXTENSION port stats for IOS/IOS-XE
  includes/html/graphs/port/cie.inc.php
  includes/html/pages/device/port/graphs.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/cisco-if-extension.inc.php
  mibs/cisco/CISCO-IF-EXTENSION-MIB
Labels: Device :desktop_computer:

#10595 Markdown linting of docs
  .github/ISSUE_TEMPLATE/New-Device.md
  README.md
  doc/API/Routing.md
  doc/Alerting/Creating-Transport.md
  doc/Alerting/Introduction.md
  doc/Alerting/Old_Templates.md
  doc/Alerting/Transports.md
  doc/Alerting/index.md
  doc/Developing/Code-Structure.md
  doc/Developing/Creating-Documentation.md
  doc/Developing/Getting-Started.md
  doc/Developing/Style-Guidelines.md
  doc/Developing/Validating-Code.md
  doc/Developing/os/Health-Information.md
  doc/Developing/os/Initial-Detection.md
  doc/Developing/os/Settings.md
  doc/Developing/os/Test-Units.md
  doc/Extensions/Agent-Setup.md
  doc/Extensions/Applications.md
  doc/Extensions/Authentication.md
  doc/Extensions/IRC-Bot.md
  doc/Extensions/NFSen.md
  doc/Extensions/Sub-Directory.md
  doc/Extensions/Syslog.md
  doc/General/Changelogs/2016.md
  doc/General/Changelogs/2017.md
  doc/General/Changelogs/2018.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-Ubuntu-1404-Apache.md
  doc/Installation/Installation-Ubuntu-1404-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  doc/Installation/index.md
  doc/Support/Configuration.md
  doc/Support/Device-Notes/index.md
  doc/Support/Example-Hardware-Setup.md
  doc/Support/FAQ.md
  doc/Support/Poller Support.md
  doc/Support/SNMP-Configuration-Examples.md
  doc/Support/SSL-Configuration.md
  tests/snmpsim/README.md
Labels: Cleanup

#10684 Fix incorrect url in Alerta transport
  LibreNMS/Alert/Transport/Alerta.php
Labels: Alerting :bell:

#10721 Add support for Illustra network cameras
  html/images/logos/illustra.png
  html/images/os/illustra.png
  includes/definitions/illustra.yaml
  includes/polling/os/illustra.inc.php
  tests/data/illustra.json
  tests/snmpsim/illustra.snmprec
Labels: Device :desktop_computer:

#10668 Added NetApp E2700 Discovery
  includes/definitions/netapp.yaml
  tests/data/netapp_e2700.json
  tests/snmpsim/netapp_e2700.snmprec
Labels: Device :desktop_computer:

#10630 Removed double Stack Temperature Discovery and Fixed typos in dbm discovery for Dell Switches
  includes/definitions/discovery/dnos.yaml
  includes/discovery/sensors/temperature/dnos.inc.php
  includes/polling/mempools/dell-net.inc.php
  tests/data/dnos.json
  tests/data/dnos_s4048.json
  tests/snmpsim/dnos_s4048.snmprec
Labels: Device :desktop_computer:

#10727 Update manual to right path
  doc/Support/1-Minute-Polling.md
Labels: Documentation :book:

#10726 Support cellular RSSI on IOS XE
  LibreNMS/OS/Ios.php
  LibreNMS/OS/Iosxe.php
  LibreNMS/OS/Traits/CiscoCellular.php
Labels: Device :desktop_computer:

#10728 Remove function report_this_text()
  includes/html/functions.inc.php
  includes/snmp.inc.php
Labels: Cleanup

#10262 If dot1qVlanCurrentTable doesn't exist try dot1qVlanStaticTable
  includes/discovery/vlans/q-bridge-mib.inc.php
  tests/data/comware_a5500.json
  tests/snmpsim/comware_a5500.snmprec
Labels: Discovery, Refactor

#10731 Fix setting smtp server
  LibreNMS/Util/DynamicConfigItem.php
  misc/config_definitions.json
Labels: Bug :beetle:, Ignore changelog :mute:

#10634 Added support for drac power and current polling
  includes/definitions/discovery/drac.yaml
  tests/data/drac.json
  tests/snmpsim/drac.snmprec
Labels: Device :desktop_computer:

#10730 Device Url: return directly if user doesn't have access
  LibreNMS/Util/Url.php
Labels: Refactor

#10465 Seafile Server Monitoring
  doc/Extensions/Applications.md
  includes/html/functions.inc.php
  includes/html/graphs/application/seafile-common.inc.php
  includes/html/graphs/application/seafile_connected.inc.php
  includes/html/graphs/application/seafile_enabled.inc.php
  includes/html/graphs/application/seafile_groups.inc.php
  includes/html/graphs/application/seafile_libraries.inc.php
  includes/html/graphs/application/seafile_platform.inc.php
  includes/html/graphs/application/seafile_size_consumption.inc.php
  includes/html/graphs/application/seafile_trashed_libraries.inc.php
  includes/html/graphs/application/seafile_version.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/seafile.inc.php
  includes/polling/applications/seafile.inc.php
  tests/data/linux_seafile-v1.json
  tests/snmpsim/linux_seafile-v1.snmprec
Labels: Applications :floppy_disk:

#10515 Add new discovery patterns in edgeswitch.yaml
  includes/definitions/edgeswitch.yaml
  tests/snmpsim/edgeswitch_linux.snmprec
  tests/snmpsim/edgeswitch_us48-pro.snmprec
  tests/snmpsim/edgeswitch_usw-24p-250.snmprec
  tests/snmpsim/edgeswitch_usw-5-flex.snmprec
Labels: Device :desktop_computer:

#10733 Use Mix built in cache busting
  html/css/app.css
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/mix-manifest.json
  resources/views/settings/index.blade.php
  resources/views/vue.blade.php
  webpack.mix.js
Labels: Refactor, WebUI

#10732 Always sort indexes in dump_db_schema
  includes/functions.php
  misc/db_schema.yaml
Labels: Cleanup

#10738 Additional config schema definition
  misc/config_definitions.json
  misc/config_schema.json
Labels: Ignore changelog :mute:

#10741 Add missing import
  LibreNMS/Alert/Transport/Alerta.php
Labels: Bug :beetle:, Ignore changelog :mute:

#10742 Fix broken Graylog link
  includes/html/pages/device/overview/graylog.inc.php
Labels: WebUI

#10747 Alerts - Add features + serial in alerts-> table
  LibreNMS/Alert/RunAlerts.php
  doc/Alerting/Templates.md
Labels: Alerting :bell:

#10740 Add Graylog settings
  LibreNMS/Util/DynamicConfig.php
  app/Http/Controllers/SettingsController.php
  html/js/app.js
  html/js/vendor.js
  html/mix-manifest.json
  misc/config_definitions.json
  resources/js/components/LibrenmsSetting.vue
  resources/js/components/LibrenmsSettings.vue
  resources/js/components/SettingInteger.vue
  resources/lang/en/settings.php
  resources/views/settings/index.blade.php
Labels: WebUI

#10750 Typo in routes/web.php
  routes/web.php
Labels: Bug :beetle:

#10755 Revert "Fix maps display only one link if multiple links are present between devices."
  includes/html/print-map.inc.php
Labels: Ignore changelog :mute:

#10754 Remove default 'temp_dir' value '/tmp'
  misc/config_definitions.json
Labels: Bug :beetle:

#10761 Additional release notes categories
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10756 Adding more default values to config_definitions
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: WebUI

#10762 Fix mydomain setting regex
  misc/config_definitions.json
Labels: Bug :beetle:
