Repository librenms/librenms, pull requests merged in 2019-09, with the labels that each got.

#10574 Tests bug - Reorder storage tests after 'order_by' statement
  tests/data/arbos.json
  tests/data/awplus.json
  tests/data/cumulus_edgecore-as4610-54p.json
  tests/data/dell-os10.json
  tests/data/intelliflash.json
  tests/data/konica.json
  tests/data/pfsense.json
  tests/data/solidserver.json
  tests/data/sonus-sbc.json
  tests/data/sslvis.json
Labels: Bug :beetle:, Ignore changelog :mute:

#10573 Show a hint that trend line exists
  includes/html/pages/graphs.inc.php
Labels: WebUI

#10567 Fix testing fping output when the LibreNMS user doesn't have a valid …
  LibreNMS/Validator.php
Labels: Bug :beetle:

#10512 Add inbit and outbit rate to auxiliary datastores.
  includes/polling/ports.inc.php
Labels: Needs Testing

#10572 Added basic state details for Infoblox NIOS
  includes/definitions/discovery/nios.yaml
  mibs/infoblox/IB-PLATFORMONE-MIB
  tests/data/nios.json
  tests/snmpsim/nios.snmprec
Labels: Device :desktop_computer:

#10571 Added Additional support for Dell CMC
  includes/definitions/discovery/drac.yaml
  mibs/dell/DELL-RAC-MIB
  tests/data/drac.json
  tests/snmpsim/drac.snmprec
Labels: Device :desktop_computer:

#10575 docs: Updated Fast-Ping-Check documentation for distributed pollers
  doc/Extensions/Fast-Ping-Check.md
Labels: Documentation :book:

#10566 Fix ericsson MINI LINK wifi sensors
  LibreNMS/OS/EricssonMl.php
  includes/definitions/discovery/ericsson-ml.yaml
  mibs/ericsson/MINI-LINK-MIB
  tests/data/ericsson-ml.json
  tests/snmpsim/ericsson-ml.snmprec
Labels: Device :desktop_computer:

#10578 Update fr.json
  resources/lang/fr.json
  resources/lang/fr/preferences.php
Labels: Translation

#10559 Move Authlog to Laravel
  app/Http/Controllers/UserController.php
  app/Models/AuthLog.php
  includes/html/pages/authlog.inc.php
  resources/views/user/authlog.blade.php
  routes/web.php
Labels: WebUI

#10565 Catch exceptions generated by alert transports
  LibreNMS/Alert/RunAlerts.php
Labels: Alerting :bell:, Bug :beetle:

#10562 Add more Vigor series device support
  AUTHORS.md
  includes/definitions/draytek.yaml
  tests/snmpsim/draytek_vigor3900.snmprec
Labels: Device :desktop_computer:

#10495 Add LINE Notify Alert Transport.
  LibreNMS/Alert/Transport/Linenotify.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#10581 Added linear prediction how-to
  doc/Support/FAQ.md
Labels: Documentation :book:

#10580 Fix documentation TOC
  mkdocs.yml
Labels: Documentation :book:

#10583 Graylog fix query with multiple items
  app/ApiClients/GraylogApi.php
Labels: Bug :beetle:

#10579 Update zh-TW.json for authlog page
  resources/lang/zh-TW.json
Labels: Translation

#10586 French translation
  resources/lang/fr.json
  resources/lang/fr/sensors.php
  resources/lang/fr/validation.php
  resources/lang/fr/wireless.php
Labels: Translation

#10587 Use more distinct HTML div element ids when listing alerts in tables
  includes/html/table/alerts.inc.php
Labels: Bug :beetle:, WebUI

#10590 geographical map fix for "normal user"
  includes/html/common/worldmap.inc.php
Labels: Bug :beetle:

#10577 more documentation clean up
  doc/Extensions/Agent-Setup.md
  doc/Extensions/Applications.md
  doc/Extensions/Authentication.md
  doc/Extensions/Auto-Discovery.md
  doc/Extensions/Billing-Module.md
  doc/Extensions/Component.md
  doc/Extensions/Customizing-the-Web-UI.md
  doc/Extensions/Dashboards.md
  doc/Extensions/Dell-OpenManage.md
  doc/Extensions/Device-Groups.md
  doc/Extensions/Dispatcher-Service.md
  doc/Extensions/Distributed-Poller.md
  doc/Extensions/Fast-Ping-Check.md
  doc/Extensions/Gateone.md
  doc/Extensions/Graylog.md
  doc/Extensions/IRC-Bot-Extensions.md
  doc/Extensions/IRC-Bot.md
  doc/Extensions/Interface-Description-Parsing.md
  doc/Extensions/MIB-based-polling.md
  doc/Extensions/Metric-Storage.md
  doc/Extensions/Network-Map.md
  doc/Extensions/Oxidized.md
  doc/Extensions/PeeringDB.md
  doc/Extensions/Plugin-System.md
  doc/Extensions/Proxmox.md
  doc/Extensions/RRDCached-Security.md
  doc/Extensions/RRDCached.md
  doc/Extensions/RRDTune.md
  doc/Extensions/Rancid.md
  doc/Extensions/SNMP-Proxy.md
  doc/Extensions/SNMP-Trap-Handler.md
  doc/Extensions/Services.md
  doc/Extensions/Smokeping.md
  doc/Extensions/Sub-Directory.md
  doc/Extensions/Syslog.md
  doc/Extensions/Two-Factor-Auth.md
  doc/Extensions/Varnish.md
  doc/Extensions/Weathermap.md
  doc/Extensions/World-Map.md
  doc/Extensions/metrics/OpenTSDB.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1404-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
Labels: Cleanup, Documentation :book:

#10584 adding german language support
  resources/lang/de.json
  resources/lang/de/auth.php
  resources/lang/de/commands.php
  resources/lang/de/pagination.php
  resources/lang/de/passwords.php
  resources/lang/de/preferences.php
  resources/lang/de/sensors.php
  resources/lang/de/syslog.php
  resources/lang/de/validation.php
  resources/lang/de/wireless.php
Labels: Translation

#10589 Add index to notifications_attribs to resolve poor performance on mysql 5.7
  database/migrations/2019_09_05_153524_create_notifications_attribs_index.php
  misc/db_schema.yaml
Labels: Bug :beetle:, Schema

#10599 Fixed foreach loop throwing errors when no vlans present
  includes/discovery/vlans/junos.inc.php
Labels: Bug :beetle:, Discovery, Needs Testing

#10556 Extended 'port previous' graphs
  includes/html/graphs/device/ping_perf.inc.php
  includes/html/graphs/device/poller_perf.inc.php
  includes/html/graphs/generic_data.inc.php
  includes/html/graphs/generic_multi_seperated.inc.php
  includes/html/graphs/global/poller_modules_perf.inc.php
  includes/html/graphs/global/poller_perf.inc.php
Labels: Graphs

#10604 fix enexus battery remain time limits
  includes/definitions/discovery/enexus.yaml
  tests/data/enexus.json
  tests/data/enexus_smartpacks.json
  tests/data/enexus_smartpacks2.json
Labels: Device :desktop_computer:, Ignore changelog :mute:

#10606 fix wrong formatting of runtime sensor value
  includes/html/functions.inc.php
  includes/html/pages/device/overview/generic/sensor.inc.php
Labels: WebUI

#10611 sensors sometime not clean up
  includes/discovery/functions.inc.php
Labels: Bug :beetle:, Discovery

#10608 AeroHive OS Wirelless Noise Floor Fix
  LibreNMS/OS/HiveosWireless.php
  tests/data/hiveos-wireless.json
  tests/data/hiveos-wireless_650ax.json
  tests/data/hiveos-wireless_ap130.json
  tests/snmpsim/hiveos-wireless_650ax.snmprec
Labels: Device :desktop_computer:

#10523 MPLS only poll if records exist
  LibreNMS/Modules/Mpls.php
Labels: Polling

#10477 Improve CentOS 7 install instructions
  doc/Installation/Installation-CentOS-7-Apache.md
Labels: Documentation :book:

#10615 Fix timeout typo in apiclients
  app/ApiClients/BaseApi.php
Labels: Bug :beetle:

#10527 List ungrouped devices on group management page
  app/Http/Controllers/DeviceGroupController.php
  resources/views/device-group/index.blade.php
Labels: WebUI

#10609 Add procedure URL to alert templates
  LibreNMS/Alert/RunAlerts.php
  doc/Alerting/Templates.md
Labels: Alerting :bell:

#10619 Web UI: Fix port URLs on minimaps page
  includes/html/pages/device/ports.inc.php
Labels: Bug :beetle:

#10521 Fix creating device groups issue
  LibreNMS/DB/Schema.php
Labels: Bug :beetle:

#10392 Allow OS to define config highlighting (pfSense)
  includes/definitions/pfsense.yaml
  includes/html/pages/device/showconfig.inc.php
  misc/os_schema.json
Labels: User-Pending, WebUI

#10623 Support VIOS which use a different string:
  includes/polling/os/unix.inc.php
  tests/data/aix_vios.json
  tests/snmpsim/aix_vios.snmprec
Labels: Device :desktop_computer:

#10607 Storage RRD - descriptionlength fix - percent column fix
  includes/html/graphs/device/storage.inc.php
  includes/html/graphs/storage/usage.inc.php
Labels: Graphs

#10633 replaced description by ifAlias to fix the sort on Description
  includes/html/pages/ports/list.inc.php
  includes/html/table/ports.inc.php
Labels: Bug :beetle:

#10632 Fix LibreNMS Logo SVG missing i sometimes
  html/images/librenms_logo_blue.svg
  html/images/librenms_logo_dark.svg
  html/images/librenms_logo_light.svg
  html/images/librenms_logo_mono.svg
Labels: WebUI

#10622 discovery: Added Cisco QFP processor
  LibreNMS/OS/Shared/Cisco.php
  tests/data/iosxe.json
  tests/snmpsim/iosxe.snmprec
Labels: Device :desktop_computer:

#10631 Asterisk Doc Improvements
  doc/Extensions/Applications.md
Labels: Documentation :book:

#10525 Add EdgeCore ECS4110-28T Support
  LibreNMS/OS/Edgecos.php
  includes/definitions/edgecos.yaml
  includes/discovery/mempools/edgecos.inc.php
  includes/polling/mempools/edgecos.inc.php
  includes/polling/os/edgecos.inc.php
  mibs/edgecos/ECS4110-MIB
  tests/data/edgecos_ecs4110-28t.json
  tests/snmpsim/edgecos_ecs4110-28t.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:, User-Pending

#10626 webui: Device overview - group utilization per processor type
  includes/html/pages/device/overview/processors.inc.php
Labels: WebUI

#10638 Fix: Remove ambiguity in Component filter query
  LibreNMS/Component.php
Labels: Bug :beetle:

#10639 Add example for EdgeOs Ubiquiti
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#10640 French translation minor update
  resources/lang/fr.json
Labels: Translation

#10628 add support for per-OS SNMP max repeaters configuration file setting.
  includes/snmp.inc.php
Labels: Polling

#10635 use testing database for capturing test data
  scripts/save-test-data.php
Labels: Ignore changelog :mute:
