Repository librenms/librenms, pull requests merged in 2019-05, with the labels that each got.

#10113 Realtime graph handle snmp server caching
  html/data.php
  html/graph-realtime.php
Labels: WebUI

#10176 Fix Raspberry Pi frequency, voltage and state sensors discovery
  includes/discovery/sensors/pre-cache/linux.inc.php
  tests/data/linux_raspberrypi.json
  tests/snmpsim/linux_raspberrypi.snmprec
Labels: Bug :beetle:, Device :desktop_computer:, Discovery

#10163 Fixed Avtech discovery
  includes/definitions/discovery/avtech.yaml
  includes/discovery/sensors/pre-cache/avtech.inc.php
  mibs/avtech/ROOMALERT4E.MIB
  tests/data/avtech_roomalert4e.json
  tests/snmpsim/avtech_roomalert4e.snmprec
Labels: Device :desktop_computer:

#10177 Added additional generic SNMP trap handlers
  LibreNMS/Snmptrap/Handlers/BridgeNewRoot.php
  LibreNMS/Snmptrap/Handlers/BridgeTopologyChanged.php
  LibreNMS/Snmptrap/Handlers/ColdBoot.php
  LibreNMS/Snmptrap/Handlers/EntityDatabaseConfigChanged.php
  config/snmptraps.php
  tests/Feature/SnmpTraps/CommonTrapTest.php
Labels: Feature

#10193 Fix alerting docs redirect
  doc/Extensions/Alerting.md
Labels: Documentation :book:

#10198 Ignore empty IPv4 addresses in discovery on buggy devices
  includes/discovery/ipv4-addresses.inc.php
Labels: Bug :beetle:

#10200 Fix state sensors on device health page showing always as OK (green)
  includes/html/pages/device/health/sensors.inc.php
Labels: Bug :beetle:

#10201 Add support for PoE state sensor on Mikrotik devices
  includes/definitions/discovery/routeros.yaml
  tests/data/routeros.json
Labels: Device :desktop_computer:

#10197 Fix: netstats-udp, tcp and ip rrd's not updating
  includes/polling/netstats/netstats-ip.inc.php
  includes/polling/netstats/netstats-tcp.inc.php
  includes/polling/netstats/netstats-udp.inc.php
Labels: Bug :beetle:

#10195 Move container to page in blade tempates
  resources/views/auth/2fa.blade.php
  resources/views/auth/external-auth-failed.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/public-status.blade.php
  resources/views/home.blade.php
  resources/views/laravel.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/locations.blade.php
  resources/views/user/create.blade.php
  resources/views/user/edit.blade.php
  resources/views/user/index.blade.php
  resources/views/welcome.blade.php
Labels: WebUI

#10183 Fortigate sessions sensors
  includes/discovery/sensors/count/fortigate.inc.php
  tests/data/fortigate.json
  tests/data/fortigate_1500d.json
  tests/snmpsim/fortigate_1500d.snmprec
Labels: Device :desktop_computer:

#10208 Fix missing container in legacy page blade
  resources/views/layouts/legacy_page.blade.php
Labels: Bug :beetle:

#10209 Update legacy_api_v0.php
  includes/html/legacy_api_v0.php
Labels: API, Bug :beetle:

#10206 OSPF improvements - 2nd attempt
  includes/html/pages/device/routing/ospf.inc.php
Labels: WebUI

#10125 API Fix error when no fdb are found
  app/Models/Device.php
  includes/html/api_functions.inc.php
Labels: API

#10215 Fix location missing from API device list
  includes/html/api_functions.inc.php
Labels: API, Bug :beetle:

#10214 Fix device location menu links
  app/Http/ViewComposers/MenuComposer.php
  resources/views/layouts/menu.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#9954 NEW OS Aruba Instant
  LibreNMS/OS/ArubaInstant.php
  LibreNMS/Util/Rewrite.php
  includes/definitions/aruba-instant.yaml
  includes/definitions/arubaos.yaml
  includes/discovery/entity-physical/entity-physical.inc.php
  includes/discovery/mempools/aruba-instant.inc.php
  includes/discovery/sensors/state/aruba-instant.inc.php
  includes/polling/mempools/aruba-instant.inc.php
  includes/polling/os/aruba-instant.inc.php
  mibs/arubaos/AI-AP-MIB
  tests/data/aruba-instant.json
  tests/data/aruba-instant_105.json
  tests/snmpsim/aruba-instant.snmprec
  tests/snmpsim/aruba-instant_105.snmprec
  tests/snmpsim/arubaos.snmprec
Labels: Device :desktop_computer:

#10216 Order device group menu by name
  app/Http/ViewComposers/MenuComposer.php
Labels: Bug :beetle:, WebUI

#10220 Fix device types and locations order
  app/Http/ViewComposers/MenuComposer.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#10222 Fix plugins menu
  LibreNMS/Plugins.php
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/port/plugins.inc.php
  resources/views/layouts/menu.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#10224 Restore toner menu
  LibreNMS/Util/ObjectCache.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#10217 Release script updates
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10191 Update Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Apache.md
Labels: Documentation :book:, Ignore changelog :mute:

#10223 SMS Eagle reduce chances of user mis-configuration
  LibreNMS/Alert/Transport/Smseagle.php
Labels: Alerting :bell:

#9733 Initial detection for huawei gpon MDU
  includes/definitions/smartax-mdu.yaml
  tests/data/smartax-mdu.json
  tests/snmpsim/smartax-mdu.snmprec
Labels: Device :desktop_computer:

#10233 Disable browser autocomplete dropdown for global search
  resources/views/layouts/menu.blade.php
Labels: WebUI

#10234 Add support for ZyNOS MGS switches
  includes/definitions/zynos.yaml
  mibs/zyxel/ZYXEL-MGS3712-MIB
  tests/data/zynos_mgs3712.json
  tests/snmpsim/zynos_mgs3712.snmprec
Labels: Device :desktop_computer:

#9516 Added Wireless discovery to Huawei Vrp
  LibreNMS/OS.php
  LibreNMS/OS/Vrp.php
  includes/definitions/discovery/vrp.yaml
  includes/polling/os/vrp.inc.php
  mibs/huawei/HUAWEI-WLAN-AP-MIB
  mibs/huawei/HUAWEI-WLAN-AP-RADIO-MIB
  mibs/huawei/HUAWEI-WLAN-AP-SERVICE-MIB
  mibs/huawei/HUAWEI-WLAN-AP-UPDATE-MIB
  mibs/huawei/HUAWEI-WLAN-CAPWAP-MIB
  mibs/huawei/HUAWEI-WLAN-CONFIGURATION-MIB
  mibs/huawei/HUAWEI-WLAN-GLOBAL-MIB
  mibs/huawei/HUAWEI-WLAN-MIB
  mibs/huawei/HUAWEI-WLAN-NPE-MIB
  mibs/huawei/HUAWEI-WLAN-SAC-MIB
  mibs/huawei/HUAWEI-WLAN-STATION-MIB
  mibs/huawei/HUAWEI-WLAN-VAP-MIB
  mibs/huawei/HUAWEI-WLAN-WIDS-SERVICE-MIB
  tests/data/vrp_ac6605-26.json
  tests/snmpsim/vrp_ac6605-26.snmprec
Labels: Device :desktop_computer:

#10235 Fix Siklu Version/Serial
  includes/polling/os/siklu.inc.php
  tests/data/siklu.json
  tests/snmpsim/siklu.snmprec
Labels: Device :desktop_computer:

#10230 Try to make port counts match user expectations
  LibreNMS/Util/ObjectCache.php
  app/Models/Port.php
Labels: Bug :beetle:, WebUI

#10236 Typo in oxidized.inc.php
  includes/html/pages/oxidized.inc.php
Labels: Documentation :book:, Ignore changelog :mute:

#10210 Collect Appliance serial number from Sophos device
  includes/polling/os/cyberoam-utm.inc.php
  tests/data/cyberoam-utm.json
  tests/snmpsim/cyberoam-utm.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#10103 Netscaler vservers table update
  includes/html/pages/device/loadbalancer/netscaler_vsvr.inc.php
Labels: WebUI

#10050 Python dispatcher service v2
  LibreNMS/__init__.py
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  doc/Extensions/Dispatcher-Service.md
  doc/Extensions/Poller-Service.md
  misc/notifications.rss
  mkdocs.yml
  requirements.txt
  tests/tests.py
Labels: Needs-Notification, Service

#10227 Use Laravel url helpers to improve functionality without dns name
  LibreNMS/Util/Url.php
  app/Http/Controllers/Table/DeviceController.php
  html/js/librenms.js
  includes/html/common/eventlog.inc.php
  includes/html/common/graylog.inc.php
  includes/html/common/syslog.inc.php
  includes/html/pages/about.inc.php
  includes/html/pages/customers.inc.php
  includes/html/pages/device/nac.inc.php
  includes/html/pages/device/port/fdb.inc.php
  includes/html/pages/device/ports/fdb.inc.php
  includes/html/pages/devices.inc.php
  includes/html/pages/eventlog.inc.php
  includes/html/pages/front/tiles.php
  includes/html/pages/search/fdb.inc.php
  includes/html/pages/syslog.inc.php
  resources/views/auth/2fa.blade.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/locations.blade.php
  resources/views/widgets/eventlog.blade.php
  resources/views/widgets/graylog.blade.php
  resources/views/widgets/syslog.blade.php
Labels: WebUI

#10240 Fix docs tests
  tests/DocsTest.php
Labels: Documentation :book:, Ignore changelog :mute:

#10158 Fixed Cisco MAC accounting discovery, polling and HTML templates.
  LibreNMS/Util/ModuleTestHelper.php
  includes/discovery/cisco-mac-accounting.inc.php
  includes/html/graphs/port/mac_acc_total.inc.php
  includes/html/pages/device/port/macaccounting.inc.php
  includes/polling/cisco-mac-accounting.inc.php
  tests/data/ios.json
  tests/data/iosxr.json
  tests/module_tables.yaml
  tests/snmpsim/ios.snmprec
  tests/snmpsim/iosxr.snmprec
Labels: Bug :beetle:

#10241 More url helper fixes
  LibreNMS/Util/Laravel.php
  LibreNMS/Util/Url.php
  includes/functions.php
  includes/html/pages/front/tiles.php
  resources/views/layouts/menu.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#10250 Fix power consumption detection on Dell servers
  includes/discovery/sensors/power/dell.inc.php
Labels: Device :desktop_computer:

#10254 Fix device overview port counts
  includes/html/pages/device/overview/ports.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:, WebUI

#10247 Fix device groups showing multiple times
  LibreNMS/Permissions.php
  app/Models/DeviceGroup.php
Labels: Bug :beetle:, WebUI

#10246 WebUI: Netscaler vsvr - fixed wrong table colspan
  includes/html/pages/device/loadbalancer/netscaler_vsvr.inc.php
Labels: WebUI

#10204 User configurable locale (language)
  LibreNMS/Authentication/TwoFactor.php
  app/Http/Controllers/Auth/TwoFactorController.php
  app/Http/Controllers/UserController.php
  app/Http/Controllers/UserPreferencesController.php
  app/Http/Kernel.php
  app/Http/Middleware/DenyDemoUser.php
  app/Http/Middleware/SetLocale.php
  app/Http/Requests/UpdateUserRequest.php
  config/app.php
  includes/html/pages/preferences.inc.php
  resources/views/auth/deny-demo.blade.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/user/form.blade.php
  resources/views/user/preferences.blade.php
  routes/web.php
Labels: Feature, WebUI

#10231 ArubaOS - fix client count polling, add ap count polling.
  LibreNMS/OS/Arubaos.php
  includes/definitions/arubaos.yaml
  misc/alert_rules.json
  tests/data/arubaos.json
  tests/data/arubaos_aosw.json
  tests/data/arubaos_aruba7210.json
  tests/data/arubaos_powerconnect.json
Labels: Device :desktop_computer:

#10260 Fix can't set poller group on ping only device
  includes/html/pages/device/edit/snmp.inc.php
Labels: Bug :beetle:, WebUI

#10255 Add snmp traps to the changelog
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10152 Update to planetos.inc.php for ISG-* models
  includes/polling/os/planetos.inc.php
  tests/data/planetos_igs-10020mt.json
  tests/snmpsim/planetos_igs-10020mt.snmprec
Labels: Device :desktop_computer:

#10046 Updated OS (ftd) for Cisco FirePOWER devices
  includes/definitions/ftd.yaml
  tests/data/ftd.json
  tests/snmpsim/ftd.snmprec
Labels: Device :desktop_computer:

#10259 Dispatcher Service: ping and services did not respect assigned poller groups
  LibreNMS/queuemanager.py
Labels: Service

#10202 Added aggregate config option to Billing 95th percentile calculations
  billing-calculate.php
  doc/Extensions/Billing-Module.md
  includes/billing.php
  includes/html/modal/new_bill.inc.php
  includes/html/pages/bill/actions.inc.php
  includes/html/pages/bill/addoreditbill.inc.php
  includes/html/pages/bills.inc.php
Labels: Billing :heavy_dollar_sign:, Feature

#10265 Fix for RouterOS LLDP discovery
  includes/discovery/discovery-protocols.inc.php
  tests/data/routeros_crs317.json
  tests/snmpsim/routeros_crs317.snmprec
Labels: Bug :beetle:, Needs Tests :unicorn:

#10268 Indent cleaning for bills
  includes/billing.php
  includes/html/modal/new_bill.inc.php
  includes/html/pages/bill/addoreditbill.inc.php
Labels: Cleanup, Ignore changelog :mute:

#10267 Added detection and sensors for Huawei SMU device
  includes/definitions/discovery/huawei-smu.yaml
  includes/definitions/huawei-smu.yaml
  includes/polling/os/huawei-smu.inc.php
  mibs/huawei/HUAWEI-SITE-MONITOR-MIB
  tests/data/huawei-smu.json
  tests/snmpsim/huawei-smu.snmprec
Labels: Device :desktop_computer:

#10271 Misplaced Cisco Mib
  mibs/cisco/CISCO-DOCS-EXT-MIB
Labels: Bug :beetle:, Ignore changelog :mute:

#9755 Icotera support for 6400 and 6800 series.
  html/images/os/icotera.png
  includes/definitions/discovery/icotera.yaml
  includes/definitions/icotera.yaml
  mibs/icotera/ICOTERA-I6400-SERIES-MIB
  mibs/icotera/ICOTERA-I6800-SERIES-MIB
  tests/data/icotera.json
  tests/snmpsim/icotera.snmprec
Labels: Device :desktop_computer:, User-Pending

#10270 Sanitize report name in pdf.php
  LibreNMS/Util/Clean.php
  LibreNMS/Util/Html.php
  app/Http/Controllers/Widgets/NotesController.php
  html/pdf.php
  includes/common.php
Labels: Security

#10266 Convert OS mrv-od to yaml, discover more sensors, discover entity-physical
  includes/definitions/discovery/mrv-od.yaml
  includes/definitions/mrv-od.yaml
  includes/discovery/entity-physical/mrv-od.inc.php
  includes/discovery/functions.inc.php
  includes/discovery/sensors/dbm/mrv-od.inc.php
  includes/discovery/sensors/pre-cache/mrv-od.inc.php
  includes/discovery/sensors/state/mrv-od.inc.php
  includes/discovery/sensors/temperature/mrv-od.inc.php
  includes/polling/os/mrv-od.inc.php
  includes/rewrites.php
  tests/data/mrv-od.json
  tests/snmpsim/mrv-od.snmprec
Labels: Device :desktop_computer:

#10272 Store language select name in translation files
  app/Http/Controllers/UserPreferencesController.php
  resources/lang/en/preferences.php
  resources/lang/ru/preferences.php
  resources/views/user/preferences.blade.php
Labels: WebUI

#10188 Removed broken POE graphing code
  includes/polling/ports.inc.php
  includes/polling/ports/port-poe.inc.php
Labels: Bug :beetle:, Graphs

#10286 Don't show warning when ignored device is online (pingable)
  app/Http/Controllers/Table/DeviceController.php
  includes/html/pages/device.inc.php
Labels: WebUI

#10283 Only allow mysql auth type to add users
  resources/views/user/index.blade.php
Labels: WebUI

#10276 Sanitize graph input
  LibreNMS/Util/Clean.php
  includes/html/graphs/common.inc.php
Labels: Security

#10244 Add Ipoman power consumption support
  includes/discovery/sensors/power_consumed/ipoman.inc.php
  tests/data/ipoman.json
  tests/snmpsim/ipoman.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#8857 Add a 'session' sensor for PanOS, SRX5800 Flow Accounting
  includes/definitions/discovery/junos.yaml
  includes/definitions/discovery/panos.yaml
Labels: Device :desktop_computer:, Needs Tests :unicorn:
