Repository librenms/librenms, pull requests merged in 2019-02, with the labels that each got.

#9769 Update Poller Support.md
  doc/Support/Poller Support.md
Labels: Documentation :book:

#9771 resolve Nokia dhcp traps
  mibs/nokia/TIMETRA-DHCP-SERVER-MIB
Labels: Ignore changelog :mute:

#9770 Prevent error with multiple proxmox
  includes/polling/applications/proxmox.inc.php
Labels: Bug :beetle:

#9758 New Device: Bluecat Networks appliances
  bootstrap/cache/.gitignore
  html/images/logos/bcn.png
  html/images/os/bcn.png
  includes/definitions/bluecatnetworks.yaml
  includes/definitions/discovery/bluecatnetworks.yaml
  includes/polling/os/bluecatnetworks.inc.php
  logs/.gitignore
  mibs/bluecatnetworks/ADONIS-DNS-MIB
  mibs/bluecatnetworks/BCN-COMMANDSERVER-MIB
  mibs/bluecatnetworks/BCN-DHCPV4-MIB
  mibs/bluecatnetworks/BCN-DNS-MIB
  mibs/bluecatnetworks/BCN-HA-MIB
  mibs/bluecatnetworks/BCN-LICENSE-MIB
  mibs/bluecatnetworks/BCN-NTP-MIB
  mibs/bluecatnetworks/BCN-PRODUCTS-MIB
  mibs/bluecatnetworks/BCN-SMI-MIB
  mibs/bluecatnetworks/BCN-SYSTEM-MIB
  mibs/bluecatnetworks/BCN-TC-MIB
  mibs/bluecatnetworks/BCN-TFTP-MIB
  mibs/bluecatnetworks/BLUECATNETWORKS-MIB
  rrd/.gitignore
  storage/app/.gitignore
  storage/app/public/.gitignore
  storage/debugbar/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tests/data/bluecatnetworks.json
  tests/snmpsim/bluecatnetworks.snmprec
Labels: Device :desktop_computer:

#9773 Add conditions for bgp admin status = stop
  misc/alert_rules.json
Labels: Alerting :bell:

#9776 Migration fixes
  LibreNMS/DB/Schema.php
  LibreNMS/Validations/Database.php
  app/Console/MigrateInstallCommand.php
  app/Providers/CliServiceProvider.php
  html/includes/output/db-update.inc.php
Labels: Bug :beetle:

#9784 Restore gitignore file contents
  bootstrap/cache/.gitignore
  logs/.gitignore
  rrd/.gitignore
  scripts/github-remove
  storage/app/.gitignore
  storage/app/public/.gitignore
  storage/debugbar/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tests/GitIgnoreTest.php
Labels: Bug :beetle:

#9789 Fix schema validation and os def cache invalidation
  LibreNMS/DB/Schema.php
  LibreNMS/Validations/Database.php
  includes/functions.php
Labels: Bug :beetle:

#9790 Handle unexpected os when loading yaml
  includes/common.php
Labels: Bug :beetle:

#9775 Add automated responses for some labels
  .github/label-actions.yml
Labels: Ignore changelog :mute:

#9774 Msteams consistent title
  LibreNMS/Alert/Transport/Msteams.php
Labels: Alerting :bell:

#9792 Fix alert log api
  html/includes/api_functions.inc.php
Labels: API, Bug :beetle:

#9645 Deprecate PHP < 7.1.3
  LibreNMS/Validations/Updates.php
  daily.php
  daily.sh
Labels: Refactor

#9737 Ignore disabled ports in minigraph view
  html/pages/device/ports.inc.php
Labels: WebUI

#9740 Added support for EDS 1Wire devices
  html/images/os/eds.png
  includes/definitions/discovery/eds.yaml
  includes/definitions/eds.yaml
  includes/polling/os/eds.inc.php
  mibs/eds/EDS-MIB
  tests/data/eds.json
  tests/snmpsim/eds.snmprec
Labels: Device :desktop_computer:, Needs Testing

#9732 Support for DKT Comega FTTx devices
  html/images/os/dkt.png
  includes/definitions/discovery/dkt.yaml
  includes/definitions/dkt.yaml
  includes/polling/os/dkt.inc.php
  mibs/dkt/DKT-CATV-MIB
  mibs/dkt/DKT-FE-MIB
  mibs/dkt/DKT-GE-MIB
  mibs/dkt/DKT-GENERIC-MIB
  mibs/dkt/DKT-MIB
  mibs/dkt/DKT-RMON-MIB
  mibs/dkt/IDKT-F2-MIB
  tests/data/dkt.json
  tests/snmpsim/dkt.snmprec
Labels: Device :desktop_computer:

#9798 Fix whitespace
  includes/polling/os/dkt.inc.php
Labels: Ignore changelog :mute:

#9796 Fix php version notification removal
  daily.php
Labels: Bug :beetle:

#9797 Fix php version notification removal
  daily.php
Labels: Bug :beetle:

#9783 JunOS: Added Virtual Chassis Member Role Sensor
  includes/definitions/discovery/junos.yaml
  tests/data/junos.json
  tests/snmpsim/junos.snmprec
Labels: Device :desktop_computer:

#9807 Fixed Alertmanager transport
  LibreNMS/Alert/Transport/Alertmanager.php
Labels: Alerting :bell:, Bug :beetle:

#9808 fix a link in support document
  doc/Support/Adding-a-Device.md
Labels: Documentation :book:

#9799 Recommend InnoDB engine in validation
  LibreNMS/Validations/Database.php
Labels: Ignore changelog :mute:

#9793 Add support for Nokia ISAM
  includes/definitions/discovery/nokia-isam.yaml
  includes/definitions/nokia-isam.yaml
  includes/discovery/mempools/nokia-isam.inc.php
  includes/discovery/sensors/dbm/nokia-isam.inc.php
  includes/discovery/sensors/pre-cache/nokia-isam.inc.php
  includes/discovery/sensors/state/nokia-isam.inc.php
  includes/discovery/sensors/temperature/nokia-isam.inc.php
  includes/polling/mempools/nokia-isam.inc.php
  includes/polling/os/nokia-isam.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/nokia-isam.inc.php
  mibs/nokia/ASAM-ALARM-MIB
  mibs/nokia/ASAM-EQUIP-MIB
  mibs/nokia/ASAM-SYSTEM-MIB
  mibs/nokia/ASAM-TC-MIB
  mibs/nokia/ITF-MIB
  mibs/nokia/ITF-MIB-EXT
  mibs/nokia/SFP-MIB
  mibs/nokia/SYSTEM-MIB
  misc/os_schema.json
  tests/data/nokia-isam.json
  tests/snmpsim/nokia-isam.snmprec
Labels: Device :desktop_computer:

#9813 Discard local changes to git based vendor packages
  composer.json
Labels: Bug :beetle:

#9814 Check for mysql extensions missing if DB connection fails.
  includes/init.php
Labels: Ignore changelog :mute:

#9810 Add osmc icon
  html/images/os/osmc.png
Labels: Device :desktop_computer:

#9805 Fix cisco compenent down macro
  misc/macros.json
Labels: Alerting :bell:, Bug :beetle:

#9720 Install docs, note proxy config
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1404-Apache.md
  doc/Installation/Installation-Ubuntu-1404-Lighttpd.md
  doc/Installation/Installation-Ubuntu-1404-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
Labels: Documentation :book:

#9802 Expand Cyberpower OS detection
  includes/definitions/cyberpower.yaml
Labels: Device :desktop_computer:

#9815 Fix for failed sql query during db dump
  includes/functions.php
Labels: Bug :beetle:

#9824 Fix logging too much
  config/app.php
  config/auth.php
  config/broadcasting.php
  config/cache.php
  config/database.php
  config/debugbar.php
  config/filesystems.php
  config/hashing.php
  config/librenms.php
  config/logging.php
  config/mail.php
  config/queue.php
  config/services.php
  config/session.php
  config/snmptraps.php
  config/tinker.php
  config/toastr.php
  config/trustedproxy.php
  config/view.php
Labels: Bug :beetle:

#9422 php artisan serve and dusk testing
  .env.dusk.testing
  .travis.yml
  app/Application.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/database.php
  database/factories/ModelFactory.php
  database/migrations/2018_07_03_091314_create_alert_schedulables_table.php
  database/migrations/2018_07_03_091322_add_foreign_keys_to_sensors_to_state_indexes_table.php
  phpunit.xml
  resources/views/auth/login-form.blade.php
  server.php
  tests/Browser/LoginTest.php
  tests/Browser/Pages/LoginPage.php
  tests/Browser/Pages/Page.php
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
  tests/DuskTestCase.php
Labels: Feature

#9820 Change minimum PHP version in install docs
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
Labels: Documentation :book:

#9646 Removed legacy transports and templates code
  LibreNMS/Alert/Template.php
  LibreNMS/Interfaces/Alert/Transport.php
  html/includes/forms/convert-template.inc.php
  html/includes/modal/alert_template.inc.php
  includes/alerts.inc.php
  misc/notifications.rss
Labels: Alerting :bell:, Breaking-Change, Refactor

#9825 MAIPU MyPowerOS: CPU, Memory, expanded detection
  html/images/logos/maipu.png
  includes/definitions/discovery/mypoweros.yaml
  includes/definitions/mypoweros.yaml
  includes/discovery/mempools/mypoweros.inc.php
  includes/polling/mempools/mypoweros.inc.php
  mibs/maipu/MAIPU-SMI
  mibs/maipu/MPIOS-MIB
  tests/data/mypoweros.json
  tests/snmpsim/mypoweros.snmprec
Labels: Device :desktop_computer:

#9830 lnms user:add command
  LibreNMS/Authentication/MysqlAuthorizer.php
  app/Console/Commands/AddUserCommand.php
  app/Console/Commands/BashCompletionCommand.php
  app/Console/LnmsCommand.php
  app/Events/UserCreated.php
  app/Listeners/MarkNotificationsRead.php
  app/Models/User.php
  app/Providers/EventServiceProvider.php
  resources/lang/en/commands.php
Labels: Feature

#9829 Additional TPLink JetStream mem/cpu support
  includes/definitions/jetstream.yaml
  tests/data/jetstream_t1600g-18ts.json
  tests/snmpsim/jetstream_t1600g-18ts.snmprec
  tests/snmpsim/jetstream_t1600g-28ts.snmprec
  tests/snmpsim/jetstream_t1700g-28tq.snmprec
  tests/snmpsim/tplink_t1600g-28ts.snmprec
Labels: Device :desktop_computer:

#9467 Fix Junos CPU Discovery
  includes/definitions/discovery/junos.yaml
  tests/data/junos_ex.json
  tests/data/junos_srx3600.json
  tests/snmpsim/junos_ex.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#9744 Netgear m5300 health sensors
  includes/definitions/discovery/netgear.yaml
  mibs/netgear/NETGEAR-BOXSERVICES-PRIVATE-MIB
  mibs/netgear/NETGEAR-REF-MIB
  tests/data/netgear.json
  tests/snmpsim/netgear.snmprec
Labels: Device :desktop_computer:

#9834 Netscaler SDWAN appliance - Serial# + Version and state sensors
  includes/definitions/discovery/netscaler-sdwan.yaml
  includes/polling/os/netscaler-sdwan.inc.php
  mibs/citrix/CITRIX-NetScaler-SD-WAN-MIB
  tests/data/netscaler-sdwan.json
  tests/snmpsim/netscaler-sdwan.snmprec
Labels: Device :desktop_computer:, Needs Testing

#9840 Remove accidentally left in dd()
  app/ApiClients/RipeApi.php
Labels: Ignore changelog :mute:

#9845 Restore alert template converter for a while longer
  html/includes/forms/convert-template.inc.php
  html/includes/modal/alert_template.inc.php
Labels: Alerting :bell:

#9648 Added support for Protelevision DVB-T Transmitter
  LibreNMS/OS/ProtelevisionT1.php
  html/images/logos/protelevision.png
  html/images/os/protelevision.png
  includes/definitions/discovery/protelevision-t1.yaml
  includes/definitions/protelevision-t1.yaml
  includes/polling/os/protelevision-t1.inc.php
  mibs/protelevision/PT-MIB
  mibs/protelevision/PT3080-MIB
  tests/data/protelevision-t1.json
  tests/snmpsim/protelevision-t1.snmprec
Labels: Device :desktop_computer:, User-Pending

#9804 FDB table with history capabilities
  app/Http/Controllers/Table/FdbTablesController.php
  app/Models/PortsFdb.php
  daily.php
  daily.sh
  database/migrations/2019_02_10_220000_add_dates_to_fdb.php
  doc/Support/Configuration.md
  doc/Support/Discovery Support.md
  doc/Support/Features.md
  html/pages/device/port/fdb.inc.php
  html/pages/device/ports/fdb.inc.php
  html/pages/search/fdb.inc.php
  includes/defaults.inc.php
  includes/discovery/fdb-table.inc.php
  misc/db_schema.yaml
  tests/data/edgecos_es3510ma.json
  tests/module_tables.yaml
Labels: Feature

#9841 Email should be optional in lnms user:add command
  app/Console/Commands/AddUserCommand.php
Labels: Bug :beetle:

#9848 Clarification in server migration procedure
  doc/Support/FAQ.md
Labels: Documentation :book:

#9846 Fix debug display of rrdtool command
  html/includes/graphs/graph.inc.php
Labels: Cleanup, WebUI

#9861 Fix MyPowerOS mempools
  includes/polling/mempools/mypoweros.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:

#9869 Fixed validator for rrd folder permissions
  LibreNMS/Validations/Rrd.php
Labels: Bug :beetle:

#9872 Added new install to example hardware setup
  doc/Support/Example-Hardware-Setup.md
Labels: Documentation :book:

#9866 Added Perle OS Support for IOLAN SCS
  includes/definitions/perle.yaml
  mibs/perle/PERLE-IOLAN-SDS-MIB
  tests/snmpsim/perle_iolanscs.snmprec
Labels: Device :desktop_computer:

#9886 Misplaced mib file when adding FS.COM support
  mibs/fs/STP-MIB
Labels: Bug :beetle:

#9878 Discovery rcChasPowerSupplyOperStatus for Extreme/Avaya voss.inc.php stop working
  includes/definitions/voss.yaml
  includes/discovery/sensors/state/voss.inc.php
  tests/data/voss_8608.json
  tests/data/voss_9012.json
  tests/snmpsim/voss_8608.snmprec
  tests/snmpsim/voss_9012.snmprec
Labels: Bug :beetle:, Device :desktop_computer:

#9871 newdevice: Added support for Alpha Comp@s
  includes/definitions/compas.yaml
  includes/discovery/sensors/charge/compas.inc.php
  includes/discovery/sensors/current/compas.inc.php
  includes/discovery/sensors/runtime/compas.inc.php
  includes/discovery/sensors/state/compas.inc.php
  includes/discovery/sensors/temperature/compas.inc.php
  includes/discovery/sensors/voltage/compas.inc.php
  mibs/alpha/SITE-MONITORING-MIB
  tests/data/compas.json
  tests/snmpsim/compas.snmprec
Labels: Device :desktop_computer:
