Repository librenms/librenms, pull requests merged in 2019-01, with the labels that each got.

#9552 Removed Legacy Transport UI https://t.libren.ms/deprecation-alerting
  html/pages/settings/alerting.inc.php
Labels: WebUI

#9590 Fix orphaned dashboards
  sql-schema/276.sql
Labels: Bug :beetle:, Schema

#9611 Fix airos tests
  tests/data/airos-af-ltu.json
  tests/data/airos-af.json
Labels: Ignore changelog :mute:

#9514 Alert schedule refactor
  app/Http/Controllers/Widgets/WorldMapController.php
  app/Models/AlertSchedule.php
  app/Models/Device.php
  app/Models/DeviceGroup.php
  app/Providers/AppServiceProvider.php
  html/includes/forms/schedule-maintenance.inc.php
  html/includes/modal/alert_schedule.inc.php
  includes/alerts.inc.php
  misc/db_schema.yaml
  sql-schema/277.sql
Labels: Alerting :bell:, Refactor, Schema, WebUI

#9599 ZyXEL Telemetry - XGS4600-32F
  includes/definitions/discovery/zynos.yaml
  includes/definitions/zynos.yaml
  includes/definitions/zywall.yaml
  includes/discovery/mempools/zyxel.inc.php
  includes/polling/mempools/zyxel.inc.php
  mibs/zyxel/ZYXEL-HW-MONITOR-MIB
  tests/data/zynos.json
  tests/snmpsim/zynos.snmprec
Labels: Device :desktop_computer:

#9607 Sort device select by hostname
  app/Http/Controllers/Select/DeviceController.php
  resources/views/widgets/device-summary-horiz.blade.php
Labels: WebUI

#9616 Fix .gitingore "changed" files with github-remove script
  scripts/github-remove
Labels: Bug :beetle:

#9626 Fix nios missed space
  includes/polling/os/nios.inc.php
Labels: Ignore changelog :mute:

#9618 Remove graph_types definitions from DB
  build.sql
  doc/Developing/os/Custom-Graphs.md
  includes/definitions.inc.php
  misc/db_schema.yaml
  sql-schema/032.sql
  sql-schema/073.sql
  sql-schema/140.sql
  sql-schema/141.sql
  sql-schema/146.sql
  sql-schema/148.sql
  sql-schema/152.sql
  sql-schema/155.sql
  sql-schema/194.sql
  sql-schema/229.sql
  sql-schema/231.sql
  sql-schema/250.sql
  sql-schema/251.sql
  sql-schema/252.sql
  sql-schema/269.sql
  sql-schema/279.sql
  tests/bootstrap.php
Labels: Schema

#9587 Pressing enter on global search goes to the first result
  html/includes/print-menubar.php
  resources/views/layouts/menu.blade.php
Labels: Enhancement, Feature, WebUI

#9619 Add librenms command
  LibreNMS/Util/Git.php
  LibreNMS/Util/Version.php
  LibreNMS/Validations/Dependencies.php
  LibreNMS/Validations/Updates.php
  LibreNMS/Validations/User.php
  app/Console/Commands/Ping.php
  app/Console/Commands/Release.php
  app/Console/Kernel.php
  app/Providers/CliServiceProvider.php
  config/app.php
  includes/common.php
  librenms
  routes/console.php
  routes/dev-console.php
Labels: Feature

#9632 Hook up librenms cli debug
  LibreNMS/Util/Laravel.php
  app/Console/Kernel.php
  includes/functions.php
  includes/helpers.php
Labels: Ignore changelog :mute:

#9624 Fix wireless sensor edit messages and collection alert rule
  html/includes/forms/wireless-sensor-alert-update.inc.php
  html/includes/forms/wireless-sensor-update.inc.php
  html/pages/device/edit/sensors-common.php
  misc/alert_rules.json
Labels: Alerting :bell:, Bug :beetle:

#9635 Allow strings for skip value comparisons
  misc/discovery_schema.json
Labels: Ignore changelog :mute:

#9633 Eventlog updates
  LibreNMS/IRCBot.php
  app/Models/Device.php
  app/Models/Eventlog.php
  html/includes/api_functions.inc.php
  html/includes/print-event.inc.php
  html/includes/table/eventlog.inc.php
  html/pages/device/overview/eventlog.inc.php
  html/pages/device/port/events.inc.php
  includes/functions.php
  misc/db_schema.yaml
  scripts/console-ui.php
  sql-schema/280.sql
Labels: Refactor, Schema

#9636 fix constant as string
  includes/polling/applications/gpsd.inc.php
Labels: Ignore changelog :mute:

#9627 TopVision CMTS
  html/images/os/sumavision.png
  includes/definitions/discovery/topvision.yaml
  includes/definitions/topvision.yaml
  includes/polling/os/topvision.inc.php
  tests/snmpsim/topvision.snmprec
Labels: Device :desktop_computer:

#9640 topvision - forgot json file
  includes/polling/os/topvision.inc.php
  tests/data/topvision.json
Labels: Ignore changelog :mute:

#9641 Device Support for Pegasus
  html/images/os/pegasus.png
  includes/definitions/discovery/pegasus.yaml
  includes/definitions/pegasus.yaml
  mibs/pegasus/PEGASUS-LEAN-TRAP-MIB
  mibs/pegasus/PEGASUS-MIB
  mibs/pegasus/PEGASUS-SDH-MIB
  tests/data/pegasus.json
  tests/snmpsim/pegasus.snmprec
Labels: Device :desktop_computer:

#9488 Added support for Vigintos Modulator & Ampiflier
  html/images/os/vigintos.png
  includes/definitions/discovery/vigintos.yaml
  includes/definitions/vigintos.yaml
  includes/polling/os/vigintos.inc.php
  mibs/vigintos/VEL-HOST2-MIB
  mibs/vigintos/VEL-MIB
  tests/data/vigintos.json
  tests/snmpsim/vigintos.snmprec
Labels: Device :desktop_computer:

#9638 Fix some issues with sensor limits
  includes/common.php
  includes/definitions/discovery/zynos.yaml
  includes/discovery/functions.inc.php
  tests/data/apc-mgeups_galaxy7000.json
  tests/data/arris-c4.json
  tests/data/ceraos.json
  tests/data/cimc.json
  tests/data/deltaups.json
  tests/data/eaton-matrix.json
  tests/data/enexus_smartpacks.json
  tests/data/enexus_smartpacks2.json
  tests/data/fusion.json
  tests/data/gw-eydfa.json
  tests/data/marathonups.json
  tests/data/netagent2.json
  tests/data/openbsd.json
  tests/data/ray.json
  tests/data/saf-cfm.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/zynos.json
Labels: Device :desktop_computer:

#9649 Fix sentry3 voltage sensors
  includes/discovery/sensors/voltage/sentry3.inc.php
  tests/data/sentry3.json
Labels: Bug :beetle:, Device :desktop_computer:

#9650 Remove broken routeros signal sensor
  includes/discovery/sensors/signal/routeros.inc.php
  tests/data/routeros.json
Labels: Bug :beetle:, Device :desktop_computer:

#9644 Reference config options for new beta poller service
  includes/defaults.inc.php
Labels: Documentation :book:

#9652 Added ignore mount point effects macOS
  includes/defaults.inc.php
Labels: Device :desktop_computer:

#9637 Added Alertmanager transport
  LibreNMS/Alert/Transport/Alertmanager.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#9647 Device: EATON-MGEUPS: Added sensors for temperature and humidity from …
  includes/definitions/discovery/eaton-mgeups.yaml
  mibs/mge/EATON-EMP-MIB
  mibs/mge/EATON-OIDS
  tests/data/eaton-mgeups_5px.json
  tests/snmpsim/eaton-mgeups_5px.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#9663 Order by support for availability map widget
  app/Http/Controllers/Widgets/AvailabilityMapController.php
  resources/views/widgets/settings/availability-map.blade.php
Labels: Bug :beetle:, WebUI

#9664 FAQ LibreNMS and MIBs
  doc/Support/FAQ.md
Labels: Documentation :book:

#9666 ibmc: Sorting States using groups
  includes/definitions/discovery/ibmc.yaml
Labels: Device :desktop_computer:

#9668 Removed NO_AUTO_CREATE_USER from mysql strict to support MySQL 8
  LibreNMS/DB/Eloquent.php
  tests/DBSetupTest.php
Labels: Bug :beetle:

#9667 Add group to sensor 1st discovery + template syntax {{ $xxx }}
  includes/definitions/discovery/vrp.yaml
  includes/discovery/functions.inc.php
  misc/discovery_schema.json
  tests/data/ibmc.json
  tests/data/nxos_2.json
  tests/data/omnitron-iconverter.json
  tests/data/vrp.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ce12804-entity.json
  tests/data/vrp_ce12804-withvrf.json
Labels: Bug :beetle:

#9639 Increase snmp execution time limit to 20 minutes
  doc/Support/Configuration.md
  includes/common.php
Labels: Bug :beetle:

#9676 Typo for JunOS in documentation
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#9677 add dbal so users can update the database
  composer.json
  composer.lock
Labels: Ignore changelog :mute:

#9685 Fix dbSchema 1000 skipping schema files
  includes/functions.php
Labels: Bug :beetle:

#9670 Validate database constraints
  LibreNMS/Validations/Database.php
  database/migrations/2018_07_03_091322_add_foreign_keys_to_sensors_to_state_indexes_table.php
  includes/functions.php
  includes/sql-schema/update.php
  misc/db_schema.yaml
Labels: Feature

#9686 Run both legacy schema and migrations in the same run if needed
  includes/sql-schema/update.php
Labels: Bug :beetle:

#9465 Merge ethernetprobe2 into akcp and improve akcp
  includes/definitions/akcp.yaml
  includes/definitions/discovery/akcp.yaml
  includes/definitions/ethernetprobe2.yaml
  includes/discovery/sensors/humidity/akcp.inc.php
  includes/discovery/sensors/humidity/ethernetprobe2.inc.php
  includes/discovery/sensors/pre-cache/ethernetprobe2.inc.php
  includes/discovery/sensors/state/ethernetprobe2.inc.php
  includes/discovery/sensors/temperature/akcp.inc.php
  includes/discovery/sensors/temperature/ethernetprobe2.inc.php
  includes/polling/os/akcp.inc.php
  includes/polling/os/ethernetprobe2.inc.php
  includes/polling/sensors/temperature/ethernetprobe2.inc.php
  mibs/akcp/HHMSAGENT-MIB
  mibs/atal/SPAGENT-MIB
  tests/data/akcp_serverprobe8.json
  tests/snmpsim/akcp.snmprec
  tests/snmpsim/akcp_ethernetprobe2.snmprec
  tests/snmpsim/akcp_serverprobe8.snmprec
Labels: Breaking-Change, Device :desktop_computer:

#9679 Cable Modem Graphs for TopVision OS
  html/includes/graphs/device/topvision_cmoffline.inc.php
  html/includes/graphs/device/topvision_cmreg.inc.php
  html/includes/graphs/device/topvision_cmtotal.inc.php
  includes/definitions.inc.php
  includes/polling/os/topvision.inc.php
  tests/snmpsim/topvision.snmprec
Labels: Device :desktop_computer:, Graphs, Needs Tests :unicorn:

#9680 Powerdns app to json
  doc/Extensions/Applications.md
  includes/polling/applications/powerdns.inc.php
  tests/data/linux_powerdns-legacy.json
  tests/data/linux_powerdns-v1.json
  tests/snmpsim/linux_powerdns-legacy.snmprec
  tests/snmpsim/linux_powerdns-v1.snmprec
Labels: applications :floppy_disk:

#9689 Seeds can run on existing
  database/seeds/DefaultAlertTemplateSeeder.php
  database/seeds/DefaultConfigSeeder.php
  database/seeds/DefaultLegacySchemaSeeder.php
  database/seeds/DefaultWidgetSeeder.php
Labels: Bug :beetle:, Schema

#9654 docs:Update SNMP-Trap-Handler.md
  doc/Extensions/SNMP-Trap-Handler.md
Labels: Documentation :book:

#9696 Rename librenms script to lnms
  LibreNMS/Validations/Database.php
  lnms
Labels: Bug :beetle:

#9695 Update Mimosa.php
  LibreNMS/OS/Mimosa.php
  tests/data/mimosa_b5.json
Labels: Bug :beetle:, Needs Tests :unicorn:

#9622 Nokia vrf bgp
  database/migrations/2019_01_16_195644_add_vrf_id_and_bgpLocalAs.php
  html/pages/routing/vrf.inc.php
  includes/definitions/timos.yaml
  includes/discovery/bgp-peers.inc.php
  includes/discovery/vrf.inc.php
  includes/polling/bgp-peers.inc.php
  mibs/nokia/TIMETRA-BGP-MIB
  misc/db_schema.yaml
  tests/data/arista_eos.json
  tests/data/comware.json
  tests/data/ios_3560g.json
  tests/data/ios_6500.json
  tests/data/iosxe.json
  tests/data/iosxr.json
  tests/data/junos_ex.json
  tests/data/junos_mx.json
  tests/data/timos.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ce12804-withvrf.json
  tests/module_tables.yaml
  tests/snmpsim/timos.snmprec
Labels: Device :desktop_computer:, Schema

#9643 Fix if discover
  includes/discovery/ports.inc.php
  includes/functions.php
  includes/polling/ports.inc.php
  tests/data/exa_e7-2.json
  tests/data/fortigate.json
Labels: Bug :beetle:, Discovery

#9703 fix whitespace
  validate.php
Labels: Ignore changelog :mute:

#9659 FreeBSD mempools Fix
  includes/polling/mempools/hrstorage.inc.php
  tests/data/pfsense.json
  tests/snmpsim/pfsense.snmprec
Labels: Device :desktop_computer:, User-Pending

#9697 Better IP exists feedback when adding a device
  includes/functions.php
Labels: WebUI

#9704 doc: update poller_modules documentation for NAC
  doc/Support/Poller Support.md
Labels: Documentation :book:, Ignore changelog :mute:

#9705 Update Fast-Ping-Check.md
  doc/Extensions/Fast-Ping-Check.md
Labels: Documentation :book:

#9691 Huawei iBMC absent state grey
  includes/definitions/discovery/ibmc.yaml
  tests/data/ibmc.json
Labels: Device :desktop_computer:

#9669 Refactor FDB Tables to Laravel
  app/Http/Controllers/PaginatedAjaxController.php
  app/Http/Controllers/Table/FdbTablesController.php
  app/Http/Controllers/Table/TableController.php
  app/Models/Ipv4Mac.php
  app/Models/Port.php
  app/Models/PortsFdb.php
  app/Models/PortsNac.php
  app/Models/Vlan.php
  html/includes/table/fdb-search.inc.php
  html/pages/device/port/fdb.inc.php
  html/pages/device/ports/fdb.inc.php
  html/pages/search/fdb.inc.php
  includes/rewrites.php
  routes/web.php
Labels: Refactor, Security, WebUI

#9707 Count sensor cleanups
  app/Http/ViewComposers/MenuComposer.php
  app/Models/Sensor.php
  html/includes/print-menubar.php
  html/pages/device/overview/generic/sensor.inc.php
  html/pages/health/sensors.inc.php
Labels: Ignore changelog :mute:

#9555 Adding Sonicwall SMA 400 support
  LibreNMS/OS/Sonicwall.php
  includes/definitions/discovery/sonicwall.yaml
  includes/discovery/mempools/sonicwall.inc.php
  includes/discovery/sensors/count/sonicwall.inc.php
  includes/polling/mempools/sonicwall-mem.inc.php
  mibs/sonicwall/SNWL-COMMON-MIB
  mibs/sonicwall/SNWL-SSLVPN-MIB
  mibs/sonicwall/SONICWALL-SMI
  tests/data/sonicwall_sma-400.json
  tests/snmpsim/sonicwall_sma-400.snmprec
Labels: Device :desktop_computer:

#9715 Fix sql schema 278
  sql-schema/262.sql
  sql-schema/278.sql
Labels: Bug :beetle:, Schema

#9713 Eltek Valere more sensors
  html/pages/device/overview/generic/sensor.inc.php
  includes/definitions/discovery/valere.yaml
  tests/data/valere.json
  tests/snmpsim/valere.snmprec
Labels: Device :desktop_computer:

#9706 Improve display for 802.1X NAC
  html/js/librenms.js
  html/legacy_index.php
  html/pages/device/nac.inc.php
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#9698 Improve index check for compatibility with different versions of the DDOS
  includes/discovery/storage/datadomain.inc.php
Labels: Device :desktop_computer:

#9375 Support for Alcatel OmniPCX
  includes/definitions/discovery/omnipcx.yaml
  includes/definitions/omnipcx.yaml
  includes/snmp.inc.php
  mibs/alcatel/A4400-CPU-MIB
  mibs/alcatel/A4400-RTM-MIB
  mibs/alcatel/ALCATEL-NMC-PROXY-AGENT-MIB
  mibs/alcatel/HPOV-NNM-MIB
  misc/discovery_schema.json
  tests/data/omnipcx.json
  tests/snmpsim/omnipcx.snmprec
Labels: Device :desktop_computer:

#9721 Fix missing config setting in DB seed alert.transports.mail
  database/seeds/DefaultConfigSeeder.php
Labels: Bug :beetle:

#9701 Handle db update errors better in the installer
  html/includes/output/db-update.inc.php
  html/install.php
Labels: WebUI

#9723 Validate default config seeder
  database/seeds/DefaultConfigSeeder.php
Labels: Bug :beetle:

#9699 Hook many commands into the lnms script
  routes/console.php
Labels: Feature

#9631 update docs on mkdocs
  doc/Developing/Creating-Documentation.md
Labels: Documentation :book:

#9735 Update CISCO-PRODUCTS-MIB
  mibs/CISCO-PRODUCTS-MIB
Labels: MIBs

#9724 Rewrite netcmd and ripe whois tools
  LibreNMS/Exceptions/ApiException.php
  LibreNMS/Util/Validate.php
  app/ApiClients/RipeApi.php
  app/Http/Controllers/Ajax/NetCommand.php
  app/Http/Controllers/Ajax/ResolutionController.php
  app/Http/Controllers/Ajax/RipeNccApiController.php
  app/Http/Controllers/ResolutionController.php
  app/Providers/AppServiceProvider.php
  html/includes/forms/query-ripenccapi.inc.php
  html/includes/functions.inc.php
  html/includes/print-interface-adsl.inc.php
  html/includes/print-interface.inc.php
  html/netcmd.php
  html/pages/ripenccapi.inc.php
  includes/common.php
  misc/db_schema.yaml
  routes/web.php
Labels: Refactor, Security

#9726 Rewrite devices page backend (and a little frontend)
  LibreNMS/Util/Rewrite.php
  app/Http/Controllers/PaginatedAjaxController.php
  app/Http/Controllers/Select/DeviceFieldController.php
  app/Http/Controllers/Select/LocationController.php
  app/Http/Controllers/Table/DeviceController.php
  app/Models/Device.php
  html/css/styles.css
  html/includes/table/devices.inc.php
  html/js/librenms.js
  html/legacy_index.php
  html/pages/devices.inc.php
  includes/functions.php
  resources/views/layouts/librenmsv1.blade.php
  routes/web.php
Labels: Refactor, Security, WebUI

#9711 Mattermost Alert Transport
  LibreNMS/Alert/Transport/Mattermost.php
  html/.htaccess
  html/includes/.htaccess
  html/includes/collectd/config.php
  html/pages/.htaccess
  resources/views/alerts/templates/default.blade.php
Labels: Alerting :bell:

#9673 Added Alerta Alert Transport
  LibreNMS/Alert/Transport/Alerta.php
Labels: Alerting :bell:

#9743 Revert "Mattermost Alert Transport"
  LibreNMS/Alert/Transport/Mattermost.php
  html/.htaccess
  html/includes/.htaccess
  html/includes/collectd/config.php
  html/pages/.htaccess
  resources/views/alerts/templates/default.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:

#9719 adding temp/humidity sensors for raritan px2
  includes/discovery/sensors/humidity/raritan-pdu.inc.php
  includes/discovery/sensors/pre-cache/raritan-pdu.inc.php
  includes/discovery/sensors/temperature/raritan-pdu.inc.php
  tests/data/raritan-pdu_px2_temp.json
  tests/snmpsim/raritan-pdu_px2_temp.snmprec
Labels: Device :desktop_computer:

#9747 lnms bash completion
  app/Console/Commands/BashCompletionCommand.php
  app/Console/Kernel.php
  misc/lnms-completion.bash
Labels: Feature

#9749 Added Mattermost Transport
  LibreNMS/Alert/Transport/Mattermost.php
Labels: Alerting :bell:, Feature

#9752 Fix devices page search & OS loading
  app/Http/Controllers/Table/DeviceController.php
  app/Models/Device.php
  includes/common.php
Labels: Bug :beetle:, WebUI

#9751 Include version bump in release script
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#9754 fix snmp debug clipping off quote when obscuring data
  includes/common.php
Labels: Bug :beetle:

#9761 add more index names to 278.sql
  sql-schema/1000.sql
  sql-schema/278.sql
Labels: Schema

#9763 Fix os loading issues
  app/Models/Device.php
  includes/common.php
Labels: Bug :beetle:
