Repository librenms/librenms, pull requests merged in 2019-04, with the labels that each got.

#10011 Added support for DELLEMC-OS10-PRODUCTS-MIB (os: dell-os10)
  includes/definitions/dell-os10.yaml
  includes/definitions/discovery/dell-os10.yaml
  includes/polling/os/dell-os10.inc.php
  mibs/dell-os10/DELLEMC-OS10-BGP4V2-MIB
  mibs/dell-os10/DELLEMC-OS10-CHASSIS-MIB
  mibs/dell-os10/DELLEMC-OS10-PRODUCTS-MIB
  mibs/dell-os10/DELLEMC-OS10-SMI-MIB
  mibs/dell-os10/DELLEMC-OS10-TC-MIB
  tests/data/dell-os10.json
  tests/snmpsim/dell-os10.snmprec
Labels: Device :desktop_computer:

#10013 Modify ‘discovery-protocols.inc.php’ to fix neighbours problem on Extreme Networks EXOS switch
  includes/discovery/discovery-protocols.inc.php
Labels: Discovery

#10031 Added support for IONODES video encoders
  html/images/logos/ionodes.png
  html/images/os/ionodes.png
  includes/definitions/discovery/ionodes.yaml
  includes/definitions/ionodes.yaml
  includes/discovery/mempools/ionodes.inc.php
  includes/polling/mempools/ionodes.inc.php
  mibs/ionodes/IONODES-IONSERIES-MIB
  tests/snmpsim/ionodes.snmprec
Labels: Device :desktop_computer:

#10052 Fix gw-eydfa detection
  includes/definitions/edfa.yaml
  includes/definitions/gw-eydfa.yaml
Labels: Design, Device :desktop_computer:

#10044 LibreNMS python service doc updates
  doc/Extensions/Poller-Service.md
Labels: Documentation :book:

#10053 Don't skip style tests for os that have PHP files
  scripts/pre-commit.php
Labels: Ignore changelog :mute:

#10055 rename hikvision nvr test file
  tests/snmpsim/hikvision-nvr_1.snmprec
Labels: Ignore changelog :mute:

#10057 fix style issues
  includes/discovery/mempools/hikvision-cam.inc.php
  includes/discovery/mempools/hikvision-nvr.inc.php
  includes/polling/os/dell-os10.inc.php
  misc/phpcs_librenms.xml
Labels: Ignore changelog :mute:

#10012 Add SysName to Oxidized view
  html/includes/functions.inc.php
  html/pages/oxidized.inc.php
Labels: Oxidized, WebUI

#10056 Added PPPoE Sessions Graph for Mikrotik
  html/includes/graphs/device/routeros_pppoe_sessions.inc.php
  includes/definitions.inc.php
  includes/polling/os/routeros.inc.php
Labels: Device :desktop_computer:, Graphs

#10039 Added device WISI Tangram
  html/images/os/wisi.png
  includes/definitions/discovery/wisi-tangram.yaml
  includes/definitions/wisi-tangram.yaml
  includes/polling/os/wisi-tangram.inc.php
  mibs/wisi/WISI-GTMODULES-MIB
  mibs/wisi/WISI-GTSENSORS-MIB
  mibs/wisi/WISI-GTSETTINGS-MIB
  mibs/wisi/WISI-ROOT-MIB
  mibs/wisi/WISI-TANGRAM-MIB
  tests/data/wisi-tangram.json
  tests/snmpsim/wisi-tangram.snmprec
Labels: Device :desktop_computer:

#10061 Fix fail2ban jails eventlog spam
  includes/polling/applications/fail2ban.inc.php
Labels: Bug :beetle:

#10058 Fix notification creation
  html/includes/forms/notifications.inc.php
  html/pages/notifications.inc.php
Labels: Bug :beetle:, WebUI

#10066 Fix fail2ban jails eventlog spam
  includes/polling/applications/fail2ban.inc.php
Labels: Ignore changelog :mute:

#10071 fix aruba-controller polling
  includes/polling/aruba-controller.inc.php
Labels: Device :desktop_computer:

#10068 Added slms => zhoneolt mapping for Oxidized model
  html/includes/api_functions.inc.php
Labels: API

#10062 Added support for Liebert PDUs
  includes/definitions/discovery/liebert.yaml
  includes/definitions/liebert.yaml
  includes/discovery/sensors/current/liebert.inc.php
  mibs/liebert/LIEBERT-GP-AGENT-MIB
  mibs/liebert/LIEBERT-GP-COND-MIB
  mibs/liebert/LIEBERT-GP-CONTROLLER-MIB
  mibs/liebert/LIEBERT-GP-ENV-MIB
  mibs/liebert/LIEBERT-GP-FLEXIBLE-COND-MIB
  mibs/liebert/LIEBERT-GP-FLEXIBLE-MIB
  mibs/liebert/LIEBERT-GP-NOTIFY-MIB
  mibs/liebert/LIEBERT-GP-PDU-MIB
  mibs/liebert/LIEBERT-GP-POWER-MIB
  mibs/liebert/LIEBERT-GP-REG-MIB
  mibs/liebert/LIEBERT-GP-SRC-MIB
  mibs/liebert/LIEBERT-GP-SYSTEM-MIB
  tests/data/liebert.json
  tests/snmpsim/liebert.snmprec
Labels: Device :desktop_computer:

#10059 Added initial support for teltonika
  html/images/os/teltonika.png
  includes/definitions/discovery/rutos.yaml
  includes/definitions/rutos.yaml
  mibs/rutos/TELTONIKA-MIB
  tests/data/rutos.json
  tests/snmpsim/rutos.snmprec
Labels: Device :desktop_computer:

#10010 Improve Huawei BGP polling + BGP webui & graphs patches
  html/includes/graphs/bgp/prefixes.inc.php
  html/pages/device/routing/bgp.inc.php
  html/pages/routing/bgp.inc.php
  includes/discovery/bgp-peers.inc.php
  includes/discovery/functions.inc.php
  includes/polling/bgp-peers.inc.php
Labels: Device :desktop_computer:, Discovery, Graphs, WebUI

#10020 Add API call to list all ports FDB
  doc/API/Devices.md
  doc/API/Switching.md
  html/includes/api_functions.inc.php
  html/legacy_api_v0.php
Labels: API

#10079 Cleanup of typo in oxidized view
  html/pages/oxidized.inc.php
Labels: Cleanup

#10077 Added detection for ESW 5xx series of Cisco SB devices
  includes/definitions/ciscosb.yaml
  tests/data/ciscosb_esw540_8p.json
  tests/snmpsim/ciscosb_esw540_8p.snmprec
Labels: Device :desktop_computer:

#10043 Added Cisco Small business bootloader + HW version
  includes/polling/os/ciscosb.inc.php
  tests/data/ciscosb.json
  tests/data/ciscosb_esw540_8p.json
  tests/data/ciscosb_sg350-10.json
  tests/data/ciscosb_sg550x-24.json
  tests/snmpsim/ciscosb.snmprec
  tests/snmpsim/ciscosb_sg350-10.snmprec
Labels: Device :desktop_computer:

#10082 Fixed a duplicate route name in the api
  html/legacy_api_v0.php
Labels: API, Ignore changelog :mute:

#10085 Fix arp api network query
  html/includes/api_functions.inc.php
Labels: API

#10088 Fix unescaped variables in ajax_search.php
  html/ajax_search.php
Labels: Security

#10078 Fix to display minimum values in uptime graphs.
  html/includes/graphs/application/memcached_uptime.inc.php
  html/includes/graphs/device/uptime.inc.php
  includes/services/check_mysql.inc.php
Labels: Bug :beetle:, WebUI

#10016 Added support dellNet devices
  includes/definitions/discovery/dnos.yaml
  includes/discovery/mempools/dnos.inc.php
  mibs/dell/DELL-NETWORKING-BGP4-V2-MIB
  mibs/dell/DELL-NETWORKING-BMP-MIB
  mibs/dell/DELL-NETWORKING-BPSTATS-MIB
  mibs/dell/DELL-NETWORKING-DCB-MIB
  mibs/dell/DELL-NETWORKING-FIB-MIB
  mibs/dell/DELL-NETWORKING-FIPSNOOPING-MIB
  mibs/dell/DELL-NETWORKING-FPSTATS-MIB
  mibs/dell/DELL-NETWORKING-IF-EXTENSION-MIB
  mibs/dell/DELL-NETWORKING-ISIS-MIB
  mibs/dell/DELL-NETWORKING-LINK-AGGREGATION-MIB
  mibs/dell/DELL-NETWORKING-MAC-NOTIFICATION-MIB
  mibs/dell/DELL-NETWORKING-OPENFLOW-MIB
  mibs/dell/DELL-NETWORKING-PRODUCTS-MIB
  mibs/dell/DELL-NETWORKING-SYSLOG-MIB
  mibs/dell/DELL-NETWORKING-SYSTEM-COMPONENT-MIB
  mibs/dell/DELL-NETWORKING-TRAP-EVENT-MIB
  mibs/dell/DELL-NETWORKING-VIRTUAL-LINK-TRUNK-MIB
  tests/data/dnos.json
  tests/snmpsim/dnos.snmprec
Labels: Device :desktop_computer:

#10081 Removed legacy code from transports
  LibreNMS/Alert/Transport/Api.php
  LibreNMS/Alert/Transport/Boxcar.php
  LibreNMS/Alert/Transport/Clickatell.php
  LibreNMS/Alert/Transport/Discord.php
  LibreNMS/Alert/Transport/Hipchat.php
  LibreNMS/Alert/Transport/Mattermost.php
  LibreNMS/Alert/Transport/Nagios.php
  LibreNMS/Alert/Transport/Pagerduty.php
  LibreNMS/Alert/Transport/Playsms.php
  LibreNMS/Alert/Transport/Pushover.php
  LibreNMS/Alert/Transport/Rocket.php
  LibreNMS/Alert/Transport/Slack.php
  LibreNMS/Alert/Transport/Smseagle.php
  LibreNMS/Alert/Transport/Smsfeedback.php
  LibreNMS/Alert/Transport/Telegram.php
Labels: Alerting :bell:

#10109 Disable snmpbulkwalk for cyberpower os
  includes/definitions/cyberpower.yaml
Labels: Discovery

#10117 docs: Example Hardware - corrected markup
  doc/Support/Example-Hardware-Setup.md
Labels: Documentation :book:

#10106 Display number of connections for ASA on over
  includes/definitions/asa.yaml
Labels: WebUI

#10120 Update Templates.md
  doc/Alerting/Templates.md
Labels: Documentation :book:

#10115 Update Example-Hardware-Setup.md
  doc/Support/Example-Hardware-Setup.md
Labels: Documentation :book:, Ignore changelog :mute:

#10122 Bug - Nasty user_func vs divisor-multiplier issue
  includes/discovery/functions.inc.php
  tests/data/cyberpower.json
Labels: Bug :beetle:, Discovery

#10100 Don't require db for config_to_json.php
  config_to_json.php
Labels: Bug :beetle:

#10090 fix call to isUnderMaintenance() on null
  includes/alerts.inc.php
Labels: Bug :beetle:

#10129 Fix install.php can't find config.php
  html/install.php
Labels: Bug :beetle:

#9348 New User Management
  .env.dusk.testing
  .travis.yml
  app/Console/Commands/AddUserCommand.php
  app/Http/Controllers/Auth/TwoFactorController.php
  app/Http/Controllers/Auth/TwoFactorManagementController.php
  app/Http/Controllers/Select/DeviceController.php
  app/Http/Controllers/UserController.php
  app/Http/Requests/StoreUserRequest.php
  app/Http/Requests/TwoFactorManagementRequest.php
  app/Http/Requests/UpdateUserRequest.php
  app/Jobs/PingCheck.php
  app/Models/User.php
  app/Policies/UserPolicy.php
  app/Providers/AuthServiceProvider.php
  database/factories/ModelFactory.php
  doc/Support/Configuration.md
  includes/html/pages/edituser.inc.php
  includes/html/pages/preferences.inc.php
  includes/html/print-menubar.php
  resources/views/layouts/menu.blade.php
  resources/views/user/create.blade.php
  resources/views/user/edit.blade.php
  resources/views/user/form.blade.php
  resources/views/user/index.blade.php
  routes/web.php
  tests/Browser/LoginTest.php
  tests/Browser/Pages/LoginPage.php
  tests/Browser/Pages/PreferencesPage.php
  tests/Browser/Pages/TwoFactorPage.php
  tests/DuskTestCase.php
Labels: WebUI

#10133 fix api *log date format
  includes/html/api_functions.inc.php
Labels: API

#10135 Fix formatting
  doc/Alerting/Rules.md
Labels: Documentation :book:

#10124 Allow Add_Device API to set sysName
  includes/html/api_functions.inc.php
Labels: API

#10102 devices: Add discovery ObjectID for Barracuda NGFW
  includes/definitions.inc.php
  includes/definitions/barracudangfirewall.yaml
  includes/html/graphs/device/barracuda_firewall_sessions.inc.php
  includes/polling/os/barracudangfirewall.inc.php
  mibs/barracuda/PHION-MIB
  tests/data/barracudangfirewall.json
  tests/snmpsim/barracudangfirewall.snmprec
Labels: Device :desktop_computer:

#10150 Add PSU state to Netgear discovery definition
  includes/definitions/discovery/netgear.yaml
  tests/data/netgear_3.json
  tests/snmpsim/netgear_3.snmprec
Labels: Device :desktop_computer:

#10146 Add memory pool for Netgear switches
  includes/definitions/netgear.yaml
  includes/discovery/mempools/netgear.inc.php
  includes/polling/mempools/netgear.inc.php
  mibs/netgear/NETGEAR-SWITCHING-MIB
Labels: Device :desktop_computer:

#10149 Updates to planetos.yaml for additional models
  includes/definitions/planetos.yaml
Labels: Device :desktop_computer:

#10143 Fix filter by device and interface type on IP address search page
  includes/html/table/address-search.inc.php
Labels: Bug :beetle:

#10083 easily setting font colors for RRD graphs is now possible
  includes/defaults.inc.php
  includes/html/graphs/common.inc.php
  includes/html/graphs/multiport/bits_duo.inc.php
  includes/html/graphs/multiport/bits_trio.inc.php
Labels: Graphs, WebUI

#10094 Adva SNMP Trap Handlers
  LibreNMS/Snmptrap/Handlers/AdvaAccThresholdCrossingAlert.php
  LibreNMS/Snmptrap/Handlers/AdvaAttributeChange.php
  LibreNMS/Snmptrap/Handlers/AdvaNetThresholdCrossingAlert.php
  LibreNMS/Snmptrap/Handlers/AdvaNetworkElementAlmTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaObjectCreation.php
  LibreNMS/Snmptrap/Handlers/AdvaObjectDeletion.php
  LibreNMS/Snmptrap/Handlers/AdvaSnmpDyingGaspTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaStateChangeTrap.php
  LibreNMS/Snmptrap/Handlers/AdvaSysAlmTrap.php
  config/snmptraps.php
  tests/Feature/SnmpTraps/AdvaAccThresholdCrossingAlertTest.php
  tests/Feature/SnmpTraps/AdvaAttrbuteChangeTest.php
  tests/Feature/SnmpTraps/AdvaDyingGaspTrapTest.php
  tests/Feature/SnmpTraps/AdvaNetThresholdCrossingAlertTest.php
  tests/Feature/SnmpTraps/AdvaNetworkElementAlmTrapTest.php
  tests/Feature/SnmpTraps/AdvaObjectCreationTest.php
  tests/Feature/SnmpTraps/AdvaObjectDeletionTest.php
  tests/Feature/SnmpTraps/AdvaStateChangeTrapTest.php
  tests/Feature/SnmpTraps/AdvaSysAlmTrapTest.php
Labels: SNMP Traps

#10131 Added packetlight support
  LibreNMS/OS/Packetlight.php
  html/images/logos/packetlight.png
  html/images/os/packetlight.png
  includes/definitions/discovery/packetlight.yaml
  includes/definitions/packetlight.yaml
  includes/definitions/smartos-t.yaml
  includes/discovery/functions.inc.php
  includes/polling/functions.inc.php
  includes/polling/os/packetlight.inc.php
  mibs/packetlight/RAD-MIB
  mibs/packetlight/SL-ALARM-MIB
  mibs/packetlight/SL-ALS-MIB
  mibs/packetlight/SL-EDFA-MIB
  mibs/packetlight/SL-EDFA.mib
  mibs/packetlight/SL-ENTITY-MIB
  mibs/packetlight/SL-ETH-MIB
  mibs/packetlight/SL-EVENT-MIB
  mibs/packetlight/SL-L2TOPOLOGY-MIB
  mibs/packetlight/SL-MAIN-MIB
  mibs/packetlight/SL-MUX-MIB
  mibs/packetlight/SL-NE-MIB
  mibs/packetlight/SL-OPT-APS-MIB
  mibs/packetlight/SL-OTN-MIB
  mibs/packetlight/SL-PM-MIB
  mibs/packetlight/SL-PORT-MIB
  mibs/packetlight/SL-RADIUS-MIB
  mibs/packetlight/SL-RETIMER-MIB
  mibs/packetlight/SL-ROADM-MIB
  mibs/packetlight/SL-SFP-MIB
  mibs/packetlight/SL-SNTP-MIB
  mibs/packetlight/SL-SONET-MIB
  mibs/packetlight/SL-SONET-SUP-PM-MIB
  mibs/packetlight/SL-TESTS-MIB
  mibs/packetlight/SL-TRAP-MIB
  mibs/packetlight/SL-XPDR-MIB
  tests/data/packetlight_pl-1000e.json
  tests/snmpsim/packetlight_pl-1000e.snmprec
Labels: Device :desktop_computer:

#10099 Get and display the image patch version on Huawei VRP devices
  includes/polling/os/vrp.inc.php
  tests/data/vrp_5720-32x-ei.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ce12804-entity.json
  tests/data/vrp_ce12804-withvrf.json
  tests/data/vrp_nac.json
Labels: Device :desktop_computer:

#10067 Added support for Zmtel greenpacket devices (os: zmtel)
  html/images/os/greenpacket.png
  includes/definitions/discovery/zmtel.yaml
  includes/definitions/zmtel.yaml
  includes/polling/os/zmtel.inc.php
  mibs/zmtel/ZMTEL-ODU-MIB
  tests/data/zmtel.json
  tests/snmpsim/zmtel.snmprec
Labels: Device :desktop_computer:

#10160 Extended sensors for Timos devices
  includes/definitions/discovery/timos.yaml
  includes/discovery/sensors/state/timos.inc.php
  includes/discovery/sensors/temperature/timos.inc.php
  tests/data/timos.json
  tests/snmpsim/timos.snmprec
Labels: Device :desktop_computer:

#10164 Serial number and more robust OS version for Netgear switches
  includes/polling/os/netgear.inc.php
Labels: Device :desktop_computer:

#10162 Support for APC PDU Outlet traps
  LibreNMS/Snmptrap/Handlers/ApcPduOutletOff.php
  LibreNMS/Snmptrap/Handlers/ApcPduOutletOn.php
  LibreNMS/Snmptrap/Handlers/ApcPduOutletReboot.php
  config/snmptraps.php
  tests/Feature/SnmpTraps/ApcPduOutletTest.php
Labels: Device :desktop_computer:, SNMP Traps

#10130 LLDP Discovery by IP
  includes/discovery/discovery-protocols.inc.php
Labels: Discovery

#10127 Handle edge case in graph view for Munin plugins
  app/Http/Controllers/Widgets/GraphController.php
  resources/views/widgets/graph.blade.php
Labels: WebUI

#10092 docs: add 'software-properties-common'
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
Labels: Documentation :book:

#10161 Add failed user login trap for Netgear switches
  LibreNMS/Snmptrap/Handlers/FailedUserLogin.php
  config/snmptraps.php
  mibs/netgear/NETGEAR-SMART-SWITCHING-MIB
  tests/Feature/SnmpTraps/NetgearFailedUserLoginTest.php
Labels: Device :desktop_computer:, SNMP Traps

#10169 Fix transition os
  html/images/os/transition.png
  includes/definitions/transition.yaml
  tests/data/transition.json
Labels: Ignore changelog :mute:

#10171 Fix sensors on health table always showing as good
  includes/html/table/sensors-common.php
Labels: Bug :beetle:, WebUI
