Repository librenms/librenms, pull requests merged in 2019-06, with the labels that each got.

#10288 User Management: use url helpers
  app/Http/Controllers/UserController.php
  resources/views/user/create.blade.php
  resources/views/user/edit.blade.php
  resources/views/user/index.blade.php
Labels: WebUI

#10290 Dispatcher Service: Remove duplicate polling complete message
  LibreNMS/queuemanager.py
Labels: Service

#10294 allow -24h style to/from for graphs again
  includes/html/graphs/common.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:

#10301 Fix global service count showing on device overview
  LibreNMS/Util/ObjectCache.php
  includes/html/pages/device/overview/services.inc.php
Labels: Bug :beetle:, WebUI

#10303 Restore vminfo menu
  app/Http/ViewComposers/MenuComposer.php
  app/Models/Vminfo.php
  resources/views/layouts/menu.blade.php
Labels: Bug :beetle:, WebUI

#10300 Add overlib link css class for changing background color - Update Url.php
  LibreNMS/Util/Url.php
  html/css/styles.css
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#10289 WEB UI Changed color of Non Unicast Packets
  includes/html/graphs/port/nupkts.inc.php
Labels: Graphs, WebUI

#10284 CIMC Version Fix
  includes/polling/os/cimc.inc.php
  tests/snmpsim/cimc.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#10304 Fix style
  LibreNMS/Util/ObjectCache.php
Labels: Ignore changelog :mute:

#10299 Don't include time macros in field list
  LibreNMS/Alerting/QueryBuilderFilter.php
Labels: Alerting :bell:

#10298 Enable menu translation
  LibreNMS/Device/Sensor.php
  LibreNMS/Device/WirelessSensor.php
  app/Models/WirelessSensor.php
  includes/html/pages/device/entphysical.inc.php
  includes/html/pages/device/wireless.inc.php
  includes/rewrites.php
  resources/lang/en/sensors.php
  resources/lang/en/wireless.php
  resources/views/layouts/menu.blade.php
Labels: Translation

#10308 Restore cimc data
  tests/snmpsim/cimc.snmprec
Labels: Alerting :bell:, Ignore changelog :mute:

#10305 change <h2></h1> ? by span and class like the other
  includes/html/table/sensors-common.php
Labels: WebUI

#10317 fix smokeping graphs
  includes/html/graphs/device/smokeping_all_common.inc.php
  includes/html/graphs/device/smokeping_all_common_avg.inc.php
  includes/html/graphs/smokeping/in.inc.php
  includes/html/graphs/smokeping/out.inc.php
Labels: Bug :beetle:, WebUI

#10263 Add MPLS Support
  LibreNMS/DB/SyncsModels.php
  LibreNMS/Interfaces/Discovery/MplsDiscovery.php
  LibreNMS/Interfaces/Models/Keyable.php
  LibreNMS/Interfaces/Polling/MplsPolling.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/OS/Timos.php
  LibreNMS/Util/ModuleModelObserver.php
  LibreNMS/Util/ModuleTestHelper.php
  LibreNMS/Util/ObjectCache.php
  app/Http/ViewComposers/MenuComposer.php
  app/Models/Device.php
  app/Models/Mpls.php
  app/Models/MplsLsp.php
  app/Models/MplsLspPath.php
  database/migrations/2019_05_12_202407_create_mpls_lsps_table.php
  database/migrations/2019_05_12_202408_create_mpls_lsp_paths_table.php
  includes/defaults.inc.php
  includes/discovery/mpls.inc.php
  includes/html/pages/device.inc.php
  includes/html/pages/device/routing.inc.php
  includes/html/pages/device/routing/mpls.inc.php
  includes/html/pages/routing.inc.php
  includes/html/pages/routing/mpls.inc.php
  includes/polling/mpls.inc.php
  mibs/nokia/TIMETRA-MPLS-MIB
  misc/db_schema.yaml
  tests/data/timos.json
  tests/module_tables.yaml
  tests/snmpsim/timos.snmprec
Labels: Discovery, Feature, Polling, WebUI

#10310 Extend the Dell drac module to report CMC status and sensors
  includes/definitions/discovery/drac.yaml
  tests/data/drac.json
  tests/snmpsim/drac.snmprec
Labels: Device :desktop_computer:

#10307 Cisco UCOS Version and Feature Fix
  includes/polling/os/ucos.inc.php
  tests/data/ucos_cer.json
  tests/data/ucos_cuc.json
  tests/data/ucos_cucm.json
  tests/data/ucos_uccx.json
  tests/snmpsim/ucos_cer.snmprec
  tests/snmpsim/ucos_cuc.snmprec
  tests/snmpsim/ucos_cucm.snmprec
  tests/snmpsim/ucos_uccx.snmprec
Labels: Device :desktop_computer:

#10273 Warn maintenance tasks are disabled
  LibreNMS/service.py
Labels: Service

#10323 Fix language select for new languages
  app/Http/Controllers/UserPreferencesController.php
  resources/views/user/preferences.blade.php
Labels: Bug :beetle:, WebUI

#10325 Update dependencies
  composer.lock
Labels: Core

#10331 Support for Fibernet XMUX4+
  html/images/os/fibernet.svg
  includes/definitions/discovery/fibernet-xmux4-plus.yaml
  includes/definitions/fibernet-xmux4-plus.yaml
  mibs/fibernet/XMUX4-PLUS
  tests/data/fibernet-xmux4-plus.json
  tests/snmpsim/fibernet-xmux4-plus.snmprec
Labels: Device :desktop_computer:

#10306 Add power sensor for eaton ups
  includes/discovery/sensors/power/eatonups.inc.php
  tests/data/eatonups.json
  tests/snmpsim/eatonups.snmprec
Labels: Device :desktop_computer:

#10311 Example SNMP Trap handler class
  doc/Developing/SNMP-Traps.md
Labels: Documentation :book:

#10249 Split install steps into git clone and composer install
  doc/Developing/Getting-Started.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  doc/Installation/index.md
Labels: Documentation :book:

#10338 Update VMWare guest IDs
  LibreNMS/Config.php
  LibreNMS/Util/Rewrite.php
  includes/html/print-vm.inc.php
  includes/vmware_guestid.inc.php
Labels: WebUI

#10336 add raisecom os version, hardware and serial data
  includes/polling/os/raisecom.inc.php
  tests/data/raisecom.json
  tests/snmpsim/raisecom.snmprec
Labels: Device :desktop_computer:

#10335 Aruba IAP: Fix Radio State Sensor
  includes/discovery/sensors/state/aruba-instant.inc.php
  tests/data/aruba-instant.json
  tests/data/aruba-instant_105.json
Labels: Device :desktop_computer:

#10333 Check correct path for config in the installer
  html/install.php
Labels: Bug :beetle:

#10295 Rewritten device groups (including static)
  LibreNMS/Alerting/QueryBuilderFilter.php
  LibreNMS/Alerting/QueryBuilderFluentParser.php
  LibreNMS/Alerting/QueryBuilderParser.php
  LibreNMS/DB/Schema.php
  app/Http/Controllers/DeviceGroupController.php
  app/Models/DeviceGroup.php
  app/Policies/DeviceGroupPolicy.php
  app/Providers/AuthServiceProvider.php
  database/migrations/2019_05_30_225937_device_groups_rewrite.php
  doc/Extensions/Device-Groups.md
  doc/img/device_groups.png
  html/ajax_rulesuggest.php
  includes/common.php
  includes/defaults.inc.php
  includes/device-groups.inc.php
  includes/helpers.php
  includes/html/api_functions.inc.php
  includes/html/common/alerts.inc.php
  includes/html/forms/create-device-group.inc.php
  includes/html/forms/delete-device-group.inc.php
  includes/html/forms/parse-device-group.inc.php
  includes/html/modal/delete_device_group.inc.php
  includes/html/modal/new_device_group.inc.php
  includes/html/pages/device-groups.inc.php
  includes/html/pages/devices.inc.php
  includes/init.php
  includes/polling/functions.inc.php
  misc/db_schema.yaml
  resources/views/device-group/create.blade.php
  resources/views/device-group/edit.blade.php
  resources/views/device-group/form.blade.php
  resources/views/device-group/index.blade.php
  resources/views/layouts/menu.blade.php
  routes/web.php
  tests/QueryBuilderTest.php
  tests/data/misc/querybuilder.json
Labels: Feature

#10324 sort Device Applications in Optionbar alphabetic
  includes/html/pages/device/apps.inc.php
Labels: WebUI

#10343 Fix multiple typos in SNMP Trap doc
  doc/Developing/SNMP-Traps.md
Labels: Documentation :book:

#10346 Device groups rewrite
  LibreNMS/Alerting/QueryBuilderFilter.php
  LibreNMS/Alerting/QueryBuilderFluentParser.php
  LibreNMS/Alerting/QueryBuilderParser.php
  LibreNMS/DB/Schema.php
  app/Http/Controllers/DeviceGroupController.php
  app/Models/DeviceGroup.php
  app/Policies/DeviceGroupPolicy.php
  app/Providers/AuthServiceProvider.php
  daily.php
  daily.sh
  database/migrations/2019_05_30_225937_device_groups_rewrite.php
  doc/Extensions/Device-Groups.md
  doc/img/device_groups.png
  html/ajax_rulesuggest.php
  includes/common.php
  includes/defaults.inc.php
  includes/device-groups.inc.php
  includes/helpers.php
  includes/html/api_functions.inc.php
  includes/html/common/alerts.inc.php
  includes/html/forms/create-device-group.inc.php
  includes/html/forms/delete-device-group.inc.php
  includes/html/forms/parse-device-group.inc.php
  includes/html/modal/delete_device_group.inc.php
  includes/html/modal/new_device_group.inc.php
  includes/html/pages/device-groups.inc.php
  includes/html/pages/devices.inc.php
  includes/init.php
  includes/polling/functions.inc.php
  misc/db_schema.yaml
  resources/views/device-group/create.blade.php
  resources/views/device-group/edit.blade.php
  resources/views/device-group/form.blade.php
  resources/views/device-group/index.blade.php
  resources/views/layouts/menu.blade.php
  routes/web.php
  tests/QueryBuilderTest.php
  tests/data/misc/querybuilder.json
Labels: Ignore changelog :mute:

#10353 Fix device groups not using cached joins sometimes
  LibreNMS/Alerting/QueryBuilderFluentParser.php
Labels: Bug :beetle:, Ignore changelog :mute:

#10356 Fix saving new device groups
  app/Models/DeviceGroup.php
Labels: Bug :beetle:, Ignore changelog :mute:

#10348 Improve UI of filter menu
  includes/html/pages/devices.inc.php
Labels: WebUI

#10342 go through making lots of the docs more lint happy
  doc/API/ARP.md
  doc/API/Alerts.md
  doc/API/Bills.md
  doc/API/DeviceGroups.md
  doc/API/Devices.md
  doc/API/Inventory.md
  doc/API/Logs.md
  doc/API/PortGroups.md
  doc/API/Ports.md
  doc/API/Routing.md
  doc/API/Services.md
  doc/API/Switching.md
  doc/API/System.md
  doc/API/index.md
  doc/Alerting/Creating-Transport.md
  doc/Alerting/Device-Dependencies.md
  doc/Alerting/Entities.md
  doc/Alerting/Introduction.md
  doc/Alerting/Macros.md
  doc/Alerting/Rules.md
  doc/Alerting/Templates.md
  doc/Alerting/Testing.md
  doc/Alerting/Transports.md
  doc/Alerting/index.md
  doc/Developing/Code-Guidelines.md
  doc/Developing/Code-Structure.md
  doc/Developing/Creating-Documentation.md
  doc/Developing/Creating-Release.md
  doc/Developing/Dynamic-Config.md
  doc/Developing/Getting-Started.md
  doc/Developing/Licensing.md
  doc/Developing/Merging-Pull-Requests.md
  doc/Developing/SNMP-Traps.md
  doc/Developing/Sensor-State-Support.md
  doc/Developing/Style-Guidelines.md
  doc/Developing/Support-New-OS.md
  doc/Developing/Using-Git.md
  doc/Developing/Validating-Code.md
  doc/Developing/index.md
  doc/Developing/os/Custom-Graphs.md
  doc/Developing/os/Health-Information.md
  doc/Developing/os/Initial-Detection.md
  doc/Developing/os/Mem-CPU-Information.md
  doc/Developing/os/Settings.md
  doc/Developing/os/Test-Units.md
  doc/Developing/os/Wireless-Sensors.md
Labels: Documentation :book:

#10328 Ukrainian language support
  resources/lang/uk.json
  resources/lang/uk/auth.php
  resources/lang/uk/commands.php
  resources/lang/uk/pagination.php
  resources/lang/uk/passwords.php
  resources/lang/uk/preferences.php
  resources/lang/uk/sensors.php
  resources/lang/uk/validation.php
  resources/lang/uk/wireless.php
Labels: Translation

#10319 Russian language update
  resources/lang/ru.json
Labels: Translation

#10178 Traditional Chinese language support
  resources/lang/zh-TW.json
  resources/lang/zh-TW/auth.php
  resources/lang/zh-TW/commands.php
  resources/lang/zh-TW/pagination.php
  resources/lang/zh-TW/passwords.php
  resources/lang/zh-TW/preferences.php
  resources/lang/zh-TW/validation.php
Labels: Translation

#10277 French language support
  resources/lang/fr.json
  resources/lang/fr/auth.php
  resources/lang/fr/commands.php
  resources/lang/fr/pagination.php
  resources/lang/fr/passwords.php
  resources/lang/fr/preferences.php
Labels: Translation

#10360 Fix device group queries that don't start with devices table
  LibreNMS/Alerting/QueryBuilderFluentParser.php
  tests/data/misc/querybuilder.json
Labels: Bug :beetle:, Ignore changelog :mute:

#10359 Support relative time for graphs again
  includes/html/pages/devices.inc.php
  includes/html/pages/graphs.inc.php
Labels: Graphs

#10355 WIP - Added VRP SFPs thresholds and map entPhysical to ifIndexes
  includes/definitions/discovery/vrp.yaml
  includes/discovery/entity-physical/entity-physical.inc.php
  includes/discovery/functions.inc.php
Labels: Bug :beetle:, Device :desktop_computer:, Discovery

#10318 Add 2 css class graph - minigraph for bg color and other
  html/css/styles.css
  includes/html/pages/device/ports.inc.php
  includes/html/pages/ports/graph.inc.php
Labels: WebUI

#10377 docs: update and fix link for Migrating from Observium
  doc/Installation/Migrating-from-Observium.md
Labels: Documentation :book:

#10380 Fix broken updates
  daily.php
  dist-pollers.php
  html/graph-realtime.php
Labels: Bug :beetle:

#10375 fix an issue where the order may be random when adding values to the UPS-APC RRD
  includes/polling/applications/ups-apcups.inc.php
Labels: Device :desktop_computer:

#10379 Fix Dummy alert transport
  LibreNMS/Alert/Transport/Dummy.php
  includes/html/forms/alert-transports.inc.php
Labels: Alerting :bell:

#10381 Allow sysName to be specified in lnms device:add for ping only
  routes/console.php
Labels: Command Line, Feature

#10361 Update zh-TW
  resources/lang/zh-TW.json
Labels: Translation

#10368 Create sensors.php and wireless.php for zh-TW
  resources/lang/zh-TW/sensors.php
  resources/lang/zh-TW/wireless.php
Labels: Device :desktop_computer:, Translation

#10287 Use sensor labels for overview/inventory pages, refactor some html-page related code
  includes/html/functions.inc.php
  includes/html/pages/device/entphysical.inc.php
  includes/html/pages/device/health/sensors.inc.php
  includes/html/pages/device/overview/generic/sensor.inc.php
  includes/html/pages/device/port/sensors.inc.php
  includes/html/table/sensors-common.php
  resources/lang/en/sensors.php
Labels: WebUI

#10373 Add custom title to alert widget
  app/Http/Controllers/Widgets/AlertsController.php
  resources/views/widgets/settings/alerts.blade.php
Labels: WebUI

#10387 Fix markdown in Changelog
  doc/General/Changelog.md
Labels: Documentation :book:
