Repository librenms/librenms, pull requests merged in 2020-11, with the labels that each got.

#12283 Fixed display "Power Status" for libvirt vm's
  includes/discovery/libvirt-vminfo.inc.php
  includes/html/print-vm.inc.php
Labels: WebUI

#12281 Allow pre-formatted logon message
  resources/views/auth/login-form.blade.php
Labels: WebUI

#12288 Bump to PHP 7.3 minimum
  daily.php
  daily.sh
Labels: Dependencies

#12243 Split VMware into seperate OS
  includes/definitions/discovery/vmware-esxi.yaml
  includes/definitions/discovery/vmware-vcsa.yaml
  includes/definitions/vmware-esxi.yaml
  includes/definitions/vmware-vcsa.yaml
  includes/discovery/mempools/hrstorage.inc.php
  includes/discovery/storage/hrstorage.inc.php
  includes/discovery/vmware-vminfo.inc.php
  includes/polling/os/vmware-esxi.inc.php
  includes/polling/ports.inc.php
  mibs/vmware/VMWARE-ENV-MIB
  mibs/vmware/VMWARE-ESX-AGENTCAP-MIB
  mibs/vmware/VMWARE-NSX-MANAGER-AGENTCAP-MIB
  mibs/vmware/VMWARE-NSX-MANAGER-MIB
  mibs/vmware/VMWARE-PRODUCTS-MIB
  mibs/vmware/VMWARE-ROOT-MIB
  mibs/vmware/VMWARE-VA-AGENTCAP-MIB
  mibs/vmware/VMWARE-VCOPS-EVENT-MIB
  mibs/vmware/VMWARE-VRNI-AGENTCAP-MIB
  mibs/vmware/VMWARE-VRNI-MIB
  tests/data/vmware-esxi.json
  tests/data/vmware-vcsa.json
  tests/snmpsim/vmware-esxi.snmprec
  tests/snmpsim/vmware-vcsa.snmprec
  tests/snmpsim/vmware_esx.snmprec
  tests/snmpsim/vmware_vcenter.snmprec
  tests/snmpsim/vmware_vcsa.snmprec
Labels: Device :desktop_computer:

#12296 Update F5 MIB-files
  mibs/f5/F5-BIGIP-APM-MIB
  mibs/f5/F5-BIGIP-COMMON-MIB
  mibs/f5/F5-BIGIP-GLOBAL-MIB
  mibs/f5/F5-BIGIP-LOCAL-MIB
  mibs/f5/F5-BIGIP-SYSTEM-MIB
  mibs/f5/F5-BIGIP-WAM-MIB
Labels: MIBs

#12297 Faster initial database creation
  LibreNMS/DB/Schema.php
  LibreNMS/Validations/Database.php
  app/Console/Commands/SchemaDumpCommand.php
  build.sql
  database/schema/mysql-schema.dump
  database/schema/testing-schema.dump
  database/schema/testing_persistent-schema.dump
  includes/functions.php
  scripts/build-schema.php
  tests/DBSetupTest.php
Labels: Schema

#12303 Ignore aos6 phantom fan
  includes/discovery/sensors/state/aos6.inc.php
  tests/data/aos6.json
  tests/snmpsim/aos6.snmprec
Labels: Device :desktop_computer:

#12302 Extend Debian instructions with Raspberry Pi OS
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#12301 Fix bgp polling for BGP4-MIB devices
  includes/discovery/functions.inc.php
  includes/polling/bgp-peers.inc.php
  tests/data/pfsense_frr-bgp.json
  tests/snmpsim/pfsense_frr-bgp.snmprec
Labels: Device :desktop_computer:

#11929 Add OSPF cost (TOS)
  app/Models/OspfPort.php
  database/migrations/2020_10_30_093601_add_tos_to_ospf_ports.php
  includes/html/pages/device/routing/ospf.inc.php
  includes/polling/ospf.inc.php
  misc/db_schema.yaml
  tests/data/ios.json
  tests/data/iosxe.json
  tests/data/iosxr.json
  tests/snmpsim/ios.snmprec
  tests/snmpsim/iosxe.snmprec
  tests/snmpsim/iosxr.snmprec
Labels: Polling

#12306 Remove incorrect mib_dir
  includes/definitions/mobileiron.yaml
Labels: Bug :beetle:

#12279 VRP NAC polling optimisation
  LibreNMS/OS/Vrp.php
Labels: Refactor

#12309 only add new outage entry if Device status changed
  includes/functions.php
Labels: Bug :beetle:

#12300 Adding Fortigate HA checks
  includes/discovery/sensors/state/fortigate.inc.php
  includes/polling/sensors/state/fortigate.inc.php
  tests/data/fortigate_1500d-sensors.json
  tests/snmpsim/fortigate_1500d-sensors.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12263 Update to Composer 2
  app/Checks.php
  app/Http/Kernel.php
  artisan
  bootstrap/autoload.php
  composer.json
  doc/General/Updating.md
  html/api_v0.php
  lnms
  scripts/composer_wrapper.php
Labels: Cleanup

#12247 Ubiquiti Edgepower battery values
  includes/definitions/discovery/edgeos-ep.yaml
  mibs/ubnt/UBNT-EdgeMAX-MIB
  tests/data/edgeos-ep.json
  tests/snmpsim/edgeos-ep.snmprec
Labels: Device :desktop_computer:

#12310 Fix customers_descr config definition
  misc/config_definitions.json
Labels: Bug :beetle:

#12311 OSPF View Open/Close Button
  includes/html/pages/device/routing/ospf.inc.php
Labels: WebUI

#12287 Convert Virtual Machine pages to Laravel
  LibreNMS/Enum/PowerState.php
  LibreNMS/Snmptrap/Handlers/VmwVmPoweredOff.php
  LibreNMS/Snmptrap/Handlers/VmwVmPoweredOn.php
  LibreNMS/Snmptrap/Handlers/VmwVmSuspended.php
  LibreNMS/Util/Html.php
  LibreNMS/Util/Rewrite.php
  app/Http/Controllers/Device/Tabs/VmInfoController.php
  app/Http/Controllers/DeviceController.php
  app/Http/Controllers/Table/VminfoController.php
  app/Models/Vminfo.php
  database/factories/VminfoFactory.php
  database/migrations/2020_11_02_164331_add_powerstate_enum_to_vminfo.php
  includes/common.php
  includes/discovery/libvirt-vminfo.inc.php
  includes/discovery/vmware-vminfo.inc.php
  includes/html/forms/get-vmlist.inc.php
  includes/html/pages/device/vm.inc.php
  includes/html/pages/vminfo.inc.php
  includes/html/print-vm.inc.php
  includes/polling/os/vmware-esxi.inc.php
  misc/db_schema.yaml
  resources/views/device/tabs/vminfo.blade.php
  resources/views/vminfo.blade.php
  routes/web.php
Labels: Refactor

#12312 Update distributed poller documentation
  doc/Extensions/Distributed-Poller.md
Labels: Documentation :book:

#12273 Add support for new Extreme VSP/VOSS models
  includes/definitions/boss.yaml
  includes/definitions/voss.yaml
  includes/definitions/xos.yaml
Labels: Device :desktop_computer:

#12264 New device support named BTI SA-800 Series
  html/images/os/bti.png
  includes/definitions/bti800.yaml
  includes/definitions/discovery/bti800.yaml
  includes/discovery/sensors/dbm/bti800.inc.php
  includes/discovery/sensors/pre-cache/bti800.inc.php
  mibs/bti/BTI8xx-INTERFACE-MIB
  mibs/bti/BTI8xx-MIB
  mibs/bti/BTI8xx-SFP-MIB
  mibs/bti/BTI8xx-SYSTEM-MIB
  mibs/bti/BTI8xx-TC-MIB
  tests/data/bti800.json
  tests/snmpsim/bti800.snmprec
Labels: Device :desktop_computer:

#12258 Shell updates
  cronic
  daily.sh
  pbin.sh
  scripts/deploy-docs.sh
Labels: Ignore changelog :mute:

#12315 Add support new os SNR-ERD
  includes/definitions/discovery/snr-erd.yaml
  includes/definitions/snr-erd.yaml
  mibs/snrerd/SNR-ERD-4
  tests/data/snr-erd.json
  tests/snmpsim/snr-erd.snmprec
Labels: Device :desktop_computer:

#12316 Update regex for vCenter 7
  includes/definitions/vmware-vcsa.yaml
Labels: Device :desktop_computer:

#12318 Sort Alert Transport by Name
  includes/html/print-alert-transports.php
Labels: Alerting :bell:, WebUI

#12323 Fix model observer registering multiple times
  LibreNMS/Modules/Nac.php
  LibreNMS/Util/ModuleModelObserver.php
Labels: Bug :beetle:

#12327 Do not run validate.php as root
  validate.php
Labels: Bug :beetle:

#12308 Fix disabling of built-in commands when using ./lnms
  app/Console/MigrateInstallCommand.php
  app/Console/ModelMakeCommand.php
  app/Providers/CliServiceProvider.php
  composer.json
  composer.lock
  config/laravel-console-summary.php
  lnms
Labels: Cleanup

#12332 Fix Device Dependency Count Limitation
  includes/html/forms/get-host-dependencies.inc.php
Labels: Bug :beetle:, WebUI

#12331 Custom_descr Ports - configurable Icons
  app/Http/Controllers/Select/GraphAggregateController.php
  app/Http/ViewComposers/MenuComposer.php
  resources/views/layouts/menu.blade.php
Labels: Feature, WebUI

#12328 SNR-ERD add support RSensor-H/T/P
  includes/definitions/discovery/snr-erd.yaml
  tests/data/snr-erd.json
  tests/snmpsim/snr-erd.snmprec
Labels: Device :desktop_computer:

#12329 Bugfix: SQL error with alerts search bar
  includes/html/table/alerts.inc.php
Labels: Bug :beetle:, WebUI

#12321 Added devices unpolled alert rule template
  misc/alert_rules.json
Labels: Alert Rule

#12291 Interface description types to Global Settings
  html/mix-manifest.json
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: WebUI

#12334 Global Settings - Discovery Network
  html/mix-manifest.json
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: Settings

#12335 Always return json for api requests
  app/Http/Kernel.php
  app/Http/Middleware/EnforceJson.php
  html/api_v0.php
Labels: API, Bug :beetle:

#12269 Distributed Poller improved validation
  LibreNMS/Exceptions/InvalidNameException.php
  LibreNMS/ValidationResult.php
  LibreNMS/Validations/DistributedPoller.php
  LibreNMS/Validator.php
  app/Models/PollerCluster.php
  config/librenms.php
Labels: Miscellaneous

#12337 Add system validation
  LibreNMS/Validations/System.php
  validate.php
Labels: Miscellaneous

#12344 Vminfo bugs
  app/Models/Vminfo.php
  resources/views/device/tabs/vm.blade.php
Labels: Bug :beetle:

#12347 Revert "Python log mysql connection errors and harden config retrieval"
  LibreNMS/library.py
Labels: Ignore changelog :mute:

#12348 Fix mempool links from overview
  includes/html/pages/device/overview/mempools.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:

#12341 Fix nets setting can't add new
  html/css/app.css
  html/js/app.js
  html/js/vendor.js
  html/mix-manifest.json
  misc/config_definitions.json
  package-lock.json
  package.json
  resources/js/components/SettingArray.vue
Labels: Bug :beetle:, Settings, WebUI

#12349 Change mempools summary graph to show values
  LibreNMS/Modules/Mempools.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/Modules/Nac.php
  LibreNMS/OS/Coriant.php
  LibreNMS/OS/Traits/HostResources.php
  app/Models/Mempool.php
  app/Observers/MempoolObserver.php
  app/Observers/ModuleModelObserver.php
  includes/html/graphs/device/mempool.inc.php
  tests/data/aix.json
  tests/data/aix_net-snmp.json
  tests/data/aix_std.json
  tests/data/arbos.json
  tests/data/barracudangfirewall.json
  tests/data/bluecatnetworks.json
  tests/data/cirpack.json
  tests/data/datadomain.json
  tests/data/dell-os10.json
  tests/data/dhcpatriot.json
  tests/data/dsm.json
  tests/data/dsm_ds214se.json
  tests/data/exagridos.json
  tests/data/gaia.json
  tests/data/gos.json
  tests/data/mobileiron_core.json
  tests/data/mobileiron_sentry.json
  tests/data/nios.json
  tests/data/omnipcx.json
  tests/data/panos_vsys.json
  tests/data/procera.json
  tests/data/qnap.json
  tests/data/quantastor.json
  tests/data/recoveryos.json
  tests/data/recoveryos_8024s.json
  tests/data/solidserver.json
  tests/data/sophos-xg.json
  tests/data/truenas.json
Labels: Bug :beetle:, Ignore changelog :mute:, Refactor

#12355 Change mempools summary graph to show values v2
  LibreNMS/Modules/Mempools.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/Modules/Nac.php
  LibreNMS/OS/Coriant.php
  LibreNMS/OS/Traits/HostResources.php
  app/Models/Mempool.php
  app/Observers/MempoolObserver.php
  app/Observers/ModuleModelObserver.php
  includes/html/graphs/device/mempool.inc.php
  tests/data/aix.json
  tests/data/aix_net-snmp.json
  tests/data/aix_std.json
  tests/data/arbos.json
  tests/data/barracudangfirewall.json
  tests/data/bluecatnetworks.json
  tests/data/cirpack.json
  tests/data/datadomain.json
  tests/data/dell-os10.json
  tests/data/dhcpatriot.json
  tests/data/dsm.json
  tests/data/dsm_ds214se.json
  tests/data/exagridos.json
  tests/data/gaia.json
  tests/data/gos.json
  tests/data/mobileiron_core.json
  tests/data/mobileiron_sentry.json
  tests/data/nios.json
  tests/data/omnipcx.json
  tests/data/panos_vsys.json
  tests/data/procera.json
  tests/data/qnap.json
  tests/data/quantastor.json
  tests/data/recoveryos.json
  tests/data/recoveryos_8024s.json
  tests/data/solidserver.json
  tests/data/sophos-xg.json
  tests/data/truenas.json
Labels: Bug :beetle:, Ignore changelog :mute:, Refactor

#12356 Respect device access for health mempools page
  app/Http/Controllers/Table/MempoolsController.php
Labels: Bug :beetle:, Ignore changelog :mute:

#12357 Fix bad link in docs
  doc/Developing/os/Mem-CPU-Information.md
Labels: Documentation :book:

#12352 Add Device "Eltek SmartPack2" to enexus definitions
  includes/definitions/enexus.yaml
  tests/data/enexus_eltek-smartpack2-syst.json
  tests/snmpsim/enexus_eltek-smartpack2-syst.snmprec
Labels: Device :desktop_computer:

#12364 Remove hardcoded URLs to doc
  .github/ISSUE_TEMPLATE/New-Device.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  doc/Developing/Code-Structure.md
  doc/Developing/Validating-Code.md
  doc/Extensions/Agent-Setup.md
  doc/Extensions/Authentication.md
  doc/Extensions/Distributed-Poller.md
  doc/Extensions/Fast-Ping-Check.md
  doc/Extensions/Proxmox.md
  doc/Extensions/RRDCached.md
  doc/Extensions/Smokeping.md
  doc/Extensions/Syslog.md
  doc/Extensions/Varnish.md
  doc/General/Welcome-to-Observium-users.md
  doc/Installation/Install-LibreNMS.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Debian-10-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  doc/Support/FAQ.md
  doc/Support/Performance.md
  mkdocs.yml
Labels: Documentation :book:
