Repository librenms/librenms, pull requests merged in 2020-01, with the labels that each got.

#10988 Dont't show ' - ' on ping only Devices in Availability Widget
  resources/views/widgets/availability-map.blade.php
Labels: WebUI

#10936 Mpls Path Visualization
  LibreNMS/Interfaces/Discovery/MplsDiscovery.php
  LibreNMS/Interfaces/Polling/MplsPolling.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/OS/Timos.php
  app/Models/Device.php
  app/Models/MplsLspPath.php
  app/Models/MplsTunnelArHop.php
  app/Models/MplsTunnelCHop.php
  database/migrations/2019_11_30_191013_create_mpls_tunnel_ar_hops_table.php
  database/migrations/2019_11_30_191013_create_mpls_tunnel_c_hops_table.php
  database/migrations/2019_12_01_165514_add_indexes_to_mpls_lsp_paths_table.php
  includes/html/pages/device/routing/mpls.inc.php
  includes/html/pages/routing/mpls-path-map.inc.php
  includes/html/pages/routing/mpls.inc.php
  mibs/MPLS-TE-MIB
  mibs/nokia/TIMETRA-BGP-MIB
  mibs/nokia/TIMETRA-CHASSIS-MIB
  mibs/nokia/TIMETRA-DHCP-SERVER-MIB
  mibs/nokia/TIMETRA-FILTER-MIB
  mibs/nokia/TIMETRA-GLOBAL-MIB
  mibs/nokia/TIMETRA-LDP-MIB
  mibs/nokia/TIMETRA-LLDP-MIB
  mibs/nokia/TIMETRA-LOG-MIB
  mibs/nokia/TIMETRA-MPLS-MIB
  mibs/nokia/TIMETRA-OAM-TEST-MIB
  mibs/nokia/TIMETRA-PORT-MIB
  mibs/nokia/TIMETRA-QOS-MIB
  mibs/nokia/TIMETRA-SAP-MIB
  mibs/nokia/TIMETRA-SDP-MIB
  mibs/nokia/TIMETRA-SERV-MIB
  mibs/nokia/TIMETRA-SUBSCRIBER-MGMT-MIB
  mibs/nokia/TIMETRA-SYSTEM-MIB
  mibs/nokia/TIMETRA-TC-MG-MIB
  mibs/nokia/TIMETRA-TC-MIB
  mibs/nokia/TIMETRA-VRTR-MIB
  misc/db_schema.yaml
  tests/data/timos.json
Labels: Device :desktop_computer:, WebUI

#10989 Update epmp.yaml
  includes/definitions/discovery/epmp.yaml
Labels: Device :desktop_computer:

#10991 Fix alertlog sql after b361710148dc2d90d4df94e036d273e763e01521
  includes/html/table/alertlog.inc.php
Labels: Bug :beetle:

#10995 Add Blade directives for common Url functions
  app/Providers/AppServiceProvider.php
  resources/views/device-group/index.blade.php
  resources/views/user/preferences.blade.php
  resources/views/widgets/availability-map.blade.php
  resources/views/widgets/top-interfaces.blade.php
  resources/views/widgets/worldmap.blade.php
Labels: WebUI

#10916 Graphing Device Dependency
  app/Http/Controllers/Maps/DeviceDependencyController.php
  app/Http/Controllers/Maps/MapController.php
  resources/views/layouts/menu.blade.php
  resources/views/map/device-dependency.blade.php
  routes/web.php
Labels: WebUI

#11000 Correct 'shortend' misspelling
  resources/lang/en/settings.php
  resources/lang/zh-TW/settings.php
Labels: Translation

#10854 Discovery Module and Poller Module configuration via Global Settings Web GUI
  html/mix-manifest.json
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: WebUI

#11001 rrdtool.inc.php: in rrdtool_escape(), fix invalid length
  includes/rrdtool.inc.php
Labels: Bug :beetle:

#11013 ajax_search.php: Fix & amend broken $num_ports query on line 83
  html/ajax_search.php
Labels: Bug :beetle:

#11014 SELinux fix for syslog-ng with LibreNMS on Centos
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#11011 Clarify disable, ignore and disable all alerts in device edit section
  doc/Support/FAQ.md
  includes/html/pages/device/edit.inc.php
  includes/html/pages/device/edit/alerts.inc.php
  includes/html/pages/device/edit/device.inc.php
Labels: Alerting :bell:, Polling, WebUI

#11016 Clarify doc and webui for ignore tag on devices, ports, components and services
  doc/Support/FAQ.md
  includes/html/modal/new_service.inc.php
  includes/html/pages/device/edit/component.inc.php
  includes/html/pages/device/edit/device.inc.php
  includes/html/pages/device/edit/ports.inc.php
  includes/html/table/component.inc.php
  includes/html/table/edit-ports.inc.php
Labels: Documentation :book:, WebUI

#11007 Add support for TRENDnet switch
  html/images/os/trendnet.png
  includes/definitions/trendnet.yaml
  includes/polling/os/trendnet.inc.php
  tests/data/trendnet.json
  tests/snmpsim/trendnet.snmprec
Labels: Device :desktop_computer:

#11018 highlight isolated Devices (Devices with no Dependencies)
  app/Http/Controllers/Maps/DeviceDependencyController.php
  resources/views/map/device-dependency.blade.php
Labels: WebUI

#11015 "Disable alerting" on device disables alert rules check (not just alert transport)
  LibreNMS/Alert/AlertRules.php
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/RunAlerts.php
  database/migrations/2020_01_09_1300_migrate_devices_attribs_table.php
  includes/html/functions.inc.php
  includes/html/pages/device/edit/device.inc.php
  misc/db_schema.yaml
Labels: Alerting :bell:, WebUI

#10994 Add state sensor for Packetflux Sitemonitor Switch Input
  includes/discovery/sensors/state/sitemonitor.inc.php
  tests/data/sitemonitor.json
  tests/snmpsim/sitemonitor.snmprec
Labels: Device :desktop_computer:

#10792 Optimize DB update of ports and ports_statistics tables when polling
  includes/polling/ports.inc.php
Labels: Needs Testing, Polling

#11028 Create TRIPPLITE-PRODUCTS
  mibs/poweralert/TRIPPLITE-PRODUCTS
Labels: Device :desktop_computer:

#11029 remove uneeded table header
  includes/html/pages/iftype.inc.php
Labels: Refactor

#11003 Bugfix the snmpsim collector: use the correct mibdir
  LibreNMS/Util/ModuleTestHelper.php
Labels: Bug :beetle:

#10940 FDB for ArubaOS
  includes/discovery/fdb-table/arubaos.inc.php
  includes/snmp.inc.php
  tests/data/arubaos.json
  tests/snmpsim/arubaos.snmprec
Labels: Device :desktop_computer:, Needs Testing

#11030 Fixing PHP incompatibility issue with PHP 7.4
  resources/views/widgets/graph.blade.php
Labels: Cleanup

#11005 Add ifotec definition file
  html/images/logos/ifotec.png
  html/images/os/ifotec.png
  includes/definitions/ifotec.yaml
  tests/data/ifotec.json
  tests/snmpsim/ifotec.snmprec
Labels: Device :desktop_computer:

#10904 Extend FS switches support, handle lowerLayerDown ifOperStatus
  LibreNMS/Util/Url.php
  app/Http/Controllers/Widgets/GlobeController.php
  app/Models/Port.php
  doc/Alerting/Macros.md
  includes/caches/ports.inc.php
  includes/definitions/discovery/fs-switch.yaml
  includes/definitions/fs-switch.yaml
  includes/html/common/globe.inc.php
  includes/html/pages/device/port.inc.php
  includes/html/pages/device/port/macaccounting.inc.php
  includes/html/table/edit-ports.inc.php
  includes/polling/os/fs-switch.inc.php
  includes/polling/ports.inc.php
  mibs/fs/FS-MIB
  mibs/fs/GBNDeviceStack-MIB
  mibs/fs/GBNL2PortSecurity-MIB
  mibs/fs/GBNL2PppoePlus-MIB
  mibs/fs/GBNServiceCM-MIB
  mibs/fs/GBNServiceMACAUTHEN-MIB
  mibs/fs/GBNServiceTACACS-MIB
  mibs/fs/LLDPPRIVATE-MIB
  tests/data/fs-switch_s3900.json
  tests/snmpsim/fs-switch_s3900.snmprec
Labels: Device :desktop_computer:, Polling

#11034 Fix alerts not displayed
  includes/html/table/alerts.inc.php
Labels: Bug :beetle:

#11022 Support of "disable alerting" in availability map and device summary widget
  LibreNMS/Util/ObjectCache.php
  app/Http/Controllers/Table/DeviceController.php
  app/Http/Controllers/Widgets/AvailabilityMapController.php
  app/Http/Controllers/Widgets/DeviceSummaryController.php
  app/Models/Device.php
  includes/html/common/availability-map.inc.php
  includes/html/pages/devices.inc.php
  resources/views/widgets/availability-map.blade.php
  resources/views/widgets/device-summary-horiz.blade.php
  resources/views/widgets/device-summary-vert.blade.php
  resources/views/widgets/settings/availability-map.blade.php
Labels: WebUI

#11040 Update timos.inc.php
  includes/polling/os/timos.inc.php
Labels: Device :desktop_computer:

#11035 VMWare Guest State Traps and UI
  LibreNMS/Snmptrap/Handlers/VmwTrapUtil.php
  LibreNMS/Snmptrap/Handlers/VmwVmHBDetected.php
  LibreNMS/Snmptrap/Handlers/VmwVmHBLost.php
  LibreNMS/Snmptrap/Handlers/VmwVmPoweredOff.php
  LibreNMS/Snmptrap/Handlers/VmwVmPoweredOn.php
  LibreNMS/Snmptrap/Handlers/VmwVmSuspended.php
  app/Models/Device.php
  config/snmptraps.php
  database/factories/ModelFactory.php
  includes/html/pages/vminfo.inc.php
  includes/html/print-vm.inc.php
  tests/Feature/SnmpTraps/VmwHBTest.php
  tests/Feature/SnmpTraps/VmwPowerStateTest.php
Labels: SNMP Traps

#11038 Add alert rule option to invert devices and groups "map to" list
  LibreNMS/Alert/AlertUtil.php
  database/migrations/2019_12_17_151314_add_invert_map_to_alert_rules.php
  includes/html/forms/alert-rules.inc.php
  includes/html/forms/parse-alert-rule.inc.php
  includes/html/modal/new_alert_rule.inc.php
  misc/db_schema.yaml
Labels: Alerting :bell:, Bug :beetle:

#11041 Don't overwrite real port ids with zeros in the FDB
  includes/discovery/fdb-table.inc.php
Labels: Bug :beetle:, Discovery

#11047 Centralize Application Display Naming
  app/Models/Application.php
Labels: Refactor

#11052 Create CISCO-RESILIENT-ETHERNET-PROTOCOL-MIB
  mibs/cisco/CISCO-RESILIENT-ETHERNET-PROTOCOL-MIB
Labels: Device :desktop_computer:, MIBs

#11056 Update Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Apache.md
Labels: Documentation :book:, Ignore changelog :mute:

#11055 fdb-table.inc.php: Fix SQL constraint violation, 'port_id' cannot be null
  includes/discovery/fdb-table.inc.php
Labels: Bug :beetle:

#11048 PureFTPd Application
  LibreNMS/Util/StringHelpers.php
  doc/Extensions/Applications.md
  includes/html/graphs/application/pureftpd_bitrate.inc.php
  includes/html/graphs/application/pureftpd_connections.inc.php
  includes/html/graphs/application/pureftpd_users.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/pureftpd.inc.php
  includes/polling/applications/pureftpd.inc.php
Labels: Applications :floppy_disk:

#11049 Url.php: Allow findOsImage() to also use the first two words of $feature
  LibreNMS/Util/Url.php
Labels: WebUI

#10997 Fix Siklu Voltage Sensor
  includes/discovery/sensors/voltage/siklu.inc.php
  tests/data/siklu.json
Labels: Device :desktop_computer:

#10907 Do not update alert timestamp when updating a triggered alert
  LibreNMS/Alert/AlertRules.php
  database/migrations/2019_12_05_164700_alerts_disable_on_update_current_timestamp.php
  misc/db_schema.yaml
Labels: Alerting :bell:, Needs Testing

#10917 Always update widget seeds when db update
  includes/sql-schema/update.php
Labels: Needs Testing, Refactor

#10901 Add 'alert history' widget for dashboard
  app/Http/Controllers/Widgets/AlertlogController.php
  database/seeds/DefaultWidgetSeeder.php
  includes/html/table/alertlog.inc.php
  resources/views/widgets/alertlog.blade.php
  resources/views/widgets/settings/alertlog.blade.php
  routes/web.php
Labels: Schema, User-Pending, WebUI

#10967 Alertlog stats dashboard widget
  app/Http/Controllers/Widgets/AlertlogStatsController.php
  database/seeds/DefaultWidgetSeeder.php
  includes/html/table/alertlog-stats.inc.php
  resources/views/widgets/alertlog_stats.blade.php
  resources/views/widgets/settings/alertlog_stats.blade.php
  routes/web.php
Labels: User-Pending, WebUI

#11043 Add sensors to Infoblox discovery (nios.yaml)
  includes/definitions/discovery/nios.yaml
  tests/data/nios_status.json
  tests/snmpsim/nios_status.snmprec
Labels: Device :desktop_computer:

#11037 SNMP counters validation
  poll-billing.php
Labels: Billing :heavy_dollar_sign:

#11065 add aggregate totals to multiport_bits graph, similar to port_bits
  includes/html/graphs/generic_multi_data.inc.php
Labels: Graphs, WebUI

#10965 SNMP Traps for Juniper Power Supplies
  LibreNMS/Snmptrap/Handlers/JnxPowerSupplyFailure.php
  LibreNMS/Snmptrap/Handlers/JnxPowerSupplyOk.php
  config/snmptraps.php
  tests/Feature/SnmpTraps/JnxPowerSupplyTest.php
Labels: SNMP Traps

#11061 Format the Device Module Naming like in global Settings
  includes/html/pages/device/edit/modules.inc.php
Labels: WebUI

#11067 Updated test data for arubaos, fs-switch, ifotec, lcos, siklu and trendnet, to pass Travis tests
  tests/data/arubaos.json
  tests/data/fs-switch_s3900.json
  tests/data/ifotec.json
  tests/data/lcos_oap-321.json
  tests/data/siklu.json
  tests/data/trendnet.json
Labels: Bug :beetle:

#11066 Oxidized GUI tweaks
  includes/html/functions.inc.php
  includes/html/pages/oxidized.inc.php
Labels: WebUI

#11073 Poller Group Management - Device Count
  app/Http/Controllers/Table/DeviceController.php
  includes/html/pages/devices.inc.php
  includes/html/pages/pollers/groups.inc.php
Labels: Polling, WebUI

#11072 Order Poller Group by Name
  includes/html/pages/addhost.inc.php
Labels: Polling, WebUI

#11071 Change Poller Group on Device Settings
  includes/html/pages/device/edit/device.inc.php
Labels: Polling, WebUI

#11063 Added OS definition and discovery for SIAE Alfo80HD
  LibreNMS/OS/Alfo80hd.php
  includes/definitions/alfo80hd.yaml
  tests/data/alfo80hd.json
  tests/snmpsim/alfo80hd.snmprec
Labels: Device :desktop_computer:

#11076 alert.inc.php: Fix missing ACK & Notes modals on device alert page
  includes/html/pages/device/alert.inc.php
Labels: Bug :beetle:, WebUI

#11075 Cisco Spark Do not strip tags when markdown is in use.
  LibreNMS/Alert/Transport/Ciscospark.php
Labels: Alerting :bell:

#11079 Fix Air Fiber port stats
  includes/polling/ports.inc.php
  includes/polling/ports/os/airos-af.inc.php
  includes/polling/ports/os/cmm.inc.php
  includes/polling/ports/os/cxr-ts.inc.php
  includes/polling/ports/os/fabos.inc.php
  includes/polling/ports/os/infinera-groove.inc.php
  includes/polling/ports/os/junos.inc.php
  includes/polling/ports/os/nokia-isam.inc.php
  includes/polling/ports/os/procera.inc.php
  includes/polling/ports/os/timos.inc.php
  tests/data/airos-af.json
  tests/snmpsim/airos-af.snmprec
Labels: Bug :beetle:, Device :desktop_computer:, Polling

#11002 Include maintainers in release notes
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#10981 Alternate Poller IP instead of Hostname
  app/Models/Device.php
  database/migrations/2019_12_28_180000_add_overwrite_ip_to_devices.php
  doc/API/Devices.md
  doc/Support/Adding-a-Device.md
  doc/img/webui_add_device.png
  includes/functions.php
  includes/html/api_functions.inc.php
  includes/html/dev-overview-data.inc.php
  includes/html/pages/addhost.inc.php
  includes/html/pages/device/edit/device.inc.php
  includes/polling/unix-agent.inc.php
  includes/services.inc.php
  includes/snmp.inc.php
  misc/db_schema.yaml
Labels: Breaking-Change, Feature, Needs-Concept, Pending Review

#11084 Don't dnslookup if overwrite IP is configured
  includes/polling/functions.inc.php
Labels: Polling

#11081 Remove redundant data from Alert fallback detail
  includes/html/functions.inc.php
Labels: Alerting :bell:

#11085 mock.snmp.inc.php: Fix snmptranslate exception
  tests/mocks/mock.snmp.inc.php
Labels: Bug :beetle:

#11088 Show Alert Detail for Applications
  includes/html/functions.inc.php
Labels: Alerting :bell:, Applications :floppy_disk:
