Repository librenms/librenms, pull requests merged in 2020-07, with the labels that each got.

#11882 Move qnap to yaml discovery + extended discovery
  LibreNMS/OS/Qnap.php
  includes/definitions/discovery/qnap.yaml
  includes/discovery/sensors/fanspeed/qnap.inc.php
  includes/discovery/sensors/state/qnap.inc.php
  includes/discovery/sensors/temperature/qnap.inc.php
  mibs/qnap/NAS-MIB
  tests/data/qnap.json
  tests/snmpsim/qnap.snmprec
Labels: Device :desktop_computer:

#11886 Fix devices missing from graph view
  includes/html/pages/devices.inc.php
Labels: Bug :beetle:, WebUI

#11884 Auth AD URL
  html/mix-manifest.json
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: Settings

#11890 Remove the last node from the arbor sysObjectId
  includes/definitions/arbos.yaml
Labels: Device :desktop_computer:

#11889 Edit maintenance schedule, handle timezone properly
  app/Http/Controllers/Table/AlertScheduleController.php
  includes/html/forms/schedule-maintenance.inc.php
  includes/html/modal/alert_schedule.inc.php
  includes/html/pages/alert-schedule.inc.php
Labels: Bug :beetle:, WebUI

#11892 Git changes
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#11891 Fix up/down sort
  app/Http/Controllers/Table/DeviceController.php
Labels: Ignore changelog :mute:

#11893 Show poller settings even if distributed polling is disabled
  app/Http/ViewComposers/MenuComposer.php
  resources/views/layouts/menu.blade.php
  resources/views/poller/index.blade.php
Labels: Ignore changelog :mute:

#11894 Add alert rule error on invert map selected but no selection in device, group or location list
  includes/html/forms/alert-rules.inc.php
Labels: Alerting :bell:

#11898 Fix route tests
  tests/OSModulesTest.php
Labels: Tests :test_tube:

#11888 Add support SNR Memory pool, dBm, voltage, current, fan speed and status
  includes/definitions/discovery/snr.yaml
  includes/discovery/mempools/snr.inc.php
  includes/polling/mempools/snr.inc.php
  tests/data/snr.json
  tests/snmpsim/snr.snmprec
Labels: Device :desktop_computer:

#11887 Add support for Aten PE8216 PDU
  html/images/os/aten.png
  includes/definitions/atenpdu.yaml
  includes/definitions/discovery/atenpdu.yaml
  mibs/aten/ATEN-PE-CFG_int.mib
  mibs/aten/ATEN-PE-CFG_str.mib
  tests/data/atenpdu.json
  tests/snmpsim/atenpdu.snmprec
Labels: Device :desktop_computer:

#11509 OS detection for Dell PowerVault MD arrays
  includes/definitions/dell-powervault.yaml
  includes/polling/os/dell-powervault.inc.php
  mibs/dell/DellMDStorageArray-MIB
  mibs/dell/SanAppliance-MIB
  tests/data/dell-powervault.json
  tests/snmpsim/dell-powervault.snmprec
Labels: Device :desktop_computer:

#11901 Update italian translation
  resources/lang/it.json
Labels: Translation

#11897 Restore device alert tab
  includes/html/pages/device/alert.inc.php
  includes/html/pages/device/alerts.inc.php
Labels: Bug :beetle:, WebUI

#11905 Simplify Chinese lang Translation
  resources/lang/zh-CN.json
  resources/lang/zh-CN/auth.php
  resources/lang/zh-CN/commands.php
  resources/lang/zh-CN/pagination.php
  resources/lang/zh-CN/passwords.php
  resources/lang/zh-CN/preferences.php
  resources/lang/zh-CN/sensors.php
  resources/lang/zh-CN/settings.php
  resources/lang/zh-CN/syslog.php
  resources/lang/zh-CN/validation.php
  resources/lang/zh-CN/wireless.php
Labels: Translation

#11857 Ciena SDS
  includes/definitions/discovery/ciena-sds.yaml
  mibs/ciena/CIENA-WWP-LEOS-PORT-MIB
  mibs/ciena/CIENA-WWP-LEOS-PORT-XCVR-MIB
  mibs/ciena/CIENA-WWP-LEOS-SYSTEM-CONFIG
  mibs/ciena/CIENA-WWP-PRODUCTS-MIB
  mibs/ciena/CIENA-WWP-SMI
  tests/data/ciena-sds.json
  tests/snmpsim/ciena-sds.snmprec
Labels: Device :desktop_computer:, User-Pending

#11906 Add Divisors to Eaton Matrix sensors
  includes/definitions/discovery/eaton-matrix.yaml
  tests/data/eaton-matrix.json
Labels: Device :desktop_computer:

#11908 Selected Port Polling, only try to optimize polling if enabled by global setting
  includes/polling/ports.inc.php
Labels: Polling

#11909 newdevice: Added support for Eltek SmartPack2 Touch
  includes/definitions/enexus.yaml
  tests/data/enexus_sp2touch.json
  tests/snmpsim/enexus_sp2touch.snmprec
Labels: Device :desktop_computer:

#11912 CORS settings in webui
  app/Http/Kernel.php
  app/Http/Middleware/HandleCors.php
  app/Http/Profile/CorsApiProfile.php
  composer.json
  composer.lock
  config/cors.php
  html/mix-manifest.json
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: API, Settings

#11634 Added check for incorrect ifConnectorPresent truth values, if invalid…
  includes/polling/ports.inc.php
  tests/data/arubaos-cx.json
  tests/data/ciena-sds.json
  tests/data/cmm.json
  tests/data/dlink_dgs-1510-28.json
  tests/data/gigavue.json
  tests/data/hiveos-wireless_320_n.json
  tests/data/hiveos-wireless_650ax.json
  tests/data/iosxr.json
  tests/data/netagent2_1.json
  tests/data/opengear.json
  tests/data/panos.json
  tests/data/panos_vsys.json
  tests/data/pmp.json
  tests/data/pmp_450.json
  tests/data/pmp_450m.json
  tests/data/saf-integra-e.json
  tests/data/snr.json
  tests/data/vxoa.json
  tests/data/zxdsl.json
Labels: Polling, User-Pending

#11914 newdevice: Added support for Fortinet FortiVoice devices
  includes/definitions/discovery/fortivoice.yaml
  includes/definitions/fortivoice.yaml
  mibs/fortinet/FORTINET-FORTIVOICE-MIB
  tests/data/fortivoice.json
  tests/snmpsim/fortivoice.snmprec
Labels: Device :desktop_computer:

#11913 Support NetMan 204
  includes/definitions/riello.yaml
  tests/snmpsim/riello.snmprec
Labels: Device :desktop_computer:

#11915 Fix settings access
  routes/web.php
Labels: Security

#11676 Laravel 7.x Shift
  LibreNMS/Util/Laravel.php
  app/Exceptions/Handler.php
  app/Http/Kernel.php
  app/Http/Middleware/TrustHosts.php
  app/Http/Middleware/TrustProxies.php
  app/Models/Device.php
  composer.json
  composer.lock
  config/app.php
  config/auth.php
  config/cache.php
  config/filesystems.php
  config/logging.php
  config/mail.php
  config/queue.php
  config/session.php
  config/view.php
  phpunit.xml
  routes/api.php
Labels: Core, WebUI

#11916 Fix graphing with generic_v3_multiline_float
  includes/html/graphs/generic_v3_multiline_float.inc.php
Labels: Bug :beetle:, Graphs

#11919 Sanitize graph title input
  includes/html/graphs/graph.inc.php
Labels: Security

#11921 Fix users that set a non-array for cors
  LibreNMS/Util/Env.php
  LibreNMS/Util/EnvHelper.php
  LibreNMS/Validations/Dependencies.php
  LibreNMS/Validations/Updates.php
  LibreNMS/Validations/User.php
  app/Http/Middleware/HandleCors.php
  config/trustedproxy.php
  tests/Unit/Util/EnvTest.php
Labels: Bug :beetle:, WebUI

#11768 Initial Release, wireless sensor support for Openwrt
  LibreNMS/OS/Openwrt.php
  doc/Support/Device-Notes/Openwrt.md
  tests/data/openwrt.json
  tests/snmpsim/openwrt.snmprec
Labels: Device :desktop_computer:, User-Pending

#11907 Mult graphs bits spacing
  includes/html/graphs/generic_multi_bits_separated.inc.php
Labels: Graphs

#11923 Fix sql injection
  includes/html/forms/customoid.inc.php
Labels: Security, WebUI

#11924 Fix missing doc OpenWRT
  mkdocs.yml
Labels: Documentation :book:

#11920 Fix SQL injections in ajax_table.php
  html/ajax_table.php
  includes/html/table/address-search.inc.php
  includes/html/table/alertlog-stats.inc.php
  includes/html/table/alerts.inc.php
  includes/html/table/as-selection.inc.php
  includes/html/table/edit-ports.inc.php
  includes/html/table/eventlog.inc.php
  includes/html/table/inventory.inc.php
  includes/html/table/ix-list.inc.php
  includes/html/table/ix-peers.inc.php
  includes/html/table/mempool-edit.inc.php
  includes/html/table/mempool.inc.php
  includes/html/table/poll-log.inc.php
  includes/html/table/processor-edit.inc.php
  includes/html/table/processor.inc.php
  includes/html/table/routing-edit.inc.php
  includes/html/table/sensors-common.php
  includes/html/table/storage-edit.inc.php
  includes/html/table/storage.inc.php
  includes/html/table/toner.inc.php
Labels: Security

#11925 Pull in fixed string blade
  composer.lock
Labels: Bug :beetle:, Ignore changelog :mute:

#11933 Black legend text in dark theme
  html/css/dark.css
Labels: Design

#11930 QNAP NAS - Added RAID states for each volume.
  includes/definitions/discovery/qnap.yaml
Labels: Device :desktop_computer:

#11931 QNAP NAS - Added state rules to collection
  misc/alert_rules.json
Labels: Alert Rule

#11932 Added basic EndRun support
  LibreNMS/OS/Endrun.php
  html/images/os/endrun.png
  includes/definitions/endrun.yaml
  mibs/endrun/TEMPUSLXUNISON-MIB
  tests/data/endrun.json
  tests/snmpsim/endrun.snmprec
Labels: Device :desktop_computer:

#11934 Fix bug when timeout exceeded
  includes/snmp.inc.php
Labels: Bug :beetle:, Polling

#11937 Correct link for Rule, Location (Alerts, and several other pages)
  LibreNMS/Util/Url.php
Labels: WebUI

#11939 Simpler Python requirements check
  scripts/check_requirements.py
Labels: Refactor

#11938 Fix QNAP os polling
  includes/polling/os/unix.inc.php
  tests/data/qnap.json
Labels: Bug :beetle:

#11943 Fix missing Munin controller tab definition
  app/Http/Controllers/DeviceController.php
Labels: Bug :beetle:, WebUI

#11945 Show Location on Poller Log
  includes/html/table/poll-log.inc.php
  resources/views/poller/log.blade.php
Labels: WebUI

#11944 LLDP Neighbour List - alphabetic sort
  includes/html/pages/device/ports/neighbours.inc.php
Labels: WebUI

#11949 Make sure base_url always ends with /
  LibreNMS/Config.php
Labels: Bug :beetle:, WebUI

#11953 Show SysName in Availability Widget
  resources/views/widgets/availability-map.blade.php
  resources/views/widgets/settings/availability-map.blade.php
Labels: WebUI

#11955 Fix wrong str::finish argument order
  LibreNMS/Config.php
Labels: Bug :beetle:, WebUI

#11951 Sort Neighbors by ifName, not bei ifAlias
  includes/html/pages/device/ports/neighbours.inc.php
Labels: WebUI

#11928 Add permission support to Oxidized config search
  includes/html/forms/search-oxidized-config.inc.php
  includes/html/functions.inc.php
Labels: Security, WebUI

#11918 Add more types to settings page
  LibreNMS/Util/DynamicConfigItem.php
  html/js/app.js
  html/mix-manifest.json
  misc/config_definitions.json
  misc/config_schema.json
  resources/js/components/SettingDirectory.vue
  resources/js/components/SettingExecutable.vue
  resources/lang/en/settings.php
Labels: Security, Settings, WebUI

#11956 Update Smokeping.md
  doc/Extensions/Smokeping.md
Labels: Documentation :book:

#11952 Convert device notes to blade
  app/Http/Controllers/Device/Tabs/NotesController.php
  app/Policies/DevicePolicy.php
  app/View/Components/Panel.php
  includes/html/forms/update-notes.inc.php
  includes/html/pages/device/notes.inc.php
  resources/views/components/panel.blade.php
  resources/views/device/tabs/notes.blade.php
  routes/web.php
Labels: WebUI

#11957 Convert blade to panel component
  app/View/Components/Panel.php
  resources/views/auth/2fa.blade.php
  resources/views/auth/login-form.blade.php
  resources/views/auth/public-status.blade.php
  resources/views/components/panel.blade.php
  resources/views/device-group/index.blade.php
  resources/views/device/header.blade.php
  resources/views/device/tabs/latency.blade.php
  resources/views/locations.blade.php
  resources/views/overview/simple.blade.php
  resources/views/poller/performance.blade.php
  resources/views/poller/poller.blade.php
  resources/views/user/authlog.blade.php
  resources/views/user/edit.blade.php
  resources/views/user/index.blade.php
  resources/views/user/preferences.blade.php
  resources/views/widgets/device-summary-horiz.blade.php
  resources/views/widgets/device-summary-vert.blade.php
Labels: WebUI

#11959 Update canonprinter.yaml
  includes/definitions/canonprinter.yaml
Labels: Device :desktop_computer:

#11967 Update RRDCached.md
  doc/Extensions/RRDCached.md
Labels: Documentation :book:

#11971 Fix netflow links
  includes/html/pages/device/nfsen.inc.php
Labels: Bug :beetle:, WebUI

#11972 Fix .env path in daily.sh
  daily.sh
Labels: Bug :beetle:

#11968 Added Proxy support for Api Transport
  LibreNMS/Alert/Transport/Api.php
  includes/functions.php
Labels: Alerting :bell:

#11973 Dispatch Service Fix maintenance issues
  LibreNMS/service.py
Labels: Bug :beetle:, Service

#11979 Fix encoded html entities in page title
  app/Http/ViewComposers/LayoutComposer.php
Labels: Bug :beetle:, WebUI

#11980 Fix latency.blade.php to show smokeping integration
  resources/views/device/tabs/latency.blade.php
Labels: Bug :beetle:

#11981 python requirements check, use sys.exit
  scripts/check_requirements.py
Labels: Bug :beetle:

#11982 Full path to python requirements check
  daily.sh
Labels: Bug :beetle:

#11983 Cisco SLA jitter tag
  includes/discovery/cisco-sla.inc.php
Labels: Device :desktop_computer:

#11975 Add type hinting to devicecache
  LibreNMS/Cache/Device.php
Labels: Bug :beetle:

#11974 Add missing index for device_perf
  database/migrations/2020_07_29_143221_add_device_perf_index.php
  misc/db_schema.yaml
Labels: Schema
