Repository librenms/librenms, pull requests merged in 2020-03, with the labels that each got.

#11210 Running Alerts colorized depending on to their severity
  includes/html/functions.inc.php
  includes/html/print-alert-rules.php
  includes/html/table/alerts.inc.php
Labels: WebUI

#11228 Store OLD-CISCO-xxx-MIB files in their directory
  includes/definitions/ciscoepc.yaml
  includes/definitions/ciscospa.yaml
  includes/definitions/ciscosrp.yaml
  includes/definitions/ios.yaml
  includes/definitions/iosxe.yaml
  includes/definitions/iosxr.yaml
  mibs/cisco/OLD-CISCO-CHASSIS-MIB
  mibs/cisco/OLD-CISCO-CPU-MIB
  mibs/cisco/OLD-CISCO-INTERFACES-MIB
  mibs/cisco/OLD-CISCO-MEMORY-MIB
  mibs/cisco/OLD-CISCO-SYS-MIB
Labels: Device :desktop_computer:

#11232 Fix error when deleting alert maintenance schedules
  includes/html/forms/schedule-maintenance.inc.php
Labels: Bug :beetle:

#11229 Added support for Inteno devices
  html/images/os/inteno.svg
  includes/definitions/discovery/inteno.yaml
  includes/definitions/inteno.yaml
  includes/polling/os/inteno.inc.php
  mibs/inteno/XAVI-XG6846-MIB
  tests/data/inteno_xg6846.json
  tests/snmpsim/inteno_xg6846.snmprec
Labels: Device :desktop_computer:

#11235 Graph CPU Steal and IO Wait
  includes/html/graphs/device/ucd_cpu_steal.inc.php
  includes/html/graphs/device/ucd_io_wait.inc.php
  includes/polling/ucd-mib.inc.php
  misc/config_definitions.json
Labels: Graphs

#11179 Doc: Health Sensor Advanced Discovery Example
  doc/Developing/os/Health-Information.md
Labels: Documentation :book:

#11238 Fix "inteno" and "quanta" OS collision
  includes/definitions/inteno.yaml
Labels: Bug :beetle:, Device :desktop_computer:

#11249 Fix includes/defaults.inc.php references
  config.php.default
  doc/Developing/os/Initial-Detection.md
  tests/config/config.test.php
Labels: Documentation :book:

#11252 Update Linux SNMPD to support ssCpuRawSteal
  mibs/UCD-SNMP-MIB
Labels: Polling, Schema

#11255 Extended unbound monitoring
  includes/html/graphs/application/unbound_recursiontime.inc.php
  includes/html/graphs/application/unbound_requestlist.inc.php
  includes/html/pages/device/apps/unbound.inc.php
  includes/polling/applications/unbound.inc.php
Labels: Applications :floppy_disk:, WebUI

#11189 Fix autodiscovery vs discovery on LLDP/xDP links
  doc/Extensions/Auto-Discovery.md
  includes/discovery/discovery-protocols.inc.php
Labels: Discovery, Needs Testing

#11253 Upgrade UCD Mibs (Others)
  mibs/UCD-DISKIO-MIB
  mibs/UCD-DLMOD-MIB
Labels: Polling, Schema

#11239 Changed poller member validation step and message
  LibreNMS/Validations/Poller.php
Labels: Polling

#11230 Extra VLAN mapping in bridge FDB module to fix ProCurve
  includes/discovery/fdb-table/bridge.inc.php
  tests/data/procurve_2520.json
  tests/snmpsim/procurve_2520.snmprec
Labels: Device :desktop_computer:, Feature

#11223 Update SSL-Configuration.md
  doc/Support/SSL-Configuration.md
Labels: Documentation :book:

#11225 Add Device: Innovaphone
  html/images/os/innovaphone.png
  includes/definitions/discovery/innovaphone.yaml
  includes/definitions/innovaphone.yaml
  includes/discovery/sensors/state/innovaphone.inc.php
  mibs/innovaphone/INNO-MIB
  tests/data/innovaphone.json
  tests/snmpsim/innovaphone.snmprec
Labels: Device :desktop_computer:

#11258 Show the plugin's name in the title rather than just "Plugin"
  includes/html/pages/plugin.inc.php
Labels: WebUI

#11250 Fix - Crash in Device Group on some Operator
  LibreNMS/Alerting/QueryBuilderParser.php
Labels: Bug :beetle:

#11236 Collect average server CPU usage on Huawei RH servers (IBMC)
  includes/definitions/discovery/ibmc.yaml
  tests/data/ibmc.json
  tests/snmpsim/ibmc.snmprec
Labels: Device :desktop_computer:

#11260 Added additional Cisco FirePOWER device ID's for 2100 series
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:

#11263 Update SNMP-Trap-Handler.md
  doc/Extensions/SNMP-Trap-Handler.md
Labels: Documentation :book:

#11267 Add quotes around the word mail
  doc/Alerting/Templates.md
Labels: Documentation :book:

#11270 Add device support for SilverPeak
  html/images/os/silverpeak.png
  includes/definitions/vxoa.yaml
  includes/polling/os/vxoa.inc.php
  mibs/silverpeak/SILVERPEAK-MGMT-MIB
  mibs/silverpeak/SILVERPEAK-PRODUCTS-MIB
  mibs/silverpeak/SILVERPEAK-SMI
  mibs/silverpeak/SILVERPEAK-TC
  tests/data/vxoa.json
  tests/snmpsim/vxoa.snmprec
Labels: Device :desktop_computer:

#11271 Define Poller Duration precision to 2
  includes/html/table/poll-log.inc.php
Labels: Ignore changelog :mute:, WebUI

#9179 Refactor datastores to classes
  LibreNMS/Data/Measure/Measurement.php
  LibreNMS/Data/Measure/MeasurementCollection.php
  LibreNMS/Data/Measure/MeasurementSummary.php
  LibreNMS/Data/Store/BaseDatastore.php
  LibreNMS/Data/Store/Datastore.php
  LibreNMS/Data/Store/Graphite.php
  LibreNMS/Data/Store/InfluxDB.php
  LibreNMS/Data/Store/OpenTSDB.php
  LibreNMS/Data/Store/Prometheus.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Interfaces/Data/Datastore.php
  LibreNMS/RRD/RrdDefinition.php
  LibreNMS/Util/GitHub.php
  LibreNMS/Validations/RrdCheck.php
  app/Facades/Rrd.php
  app/Jobs/PingCheck.php
  app/Providers/DatastoreServiceProvider.php
  check-services.php
  composer.json
  composer.lock
  config/app.php
  html/graph.php
  includes/common.php
  includes/datastore.inc.php
  includes/functions.php
  includes/graphite.inc.php
  includes/html/api_functions.inc.php
  includes/html/graphs/application/proxmox_traffic.inc.php
  includes/influxdb.inc.php
  includes/init.php
  includes/opentsdb.inc.php
  includes/polling/applications/mysql.inc.php
  includes/polling/applications/smart.inc.php
  includes/polling/ipSystemStats.inc.php
  includes/polling/netstats/netstats-icmp.inc.php
  includes/polling/netstats/netstats-snmp.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/cisco-if-extension.inc.php
  includes/prometheus.inc.php
  includes/rrdtool.inc.php
  ping.php
  poll-billing.php
  poller.php
  scripts/tune_port.php
  tests/ConfigTest.php
  tests/RrdtoolTest.php
  tests/Unit/Data/DatastoreTest.php
  tests/Unit/Data/GraphiteStoreTest.php
  tests/Unit/Data/InfluxDBStoreTest.php
  tests/Unit/Data/OpenTSDBStoreTest.php
  tests/Unit/Data/PrometheusStoreTest.php
Labels: Polling, Refactor

#11257 Global Search - IPv4, IPv6
  html/ajax_search.php
Labels: WebUI

#11274 Fix for route tests, ignore port_id
  tests/data/vxoa.json
  tests/module_tables.yaml
Labels: Bug :beetle:, Ignore changelog :mute:

#11275 Update Sophos detection
  includes/definitions/sophos.yaml
  tests/snmpsim/sophos_1.snmprec
Labels: Device :desktop_computer:

#11276 Updated OS for Cisco FirePOWER devices
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:, Ignore changelog :mute:

#11280 Sort Settings by translated names
  app/Http/Controllers/SettingsController.php
  html/js/app.js
  html/mix-manifest.json
  package.json
  resources/js/components/LibrenmsSettings.vue
Labels: WebUI

#11266 Add datastore settings to the Web UI
  html/mix-manifest.json
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: WebUI

#11281 Wrong translation key for sorting
  html/js/app.js
  html/mix-manifest.json
  resources/js/components/LibrenmsSettings.vue
Labels: Ignore changelog :mute:

#11058 app: mailcow-dockerized postfix stats
  LibreNMS/Util/StringHelpers.php
  doc/Extensions/Applications.md
  includes/html/graphs/application/mailcow-postfix_domains.inc.php
  includes/html/graphs/application/mailcow-postfix_emails.inc.php
  includes/html/graphs/application/mailcow-postfix_traffic.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/mailcow-postfix.inc.php
  includes/polling/applications/mailcow-postfix.inc.php
  tests/data/linux_mailcow-dockerized-v1.json
  tests/snmpsim/linux_mailcow-dockerized-v1.snmprec
Labels: Applications :floppy_disk:, Documentation :book:, Needs Tests :unicorn:

#11269 Geographical map: Show network links between locations
  html/mix-manifest.json
  includes/html/common/worldmap.inc.php
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: Feature, User-Pending, WebUI

#11284 Fix db_port config in services-wrapper
  services-wrapper.py
Labels: Service

#11277 Rewrite Poller Management to Blade/Eloquent
  LibreNMS/Util/Html.php
  LibreNMS/Validations/Poller.php
  app/Checks.php
  app/Http/Controllers/PollerController.php
  app/Models/Poller.php
  app/Models/PollerCluster.php
  app/Models/PollerClusterStats.php
  app/Models/PollerGroups.php
  doc/Support/1-Minute-Polling.md
  includes/html/pages/pollers.inc.php
  includes/html/pages/pollers/groups.inc.php
  includes/html/pages/pollers/log.inc.php
  includes/html/pages/pollers/performance.inc.php
  includes/html/pages/pollers/pollers.inc.php
  resources/views/layouts/menu.blade.php
  resources/views/poller/groups.blade.php
  resources/views/poller/index.blade.php
  resources/views/poller/log.blade.php
  resources/views/poller/performance.blade.php
  resources/views/poller/poller.blade.php
  routes/web.php
Labels: Refactor, WebUI

#11291 Alert Collection Rule fix for APC on Battery Power
  misc/alert_rules.json
Labels: Alert Rule

#11292 Alert Collection Rule - APC UPS Diagnostics Test Result
  misc/alert_rules.json
Labels: Alert Rule

#11283 Refactor Datastores to allow future improvements. OpenTSDB Tags.
  LibreNMS/Data/Measure/Measurement.php
  LibreNMS/Data/Measure/MeasurementCollection.php
  LibreNMS/Data/Measure/MeasurementSummary.php
  LibreNMS/Data/Store/BaseDatastore.php
  LibreNMS/Data/Store/Datastore.php
  LibreNMS/Data/Store/Graphite.php
  LibreNMS/Data/Store/InfluxDB.php
  LibreNMS/Data/Store/OpenTSDB.php
  LibreNMS/Data/Store/Prometheus.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Interfaces/Data/Datastore.php
  LibreNMS/RRD/RrdDefinition.php
  LibreNMS/Util/GitHub.php
  LibreNMS/Validations/RrdCheck.php
  app/Facades/Rrd.php
  app/Jobs/PingCheck.php
  app/Providers/DatastoreServiceProvider.php
  check-services.php
  composer.json
  composer.lock
  config/app.php
  html/graph.php
  includes/common.php
  includes/datastore.inc.php
  includes/functions.php
  includes/graphite.inc.php
  includes/html/api_functions.inc.php
  includes/html/forms/update-ifspeed.inc.php
  includes/html/graphs/application/proxmox_traffic.inc.php
  includes/influxdb.inc.php
  includes/init.php
  includes/opentsdb.inc.php
  includes/polling/applications/mysql.inc.php
  includes/polling/applications/smart.inc.php
  includes/polling/ipSystemStats.inc.php
  includes/polling/netstats/netstats-icmp.inc.php
  includes/polling/netstats/netstats-snmp.inc.php
  includes/polling/ports.inc.php
  includes/polling/ports/cisco-if-extension.inc.php
  includes/prometheus.inc.php
  includes/rrdtool.inc.php
  ping.php
  poll-billing.php
  poller.php
  scripts/tune_port.php
  tests/ConfigTest.php
  tests/RrdtoolTest.php
  tests/Unit/Data/DatastoreTest.php
  tests/Unit/Data/GraphiteStoreTest.php
  tests/Unit/Data/InfluxDBStoreTest.php
  tests/Unit/Data/OpenTSDBStoreTest.php
  tests/Unit/Data/PrometheusStoreTest.php
Labels: Polling, Refactor

#11305 Fix show rrdtool command
  LibreNMS/Data/Store/Rrd.php
  includes/html/graphs/graph.inc.php
Labels: Bug :beetle:

#11306 Fix graph previous with rrdgraph_real_percentile
  includes/html/graphs/generic_data.inc.php
Labels: Bug :beetle:, Graphs

#11304 Fixed Netscaler vserver rrd ds name
  includes/polling/netscaler-vsvr.inc.php
Labels: Bug :beetle:, Polling

#11293 French translation update
  html/mix-manifest.json
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
Labels: Translation

#11310 Fix get_rrd_dir() function
  includes/rrdtool.inc.php
Labels: Bug :beetle:

#11278 Fallback to default Poller Group on delete
  app/Http/Controllers/PollerGroupController.php
  app/Models/PollerGroups.php
  includes/html/forms/poller-group-remove.inc.php
  resources/views/poller/groups.blade.php
  routes/web.php
Labels: Cleanup, Polling

#11314 replace AES by SHA for authalgo
  html/js/app.js
  misc/config_definitions.json
  resources/js/components/SettingSnmp3auth.vue
Labels: Settings, WebUI

#11295 Fix bills api output for period=previous
  includes/html/api_functions.inc.php
Labels: Billing :heavy_dollar_sign:

#11311 Update dusk-updater
  .travis.yml
  composer.json
  composer.lock
Labels: Ignore changelog :mute:

#11298 Update Performance.md
  doc/Support/Performance.md
Labels: Documentation :book:

#11287 Some Poller page cleanups
  app/Http/Controllers/PollerController.php
  app/Http/Controllers/PollerGroupController.php
  app/Models/PollerCluster.php
  app/Models/PollerClusterStat.php
  app/Models/PollerGroup.php
  resources/views/layouts/menu.blade.php
  resources/views/poller/groups.blade.php
  resources/views/poller/index.blade.php
  resources/views/poller/log.blade.php
  resources/views/poller/poller.blade.php
  routes/web.php
Labels: Design, Ignore changelog :mute:, WebUI

#11324 Fix js warning in settings, update js deps
  app/Http/Controllers/SettingsController.php
  html/css/app.css
  html/js/app.js
  html/js/vendor.js
  html/mix-manifest.json
  package-lock.json
  package.json
  resources/js/components/LibrenmsSettings.vue
Labels: Bug :beetle:, WebUI

#11329 Better map link scaling algorithm
  includes/html/common/worldmap.inc.php
Labels: WebUI

#11316 Only check depedencies once in validate.php
  LibreNMS/Util/Laravel.php
  LibreNMS/Validations/Dependencies.php
  validate.php
Labels: Bug :beetle:

#11334 Update SNMP-Configuration-Examples.md
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#11333 Use format_hostname in dependencies list
  includes/html/forms/get-host-dependencies.inc.php
Labels: WebUI

#11330 Update SMART extension documentation
  doc/Extensions/Applications.md
Labels: Documentation :book:

#11290 Builder View Fix for Collection Selector
  includes/html/modal/alert_rule_collection.inc.php
Labels: WebUI

#11338 Top Interfaces, exclude invalid ports
  app/Http/Controllers/Widgets/TopInterfacesController.php
  app/Models/Port.php
Labels: WebUI

#11337 Fix invalid paths introduced in librenms/librenms#9883
  includes/html/graphs/device/bigip_system_client_concurrent_connections.inc.php
  includes/html/graphs/device/bigip_system_client_connection_rate.inc.php
  includes/html/graphs/device/bigip_system_server_concurrent_connections.inc.php
  includes/html/graphs/device/bigip_system_server_connection_rate.inc.php
  includes/html/graphs/device/bigip_system_tps.inc.php
Labels: Bug :beetle:, WebUI

#11315 Ubiquiti Edgepower OS definition
  doc/Developing/os/Health-Information.md
  includes/definitions/discovery/edgeos-ep.yaml
  includes/definitions/edgeos-ep.yaml
  includes/polling/os/edgeos-ep.inc.php
  mibs/ubnt/UBNT-EdgeMAX-MIB
  tests/data/edgeos-ep.json
  tests/snmpsim/edgeos-ep.snmprec
Labels: Device :desktop_computer:

#11339 Sonus became Ribbon Communications - update logos
  html/images/logos/ribbon.svg
  html/images/os/ribbon.svg
  includes/definitions/sonus-gsx.yaml
  includes/definitions/sonus-sbc.yaml
  tests/data/sonus-sbc.json
Labels: Device :desktop_computer:, WebUI

#11345 Added support for Cisco Firepower FTD 4140
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:

#11344 Don't show deleted ports in device overview
  includes/html/graphs/device/bits.inc.php
Labels: WebUI

#11342 Create MAS-MIB-SMIV2-MIB
  mibs/citrix/MAS-MIB-SMIV2-MIB
Labels: Device :desktop_computer:, User-Pending

#11349 Fix issue when field name is longer than allowed
  LibreNMS/RRD/RrdDefinition.php
Labels: Applications :floppy_disk:, Bug :beetle:

#11352 Fix bills api percentage calculation with cdr/quota of zero
  includes/html/api_functions.inc.php
Labels: API

#11355 Cisco-Remote-Access-Monitor
  includes/definitions/discovery/asa.yaml
  tests/data/asa.json
  tests/snmpsim/asa.snmprec
Labels: Device :desktop_computer:
