Repository librenms/librenms, pull requests merged in 2020-10, with the labels that each got.

#12171 Scheduled maintenance test
  LibreNMS/Enum/AlertScheduleStatus.php
  app/Models/AlertSchedule.php
  database/factories/ModelFactory.php
  tests/Feature/TestScheduledMaintenance.php
Labels: Tests :test_tube:

#12183 icecast doc correction
  doc/Extensions/Applications.md
Labels: Documentation :book:

#12182 Fix lnms update command
  routes/console.php
Labels: Bug :beetle:

#12181 New device: Rohde & Schwarz Sx800
  html/images/logos/rs.svg
  html/images/os/rs.svg
  includes/definitions/discovery/rs.yaml
  includes/definitions/rs.yaml
  includes/discovery/sensors/frequency/rs.inc.php
  mibs/rs/IRT-COMMONVARBINDS-MIB
  mibs/rs/IRT-DVBT-SINGLETRANSMITTER-MIB
  mibs/rs/IRT-TRANSMITTER-SMI-MIB
  mibs/rs/RS-COMMON-MIB
  mibs/rs/RS-XX8000-COMMON-MIB
  mibs/rs/RS-XX8000-DVB-TX-MIB
  tests/data/rs.json
  tests/snmpsim/rs.snmprec
Labels: Device :desktop_computer:

#12179 Suggest Fast Ping before 1 Minute Polling
  doc/Support/1-Minute-Polling.md
Labels: Documentation :book:

#12172 Ciena SAOS 8 device improvements
  includes/definitions/discovery/ciena-sds.yaml
  includes/polling/ports/os/ciena-sds.inc.php
  tests/data/ciena-sds.json
  tests/snmpsim/ciena-sds.snmprec
Labels: Device :desktop_computer:

#12187 Yaml support to translate sysObjectID to get hardware
  LibreNMS/OS/Ironware.php
  LibreNMS/OS/Mimosa.php
  LibreNMS/OS/Traits/YamlOSDiscovery.php
  LibreNMS/OS/Ucos.php
  doc/Developing/os/Initial-Detection.md
  includes/definitions/discovery/ironware.yaml
  includes/definitions/discovery/mimosa.yaml
  includes/definitions/discovery/ucos.yaml
  misc/discovery_schema.json
Labels: Discovery, Feature

#12186 All os detection now uses Yaml
  LibreNMS/Modules/Core.php
  includes/definitions/airos-af-ltu.yaml
  includes/definitions/airos-af.yaml
  includes/definitions/airos.yaml
  includes/definitions/anyos.yaml
  includes/definitions/edgeos-ep.yaml
  includes/definitions/infinera-pon.yaml
  includes/definitions/mobileiron.yaml
  includes/definitions/rutos-2xx.yaml
  includes/definitions/rutos.yaml
  includes/definitions/unifi.yaml
  includes/discovery/core.inc.php
  includes/discovery/os/mobileiron.inc.php
  includes/discovery/os/ubnt.inc.php
  includes/functions.php
  misc/os_schema.json
  scripts/new-os.php
  tests/OSDiscoveryTest.php
  tests/YamlSchemaTest.php
  tests/snmpsim/airos_2.snmprec
  tests/snmpsim/unifi_achd.snmprec
Labels: Device :desktop_computer:, Refactor

#12189 Add opengear hardware discovery
  includes/definitions/discovery/opengear.yaml
  tests/data/opengear.json
Labels: Device :desktop_computer:

#12191 add a bunch more Brocade Ironware devices
  LibreNMS/OS/Ironware.php
Labels: Device :desktop_computer:

#12193 Add missing mkdocs extension
  scripts/deploy-docs.sh
Labels: Documentation :book:

#12194 Ignore changelog in docs search
  mkdocs.yml
Labels: Documentation :book:

#12190 Fix Linux OS mib_dir usage
  includes/definitions/linux.yaml
  includes/discovery/sensors/fanspeed/supermicro.inc.php
  includes/discovery/sensors/state/dell.inc.php
  includes/discovery/sensors/state/hp.inc.php
  includes/discovery/sensors/temperature/supermicro.inc.php
  includes/discovery/sensors/voltage/linux.inc.php
Labels: Bug :beetle:

#12176 Add support for Supermicro hardware/serial discovery
  LibreNMS/OS/Traits/ServerHardware.php
  mibs/supermicro/SUPERMICRO-HEALTH-MIB
  mibs/supermicro/SUPERMICRO-SD5-MIB
  mibs/supermicro/SUPERMICRO-SMI
  tests/data/linux_supermicro.json
  tests/snmpsim/linux_supermicro.snmprec
Labels: Device :desktop_computer:

#12195 Updated linux snmpd.conf example
  doc/Support/SNMP-Configuration-Examples.md
  snmpd.conf.example
Labels: Documentation :book:

#12199 Revert "Ignore changelog in docs search (#12194)"
  mkdocs.yml
Labels: Ignore changelog :mute:

#12192 Ircbot fix
  LibreNMS/IRCBot.php
Labels: Bug :beetle:

#11896 Support multiple daily process locking backends with distributed polling
  LibreNMS/Interfaces/Lock.php
  LibreNMS/Util/FileLock.php
  LibreNMS/Util/MemcacheLock.php
  alerts.php
  composer.json
  composer.lock
  config/cache.php
  config/database.php
  daily.php
  database/migrations/2020_09_18_223431_create_cache_table.php
  database/migrations/2020_09_24_000500_create_cache_locks_table.php
  discovery.php
  doc/Extensions/Dispatcher-Service.md
  includes/functions.php
  includes/sql-schema/update.php
  misc/db_schema.yaml
  tests/LockTest.php
Labels: Refactor

#12200 Add docs for Supermicro Superdoctor
  doc/Extensions/Supermicro.md
  mkdocs.yml
Labels: Documentation :book:

#12201 Update Install-LibreNMS.md
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#12202 Add table of content to installation guide
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#12204 Fix SQL injection vulnerability in MAC Accounting graph
  includes/html/graphs/port/mac_acc_total.inc.php
Labels: Security

#12210 add two day period to graph widget
  resources/views/widgets/settings/graph.blade.php
Labels: Graphs

#12163 Convert Device>vlan view to Laravel
  app/Http/Controllers/Device/Tabs/VlansController.php
  app/Models/PortVlan.php
  includes/html/pages/device/vlans.inc.php
  includes/html/print-vlan.inc.php
  resources/views/device/tabs/vlans.blade.php
Labels: WebUI

#12106 schema: add missing primary keys
  database/migrations/2018_07_03_091314_create_bill_perms_table.php
  database/migrations/2018_07_03_091314_create_bill_ports_table.php
  database/migrations/2018_07_03_091314_create_devices_perms_table.php
  database/migrations/2018_07_03_091314_create_entPhysical_state_table.php
  database/migrations/2018_07_03_091314_create_ipv4_mac_table.php
  database/migrations/2018_07_03_091314_create_juniAtmVp_table.php
  database/migrations/2018_07_03_091314_create_loadbalancer_vservers_table.php
  database/migrations/2018_07_03_091314_create_ports_perms_table.php
  database/migrations/2018_07_03_091314_create_processes_table.php
  database/migrations/2018_07_03_091314_create_transport_group_transport_table.php
  database/migrations/2020_10_03_1000_add_primary_key_bill_perms.php
  database/migrations/2020_10_03_1000_add_primary_key_bill_ports.php
  database/migrations/2020_10_03_1000_add_primary_key_devices_perms.php
  database/migrations/2020_10_03_1000_add_primary_key_entPhysical_state.php
  database/migrations/2020_10_03_1000_add_primary_key_ipv4_mac.php
  database/migrations/2020_10_03_1000_add_primary_key_juniAtmVp.php
  database/migrations/2020_10_03_1000_add_primary_key_loadbalancer_vservers.php
  database/migrations/2020_10_03_1000_add_primary_key_ports_perms.php
  database/migrations/2020_10_03_1000_add_primary_key_processes.php
  database/migrations/2020_10_03_1000_add_primary_key_transport_group_transport.php
  misc/db_schema.yaml
  tests/module_tables.yaml
Labels: Schema

#12216 Update IRC-Bot.md
  doc/Extensions/IRC-Bot.md
Labels: Documentation :book:

#12219 Validate dashboard id
  app/Http/Controllers/OverviewController.php
Labels: Security

#12220 permissions query fixes
  LibreNMS/Permissions.php
Labels: Bug :beetle:, WebUI

#12213 Fix Oki LAN OS info
  LibreNMS/OS/Okilan.php
  includes/definitions/discovery/okilan.yaml
  includes/polling/os/okilan.inc.php
  tests/data/okilan_9450g.json
  tests/snmpsim/okilan_9450g.snmprec
Labels: Device :desktop_computer:

#12209 initial support for DC-UPS-48 from algcom
  html/images/logos/algcom.png
  html/images/os/algcom.png
  includes/definitions/algcom-dc-ups.yaml
  includes/definitions/discovery/algcom-dc-ups.yaml
  mibs/algcom/ALGPOWER-v2
  tests/data/algcom-dc-ups.json
  tests/snmpsim/algcom-dc-ups.snmprec
Labels: Device :desktop_computer:

#12227 bug - Check group os file before inclusion
  LibreNMS/Modules/OS.php
Labels: Bug :beetle:

#12215 Capture OSPF test data
  LibreNMS/Util/ModuleTestHelper.php
  includes/polling/ospf.inc.php
  includes/snmp.inc.php
  tests/module_tables.yaml
Labels: Tests :test_tube:

#12233 Add space between manufacturer and hardware
  LibreNMS/OS/Shared/Unix.php
Labels: Bug :beetle:

#12232 Move device exist check to prevent error
  app/Http/Controllers/DeviceController.php
Labels: Bug :beetle:

#12231 Convert VyOS to yaml
  includes/definitions/discovery/vyos.yaml
  includes/polling/os/vyos.inc.php
  tests/data/vyos.json
  tests/data/vyos_vyatta.json
Labels: Device :desktop_computer:

#12234 Fix device url
  includes/html/pages/routing/vrf.inc.php
Labels: Bug :beetle:

#12224 Added instructions for rsyslog version 8
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#12230 Fix wrong Zyxel GS1900 Q-BRIDGE replies (fdb-table)
  includes/discovery/fdb-table/zynos.inc.php
  tests/data/zynos_gs1900-fdb.json
  tests/snmpsim/zynos_gs1900-fdb.snmprec
Labels: Device :desktop_computer:

#12226 Improve Services documentation
  doc/Extensions/Services.md
Labels: Documentation :book:

#12244 followUp - FDB table for GS1900-8 as well
  includes/discovery/fdb-table/zynos.inc.php
Labels: Bug :beetle:, Device :desktop_computer:, Ignore changelog :mute:

#12248 Fix sql query syntax error
  html/ajax_search.php
Labels: Bug :beetle:

#12246 followUp - FDB table for GS1900 - generic match
  includes/discovery/fdb-table/zynos.inc.php
Labels: Device :desktop_computer:, Ignore changelog :mute:

#12253 Clarify non-x86 hardware info sources for snmpd
  doc/Support/SNMP-Configuration-Examples.md
  snmpd.conf.example
Labels: Documentation :book:

#12252 Remove legacy password algorithms and move to Laravel standard
  LibreNMS/Authentication/MysqlAuthorizer.php
  app/Models/User.php
  composer.json
  composer.lock
Labels: Security

#12255 webui - Corrected swapped ul/dl Max Rate
  includes/html/print-interface.inc.php
Labels: Bug :beetle:, WebUI

#12257 Fix dispatcher crash on restart
  LibreNMS/service.py
Labels: Bug :beetle:, Polling

#12254 snmpwalk_cache_oid() handle multiline strings
  LibreNMS/OS/XirrusAos.php
  includes/discovery/toner.inc.php
  includes/snmp.inc.php
  tests/data/fiberhome-switch.json
  tests/data/fiberhome-switch_fh4800.json
  tests/data/jetdirect_m880.json
Labels: Bug :beetle:

#12251 Basic support for Sophos xg v18
  html/images/os/sophos-xg.png
  includes/definitions/discovery/sophos-xg.yaml
  includes/definitions/sophos-xg.yaml
  mibs/sophos/SFOS-FIREWALL-MIB
  tests/data/sophos-xg.json
  tests/snmpsim/sophos-xg.snmprec
Labels: Device :desktop_computer:

#12265 Update SNMP-Configuration-Examples.md
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#12266 Fix permissions bug in IRC
  LibreNMS/Cache/PermissionsCache.php
  app/Providers/AppServiceProvider.php
  tests/Unit/PermissionsTest.php
Labels: Bug :beetle:

#12260 Check PHP dependencies in daily.sh
  daily.sh
  scripts/composer_wrapper.php
Labels: Ignore changelog :mute:

#12262 Update DSL stats even if port is down
  includes/html/graphs/port/adsl_attainable.inc.php
  includes/html/graphs/port/adsl_attenuation.inc.php
  includes/html/graphs/port/adsl_power.inc.php
  includes/html/graphs/port/adsl_snr.inc.php
  includes/html/graphs/port/adsl_speed.inc.php
  includes/html/pages/device/port/adsl.inc.php
  includes/html/print-interface.inc.php
  includes/polling/ports.inc.php
Labels: Polling

#12274 fix permissions issue
  LibreNMS/Cache/PermissionsCache.php
Labels: Ignore changelog :mute:

#12271 Revert "Check PHP dependencies in daily.sh"
  daily.sh
  scripts/composer_wrapper.php
Labels: Ignore changelog :mute:

#12276 bug - Typo in bind application polling
  includes/polling/applications/bind.inc.php
Labels: Applications :floppy_disk:, Bug :beetle:, Polling

#11966 Added new authalgo support for SNMPv3
  database/migrations/2020_07_27_00522_alter_devices_snmp_algo_columns.php
  doc/Support/FAQ.md
  includes/common.php
  includes/html/pages/addhost.inc.php
  includes/html/pages/device/edit/snmp.inc.php
  misc/config_definitions.json
  misc/db_schema.yaml
  tests/AddHostCliTest.php
  validate.php
Labels: Feature

#12280 Fix incorrect invalid algorithm logging
  includes/common.php
Labels: Bug :beetle:, Ignore changelog :mute:
