Repository librenms/librenms, pull requests merged in 2021-07, with the labels that each got.

#12996 Fix typo in filename
  includes/html/pages/device/graphs/ipSystemStats.inc.php
Labels: Bug :beetle:

#12994 Eaton M2 EMP g2
  includes/definitions/discovery/eatonupsm2.yaml
  tests/data/eatonupsm2_9px+empg2.json
  tests/data/eatonupsm2_9px.json
  tests/snmpsim/eatonupsm2_9px+empg2.snmprec
  tests/snmpsim/eatonupsm2_9px.snmprec
Labels: Device :desktop_computer:

#12973 Added VRP ICMP SLA (NQA in huawei naming) support
  LibreNMS/OS/Vrp.php
  includes/definitions/vrp.yaml
  includes/html/graphs/device/sla.inc.php
  includes/html/graphs/device/sla_icmpAppl.inc.php
  includes/html/pages/device/sla/icmpAppl.inc.php
  includes/html/pages/device/slas.inc.php
  tests/data/vrp_slas.json
  tests/snmpsim/vrp_slas.snmprec
Labels: Device :desktop_computer:

#12886 Alcatel-Lucent aos7 LLDP Neighbors
  includes/discovery/discovery-protocols.inc.php
Labels: Device :desktop_computer:, Discovery

#12990 TP-Link Jetstream DDM and PoE Support
  includes/definitions/discovery/jetstream.yaml
  includes/polling/ports.inc.php
  includes/polling/ports/port-poe.inc.php
  mibs/tplink/TPLINK-DDMBIASCURTHRESHOLD-MIB
  mibs/tplink/TPLINK-DDMMANAGE-MIB
  mibs/tplink/TPLINK-DDMRXPOWTHRESHOLD-MIB
  mibs/tplink/TPLINK-DDMSTATUS-MIB
  mibs/tplink/TPLINK-DDMTEMPTHRESHOLD-MIB
  mibs/tplink/TPLINK-DDMTXPOWTHRESHOLD-MIB
  mibs/tplink/TPLINK-DDMVOLTHRESHOLD-MIB
  mibs/tplink/TPLINK-POWER-OVER-ETHERNET-MIB
  tests/data/jetstream_sg2210p.json
  tests/data/jetstream_t2600g-28ts.json
  tests/snmpsim/jetstream_sg2210p.snmprec
  tests/snmpsim/jetstream_t2600g-28ts.snmprec
Labels: Device :desktop_computer:

#12995 Added support for the Rittal LCP DX Chiller
  doc/Support/Device-Notes/Carel-pCOweb-Devices.md
  includes/definitions/discovery/pcoweb-rittal-lcp-3311.yaml
  includes/definitions/pcoweb-rittal-lcp-3311.yaml
  mibs/carel/CAREL-RITTAL-LCP-3311-MIB
  tests/snmpsim/pcoweb-rittal-lcp-3311_lcp-dx-3311.snmprec
Labels: Device :desktop_computer:

#13000 Leave it to generate_device_link for sysName/hostName/IP
  includes/html/pages/routing/bgp.inc.php
  includes/html/print-interface.inc.php
  includes/html/table/alertlog-stats.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/poll-log.inc.php
  includes/html/table/stp-ports.inc.php
Labels: WebUI

#13002 Add LTE/UMTS support for Oneaccess routers
  includes/definitions/discovery/oneaccess.yaml
  mibs/oneaccess/ONEACCESS-CELLULAR-MIB
  tests/data/oneaccess_oneaccess-lte.json
  tests/snmpsim/oneaccess_oneaccess-lte.snmprec
Labels: Device :desktop_computer:

#13004 Update ADVA's MIB file
  mibs/adva/ADVA-FSPR7-CAP-MIB
  mibs/adva/ADVA-FSPR7-DEF-MIB
  mibs/adva/ADVA-FSPR7-MIB
  mibs/adva/ADVA-FSPR7-MODULE-ENCRYPTION-MIB
  mibs/adva/ADVA-FSPR7-PM-MIB
  mibs/adva/ADVA-FSPR7-TC-MIB
  mibs/adva/ADVA-MIB
  mibs/adva/CM-ALARM-MIB
  mibs/adva/CM-COMMON-MIB
  mibs/adva/CM-ENTITY-MIB
  mibs/adva/CM-FACILITY-MIB
  mibs/adva/CM-IP-MIB
  mibs/adva/CM-PERFORMANCE-MIB
  mibs/adva/CM-SA-MIB
  mibs/adva/CM-SAT-MIB
  mibs/adva/CM-SECURITY-MIB
  mibs/adva/CM-SYSTEM-MIB
  mibs/adva/F3-BFD-MIB
  mibs/adva/F3-BRIDGE-MIB
  mibs/adva/F3-CAPABILITIES-MIB
  mibs/adva/F3-CFM-MIB
  mibs/adva/F3-L3-MIB
  mibs/adva/F3-OSPF-MIB
  mibs/adva/F3-PTP-MIB
  mibs/adva/F3-SYNC-MIB
  mibs/adva/F3-SYNCJACK-MIB
  mibs/adva/F3-TWAMP-MIB
Labels: MIBs

#13010 Fixing irrelevant values rpm packetloss
  LibreNMS/OS/Junos.php
  LibreNMS/OS/Shared/Cisco.php
  tests/data/junos_vmx.json
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13009 Create HP-SN-AGENT-MIB
  mibs/hp/HP-SN-AGENT-MIB
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13013 Documentation cleanup of General, Install, Getting Started sections
  doc/Extensions/Device-Groups.md
  doc/General/Acknowledgement.md
  doc/General/CODE_OF_CONDUCT.md
  doc/General/Callback-Stats-and-Privacy.md
  doc/General/Releases.md
  doc/General/Updating.md
  doc/Installation/Images.md
  doc/Installation/Install-LibreNMS.md
  doc/Installation/index.md
  doc/Support/Adding-a-Device.md
  doc/Support/Features.md
Labels: Documentation :book:

#13018 Documentation cleanup of sections 4-6
  doc/Extensions/Agent-Setup.md
  doc/Extensions/Applications.md
  doc/Extensions/Authentication.md
  doc/Extensions/Auto-Discovery.md
  doc/Extensions/Dell-OpenManage.md
  doc/Extensions/Dispatcher-Service.md
  doc/Extensions/Distributed-Poller.md
  doc/Extensions/Fast-Ping-Check.md
  doc/Extensions/Graylog.md
  doc/Extensions/IRC-Bot-Extensions.md
  doc/Extensions/IRC-Bot.md
  doc/Extensions/Interface-Description-Parsing.md
  doc/Extensions/Network-Map.md
  doc/Extensions/Oxidized.md
  doc/Extensions/Proxmox.md
  doc/Extensions/RRDCached.md
  doc/Extensions/Rancid.md
  doc/Extensions/Services.md
  doc/Extensions/Supermicro.md
  doc/Extensions/Syslog.md
  doc/Extensions/Varnish.md
  doc/Extensions/Weathermap.md
  doc/Extensions/World-Map.md
  doc/Extensions/metrics/Graphite.md
  doc/Extensions/metrics/InfluxDB.md
  doc/Extensions/metrics/OpenTSDB.md
  doc/Extensions/metrics/Prometheus.md
  doc/Support/1-Minute-Polling.md
  doc/Support/Bare-Dashboard.md
  doc/Support/Cleanup-options.md
  doc/Support/Configuration.md
Labels: Documentation :book:

#13016 Webui - Fix application fault detail display
  includes/html/functions.inc.php
Labels: WebUI

#13012 Two-factor UI config and status display
  app/Http/Controllers/UserController.php
  app/Models/UserPref.php
  doc/Extensions/Two-Factor-Auth.md
  misc/config_definitions.json
  resources/lang/en/settings.php
  resources/views/user/index.blade.php
Labels: WebUI

#13022 Refractor health
  app/Models/Sensor.php
  includes/html/pages/device/health.inc.php
Labels: Refactor

#13007 Added Vlan discovery on LAG ports, Jetstream OS
  includes/discovery/vlans/jetstream.inc.php
  tests/data/jetstream_t1600g-28ts.json
  tests/snmpsim/jetstream_t1600g-28ts.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13023 webui - Display metric if available
  includes/html/functions.inc.php
Labels: Ignore changelog :mute:, WebUI

#13031 Add support for Ucopia Appliances
  html/images/logos/ucopia.png
  html/images/os/ucopia.png
  includes/definitions/discovery/ucopia.yaml
  includes/definitions/ucopia.yaml
  mibs/ucopia/CONTROLLER-MIB
  tests/data/ucopia_ucopia.json
  tests/snmpsim/ucopia_ucopia.snmprec
Labels: Device :desktop_computer:

#13033 Correction Ucopia #13031
  includes/definitions/discovery/ucopia.yaml
  tests/data/ucopia_ucopia.json
  tests/snmpsim/ucopia_ucopia.snmprec
Labels: Bug :beetle:, Device :desktop_computer:, Ignore changelog :mute:

#13035 Rittal lcp parameters
  includes/definitions/discovery/pcoweb-rittal-lcp-3311.yaml
  mibs/carel/CAREL-RITTAL-LCP-3311-MIB
  tests/data/pcoweb-rittal-lcp-3311_lcp-dx-3311.json
  tests/snmpsim/pcoweb-rittal-lcp-3311_lcp-dx-3311.snmprec
Labels: Device :desktop_computer:, Ignore changelog :mute:

#13032 Update ALCATEL OXE A4400-RTM-MIB
  mibs/alcatel/A4400-RTM-MIB
Labels: Ignore changelog :mute:, MIBs

#13030 fix non-static call
  resources/views/user/index.blade.php
Labels: Bug :beetle:, Ignore changelog :mute:

#13039 php-cs-fixer 3 prep
  .php-cs-fixer.php
  LibreNMS/Util/CiHelper.php
Labels: Dependencies, Miscellaneous

#13034 PHP dependencies update
  LibreNMS/IRCBot.php
  LibreNMS/Util/ModuleTestHelper.php
  composer.lock
  database/factories/PortFactory.php
  database/factories/UserFactory.php
Labels: Dependencies

#12989 Help users that did not upgrade MySQL try two
  database/migrations/2020_12_14_091314_create_port_groups_table.php
Labels: Schema

#13042 Aruba 8.8.0 MIBS
  mibs/arubaos/AI-AP-MIB
  mibs/arubaos/ARUBA-MGMT-MIB
  mibs/arubaos/ARUBA-MIB
  mibs/arubaos/ARUBA-TC
  mibs/arubaos/WLSR-AP-MIB
  mibs/arubaos/WLSX-AUTH-MIB
  mibs/arubaos/WLSX-CTS-MIB
  mibs/arubaos/WLSX-ESI-MIB
  mibs/arubaos/WLSX-HA-MIB
  mibs/arubaos/WLSX-IFEXT-MIB
  mibs/arubaos/WLSX-MESH-MIB
  mibs/arubaos/WLSX-MOBILITY-MIB
  mibs/arubaos/WLSX-MON-MIB
  mibs/arubaos/WLSX-RS-MIB
  mibs/arubaos/WLSX-SNR-MIB
  mibs/arubaos/WLSX-STATS-MIB
  mibs/arubaos/WLSX-SWITCH-MIB
  mibs/arubaos/WLSX-SYSTEMEXT-MIB
  mibs/arubaos/WLSX-TRAP-MIB
  mibs/arubaos/WLSX-TUNNELEDNODE-MIB
  mibs/arubaos/WLSX-USER-MIB
  mibs/arubaos/WLSX-USER6-MIB
  mibs/arubaos/WLSX-VOICE-MIB
  mibs/arubaos/WLSX-WLAN-MIB
Labels: MIBs

#13041 Don't add %3F=yes to the url
  includes/html/vars.inc.php
Labels: Bug :beetle:, WebUI

#12963 Support multiple db servers
  config/database.php
  doc/Extensions/Galera-Cluster.md
  mkdocs.yml
Labels: Feature

#12938 Add OS Support for Siemens Scalance X Switching
  LibreNMS/OS/Scalance.php
  includes/definitions/discovery/scalance.yaml
  includes/definitions/scalance.yaml
  mibs/siemens/SN-MSPS-SCX200-MIB
  tests/data/scalance_xc206-2sfp.json
  tests/snmpsim/scalance_xc206-2sfp.snmprec
Labels: Device :desktop_computer:

#12940 Added support to new device Controlbox TH-332B
  includes/definitions/controlbox.yaml
  includes/definitions/discovery/controlbox.yaml
  mibs/controlbox/CONTROLBOX-TH332-MIB
  tests/data/controlbox_controlbox.json
  tests/snmpsim/controlbox_controlbox.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13027 Fix scripts to allow pathname with space
  LibreNMS/Exceptions/FilePermissionsException.php
  LibreNMS/Validations/Dependencies.php
  daily.sh
  scripts/composer_wrapper.php
Labels: Bug :beetle:

#13046 Fix possible null error in SLA modules
  LibreNMS/OS/Shared/Cisco.php
  LibreNMS/OS/Vrp.php
Labels: Bug :beetle:, Ignore changelog :mute:

#12997 Add Sonicwall OS 7
  includes/definitions/sonicwall.yaml
  tests/data/sonicwall_sonicos7.json
  tests/snmpsim/sonicwall_sonicos7.snmprec
Labels: Device :desktop_computer:

#13036 Inital support for Eltex-MES switches
  includes/definitions/discovery/eltex-mes.yaml
  includes/definitions/eltex-mes.yaml
  includes/discovery/sensors/charge/eltex-mes.inc.php
  includes/discovery/sensors/current/eltex-mes.inc.php
  includes/discovery/sensors/dbm/eltex-mes.inc.php
  includes/discovery/sensors/temperature/eltex-mes.inc.php
  includes/discovery/sensors/voltage/eltex-mes.inc.php
  includes/discovery/storage/eltex-mes.inc.php
  includes/polling/storage/eltex-mes.inc.php
  mibs/eltex/ELTEX-MES
  mibs/eltex/ELTEX-MES-HWENVIROMENT-MIB
  mibs/eltex/RADLAN-DEVICEPARAMS-MIB
  mibs/eltex/RADLAN-FILE
  mibs/eltex/RADLAN-HWENVIROMENT
  mibs/eltex/RADLAN-MIB
  mibs/eltex/RADLAN-PHYSICALDESCRIPTION-MIB
  mibs/eltex/RADLAN-RNDMNG
  tests/data/eltex-mes_mes2308r.json
  tests/data/eltex-mes_mes2324b.json
  tests/snmpsim/eltex-mes_mes2308r.snmprec
  tests/snmpsim/eltex-mes_mes2324b.snmprec
Labels: Device :desktop_computer:

#13051 Follow redirects when reloading Oxidized nodes list
  includes/functions.php
Labels: Oxidized

#13054 Alcatel-Lucent Aos6 ignore second power supply
  includes/definitions/discovery/aos6.yaml
  tests/data/aos6.json
  tests/snmpsim/aos6.snmprec
Labels: Device :desktop_computer:

#13047 Alcatel-Lucent Aos7 bgp fix
  includes/polling/bgp-peers.inc.php
  tests/data/aos7.json
  tests/snmpsim/aos7.snmprec
Labels: Device :desktop_computer:

#13053 Alcatel-Lucent Aos7 increase fan threshold
  includes/definitions/discovery/aos7.yaml
  tests/data/aos7.json
  tests/snmpsim/aos7.snmprec
Labels: Device :desktop_computer:

#13060 Fixed Packetlight EDFA sensors and add test-data
  includes/definitions/discovery/packetlight.yaml
  tests/data/packetlight_pl-1000il.json
  tests/snmpsim/packetlight_pl-1000il.snmprec
Labels: Bug :beetle:, Device :desktop_computer:

#13059 Alcatel-Lucent AOS7 bgp fix2
  includes/polling/bgp-peers.inc.php
  tests/data/aos7.json
Labels: Bug :beetle:, Device :desktop_computer:

#12931 Ericsson 6600 series
  LibreNMS/OS/Ericsson6600.php
  includes/definitions/discovery/ericsson-6600.yaml
  includes/definitions/ericsson-6600.yaml
  mibs/ericsson/XF-RADIOLINK-PTP-RADIO-MIB
  mibs/ericsson/XF-RADIOLINK-PTP-TERMINAL-MIB
  mibs/ericsson/XF-RADIOLINK-RLT-MIB
  mibs/ericsson/XF-TOP-MIB
  tests/data/ericsson-6600_6600.json
  tests/snmpsim/ericsson-6600_6600.snmprec
Labels: Device :desktop_computer:

#13057 More sensor data on inventory page
  includes/html/pages/device/entphysical.inc.php
Labels: WebUI

#13048 Use non numeric snmpwalk for nxos fan trays
  includes/discovery/sensors/state/nxos.inc.php
  tests/data/nxos_n3k-3064pq.json
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13037 Update with FortiAP
  LibreNMS/OS/Fortigate.php
  tests/data/fortigate_500d.json
  tests/snmpsim/fortigate_500d.snmprec
Labels: Device :desktop_computer:

#12968 Poll current connections for F5 ltm
  includes/html/graphs/device/bigip_ltm_allpm_currconns.inc.php
  includes/html/graphs/device/bigip_ltm_allvs_currconns.inc.php
  includes/html/graphs/device/bigip_ltm_vs_currconns.inc.php
  includes/html/pages/device/loadbalancer/ltm_pool_details.inc.php
  includes/html/pages/device/loadbalancer/ltm_vs_all.inc.php
  includes/html/pages/device/loadbalancer/ltm_vs_det.inc.php
  includes/html/pages/device/loadbalancer/ltm_vs_pool.inc.php
  includes/polling/loadbalancers.inc.php
  includes/polling/loadbalancers/f5-ltm-currconns.inc.php
Labels: Device :desktop_computer:

#13062 Cisco ISE version, HW, SW and test-data
  includes/definitions/discovery/ise.yaml
  includes/polling/os/ise.inc.php
  tests/data/ise_vmk9.json
  tests/snmpsim/ise_vmk9.snmprec
Labels: Device :desktop_computer:

#13019 Improve dell-compellent detection for newer firmwares
  includes/definitions/dell-compellent.yaml
  tests/data/dell-compellent_scv3020.json
  tests/snmpsim/dell-compellent_scv3020.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13064 ADVA - Typo in previous PR
  includes/discovery/sensors/dbm/adva_fsp150.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:

#13063 Update #13037 to add wireless sensor for FortiAP
  LibreNMS/OS/Fortigate.php
Labels: Device :desktop_computer:, Ignore changelog :mute:

#13066 Extend REGEX filtering option by sensor_class
  doc/Developing/os/Settings.md
  includes/discovery/functions.inc.php
Labels: Discovery, Sensor

#13026 Update cleanup config document
  doc/Support/Cleanup-options.md
  doc/Support/Configuration.md
  misc/config_definitions.json
  resources/lang/de/settings.php
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
  resources/lang/it/settings.php
  resources/lang/zh-CN/settings.php
  resources/lang/zh-TW/settings.php
Labels: Documentation :book:

#13068 Fix Cisco SLAs garbage entries
  LibreNMS/OS/Shared/Cisco.php
  mibs/cisco/CISCO-RTTMON-MIB
  tests/data/ios_c3560-slas.json
  tests/snmpsim/ios_c3560-slas.snmprec
Labels: Bug :beetle:, Device :desktop_computer:

#13071 Bump larastan
  .github/workflows/lint.yml
  LibreNMS/IRCBot.php
  LibreNMS/Util/ModuleTestHelper.php
  app/Models/Notification.php
  composer.json
  composer.lock
  database/factories/AlertScheduleFactory.php
  database/factories/BgpPeerFactory.php
  database/factories/BillFactory.php
  database/factories/ComponentFactory.php
  database/factories/DeviceFactory.php
  database/factories/DeviceGroupFactory.php
  database/factories/Ipv4AddressFactory.php
  database/factories/Ipv4NetworkFactory.php
  database/factories/LocationFactory.php
  database/factories/OspfNbrFactory.php
  database/factories/OspfPortFactory.php
  database/factories/PortFactory.php
  database/factories/SensorFactory.php
  database/factories/SyslogFactory.php
  database/factories/UserFactory.php
  database/factories/VminfoFactory.php
  phpstan-baseline.neon
Labels: Dependencies

#13006 Billing: add peak in and out
  billing-calculate.php
  database/migrations/2021_07_06_1845_alter_bill_history_max_min.php
  doc/API/Bills.md
  includes/billing.php
  includes/html/pages/bill/history.inc.php
  misc/db_schema.yaml
Labels: Billing :heavy_dollar_sign:, Feature

#13072 Document new optional ups-nut arg1
  doc/Extensions/Applications.md
Labels: Documentation :book:

#13073 Bump super-linter
  .github/workflows/lint.yml
Labels: Dependencies

#13080 Remove timeouts for passthrough lnms commands
  routes/console.php
Labels: Command Line

#13082 Jetstream: added/fixed LLDP discovery
  includes/discovery/discovery-protocols.inc.php
  mibs/tplink/TPLINK-LLDP-MIB
  mibs/tplink/TPLINK-LLDPINFO-MIB
  tests/data/jetstream_jetstream-lldp.json
  tests/snmpsim/jetstream_jetstream-lldp.snmprec
Labels: Device :desktop_computer:
