Repository librenms/librenms, pull requests merged in 2021-12, with the labels that each got.

#13587 Correct graph row component responsive layout for linked graphs
  app/View/Components/Graph.php
  html/css/app.css
  html/mix-manifest.json
  resources/views/components/graph-row.blade.php
  resources/views/components/graph.blade.php
  resources/views/components/linked-graph.blade.php
  resources/views/poller/performance.blade.php
Labels: WebUI

#13569 q-bridge-mib, discover missing VLANs, v2
  includes/discovery/vlans/q-bridge-mib.inc.php
  includes/functions.php
  tests/data/alfo80hd.json
  tests/data/allied_websmart.json
  tests/data/aos.json
  tests/data/arista_eos.json
  tests/data/ciscosb_cbs350-4x.json
  tests/data/ciscosb_cbs350.json
  tests/data/ciscosb_sge.json
  tests/data/ciscosb_sx550x-24f.json
  tests/data/edgecos_2100-28p.json
  tests/data/edgecos_ecs2100-10t.json
  tests/data/edgecos_ecs4610-24f.json
  tests/data/edgecos_es3510ma.json
  tests/data/edgecos_es3526xa-v2.json
  tests/data/eltex-mes21xx_mes2124m.json
  tests/data/eltex-mes23xx_mes2324b.json
  tests/data/ifotec_inetpoe-4gp2gf.json
  tests/data/ironware.json
  tests/data/linksys-ss_lgs318p.json
  tests/data/pegasus.json
  tests/data/picos.json
  tests/data/sm-os.json
  tests/data/sm-os_gc8607.json
  tests/data/ubiquoss-pon_9500.json
  tests/data/vrp_5720-32x-ei.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ac6605-26.json
  tests/data/vrp_ar169sfp.json
Labels: Discovery

#13573 Update Applications.md
  doc/Extensions/Applications.md
Labels: Documentation :book:

#13591 ipv6 discovery switch to new DB syntax
  app/Models/Ipv6Address.php
  app/Models/Ipv6Network.php
  includes/discovery/functions.inc.php
Labels: Refactor

#13579 SmartAX supports IF-MIB, skip custom polling and fix polling GPON ports
  includes/polling/ports/os/smartax.inc.php
  tests/data/smartax.json
Labels: Device :desktop_computer:

#13581 Add additional type tag for Bind metrics
  includes/polling/applications/bind.inc.php
Labels: Graphs

#13536 Add Initial Support for VMware SD-WAN / Velocloud
  html/images/os/velocloud.png
  includes/definitions/discovery/velocloud.yaml
  includes/definitions/velocloud.yaml
  mibs/vmware/VELOCLOUD-EDGE-MIB
  mibs/vmware/VELOCLOUD-MIB
  tests/data/velocloud.json
  tests/snmpsim/velocloud.snmprec
Labels: Device :desktop_computer:

#13596 collect-snmp-data.php can now capture snmp context test data
  LibreNMS/Util/ModuleTestHelper.php
  phpstan-baseline.neon
  scripts/collect-snmp-data.php
Labels: Tests :test_tube:

#13594 initial Eltex-mes IPv6 address discovery
  includes/definitions/eltex-mes21xx.yaml
  includes/definitions/eltex-mes23xx.yaml
  includes/discovery/ipv6-addresses/eltex-mes21xx.inc.php
  includes/discovery/ipv6-addresses/eltex-mes23xx.inc.php
  mibs/radlan/RADLAN-IP
  mibs/radlan/RADLAN-IPv6
Labels: Device :desktop_computer:

#13480 RRD Allow specifying a source file and ds to fill data
  LibreNMS/RRD/RrdDefinition.php
Labels: Feature

#13583 Global search: search device display
  LibreNMS/Util/Color.php
  LibreNMS/Util/Html.php
  app/Http/Controllers/Ajax/BgpSearchController.php
  app/Http/Controllers/Ajax/DeviceSearchController.php
  app/Http/Controllers/Ajax/PortSearchController.php
  app/Http/Controllers/Ajax/SearchController.php
  database/migrations/2021_11_29_160744_change_ports_text_fields_to_varchar.php
  database/migrations/2021_11_29_165046_improve_devices_search_index.php
  database/migrations/2021_11_29_165436_improve_ports_search_index.php
  html/ajax_search.php
  html/js/typeahead.bundle.min.js
  includes/html/functions.inc.php
  includes/html/graphs/mempool/usage.inc.php
  includes/html/graphs/qfp/memory.inc.php
  includes/html/graphs/storage/usage.inc.php
  includes/html/graphs/toner/usage.inc.php
  includes/html/pages/bill.inc.php
  includes/html/pages/bill/history.inc.php
  includes/html/pages/bill/transfer.inc.php
  includes/html/pages/device/overview/c6kxbar.inc.php
  includes/html/pages/device/overview/mempools.inc.php
  includes/html/pages/device/overview/processors.inc.php
  includes/html/pages/device/overview/storage.inc.php
  includes/html/table/bills.inc.php
  includes/html/table/processor.inc.php
  includes/html/table/storage.inc.php
  includes/html/table/toner.inc.php
  misc/db_schema.yaml
  phpstan-baseline-deprecated.neon
  phpstan-baseline.neon
  resources/views/layouts/menu.blade.php
  routes/web.php
Labels: WebUI

#13602 Revert "RRD Allow specifying a source file and ds to fill data"
  LibreNMS/RRD/RrdDefinition.php
Labels: Ignore changelog :mute:

#13601 use http for proxy urls via guzzle
  LibreNMS/Util/Proxy.php
Labels: Bug :spider:

#13607 Remove accidental dump()
  LibreNMS/Util/ModuleTestHelper.php
Labels: Ignore changelog :mute:

#13604 Add more device fields to oxidized map configuration
  html/js/app.js
  html/mix-manifest.json
  resources/js/components/SettingOxidizedMaps.vue
Labels: WebUI, Oxidized

#13613 Regenerate app.js
  html/css/app.css
  html/js/app.js
  html/mix-manifest.json
Labels: Bug :spider:, Ignore changelog :mute:

#13615 Fix Cisco WLC AP cleanup
  LibreNMS/OS/Ciscowlc.php
  mibs/cisco/AIRESPACE-REF-MIB
  mibs/cisco/AIRESPACE-SWITCHING-MIB
  mibs/cisco/AIRESPACE-WIRELESS-MIB
Labels: Bug :spider:, Polling, Device :desktop_computer:

#13608 Luminato: CPU, HW type, HW ver, Fan state discovery
  includes/definitions/discovery/luminato.yaml
  mibs/teleste/TELESTE-COMMON-MIB
  mibs/teleste/TELESTE-LUMINATO-MIB
  mibs/teleste/TELESTE-LUMINATO-MIB2
  tests/data/luminato_c12.json
  tests/snmpsim/luminato_c12.snmprec
Labels: Device :desktop_computer:

#13620 Fix axiscam serial format
  includes/definitions/discovery/axiscam.yaml
  tests/data/axiscam_q6055-e.json
Labels: Device :desktop_computer:

#13625 Fix broken links
  resources/views/about/index.blade.php
  resources/views/install/finish.blade.php
Labels: Bug :spider:, WebUI

#13627 Add additional ICX 7150 devices
  LibreNMS/OS/Ironware.php
  mibs/brocade/FOUNDRY-SN-ROOT-MIB
Labels: Device :desktop_computer:

#13629 Fix EdgeOS hardware detection
  LibreNMS/OS/Edgeos.php
  tests/data/edgeos_erl.json
  tests/snmpsim/edgeos_erl.snmprec
Labels: Device :desktop_computer:

#13632 Remove extra rows with duplicate keys in SyncsModels trait
  LibreNMS/DB/SyncsModels.php
Labels: Bug :spider:

#13636 Fix SnmpQuery bulk boolean backwards
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Bug :spider:, Polling

#13637 API detect if new location should be fixed by default
  doc/API/Locations.md
  includes/html/api_functions.inc.php
Labels: API
