Repository librenms/librenms, pull requests merged in 2021-09, with the labels that each got.

#13178 Increase config value length limit
  database/migrations/2021_08_26_093522_config_value_to_medium_text.php
  misc/db_schema.yaml
Labels: Schema

#13104 Add support for description texts in Settings page
  html/js/app.js
  html/mix-manifest.json
  resources/js/components/LibrenmsSettings.vue
  resources/lang/de/settings.php
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
  resources/lang/it/settings.php
  resources/lang/zh-CN/settings.php
  resources/lang/zh-TW/settings.php
Labels: Settings

#13098 Rename nobulk -> snmp_bulk
  LibreNMS/Device/YamlDiscovery.php
  doc/Developing/os/Settings.md
  includes/definitions/airos-af-ltu.yaml
  includes/definitions/airos-af.yaml
  includes/definitions/airos.yaml
  includes/definitions/aos7.yaml
  includes/definitions/atenpdu.yaml
  includes/definitions/ats.yaml
  includes/definitions/bluecatnetworks.yaml
  includes/definitions/brother.yaml
  includes/definitions/chatsworth-pdu.yaml
  includes/definitions/cyberpower.yaml
  includes/definitions/discovery/aos7.yaml
  includes/definitions/edgeos-ep.yaml
  includes/definitions/eltek-webpower.yaml
  includes/definitions/enexus.yaml
  includes/definitions/hwg-ste.yaml
  includes/definitions/hwg-ste2.yaml
  includes/definitions/hwg-wld.yaml
  includes/definitions/ict-mps.yaml
  includes/definitions/ict-pdu.yaml
  includes/definitions/ict-psu.yaml
  includes/definitions/ict-swi.yaml
  includes/definitions/ifotec.yaml
  includes/definitions/imcopower-big.yaml
  includes/definitions/infinity.yaml
  includes/definitions/liebert.yaml
  includes/definitions/netmanplus.yaml
  includes/definitions/occamos.yaml
  includes/definitions/serverscheck.yaml
  includes/definitions/sitemonitor.yaml
  includes/definitions/smartax-mdu.yaml
  includes/definitions/stellar.yaml
  includes/definitions/tomato.yaml
  includes/definitions/trendnet.yaml
  includes/definitions/uniping.yaml
  includes/definitions/valere.yaml
  includes/snmp.inc.php
  misc/discovery_schema.json
  misc/notifications.rss
  misc/os_schema.json
Labels: Refactor

#13159 Change automatic widget updates to use bootgrid when possible
  app/Http/Controllers/Widgets/AlertsController.php
  resources/views/overview/default.blade.php
  resources/views/widgets/alertlog.blade.php
  resources/views/widgets/alertlog_stats.blade.php
  resources/views/widgets/alerts.blade.php
  resources/views/widgets/eventlog.blade.php
  resources/views/widgets/graylog.blade.php
  resources/views/widgets/syslog.blade.php
Labels: WebUI

#13196 Procurve add SysDescr Regex
  includes/definitions/discovery/procurve.yaml
  tests/data/procurve_131.json
  tests/data/procurve_151.json
  tests/data/procurve_167-hp.json
  tests/data/procurve_167-hpe.json
  tests/data/procurve_50-procurve.json
Labels: Device :desktop_computer:

#13201 Apply fixes from StyleCI
  LibreNMS/Authentication/TwoFactor.php
  LibreNMS/Util/IPv6.php
  includes/functions.php
Labels: Ignore changelog :mute:

#13203 IE doesn't support JS default parameters
  resources/views/overview/default.blade.php
Labels: WebUI, Ignore changelog :mute:

#13204 IE doesn't support templates
  resources/views/overview/default.blade.php
Labels: WebUI, Ignore changelog :mute:

#13205 IE no object shorthand
  resources/views/overview/default.blade.php
Labels: WebUI, Ignore changelog :mute:

#13193 Updated OS Support: Dragonwave Horizon
  LibreNMS/OS/Horizon.php
  LibreNMS/OS/HorizonCompact.php
  LibreNMS/OS/HorizonCompactplus.php
  LibreNMS/OS/HorizonDuo.php
  includes/definitions/discovery/horizon-compact.yaml
  includes/definitions/discovery/horizon-compactplus.yaml
  includes/definitions/discovery/horizon-duo.yaml
  includes/definitions/horizon-compact.yaml
  includes/definitions/horizon-compactplus.yaml
  includes/definitions/horizon-duo.yaml
  includes/definitions/horizon.yaml
  includes/polling/os/horizon.inc.php
  mibs/dragonwave/DRAGONWAVE-HCP-MIB
  mibs/dragonwave/DRAGONWAVE-HORIZON-IDU-MIB
  mibs/dragonwave/HORIZON-EQUIPMENT-LOG-MIB
  mibs/dragonwave/HORIZON-MIB
  mibs/dragonwave/HORIZON-ODU-MIB
  tests/data/horizon-compact.json
  tests/data/horizon-compactplus.json
  tests/data/horizon-duo.json
  tests/snmpsim/horizon-compact.snmprec
  tests/snmpsim/horizon-compactplus.snmprec
  tests/snmpsim/horizon-duo.snmprec
  tests/snmpsim/horizon.snmprec
Labels: Device :desktop_computer:

#13109 Allow more compatibility in STP port discovery/polling
  includes/discovery/stp.inc.php
  includes/polling/stp.inc.php
Labels: Polling, Discovery

#13202 Discovery: mark snmp disabled devices as skipped
  discovery.php
  includes/discovery/functions.inc.php
Labels: Discovery

#13192 ZTE ZXR10 define discovery for mempool and processor
  includes/definitions/discovery/zxr10.yaml
  includes/definitions/zxr10.yaml
  mibs/zte/ZXR10-MIB
  tests/data/zte_zxr10.json
  tests/snmpsim/zte_zxr10.snmprec
Labels: Device :desktop_computer:

#13209 Fix snmp_bulk setting not being applied
  includes/snmp.inc.php
Labels: Bug :beetle:, Polling

#13210 Name zxr10 files correctly
  tests/data/zxr10_5928.json
  tests/snmpsim/zxr10_5250.snmprec
  tests/snmpsim/zxr10_5928.snmprec
Labels: Bug :spider:, Tests :test_tube:

#13197 New Blade Components: x-device-link, x-port-link, x-graph-row, x-popup
  LibreNMS/Util/Smokeping.php
  LibreNMS/Util/Url.php
  app/Http/Controllers/Table/DeviceController.php
  app/Http/Controllers/Widgets/AlertsController.php
  app/Models/Port.php
  app/Providers/AppServiceProvider.php
  app/View/Components/DeviceLink.php
  app/View/Components/Graph.php
  app/View/Components/GraphRow.php
  app/View/Components/Popup.php
  app/View/Components/PortLink.php
  html/css/app.css
  html/css/tailwind.min.css
  html/css/vendor.css
  html/js/alpine.min.js
  html/js/app.js
  html/js/manifest.js
  html/js/popper.min.js
  html/js/popper.min.js.map
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  package-lock.json
  package.json
  resources/css/app.css
  resources/views/components/device-link-no-access.blade.php
  resources/views/components/device-link.blade.php
  resources/views/components/graph-row.blade.php
  resources/views/components/graph.blade.php
  resources/views/components/popup.blade.php
  resources/views/components/port-link.blade.php
  resources/views/device-group/index.blade.php
  resources/views/device/header.blade.php
  resources/views/device/list/hostname.blade.php
  resources/views/device/tabs/latency.blade.php
  resources/views/device/tabs/vlans.blade.php
  resources/views/device/tabs/vm.blade.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/poller/settings.blade.php
  resources/views/settings/index.blade.php
  resources/views/user/preferences.blade.php
  resources/views/widgets/top-errors.blade.php
  resources/views/widgets/top-interfaces.blade.php
  tailwind.config.js
  webpack.mix.js
Labels: WebUI

#13218 Add security context service
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#13223 Update geist-watchdog.yaml
  includes/definitions/geist-watchdog.yaml
Labels: Device :desktop_computer:

#13225 Changed map functionality in device overview
  includes/html/dev-overview-data.inc.php
Labels: WebUI

#13228 Added Cisco CBS 250 Support
  includes/definitions/ciscosb.yaml
Labels: Device :desktop_computer:

#13222 Fix static alert rule creation failing in api
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#13232 Fix graph row columns
  app/View/Components/GraphRow.php
Labels: Bug :spider:, WebUI

#13239 another non-integer fix
  app/View/Components/GraphRow.php
Labels: Bug :spider:, Ignore changelog :mute:

#13238 Sort dashboard entries alphabetically
  app/Http/Controllers/OverviewController.php
Labels: WebUI

#13240 Fix port minigraph layout
  includes/html/pages/device/ports.inc.php
Labels: Bug :spider:, WebUI

#13244 Update to fix table row color and hover color for dark.css
  html/css/dark.css
Labels: WebUI

#13242 ifName to mcafeewebgateway
  includes/definitions/mcafeewebgateway.yaml
  tests/data/mcafeewebgateway.json
  tests/snmpsim/mcafeewebgateway.snmprec
Labels: Device :desktop_computer:

#13243 add ifName to osag os
  includes/definitions/osag.yaml
  tests/data/osag.json
  tests/snmpsim/osag.snmprec
Labels: Device :desktop_computer:

#13241 Fix mempool unit display
  LibreNMS/Modules/Mempools.php
Labels: Bug :spider:

#13230 Add VPP logo
  html/images/os/vpp.png
Labels: Device :desktop_computer:

#13247 Fix Dell server sensors
  LibreNMS/OS/Shared/Unix.php
  includes/discovery/sensors/fanspeed/dell.inc.php
  includes/discovery/sensors/power/dell.inc.php
  includes/discovery/sensors/state/dell.inc.php
  includes/discovery/sensors/temperature/dell.inc.php
  includes/discovery/sensors/voltage/dell.inc.php
Labels: Device :desktop_computer:

#13221 Add sysobjectid and hardware fields into oxidized maps
  html/js/app.js
  html/mix-manifest.json
  includes/html/api_functions.inc.php
  misc/config_definitions.json
  resources/js/components/SettingOxidizedMaps.vue
Labels: Oxidized

#13249 reorganize release categories a bit
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#13170 Veeam backup SNMP Traps
  LibreNMS/Snmptrap/Handlers/VeeamBackupJobCompleted.php
  LibreNMS/Snmptrap/Handlers/VeeamVmBackupJobCompleted.php
  config/snmptraps.php
  mibs/veeam/VEEAM-MIB
  tests/Feature/SnmpTraps/VeeamTrapTest.php
Labels: Needs Tests :unicorn:, SNMP Traps

#13184 Convert all ports backend to Laravel style ajax table
  app/Http/Controllers/Table/PortsController.php
  includes/html/pages/ports/list.inc.php
  includes/html/table/ports.inc.php
  resources/views/port/actions.blade.php
  routes/web.php
Labels: Refactor

#12999 MegaRaid controller in Linux (Broadcom/LSI)
  doc/Extensions/Applications.md
  includes/definitions/discovery/linux.yaml
  includes/discovery/entity-physical/linux.inc.php
  mibs/LSI-MegaRAID-SAS-MIB
  tests/data/linux_lsi.json
  tests/snmpsim/linux_lsi.snmprec
Labels: Device :desktop_computer:

#13251 API add_device: respond with more device information
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API

#13231 API port search by arbitrary field
  doc/API/Ports.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#13248 Infer character encoding for ifAlias and sysLocation
  LibreNMS/OS/Traits/YamlOSDiscovery.php
  LibreNMS/Util/StringHelpers.php
  config/app.php
  includes/discovery/ports.inc.php
  includes/polling/ports.inc.php
  tests/Unit/Util/StringHelperTest.php
Labels: Feature

#13254 HP Fault Traps
  LibreNMS/Snmptrap/Handlers/HpFault.php
  config/snmptraps.php
  tests/Feature/SnmpTraps/HpFaultTest.php
Labels: SNMP Traps

#13266 Fix graphs showing bps instead of pps
  includes/html/graphs/generic_multi_seperated.inc.php
  includes/html/graphs/port/nupkts.inc.php
Labels: Bug :spider:, Graphs

#13265 Fix lnms some commands throwing errors
  app/Console/LnmsCommand.php
Labels: Bug :spider:

#13262 Improve tailwind dark theme colors
  html/css/app.css
  html/css/dark.css
  html/mix-manifest.json
  resources/views/components/device-link.blade.php
  resources/views/components/popup.blade.php
  resources/views/components/port-link.blade.php
  tailwind.config.js
Labels: WebUI

#13255 Teldat: Wireless and GSM Basic Monitoring
  LibreNMS/OS/Teldat.php
  mibs/teldat/TELDAT-MON-INTERF-CELLULAR-MIB
  mibs/teldat/TELDAT-MON-INTERF-WLAN-MIB
  tests/data/teldat_rs123w-4g.json
  tests/data/teldat_tv-base-vdsl2-adsl.json
  tests/snmpsim/teldat_rs123w-4g.snmprec
  tests/snmpsim/teldat_tv-base-vdsl2-adsl.snmprec
Labels: Device :desktop_computer:

#13267 Lint: Disallow usage of deprecated functions
  .github/workflows/lint.yml
  composer.json
  composer.lock
  phpstan-baseline-deprecated.neon
  phpstan-deprecated.neon
Labels: Tests :test_tube:

#13269 Fix html.device.links validation
  misc/config_definitions.json
Labels: Bug :spider:

#13273 Remove device dark mode detection
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#12625 Add Ericsson IPOS router support
  includes/definitions/ericsson-ipos.yaml
  tests/snmpsim/ericsson-ipos.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13274 Use local timezone for outages pages
  app/Http/Controllers/Table/OutagesController.php
Labels: Bug :spider:, WebUI

#13276 Add ORDER BY to the ports query when showing the ports list on device…
  includes/html/pages/device/overview/ports.inc.php
Labels: WebUI

#13256 cleanup device type override code
  app/Observers/DeviceObserver.php
  includes/common.php
  resources/lang/en/device.php
Labels: Refactor

#13259 Feature config seeder
  database/seeders/ConfigSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/config/.gitignore
  resources/lang/en/commands.php
Labels: Feature

#13279 Missing config seeder docs
  doc/Support/Configuration.md
Labels: Documentation :book:, Ignore changelog :mute:

#13263 Linkable graph component
  app/View/Components/Graph.php
  resources/views/components/graph.blade.php
  resources/views/components/linked-graph.blade.php
Labels: WebUI

#13284 Quick fix for route discovery on PHP8
  includes/discovery/route.inc.php
Labels: Bug :spider:, Discovery

#13290 Fix poller wrapper error
  LibreNMS/__init__.py
Labels: Bug :spider:, Polling

#13289 SNMP Capabilities
  LibreNMS/SNMPCapabilities.php
  app/Http/Controllers/Ajax/SnmpCapabilities.php
  html/css/app.css
  html/js/app.js
  html/mix-manifest.json
  includes/common.php
  includes/html/pages/addhost.inc.php
  includes/html/pages/device/edit/snmp.inc.php
  resources/js/components/SettingSnmp3auth.vue
  routes/console.php
  routes/web.php
Labels: Refactor

#13272 Modified Prometheus extension to support adding a prefix to metric names
  LibreNMS/Data/Store/Prometheus.php
  doc/Extensions/metrics/Prometheus.md
  misc/config_definitions.json
  resources/lang/en/settings.php
Labels: Datastore

#13291 Update formatting of Prometheus extension doc
  doc/Extensions/metrics/Prometheus.md
Labels: Documentation :book:

#13296 Fix various port links
  includes/html/pages/ports.inc.php
  resources/views/layouts/menu.blade.php
  resources/views/port/actions.blade.php
Labels: Bug :spider:, WebUI

#13297 Cleanup config.php.default
  config.php.default
  misc/config_definitions.json
Labels: Refactor

#13299 Ericsson Traffic Node support
  LibreNMS/OS/EricssonTn.php
  includes/definitions/discovery/ericsson-tn.yaml
  includes/definitions/ericsson-tn.yaml
  mibs/ericsson/XF-SOFTWARE-MIB
  tests/data/ericsson-tn_tn.json
  tests/snmpsim/ericsson-tn_tn.snmprec
Labels: Device :desktop_computer:
