Repository librenms/librenms, pull requests merged in 2021-03, with the labels that each got.

#12574 Fix bullet points
  doc/Extensions/Distributed-Poller.md
Labels: Documentation :book:, Ignore changelog :mute:

#12501 Switch to utf8mb4
  .github/workflows/test.yml
  LibreNMS/DB/Eloquent.php
  LibreNMS/Validations/Database.php
  config/database.php
  database/migrations/2021_02_09_122930_migrate_to_utf8mb4.php
  database/schema/mysql-schema.dump
  database/schema/testing-schema.dump
  database/schema/testing_persistent-schema.dump
  doc/Installation/Install-LibreNMS.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Debian-10-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  includes/dbFacile.php
  misc/db_schema.yaml
  tests/DBSetupTest.php
  tests/bootstrap.php
Labels: Schema

#12570 DynamicDiscovery - Guess num_oid if not provided in YAML file
  LibreNMS/Device/YamlDiscovery.php
  doc/Developing/os/Health-Information.md
  doc/Developing/os/Mem-CPU-Information.md
  includes/discovery/functions.inc.php
  includes/snmp.inc.php
  misc/discovery_schema.json
Labels: Discovery

#12463 Cisco enhanced cellular
  LibreNMS/Device/WirelessSensor.php
  LibreNMS/Interfaces/Discovery/Sensors/WirelessCellDiscovery.php
  LibreNMS/Interfaces/Discovery/Sensors/WirelessChannelDiscovery.php
  LibreNMS/Interfaces/Polling/Sensors/WirelessCellPolling.php
  LibreNMS/Interfaces/Polling/Sensors/WirelessChannelPolling.php
  LibreNMS/OS/Ios.php
  LibreNMS/OS/Iosxe.php
  LibreNMS/OS/Traits/CiscoCellular.php
  doc/Developing/os/Wireless-Sensors.md
  includes/discovery/entity-physical/entity-physical.inc.php
  includes/discovery/sensors/count/cisco.inc.php
  includes/discovery/sensors/state/cisco.inc.php
  includes/discovery/sensors/temperature/cisco.inc.php
  includes/html/graphs/device/wireless_cell.inc.php
  includes/html/graphs/device/wireless_channel.inc.php
  includes/html/graphs/wireless/cell.inc.php
  includes/html/graphs/wireless/channel.inc.php
  mibs/cisco/CISCO-WAN-CELL-EXT-MIB
  resources/lang/de/wireless.php
  resources/lang/en/wireless.php
  resources/lang/fr/wireless.php
  tests/data/ios_ir809.json
  tests/data/iosxe_ir1101.json
  tests/snmpsim/ios_ir809.snmprec
  tests/snmpsim/iosxe_ir1101.snmprec
Labels: Device :desktop_computer:

#12577 Developer device simulation
  LibreNMS/Util/Snmpsim.php
  app/Console/Commands/DevSimulate.php
  doc/Developing/os/Test-Units.md
  resources/lang/en/commands.php
Labels: Feature

#12584 Location tests more reliable
  LibreNMS/Util/Dns.php
  tests/Unit/LocationTest.php
Labels: Tests :test_tube:

#12586 Collect BIOS version for IBMC
  includes/definitions/discovery/ibmc.yaml
  tests/data/ibmc.json
  tests/snmpsim/ibmc.snmprec
Labels: Device :desktop_computer:

#12558 Add Google Chat Transport
  LibreNMS/Alert/Transport/Googlechat.php
Labels: Alerting :bell:

#12484 webui: Add button to show verbose alert details in the alert, alert-log webui
  includes/html/common/alert-log.inc.php
  includes/html/common/alerts.inc.php
  includes/html/forms/alert-details.inc.php
  includes/html/modal/alert_details.php
  includes/html/pages/alert-log.inc.php
  includes/html/pages/alerts.inc.php
  includes/html/pages/device/alerts.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
Labels: Alerting :bell:, WebUI

#12423 support newer SyncServer
  includes/definitions/discovery/microsemitime.yaml
  includes/definitions/microsemitime.yaml
  mibs/microsemi/SYMM-SMI
  tests/data/microsemitime.json
  tests/snmpsim/microsemitime.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12380 Added alarm detection and optical PMs for Waveserver Ai
  includes/definitions/discovery/ciena-waveserver.yaml
  tests/data/ciena-waveserver.json
  tests/snmpsim/ciena-waveserver.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:, Sensor

#12158 Use high precision OIDs for APC UPS sensors
  includes/discovery/sensors/frequency/apc.inc.php
  includes/discovery/sensors/temperature/apc.inc.php
  includes/discovery/sensors/voltage/apc.inc.php
  tests/data/apc_sua1500rmi2u.json
  tests/data/apc_sua750i.json
  tests/snmpsim/apc_sua1500rmi2u.snmprec
  tests/snmpsim/apc_sua750i.snmprec
Labels: Device :desktop_computer:, Sensor

#12358 docker stats app
  doc/Extensions/Applications.md
  includes/html/graphs/application/docker-common.inc.php
  includes/html/graphs/application/docker_cpu_usage.inc.php
  includes/html/graphs/application/docker_mem_limit.inc.php
  includes/html/graphs/application/docker_mem_perc.inc.php
  includes/html/graphs/application/docker_mem_used.inc.php
  includes/html/graphs/application/docker_pids.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/docker.inc.php
  includes/polling/applications/docker.inc.php
  tests/data/linux_docker-v1.json
  tests/snmpsim/linux_docker-v1.snmprec
Labels: Applications :floppy_disk:, Needs Tests :unicorn:

#12592 Revert "Use high precision OIDs for APC UPS sensors"
  includes/discovery/sensors/frequency/apc.inc.php
  includes/discovery/sensors/temperature/apc.inc.php
  includes/discovery/sensors/voltage/apc.inc.php
  tests/data/apc_smx750i.json
  tests/data/apc_sua750i.json
  tests/snmpsim/apc_sua1500rmi2u.snmprec
  tests/snmpsim/apc_sua750i.snmprec
Labels: Ignore changelog :mute:

#12597 Oxidized support airfiber
  includes/html/api_functions.inc.php
Labels: Oxidized

#12596 Fix dev:simulate
  app/Console/Commands/DevSimulate.php
Labels: Bug :beetle:, Ignore changelog :mute:

#12599 Fix AOS 7 sensors
  LibreNMS/Device/YamlDiscovery.php
  includes/definitions/discovery/aos7.yaml
  includes/discovery/functions.inc.php
  includes/discovery/sensors/current/aos7.inc.php
  includes/discovery/sensors/dbm/aos7.inc.php
  includes/discovery/sensors/fanspeed/aos7.inc.php
  includes/discovery/sensors/pre-cache/aos7.inc.php
  includes/discovery/sensors/state/aos7.inc.php
  includes/discovery/sensors/temperature/aos7.inc.php
  includes/discovery/sensors/voltage/aos7.inc.php
  includes/polling/sensors/state/aos7.inc.php
  tests/data/aos7.json
Labels: Device :desktop_computer:

#12601 Update Agent-Setup.md with systemd instructions on how to restrict on which NIC the agent listens.
  doc/Extensions/Agent-Setup.md
Labels: Documentation :book:

#12595 doc: broken link on fast-polling page
  doc/Support/1-Minute-Polling.md
Labels: Documentation :book:

#12587 Service templates - fix rules
  app/Models/ServiceTemplate.php
  resources/views/service-template/form.blade.php
Labels: Bug :beetle:

#12608 add css text center
  html/css/styles.css
Labels: WebUI

#12604 Psuedowire test data guess
  tests/module_tables.yaml
Labels: Ignore changelog :mute:

#12612 Update hpe-ilo.yaml
  includes/definitions/discovery/hpe-ilo.yaml
  tests/data/hpe-ilo_4.json
Labels: Device :desktop_computer:

#12527 Adding Cisco ME1200 support
  includes/definitions/ciscome1200.yaml
  tests/data/ciscome1200.json
  tests/snmpsim/ciscome1200.snmprec
Labels: Device :desktop_computer:

#12622 Add identification for Edgeswitch 8XP
  includes/definitions/edgeswitch.yaml
  tests/data/edgeswitch_8xp.json
  tests/snmpsim/edgeswitch_8xp.snmprec
Labels: Device :desktop_computer:

#12626 Fix Service Templates Dynamic
  app/Http/Controllers/ServiceTemplateController.php
  app/Models/ServiceTemplate.php
  database/migrations/2020_09_18_230114_create_service_templates_table.php
  database/migrations/2021_03_17_160729_service_templates_cleanup.php
  misc/db_schema.yaml
  resources/views/service-template/create.blade.php
  resources/views/service-template/edit.blade.php
  resources/views/service-template/form.blade.php
  resources/views/service-template/index.blade.php
Labels: Bug :beetle:

#12488 Chrony support
  includes/html/functions.inc.php
  includes/html/graphs/application/chronyd_frequency.inc.php
  includes/html/graphs/application/chronyd_root.inc.php
  includes/html/graphs/application/chronyd_source_frequency.inc.php
  includes/html/graphs/application/chronyd_source_polling.inc.php
  includes/html/graphs/application/chronyd_source_sampling.inc.php
  includes/html/graphs/application/chronyd_stratum.inc.php
  includes/html/graphs/application/chronyd_time.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/chronyd.inc.php
  includes/polling/applications/chronyd.inc.php
  tests/data/linux_chronyd.json
  tests/snmpsim/linux_chronyd.snmprec
Labels: Applications :floppy_disk:

#12631 Fix status badge url
  README.md
Labels: Ignore changelog :mute:

#12617 Add more printer data
  LibreNMS/OS/Shared/Printer.php
  includes/definitions/discovery/canonprinter.yaml
  includes/definitions/discovery/konica.yaml
  includes/definitions/discovery/xerox.yaml
  includes/discovery/sensors/count/printer.inc.php
  includes/polling/os/samsungprinter.inc.php
  tests/data/ricoh_mpc3002.json
  tests/snmpsim/ricoh_mpc3002.snmprec
Labels: Device :desktop_computer:

#12635 Fix serverchecks tests
  tests/data/serverscheck_sc-ts01.json
  tests/snmpsim/serverscheck_sc-ts01.snmprec
Labels: Ignore changelog :mute:

#12636 Fix serverchecks tests
  tests/data/serverscheck.json
  tests/snmpsim/serverscheck.snmprec
Labels: Ignore changelog :mute:

#12637 Bugfix for no sockets on Unix Agents
  includes/polling/unix-agent.inc.php
Labels: Bug :beetle:

#12639 PHP8 Bug in printChangedStats
  includes/functions.php
Labels: Bug :beetle:

#12188 service watchdog - add systemd watchdog for resiliency
  LibreNMS/service.py
  doc/Extensions/Dispatcher-Service.md
  doc/Installation/Install-LibreNMS.md
  misc/librenms-watchdog.service
  requirements.txt
Labels: Feature

#12624 add UKFast PSS transport
  LibreNMS/Alert/Transport/Ukfastpss.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#12633 Correct sensor_id variable
  includes/discovery/functions.inc.php
Labels: Bug :beetle:

#12397 Add ID to Device Table List and to Device Dependencies Table List + Shorten ifname in Device: Recent Events.
  app/Http/Controllers/Table/DeviceController.php
  includes/html/pages/device-dependencies.inc.php
  includes/html/pages/devices.inc.php
  includes/html/print-event-short.inc.php
Labels: WebUI

#12634 Add ability to set a custom port on IPMI agents
  includes/html/pages/device/edit/ipmi.inc.php
  includes/polling/ipmi.inc.php
Labels: Polling, WebUI

#12643 Fix a bunch of bugs
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/Transport/Boxcar.php
  LibreNMS/Alert/Transport/Telegram.php
  LibreNMS/Component.php
Labels: Bug :beetle:

#12640 Fixed polling and health issues for 9001 and NCS devices, added suppo…
  includes/discovery/sensors/cisco-entity-sensor.inc.php
  includes/polling/sensors/dbm/iosxr.inc.php
  tests/data/iosxr_asr9001.json
  tests/data/iosxr_asr9010.json
  tests/data/iosxr_asr9901.json
  tests/snmpsim/iosxr_asr9001.snmprec
  tests/snmpsim/iosxr_asr9901.snmprec
Labels: Device :desktop_computer:

#12644 fixed VRF name change not updated in DB
  includes/discovery/vrf.inc.php
Labels: Bug :beetle:

#12649 Change cache table to mediumtext
  database/migrations/2021_03_26_014054_change_cache_to_mediumtext.php
  misc/db_schema.yaml
Labels: Schema

#12629 VRP - Fix SSID Client count
  LibreNMS/OS/Vrp.php
  tests/data/vrp_ac6605-26.json
  tests/snmpsim/vrp_ac6605-26.snmprec
Labels: Device :desktop_computer:, Sensor

#12653 Fix double escaping sysContact on device overview
  includes/html/dev-overview-data.inc.php
Labels: Bug :beetle:, WebUI

#12657 fix snmp mock issue with MAC addresses and invalid snmprec data
  tests/mocks/mock.snmp.inc.php
  tests/snmpsim/freshtomato.snmprec
  tests/snmpsim/siteboss550.snmprec
Labels: Ignore changelog :mute:, Tests :test_tube:

#12585 Huawei VRF BGP_Peers update
  includes/discovery/bgp-peers/vrp.inc.php
  mibs/huawei/HUAWEI-BGP-VPN-MIB
  tests/data/vrp_ce12804-withvrf.json
  tests/snmpsim/vrp_ce12804-withvrf.snmprec
Labels: Bug :beetle:, Device :desktop_computer:

#12646 Add poller_group docs on auto-discovered devices
  doc/Extensions/Auto-Discovery.md
Labels: Documentation :book:

#12659 Don't fail on rrd close
  LibreNMS/Proc.php
Labels: Bug :beetle:

#12661 Fix regression from #12642
  app/Http/Controllers/Widgets/WidgetController.php
Labels: Bug :beetle:

#12346 Support multiple Alertmanager URLs
  LibreNMS/Alert/Transport/Alertmanager.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#12605 Re-implement Printer as a class based module
  LibreNMS/Config.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/Util/ObjectCache.php
  app/Http/Controllers/AboutController.php
  app/Models/Device.php
  app/Models/PrinterSupply.php
  app/Models/Toner.php
  database/migrations/2021_03_11_003540_rename_toner_table.php
  database/migrations/2021_03_11_003713_rename_printer_columns.php
  includes/caches/toner.inc.php
  includes/callback.php
  includes/definitions/brother.yaml
  includes/definitions/canonprinter.yaml
  includes/definitions/dell-laser.yaml
  includes/definitions/developprinter.yaml
  includes/definitions/epson.yaml
  includes/definitions/gestetner.yaml
  includes/definitions/jetdirect.yaml
  includes/definitions/konica.yaml
  includes/definitions/kyocera.yaml
  includes/definitions/lanier.yaml
  includes/definitions/lexmarkprinter.yaml
  includes/definitions/nrg.yaml
  includes/definitions/okilan.yaml
  includes/definitions/ricoh.yaml
  includes/definitions/samsungprinter.yaml
  includes/definitions/savin.yaml
  includes/definitions/sharp.yaml
  includes/definitions/toshiba-tec.yaml
  includes/definitions/waas.yaml
  includes/definitions/xerox.yaml
  includes/discovery/functions.inc.php
  includes/discovery/printer-supplies.inc.php
  includes/discovery/toner.inc.php
  includes/functions.php
  includes/html/graphs/device/toner.inc.php
  includes/html/graphs/toner/auth.inc.php
  includes/html/graphs/toner/usage.inc.php
  includes/html/pages/device/overview/toner.inc.php
  includes/html/pages/health/toner.inc.php
  includes/html/table/toner.inc.php
  includes/polling/printer-supplies.inc.php
  includes/polling/toner.inc.php
  misc/config_definitions.json
  misc/db_schema.yaml
  misc/os_schema.json
  tests/data/brother.json
  tests/data/canonprinter_lbp.json
  tests/data/dell-laser_s5830dn.json
  tests/data/epson.json
  tests/data/jetdirect.json
  tests/data/jetdirect_m252dw.json
  tests/data/jetdirect_m880.json
  tests/data/konica.json
  tests/data/konica_2.json
  tests/data/okilan_9450g.json
  tests/data/ricoh_mpc3002.json
  tests/data/xerox.json
  tests/module_tables.yaml
Labels: Refactor

#12662 Fix service template discovery
  includes/discovery/services.inc.php
Labels: Bug :beetle:, Discovery, Service

#12655 Add lint Github Action
  .github/workflows/lint.yml
Labels: Tests :test_tube:

#12580 Switch to utf8mb4
  .github/workflows/test.yml
  LibreNMS/DB/Eloquent.php
  LibreNMS/Validations/Database.php
  config/database.php
  database/migrations/2021_02_09_122930_migrate_to_utf8mb4.php
  database/schema/mysql-schema.dump
  database/schema/testing-schema.dump
  database/schema/testing_persistent-schema.dump
  doc/Installation/Install-LibreNMS.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Debian-10-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  includes/dbFacile.php
  misc/db_schema.yaml
  tests/DBSetupTest.php
  tests/bootstrap.php
Labels: Schema

#12663 Enable Black for linter
  .github/workflows/lint.yml
  LibreNMS/__init__.py
  LibreNMS/library.py
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  discovery-wrapper.py
  librenms-service.py
  poller-wrapper.py
  scripts/check_requirements.py
  services-wrapper.py
  snmp-scan.py
  tests/tests.py
Labels: Tests :test_tube:

#12669 Fix undefined function in vrp peers
  includes/discovery/bgp-peers/vrp.inc.php
Labels: Bug :beetle:

#12654 Always skip style check for dev:check ci
  .github/workflows/test.yml
  LibreNMS/DB/Schema.php
  LibreNMS/Util/CiHelper.php
  tests/DBSetupTest.php
Labels: Ignore changelog :mute:

#12671 Correct globecontroller typo
  app/Http/Controllers/Widgets/GlobeController.php
Labels: Bug :beetle:

#12670 Make moduleobserver type hinting overridable
  app/Observers/MempoolObserver.php
  app/Observers/ModuleModelObserver.php
Labels: Cleanup

#12675 Linting: Fix misc problems
  LibreNMS/Alert/Transport/Alerta.php
  LibreNMS/Alert/Transport/Hipchat.php
  LibreNMS/Alert/Transport/Pushbullet.php
  LibreNMS/DB/Eloquent.php
  LibreNMS/IRCBot.php
  LibreNMS/OS/Avocent.php
  LibreNMS/OS/HiveosWireless.php
  LibreNMS/OS/Lcos.php
  LibreNMS/OS/Pmp.php
  LibreNMS/OS/Ruckuswireless.php
  LibreNMS/OS/RuckuswirelessSz.php
  LibreNMS/Snmptrap/Handlers/JnxDomLaneAlarmCleared.php
  LibreNMS/Snmptrap/Handlers/JnxDomLaneAlarmSet.php
  LibreNMS/Snmptrap/Handlers/JnxLdpSesDown.php
  app/Console/Commands/GetConfigCommand.php
  app/Providers/AppServiceProvider.php
Labels: Cleanup

#12672 fix BGP tab Exception
  includes/html/pages/device/routing/bgp.inc.php
  includes/rewrites.php
Labels: Bug :beetle:, Ignore changelog :mute:

#12673 Type hint model relations
  app/Models/Alert.php
  app/Models/AlertRule.php
  app/Models/Device.php
  app/Models/DeviceGroup.php
  app/Models/DeviceRelatedModel.php
  app/Models/Location.php
  app/Models/PortRelatedModel.php
  app/Models/PortsFdb.php
  app/Models/Route.php
  app/Models/ServiceTemplate.php
  app/Models/UserWidget.php
Labels: Cleanup

#12674 More PHPDoc changes
  app/Http/Controllers/Select/DeviceGroupController.php
  app/Http/Controllers/Select/MuninPluginController.php
  app/Http/Controllers/Select/ServiceController.php
  app/Http/Controllers/Table/EventlogController.php
  app/Http/Controllers/Table/FdbTablesController.php
  app/Http/Controllers/Table/MempoolsController.php
  app/Http/Controllers/Table/OutagesController.php
  app/Http/Controllers/Table/PortNacController.php
  app/Http/Controllers/Table/SyslogController.php
  app/Http/Controllers/Table/VminfoController.php
  app/Http/Controllers/Widgets/TopDevicesController.php
  app/Http/Controllers/Widgets/WorldMapController.php
  app/Models/UserPref.php
  app/Providers/LegacyUserProvider.php
  app/Providers/TokenUserProvider.php
Labels: Cleanup

#12680 Fix links to non-existent devices
  LibreNMS/Util/Url.php
Labels: Bug :beetle:, WebUI

#12681 Fix printer state error
  includes/functions.php
Labels: Bug :beetle:, Polling

#12682 Fix deviceUrl check
  LibreNMS/Util/Url.php
Labels: Bug :beetle:

#12676 VRP - fix global VRF being NULL and not '' for cbgp, support for NetEngine devices
  includes/definitions/discovery/vrp.yaml
  includes/discovery/bgp-peers/vrp.inc.php
  includes/polling/bgp-peers.inc.php
  tests/data/vrp_ce12804-withvrf.json
  tests/data/vrp_ne8000.json
  tests/snmpsim/vrp_ne8000.snmprec
Labels: Device :desktop_computer:

#12687 PHPDoc fixes
  LibreNMS/Alerting/QueryBuilderParser.php
  LibreNMS/Authentication/ActiveDirectoryCommon.php
  LibreNMS/Cache/PermissionsCache.php
  LibreNMS/Config.php
  LibreNMS/DB/Schema.php
  LibreNMS/Data/Store/Graphite.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Device/Processor.php
  LibreNMS/Device/Sensor.php
  LibreNMS/Device/WirelessSensor.php
  LibreNMS/Device/YamlDiscovery.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/OS.php
  LibreNMS/OS/Dnos.php
  LibreNMS/OS/Lcos.php
  LibreNMS/Proc.php
  app/Http/Controllers/Auth/TwoFactorController.php
  app/Http/Controllers/DeviceGroupController.php
  app/Http/Controllers/LocationController.php
  app/Http/Controllers/PaginatedAjaxController.php
  app/Http/Controllers/Table/SimpleTableController.php
  app/Http/Controllers/UserController.php
  app/Http/Controllers/UserPreferencesController.php
  app/Http/Controllers/Widgets/WidgetController.php
Labels: Cleanup

#12677 Linting
  LibreNMS/Alert/Transport/Canopsis.php
  LibreNMS/Alert/Transport/Hipchat.php
  LibreNMS/Alerting/QueryBuilderParser.php
  LibreNMS/IRCBot.php
  LibreNMS/Modules/OS.php
  app/Models/Notification.php
Labels: Cleanup

#12693 PHPDoc fixes
  LibreNMS/Authentication/TwoFactor.php
  LibreNMS/Cache/PermissionsCache.php
  LibreNMS/DB/Eloquent.php
  LibreNMS/Data/Store/Datastore.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Exceptions/FilePermissionsException.php
  LibreNMS/Exceptions/MaximumExecutionTimeExceeded.php
  LibreNMS/Exceptions/UnserializableRouteCache.php
  LibreNMS/Interfaces/Authentication/Authorizer.php
  LibreNMS/Util/ModuleTestHelper.php
  app/Models/AlertSchedule.php
  app/Models/Device.php
  app/Models/Location.php
  app/Models/User.php
  tests/AuthSSOTest.php
  tests/MibTest.php
  tests/OSDiscoveryTest.php
  tests/Unit/Data/GraphiteStoreTest.php
  tests/Unit/Data/OpenTSDBStoreTest.php
  tests/YamlSchemaTest.php
Labels: Cleanup

#12690 Fix alert template variable ping_timestamp
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Alert/Template.php
  LibreNMS/Alerting/QueryBuilderFluentParser.php
  LibreNMS/Alerting/QueryBuilderParser.php
Labels: Bug :beetle:
