Repository librenms/librenms, pull requests merged in 2021-06, with the labels that each got.

#12925 Fix nokia(TiMOS) memory
  includes/definitions/discovery/timos.yaml
  tests/data/timos.json
  tests/data/timos_7705.json
  tests/snmpsim/timos.snmprec
  tests/snmpsim/timos_7705.snmprec
Labels: Device :desktop_computer:

#12937 Imporoved raritan pdu support
  includes/definitions/discovery/raritan-pdu.yaml
  includes/discovery/sensors/current/raritan-pdu.inc.php
  includes/discovery/sensors/power/raritan-pdu.inc.php
  tests/data/raritan-pdu.json
  tests/snmpsim/raritan-pdu.snmprec
Labels: Device :desktop_computer:

#12935 Alcatel-Lucent Aos7 sensors nobulk
  includes/definitions/aos7.yaml
  includes/definitions/discovery/aos7.yaml
  misc/discovery_schema.json
  tests/snmpsim/aos7.snmprec
Labels: Device :desktop_computer:

#12898 Update device_component_down_junos macro
  misc/macros.json
Labels: Alerting :bell:

#12865 HWG WaterLeak sensor support
  includes/definitions/discovery/hwg-ste.yaml
  includes/definitions/discovery/hwg-wld.yaml
  includes/definitions/hwg-ste.yaml
  includes/definitions/hwg-wld.yaml
  mibs/hwg/HWg-WLD-MIB
  tests/data/hwg-wld_600415.json
  tests/snmpsim/hwg-wld_600415.snmprec
Labels: Device :desktop_computer:

#12823 Gaia VPN IPSEC discovery
  includes/definitions/discovery/gaia.yaml
  tests/data/gaia_1.json
  tests/snmpsim/gaia_1.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12928 Add Epson Projector as new OS
  includes/definitions/epson-projector.yaml
  includes/discovery/sensors/count/epson-projector.inc.php
  tests/data/epson-projector_eb-4770w.json
  tests/snmpsim/epson-projector_eb-4770w.snmprec
Labels: Device :desktop_computer:, User-Pending

#12461 ISIS-adjacency polling support
  LibreNMS/Modules/Isis.php
  LibreNMS/Util/ObjectCache.php
  app/Http/Controllers/Device/Tabs/RoutingController.php
  app/Http/ViewComposers/MenuComposer.php
  app/Models/Device.php
  app/Models/IsisAdjacency.php
  database/migrations/2021_25_01_0127_create_isis_adjacencies_table.php
  includes/discovery/isis.inc.php
  includes/functions.php
  includes/html/pages/device/routing.inc.php
  includes/html/pages/device/routing/isis.inc.php
  includes/html/pages/routing.inc.php
  includes/html/pages/routing/isis.inc.php
  includes/polling/isis.inc.php
  mibs/junos/mib-isismib.txt
  misc/alert_rules.json
  misc/config_definitions.json
  misc/db_schema.yaml
  resources/lang/en/settings.php
  tests/data/junos_mx5t_isis.json
  tests/module_tables.yaml
  tests/snmpsim/junos_mx5t_isis.snmprec
Labels: Feature

#12799 New module add juniper rpm support + reimplementation of cisco-sla module
  LibreNMS/Config.php
  LibreNMS/Interfaces/Discovery/SlaDiscovery.php
  LibreNMS/Interfaces/Polling/SlaPolling.php
  LibreNMS/Modules/Slas.php
  LibreNMS/OS/Junos.php
  LibreNMS/OS/Shared/Cisco.php
  app/Http/Controllers/AboutController.php
  app/Models/PrinterSupply.php
  app/Models/Sla.php
  database/migrations/2021_06_11_084830_slas_add_rtt_field.php
  includes/callback.php
  includes/definitions/acano.yaml
  includes/definitions/acs.yaml
  includes/definitions/acsw.yaml
  includes/definitions/apic.yaml
  includes/definitions/cat1900.yaml
  includes/definitions/catos.yaml
  includes/definitions/cimc.yaml
  includes/definitions/cips.yaml
  includes/definitions/ciscosce.yaml
  includes/definitions/ciscowap.yaml
  includes/definitions/ciscowlc.yaml
  includes/definitions/fxos.yaml
  includes/definitions/ios.yaml
  includes/definitions/iosxe.yaml
  includes/definitions/iosxr.yaml
  includes/definitions/ise.yaml
  includes/definitions/junos.yaml
  includes/definitions/nxos.yaml
  includes/definitions/ons.yaml
  includes/definitions/pixos.yaml
  includes/definitions/primeinfrastructure.yaml
  includes/definitions/sanos.yaml
  includes/definitions/tpconductor.yaml
  includes/definitions/ucos.yaml
  includes/definitions/vccodec.yaml
  includes/definitions/vcs.yaml
  includes/definitions/waas.yaml
  includes/discovery/cisco-sla.inc.php
  includes/discovery/slas.inc.php
  includes/helpers.php
  includes/html/graphs/device/sla_IcmpEcho.inc.php
  includes/html/graphs/device/sla_IcmpTimeStamp.inc.php
  includes/html/pages/device/sla/IcmpEcho.inc.php
  includes/html/pages/device/sla/IcmpTimeStamp.inc.php
  includes/html/pages/device/slas.inc.php
  includes/polling/cisco-sla.inc.php
  includes/polling/slas.inc.php
  mibs/junos/JUNIPER-PING-MIB
  mibs/junos/mib-rfc2925a.txt
  mibs/junose/rfc2925p.mi2
  misc/config_definitions.json
  misc/db_schema.yaml
  misc/os_schema.json
  resources/lang/en/modules.php
  tests/data/iosxr_asr9010.json
  tests/data/junos_vmx.json
  tests/module_tables.yaml
  tests/snmpsim/junos_vmx.snmprec
Labels: Feature, Refactor

#12944 Janitza UMG96
  includes/definitions/discovery/janitza-umg96.yaml
  includes/definitions/janitza-umg96.yaml
  mibs/janitza/JANITZA-MIB-UMG96
  tests/data/janitza-umg96_umg96.json
  tests/snmpsim/janitza-umg96_umg96.snmprec
Labels: Device :desktop_computer:

#12945 Alcatel-Lucent aos6 and aos7 fdb fix
  includes/discovery/fdb-table/aos6.inc.php
  includes/discovery/fdb-table/aos7.inc.php
  tests/data/aos6.json
  tests/snmpsim/aos6.snmprec
  tests/snmpsim/aos7.snmprec
Labels: Device :desktop_computer:

#12950 Human readable database inconsistent error
  LibreNMS/Exceptions/DatabaseInconsistentException.php
  LibreNMS/Validations/Database.php
  LibreNMS/Validator.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Install/DatabaseController.php
  resources/lang/en/exceptions.php
  resources/views/errors/db_inconsistent.blade.php
  resources/views/layouts/error.blade.php
Labels: WebUI

#12948 Add SDSL Support for OneAccess routers
  includes/definitions/discovery/oneaccess.yaml
  mibs/oneaccess/ONEACCESS-SHDSL-MIB
  tests/data/oneaccess_oneaccess-sdsl.json
  tests/snmpsim/oneaccess_oneaccess-sdsl.snmprec
Labels: Device :desktop_computer:

#12946 Improve TP-Link JetStream Discovery
  includes/definitions/discovery/jetstream.yaml
  includes/definitions/jetstream.yaml
  mibs/tplink/TPLINK-SYSINFO-MIB
  tests/data/jetstream_sg2210p.json
  tests/data/jetstream_t2600g-28ts.json
  tests/snmpsim/jetstream_sg2210p.snmprec
  tests/snmpsim/jetstream_t2600g-28ts.snmprec
Labels: Device :desktop_computer:

#12955 API: Add api call to list OSPF ports
  doc/API/Routing.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#12953 2 more Rittal variants
  includes/definitions/rittal-cmc-iii-pu.yaml
  includes/discovery/sensors.inc.php
  includes/discovery/sensors/rittal-cmc-iii-sensors.inc.php
  tests/data/rittal-cmc-iii-pu_pdu-controller.json
  tests/data/rittal-lcp_cmciii-pu-lcp.json
  tests/snmpsim/rittal-cmc-iii-pu_pdu-controller.snmprec
  tests/snmpsim/rittal-lcp_cmciii-pu-lcp.snmprec
Labels: Device :desktop_computer:

#12901 LLDP - Extend discovery lldp code to support different subtypes
  includes/discovery/discovery-protocols.inc.php
Labels: Discovery

#12952 Added New-OS: Alcatel-Lucent Enterprise Stellar Wireless
  LibreNMS/OS/Stellar.php
  includes/definitions/discovery/stellar.yaml
  includes/definitions/stellar.yaml
  mibs/nokia/stellar/ALCATEL-NGOAW-BASE-MIB
  mibs/nokia/stellar/ALCATEL-NGOAW-DEVICES-MIB
  mibs/nokia/stellar/OAW-AP1101
  mibs/nokia/stellar/OAW-AP1201
  mibs/nokia/stellar/OAW-AP1201BG
  mibs/nokia/stellar/OAW-AP1201H
  mibs/nokia/stellar/OAW-AP1201HL
  mibs/nokia/stellar/OAW-AP1201L
  mibs/nokia/stellar/OAW-AP1221
  mibs/nokia/stellar/OAW-AP1222
  mibs/nokia/stellar/OAW-AP1231
  mibs/nokia/stellar/OAW-AP1232
  mibs/nokia/stellar/OAW-AP1251
  mibs/nokia/stellar/OAW-AP1251D
  mibs/nokia/stellar/OAW-AP1321
  mibs/nokia/stellar/OAW-AP1322
  mibs/nokia/stellar/OAW-AP1361
  mibs/nokia/stellar/OAW-AP1361D
  mibs/nokia/stellar/OAW-AP1362
  tests/data/stellar_oaw-ap1321.json
  tests/snmpsim/stellar_oaw-ap1321.snmprec
Labels: Device :desktop_computer:

#12954 Add Signal CLI transport support
  LibreNMS/Alert/Transport/Signal.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#12960 Add Serialnumber for some Dell ForceTen devices
  includes/definitions/discovery/dnos.yaml
  includes/discovery/entity-physical/entity-physical.inc.php
  tests/data/dnos_z9100-on.json
  tests/snmpsim/dnos_z9100-on.snmprec
Labels: Device :desktop_computer:

#12965 Add support for Liebert humidity setpoint and UPS powerfactor
  includes/definitions/discovery/liebert.yaml
  tests/data/liebert_weblbds.json
  tests/snmpsim/liebert_weblbds.snmprec
Labels: Device :desktop_computer:

#12967 Fix ldap/ad group webui settings
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  misc/config_definitions.json
  package-lock.json
  resources/js/components/SettingLdapGroups.vue
Labels: Bug :beetle:, Settings, WebUI

#12550 Add HPE-maPDU support
  includes/definitions/discovery/hpe-mapdu.yaml
  includes/definitions/hpe-mapdu.yaml
  tests/data/hpe-mapdu_pdu2.json
  tests/data/hpe-mapdu_pdu3.json
  tests/snmpsim/hpe-mapdu_pdu2.snmprec
  tests/snmpsim/hpe-mapdu_pdu3.snmprec
Labels: Device :desktop_computer:

#12932 Firebrick: Fix an issue which led to duplication of BGP peers.
  includes/discovery/bgp-peers/firebrick.inc.php
Labels: Bug :beetle:, Discovery

#12971 Make migrating after upgrading MySQL easier.
  database/migrations/2020_12_14_091314_create_port_groups_table.php
Labels: Bug :beetle:, Schema

#12970 fix proxmox menu url
  resources/views/layouts/menu.blade.php
Labels: Bug :beetle:

#12985 filter out NULL lat/lng values from Geographical Map display queries
  includes/html/common/worldmap.inc.php
Labels: Bug :beetle:, WebUI

#12987 Update Applications.md for SQUID
  doc/Extensions/Applications.md
Labels: Documentation :book:

#12982 Alcatel-Lucent AOS6 to yaml
  includes/definitions/discovery/aos6.yaml
  includes/discovery/sensors/state/aos6.inc.php
  includes/polling/sensors/state/aos6.inc.php
  tests/data/aos6.json
  tests/snmpsim/aos6.snmprec
Labels: Device :desktop_computer:
