Repository librenms/librenms, pull requests merged in 2021-08, with the labels that each got.

#13084 MIB cleaning for HP
  mibs/hp/HP-BASE-MIB
  mibs/hp/HP-IF-EXT-MIB
  mibs/hp/HP-MEMPROC-MIB
  mibs/hp/HP-PROCURVE-420-PRIVATE-MIB
  mibs/hp/HP-SN-MIBS
  mibs/hp/HP-SN-TRAP-MIB
  mibs/hp/HP-SYSTEM-MIB
Labels: Refactor

#13083 MIB cleaning for equallogic
  mibs/equallogic/EQL-DCB-MIB
  mibs/equallogic/EQL-LLDP-MIB
  mibs/equallogic/EQLACCESS-MIB
  mibs/equallogic/EQLAGENT-MIB
  mibs/equallogic/EQLAPPLIANCE-MIB
  mibs/equallogic/EQLCONTROLLER-MIB
  mibs/equallogic/EQLDISK-MIB
  mibs/equallogic/EQLGROUP-MIB
  mibs/equallogic/EQLINTERNAL-MIB
  mibs/equallogic/EQLIPADDR-MIB
  mibs/equallogic/EQLIPSEC-MIB
  mibs/equallogic/EQLISCSI-MIB
  mibs/equallogic/EQLMEMBER-MIB
  mibs/equallogic/EQLNAS-MIB
  mibs/equallogic/EQLRAID-MIB
  mibs/equallogic/EQLREPLPARTNER-MIB
  mibs/equallogic/EQLSTORAGECONTAINER-MIB
  mibs/equallogic/EQLSTORAGEPOOL-MIB
  mibs/equallogic/EQLTAG-MIB
  mibs/equallogic/EQLVOLBALANCER-MIB
  mibs/equallogic/EQLVOLUME-MIB
  mibs/equallogic/EQUALLOGIC-SMI
  mibs/equallogic/HCNUM-TC.txt
  mibs/equallogic/IANA-ADDRESS-FAMILY-NUMBERS-MIB.txt
  mibs/equallogic/IANA-LANGUAGE-MIB.txt
  mibs/equallogic/INET-ADDRESS-MIB.txt
  mibs/equallogic/IPS-AUTH-MIB
  mibs/equallogic/ISCSI-MIB
  mibs/equallogic/RFC-1215.txt
  mibs/equallogic/RFC1155-SMI.txt
  mibs/equallogic/RFC1213-MIB.txt
  mibs/equallogic/SCSI-MIB
  mibs/equallogic/SNMP-FRAMEWORK-MIB.txt
  mibs/equallogic/SNMPv2-CONF.txt
  mibs/equallogic/SNMPv2-MIB.txt
  mibs/equallogic/SNMPv2-SMI.txt
  mibs/equallogic/SNMPv2-TC.txt
  mibs/equallogic/SNMPv2-TM.txt
  mibs/equallogic/rfc1907.mib
  mibs/equallogic/rfc2233.mib
Labels: Refactor

#13089 MIB cleaning for Dell + Gandi
  includes/definitions/dell-compellent.yaml
  includes/definitions/pktj.yaml
  mibs/Dell-Vendor-MIB
  mibs/dell/DELL-STORAGE-SC-MIB
  mibs/gandi/GANDI-MIB
Labels: Refactor

#13088 MIB cleaning for Panasonic (1 file) and Avtech (11 files)
  mibs/avtech/ROOMALERT11E-MIB
  mibs/avtech/ROOMALERT12E-MIB
  mibs/avtech/ROOMALERT24E-MIB
  mibs/avtech/ROOMALERT26W-MIB
  mibs/avtech/ROOMALERT32E-MIB
  mibs/avtech/ROOMALERT3E-MIB
  mibs/avtech/ROOMALERT4E-MIB
  mibs/avtech/ROOMALERT7E-MIB
  mibs/avtech/ROOMALERTST4E-MIB
  mibs/avtech/TEMPAGER-MIB
  mibs/avtech/TEMPAGER3E-MIB
  mibs/panasonic/ipPbxNs-MIB
Labels: MIBs, Refactor

#13086 MIB cleaning (Misc)
  includes/definitions/comware.yaml
  mibs/LLDP-V2-MIB
  mibs/LLDP-V2-TC-MIB
  mibs/NETWORK-SERVICES-MIB
  mibs/comware/HH3C-ENTITY-EXT-MIB
  mibs/comware/HH3C-LSW-DEV-ADM-MIB
  mibs/comware/HH3C-LswDEVM-MIB
  mibs/comware/HH3C-OID-MIB
  mibs/comware/HH3C-PRODUCT-ID-MIB
  mibs/comware/HH3C-TRANSCEIVER-INFO-MIB
  mibs/netapp/NETWORK-APPLIANCE-MIB
Labels: MIBs, Refactor

#13093 Update NET-SNMP mibs
  mibs/BRIDGE-MIB
  mibs/DISMAN-EVENT-MIB
  mibs/DISMAN-NSLOOKUP-MIB
  mibs/DISMAN-PING-MIB
  mibs/DISMAN-TRACEROUTE-MIB
  mibs/IANA-ADDRESS-FAMILY-NUMBERS-MIB
  mibs/IANA-LANGUAGE-MIB
  mibs/IANA-RTPROTO-MIB
  mibs/IANAifType-MIB
  mibs/INET-ADDRESS-MIB
  mibs/IP-FORWARD-MIB
  mibs/IP-MIB
  mibs/IPV6-FLOW-LABEL-MIB
  mibs/IPV6-ICMP-MIB
  mibs/IPV6-MIB
  mibs/IPV6-TC
  mibs/IPV6-TCP-MIB
  mibs/IPV6-UDP-MIB
  mibs/NET-SNMP-AGENT-MIB
  mibs/NET-SNMP-EXAMPLES-MIB
  mibs/NET-SNMP-EXTEND-MIB
  mibs/NET-SNMP-PASS-MIB
  mibs/NET-SNMP-TC
  mibs/NOTIFICATION-LOG-MIB
  mibs/RFC-1215
  mibs/SNMP-USM-AES-MIB
  mibs/SNMP-USM-DH-OBJECTS-MIB
  mibs/TRANSPORT-ADDRESS-MIB
  mibs/UCD-DISKIO-MIB
Labels: MIBs

#13092 Add issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/device_bug.yml
Labels: Ignore changelog :mute:

#13078 Allow stack index other than '1.' for CiscoSB
  includes/discovery/sensors/current/ciscosb.inc.php
  includes/discovery/sensors/dbm/ciscosb.inc.php
  includes/discovery/sensors/power/ciscosb.inc.php
  includes/discovery/sensors/state/ciscosb.inc.php
  includes/discovery/sensors/temperature/ciscosb.inc.php
  includes/discovery/sensors/voltage/ciscosb.inc.php
  tests/data/ciscosb_cbs350-4x.json
  tests/snmpsim/ciscosb_cbs350-4x.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12913 Fix WUT ThermoHygro with new hardware revisions
  includes/definitions/discovery/wut.yaml
  tests/data/wut_57606.json
  tests/data/wut_57613.json
  tests/data/wut_57720-os-143.json
  tests/data/wut_57720.json
  tests/snmpsim/wut_57720-os-143.snmprec
  tests/snmpsim/wut_57720.snmprec
Labels: Device :desktop_computer:

#13097 Opnsense detection
  includes/definitions/opnsense.yaml
  tests/data/opnsense_vm.json
  tests/snmpsim/opnsense_vm.snmprec
Labels: Device :desktop_computer:

#13096 Added OID for Extreme switch X350-48t
  LibreNMS/OS/Shared/Extreme.php
Labels: Device :desktop_computer:

#13095 Add Janitza power consumed
  includes/definitions/discovery/janitza-umg96.yaml
  includes/definitions/discovery/janitza.yaml
  tests/data/janitza-umg96_umg96.json
  tests/data/janitza_generic.json
  tests/snmpsim/janitza.snmprec
  tests/snmpsim/janitza_generic.snmprec
Labels: Device :desktop_computer:

#13105 Added two indexes to 'syslog' table for performance
  database/migrations/2021_08_04_102914_add_syslog_indexes.php
  misc/db_schema.yaml
Labels: Schema

#13107 Add SignalWire (Twilio alternative) alert transport support
  LibreNMS/Alert/Transport/Signalwire.php
Labels: Alerting :bell:

#13101 Remove links to freenode
  README.md
  composer.json
  composer.lock
  doc/Extensions/IRC-Bot.md
Labels: Cleanup, Ignore changelog :mute:

#13103 MIB cleaning (misc again)
  includes/definitions/ddnos.yaml
  includes/definitions/radwin.yaml
  mibs/allied/TELESYN-ATI-TC
  mibs/allied/mib_info.txt
  mibs/dataaire/DataAire-dap4-al-MIB
  mibs/ddn/SFA-INFO
  mibs/dell/MIB-Dell-10892
  mibs/radwin/RADWIN-MIB-WINLINK1000
  mibs/synso/SYNSO-UPSMIB
Labels: MIBs, Refactor

#13113 MIB cleaning "Junos" fix
  mibs/junos/JUNIPER-SMI
  mibs/junos/JUNIPER-SRX5000-SPU-MONITORING-MIB
  mibs/junos/mib-jnx-js-spu-monitoring.txt
  mibs/junos/mib-jnx-vlan.txt
  mibs/junos/mib-rfc3813.txt
Labels: Bug :beetle:, MIBs, Ignore changelog :mute:

#13110 Update FAQs for large groups
  doc/Support/FAQ.md
Labels: Documentation :book:

#13108 Run PHPStan with higher level for new files
  .github/workflows/lint.yml
Labels: Tests :test_tube:

#13116 Updated Traditional Chinese Translation
  resources/lang/zh-TW.json
  resources/lang/zh-TW/auth.php
  resources/lang/zh-TW/port.php
  resources/lang/zh-TW/sensors.php
  resources/lang/zh-TW/settings.php
  resources/lang/zh-TW/smokeping.php
Labels: Translation

#13114 Detect sending non-html emails as html
  LibreNMS/Alert/Transport/Mail.php
Labels: Feature, Alerting :bell:

#13111 Consolidate DB version code
  LibreNMS/DB/Eloquent.php
  LibreNMS/Validations/Database.php
  app/Http/Controllers/AboutController.php
  includes/common.php
Labels: Refactor, Ignore changelog :mute:

#13094 Full Python code fusion / refactor and hardening
  LibreNMS/__init__.py
  LibreNMS/command_runner.py
  LibreNMS/library.py
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  LibreNMS/wrapper.py
  discovery-wrapper.py
  librenms-service.py
  poller-wrapper.py
  requirements.txt
  services-wrapper.py
Labels: Polling, Discovery, Refactor

#12964 API mac search
  doc/API/Ports.md
  includes/html/api_functions.inc.php
  routes/api.php
  tests/Unit/Util/RewriteTest.php
Labels: API

#13123 Revert "Full Python code fusion / refactor and hardening (#13094)"
  LibreNMS/__init__.py
  LibreNMS/command_runner.py
  LibreNMS/library.py
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  LibreNMS/wrapper.py
  discovery-wrapper.py
  librenms-service.py
  poller-wrapper.py
  requirements.txt
  services-wrapper.py
Labels: Ignore changelog :mute:

#13122 Bug - Standard MIB wrongly moved to Junos, and Dell still in ~/mibs
  mibs/SNA-SDLC-MIB
  mibs/dell/BROADCOM-POWER-ETHERNET-MIB
  mibs/dell/BROADCOM-REF-MIB
Labels: MIBs, Ignore changelog :mute:

#13129 Fix lnms scan, nets not detected
  routes/console.php
Labels: Bug :beetle:

#13135 sort port selector dropdown
  html/ajax_listports.php
Labels: WebUI

#13136 adjust App String Pi-hole to project name
  LibreNMS/Util/StringHelpers.php
Labels: WebUI

#13142 Added voltage, cell states and wireless data for cell interface (GEMDS OS).
  includes/definitions/discovery/gemds.yaml
  tests/data/gemds_mxncl4ene4sn1s1e6dcnn.json
  tests/snmpsim/gemds_mxncl4ene4sn1s1e6dcnn.snmprec
Labels: Device :desktop_computer:

#13152 More specific grandstream-ht detection
  includes/definitions/grandstream-ht.yaml
Labels: Device :desktop_computer:

#13153 Change PHPStan target to PHP 7.3
  phpstan.neon
  tests/Browser/LoginTest.php
Labels: Ignore changelog :mute:, Tests :test_tube:

#13147 Update docs for controlling modules
  doc/Developing/os/Settings.md
  doc/Support/Configuration.md
Labels: Documentation :book:

#13151 lnms config:set ability to set os settings
  app/Console/Commands/GetConfigCommand.php
  app/Console/Commands/SetConfigCommand.php
  composer.json
  composer.lock
  doc/Support/Configuration.md
  resources/lang/en/commands.php
  tests/Feature/Commands/TestConfigCommands.php
  tests/InMemoryDbTestCase.php
Labels: Feature

#13156 Add OSAG new OS
  html/images/logos/osag.svg
  html/images/os/osag.svg
  includes/definitions/osag.yaml
  tests/data/osag.json
  tests/snmpsim/osag.snmprec
Labels: Device :desktop_computer:

#13134 Priority filtering for syslog widget
  app/Http/Controllers/Table/SyslogController.php
  app/Http/Controllers/Widgets/SyslogController.php
  resources/views/widgets/settings/syslog.blade.php
  resources/views/widgets/syslog.blade.php
Labels: WebUI

#13115 Fix layout width
  includes/html/pages/device/edit/services.inc.php
Labels: WebUI

#13141 Dark mode improvements
  html/css/dark.css
  includes/html/pages/apps/overview.inc.php
  includes/html/print-interface.inc.php
Labels: Design

#13161 Release script updates
  LibreNMS/Util/GitHub.php
  routes/dev-console.php
Labels: Ignore changelog :mute:

#13158 Common contexts for polling
  LibreNMS/Alert/Transport/Splunk.php
  app/Models/Device.php
  includes/common.php
  includes/discovery/arp-table.inc.php
  includes/discovery/bgp-peers.inc.php
  includes/discovery/cisco-vrf-lite.inc.php
  includes/discovery/ipv4-addresses.inc.php
  includes/discovery/ipv6-addresses.inc.php
  includes/polling/ospf.inc.php
  poller.php
Labels: Polling, Refactor

#13164 show count of Ports in PortGroup display
  app/Http/Controllers/PortGroupController.php
  resources/views/port-group/index.blade.php
Labels: WebUI

#13163 Fix DB Inconsistent friendly error message
  LibreNMS/Exceptions/DatabaseInconsistentException.php
Labels: Bug :beetle:

#13157 Update configuration docs to use lnms config:set
  app/Console/Commands/GetConfigCommand.php
  app/Console/Commands/SetConfigCommand.php
  doc/Support/Configuration.md
  misc/config_definitions.json
  misc/os_schema.json
  tests/Feature/Commands/TestConfigCommands.php
Labels: Documentation :book:, Refactor

#13162 Dell Network Virtual Link Trunk Status
  includes/definitions/discovery/dnos.yaml
  tests/data/dnos_z9100-on.json
  tests/snmpsim/dnos_z9100-on.snmprec
Labels: Device :desktop_computer:

#13155 Rewrite ISIS Adjacency discovery/polling
  LibreNMS/DB/SyncsModels.php
  LibreNMS/Interfaces/Discovery/IsIsDiscovery.php
  LibreNMS/Interfaces/Polling/IsIsPolling.php
  LibreNMS/Modules/Isis.php
  LibreNMS/Util/ModuleTestHelper.php
  LibreNMS/Util/Url.php
  app/Models/IsisAdjacency.php
  database/migrations/2021_25_01_0128_isis_adjacencies_add_admin_status.php
  database/migrations/2021_25_01_0129_isis_adjacencies_nullable.php
  includes/html/pages/device/routing/isis.inc.php
  includes/html/pages/routing/isis.inc.php
  misc/db_schema.yaml
  tests/data/junos_mx5t_isis.json
Labels: Polling, Refactor

#13168 Do not poll passive ISIS-circuits
  LibreNMS/Modules/Isis.php
Labels: Polling

#13172 Fix port zoom traffic, remove question mark accidentally left in
  includes/html/pages/graphs.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:

#13173 Change default graph view to zoom in on traffic.
  misc/config_definitions.json
Labels: Graphs

#13171 Validate APP_KEY
  LibreNMS/Util/EnvHelper.php
  LibreNMS/Validations/Configuration.php
  app/Console/Commands/KeyRotate.php
  app/Console/LnmsCommand.php
  resources/lang/en/commands.php
  tests/Unit/Util/EnvTest.php
Labels: Miscellaneous

#13177 Allow device actions to appear in device list and improve docs
  app/Http/Controllers/Table/DeviceController.php
  doc/Extensions/Customizing-the-Web-UI.md
  includes/html/pages/devices.inc.php
  misc/config_definitions.json
  resources/views/device/action-icon.blade.php
  resources/views/device/actions.blade.php
Labels: WebUI

#13179 Dynamic Select setting
  app/Console/Commands/BashCompletionCommand.php
  app/Console/Commands/InternalHttpRequest.php
  app/Console/Commands/Traits/CompletesConfigArgument.php
  app/Http/Controllers/Select/DashboardController.php
  app/Http/Controllers/Select/PollerGroupController.php
  app/Http/Controllers/Select/SelectController.php
  html/js/app.js
  html/mix-manifest.json
  misc/config_definitions.json
  misc/config_schema.json
  resources/js/components/SettingDashboardSelect.vue
  resources/js/components/SettingSelectDynamic.vue
  routes/web.php
Labels: Settings

#13167 Update Api.php to include Options variable in the Body for POST requests
  LibreNMS/Alert/Transport/Api.php
Labels: Feature, Alerting :bell:

#13183 fix numbering in application docs
  doc/Extensions/Applications.md
Labels: Documentation :book:

#13182 Validate schema in utc
  LibreNMS/DB/Schema.php
  LibreNMS/Validations/Database.php
Labels: Bug :beetle:

#13187 Select dynamic fixes
  app/Console/Commands/SetConfigCommand.php
  app/Providers/AppServiceProvider.php
  html/js/app.js
  html/mix-manifest.json
  misc/config_schema.json
  resources/js/components/SettingSelectDynamic.vue
Labels: Bug :beetle:
