Repository librenms/librenms, pull requests merged in 2021-02, with the labels that each got.

#12486 Creating Documentation page
  doc/Developing/Creating-Documentation.md
Labels: Documentation :book:

#12487 Update Rancid.md
  doc/Extensions/Rancid.md
Labels: Documentation :book:

#12445 Adds tripplight snmpwebcard support
  includes/definitions/discovery/poweralert.yaml
  includes/definitions/poweralert.yaml
  mibs/poweralert/TRIPPLITE-12X
  tests/data/poweralert.json
  tests/data/poweralert_1.json
  tests/data/poweralert_2.json
  tests/snmpsim/poweralert_2.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12489 fix changelog
  doc/General/Changelog.md
Labels: Documentation :book:, Ignore changelog :mute:

#12398 Fixes issues with binding and authenticating users in nested groups
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
Labels: Authentication, Bug :beetle:

#12107 Add Service Templates
  LibreNMS/Services.php
  app/Http/Controllers/DeviceGroupController.php
  app/Http/Controllers/Select/ServiceTemplateController.php
  app/Http/Controllers/ServiceController.php
  app/Http/Controllers/ServiceTemplateController.php
  app/Models/Device.php
  app/Models/DeviceGroup.php
  app/Models/Service.php
  app/Models/ServiceTemplate.php
  app/Observers/ServiceObserver.php
  app/Policies/ServiceTemplatePolicy.php
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  database/migrations/2020_09_18_230114_create_service_templates_device_group_table.php
  database/migrations/2020_09_18_230114_create_service_templates_device_table.php
  database/migrations/2020_09_18_230114_create_service_templates_table.php
  database/migrations/2020_09_18_230114_extend_services_table_for_service_templates_table.php
  database/migrations/2020_09_19_230114_add_foreign_keys_to_service_templates_device_group_table.php
  database/migrations/2020_09_19_230114_add_foreign_keys_to_service_templates_device_table.php
  doc/Extensions/Services.md
  includes/discovery/services.inc.php
  includes/html/api_functions.inc.php
  includes/html/forms/create-service.inc.php
  includes/html/forms/parse-service.inc.php
  includes/html/modal/new_service.inc.php
  includes/html/pages/addsrv.inc.php
  includes/html/pages/device/edit/services.inc.php
  includes/html/pages/services.inc.php
  includes/html/print-service-add.inc.php
  includes/services.inc.php
  misc/config_definitions.json
  misc/db_schema.yaml
  resources/views/layouts/menu.blade.php
  resources/views/service-template/create.blade.php
  resources/views/service-template/edit.blade.php
  resources/views/service-template/form.blade.php
  resources/views/service-template/index.blade.php
  routes/web.php
Labels: Feature

#12481 Socomecpdu support
  html/images/os/socomecpdu.png
  includes/definitions/discovery/socomec.yaml
  includes/definitions/socomec.yaml
  mibs/socomec/SOCOMECPDU-MIB.mib
  tests/data/socomec.json
  tests/snmpsim/socomec.snmprec
Labels: Device :desktop_computer:

#12360 Add support for SCS KS air-conditioning Devices
  includes/definitions/discovery/scs-ks.yaml
  includes/definitions/scs-ks.yaml
  mibs/carel/SCS-ks-MIB
  tests/data/scs-ks.json
  tests/snmpsim/scs-ks.snmprec
Labels: Device :desktop_computer:

#12496 Correct rrdcached.sock location on doc
  doc/Extensions/RRDCached-Security.md
Labels: Documentation :book:

#12498 Network map fix Css/img
  html/css/img/network/downArrow.png
  html/css/img/network/leftArrow.png
  html/css/img/network/minus.png
  html/css/img/network/plus.png
  html/css/img/network/readme
  html/css/img/network/rightArrow.png
  html/css/img/network/upArrow.png
  html/css/img/network/zoomExtends.png
Labels: Bug :beetle:

#12504 Fix XSS in notifications
  includes/html/pages/notifications.inc.php
Labels: Security

#12507 Fix url generator XSS
  LibreNMS/Util/Url.php
Labels: Security

#12509 Fix Fast Ping
  app/Jobs/PingCheck.php
Labels: Bug :beetle:

#12517 Remove perf_times table
  daily.php
  daily.sh
  database/migrations/2021_02_09_084318_remove_perf_times.php
  discovery.php
  doc/Support/Cleanup-options.md
  doc/Support/Configuration.md
  misc/config_definitions.json
  misc/db_schema.yaml
  poll-billing.php
  poller.php
  resources/lang/de/settings.php
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
  resources/lang/it/settings.php
  resources/lang/zh-CN/settings.php
  resources/lang/zh-TW/settings.php
Labels: Cleanup

#12518 Update transports docs
  doc/Alerting/Transports.md
Labels: Documentation :book:

#12493 Updated Traditional Chinese Translation
  resources/lang/zh-TW.json
  resources/lang/zh-TW/poller.php
  resources/lang/zh-TW/settings.php
Labels: Translation

#12513 Fix: Rittal CMC III low warn limit and CAN bus current
  includes/discovery/sensors/rittal-cmc-iii-sensors.inc.php
  tests/data/rittal-cmc-iii-pu.json
  tests/data/rittal-cmc-iii-pu_compact.json
Labels: Device :desktop_computer:

#12523 Better handling of invalid notification dates
  includes/notifications.php
Labels: Bug :beetle:

#12512 Fix invalid dates in the database
  database/migrations/2021_02_08_224355_fix_invalid_dates.php
Labels: Schema

#12510 Fix Fast Ping alerts always running
  app/Jobs/PingCheck.php
Labels: Bug :beetle:

#12522 Remove larapoke until they support PHP 8
  composer.json
  composer.lock
Labels: Dependencies

#12503 Show Alert Count on Widget
  app/Http/Controllers/Widgets/AlertsController.php
Labels: Feature, WebUI

#12506 Add TrueNAS temperature
  includes/discovery/sensors/temperature/truenas.inc.php
  tests/data/truenas.json
  tests/snmpsim/truenas.snmprec
Labels: Device :desktop_computer:

#12532 Fix truenas temps
  includes/discovery/sensors/temperature/truenas.inc.php
Labels: Bug :beetle:, Ignore changelog :mute:

#12521 GPS coordinates from device
  LibreNMS/Modules/OS.php
  LibreNMS/OS/Airos.php
  LibreNMS/OS/Traits/YamlOSDiscovery.php
  app/Models/Device.php
  app/Models/Location.php
  includes/definitions/discovery/airos-af-ltu.yaml
  includes/definitions/discovery/airos.yaml
  includes/definitions/discovery/epmp.yaml
  includes/functions.php
  includes/polling/functions.inc.php
  includes/polling/os/epmp.inc.php
  misc/discovery_schema.json
  tests/data/epmp.json
  tests/snmpsim/epmp.snmprec
Labels: Device :desktop_computer:, Feature

#12526 Update php packages and fix composer warnings
  app/Http/Controllers/Form/CopyDashboardController.php
  composer.json
  composer.lock
Labels: Dependencies

#12537 VRP - Filter invalid temperature data 0x7fffffff
  includes/definitions/discovery/vrp.yaml
  tests/snmpsim/vrp_ac6605-26.snmprec
Labels: Device :desktop_computer:

#12530 Add support for Edge-Core ECS4100 series devices
  LibreNMS/OS/Edgecos.php
  includes/definitions/edgecos.yaml
  mibs/edgecos/ECS4100-52T-MIB
  mibs/edgecos/ECS4610-24F-MIB
  tests/data/edgecos_ecs4610-24f.json
  tests/snmpsim/edgecos_ecs4610-24f.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12543 GUI - Fix the detailed access point view
  includes/html/functions.inc.php
  includes/html/pages/device/accesspoint.inc.php
  includes/html/pages/device/accesspoints.inc.php
  includes/html/print-accesspoint.inc.php
Labels: Bug :beetle:, WebUI

#12544 Fix location for devices with broken snmp
  LibreNMS/OS/Traits/YamlOSDiscovery.php
Labels: Bug :beetle:, Discovery

#12547 Test both MariaDB and MySQL
  .github/workflows/test.yml
Labels: Tests :test_tube:

#12548 Quote bug
  pbin.sh
Labels: Bug :beetle:, Ignore changelog :mute:

#12559 Add missing Power states
  LibreNMS/Enum/PowerState.php
Labels: Bug :beetle:

#12556 Fixed typo jnxPowerSupplyOK
  config/snmptraps.php
  tests/Feature/SnmpTraps/JnxPowerSupplyTest.php
Labels: SNMP Traps

#12554 Notifications : display sensor state textual value
  includes/html/functions.inc.php
Labels: WebUI

#12567 fix vminfo invalid power state in migration
  database/migrations/2020_11_02_164331_add_powerstate_enum_to_vminfo.php
Labels: Bug :beetle:, Schema

#12568 Added support for siteboss571 + new tests
  LibreNMS/OS/Siteboss571.php
  includes/definitions/discovery/siteboss571.yaml
  includes/definitions/siteboss571.yaml
  mibs/asentria/SITEBOSS-571-STD-MIB
  tests/data/siteboss571_siteboss571.json
  tests/snmpsim/siteboss571_siteboss571.snmprec
Labels: Device :desktop_computer:

#12565 VRP - Huawei Wifi Controllers and routers 3G/4G update
  includes/definitions/discovery/vrp.yaml
  includes/discovery/storage/vrp.inc.php
  includes/polling/storage/vrp.inc.php
  mibs/huawei/HUAWEI-FLASH-MAN-MIB
  mibs/huawei/HUAWEI-GTL-MIB
  mibs/huawei/HUAWEI-WLAN-AP-MIB
  mibs/huawei/HUAWEI-WLAN-AP-RADIO-MIB
  mibs/huawei/HUAWEI-WLAN-AP-SERVICE-MIB
  mibs/huawei/HUAWEI-WLAN-AP-UPDATE-MIB
  mibs/huawei/HUAWEI-WLAN-CAPWAP-MIB
  mibs/huawei/HUAWEI-WLAN-CONFIGURATION-MIB
  mibs/huawei/HUAWEI-WLAN-GLOBAL-MIB
  mibs/huawei/HUAWEI-WLAN-MIB
  mibs/huawei/HUAWEI-WLAN-SAC-MIB
  mibs/huawei/HUAWEI-WLAN-STATION-MIB
  mibs/huawei/HUAWEI-WLAN-VAP-MIB
  mibs/huawei/HUAWEI-WLAN-WIDS-SERVICE-MIB
  tests/data/vrp_ac6605-26.json
  tests/snmpsim/vrp_ac6605-26.snmprec
Labels: Device :desktop_computer:

#12553 F5 realservers (node_name) display
  includes/discovery/loadbalancers/f5-ltm.inc.php
  includes/html/pages/device/loadbalancer/ltm_pool_details.inc.php
  tests/data/f5.json
  tests/snmpsim/f5.snmprec
Labels: Device :desktop_computer:

#12549 Add BGP discovery and polling for Dell OS10 devices
  doc/Developing/Getting-Started.md
  includes/discovery/bgp-peers.inc.php
  includes/discovery/bgp-peers/dell-os10.inc.php
  includes/polling/bgp-peers.inc.php
  tests/data/dell-os10.json
  tests/snmpsim/dell-os10.snmprec
Labels: Device :desktop_computer:

#12571 Spanning Tree Link in Eventlog
  app/Http/Controllers/Table/EventlogController.php
Labels: WebUI
