Repository librenms/librenms, pull requests merged in 2021-01, with the labels that each got.

#12404 Document flattened Inventory API function
  doc/API/Inventory.md
Labels: Documentation :book:

#12408 Fix broken statement on auto discovery
  includes/discovery/discovery-protocols.inc.php
Labels: Bug :beetle:

#12406 Update functions.inc.php
  includes/html/functions.inc.php
Labels: Bug :beetle:

#12379 Show Device Group on Map
  app/Http/Controllers/Maps/DeviceDependencyController.php
  includes/html/print-map.inc.php
  resources/views/map/device-dependency.blade.php
Labels: Feature, WebUI

#12373 Add Zyxel IES 5206 and 5212 to supported Devices
  includes/definitions/ies52xxM.yaml
  tests/data/ies52xxM_zynos-msc1240xa-ies5206.json
  tests/data/ies52xxM_zynos-msc1240xa-ies5212.json
  tests/snmpsim/ies52xxM_zynos-msc1240xa-ies5206.snmprec
  tests/snmpsim/ies52xxM_zynos-msc1240xa-ies5212.snmprec
Labels: Device :desktop_computer:

#12369 Alcatel-Lucent support part2
  includes/definitions/discovery/aos6.yaml
  includes/discovery/sensors/fanspeed/aos7.inc.php
  includes/discovery/sensors/pre-cache/aos6.inc.php
  includes/discovery/sensors/pre-cache/aos7.inc.php
  includes/discovery/sensors/state/aos6.inc.php
  includes/discovery/sensors/state/aos7.inc.php
  includes/discovery/sensors/temperature/aos6.inc.php
  includes/polling/sensors/state/aos6.inc.php
  includes/polling/sensors/state/aos7.inc.php
  tests/data/aos6.json
  tests/data/aos7.json
  tests/snmpsim/aos6.snmprec
  tests/snmpsim/aos7.snmprec
Labels: Device :desktop_computer:

#12367 Eltek Enexus. Disable some battery sensors if no battery bank is installed at all.
  includes/definitions/discovery/enexus.yaml
Labels: Device :desktop_computer:, Sensor

#12414 Make LibreNMS recognize Schleifenbauer model DPM27/E with existing OS definition
  includes/definitions/schleifenbauer.yaml
  mibs/schleifenbauer/SCHLEIFENBAUER-DATABUS-MIB
  mibs/schleifenbauer/SCHLEIFENBAUER-SMI
  tests/data/schleifenbauer_dpm27e.json
  tests/snmpsim/schleifenbauer_dpm27e.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12386 Added support for Motorola and Thomson DOCSIS Cable Modems.
  app/Models/Sensor.php
  doc/Developing/os/Health-Information.md
  html/images/os/motorola-cm.png
  html/images/os/thomson-cm.png
  includes/definitions/discovery/motorola-cm.yaml
  includes/definitions/discovery/thomson-cm.yaml
  includes/definitions/motorola-cm.yaml
  includes/definitions/thomson-cm.yaml
  includes/discovery/sensors.inc.php
  includes/html/graphs/device/tv_signal.inc.php
  includes/html/graphs/sensor/tv_signal.inc.php
  includes/html/pages/device/health.inc.php
  includes/html/pages/device/health/tv_signal.inc.php
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/overview/sensors/tv_signal.inc.php
  includes/html/pages/health.inc.php
  includes/html/pages/health/tv_signal.inc.php
  resources/lang/en/sensors.php
  tests/data/motorola-cm.json
  tests/data/thomson-cm.json
  tests/snmpsim/motorola-cm.snmprec
  tests/snmpsim/thomson-cm.snmprec
Labels: Device :desktop_computer:, Sensor

#12418 New device OS: McafeeWebGateway
  html/images/logos/mcafeewebgateway.svg
  html/images/os/mcafeewebgateway.svg
  includes/definitions/discovery/mcafeewebgateway.yaml
  includes/definitions/mcafeewebgateway.yaml
  mibs/mcafee/MCAFEE-MWG-MIB
  mibs/mcafee/MCAFEE-SMI
  tests/data/mcafeewebgateway.json
  tests/snmpsim/mcafeewebgateway.snmprec
Labels: Device :desktop_computer:

#12416 Remove Travis support
  .gitignore
  .travis.yml
  LibreNMS/Util/FileCategorizer.php
  tests/Unit/CiHelperTest.php
  tests/Unit/FileCategorizerTest.php
Labels: Miscellaneous

#12421 Upgrade to Laravel Mix 6
  html/css/app.css
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  package-lock.json
  package.json
  resources/js/app.js
  webpack.mix.js
Labels: Dependencies

#12422 CVE-2020-35700
  LibreNMS/Util/Validate.php
  app/Http/Controllers/Widgets/TopDevicesController.php
Labels: Security

#12425 Update php dependencies
  composer.lock
Labels: Dependencies

#12426 Fix for Mikrotik SwOS discovery
  includes/definitions/discovery/swos.yaml
  includes/definitions/swos.yaml
  mibs/mikrotik/MIKROTIK-MIB
  tests/data/swos.json
  tests/snmpsim/swos.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12382 Check Point: Added HA state support
  includes/definitions/discovery/gaia.yaml
  tests/data/gaia_1.json
  tests/data/gaia_1430.json
  tests/data/gaia_15600.json
  tests/snmpsim/gaia_15600.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12429 Fix Gaia HA sensors
  includes/definitions/discovery/gaia.yaml
  tests/data/gaia_15600.json
Labels: Bug :beetle:, Device :desktop_computer:, Ignore changelog :mute:

#11865 Output image for graphs with no data
  html/fonts/DejaVuSans.ttf
  includes/html/functions.inc.php
  includes/html/graphs/common.inc.php
  includes/html/graphs/device/bits.inc.php
  includes/html/graphs/device/processor.inc.php
  includes/html/graphs/device/storage.inc.php
  includes/html/graphs/graph.inc.php
Labels: Graphs, WebUI

#12432 Nokia sap graph
  LibreNMS/OS/Timos.php
  includes/html/functions.inc.php
  includes/html/graphs/device/sap.inc.php
  includes/html/pages/device/routing/mpls.inc.php
  includes/html/pages/routing/mpls.inc.php
Labels: Graphs

#12439 Schleifenbauer: enumerate sensors under the Outlet for the entity-physical inventory
  includes/discovery/entity-physical/schleifenbauer.inc.php
Labels: Device :desktop_computer:

#12428 apc epdu
  includes/definitions/apc-epdu.yaml
  includes/definitions/discovery/apc-epdu.yaml
  mibs/apc/PowerNet-MIB
  tests/data/apc-epdu.json
  tests/snmpsim/apc-epdu.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12440 Add WTI POWER os device
  includes/definitions/discovery/wti-power.yaml
  includes/definitions/wti-power.yaml
  mibs/wti/WTI-POWER-MIB
  tests/data/wti-power.json
  tests/snmpsim/wti-power.snmprec
Labels: Device :desktop_computer:

#12441 Add planet-pdu os device
  includes/definitions/discovery/planet-pdu.yaml
  includes/definitions/planet-pdu.yaml
  mibs/planet/DIGIPDU-MIB
  tests/data/planet-pdu.json
  tests/snmpsim/planet-pdu.snmprec
Labels: Device :desktop_computer:

#12444 Add mempools, cpu and storage to some arbor devices
  includes/definitions/arbos.yaml
  includes/definitions/discovery/arbos.yaml
  includes/discovery/storage/arbos.inc.php
  includes/polling/storage/arbos.inc.php
  tests/data/arbos.json
  tests/data/arbos_tms.json
  tests/snmpsim/arbos.snmprec
  tests/snmpsim/arbos_tms.snmprec
Labels: Device :desktop_computer:

#12446 lnms link in /usr/bin
  LibreNMS/Validations/System.php
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#12449 Panduit PDU
  includes/definitions/discovery/panduit.yaml
  includes/definitions/panduit.yaml
  mibs/panduit/PANDUIT-MIB
  tests/data/panduit.json
  tests/snmpsim/panduit.snmprec
Labels: Device :desktop_computer:

#12452 Fix plant-pdu detection
  includes/definitions/planet-pdu.yaml
Labels: Bug :beetle:, Device :desktop_computer:, Ignore changelog :mute:

#12462 Added Firepower 4125
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:

#12450 Add Alcatel AOS7 bgpdescr & bgpprefix
  includes/definitions/aos7.yaml
  includes/discovery/bgp-peers.inc.php
  includes/discovery/functions.inc.php
  includes/polling/bgp-peers.inc.php
  tests/data/aos7.json
  tests/snmpsim/aos7.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#12465 Update enexus for "SmartPack S"
  includes/definitions/enexus.yaml
Labels: Device :desktop_computer:

#12464 Remove unnecessary horizontal scroll bars in allert widgets
  html/css/styles.css
  resources/views/widgets/alertlog.blade.php
  resources/views/widgets/alertlog_stats.blade.php
  resources/views/widgets/alerts.blade.php
Labels: WebUI

#12424 ldap auth handle no search more gracefully
  LibreNMS/Authentication/LdapAuthorizer.php
Labels: Authentication, Bug :beetle:

#12457 Add a button to reset port state history
  doc/Support/FAQ.md
  includes/html/forms/reset-port-state.inc.php
  includes/html/pages/device/edit/device.inc.php
Labels: WebUI

#12442 Add test to check if os parameter matches filename
  includes/definitions/arubaos-cx.yaml
  includes/definitions/eatonupsm2.yaml
  includes/definitions/ts-bspdu.yaml
  tests/YamlSchemaTest.php
Labels: Tests :test_tube:

#12447 Add sensors for Meinberg Lantime NTP-devices
  includes/definitions/discovery/mbg-ltos6.yaml
  tests/data/mbg-ltos6.json
  tests/snmpsim/mbg-ltos6.snmprec
Labels: Device :desktop_computer:, Sensor

#12466 Fix poller frequency display bug and warn
  app/Models/PollerCluster.php
  html/mix-manifest.json
  resources/lang/en/poller.php
Labels: Bug :beetle:, WebUI

#12468 Remove deprecated composer argument
  .github/workflows/test.yml
Labels: Ignore changelog :mute:

#12469 Support new lines in login_message again
  html/css/styles.css
  resources/views/auth/login-form.blade.php
Labels: WebUI

#12467 Added missing / on internal link
  doc/Support/1-Minute-Polling.md
Labels: Documentation :book:

#12470 Speedup tests
  .github/workflows/test.yml
Labels: Ignore changelog :mute:

#12472 Switch GH pages to own repo
  .github/workflows/doc.yml
Labels: Ignore changelog :mute:

#12474 Fix exception in device overview puppet widget
  includes/html/pages/device/overview/puppet_agent.inc.php
Labels: Bug :beetle:, WebUI

#12475 Fix js injections issues in device overview
  includes/functions.php
  includes/html/dev-overview-data.inc.php
Labels: Security, WebUI

#12438 changed default param max_rows to increase widget count on dashboard
  resources/views/overview/default.blade.php
Labels: WebUI

#12471 API: Allow logs to be filtered by min/max id
  doc/API/Logs.md
  includes/html/api_functions.inc.php
Labels: API

#12477 Redis - Add scheme to allow TLS
  config/database.php
Labels: Miscellaneous

#12473 Add cache busting support to gh action
  .github/workflows/test.yml
Labels: Ignore changelog :mute:

#12478 fix storage test data order issues
  tests/data/pfsense.json
  tests/module_tables.yaml
Labels: Ignore changelog :mute:, Tests :test_tube:

#12451 Remove PHP8 blockers in LibreNMS
  composer.json
  composer.lock
  includes/html/collectd/definitions.php
  includes/html/collectd/functions.php
Labels: Dependencies, Miscellaneous

#12476 Fix oxidized API call when config is missing
  includes/html/api_functions.inc.php
Labels: API, Bug :beetle:

#12275 Freenas storage polling fix
  includes/polling/storage/freenas-dataset.inc.php
  includes/polling/storage/freenas-zpool.inc.php
  tests/data/truenas.json
  tests/data/truenas_11-3.json
Labels: Device :desktop_computer:

#11989 Copy Dashboard to other User
  app/Http/Controllers/Form/CopyDashboardController.inc.php
  app/Http/Controllers/OverviewController.php
  resources/views/overview/default.blade.php
  routes/web.php
Labels: WebUI
