Repository librenms/librenms, pull requests merged in 2022-08, with the labels that each got.

#14167 empty Outages table
  includes/html/common/outages.inc.php
Labels: Bug :spider:, WebUI

#14174 Change state_name for Racoms modulation
  includes/definitions/discovery/ray.yaml
  includes/definitions/discovery/ray3.yaml
  tests/data/ray3.json
  tests/data/ray_ray.json
  tests/snmpsim/ray3.snmprec
  tests/snmpsim/ray_ray.snmprec
Labels: Device :desktop_computer:

#14173 Add possibility to monitor the php-fpm service with the unix agent
  doc/Extensions/Applications.md
  includes/polling/applications/php-fpm.inc.php
  includes/polling/unix-agent.inc.php
Labels: Applications :floppy_disk:

#14166 Docs: Add instructions for PHP 8.1 and Ubuntu 22.04
  doc/Installation/Install-LibreNMS.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  doc/Support/FAQ.md
  mkdocs.yml
Labels: Documentation :book:

#14168 Fix APP_KEY generation when using fpm
  LibreNMS/Util/EnvHelper.php
Labels: Bug :spider:

#14178 Update index.md
  doc/API/index.md
Labels: Documentation :book:

#14179 Fix unnecessary Updates of DB when values are equal
  includes/discovery/functions.inc.php
Labels: Bug :spider:

#14175 Ports by device group
  app/Http/Controllers/Table/PortsController.php
  includes/html/pages/ports/list.inc.php
  resources/views/device-group/index.blade.php
Labels: WebUI

#14177 Fix error between application module and unix-agent
  includes/polling/applications.inc.php
Labels: Bug :spider:, Applications :floppy_disk:

#14180 Enable translation on Eventlog & Component-status widgets
  resources/views/widgets/component-status.blade.php
  resources/views/widgets/eventlog.blade.php
Labels: Translation

#14181 more Serbian translation
  resources/lang/sr.json
  resources/lang/sr/auth.php
  resources/lang/sr/components.php
  resources/lang/sr/device.php
  resources/lang/sr/pagination.php
  resources/lang/sr/passwords.php
  resources/lang/sr/plugins.php
  resources/lang/sr/port.php
  resources/lang/sr/widgets.php
Labels: Translation

#14183 Fix ports display
  LibreNMS/Util/Url.php
  app/Http/Controllers/PaginatedAjaxController.php
  app/Http/Controllers/Table/PortsController.php
  app/Models/Port.php
Labels: Bug :spider:, WebUI

#14105 Fix Cisco polling BGP peers in non-default VRF
  includes/polling/bgp-peers.inc.php
Labels: Device :desktop_computer:

#14186 SNMP extend / fix mdadm documentation
  doc/Extensions/Applications.md
Labels: Documentation :book:

#14141 View Ports in Portgroups
  app/Http/Controllers/Table/PortsController.php
  app/Http/ViewComposers/MenuComposer.php
  includes/html/pages/ports.inc.php
  includes/html/pages/ports/list.inc.php
  resources/views/layouts/menu.blade.php
  resources/views/port-group/index.blade.php
Labels: WebUI

#14152 [apps] Docker only show current containers
  includes/html/graphs/application/docker-common.inc.php
  includes/html/pages/device/apps/docker.inc.php
  includes/polling/applications/docker.inc.php
  tests/data/linux_docker-v1.json
Labels: Applications :floppy_disk:

#14142 Support for SSL/TLS protected connections to MySQL databases
  LibreNMS/__init__.py
  LibreNMS/config.py
  LibreNMS/service.py
  LibreNMS/wrapper.py
  config/database.php
Labels: Feature

#14060 ns-bsd updated for SNS LTSB 3.7.19
  includes/definitions/ns-bsd.yaml
  tests/data/ns-bsd.snmprec
Labels: Device :desktop_computer:

#14154 Cisco SB/CBS environment sensors
  includes/definitions/discovery/ciscosb.yaml
  tests/data/ciscosb_cbs250-24p-4x.json
  tests/data/ciscosb_sg350x-24p.json
  tests/data/ciscosb_sg550x-8f8t.json
  tests/snmpsim/ciscosb_cbs250-24p-4x.snmprec
  tests/snmpsim/ciscosb_sg350x-24p.snmprec
  tests/snmpsim/ciscosb_sg550x-8f8t.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14189 Update to mkdocs-material 8.3.9
  doc/Dockerfile
  doc/index.md
  doc/js/docs-install-tab.js
  mkdocs.yml
Labels: Documentation :book:

#14193 Mikrotik wifi station mode sensors
  LibreNMS/OS/Routeros.php
  tests/data/routeros_station.json
  tests/snmpsim/routeros_station.snmprec
Labels: Device :desktop_computer:

#14108 Bats support
  LibreNMS/OS/Bats.php
  html/images/logos/bats.png
  html/images/os/bats.png
  includes/definitions/bats.yaml
  includes/definitions/discovery/bats.yaml
  mibs/bats/AATS-MIB
  tests/data/bats.json
  tests/snmpsim/bats.snmprec
Labels: Device :desktop_computer:

#14202 Teltonika RUT fix
  includes/definitions/rutos-rutx.yaml
Labels: Device :desktop_computer:

#14205 Serbian translation, part3
  resources/lang/sr/exceptions.php
  resources/lang/sr/wireless.php
Labels: Translation

#14200 Fix alert log clearing SQL query
  daily.php
Labels: Bug :spider:

#14199 Fix error when ldap_search returns false
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
Labels: Bug :spider:

#14197 Initial support for Moxa AWK Industrial APs
  includes/definitions/discovery/moxa-awk.yaml
  includes/definitions/moxa-awk.yaml
  mibs/moxa/MOXA-AWK4131A-MIB
  tests/data/moxa-awk_4131a.json
  tests/snmpsim/moxa-awk_4131a.snmprec
Labels: Device :desktop_computer:

#14206 Add revisions to ignore in git blame
  .git-blame-ignore-revs
  .gitignore
Labels: Ignore changelog :mute:

#14209 Remove billing schema check
  poll-billing.php
Labels: Billing :heavy_dollar_sign:, Ignore changelog :mute:

#14212 Allow save-test-data.php to run all modules explicitely
  scripts/save-test-data.php
Labels: Tests :test_tube:

#14145 Correct logic for recurring alert rules that span UTC days
  app/Models/AlertSchedule.php
  tests/Feature/TestScheduledMaintenance.php
Labels: Bug :spider:, Alerting :bell:

#14192 Allow specifying the background colour in graph images
  includes/html/graphs/common.inc.php
Labels: Graphs

#14213 autodiscovery fix
  includes/discovery/functions.inc.php
  includes/rewrites.php
Labels: Bug :spider:

#14215 AD Auth PHP 8.1 fixes
  LibreNMS/Authentication/ActiveDirectoryCommon.php
  phpstan-baseline.neon
Labels: Bug :spider:, Authentication

#14216 Fix unauth application graphs
  includes/html/graphs/application/auth.inc.php
Labels: Bug :spider:, Graphs

#14217 Fix luminato port poll
  includes/polling/ports/os/luminato.inc.php
  tests/data/luminato_c12.json
  tests/snmpsim/luminato_c12.snmprec
Labels: Bug :spider:, Device :desktop_computer:

#14220 Fix legacy os extends
  LibreNMS/OS/Shared/Unix.php
  tests/data/freebsd.json
  tests/data/recoveryos.json
Labels: Bug :spider:, Discovery

#14134 Fix Undefined variable/key warnings
  LibreNMS/Device/YamlDiscovery.php
  includes/discovery/arp-table.inc.php
  includes/discovery/bgp-peers.inc.php
  includes/discovery/cisco-vrf-lite.inc.php
  includes/discovery/entity-physical/entity-physical.inc.php
  includes/discovery/entity-physical/linux.inc.php
  includes/discovery/fdb-table.inc.php
  includes/discovery/functions.inc.php
  includes/discovery/hr-device.inc.php
  includes/discovery/ipv4-addresses.inc.php
  includes/discovery/ipv6-addresses.inc.php
  includes/discovery/ntp.inc.php
  includes/discovery/sensors/cisco-entity-sensor.inc.php
  includes/discovery/storage.inc.php
  includes/discovery/storage/hpe-ilo.inc.php
  includes/discovery/storage/ucd-dsktable.inc.php
  includes/discovery/vlans.inc.php
  includes/discovery/vlans/cisco-vtp.inc.php
  includes/functions.php
  includes/polling/functions.inc.php
  includes/polling/hr-mib.inc.php
  includes/polling/ntp.inc.php
  includes/polling/ports.inc.php
  includes/polling/storage.inc.php
  includes/polling/storage/hrstorage.inc.php
  includes/polling/storage/ucd-dsktable.inc.php
  includes/polling/ucd-mib.inc.php
  includes/port-descr-parser.inc.php
  tests/data/beagleboard.json
  tests/data/dell-os10.json
  tests/data/netonix_wispswitch.json
  tests/data/pfsense.json
  tests/data/picos.json
Labels: Cleanup

#14219 Add Cisco Flash storage support
  includes/discovery/storage/cisco-flash.inc.php
  includes/polling/storage/cisco-flash.inc.php
  tests/data/ios_c2960x-15.2.7.json
  tests/data/nxos_n5548-7.3.3.json
  tests/data/nxos_n9340-10.2.2.json
  tests/snmpsim/ios_c2960x-15.2.7.snmprec
  tests/snmpsim/nxos_n5548-7.3.3.snmprec
  tests/snmpsim/nxos_n9340-10.2.2.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14225 memcached app undefined vars
  includes/polling/applications/memcached.inc.php
Labels: Cleanup

#14226 F5 partition ram
  includes/definitions/discovery/f5.yaml
  tests/data/f5_ve-14.1.5.1.json
  tests/snmpsim/f5_ve-14.1.5.1.snmprec
Labels: Device :desktop_computer:

#14190 Error reporting
  LibreNMS/Config.php
  LibreNMS/Poller.php
  LibreNMS/Util/Git.php
  app/Logging/Reporting/Middleware/CleanContext.php
  app/Logging/Reporting/Middleware/SetGroups.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/ErrorReportingProvider.php
  composer.json
  composer.lock
  config/app.php
  config/flare.php
  config/ignition.php
  config/logging.php
  includes/discovery/functions.inc.php
  includes/init.php
  includes/polling/functions.inc.php
  misc/config_definitions.json
  resources/views/layouts/error.blade.php
Labels: Feature

#14235 Percentage calculation helper
  LibreNMS/Device/Availability.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/OS/Epmp.php
  LibreNMS/Util/Number.php
  billing-calculate.php
  includes/html/api_functions.inc.php
  includes/html/pages/bill.inc.php
  includes/html/pages/bill/transfer.inc.php
  includes/html/pages/device/overview/mempools.inc.php
  includes/html/pages/device/routing/mpls.inc.php
  includes/html/pages/routing/mpls.inc.php
  includes/html/print-interface.inc.php
  includes/html/table/bills.inc.php
  includes/polling/ports.inc.php
  includes/polling/storage.inc.php
  includes/polling/wireless/cambium-epmp.inc.php
Labels: Cleanup

#14237 firebrick bgp polling was broken
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:

#14238 Fix os_group unset errors
  LibreNMS/OS.php
  includes/discovery/bgp-peers.inc.php
  includes/discovery/cisco-vrf-lite.inc.php
  includes/discovery/sensors/cisco-entity-sensor.inc.php
  includes/discovery/storage/hpe-ilo.inc.php
  includes/discovery/vlans/cisco-vtp.inc.php
  includes/polling/ports.inc.php
Labels: Cleanup

#14236 Juniper bgp-peers cleanup
  includes/discovery/bgp-peers.inc.php
  includes/polling/bgp-peers.inc.php
Labels: Cleanup

#14232 Quick fix for cipsec-tunnels Cisco implementation
  includes/polling/cipsec-tunnels.inc.php
Labels: Bug :spider:

#14227 Fix redeclare of function breaking tests in OS eltex-mes23xx
  LibreNMS/OS/EltexMes23xx.php
  includes/discovery/entity-physical/eltex-mes23xx.inc.php
Labels: Bug :spider:, Tests :test_tube:

#14240 Fix Argument #2 ($array) must be of type array in cache
  includes/common.php
Labels: Ignore changelog :mute:

#14243 lnms dev:simulate check simulated device exists
  app/Console/Commands/DevSimulate.php
Labels: Tests :test_tube:

#14247 Use empty string instead of null for routes
  routes/api.php
Labels: Cleanup

#14245 Move cronjob time for daily.sh
  librenms.cron
  librenms.nonroot.cron
Labels: Bug :spider:

#14252 Fix ciena-sds inventory bugs
  includes/discovery/entity-physical/ciena-sds.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#14231 Save-test-data to refresh all variants of an OS
  LibreNMS/Util/ModuleTestHelper.php
  scripts/save-test-data.php
Labels: Tests :test_tube:

#14255 Allow SnmpQuery to optionally abort walks if one fails
  LibreNMS/Data/Source/NetSnmpQuery.php
  LibreNMS/Data/Source/SnmpQueryInterface.php
  phpstan-baseline.neon
  tests/Mocks/SnmpQueryMock.php
Labels: Miscellaneous

#14254 Fix ipv6 hexdec error
  LibreNMS/Data/Source/NetSnmpQuery.php
  includes/discovery/ipv6-addresses.inc.php
Labels: Cleanup

#14253 Fix removing all port groups
  app/Http/Controllers/PortController.php
  app/Http/Controllers/Select/PortGroupController.php
  includes/html/pages/device/edit/ports.inc.php
Labels: Bug :spider:

#14250 Device settings: attempt to open related tab
  app/Http/Controllers/DeviceController.php
  phpstan-baseline.neon
Labels: Feature, WebUI

#14257 Misc errors cleanup
  LibreNMS/Plugins.php
  includes/functions.php
Labels: Cleanup
