Repository librenms/librenms, pull requests merged in 2022-07, with the labels that each got.

#14083 Adjustments to german translation
  resources/lang/de.json
Labels: Translation

#14082 Example rules for diskspace on /
  misc/alert_rules.json
Labels: Alert Rule

#14077 Remove mib poller module remnants
  app/Http/Controllers/Device/Tabs/MibController.php
  app/Http/Controllers/DeviceController.php
  misc/config_definitions.json
  resources/lang/en/settings.php
  resources/lang/it/settings.php
  resources/lang/uk/settings.php
  resources/views/layouts/menu.blade.php
Labels: Cleanup

#14084 Increase traceroute timeout
  LibreNMS/Polling/ConnectivityHelper.php
Labels: Bug :spider:, Polling

#14096 Fix more webserver validation issues
  LibreNMS/Validations/WebServer.php
Labels: Bug :spider:

#14097 Update config cache on install finalize step
  app/Http/Controllers/Install/FinalizeController.php
Labels: Bug :spider:

#14098 Reset the opcache after install
  app/Http/Controllers/Install/FinalizeController.php
Labels: Bug :spider:

#14100 Allow reapply yaml config via env
  database/seeders/ConfigSeeder.php
Labels: Miscellaneous

#14099 Documentation typos
  doc/API/index.md
  doc/Alerting/Templates.md
  doc/Support/Performance.md
Labels: Documentation :book:

#14101 Small documentation typos
  doc/Alerting/Entities.md
  doc/Extensions/Dashboards.md
  doc/Extensions/Interface-Description-Parsing.md
  doc/Extensions/Network-Map.md
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#14090 feat: minor visual changes to the apps-overview page
  includes/html/pages/apps/overview.inc.php
Labels: WebUI

#14113 Fix config seeder will never run
  database/seeders/ConfigSeeder.php
Labels: Bug :spider:

#14067 Missing "s" in NsBsd.php
  LibreNMS/OS/NsBsd.php
Labels: Device :desktop_computer:

#14095 Add SELinux configuration for SNMPd on Centos8 in the documentation
  doc/Extensions/SNMP-Trap-Handler.md
Labels: Documentation :book:

#14094 Add SELinux configuration for LDAP/AD authentication on Centos8 in the documentation
  doc/Extensions/Authentication.md
Labels: Documentation :book:

#14093 Add SELinux configuration for Smokeping on Centos8 in the documentation
  doc/Extensions/Smokeping.md
Labels: Documentation :book:

#14092 Add SELinux configuration for RRDCached on Centos8 in the documentation
  doc/Extensions/RRDCached.md
Labels: Documentation :book:

#14118 Fix auth_test.php debug
  scripts/auth_test.php
Labels: Bug :spider:

#14120 Prevent duplicate plugin table entries
  app/Plugins/PluginManager.php
  database/migrations/2022_07_19_081224_plugins_unique_index.php
  misc/db_schema.yaml
Labels: Bug :spider:

#14109 Test PHP 8.1
  .github/workflows/test.yml
  tests/TestCase.php
  tests/bootstrap.php
Labels: Tests :test_tube:

#14126 Security fixes XSS in oxidized-cfg-check.inc.php and print-customoid.php
  includes/html/pages/tools/oxidized-cfg-check.inc.php
  includes/html/print-customoid.php
Labels: Security

#14127 Fix maintenance APIs not associating device or group
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#14107 Solved aos6 problem where Librenms wasn't identifying all vlans
  includes/discovery/vlans/aos6.inc.php
  tests/snmpsim/aos6_aos6.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14121 Sensors, convert hex to strings
  LibreNMS/Device/YamlDiscovery.php
  includes/definitions/discovery/hpe-mapdu.yaml
  includes/definitions/discovery/ict-mps.yaml
  includes/discovery/sensors.inc.php
  includes/polling/functions.inc.php
  tests/data/clickshare_main.json
  tests/data/ict-mps.json
Labels: Sensor

#14128 Change SELinux context for logs
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#14049 ZTE ZXA10 Update (Added dBm graphs)
  includes/definitions/discovery/zxa10.yaml
  mibs/zte/ZTE-AN-IF-MIB
  mibs/zte/ZTE-AN-PON-BASE-MIB
  mibs/zte/ZTE-AN-PON-TC-MIB
  mibs/zte/ZTE-AN-TC-MIB
  tests/data/zxa10_c320.json
  tests/data/zxa10_c320v2.json
  tests/snmpsim/zxa10_c320.snmprec
  tests/snmpsim/zxa10_c320v2.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14133 Tests: Increase OS detection time, sometimes it is not ready by 5s
  tests/OSDiscoveryTest.php
Labels: Tests :test_tube:

#14130 lnms device:poll better feedback
  LibreNMS/Poller.php
  app/Console/Commands/DevicePoll.php
  resources/lang/en/commands.php
Labels: Command Line

#14135 Eltex MES 2324p Add
  includes/definitions/eltex-mes23xx.yaml
  tests/data/eltex-mes23xx_mes2324p.json
  tests/snmpsim/eltex-mes23xx_mes2324p.snmprec
Labels: Device :desktop_computer:

#14129 Solid Optics EDFAMUX support
  html/images/logos/solidoptics.png
  html/images/os/solidoptics.png
  includes/definitions/discovery/edfamux.yaml
  includes/definitions/edfamux.yaml
  mibs/solidoptics/SO-MUX-MIB
  tests/data/edfamux.json
  tests/snmpsim/edfamux.snmprec
Labels: Device :desktop_computer:

#14125 Merge netmanplus and riello and improve device support
  html/images/logos/riello.png
  html/images/os/netmanplus.png
  html/images/os/riello.png
  includes/definitions/netmanplus.yaml
  includes/definitions/riello.yaml
  tests/data/netmanplus_204.json
  tests/data/netmanplus_mct20.json
  tests/snmpsim/netmanplus_204.snmprec
  tests/snmpsim/netmanplus_mct20.snmprec
  tests/snmpsim/riello_204.snmprec
  tests/snmpsim/riello_new.snmprec
Labels: Device :desktop_computer:

#14143 Improvements to PagerDuty alert formatting
  LibreNMS/Alert/Transport/Pagerduty.php
Labels: Alerting :bell:

#14074 Added support for CheckPoint 1100, 1450 & 1490 models.
  includes/definitions/gaia.yaml
  tests/data/gaia_1100.json
  tests/data/gaia_1450.json
  tests/data/gaia_1490.json
  tests/snmpsim/gaia_1100.snmprec
  tests/snmpsim/gaia_1450.snmprec
  tests/snmpsim/gaia_1490.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14150 Fix Rocky Linux and AlmaLinux icons and logos
  html/images/logos/almalinux.svg
  html/images/logos/rocky.svg
  html/images/os/almalinux.svg
  html/images/os/rocky.png
  html/images/os/rocky.svg
Labels: Device :desktop_computer:

#14151 Docs: add device_default_display info
  doc/Support/Configuration.md
Labels: Documentation :book:

#14155 Fix typo in Smokeping SELinux documentation
  doc/Extensions/Smokeping.md
Labels: Documentation :book:

#14153 Standardize device and device group maintenance API
  doc/API/DeviceGroups.md
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API

#14159 Update php installation instruction for CentOS 8 to reflect the minim…
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#14138 Stats: Collect OS distro and LibreNMS version
  LibreNMS/Util/Stats.php
  LibreNMS/Util/Version.php
  daily.php
  includes/callback.php
Labels: User Stats Data

#14147 New lnms command to enable and disable plugins
  app/Console/Commands/PluginDisable.php
  app/Console/Commands/PluginEnable.php
  app/Console/Commands/Traits/CompletesPluginArgument.php
  resources/lang/en/commands.php
Labels: Feature

#14160 replace git show --no-patch option with --quiet
  LibreNMS/Util/Version.php
  LibreNMS/Validations/Updates.php
Labels: Bug :spider:

#14165 Initial support for Serbian language
  html/mix-manifest.json
  resources/lang/sr.json
  resources/lang/sr/preferences.php
  resources/lang/sr/sensors.php
Labels: Translation
