Repository librenms/librenms, pull requests merged in 2022-09, with the labels that each got.

#14268 Fix unauth graphs again
  includes/html/graphs/graph.inc.php
Labels: Bug :spider:, Graphs

#14265 Fix for Cisco group device health tab
  includes/html/pages/device/health.inc.php
Labels: Bug :spider:, WebUI

#14266 Fix more error exceptions
  LibreNMS/Util/OS.php
  includes/discovery/sensors/current/schleifenbauer.inc.php
  includes/discovery/sensors/power_consumed/schleifenbauer.inc.php
  includes/discovery/sensors/voltage/schleifenbauer.inc.php
Labels: Cleanup

#14267 Fix a bunch of "Since fakerphp/faker 1.14: Accessing property.."
  database/factories/AlertScheduleFactory.php
  database/factories/BgpPeerFactory.php
  database/factories/BillFactory.php
  database/factories/DeviceFactory.php
  database/factories/DeviceGroupFactory.php
  database/factories/Ipv4AddressFactory.php
  database/factories/Ipv4NetworkFactory.php
  database/factories/LocationFactory.php
  database/factories/OspfNbrFactory.php
  database/factories/OspfPortFactory.php
  database/factories/UserFactory.php
  database/factories/VminfoFactory.php
Labels: Cleanup

#14271 Updated brother.svg to make it render in Safari
  html/images/os/brother.svg
Labels: WebUI, Cleanup

#14277 Remove Caffeine
  composer.json
  composer.lock
Labels: WebUI, Cleanup

#14274 Cleanup some RunAlerts issues
  LibreNMS/Alert/RunAlerts.php
Labels: Cleanup

#14279 move #14222 code so it doesn't run on every page
  resources/views/layouts/menu.blade.php
  resources/views/overview/default.blade.php
Labels: Ignore changelog :mute:

#14269 Add @signedGraphTag() and @signedGraphUrl() blade directives
  LibreNMS/Util/Url.php
  app/Http/Controllers/GraphController.php
  app/Http/Middleware/AuthenticateGraph.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/Providers/AppServiceProvider.php
  config/debugbar.php
  doc/Alerting/Templates.md
  html/graph.php
  includes/html/graphs/graph.inc.php
  includes/html/vars.inc.php
  routes/web.php
Labels: Feature, Alerting :bell:, Graphs

#14281 url alias fix
  LibreNMS/Util/Url.php
Labels: Ignore changelog :mute:

#14275 Allow dumping of errors and warnings
  app/Providers/ErrorReportingProvider.php
  misc/config_definitions.json
Labels: Miscellaneous

#14280 Remove reference to unused variable
  app/Http/Controllers/Device/Tabs/OverviewController.php
Labels: Cleanup

#14282 Update docs around APP_URL
  doc/Alerting/Templates.md
  doc/Support/Environment-Variables.md
Labels: Documentation :book:

#14283 Remove unused function
  includes/discovery/sensors/humidity/geist-watchdog.inc.php
  includes/rewrites.php
Labels: Cleanup

#14290 Fix rounding null in mempools module
  app/Models/Mempool.php
Labels: Cleanup

#14292 Fix issue causing error reporting to be incorrectly enabled
  app/Providers/ErrorReportingProvider.php
  misc/config_definitions.json
Labels: Bug :spider:, Ignore changelog :mute:

#14293 Error Reporting, strict check
  app/Providers/ErrorReportingProvider.php
Labels: Ignore changelog :mute:

#14291 Disable error reporting when dependencies are outdated
  app/Providers/ErrorReportingProvider.php
Labels: Bug :spider:

#14294 Fix more percent calculations
  includes/html/api_functions.inc.php
Labels: Cleanup

#14289 Check if polling module exists
  LibreNMS/Modules/LegacyModule.php
  includes/polling/functions.inc.php
Labels: Cleanup

#14288 cisco-sla module was renamed to slas
  doc/Developing/os/Initial-Detection.md
  doc/Support/Discovery Support.md
  doc/Support/Poller Support.md
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
  resources/lang/it/settings.php
  resources/lang/uk/settings.php
Labels: Documentation :book:

#14297 Check correct class
  app/Providers/ErrorReportingProvider.php
Labels: Ignore changelog :mute:

#14301 Linux distro images require feature field
  LibreNMS/Util/Url.php
Labels: Cleanup

#14260 Fix hrStorageType being undefined
  includes/discovery/storage/hrstorage.inc.php
Labels: Cleanup

#14276 Discord ability to attach graph images
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Alert/Transport/Discord.php
  LibreNMS/Exceptions/AlertTransportDeliveryException.php
  LibreNMS/Interfaces/Alert/Transport.php
  app/Http/Controllers/AlertTransportController.php
Labels: Alerting :bell:

#14270 Email Transport: embed graphs by default
  LibreNMS/Alert/Transport/Mail.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Exceptions/RrdGraphException.php
  LibreNMS/Util/Graph.php
  LibreNMS/Util/Mail.php
  app/Http/Controllers/GraphController.php
  app/Providers/AppServiceProvider.php
  doc/Alerting/Transports.md
  html/mix-manifest.json
  includes/html/functions.inc.php
  includes/html/graphs/application/nginx_req.inc.php
  includes/html/graphs/graph.inc.php
  misc/config_definitions.json
  phpstan-baseline.neon
  resources/lang/en/settings.php
Labels: Alerting :bell:, Graphs

#14306 SnmpResponse filterBadLines fix
  LibreNMS/Data/Source/SnmpResponse.php
Labels: Bug :spider:

#14307 Return GraphImage to include more metadata
  LibreNMS/Data/Graphing/GraphImage.php
  LibreNMS/Util/Graph.php
  LibreNMS/Util/Mail.php
  app/Http/Controllers/GraphController.php
  app/Providers/AppServiceProvider.php
Labels: Graphs

#14286 Handle connection timed out errors in unix agent
  includes/polling/unix-agent.inc.php
Labels: Cleanup

#14311 2fa not all routes have names
  app/Http/Middleware/VerifyTwoFactor.php
Labels: Cleanup

#14312 Don't include null os when loading defs
  LibreNMS/Util/OS.php
Labels: Cleanup

#14310 Port pages fixes and cleanups
  includes/html/pages/device/ports.inc.php
  includes/html/pages/ports.inc.php
  includes/html/pages/ports/graph.inc.php
  includes/html/pages/ports/list.inc.php
  includes/html/print-interface.inc.php
Labels: Bug :spider:, WebUI

#14313 Do not include _token in legacy vars
  includes/html/vars.inc.php
Labels: Cleanup

#14315 Improved Modern Modules
  LibreNMS/Interfaces/Module.php
  LibreNMS/Modules/Core.php
  LibreNMS/Modules/Isis.php
  LibreNMS/Modules/LegacyModule.php
  LibreNMS/Modules/Mempools.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/Modules/Nac.php
  LibreNMS/Modules/Netstats.php
  LibreNMS/Modules/Os.php
  LibreNMS/Modules/Ospf.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/Modules/Slas.php
  LibreNMS/Modules/Stp.php
  LibreNMS/Poller.php
  LibreNMS/Util/Module.php
  LibreNMS/Util/ModuleTestHelper.php
  phpstan-baseline.neon
  tests/module_tables.yaml
Labels: Feature

#14320 Revert "ZTE ZXA10 Update (Added dBm graphs)"
  includes/definitions/discovery/zxa10.yaml
  mibs/zte/ZTE-AN-IF-MIB
  mibs/zte/ZTE-AN-PON-BASE-MIB
  mibs/zte/ZTE-AN-PON-TC-MIB
  mibs/zte/ZTE-AN-TC-MIB
  tests/data/zxa10_c320.json
  tests/data/zxa10_c320v2.json
  tests/snmpsim/zxa10_c320.snmprec
  tests/snmpsim/zxa10_c320v2.snmprec
Labels: Bug :spider:

#14317 UHP VSAT modems
  html/images/os/uhp.png
  includes/definitions/discovery/uhp.yaml
  includes/definitions/uhp.yaml
  mibs/uhp/UHP-MIB
  tests/data/uhp.json
  tests/snmpsim/uhp.snmprec
Labels: Device :desktop_computer:

#14323 Mibs - Cleanup names
  mibs/aten/ATEN-PE-CFG
  mibs/aten/ATEN-PE-CFG-STR
  mibs/avaya/AV-SME-PLATFORM-MIB
  mibs/avaya/AV-SME-PLATFORM-PROD-MIB
  mibs/avaya/AVAYAGEN-MIB
  mibs/avaya/IPO-MIB
  mibs/avaya/IPO-PHONES-MIB
  mibs/avaya/IPO-PROD-MIB
  mibs/datacom/DATACOM-REG
  mibs/datacom/DATACOM-SMI
  mibs/deliberant/DELIBERANT-MIB
  mibs/deliberant/DLB-802DOT11-EXT-MIB
  mibs/deliberant/DLB-ATHDRV-STATS-MIB
  mibs/deliberant/DLB-GENERIC-MIB
  mibs/deliberant/DLB-RADIO3-DRV-MIB
  mibs/lantronix/LANTRONIX-MIB
  mibs/lantronix/LANTRONIX-SLC-MIB
  mibs/mitsubishi/UPS-MIB
  mibs/packetlight/SL-DRY-CON-MIB
  mibs/packetlight/SL-EDFA-MIB
  mibs/packetlight/SL-EDFA.mib
  mibs/socomec/SOCOMECPDU-MIB
Labels: Cleanup

#14322 Tests - cleanup names
  tests/data/apc_environmental-manager.json
  tests/data/arista-mos_metamux48-c-0-16.json
  tests/data/barracudaspamfirewall_email-sg.json
  tests/data/ciscosb_esw540-8p.json
  tests/data/ciscospa_spa112-1.json
  tests/data/hiveos-wireless_320-n.json
  tests/data/junos_mx5t-isis.json
  tests/data/raritan-pdu_px2-temp.json
  tests/snmpsim/apc_environmental-manager.snmprec
  tests/snmpsim/arista-mos_metamux48-c-0-16.snmprec
  tests/snmpsim/barracudaspamfirewall_email-sg.snmprec
  tests/snmpsim/ciscosb_esw540-8p.snmprec
  tests/snmpsim/ciscospa_spa112-1.snmprec
  tests/snmpsim/hiveos-wireless_320-n.snmprec
  tests/snmpsim/junos_mx5t-isis.snmprec
  tests/snmpsim/raritan-pdu_px2-temp.snmprec
Labels: Cleanup, Ignore changelog :mute:

#14327 Prevent errors when hrStorageTable doesn't exist
  includes/discovery/storage/hrstorage.inc.php
Labels: Bug :spider:

#14328 docs/API: Move list_locations from devices to locations
  doc/API/Devices.md
  doc/API/Locations.md
Labels: Documentation :book:

#14318 PHPStan: Enable more checks
  .github/workflows/lint.yml
  LibreNMS/Alert/Transport/Elasticsearch.php
  LibreNMS/Alert/Transport/Linenotify.php
  LibreNMS/Alert/Transport/Twilio.php
  LibreNMS/Authentication/SSOAuthorizer.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Device/Processor.php
  LibreNMS/Modules/Isis.php
  LibreNMS/Modules/Mempools.php
  LibreNMS/Modules/Stp.php
  LibreNMS/OS/Ciscowlc.php
  LibreNMS/OS/Ifotec.php
  LibreNMS/OS/Iosxe.php
  LibreNMS/OS/Shared/Cisco.php
  LibreNMS/OS/Traits/FrogfootResources.php
  LibreNMS/Proc.php
  LibreNMS/Util/Clean.php
  app/Http/Controllers/AboutController.php
  app/Http/Controllers/Device/Tabs/VmInfoController.php
  app/Models/DeviceGroup.php
  app/Models/ServiceTemplate.php
  app/Models/UserPref.php
  app/Providers/ErrorReportingProvider.php
  includes/billing.php
  includes/html/collectd/functions.php
  includes/html/graphs/bill/historicmonthly.inc.php
  includes/html/graphs/bill/historictransfer.inc.php
  includes/html/pages/bill/history.inc.php
  includes/html/table/bills.inc.php
  includes/notifications.php
  phpstan-baseline.neon
  phpstan-deprecated.neon
  phpstan.neon
  scripts/gen_smokeping.php
  tests/MibTest.php
  tests/SmokepingCliTest.php
  tests/phpstan/phpstan-php80.neon
Labels: Cleanup

#14319 Update dependencies
  LibreNMS/Authentication/TwoFactor.php
  LibreNMS/Exceptions/MaximumExecutionTimeExceeded.php
  composer.lock
  phpstan-baseline.neon
Labels: Dependencies

#14329 Cleanup and optimize the availability widget
  app/Http/Controllers/Widgets/AvailabilityMapController.php
  html/css/styles.css
  phpstan-baseline.neon
  resources/views/layouts/librenmsv1.blade.php
  resources/views/widgets/availability-map.blade.php
  resources/views/widgets/settings/availability-map.blade.php
Labels: Refactor

#14325 API update_device, make location field work (as does location_id)
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#14331 Do not allow sysDescr to be fetched in os module yaml
  misc/discovery_schema.json
Labels: Tests :test_tube:

#14332 Fix existing os with sysDescr and prevent substring oid match
  includes/definitions/discovery/rs.yaml
  misc/discovery_schema.json
Labels: Ignore changelog :mute:

#14303 Cache astext for 1 day
  LibreNMS/Util/AutonomousSystem.php
  includes/functions.php
Labels: Cleanup

#14354 Defer loading cli option values
  app/Console/Commands/DeviceAdd.php
  app/Console/DynamicInputOption.php
  app/Console/LnmsCommand.php
Labels: Miscellaneous

#14349 Added status checks for (BWCC) battery status and condition for onboa…
  includes/definitions/discovery/hpe-ilo.yaml
  tests/data/hpe-ilo_4_with_bat_checks.json
  tests/data/hpe-ilo_5_with_bat_checks.json
  tests/snmpsim/hpe-ilo_4_with_bat_checks.snmprec
  tests/snmpsim/hpe-ilo_5_with_bat_checks.snmprec
Labels: Device :desktop_computer:

#14353 Load device selection dynamically on Ports page
  AUTHORS.md
  includes/html/pages/ports.inc.php
  includes/html/pages/ports/graph.inc.php
  includes/html/pages/ports/list.inc.php
Labels: WebUI

#14360 Fix scheduled maintenance xss
  app/Http/Controllers/Table/AlertScheduleController.php
Labels: Security

#14366 Fix cipsec-tunnels ftd bad data causes error
  includes/polling/cipsec-tunnels.inc.php
Labels: Bug :spider:

#14372 Fix ports list exists
  includes/html/pages/ports/list.inc.php
Labels: Ignore changelog :mute:

#14377 Fix Inventory table for Dark theme
  html/css/dark.css
Labels: WebUI

#14380 Alert map location fix
  LibreNMS/Alert/AlertUtil.php
  includes/html/common/alert-log.inc.php
  includes/html/pages/ports.inc.php
  includes/html/pages/ports/list.inc.php
Labels: Alerting :bell:

#14370 Fix oxidized web requests unclosed connections or responding fast enough
  app/ApiClients/BaseApi.php
  app/ApiClients/Oxidized.php
  includes/html/pages/device/showconfig.inc.php
Labels: Bug :spider:, Oxidized

#14383 Disable plugins that have errors
  LibreNMS/Plugins.php
  LibreNMS/Util/Notifications.php
  app/Http/Controllers/PluginSettingsController.php
  app/Models/Notification.php
  app/Plugins/PluginManager.php
  composer.json
  composer.lock
  daily.php
  includes/notifications.php
Labels: WebUI

#14378 Increase minimum version to PHP 8.1
  daily.php
  daily.sh
Labels: Dependencies

#14392 Fix ups nut PHP 8.1 issue
  includes/discovery/sensors/state/linux.inc.php
Labels: Bug :spider:

#14394 Fix php7.2 occurence in Performance.md documentation
  doc/Support/Performance.md
Labels: Documentation :book:

#14393 Fix documentation for php8.1 and bad package name
  doc/Extensions/Authentication.md
Labels: Documentation :book:

#14397 Fix Firebrick local ASN
  includes/discovery/bgp-peers/firebrick.inc.php
Labels: Bug :spider:

#14398 Fix libvirt count() uncountable error
  includes/discovery/libvirt-vminfo.inc.php
Labels: Bug :spider:

#14389 Test supported PHP versions only
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: Tests :test_tube:

#14400 Fix rpi codec state sensor
  includes/discovery/sensors/state/linux.inc.php
Labels: Bug :spider:

#14404 Cache version data
  LibreNMS/Util/Version.php
  app/Http/Controllers/AboutController.php
  app/Providers/AppServiceProvider.php
  includes/common.php
Labels: Bug :spider:

#14410 Enhanced Service Overview on Device Overview Page
  includes/html/pages/device/overview/services.inc.php
Labels: WebUI

#14413 Add OS tait-tnadmin for TN9300
  includes/definitions/discovery/tait-tnadmin.yaml
  includes/definitions/tait-tnadmin.yaml
  mibs/tait/TAIT-TNADMIN-MIB
  mibs/tait/TAIT-TNADMIN-MODULE-MIB
  mibs/tait/TAIT-TNADMIN-TC
  tests/data/tait-tnadmin_tait-tnadmin.json
  tests/snmpsim/tait-tnadmin_tait-tnadmin.snmprec
Labels: Device :desktop_computer:
