Repository librenms/librenms, pull requests merged in 2022-11, with the labels that each got.

#14550 Fix graph font sizes
  LibreNMS/Data/Graphing/GraphParameters.php
Labels: Bug :spider:, Graphs, Ignore changelog :mute:

#14551 Fix XSS in api access
  includes/html/pages/api-access.inc.php
Labels: Security

#14553 [About] Open the contributor list link in a new tab
  resources/views/about/index.blade.php
Labels: WebUI

#14463 Add check_hetzner_storagebox to includes/services
  includes/services/check_hetzner_storagebox.inc.php
Labels: Service

#14476 Type API methods and properties
  app/ApiClients/BaseApi.php
  app/ApiClients/BingApi.php
  app/ApiClients/GoogleMapsApi.php
  app/ApiClients/GraylogApi.php
  app/ApiClients/MapquestApi.php
  app/ApiClients/NominatimApi.php
  app/ApiClients/Oxidized.php
  app/ApiClients/RipeApi.php
  phpstan-baseline.neon
Labels: Cleanup

#14545 XSS sanitize pwrstatd application script inputs
  includes/polling/applications/pwrstatd.inc.php
Labels: Security

#14549 Extend EfficientIP SolidServer support
  includes/definitions/discovery/solidserver.yaml
  tests/data/solidserver_dnsdhcp.json
  tests/snmpsim/solidserver_dnsdhcp.snmprec
Labels: Device :desktop_computer:

#14554 Remove $_GET from graphs
  LibreNMS/Data/Graphing/GraphParameters.php
  includes/html/graphs/application/powermon_consumption.inc.php
  includes/html/graphs/application/shoutcast_bits.inc.php
  includes/html/graphs/application/shoutcast_stats.inc.php
  includes/html/graphs/atmvp/auth.inc.php
  includes/html/graphs/c6kxbar/auth.inc.php
  includes/html/graphs/device/nfsen_channel_common.inc.php
  includes/html/graphs/device/nfsen_common.inc.php
  includes/html/graphs/device/ping_perf.inc.php
  includes/html/graphs/device/poller_perf.inc.php
  includes/html/graphs/device/screenos_sessions.inc.php
  includes/html/graphs/generic_data.inc.php
  includes/html/graphs/generic_duplex.inc.php
  includes/html/graphs/generic_multi_bits.inc.php
  includes/html/graphs/generic_multi_data.inc.php
  includes/html/graphs/generic_multi_line_exact_numbers.inc.php
  includes/html/graphs/generic_multi_seperated.inc.php
  includes/html/graphs/generic_multi_simplex_seperated.inc.php
  includes/html/graphs/generic_simplex.inc.php
  includes/html/graphs/generic_v3_multiline.inc.php
  includes/html/graphs/generic_v3_multiline_float.inc.php
  includes/html/graphs/global/poller_modules_perf.inc.php
  includes/html/graphs/global/poller_perf.inc.php
  includes/html/graphs/multiport/bits_duo.inc.php
  includes/html/graphs/multiport/bits_trio.inc.php
  includes/html/graphs/old_generic_simplex.inc.php
  includes/html/graphs/port/mac_acc_total.inc.php
  includes/html/graphs/screenos_sessions.inc.php
  includes/html/graphs/smokeping/in.inc.php
  includes/html/graphs/smokeping/out.inc.php
  includes/html/graphs/storage/usage.inc.php
Labels: Cleanup

#14560 Fix scale when it is zero
  LibreNMS/Data/Graphing/GraphParameters.php
Labels: Bug :spider:, Graphs, Ignore changelog :mute:

#14561 Remove graph_min
  doc/Developing/os/Custom-Graphs.md
  includes/html/graphs/application/opensips_load.inc.php
  includes/html/graphs/device/arbos_flows.inc.php
  includes/html/graphs/device/asyncos_conns.inc.php
  includes/html/graphs/device/availability.inc.php
  includes/html/graphs/device/barracuda_firewall_sessions.inc.php
  includes/html/graphs/device/bigip_apm_sessions.inc.php
  includes/html/graphs/device/bigip_gtm_pool_dropped.inc.php
  includes/html/graphs/device/bigip_gtm_pool_requests.inc.php
  includes/html/graphs/device/bigip_gtm_wide_dropped.inc.php
  includes/html/graphs/device/bigip_gtm_wide_requests.inc.php
  includes/html/graphs/device/bigip_gtm_wide_resolved.inc.php
  includes/html/graphs/device/bigip_ltm_vs_conns.inc.php
  includes/html/graphs/device/bigip_ltm_vs_currconns.inc.php
  includes/html/graphs/device/bigip_system_client_concurrent_connections.inc.php
  includes/html/graphs/device/bigip_system_client_connection_rate.inc.php
  includes/html/graphs/device/bigip_system_server_concurrent_connections.inc.php
  includes/html/graphs/device/bigip_system_server_connection_rate.inc.php
  includes/html/graphs/device/hr_processes.inc.php
  includes/html/graphs/device/hr_users.inc.php
  includes/html/graphs/device/routeros_leases.inc.php
  includes/html/graphs/device/routeros_pppoe_sessions.inc.php
  includes/html/graphs/device/sgos_average_requests.inc.php
  includes/html/graphs/device/topvision_cmoffline.inc.php
  includes/html/graphs/device/topvision_cmreg.inc.php
  includes/html/graphs/device/topvision_cmtotal.inc.php
  includes/html/graphs/device/waas_cwotfostatsactiveoptconn.inc.php
Labels: Cleanup

#14559 Github tests log improvement
  .github/workflows/test.yml
Labels: Tests :test_tube:

#14401 device - Add support for Vultan Environmental Monitoring units
  html/images/os/vutlan.png
  includes/definitions/discovery/vutlan.yaml
  includes/definitions/vutlan.yaml
  mibs/vutlan/VUTLAN-SYSTEM-MIB
  tests/data/vutlan_vt825.json
  tests/snmpsim/vutlan_vt825.snmprec
Labels: Device :desktop_computer:

#14562 Don't poll sysDescr, sysObjectID, and sysName so frequently
  LibreNMS/Modules/Core.php
Labels: Polling

#14522 More Replacement Capabilities for sensor index computation
  includes/definitions/discovery/mni.yaml
  includes/discovery/functions.inc.php
  tests/data/mni_mx-d.json
  tests/data/quantastor.json
Labels: Feature, Sensor

#14529 McAfee Web Proxy with COUNTER rrd_type on sensors
  includes/definitions/discovery/mcafeewebgateway.yaml
  tests/data/mcafeewebgateway.json
Labels: Device :desktop_computer:

#14565 SnmpQuery numeric accept a boolean
  LibreNMS/Data/Source/NetSnmpQuery.php
  LibreNMS/Data/Source/SnmpQueryInterface.php
  app/Console/Commands/SnmpFetch.php
  tests/Mocks/SnmpQueryMock.php
Labels: Internal Features

#14552 API graphs, variable whitelist
  includes/html/api_functions.inc.php
Labels: API

#14572 Fix graph previous period getting partially applied
  includes/html/graphs/generic_data.inc.php
  includes/html/graphs/generic_multi_seperated.inc.php
  includes/html/graphs/generic_multi_simplex_seperated.inc.php
  includes/html/graphs/old_generic_simplex.inc.php
Labels: Bug :spider:, Graphs, Ignore changelog :mute:

#14573 Fix device bits overview when no ports are included
  includes/html/graphs/generic_multi_seperated.inc.php
Labels: Bug :spider:, Graphs, Ignore changelog :mute:

#14574 Fix graph errors wrong content type
  includes/html/functions.inc.php
  includes/html/graphs/device/bits.inc.php
  includes/html/graphs/device/processor.inc.php
  includes/html/graphs/device/storage.inc.php
  includes/html/graphs/graph.inc.php
  includes/html/graphs/macaccounting/auth.inc.php
Labels: Bug :spider:, Graphs

#14456 Added Fortigate SD-WAN Health checks
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate_sdwan.json
  tests/snmpsim/fortigate_sdwan.snmprec
Labels: Device :desktop_computer:

#14578 Fix APC current divide by zero
  includes/discovery/sensors/current/apc.inc.php
Labels: Bug :spider:, Discovery

#14581 Mock astext
  LibreNMS/Util/AutonomousSystem.php
  LibreNMS/Util/ModuleTestHelper.php
  includes/functions.php
  tests/data/aos7.json
  tests/data/arista_eos.json
  tests/data/comware.json
  tests/data/cumulus_cumulus.json
  tests/data/dell-os10.json
  tests/data/dnos_bgp.json
  tests/data/edgeos.json
  tests/data/firebrick_6000.json
  tests/data/fortigate_60f3g4g.json
  tests/data/ios_3560g.json
  tests/data/iosxe.json
  tests/data/iosxe_c9400.json
  tests/data/iosxr.json
  tests/data/iosxr_asr9001.json
  tests/data/iosxr_asr9901.json
  tests/data/ironware.json
  tests/data/junos_ex.json
  tests/data/junos_mx.json
  tests/data/junos_mx5t-isis.json
  tests/data/junos_rpm.json
  tests/data/junos_vmx.json
  tests/data/pfsense_frr-bgp.json
  tests/data/slxos_slx9150.json
  tests/data/timos_7705.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ce12804-withvrf.json
  tests/data/vrp_ne8000.json
Labels: Tests :test_tube:

#14579 Add snmp_flags and tips on string oids to the docs
  doc/Developing/os/Health-Information.md
Labels: Documentation :book:

#14580 SnmpQuery fix mib directory order
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Bug :spider:

#14584 Fix some icons
  includes/html/pages/graphs.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
  resources/views/layouts/menu.blade.php
Labels: Bug :spider:, WebUI

#14577 SnmpQuery Handle empty oids in get more gracefully
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Bug :spider:

#14527 Use Collection instead of collect()
  LibreNMS/Modules/Ospf.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/OS/Comware.php
  LibreNMS/OS/Dlinkap.php
  LibreNMS/OS/Edgecos.php
  LibreNMS/OS/Enterasys.php
  LibreNMS/OS/Junos.php
  LibreNMS/OS/Scalance.php
  LibreNMS/OS/Shared/Cisco.php
  LibreNMS/OS/Timos.php
  LibreNMS/OS/Traits/HostResources.php
  LibreNMS/OS/Traits/UcdResources.php
  LibreNMS/OS/Traits/YamlMempoolsDiscovery.php
  LibreNMS/OS/Vrp.php
  app/Console/Commands/BashCompletionCommand.php
  app/Console/Commands/Traits/CompletesConfigArgument.php
  app/Http/Controllers/Widgets/GlobeController.php
  app/Http/ViewComposers/MenuComposer.php
  app/Jobs/PingCheck.php
  includes/html/pages/device/overview/services.inc.php
  tests/Unit/PermissionsTest.php
Labels: Cleanup

#14115 Device - Basic hatteras dslam integration
  html/images/hatteras.svg
  html/images/logos/hatteras.svg
  html/images/os/hatteras.svg
  includes/definitions/hatteras.yaml
  tests/data/hatteras_hn4000-i.json
  tests/data/hatteras_hn4000e.json
  tests/snmpsim/hatteras_hn4000-i.snmprec
  tests/snmpsim/hatteras_hn4000e.snmprec
Labels: Device :desktop_computer:

#14585 Bug in Ciscowlc AP graphs definition
  LibreNMS/OS/Ciscowlc.php
Labels: Bug :spider:

#14534 Timos - Improve SAP stats graphing
  LibreNMS/OS/Timos.php
Labels: Device :desktop_computer:

#14586 Fix port neighbors missing
  includes/html/print-interface.inc.php
Labels: Bug :spider:, WebUI

#14564 Fix PTOPO mib in module discovery-protocols
  includes/discovery/discovery-protocols.inc.php
Labels: Bug :spider:

#14588 IP Infusion OcNOS basic detection
  html/images/os/ipinfusion.svg
  includes/definitions/discovery/ocnos.yaml
  includes/definitions/ocnos.yaml
  mibs/ipinfusion/CMM-CHASSIS-MIB
  mibs/ipinfusion/OCNOS-IPI-MODULE-MIB
  tests/data/ocnos.json
  tests/snmpsim/ocnos.snmprec
Labels: Device :desktop_computer:

#14218 add HV Monitor, a generic means for monitoring hypvervisors
  LibreNMS/Util/StringHelpers.php
  doc/Extensions/Applications.md
  includes/discovery/applications.inc.php
  includes/html/graphs/application/hv-monitor_cow.inc.php
  includes/html/graphs/application/hv-monitor_csw.inc.php
  includes/html/graphs/application/hv-monitor_disk-freqs.inc.php
  includes/html/graphs/application/hv-monitor_disk-ftime.inc.php
  includes/html/graphs/application/hv-monitor_disk-rw-blocks.inc.php
  includes/html/graphs/application/hv-monitor_disk-rw-bytes.inc.php
  includes/html/graphs/application/hv-monitor_disk-rw-reqs.inc.php
  includes/html/graphs/application/hv-monitor_disk-rw-time.inc.php
  includes/html/graphs/application/hv-monitor_disk-size.inc.php
  includes/html/graphs/application/hv-monitor_disk-size2.inc.php
  includes/html/graphs/application/hv-monitor_etimes.inc.php
  includes/html/graphs/application/hv-monitor_flt.inc.php
  includes/html/graphs/application/hv-monitor_memory.inc.php
  includes/html/graphs/application/hv-monitor_net-bytes.inc.php
  includes/html/graphs/application/hv-monitor_net-coll.inc.php
  includes/html/graphs/application/hv-monitor_net-drops.inc.php
  includes/html/graphs/application/hv-monitor_net-errs.inc.php
  includes/html/graphs/application/hv-monitor_net-pkts.inc.php
  includes/html/graphs/application/hv-monitor_pcpu.inc.php
  includes/html/graphs/application/hv-monitor_pmem.inc.php
  includes/html/graphs/application/hv-monitor_snaps.inc.php
  includes/html/graphs/application/hv-monitor_snaps_size.inc.php
  includes/html/graphs/application/hv-monitor_status-int.inc.php
  includes/html/graphs/application/hv-monitor_status.inc.php
  includes/html/graphs/application/hv-monitor_time.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/hv-monitor.inc.php
  includes/polling/applications/hv-monitor.inc.php
  tests/data/linux_hv-monitor-v1.json
  tests/snmpsim/linux_hv-monitor-v1.snmprec
Labels: Applications :floppy_disk:

#14594 More inclusive Cisco SB os detection
  includes/definitions/ciscosb.yaml
  includes/definitions/ciscowap.yaml
Labels: Device :desktop_computer:

#14597 Bug - XDSL module - rrd_def and rrd file definition issue for Actual rate
  LibreNMS/Modules/Xdsl.php
Labels: Bug :spider:, Graphs

#14601 Documentation for Observium Migration
  doc/Installation/Migrating-from-Observium.md
Labels: Documentation :book:

#14599 Disable SNMP Bulk for Delta UPS devices
  includes/definitions/deltaups.yaml
Labels: Device :desktop_computer:

#14596 API restore ability to update purpose and override_sysLocation
  app/Models/Device.php
Labels: Bug :spider:, API

#14595 Improved AIX os information collection
  LibreNMS/OS/Aix.php
  includes/definitions/discovery/aix.yaml
  phpstan-baseline.neon
  tests/data/aix.json
  tests/data/aix_net-snmp.json
  tests/data/aix_std.json
  tests/data/aix_vios.json
  tests/snmpsim/aix.snmprec
Labels: Device :desktop_computer:

#14604 Fix GeocodingHelper type-hinting
  app/ApiClients/GeocodingHelper.php
Labels: Bug :spider:

#14606 Fix eNexus total current for Smartpack S
  includes/definitions/discovery/enexus.yaml
  tests/data/enexus_smartpacks.json
  tests/data/enexus_smartpacks2.json
Labels: Bug :spider:, Device :desktop_computer:

#14610 Added Moxa EDS-G516E optical sensors
  includes/definitions/discovery/moxa-etherdevice.yaml
  tests/data/moxa-etherdevice_edsg516e.json
  tests/snmpsim/moxa-etherdevice_edsg516e.snmprec
Labels: Device :desktop_computer:

#14626 AIX: remove extends and hardware detection support
  LibreNMS/OS/Aix.php
Labels: Bug :spider:

#14627 Updating postgres application documentation
  doc/Extensions/Applications.md
Labels: Documentation :book:

#14625 Adding wireguard application support
  doc/Extensions/Applications.md
  includes/html/graphs/application/wireguard_time.inc.php
  includes/html/graphs/application/wireguard_traffic.inc.php
  includes/html/pages/device/apps/wireguard.inc.php
  includes/polling/applications/wireguard.inc.php
  tests/data/linux_wireguard-v1.json
  tests/snmpsim/linux_wireguard-v1.snmprec
Labels: Applications :floppy_disk:

#14624 Improve VRP power display
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_power.json
  tests/snmpsim/vrp_power.snmprec
Labels: Device :desktop_computer:

#14629 Adding wireguard app to the apps overview page
  includes/html/pages/apps.inc.php
Labels: Applications :floppy_disk:

#14632 Update Dispatcher-Service.md
  doc/Extensions/Dispatcher-Service.md
Labels: Documentation :book:

#14640 Fix device poller modules graph
  includes/html/graphs/device/poller_modules_perf.inc.php
  includes/html/graphs/generic_multi_simplex_seperated.inc.php
Labels: Bug :spider:, Graphs

#14642 Fix sqlite test
  .github/workflows/test.yml
  tests/Unit/SqliteTest.php
Labels: Bug :spider:, Tests :test_tube:

#14643 Added support for Eltek Flatpack S
  includes/definitions/enexus.yaml
Labels: Device :desktop_computer:

#14641 Update config name for the default device display
  doc/Support/Configuration.md
Labels: Documentation :book:

#14348 Add Columns to search_ports API function
  doc/API/Ports.md
  includes/html/api_functions.inc.php
Labels: API

#14645 Added support for Eltek Micropack 1U
  includes/definitions/enexus.yaml
Labels: Device :desktop_computer:

#14644 Fix Location mapping docs
  doc/Support/Configuration.md
Labels: Documentation :book:

#14650 fix snmp_disable type
  app/Actions/Device/ValidateDeviceAndCreate.php
  app/Console/Commands/DeviceAdd.php
Labels: Cleanup

#14649 DeviceCache::get() allow hostname
  LibreNMS/Cache/Device.php
  phpstan-baseline.neon
Labels: Internal Features

#14635 Alarm Flag on UPS-Nut Application
  includes/polling/applications/ups-nut.inc.php
Labels: Bug :spider:, Applications :floppy_disk:

#14657 Fix SNMP trap -> Eventlog XSS
  app/Http/Controllers/Table/EventlogController.php
Labels: Security

#14658 Fix neighbours XSS
  includes/html/pages/device/ports/neighbours.inc.php
Labels: Security

#14659 Fix Service Template XSS
  app/Http/Controllers/ServiceTemplateController.php
Labels: Security

#14603 Split out lnms snmp convenience commands
  LibreNMS/Data/Source/NetSnmpQuery.php
  app/Console/Commands/SnmpFetch.php
  app/Console/Commands/SnmpGet.php
  app/Console/Commands/SnmpNext.php
  app/Console/Commands/SnmpTranslate.php
  app/Console/Commands/SnmpWalk.php
  resources/lang/en/commands.php
Labels: Feature

#14663 Update for Debian and for non /opt/librenms installation
  doc/Extensions/Dispatcher-Service.md
Labels: Documentation :book:

#14660 Fix discovery ignores custom ipmi port
  includes/discovery/sensors/ipmi.inc.php
Labels: Discovery

#14672 Handle Division by 0 error for SvcFdbTableSize
  includes/html/pages/routing/mpls.inc.php
Labels: Bug :spider:

#14684 Fix some graphs not respecting device display name
  includes/html/graphs/c6kxbar/auth.inc.php
  includes/html/graphs/device/auth.inc.php
  includes/html/graphs/port/auth.inc.php
  includes/html/graphs/smokeping/auth.inc.php
  includes/html/pages/device/graphs/availability.inc.php
Labels: Bug :spider:, Graphs
