Repository librenms/librenms, pull requests merged in 2022-01, with the labels that each got.

#13649 Disable VRP VLANs test, seems to be a bug in snmpsim snmpbulkwalk
  tests/data/vrp_ac6605-26.json
Labels: Bug :spider:, Tests :test_tube:

#13650 Use display name in alerts
  LibreNMS/Alert/RunAlerts.php
  doc/Alerting/Templates.md
  includes/common.php
  phpstan-baseline.neon
Labels: Alerting :bell:

#13635 Eltek ospf poller disable
  includes/definitions/eltek-webpower.yaml
Labels: Device :desktop_computer:

#13633 Updated XOS (Extreme) processor data to use correct OID
  includes/definitions/discovery/xos.yaml
  tests/data/xos.json
  tests/snmpsim/xos.snmprec
Labels: Bug :spider:, Device :desktop_computer:

#13616 Teleste Luminato ports & qam/asi output sensors & yaml
  app/Models/Sensor.php
  doc/Developing/os/Health-Information.md
  includes/definitions/discovery/luminato.yaml
  includes/definitions/luminato.yaml
  includes/discovery/ports.inc.php
  includes/discovery/ports/luminato.inc.php
  includes/discovery/sensors.inc.php
  includes/discovery/sensors/bitrate/luminato.inc.php
  includes/discovery/sensors/pre-cache/luminato.inc.php
  includes/html/graphs/device/bitrate.inc.php
  includes/html/graphs/sensor/bitrate.inc.php
  includes/html/pages/device/health.inc.php
  includes/html/pages/device/health/bitrate.inc.php
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/overview/sensors/bitrate.inc.php
  includes/html/pages/health.inc.php
  includes/html/pages/health/bitrate.inc.php
  includes/polling/ports/os/luminato.inc.php
  resources/lang/en/sensors.php
  tests/data/luminato_c12.json
Labels: Device :desktop_computer:

#13656 Added vscode workspace file to gitignore
  .gitignore
Labels: Ignore changelog :mute:

#13654 Timos sap dot1q graphing fix
  LibreNMS/OS/Timos.php
  includes/html/functions.inc.php
Labels: Bug :spider:, Graphs

#13658 Basic ZTE ZXA10 detection
  includes/definitions/zxa10.yaml
  tests/snmpsim/zxa10.snmprec
Labels: Device :desktop_computer:

#13580 Equallogic fix typo on os name in the storage module
  includes/discovery/storage/eql-storage.inc.php
Labels: Bug :spider:, Device :desktop_computer:, Needs Tests :unicorn:

#13634 Smartoptics dcp m 40 zr
  includes/definitions/discovery/smartos-dcp-m.yaml
  includes/definitions/smartos-dcp-m.yaml
  includes/definitions/smartos-t.yaml
  includes/definitions/smartos.yaml
  mibs/smartoptics/DCP-ALARM-MIB
  mibs/smartoptics/DCP-INTERFACE-MIB
  mibs/smartoptics/DCP-LINKVIEW-MIB
  mibs/smartoptics/DCP-MIB
  mibs/smartoptics/DCP-OCH-MIB
  mibs/smartoptics/SO-MIB
  mibs/smartoptics/SO-TC-MIB
  tests/data/smartos-dcp-m_dcp-m40-pam4-zr.json
  tests/snmpsim/smartos-dcp-m_dcp-m40-pam4-zr.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13631 Initial Support for Fujitsu RX300 with iRMC4
  includes/definitions/discovery/fujitsuiRMC.yaml
  includes/definitions/fujitsuiRMC.yaml
  mibs/fujitsu/FSC-SERVERCONTROL2-MIB
  tests/data/fujitsuiRMC_rx300.json
  tests/snmpsim/fujitsuiRMC_rx300.snmprec
Labels: Device :desktop_computer:

#13667 Fix delta icon wrong
  tests/data/deltaorion_deltaorion.json
  tests/data/deltaups.json
Labels: Bug :spider:, Ignore changelog :mute:

#13665 Allow filter by display name in device list
  includes/html/list/devices.inc.php
Labels: WebUI

#13674 Device tracepath using wrong variables to check for traceroute output
  includes/html/pages/device/overview/tracepath.inc.php
Labels: Bug :spider:, WebUI

#13673 Add supervisord application
  doc/Extensions/Applications.md
  includes/html/graphs/application/supervisord_totals.inc.php
  includes/html/graphs/application/supervisord_uptime.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/supervisord.inc.php
  includes/polling/applications/supervisord.inc.php
  tests/data/linux_supervisord-v1.json
  tests/snmpsim/linux_supervisord-v1.snmprec
Labels: Applications :floppy_disk:

#13669 Added initial detection MES2324F or MES2324FB
  includes/definitions/eltex-mes23xx.yaml
  tests/snmpsim/eltex-mes23xx_mes2324fb.snmprec
Labels: Device :desktop_computer:

#13677 remove unneccessary Section Description
  includes/html/pages/device/edit/alert-rules.inc.php
  includes/html/pages/device/edit/apps.inc.php
  includes/html/pages/device/edit/customoid.inc.php
  includes/html/pages/device/edit/device.inc.php
  includes/html/pages/device/edit/ipmi.inc.php
  includes/html/pages/device/edit/mempools.inc.php
  includes/html/pages/device/edit/modules.inc.php
  includes/html/pages/device/edit/ports.inc.php
  includes/html/pages/device/edit/processors.inc.php
  includes/html/pages/device/edit/routing.inc.php
  includes/html/pages/device/edit/sensors-common.php
  includes/html/pages/device/edit/snmp.inc.php
  includes/html/pages/device/edit/storage.inc.php
Labels: WebUI

#13676 snmp timeout is a float, allow in config
  LibreNMS/Util/DynamicConfigItem.php
  misc/config_definitions.json
Labels: Bug :spider:

#13675 VRP BGP fixes
  includes/discovery/bgp-peers/vrp.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#13668 New OS: Adva XG 304
  includes/definitions/adva_xg300.yaml
  includes/definitions/discovery/adva_xg300.yaml
  mibs/adva/DEV-CFG-MIB
  mibs/adva/DEV-ID-MIB
  mibs/adva/OA-SFP-MIB
  mibs/adva/OS-COMMON-TC-MIB
  tests/data/adva_xg300_xg304.json
  tests/snmpsim/adva_xg300_xg304.snmprec
Labels: Device :desktop_computer:

#13691 Add missing python3-pip installation dependency for debian11
  doc/Installation/Installation-Debian-11-Nginx.md
Labels: Documentation :book:

#13687 Update recommended PHP version to 8.0
  LibreNMS/Validations/Php.php
Labels: Dependencies

#13561 Add API-routes for listing MPLS SAPs and services
  app/Http/Controllers/Widgets/AlertsController.php
  app/Models/MplsSap.php
  app/Models/MplsService.php
  doc/API/Routing.md
  includes/html/api_functions.inc.php
  includes/html/table/alerts.inc.php
  resources/views/widgets/alerts.blade.php
  resources/views/widgets/settings/alerts.blade.php
  routes/api.php
Labels: Feature, API

#13692 update rrdcached link
  doc/Extensions/Applications.md
Labels: Documentation :book:

#13696 merge enviromux-micro in existing NTI
  includes/definitions/discovery/nti.yaml
  mibs/nti/ENVIROMUXMICRO-MIB
  tests/data/nti_micro.json
  tests/snmpsim/nti_micro.snmprec
Labels: Device :desktop_computer:

#13698 [WebUI] Removing the colon symbol to the right of a control label
  includes/html/pages/device/edit/device.inc.php
Labels: WebUI

#13684 Update dependencies
  app/Models/Notification.php
  composer.lock
  config/app.php
  phpstan-baseline.neon
Labels: Dependencies

#13694 Update JS deps
  html/css/app.css
  html/css/vendor.css
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  package-lock.json
  package.json
Labels: Dependencies

#13704 [WebUI] 1/2 Services - Removing the colon symbol to the right of a co…
  includes/html/print-service-add.inc.php
Labels: WebUI

#13688 Use built in method to render a string with Blade
  LibreNMS/Alert/Template.php
  app/Http/Controllers/DeviceController.php
  app/Http/Controllers/Table/DeviceController.php
  composer.json
  composer.lock
  includes/html/forms/alert-templates.inc.php
  phpstan-baseline.neon
Labels: Cleanup, Dependencies

#13710 Fix docs test failure
  tests/DocsTest.php
Labels: Documentation :book:, Ignore changelog :mute:

#13700 lnms dev:check add --os-modules-only option
  LibreNMS/Util/CiHelper.php
  app/Console/Commands/DevCheckCommand.php
  resources/lang/en/commands.php
  tests/Unit/CiHelperTest.php
Labels: Tests :test_tube:

#13679 Check for empty SLA tags so we skip bad entries
  LibreNMS/OS/Shared/Cisco.php
  phpstan-baseline.neon
Labels: Bug :spider:, Discovery

#13713 Place a more consistent Fontawesome icon for the Export to PDF
  includes/html/common/alert-log.inc.php
Labels: WebUI

#13655 Fix Temperature Sensor for AirOS 8.7.4+
  LibreNMS/Device/YamlDiscovery.php
  doc/Developing/os/Health-Information.md
  includes/definitions/discovery/airos.yaml
  includes/functions.php
  misc/discovery_schema.json
  phpstan-baseline.neon
  tests/data/airos.json
  tests/data/airos_airos8.json
  tests/snmpsim/airos_airos8.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13689 Replace Requests with HTTP Client
  LibreNMS/Util/GitHub.php
  composer.json
  composer.lock
  includes/functions.php
Labels: Cleanup, Dependencies

#13695 Update to tailwind 3
  html/css/app.css
  html/mix-manifest.json
  package-lock.json
  package.json
  resources/views/layouts/flasher-notification.blade.php
  resources/views/layouts/librenmsv1.blade.php
  tailwind.config.js
Labels: WebUI, Dependencies

#13721 Debian missing pip3 install
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#13722 Fix ups-nut check
  includes/discovery/sensors/load/linux.inc.php
Labels: Bug :spider:

#13725 Speed up tests by reducing snmp timeout
  .github/workflows/test.yml
  tests/testing_config.yaml
Labels: Tests :test_tube:

#13727 Remove contrib dir
  contrib/convert-mib-graphs.sh
  contrib/generate-iplist.php
Labels: Cleanup

#13724 Added sensors to ZXA OS
  includes/definitions/discovery/zxa10.yaml
  includes/definitions/zxa10.yaml
  mibs/zte/ZTE-AN-CHASSIS-MIB
  mibs/zte/ZTE-AN-ENVMON-MIB
  mibs/zte/ZTE-AN-OPTICAL-MODULE-MIB
  mibs/zte/ZTE-AN-SMI
  mibs/zte/ZTE-AN-SOFTWARE-MIB
  tests/data/zxa10_c320.json
  tests/snmpsim/zxa10_c320.snmprec
Labels: Device :desktop_computer:

#13723 Added Volius OS
  html/images/os/volius.png
  includes/definitions/discovery/volius.yaml
  includes/definitions/volius.yaml
  mibs/volius/VOLIUS-OA-MIB
  mibs/volius/VOLIUS-OR-MIB
  mibs/volius/VOLIUS-OS-MIB
  mibs/volius/VOLIUS-OT-MIB
  tests/data/volius_vs5704.json
  tests/data/volius_vs5782.json
  tests/data/volius_vs5793.json
  tests/snmpsim/volius_vs5704.snmprec
  tests/snmpsim/volius_vs5782.snmprec
  tests/snmpsim/volius_vs5793.snmprec
Labels: Device :desktop_computer:

#13731 UBNT fixed airos temp in 8.7.7
  includes/definitions/discovery/airos.yaml
Labels: Device :desktop_computer:

#13730 Oxidized update and Device remove
  LibreNMS/Modules/Core.php
  app/ApiClients/BaseApi.php
  app/ApiClients/BingApi.php
  app/ApiClients/GeocodingHelper.php
  app/ApiClients/GoogleMapsApi.php
  app/ApiClients/MapquestApi.php
  app/ApiClients/Oxidized.php
  app/ApiClients/RipeApi.php
  app/Models/AlertLog.php
  app/Models/Device.php
  app/Models/EntityState.php
  app/Models/Process.php
  app/Observers/DeviceObserver.php
  discovery.php
  includes/functions.php
  includes/html/forms/refresh-oxidized-node.inc.php
  includes/html/forms/reload-oxidized-nodes-list.inc.php
  phpstan-baseline.neon
  scripts/syslog-notify-oxidized.php
Labels: Refactor

#13680 Ubiquiti Airfiber60
  LibreNMS/OS/AirosAf60.php
  doc/Developing/os/Initial-Detection.md
  includes/definitions/airos-af60.yaml
  includes/definitions/airos.yaml
  includes/definitions/discovery/airos-af60.yaml
  includes/discovery/sensors/state/airos-af60.inc.php
  mibs/ubnt/UBNT-MIB
  mibs/ubnt/UI-AF60-MIB
  tests/data/airos-af60_airos-af60.json
  tests/snmpsim/airos-af60_airos-af60.snmprec
Labels: Device :desktop_computer:

#13736 doc - Typo in FAQ
  doc/Support/FAQ.md
Labels: Documentation :book:, Ignore changelog :mute:

#13737 [mikrotik] added ipv6 route discovery
  includes/discovery/route.inc.php
  includes/discovery/route/routeros.inc.php
  tests/data/routeros_rb760igs.json
  tests/snmpsim/routeros_rb760igs.snmprec
  tests/snmpsim/routeros_vlans.snmprec
Labels: Device :desktop_computer:
