Repository librenms/librenms, pull requests merged in 2022-12, with the labels that each got.

#14605 Improve SnmpResponse value()
  LibreNMS/Data/Source/SnmpResponse.php
  LibreNMS/Modules/Core.php
  LibreNMS/Util/ModuleTestHelper.php
  tests/Unit/SnmpResponseTest.php
Labels: Internal Features

#14680 Update sensor.inc.php, adding $unit to Average
  includes/html/graphs/device/sensor.inc.php
Labels: Ignore changelog :mute:

#14683 Alert template example uses incorrect variable
  doc/Alerting/Templates.md
Labels: Documentation :book:

#14700 Release notes internal features category
  LibreNMS/Util/GitHub.php
Labels: Ignore changelog :mute:

#14708 Adding certificate application tests
  tests/data/linux_certificate-v1.json
  tests/snmpsim/linux_certificate-v1.snmprec
Labels: Tests :test_tube:

#14710 Removing max polling restriction for wireguard traffic RRD data
  includes/polling/applications/wireguard.inc.php
Labels: Applications :floppy_disk:

#14712 Fix typo: purge-port.php file name
  doc/Support/CLI-Tools.md
Labels: Documentation :book:

#14717 Update Docker.md with proper path to unzipped files
  doc/Installation/Docker.md
Labels: Documentation :book:

#14670 Use 'counter' RRD type for some TrueNAS sensors
  includes/definitions/discovery/truenas.yaml
  tests/data/truenas.json
  tests/data/truenas_11-3.json
Labels: Device :desktop_computer:

#14721 Updating certificate script documentation
  doc/Extensions/Applications.md
Labels: Documentation :book:

#14722 Update Install-LibreNMS.md
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#14731 API list_devices update with sysName, location_id and type
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API

#14733 Unify time interval formatting
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Util/Time.php
  app/Http/Controllers/Table/DeviceController.php
  app/Http/Controllers/Widgets/GraphController.php
  app/Observers/StpObserver.php
  includes/html/dev-overview-data.inc.php
  includes/html/graphs/device/availability.inc.php
  includes/html/pages/device/graphs/availability.inc.php
  includes/polling/availability.inc.php
  phpstan-baseline.neon
Labels: Refactor

#14701 Fix graph output base64
  app/Http/Controllers/GraphController.php
  includes/html/graphs/graph.inc.php
Labels: Graphs

#14699 Number Casting allow preceding space
  LibreNMS/Util/Number.php
Labels: Internal Features

#14732 Fix ArubaInstance channel decode issue
  LibreNMS/OS/ArubaInstant.php
Labels: Bug :spider:, Polling

#13906 Install: Pre-Install settings
  LibreNMS/Config.php
  app/Http/Controllers/AboutController.php
  app/Http/Controllers/Install/FinalizeController.php
  app/Providers/AppServiceProvider.php
  includes/html/forms/callback-clear.inc.php
  includes/html/forms/callback-statistics.inc.php
  misc/config_definitions.json
  resources/lang/de/settings.php
  resources/lang/en/install.php
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
  resources/lang/it/settings.php
  resources/lang/uk/settings.php
  resources/lang/zh-CN/settings.php
  resources/lang/zh-TW/settings.php
  resources/views/about/index.blade.php
  resources/views/install/database.blade.php
  resources/views/install/finish.blade.php
  routes/web.php
Labels: Feature

#14702 Update fs-nmu.inc.php
  includes/discovery/sensors/dbm/fs-nmu.inc.php
Labels: Device :desktop_computer:

#14736 Update Nvidia application - values in wrong charts
  includes/polling/applications/nvidia.inc.php
Labels: Applications :floppy_disk:

#14743 Fix port speed setting feedback
  app/Http/Controllers/Table/EditPortsController.php
  includes/html/pages/device/edit/ports.inc.php
Labels: Bug :spider:, WebUI

#14665 Device - Add support for "Smartpack R"
  includes/definitions/enexus.yaml
Labels: Device :desktop_computer:

#14754 Add CISCO-ENTITY-ALARM-MIB file
  mibs/cisco/CISCO-ENTITY-ALARM-MIB
Labels: MIBs

#14757 Fix for RIPE NCC API Tools
  app/ApiClients/RipeApi.php
  includes/html/pages/ripenccapi.inc.php
Labels: API

#14756 SROS/TIMOS: additional sensors
  includes/definitions/discovery/timos.yaml
  tests/data/timos.json
  tests/data/timos_7705.json
  tests/data/timos_ixr-s.json
  tests/snmpsim/timos_ixr-s.snmprec
Labels: Device :desktop_computer:

#14759 Update PHP dependencies (fix dependencies on PHP 8.2)
  LibreNMS/Util/Dns.php
  composer.json
  composer.lock
Labels: Dependencies

#14764 Create files with Traditional Chinese translation
  resources/lang/zh-TW/widgets.php
Labels: Translation

#14765 Update zh-TW.json
  resources/lang/zh-TW.json
Labels: Translation
