Repository librenms/librenms, pull requests merged in 2022-04, with the labels that each got.

#13855 Add Cisco Err-Disable interface event trap handler
  LibreNMS/Snmptrap/Handlers/CiscoErrDisableInterfaceEvent.php
  config/snmptraps.php
  mibs/cisco/CISCO-ERR-DISABLE-MIB
  tests/Feature/SnmpTraps/CiscoErrDisableInterfaceEventTest.php
Labels: SNMP Traps

#13889 [DOC] Styling the .env word quote
  doc/Developing/Getting-Started.md
Labels: Documentation :book:

#13887 Ensure 'add_device' API returns indexed-array (as per doco)
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#13886 Add "Ping Response" graph to "Ping Only" Device Overview page
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/overview/ping.inc.php
Labels: WebUI

#13890 Few more language (ITA) updates
  resources/lang/it.json
  resources/lang/it/bgp.php
  resources/lang/it/commands.php
  resources/lang/it/components.php
  resources/lang/it/device.php
  resources/lang/it/exceptions.php
  resources/lang/it/install.php
  resources/lang/it/passwords.php
  resources/lang/it/plugins.php
  resources/lang/it/poller.php
  resources/lang/it/port.php
  resources/lang/it/preferences.php
  resources/lang/it/sensors.php
  resources/lang/it/settings.php
  resources/lang/it/smokeping.php
  resources/lang/it/stp.php
  resources/lang/it/syslog.php
  resources/lang/it/validation.php
  resources/lang/it/wireless.php
Labels: Translation

#13870 Migrate addhost.php to lnms device:add
  LibreNMS/Device/YamlDiscovery.php
  LibreNMS/Exceptions/HostUnreachableException.php
  LibreNMS/Modules/Core.php
  LibreNMS/Util/Compare.php
  addhost.php
  app/Actions/Device/ValidateDeviceAndCreate.php
  app/Console/Commands/DeviceAdd.php
  doc/Support/Adding-a-Device.md
  doc/Support/FAQ.md
  includes/functions.php
  resources/lang/en/commands.php
  snmp-scan.py
  tests/AddHostCliTest.php
Labels: Bug :spider:, Refactor

#13898 Fix custom error messages
  app/Exceptions/Handler.php
Labels: Bug :spider:

#13806 Add support for PrimeKey Hardware Appliance
  html/images/os/primekey.svg
  includes/definitions/discovery/primekey.yaml
  includes/definitions/primekey.yaml
  mibs/primekey/PRIMEKEY-APPLIANCE-MIB
  tests/data/primekey_ejbca.json
  tests/snmpsim/primekey_ejbca.snmprec
Labels: Device :desktop_computer:

#13900 Add MRV OptiDriver support in gen_rancid
  scripts/gen_rancid.php
Labels: Rancid

#13880 Add ISIS discovery and polling for iosxe devices
  LibreNMS/OS/Iosxe.php
  app/Models/IsisAdjacency.php
  database/migrations/2022_04_08_085504_isis_adjacencies_table_add_index.php
  misc/db_schema.yaml
  tests/data/iosxe_asr920.json
  tests/data/junos_mx5t_isis.json
  tests/snmpsim/iosxe_asr920.snmprec
Labels: Device :desktop_computer:

#13903 Print full error message in poller/discovery output
  LibreNMS/Poller.php
  includes/discovery/functions.inc.php
  includes/polling/functions.inc.php
Labels: Polling

#13904 Fix install icons
  app/Http/Controllers/Install/ChecksController.php
  app/Http/Controllers/Install/DatabaseController.php
  app/Http/Controllers/Install/FinalizeController.php
  app/Http/Controllers/Install/MakeUserController.php
  resources/views/install/checks.blade.php
  resources/views/install/database.blade.php
  resources/views/install/finish.blade.php
  resources/views/install/user-created.blade.php
  resources/views/layouts/install.blade.php
Labels: Bug :spider:

#13901 PrimeKey Improvements
  includes/definitions/discovery/primekey.yaml
  includes/definitions/primekey.yaml
  tests/data/primekey_ejbca.json
Labels: Device :desktop_computer:

#13884 Added missing test files for Dell PowerVault ME4024
  tests/data/dell-powervault_me4024.json
  tests/snmpsim/dell-powervault_me4024.snmprec
Labels: Ignore changelog :mute:

#13908 Docs, fix code block in oxidized group
  doc/Extensions/Oxidized.md
Labels: Documentation :book:

#13909 Fix Hytera error
  includes/functions.php
Labels: Bug :spider:, Device :desktop_computer:

#13911 Fix port mini graphs
  includes/html/pages/device/ports.inc.php
Labels: Bug :spider:, WebUI

#13913 Better device:add error output
  addhost.php
  app/Console/Commands/DeviceAdd.php
Labels: Cleanup

#13915 Sensu: Correct type hint
  LibreNMS/Alert/Transport/Sensu.php
Labels: Bug :spider:, Alerting :bell:

#13914 lnms device:add handle snmp.community bad format
  app/Actions/Device/ValidateDeviceAndCreate.php
Labels: Bug :spider:

#13920 Add ISIS-details to alert details
  includes/html/functions.inc.php
Labels: WebUI

#13910 Improve alert template saving
  includes/html/forms/alert-templates.inc.php
Labels: Bug :spider:, Alerting :bell:

#13922 support tplink routers
  includes/definitions/tplink.yaml
  tests/snmpsim/tplink_dsl.snmprec
  tests/snmpsim/tplink_td-w9970.snmprec
Labels: Device :desktop_computer:

#13899 Handle bad uptime input
  LibreNMS/Modules/Core.php
Labels: Bug :spider:

#13925 Revert "Fiberstore Network Management Unit"
  includes/definitions/discovery/fs-nmu.yaml
  includes/definitions/fs-nmu.yaml
  includes/discovery/sensors/current/fs-nmu.inc.php
  includes/discovery/sensors/dbm/fs-nmu.inc.php
  includes/discovery/sensors/state/fs-nmu.inc.php
  includes/discovery/sensors/temperature/fs-nmu.inc.php
  includes/discovery/sensors/voltage/fs-nmu.inc.php
  mibs/fs/OAP-C1-EDFA
  mibs/fs/OAP-C1-OEO
  mibs/fs/OAP-C10-EDFA
  mibs/fs/OAP-C10-OEO
  mibs/fs/OAP-C11-EDFA
  mibs/fs/OAP-C11-OEO
  mibs/fs/OAP-C12-EDFA
  mibs/fs/OAP-C12-OEO
  mibs/fs/OAP-C13-EDFA
  mibs/fs/OAP-C13-OEO
  mibs/fs/OAP-C14-EDFA
  mibs/fs/OAP-C14-OEO
  mibs/fs/OAP-C15-EDFA
  mibs/fs/OAP-C15-OEO
  mibs/fs/OAP-C16-EDFA
  mibs/fs/OAP-C16-OEO
  mibs/fs/OAP-C2-EDFA
  mibs/fs/OAP-C2-OEO
  mibs/fs/OAP-C3-EDFA
  mibs/fs/OAP-C3-OEO
  mibs/fs/OAP-C4-EDFA
  mibs/fs/OAP-C4-OEO
  mibs/fs/OAP-C5-EDFA
  mibs/fs/OAP-C5-OEO
  mibs/fs/OAP-C6-EDFA
  mibs/fs/OAP-C6-OEO
  mibs/fs/OAP-C7-EDFA
  mibs/fs/OAP-C7-OEO
  mibs/fs/OAP-C8-EDFA
  mibs/fs/OAP-C8-OEO
  mibs/fs/OAP-C9-EDFA
  mibs/fs/OAP-C9-OEO
  tests/data/fs-nmu.json
  tests/data/fs-nmu_fmt1600e.json
  tests/snmpsim/fs-nmu.snmprec
  tests/snmpsim/fs-nmu_fmt1600e.snmprec
Labels: Bug :spider:, Polling, Ignore changelog :mute:

#13706 Remove non-working Dell specific alert rules from the collection
  misc/alert_rules.json
Labels: Alert Rule

#13924 Fix STP polling bug
  LibreNMS/OS/Traits/BridgeMib.php
Labels: Bug :spider:, Polling

#13929 Fix validation page
  LibreNMS/Util/Html.php
  LibreNMS/ValidationResult.php
  phpstan-baseline.neon
  resources/views/validate/index.blade.php
  tests/FunctionsTest.php
Labels: Bug :spider:, Ignore changelog :mute:

#13931 Fix Graylog XSS
  app/Http/Controllers/Table/GraylogController.php
Labels: Security

#13932 Fix services command injection
  includes/services.inc.php
Labels: Security

#13935 Validate fixes
  LibreNMS/Util/Version.php
  resources/lang/en/validation.php
  resources/views/validate/index.blade.php
Labels: Bug :spider:

#13923 Allow unordered OIDs (global and per-os)
  LibreNMS/Config.php
  LibreNMS/Data/Source/NetSnmpQuery.php
  includes/definitions/bintec-beip-plus.yaml
  includes/discovery/arp-table.inc.php
  includes/discovery/functions.inc.php
  includes/snmp.inc.php
  misc/config_definitions.json
  misc/os_schema.json
  phpstan-baseline.neon
  resources/lang/en/settings.php
  tests/ConfigTest.php
Labels: Feature, Polling

#13810 Added --ping-only to snmp-scan.py
  doc/Extensions/Auto-Discovery.md
  snmp-scan.py
Labels: Feature

#13788 Add LDAP bind and userlist filter support to ldap-authorization
  LibreNMS/Authentication/LdapAuthorizationAuthorizer.php
  doc/Extensions/Authentication.md
Labels: Authentication

#13323 netscaler new counter metrics
  includes/definitions/discovery/netscaler.yaml
  tests/data/netscaler.json
  tests/snmpsim/netscaler.snmprec
Labels: Device :desktop_computer:

#13927 Move Config loading to a service provider
  LibreNMS/Config.php
  LibreNMS/DB/Eloquent.php
  LibreNMS/IRCBot.php
  LibreNMS/Poller.php
  LibreNMS/Util/Debug.php
  LibreNMS/Util/Version.php
  LibreNMS/Validations/Database.php
  app/Http/Controllers/AboutController.php
  app/Http/Controllers/Auth/SocialiteController.php
  app/Listeners/LegacyQueryListener.php
  app/Listeners/QueryDebugListener.php
  app/Listeners/QueryMetricListener.php
  app/Polling/Measure/MeasurementManager.php
  app/Providers/AppServiceProvider.php
  app/Providers/ConfigServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Providers/SocialiteListenersServiceProvider.php
  config/app.php
  daily.php
  includes/dbFacile.php
  includes/init.php
  phpstan-baseline.neon
  tests/OSDiscoveryTest.php
Labels: Refactor

#13945 [RRD] fix IPv6 folder name
  LibreNMS/Data/Store/Rrd.php
Labels: Bug :spider:, Graphs

#13937 Fix snmp.timeout setting via Web UI
  html/css/app.css
  html/js/app.js
  html/mix-manifest.json
  resources/js/components/SettingFloat.vue
  resources/lang/en/settings.php
Labels: Bug :spider:, WebUI, Settings

#13902 [mikrotik] fixed RouterOS ipv4/ipv6 routes
  includes/definitions/routeros.yaml
  includes/discovery/route.inc.php
  includes/discovery/route/routeros.inc.php
  tests/data/bdcom.json
  tests/data/routeros_rb760igs.json
  tests/data/snr.json
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#13951 Update dark mode to fix BGP and Peering page
  html/css/dark.css
Labels: WebUI

#13942 add Suricata monitoring
  doc/Extensions/Applications.md
  includes/discovery/applications.inc.php
  includes/html/functions.inc.php
  includes/html/graphs/application/suricata_alert.inc.php
  includes/html/graphs/application/suricata_app_flows.inc.php
  includes/html/graphs/application/suricata_app_tx.inc.php
  includes/html/graphs/application/suricata_bytes.inc.php
  includes/html/graphs/application/suricata_dec_proto.inc.php
  includes/html/graphs/application/suricata_flow_proto.inc.php
  includes/html/graphs/application/suricata_mem_use.inc.php
  includes/html/graphs/application/suricata_nasty_delta.inc.php
  includes/html/graphs/application/suricata_nasty_percent.inc.php
  includes/html/graphs/application/suricata_packets.inc.php
  includes/html/graphs/application/suricata_uptime.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/suricata.inc.php
  includes/polling/applications/suricata.inc.php
  misc/alert_rules.json
  tests/data/linux_suricata-v1.json
  tests/snmpsim/linux_suricata-v1.snmprec
Labels: Service

#13950 assorted cleanups to alerting docs, primarily to make mdl happier
  doc/Alerting/Entities.md
  doc/Alerting/Macros.md
  doc/Alerting/Rules.md
  doc/Alerting/Templates.md
  doc/Alerting/Testing.md
  doc/Alerting/Transports.md
Labels: Documentation :book:

#13949 update test doc making it more mdl happy and add a section on writing JSON app tests
  doc/Developing/os/Test-Units.md
Labels: Documentation :book:

#13943 Fix avtech12e sensors
  includes/definitions/discovery/avtech.yaml
  mibs/avtech/ROOMALERT12E-MIB
  tests/data/avtech_roomalert12e.json
  tests/snmpsim/avtech_roomalert12e.snmprec
Labels: Device :desktop_computer:
