Repository librenms/librenms, pull requests merged in 2022-06, with the labels that each got.

#13999 Fix OS Detection for USW-Flex-XG
  includes/definitions/edgeswitch.yaml
  tests/data/edgeswitch_usw-flex-xg.json
  tests/snmpsim/edgeswitch_usw-flex-xg.snmprec
Labels: Device :desktop_computer:

#14002 Fix migrations failing one time after dashboard cleanup
  database/seeders/DefaultWidgetSeeder.php
Labels: Bug :spider:

#14006 Remove DefaultWidgetSeeder
  database/seeders/DefaultWidgetSeeder.php
  includes/sql-schema/update.php
Labels: Cleanup

#14010 Allow the use of a custom URL for accessing the PagerDuty API and correct API schema violation
  LibreNMS/Alert/Transport/Pagerduty.php
Labels: Alerting :bell:

#13991 Fix 500 error in validations when capabilities are not supported or set
  LibreNMS/Validations/Programs.php
Labels: Bug :spider:

#13992 Add support for Cisco Nexus 3550 series (formerly Exalink Fusion) devices
  includes/definitions/discovery/exalink-fusion.yaml
  includes/definitions/exalink-fusion.yaml
  includes/polling/ports.inc.php
  includes/polling/ports/exalink-fusion.inc.php
  mibs/exalink-fusion/EXALINK-FUSION-MIB
  tests/data/exalink-fusion.json
  tests/snmpsim/exalink-fusion.snmprec
Labels: Device :desktop_computer:

#14014 Fix printer count sensors when extra garbage is returned
  includes/discovery/sensors.inc.php
  includes/discovery/sensors/count/printer.inc.php
Labels: Bug :spider:, Discovery

#13963 Add additional OpenBSD PF graphs
  LibreNMS/OS/Openbsd.php
  LibreNMS/Util/ModuleTestHelper.php
  includes/html/graphs/device/pf_drops.inc.php
  misc/config_definitions.json
  tests/data/openbsd_pf.json
  tests/snmpsim/openbsd_pf.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14011 syslog-notify-oxidized.php now always notifies Oxidized
  scripts/syslog-notify-oxidized.php
Labels: Oxidized

#14015 SnmpQuery walk multiple oids
  LibreNMS/Data/Source/NetSnmpQuery.php
  LibreNMS/Data/Source/SnmpResponse.php
Labels: Feature

#14016 Fix tests failing when device with IP 127.1.6.1 exists
  LibreNMS/Util/ModuleTestHelper.php
Labels: Tests :test_tube:

#14012 Update Teltonika Sensors for FW R_00.07.02
  includes/definitions/discovery/rutos-rutx.yaml
  mibs/teltonika/TELTONIKA-RUTX-MIB
  tests/data/rutos-rutx_rutx11.json
  tests/snmpsim/rutos-rutx_rutx11.snmprec
Labels: Device :desktop_computer:

#14019 Remove traceroute6, it is unused
  LibreNMS/Config.php
  doc/Support/Configuration.md
  misc/config_definitions.json
  resources/lang/de/settings.php
  resources/lang/en/settings.php
  resources/lang/fr/settings.php
  resources/lang/it/settings.php
  resources/lang/uk/settings.php
  resources/lang/zh-CN/settings.php
  resources/lang/zh-TW/settings.php
Labels: Cleanup

#14027 lnms scan respect -q parameter
  routes/console.php
Labels: Command Line

#14020 Fix an issue when getting the local version from git
  LibreNMS/Util/Version.php
Labels: Bug :spider:

#13986 Updated existing Siemens MIBs and added trap MIB
  mibs/ros/RUGGEDCOM-MIB
  mibs/ros/RUGGEDCOM-SYS-INFO-MIB
  mibs/ros/RUGGEDCOM-TRAPS-MIB
Labels: MIBs

#14029 Support Huawei SMU11B
  includes/definitions/huawei-smu.yaml
  tests/data/huawei-smu_11b.json
  tests/snmpsim/huawei-smu_11b.snmprec
Labels: Device :desktop_computer:

#14028 Update PHP dependencies
  composer.json
  composer.lock
Labels: Dependencies

#14031 Update Larastan
  LibreNMS/Alert/Transport/Canopsis.php
  LibreNMS/Alert/Transport/Googlechat.php
  LibreNMS/OS/Ceraos.php
  LibreNMS/Snmptrap/Handlers/UpsTrapOnBattery.php
  LibreNMS/Snmptrap/Handlers/UpsTrapsOnBattery.php
  app/Facades/LogManager.php
  composer.json
  composer.lock
  config/snmptraps.php
  phpstan-baseline.neon
Labels: Dependencies

#14035 Fix DB timezone validation
  LibreNMS/DB/Schema.php
Labels: Bug :spider:

#14036 Fix rrd version validation check
  LibreNMS/Validations/Rrd/CheckRrdVersion.php
  resources/lang/en/validation.php
Labels: Bug :spider:

#14033 Update github actions
  .github/workflows/doc.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: Ignore changelog :mute:

#14040 Fix some broken migrations
  database/migrations/2019_05_30_225937_device_groups_rewrite.php
  database/migrations/2021_12_02_100709_remove_ports_stp_unique_index.php
Labels: Bug :spider:, Schema

#14038 Okta saml
  .gitignore
  doc/Extensions/OAuth-SAML.md
  doc/img/socialite-okta-1.png
  doc/img/socialite-okta-2.png
  doc/img/socialite-okta-3.png
Labels: Documentation :book:

#14041 Server name validation, handle ports better
  LibreNMS/Validations/WebServer.php
Labels: Bug :spider:

#14042 Git version validation improvement
  LibreNMS/Validations/Updates.php
Labels: Bug :spider:

#14044 Slightly easier validation page error access
  resources/lang/en/validation.php
  resources/views/validate/index.blade.php
Labels: Miscellaneous

#13918 Aviat WTM reduce snmp load
  includes/definitions/aviat-wtm.yaml
  misc/os_schema.json
Labels: Device :desktop_computer:

#14061 Add BGP description to eventlog BGP Peers messages
  includes/polling/bgp-peers.inc.php
Labels: WebUI

#14058 Add apc battery operation time, including display in WebUI
  includes/discovery/sensors/runtime/apc.inc.php
  includes/polling/sensors/runtime/apc.inc.php
  tests/data/apc_managementmoduleaosv6.8.8-appv6.8.8.json
  tests/snmpsim/apc_managementmoduleaosv6.8.8-appv6.8.8.snmprec
Labels: Device :desktop_computer:

#14066 Add documentation for Chrony application monitoring
  doc/Extensions/Applications.md
Labels: Documentation :book:
