Repository librenms/librenms, pull requests merged in 2023-02, with the labels that each got.

#14750 Use Oxidized API client and add support for groups on config get
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API, Oxidized

#14837 Fix discovery for apc ats
  includes/discovery/sensors/current/apc.inc.php
Labels: Device :desktop_computer:

#14844 Fix possible confusion around php-fpm settings
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#14843 Fix MS Teams alert transport, correct HTTP header
  LibreNMS/Alert/Transport/Msteams.php
Labels: Alerting :bell:

#14848 Fix Okta image in docs
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#14853 Add support for Vsol v1600d EPON OLT
  html/images/os/vsolution.png
  includes/definitions/discovery/vsolution.yaml
  includes/definitions/vsolution.yaml
  mibs/vsolution/V1600D
  tests/data/vsolution_v1600d.json
  tests/snmpsim/vsolution_v1600d.snmprec
Labels: Device :desktop_computer:

#14857 Fortigate IPS Intrusions detected stats
  includes/definitions/discovery/fortigate.yaml
  tests/snmpsim/fortigate_ips.snmprec
Labels: Device :desktop_computer:

#14845 Change socialite settings URI
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#14841 use docker compose v2
  doc/Installation/Docker.md
Labels: Documentation :book:

#14787 Refactored Juniper SLA to include support for TWAMP and remove ambigu…
  LibreNMS/OS/Junos.php
  phpstan-baseline.neon
  tests/data/junos_vmx.json
  tests/snmpsim/junos_vmx.snmprec
Labels: Device :desktop_computer:

#14861 Fix Alertlog messaging
  LibreNMS/Alert/RunAlerts.php
Labels: Alerting :bell:

#14864 Fix graphs for a search query
  includes/html/pages/devices.inc.php
Labels: Bug :spider:
