Repository librenms/librenms, pull requests merged in 2023-10, with the labels that each got.

#15367 sort services by type and name
  includes/html/pages/services.inc.php
Labels: WebUI, Service

#15351 Added support for Cambium cnMatrix switches
  includes/definitions/cnmatrix.yaml
  includes/definitions/discovery/cnmatrix.yaml
  includes/discovery/ports.inc.php
  includes/discovery/ports/cnmatrix.inc.php
  includes/polling/ports/os/cnmatrix.inc.php
  mibs/LLDP-EXT-DOT1-MIB
  mibs/LLDP-EXT-DOT3-MIB
  mibs/cambium/cnmatrix/ARICENT-CFA-MIB
  mibs/cambium/cnmatrix/ARICENT-ISS-MIB
  mibs/cambium/cnmatrix/ARICENT-POE-MIB
  mibs/cambium/cnmatrix/LLDP-EXT-MED-CAMBIUM-MIB
  tests/data/cnmatrix.json
  tests/snmpsim/cnmatrix.snmprec
Labels: Device :desktop_computer:

#15363 Rearrange AD auth settings
  lang/en/settings.php
  misc/config_definitions.json
Labels: Settings

#15374 Specify radius attributes for auth roles
  doc/Extensions/Authentication.md
Labels: Documentation :book:

#15371 Remove unused functions
  LibreNMS/Device/Sensor.php
  LibreNMS/Device/WirelessSensor.php
  LibreNMS/IRCBot.php
  LibreNMS/Snmptrap/Handlers/BgpBackwardTransition.php
  LibreNMS/Snmptrap/Handlers/BgpEstablished.php
  LibreNMS/Validations/Mail.php
  daily.php
  includes/common.php
  includes/discovery/bgp-peers.inc.php
  includes/discovery/bgp-peers/dell-os10.inc.php
  includes/discovery/bgp-peers/firebrick.inc.php
  includes/discovery/bgp-peers/timos.inc.php
  includes/discovery/bgp-peers/vrp.inc.php
  includes/discovery/discovery-arp.inc.php
  includes/functions.php
  includes/html/graphs/device/smokeping_common.inc.php
  includes/html/pages/device/loadbalancer/netscaler_vsvr.inc.php
  includes/html/pages/ports/graph.inc.php
  includes/html/pages/routing/mpls-path-map.inc.php
  includes/html/reports/ports.csv.inc.php
  includes/html/table/as-selection.inc.php
  includes/polling/applications/bird2.inc.php
  tests/CommonFunctionsTest.php
  tests/Feature/SnmpTraps/BgpTrapTest.php
Labels: Cleanup

#15129 eNexus: added some groups and corrected some references
  includes/definitions/discovery/enexus.yaml
  tests/data/enexus.json
  tests/data/enexus_eltek-smartpack2-syst.json
  tests/data/enexus_enexus.json
  tests/data/enexus_smartpacks.json
  tests/data/enexus_smartpacks2.json
  tests/data/enexus_sp2touch.json
Labels: Device :desktop_computer:

#15370 Deprecate poller.php
  .github/ISSUE_TEMPLATE/device_bug.yml
  LibreNMS/queuemanager.py
  LibreNMS/wrapper.py
  app/Console/Commands/FindWarnings.php
  doc/Developing/Getting-Started.md
  doc/Developing/os/Initial-Detection.md
  doc/Support/FAQ.md
  doc/Support/Poller Support.md
  includes/html/output/capture.inc.php
  includes/polling/functions.inc.php
  poller.php
  routes/console.php
Labels: Feature

#15377 Remove snmp functions that are barely used
  LibreNMS/Data/Source/SnmpResponse.php
  LibreNMS/Device/Processor.php
  LibreNMS/OS/Shared/Foundry.php
  LibreNMS/Util/Oid.php
  includes/discovery/cisco-cef.inc.php
  includes/discovery/sensors/netscaler.inc.php
  includes/polling/applications/bird2.inc.php
  includes/polling/cisco-asa-firewall.inc.php
  includes/polling/cisco-cef.inc.php
  includes/polling/cisco-mac-accounting.inc.php
  includes/polling/functions.inc.php
  includes/snmp.inc.php
  scripts/json-app-tool.php
  tests/data/ios_stp-vlans.json
  tests/data/ironware.json
Labels: Cleanup

#15393 Fix bug in graphite
  LibreNMS/Data/Store/Graphite.php
Labels: Bug :spider:, Datastore

#15394 Re-fix bug in Graphite
  LibreNMS/Data/Store/Graphite.php
Labels: Bug :spider:, Ignore changelog :mute:

#15391 Throttle error reporting
  app/Providers/ErrorReportingProvider.php
  lang/en/settings.php
  misc/config_definitions.json
Labels: Feature

#15209 Show which host marked a device as down.
  app/Observers/DeviceObserver.php
Labels: Alerting :bell:

#15398 Fix last polled in wrong column
  LibreNMS/Poller.php
Labels: Bug :spider:, Polling

#15395 Hide unchangeable core module
  includes/html/pages/device/edit/modules.inc.php
Labels: WebUI, Ignore changelog :mute:

#15396 Fix last polled
  LibreNMS/Poller.php
Labels: Bug :spider:, Polling

#15400 Revert "Fix last polled"
  LibreNMS/Poller.php
Labels: Ignore changelog :mute:

#15401 Validate secure cookies
  LibreNMS/Validations/WebServer.php
Labels: Security, WebUI

#15399 Fix xss in device groups overview
  includes/html/dev-groups-overview-data.inc.php
Labels: Security

#15402 Fix MAC search sql injection
  includes/html/table/address-search.inc.php
Labels: Security

#15379 Refactor MAC utilities into a single class
  LibreNMS/Modules/Stp.php
  LibreNMS/OS/ArubaInstant.php
  LibreNMS/OS/Lcos.php
  LibreNMS/OS/Traits/BridgeMib.php
  LibreNMS/Util/Mac.php
  LibreNMS/Util/Rewrite.php
  app/Http/Controllers/Table/FdbTablesController.php
  app/Http/Controllers/Table/PortNacController.php
  app/Http/Controllers/Table/PortStpController.php
  includes/discovery/arp-table.inc.php
  includes/html/api_functions.inc.php
  includes/html/graphs/macaccounting/auth.inc.php
  includes/html/graphs/port/mac_acc_total.inc.php
  includes/html/pages/device/port/macaccounting.inc.php
  includes/html/table/address-search.inc.php
  includes/html/table/arp-search.inc.php
  includes/polling/cisco-mac-accounting.inc.php
  resources/views/device/tabs/stp.blade.php
  tests/FunctionsTest.php
  tests/Mocks/SnmpQueryMock.php
  tests/Unit/Util/MacUtilTest.php
  tests/Unit/Util/RewriteTest.php
  tests/data/allied_websmart.json
  tests/data/ies52xxM_zynos-msc1240xa-ies5206.json
  tests/data/ies52xxM_zynos-msc1240xa-ies5212.json
  tests/data/netonix_wispswitch.json
  tests/data/qtech_qsw-3450.json
  tests/data/routeros.json
  tests/data/routeros_crs317.json
  tests/data/routeros_rb750gr3.json
  tests/data/routeros_rb760igs.json
  tests/data/routeros_rblhgr.json
  tests/data/routeros_wifi.json
  tests/data/snr.json
  tests/data/zxa10_c320.json
  tests/data/zxdsl.json
Labels: Refactor, Internal Features

#15405 Add rewrites include for legacy modules
  LibreNMS/Modules/LegacyModule.php
Labels: Bug :spider:, Polling

#15406 Fix typo
  LibreNMS/Modules/LegacyModule.php
Labels: Bug :spider:, Ignore changelog :mute:

#15407 Fix graph errors
  includes/html/graphs/graph.inc.php
Labels: Bug :spider:, Graphs, WebUI

#15397 Calculate downtime from device_outages table
  LibreNMS/Polling/ConnectivityHelper.php
  app/Http/Controllers/Table/DeviceController.php
  app/Models/Device.php
  includes/html/dev-overview-data.inc.php
Labels: WebUI

#15409 Type safety check
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Polling

#15412 Error Reporting: Log instead of dump
  app/Providers/ErrorReportingProvider.php
Labels: Internal Features

#15414 Fix availability graphs
  LibreNMS/Modules/Availability.php
Labels: Bug :spider:, Graphs, Ignore changelog :mute:

#15411 Fix an agent bug if a process ran more than 999 days
  database/migrations/2023_10_07_170735_increase_processes_cputime_length.php
  includes/html/pages/device/processes.inc.php
  includes/polling/unix-agent.inc.php
  misc/db_schema.yaml
Labels: Bug :spider:, Polling

#15413 Misc fixes 42
  LibreNMS/Util/Clean.php
  app/Console/Commands/DevicePoll.php
  app/Models/Device.php
  billing-calculate.php
  includes/services/check_icmp.inc.php
  includes/services/check_load.inc.php
  includes/services/check_mysql.inc.php
Labels: Cleanup

#15376 Remove legacy addhost code
  includes/discovery/functions.inc.php
  includes/functions.php
  includes/html/pages/addhost.inc.php
  includes/html/pages/device/edit/snmp.inc.php
  includes/snmp.inc.php
  phpstan-baseline.neon
  tests/AddHostTest.php
Labels: Cleanup

#15415 Agent: Packages fixes (+pacman)
  LibreNMS/Util/Number.php
  app/Models/Package.php
  includes/polling/unix-agent/dmi.inc.php
  includes/polling/unix-agent/packages.inc.php
Labels: Bug :spider:

#15419 Fix bug saving snmpv3 device changes
  includes/html/pages/device/edit/snmp.inc.php
Labels: Bug :spider:, WebUI

#15390 Documentation - Smokeping Integration in Centos - Update Smokeping.md
  doc/Extensions/Smokeping.md
Labels: Documentation :book:

#15426 Docs: Update supported OS list
  doc/Support/Features.md
Labels: Documentation :book:

#15430 Fix timos mpls, add checks
  LibreNMS/OS/Timos.php
Labels: Bug :spider:, Device :desktop_computer:

#15434 Fix discovery protocols again
  includes/discovery/functions.inc.php
Labels: Bug :spider:, Ignore changelog :mute:

#15427 Updating Datacom logo
  html/images/logos/datacom.svg
  html/images/os/datacom.png
  html/images/os/datacom.svg
Labels: Device :desktop_computer:

#15437 Fix datacom test data
  tests/data/datacom.json
Labels: Ignore changelog :mute:

#15429 Use modern device attrib handling
  LibreNMS/Modules/LegacyModule.php
  includes/common.php
  includes/discovery/functions.inc.php
  includes/functions.php
  includes/polling/ipmi.inc.php
  includes/polling/ports.inc.php
  includes/snmp.inc.php
Labels: Cleanup

#15428 Fix VRP polling
  LibreNMS/OS/Vrp.php
Labels: Device :desktop_computer:

#15438 Stop libvirt ssh attempts when disabled
  LibreNMS/OS/Traits/VminfoLibvirt.php
Labels: Bug :spider:, Ignore changelog :mute:

#15431 Fix port module wrong null
  includes/polling/ports.inc.php
  tests/data/aviat-wtm.json
  tests/data/dell-compellent_scv3020.json
  tests/data/drac.json
  tests/data/drac_3.json
  tests/data/drac_drac.json
  tests/data/fortivoice.json
  tests/data/istars.json
  tests/data/scs-ks.json
  tests/data/siteboss550.json
  tests/data/vrp_nac.json
Labels: Bug :spider:, Polling

#15418 Remove some lightly used or unused dbFacile functions
  LibreNMS/Billing.php
  LibreNMS/Device/Sensor.php
  billing-calculate.php
  discovery.php
  html/ajax_listports.php
  html/network-map.php
  includes/dbFacile.php
  includes/discovery/bgp-peers.inc.php
  includes/discovery/entity-state.inc.php
  includes/discovery/functions.inc.php
  includes/discovery/vlans/aos6.inc.php
  includes/discovery/vlans/aos7.inc.php
  includes/discovery/vlans/boss.inc.php
  includes/discovery/vlans/jetstream.inc.php
  includes/discovery/vlans/junos.inc.php
  includes/discovery/vrf.inc.php
  includes/functions.php
  includes/html/forms/customoid.inc.php
  includes/html/forms/sensor-alert-reset.inc.php
  includes/html/forms/sensor-update.inc.php
  includes/html/forms/wireless-sensor-alert-reset.inc.php
  includes/html/forms/wireless-sensor-update.inc.php
  includes/html/modal/new_bill.inc.php
  includes/html/pages/syslog.inc.php
  includes/polling/applications/bird2.inc.php
  includes/polling/entity-physical/state.inc.php
  includes/polling/ports.inc.php
  includes/polling/unix-agent/munin-plugins.inc.php
  phpstan-baseline-deprecated.neon
Labels: Cleanup

#15447 Fix missing Mac class namespace
  resources/views/device/tabs/stp.blade.php
Labels: Bug :spider:, Ignore changelog :mute:

#15448 Timos MPLS nullables round 2
  LibreNMS/OS/Timos.php
Labels: Bug :spider:, Device :desktop_computer:

#15440 Send event log when alert rule fails
  LibreNMS/Alert/AlertRules.php
Labels: Alerting :bell:

#15449 Change port and BGP stats fields to unsigned
  database/migrations/2023_10_12_183306_ports_statistics_table_unsigned_stats.php
  database/migrations/2023_10_12_184311_bgp_peers_cbgp_table_unsigned_stats.php
  database/migrations/2023_10_12_184652_bgp_peers_table_unsigned_stats.php
  misc/db_schema.yaml
Labels: Bug :spider:, Schema

#15456 muteable acknowledged alert notifications
  LibreNMS/Alert/RunAlerts.php
  html/mix-manifest.json
  lang/en/settings.php
  misc/config_definitions.json
Labels: Feature, Alerting :bell:

#15444 Fortimail add mail queues message count
  includes/definitions/discovery/fortimail.yaml
  tests/data/fortimail.json
  tests/snmpsim/fortimail.snmprec
Labels: Device :desktop_computer:

#15450 Huawei VRP AP controller fixes
  LibreNMS/OS/Vrp.php
Labels: Bug :spider:, Device :desktop_computer:

#15439 Fix Top menu search on mobile respo
  html/css/styles.css
Labels: Bug :spider:

#15307 Adding Socket Statistics Application Support
  LibreNMS/Util/StringHelpers.php
  doc/Extensions/Applications.md
  includes/html/graphs/application/ss-common.inc.php
  includes/html/graphs/application/ss_dccp.inc.php
  includes/html/graphs/application/ss_inet.inc.php
  includes/html/graphs/application/ss_inet6.inc.php
  includes/html/graphs/application/ss_link.inc.php
  includes/html/graphs/application/ss_mptcp.inc.php
  includes/html/graphs/application/ss_netlink.inc.php
  includes/html/graphs/application/ss_raw.inc.php
  includes/html/graphs/application/ss_sctp.inc.php
  includes/html/graphs/application/ss_sockets.inc.php
  includes/html/graphs/application/ss_tcp.inc.php
  includes/html/graphs/application/ss_tipc.inc.php
  includes/html/graphs/application/ss_udp.inc.php
  includes/html/graphs/application/ss_unix.inc.php
  includes/html/graphs/application/ss_vsock.inc.php
  includes/html/graphs/application/ss_xdp.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/ss.inc.php
  includes/polling/applications/ss.inc.php
  includes/ss-shared.inc.php
  misc/alert_rules.json
  tests/data/linux_ss-v1.json
  tests/snmpsim/linux_ss-v1.snmprec
Labels: Applications :floppy_disk:

#15457 Always create rrd folder on localhost
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Poller.php
Labels: Bug :spider:, Polling

#15459 Graphing: error when device is not found
  includes/html/graphs/graph.inc.php
Labels: Bug :spider:

#15458 Restore _delta fields to signed
  database/migrations/2023_10_14_162039_restore_ports_delta_fields.php
  database/migrations/2023_10_14_162234_restore_bgp_peers_cbgp_delta_fields.php
  misc/db_schema.yaml
Labels: Bug :spider:, Schema

#15460 Unix Agent and Application fixes
  LibreNMS/Modules/LegacyModule.php
  includes/discovery/hr-device.inc.php
  includes/discovery/ucd-diskio.inc.php
  includes/polling/applications/apache.inc.php
  includes/polling/applications/asterisk.inc.php
  includes/polling/applications/bind.inc.php
  includes/polling/applications/cape.inc.php
  includes/polling/applications/ceph.inc.php
  includes/polling/applications/chronyd.inc.php
  includes/polling/applications/exim-stats.inc.php
  includes/polling/applications/freeradius.inc.php
  includes/polling/applications/freeswitch.inc.php
  includes/polling/applications/gpsd.inc.php
  includes/polling/applications/hv-monitor.inc.php
  includes/polling/applications/icecast.inc.php
  includes/polling/applications/linux_softnet_stat.inc.php
  includes/polling/applications/mailcow-postfix.inc.php
  includes/polling/applications/mailscanner.inc.php
  includes/polling/applications/memcached.inc.php
  includes/polling/applications/mysql.inc.php
  includes/polling/applications/nfs-stats.inc.php
  includes/polling/applications/nfs-v3-stats.inc.php
  includes/polling/applications/nginx.inc.php
  includes/polling/applications/ntp-client.inc.php
  includes/polling/applications/ntp-server.inc.php
  includes/polling/applications/opengridscheduler.inc.php
  includes/polling/applications/opensips.inc.php
  includes/polling/applications/powerdns-recursor.inc.php
  includes/polling/applications/powerdns.inc.php
  includes/polling/applications/powermon.inc.php
  includes/polling/applications/proxmox.inc.php
  includes/polling/applications/rrdcached.inc.php
  includes/polling/applications/shoutcast.inc.php
  includes/polling/applications/ss.inc.php
  includes/polling/applications/suricata_extract.inc.php
  includes/polling/applications/systemd.inc.php
  includes/polling/applications/tinydns.inc.php
  includes/polling/applications/unbound.inc.php
  includes/polling/applications/ups-apcups.inc.php
  includes/polling/applications/ups-nut.inc.php
  includes/polling/applications/voip-monitor.inc.php
  includes/polling/applications/wireguard.inc.php
  misc/config_definitions.json
Labels: Bug :spider:, Polling, Applications :floppy_disk:

#15462 Exclude availability module from default testing
  LibreNMS/Util/ModuleTestHelper.php
Labels: Tests :test_tube:

#15461 Module status cleanups
  LibreNMS/Modules/Isis.php
  LibreNMS/Modules/LegacyModule.php
  LibreNMS/Modules/Mempools.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/Modules/Nac.php
  LibreNMS/Modules/Netstats.php
  LibreNMS/Modules/Os.php
  LibreNMS/Modules/Ospf.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/Modules/Slas.php
  LibreNMS/Modules/Stp.php
  LibreNMS/Modules/Vminfo.php
  LibreNMS/Modules/Xdsl.php
  LibreNMS/Poller.php
  LibreNMS/Polling/ModuleStatus.php
  LibreNMS/Util/Module.php
Labels: Cleanup

#15465 Missing device ip translation
  lang/en/device.php
Labels: Translation

#15466 Fix rrd exists check
  LibreNMS/Data/Store/Rrd.php
Labels: Bug :spider:, Graphs

#15468 Never set bgp and ports delta fields to unsigned
  database/migrations/2023_10_12_183306_ports_statistics_table_unsigned_stats.php
  database/migrations/2023_10_12_184311_bgp_peers_cbgp_table_unsigned_stats.php
Labels: Bug :spider:, Schema

#15477 Fix Typo in FdbTablesController
  app/Http/Controllers/Table/FdbTablesController.php
Labels: Bug :spider:

#15467 Ports module: fix nulls not updating
  includes/polling/ports.inc.php
  tests/data/adva_fsp150_xg116proh.json
  tests/data/dell-compellent_scv3020.json
  tests/data/fortivoice.json
  tests/data/scs-ks.json
  tests/data/siteboss550.json
  tests/snmpsim/adva_fsp150_xg116proh.snmprec
  tests/snmpsim/dell-compellent_scv3020.snmprec
  tests/snmpsim/fortivoice.snmprec
  tests/snmpsim/scs-ks.snmprec
  tests/snmpsim/siteboss550.snmprec
Labels: Bug :spider:, Polling

#15469 API: allow add device to set location
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API

#15472 Ports min polled period of 1
  includes/polling/ports.inc.php
Labels: Bug :spider:, Polling

#15481 Fix FDB table ip addresses missing
  app/Http/Controllers/Table/FdbTablesController.php
Labels: Bug :spider:, WebUI

#15480 Fix Device ip address mutator
  app/Models/Device.php
Labels: Bug :spider:

#15479 ARP Discovery use MacHelper
  includes/discovery/arp-table.inc.php
Labels: Cleanup

#15330 Add alert transport for Grafana Oncall
  LibreNMS/Alert/Transport/Grafana.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#15483 Fix polling down retry (and other items)
  LibreNMS/OS.php
  LibreNMS/Poller.php
  LibreNMS/Polling/Result.php
  app/Console/Commands/DevicePoll.php
  lang/en/commands.php
Labels: Bug :spider:, Polling

#14753 Mcc valere
  LibreNMS/OS/Valere.php
  includes/definitions/discovery/valere.yaml
  mibs/eltek/ELTEK-BC2000-DC-POWER-MIB
  mibs/eltek/VALERE-DC-POWER-MIB
  tests/data/valere_bc2000.json
  tests/snmpsim/valere_bc2000.snmprec
Labels: Device :desktop_computer:

#15487 Fix auth_ad_url validation
  misc/config_definitions.json
Labels: Bug :spider:

#15488 Cisco ASA table add alert defaults
  database/migrations/2023_10_20_075853_cisco_asa_add_default_limits.php
  misc/db_schema.yaml
Labels: Schema, Ignore changelog :mute:

#15491 IS-IS polling handle missing data
  LibreNMS/Modules/Isis.php
Labels: Bug :spider:, Polling

#15492 Fix websensor temp user_func
  includes/discovery/sensors/temperature/websensor.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#15500 Fix poller perf graph time
  LibreNMS/Poller.php
Labels: Bug :spider:

#15502 German translation corrected and some visual improvements added.
  lang/de/auth.php
  lang/de/sensors.php
  lang/de/settings.php
  lang/de/syslog.php
  lang/de/validation.php
Labels: Translation

#15503 German and English typo correction
  lang/de/sensors.php
  lang/en/sensors.php
Labels: Translation

#15505 Redirect old install docs
  doc/Extensions/RRDCached.md
  doc/Extensions/Smokeping.md
  doc/Extensions/Varnish.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Installation/Installation-CentOS-7-Apache.md
  doc/Installation/Installation-CentOS-7-Nginx.md
  doc/Installation/Installation-Ubuntu-1604-Apache.md
  doc/Installation/Installation-Ubuntu-1604-Nginx.md
  doc/Installation/Installation-Ubuntu-1804-Apache.md
  doc/Installation/Installation-Ubuntu-1804-Nginx.md
  mkdocs.yml
Labels: Documentation :book:

#15506 Fix API get_location by ID
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#15504 IP::fromHexString handle ascii
  LibreNMS/Util/IP.php
  LibreNMS/Util/StringHelpers.php
  includes/functions.php
  tests/IpTest.php
Labels: Bug :spider:

#15508 Ospf metrics fix
  LibreNMS/Modules/Ospf.php
Labels: Bug :spider:

#15515 Add Support for Samlex America PSR-1200-48 Inverters
  html/images/os/samlex.png
  includes/definitions/discovery/samlex.yaml
  includes/definitions/samlex.yaml
  mibs/samlex/SAMLEXAMERICA-MIB
  tests/data/samlex_psr-1200-48.json
  tests/snmpsim/samlex_psr-1200-48.snmprec
Labels: Device :desktop_computer:

#15514 Print stack trace in error dumps
  app/Providers/ErrorReportingProvider.php
Labels: Internal Features

#15498 Plugin update (breaking)
  app/Plugins/ExamplePlugin/DeviceOverview.php
  app/Plugins/ExamplePlugin/Menu.php
  app/Plugins/ExamplePlugin/Page.php
  app/Plugins/ExamplePlugin/PortTab.php
  app/Plugins/ExamplePlugin/Settings.php
  app/Plugins/ExamplePlugin/resources/views/device-overview.blade.php
  app/Plugins/ExamplePlugin/resources/views/menu.blade.php
  app/Plugins/Hooks/DeviceOverviewHook.php
  app/Plugins/Hooks/MenuEntryHook.php
  app/Plugins/Hooks/PageHook.php
  app/Plugins/Hooks/PortTabHook.php
  app/Plugins/Hooks/SettingsHook.php
  app/Plugins/PluginManager.php
  doc/Extensions/Plugin-System.md
  misc/config_definitions.json
  resources/views/plugins/settings.blade.php
Labels: WebUI, Breaking-Change

#15512 SnmpQuery runtime cache
  LibreNMS/Data/Source/NetSnmpQuery.php
  LibreNMS/Data/Source/SnmpQueryInterface.php
  LibreNMS/Data/Source/SnmpResponse.php
  tests/Mocks/SnmpQueryMock.php
Labels: Internal Features

#15521 Changed log item, source(s_sys) to source(s_src)
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#15516 Add support for Nokia 1830 PSS Optical gear
  includes/definitions/discovery/nokia-1830.yaml
  includes/definitions/nokia-1830.yaml
  mibs/nokia/1830/TROPIC-ACCESSPORT-MIB
  mibs/nokia/1830/TROPIC-ALARMPANEL-MIB
  mibs/nokia/1830/TROPIC-AMPLIFIER-MIB
  mibs/nokia/1830/TROPIC-CARD-MIB
  mibs/nokia/1830/TROPIC-CONTROLCARD-MIB
  mibs/nokia/1830/TROPIC-FAN-MIB
  mibs/nokia/1830/TROPIC-GLOBAL-REG
  mibs/nokia/1830/TROPIC-OCH-MIB
  mibs/nokia/1830/TROPIC-OPTICALPORT-MIB
  mibs/nokia/1830/TROPIC-SOFTWARE-MIB
  mibs/nokia/1830/TROPIC-SYSTEM-MIB
  mibs/nokia/1830/TROPIC-TC
  tests/data/nokia-1830_pss8-multichassis.json
  tests/snmpsim/nokia-1830_pss8-multichassis.snmprec
Labels: Device :desktop_computer:

#15525 Add sysObjectIDs for other models of PSS shelves
  includes/definitions/nokia-1830.yaml
Labels: Device :desktop_computer:

#15529 Fix Ciscowlc error when bsnApIfNoOfUsers is not present
  LibreNMS/OS/Ciscowlc.php
Labels: Bug :spider:, Polling

#15387 Smokeping menu and title use device displayname
  app/Console/Commands/SmokepingGenerateCommand.php
  tests/SmokepingCliTest.php
Labels: Bug :spider:

#15528 OSPF tables fix integer types
  database/migrations/2023_10_31_074547_ospf_areas_unsigned.php
  database/migrations/2023_10_31_074901_ospf_instances_unsigned.php
  database/migrations/2023_10_31_075239_ospf_nbrs_unsigned.php
  database/migrations/2023_10_31_080052_ospf_ports_unsigned.php
  misc/db_schema.yaml
Labels: Bug :spider:, Schema

#15530 Respect web_mouseover setting in popup component
  app/View/Components/Popup.php
  resources/views/components/nopopup.blade.php
Labels: Bug :spider:, WebUI

#15532 Added BGP Remote peer link and graph in Routing Overview
  includes/html/pages/routing/bgp.inc.php
Labels: WebUI

#15533 bug - string VS array
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Bug :spider:

#15534 bug - Fix missing device_id in NAC tab view
  resources/views/device/tabs/nac.blade.php
Labels: Bug :spider:
