Repository librenms/librenms, pull requests merged in 2023-03, with the labels that each got.

#14815 update various device graphs to to have better stats
  includes/html/graphs/device/availability.inc.php
  includes/html/graphs/device/hr_processes.inc.php
  includes/html/graphs/device/hr_users.inc.php
  includes/html/graphs/device/ping_perf.inc.php
  includes/html/graphs/device/poller_perf.inc.php
  includes/html/graphs/device/ucd_contexts.inc.php
  includes/html/graphs/device/ucd_cpu_steal.inc.php
  includes/html/graphs/device/ucd_interrupts.inc.php
  includes/html/graphs/device/ucd_io_wait.inc.php
  includes/html/graphs/device/uptime.inc.php
Labels: Graphs

#14828 Add Fortigate packet loss monitoring for Link-Monitor and SD-WAN
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate_link-monitor.json
  tests/data/fortigate_sdwan.json
  tests/snmpsim/fortigate_sdwan.snmprec
Labels: Device :desktop_computer:

#14818 update fail2ban to have better stat graphs and and fix generic_stats graph.php
  includes/html/graphs/application/fail2ban_banned.inc.php
  includes/html/graphs/application/fail2ban_jail.inc.php
  includes/html/graphs/generic_stats.inc.php
  misc/config_definitions.json
Labels: Graphs

#14870 Add Azure example configuration for SAML authentication in documentation
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#14872 Add Cisco Firepower 4112 Support
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:

#14875 Add multi-PR GitHub-apply
  scripts/github-apply
Labels: Miscellaneous

#14873 Add Fortigate Webfilter stats
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate_webfilter.json
  tests/snmpsim/fortigate_webfilter.snmprec
Labels: Device :desktop_computer:

#14876 Improve Corero CMS support
  includes/definitions/cms.yaml
  includes/definitions/discovery/cms.yaml
  mibs/corero/CORERO-CMS-CLUSTERS-MIB
  mibs/corero/CORERO-CMS-DEVICES-MIB
  mibs/corero/CORERO-CMS-SEGMENTS-MIB
  mibs/corero/CORERO-CMS-STATISTICS-MIB
  mibs/corero/CORERO-CMS-SYSTEM-STATUS-MIB
  tests/data/cms.json
  tests/snmpsim/cms.snmprec
Labels: Device :desktop_computer:

#14834 convert NTP freq to use generic_stats
  includes/html/graphs/application/ntp-client_freq.inc.php
  includes/html/graphs/application/ntp-server_freq.inc.php
Labels: Graphs

#14884 actually use the stats graph for ntp-server_freq now, which as missed in #14834
  includes/html/graphs/application/ntp-server_freq.inc.php
Labels: Bug :spider:

#14888 Update phpstan baseline
  phpstan-baseline-deprecated.neon
Labels: Ignore changelog :mute:

#14874 Add Avocent MergePoint Unity KVM Switch Support
  html/images/logos/vertiv.png
  html/images/logos/vertiv.svg
  html/images/os/vertiv.png
  html/images/os/vertiv.svg
  includes/definitions/avocent-mp.yaml
  includes/definitions/discovery/avocent-mp.yaml
  tests/data/avocent-mp.json
  tests/snmpsim/avocent-mp.snmprec
Labels: Device :desktop_computer:

#14893 Add Cisco FTD Support for security appliances (x3)
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:

#14653 APC: Add support for Battery Recommended Days Remaining
  LibreNMS/Exceptions/UserFunctionExistException.php
  LibreNMS/Util/Number.php
  LibreNMS/Util/Time.php
  LibreNMS/Util/UserFuncHelper.php
  includes/definitions/discovery/apc.yaml
  includes/definitions/discovery/loop-telecom.yaml
  includes/definitions/discovery/primekey.yaml
  includes/discovery/functions.inc.php
  includes/polling/functions.inc.php
  tests/OSModulesTest.php
  tests/data/apc_sua750i.json
  tests/data/loop-telecom_loop-am3440-ccpb-a.json
  tests/data/primekey_ejbca.json
  tests/snmpsim/apc_sua750i.snmprec
Labels: Device :desktop_computer:

#14890 Re-throw exceptions if we're in CI
  includes/discovery/functions.inc.php
  includes/polling/functions.inc.php
Labels: Tests :test_tube:

#14883 Jira transport: use template title
  LibreNMS/Alert/Transport/Jira.php
Labels: Alerting :bell:

#14900 Store empty user_func as null
  database/migrations/2023_03_14_130653_migrate_empty_user_funcs_to_null.php
Labels: Cleanup

#14858 Fix dbm calculation to return -60 instead of 0
  includes/common.php
  tests/data/iosxr_asr9001.json
  tests/data/iosxr_asr9010.json
  tests/data/iosxr_asr9901.json
Labels: Bug :spider:

#14424 Syslog sink over http for logstash (or any json source)
  doc/API/Logs.md
  doc/Developing/Creating-Documentation.md
  doc/Extensions/Syslog.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: Feature

#14904 FTD: Add more OIDs for determining hardware and serial attributes correctly
  includes/definitions/discovery/ftd.yaml
Labels: Device :desktop_computer:

#14908 Add support for Trellix FireEye OS
  html/images/logos/trellix.svg
  html/images/os/trellix.svg
  includes/definitions/discovery/feos.yaml
  includes/definitions/feos.yaml
  mibs/trellix/FE-FIREEYE-MIB
  tests/data/feos_nx6500.json
  tests/snmpsim/feos_nx6500.snmprec
Labels: Device :desktop_computer:

#14907 Added cisco FTD 1150 to ftd.yaml
  includes/definitions/ftd.yaml
Labels: Device :desktop_computer:

#14852 Add Montclair EDFA Support
  html/images/logos/montclair.svg
  html/images/os/montclair.svg
  includes/definitions/discovery/montclair-edfa.yaml
  includes/definitions/montclair-edfa.yaml
  mibs/montclair/Montclair-MIB
  tests/data/montclair-edfa_mhfa32.json
  tests/snmpsim/montclair-edfa_mhfa32.snmprec
Labels: Device :desktop_computer:

#14661 Device: Deltanet Lambdatrail LT2-S,HS
  html/images/logos/lambdatrail.svg
  html/images/os/lambdatrail.svg
  includes/definitions/discovery/lambdatrail.yaml
  includes/definitions/lambdatrail.yaml
  mibs/deltanet/Deltanet-MIB
  mibs/deltanet/LAMBDATRAIL-MIB
  mibs/deltanet/Lambdatrail2s-MIB
  tests/data/lambdatrail_hs.json
  tests/data/lambdatrail_lt2-s.json
  tests/snmpsim/lambdatrail_hs.snmprec
  tests/snmpsim/lambdatrail_lt2-s.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14922 Add additional 7130 devices
  includes/definitions/arista-mos.yaml
Labels: Device :desktop_computer:

#14927 PHP dependency update
  composer.lock
Labels: Dependencies
