Repository librenms/librenms, pull requests merged in 2023-12, with the labels that each got.

#15610 Updated support for HiveOS Wireless newer models
  includes/definitions/hiveos-wireless.yaml
  tests/data/hiveos-wireless_ap305c-1.json
  tests/snmpsim/hiveos-wireless_ap305c-1.snmprec
Labels: Device :desktop_computer:

#15453 Added support of new OS for NTP/PTP systems: Meinberg OS, Safran (Orolia), Oscilloquartz (Adva)
  html/images/logos/orolia.svg
  html/images/os/orolia.svg
  includes/definitions/adva_fsp150cm.yaml
  includes/definitions/discovery/adva_fsp150cm.yaml
  includes/definitions/discovery/mbg-meinbergos.yaml
  includes/definitions/discovery/orolia-securesync.yaml
  includes/definitions/mbg-meinbergos.yaml
  includes/definitions/orolia-securesync.yaml
  mibs/adva/F3-NTP-MIB
  mibs/meinberg/MEINBERG-OS-MIB
  mibs/spectracom/SPECTRACOM-GLOBAL-MIB
  mibs/spectracom/SPECTRACOM-NTP-V4-MIB
  mibs/spectracom/SPECTRACOM-PTP-MIB
  mibs/spectracom/SPECTRACOM-PTPBASE-MIB
  mibs/spectracom/SPECTRACOM-XSYNC-MIB
  tests/data/adva_fsp150cm_osa.json
  tests/data/mbg-meinbergos_mbg-meinbergos.json
  tests/data/orolia-securesync_orolia-securesync.json
  tests/snmpsim/adva_fsp150cm_osa.snmprec
  tests/snmpsim/mbg-meinbergos_mbg-meinbergos.snmprec
  tests/snmpsim/orolia-securesync_orolia-securesync.snmprec
Labels: Device :desktop_computer:

#15602 Incorrect discovery APC Smart-UPS RT 3000 XL 4.1 ( APC Web/SNMP Management Card (AP9619 MB:v4.1.1 PF:v3.9.4) as multi-phase ups
  includes/discovery/sensors/current/apc.inc.php
  includes/discovery/sensors/voltage/apc.inc.php
  tests/data/apc_surt3000xl.json
  tests/snmpsim/apc_surt3000xl.snmprec
Labels: Device :desktop_computer:

#15573 Updated regex for HWG STE2 r2 to better detect hardware and software version
  includes/definitions/discovery/hwg-ste2.yaml
  tests/data/hwg-ste2.json
  tests/snmpsim/hwg-ste2.snmprec
Labels: Device :desktop_computer:

#15613 bug - null checks in Nokia MPLS polling
  LibreNMS/OS/Timos.php
Labels: Bug :spider:

#15616 fix formatting in OAuth-SAML.md
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#15617 bug - ADSL ifIndex to port error not handled
  LibreNMS/Modules/Xdsl.php
Labels: Bug :spider:

#15615 Fix grabled characters when oid already UTF-8
  includes/discovery/sensors/rittal-cmc-iii-sensors.inc.php
  includes/polling/ports.inc.php
Labels: Bug :spider:, WebUI

#15619 Add vendor to searchby rules function
  app/Http/Controllers/Table/FdbTablesController.php
Labels: Bug :spider:, WebUI

#15618 Add memory readings for Draytek OS
  includes/definitions/discovery/draytek.yaml
  tests/data/draytek.json
  tests/data/draytek_vdsl.json
  tests/data/draytek_vigor2962.json
  tests/snmpsim/draytek_vigor2962.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15628 bug - TPLink - fix null exception for LLDP discovery WIP
  includes/discovery/discovery-protocols.inc.php
Labels: Bug :spider:

#15606 bug - Nokia discovery protocols
  includes/discovery/discovery-protocols.inc.php
Labels: Bug :spider:, Refactor, Pending Review

#15635 Fix documentation formatting
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#15632 Add support for Forcepoint NGFW 6.10 and older
  html/images/logos/forcepoint.png
  html/images/os/forcepoint.png
  includes/definitions/discovery/forcepoint.yaml
  includes/definitions/forcepoint.yaml
  includes/discovery/storage/forcepoint.inc.php
  includes/polling/storage/forcepoint.inc.php
  mibs/forcepoint/STONESOFT-FIREWALL-MIB
  mibs/forcepoint/STONESOFT-NETNODE-MIB
  mibs/forcepoint/STONESOFT-SMI-MIB
  tests/data/forcepoint_forcepoint-ngfw-330.json
  tests/snmpsim/forcepoint_forcepoint-ngfw-330.snmprec
Labels: Device :desktop_computer:

#15622 Update alertlog query to be more efficient
  includes/html/table/alertlog.inc.php
Labels: WebUI

#15642 Fix OcNOS detection for recent firmware versions
  includes/definitions/ocnos.yaml
  tests/snmpsim/ocnos_s9500-30xs.snmprec
Labels: Device :desktop_computer:

#15647 Update the type of nummonbssid column in the access_points table
  database/migrations/2023_12_15_105529_access_points_nummonbssid_integer.php
  misc/db_schema.yaml
Labels: Schema

#15649 Add bad port settings to webui
  lang/en/settings.php
  lang/it/settings.php
  lang/uk/settings.php
  lang/zh-TW/settings.php
  misc/config_definitions.json
Labels: WebUI, Settings

#15650 Mark old alert email settings as deprecated
  lang/en/settings.php
  misc/config_definitions.json
Labels: WebUI, Settings

#15614 bug - XDSL adslAtucCurrOutputPwr exception (Cisco CSCvj53634)
  LibreNMS/Modules/Xdsl.php
  LibreNMS/Util/Number.php
  tests/FunctionsTest.php
Labels: Bug :spider:

#15611 Link Model
  app/Http/Controllers/Device/Tabs/NeighboursController.php
  app/Models/Device.php
  app/Models/Link.php
  app/Models/Port.php
Labels: Schema

#15596 device - McAfee Web Gateway -> SkyHigh Web Gateway
  html/images/logos/skyhigh.png
  html/images/os/skyhigh.png
  includes/definitions/discovery/skyhighwebprotect.yaml
  includes/definitions/mcafeewebgateway.yaml
  includes/definitions/skyhighwebprotect.yaml
  mibs/skyhigh/SKYHIGHSECURITY-SMI
  mibs/skyhigh/SKYHIGHSECURITY-SWG-MIB
  tests/data/skyhighwebprotect_swg121.json
  tests/data/skyhighwebprotect_swg122.json
  tests/snmpsim/mcafeewebgateway.snmprec
  tests/snmpsim/skyhighwebprotect_swg121.snmprec
  tests/snmpsim/skyhighwebprotect_swg122.snmprec
Labels: Device :desktop_computer:

#15651 Update javascript dependencies
  html/css/app.css
  html/css/vendor.css
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  package-lock.json
Labels: Dependencies

#15652 Update Pushover.php
  LibreNMS/Alert/Transport/Pushover.php
Labels: WebUI

#15639 bug - Fix Cisco NTP values
  includes/polling/ntp/cisco.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#15637 API add_device: Add ping_ping fallback option
  doc/API/Devices.md
  includes/html/api_functions.inc.php
Labels: API

#15276 Zhone health
  includes/definitions/discovery/slms.yaml
  includes/definitions/slms.yaml
  includes/discovery/ports.inc.php
  includes/discovery/ports/slms.inc.php
  includes/polling/ports/os/slms.inc.php
  mibs/zhone/ZHONE-CARD-RESOURCES-MIB
  mibs/zhone/ZHONE-INTERFACE-TRANSLATION-MIB
  mibs/zhone/ZHONE-MIB
  mibs/zhone/ZHONE-TC-MIB
  tests/data/slms.json
  tests/snmpsim/slms.snmprec
Labels: Device :desktop_computer:

#15620 bug - bgp-peers error in Timos -> dbFacile cleanup
  includes/discovery/bgp-peers/timos.inc.php
  tests/data/timos.json
  tests/data/timos_7705-pmc.json
  tests/data/timos_7705.json
  tests/data/timos_hc.json
  tests/data/timos_ixr-s.json
Labels: Bug :spider:, Refactor

#15626 bug - FDB Table - allow empty searchby as well
  app/Http/Controllers/Table/FdbTablesController.php
Labels: Bug :spider:, WebUI

#15624 bug - timos MPLS - more poller fixes
  LibreNMS/Modules/Mpls.php
  LibreNMS/OS/Timos.php
  database/migrations/2023_12_08_184652_mpls_addrtype_fix.php
  misc/db_schema.yaml
  phpstan-baseline.neon
Labels: Bug :spider:, Device :desktop_computer:

#15653 WebUI - Filter FDB and ARP tabs in port page if empty
  includes/html/pages/device/port.inc.php
Labels: WebUI

#15657 bug - "null" checks for SAR 7705 release 8.X
  LibreNMS/OS/Timos.php
Labels: Bug :spider:

#15656 bug - missing "use" statement in NTP Cisco
  includes/polling/ntp/cisco.inc.php
Labels: Bug :spider:

#14948 Fix wrong ASN discovery on non-BGP Devices
  includes/discovery/bgp-peers.inc.php
  tests/data/vrp_ce12804-withvrf.json
  tests/snmpsim/vrp_ce12804-withvrf.snmprec
Labels: Bug :spider:, Discovery, Device :desktop_computer:

#15659 Fix pagination in alert rules page
  includes/html/print-alert-rules.php
Labels: Bug :spider:

#15661 Added better support for some HiveOS Wireless devices
  includes/definitions/hiveos-wireless.yaml
Labels: Device :desktop_computer:

#15660 Fix HPE iLO CPU Status Sensor Description
  includes/definitions/discovery/hpe-ilo.yaml
  tests/data/hpe-ilo_4.json
  tests/data/hpe-ilo_4_with_bat_checks.json
  tests/data/hpe-ilo_5_with_bat_checks.json
  tests/data/hpe-ilo_hpe-ilo6-with-vmware.json
Labels: Device :desktop_computer:

#15663 New utility Number::constrainInteger()
  LibreNMS/Enum/IntegerType.php
  LibreNMS/Modules/Xdsl.php
  LibreNMS/Util/Number.php
  tests/FunctionsTest.php
Labels: Internal Features

#15667 Use Number::constrainInteger instead of unsignedToSigned in Cisco NTP poller
  includes/polling/ntp/cisco.inc.php
Labels: Bug :spider:, Ignore changelog :mute:

#15640 Fixing memory scale for datacom-dmos devices
  includes/definitions/discovery/datacom-dmos.yaml
  tests/data/datacom-dmos_dm4610-hw2.json
  tests/data/datacom-dmos_dm4611.json
  tests/data/datacom-dmos_dm4616.json
  tests/data/datacom-dmos_dm4618.json
  tests/data/datacom-dmos_dm4770.json
  tests/snmpsim/datacom-dmos_dm4610-hw2.snmprec
  tests/snmpsim/datacom-dmos_dm4611.snmprec
  tests/snmpsim/datacom-dmos_dm4616.snmprec
  tests/snmpsim/datacom-dmos_dm4618.snmprec
  tests/snmpsim/datacom-dmos_dm4770.snmprec
Labels: Device :desktop_computer:

#15666 device - Add Cisco REP Segment state sensor
  includes/discovery/sensors/state/cisco.inc.php
  tests/data/ios_2960x.json
  tests/data/ios_ie2000.json
  tests/data/ios_stp-vlans.json
  tests/snmpsim/ios_ie2000.snmprec
Labels: Device :desktop_computer:

#15672 fix smart application parsing
  includes/polling/applications/smart.inc.php
  tests/data/linux_smart-legacy.json
Labels: Bug :spider:
