Repository librenms/librenms, pull requests merged in 2023-11, with the labels that each got.

#15537 bug - Fix missing device_id in NAC tab view, round 2
  resources/views/device/tabs/nac.blade.php
Labels: Bug :spider:, Ignore changelog :mute:

#15531 Cisco WLC: fetch LWAPP SSIDs for client counts
  LibreNMS/OS/Ciscowlc.php
Labels: Device :desktop_computer:

#15538 UCD buffers and cache discovered with inverted free/used values
  LibreNMS/OS/Traits/UcdResources.php
  tests/data/adva_xg300_xg304.json
  tests/data/airos-af-ltu_1.4.0.json
  tests/data/apex-lynx.json
  tests/data/aprisa.json
  tests/data/avocent_6000.json
  tests/data/avocent_8000.json
  tests/data/barracudaspamfirewall.json
  tests/data/barracudaspamfirewall_email-sg.json
  tests/data/barracudawafirewall.json
  tests/data/dell-ome-m_dell-ome-m.json
  tests/data/ericsson-ml.json
  tests/data/fortiauthenticator.json
  tests/data/helios.json
  tests/data/marathonups.json
  tests/data/netonix_wispswitch.json
  tests/data/netvision-rfc.json
  tests/data/occamos_b6-316.json
  tests/data/opengear.json
  tests/data/opengear_humidity.json
  tests/data/osag.json
  tests/data/pcoweb-rittal-lcp-3311_lcp-dx-3311.json
  tests/data/pcoweb-rittalchiller.json
  tests/data/picos.json
  tests/data/saf-integra-e.json
  tests/data/saf-integra-x.json
  tests/data/ts-bspdu.json
Labels: Bug :spider:, Discovery

#15539 New command: lnms report:devices
  LibreNMS/Poller.php
  app/Console/Commands/DevicePing.php
  app/Console/Commands/ReportDevices.php
  app/Console/Commands/SnmpFetch.php
  app/Console/SyntheticDeviceField.php
  app/Models/BaseModel.php
  app/Models/Device.php
  lang/en/commands.php
Labels: Feature

#15541 Fix health temperature degree display
  includes/discovery/sensors/temperature/apc.inc.php
  includes/html/pages/device/health/temperature.inc.php
  includes/html/pages/device/overview/sensors/temperature.inc.php
  includes/html/pages/health/temperature.inc.php
Labels: Bug :spider:, WebUI

#15542 [bugfix] Passing $device into data_update_helper functions instead of declaring it as global.
  includes/polling/applications/ss.inc.php
  includes/polling/applications/systemd.inc.php
Labels: Bug :spider:

#15484 vertiv pdu mg02e4w1
  includes/definitions/discovery/vertiv-pdu.yaml
  includes/definitions/vertiv-pdu.yaml
  tests/data/vertiv-pdu_mg02e4w1.json
  tests/snmpsim/vertiv-pdu_mg02e4w1.snmprec
Labels: Device :desktop_computer:

#15493 API: get poller group
  doc/API/PollerGroups.md
  includes/html/api_functions.inc.php
  mkdocs.yml
  routes/api.php
Labels: API

#15485 Dark mode fix routing tabs & pages
  includes/html/pages/device/routing/bgp.inc.php
  includes/html/pages/device/routing/cef.inc.php
  includes/html/pages/device/routing/vrf.inc.php
  includes/html/pages/routing/vrf.inc.php
  includes/html/print-vrf.inc.php
Labels: Bug :spider:

#15490 TrueNAS no longer supports zpool space usage
  includes/discovery/storage/freenas-zpool.inc.php
  includes/polling/storage/freenas-zpool.inc.php
  mibs/ixsystems/TRUENAS-MIB
  tests/data/truenas.json
  tests/data/truenas_11-3.json
Labels: Bug :spider:, Device :desktop_computer:

#15392 apc ap 7900b
  includes/definitions/discovery/apc.yaml
  includes/discovery/sensors/voltage/apc.inc.php
  tests/data/apc_ap7900b.json
  tests/snmpsim/apc_ap7900b.snmprec
Labels: Device :desktop_computer:

#15381 Add definition fujifilmprinter
  html/images/logos/fujifilm.svg
  html/images/os/fujifilm.svg
  includes/definitions/discovery/fujifilmprinter.yaml
  includes/definitions/fujifilmprinter.yaml
  tests/data/fujifilmprinter_c7580.json
  tests/data/fujifilmprinter_c810.json
  tests/snmpsim/fujifilmprinter_c7580.snmprec
  tests/snmpsim/fujifilmprinter_c810.snmprec
Labels: Device :desktop_computer:

#15293 Initial support for Moxa EDS-4000 Series switches
  includes/definitions/discovery/moxa-eds-4000-series.yaml
  includes/definitions/moxa-eds-4000-series.yaml
  mibs/moxa/MOXA-DEVICE-IO-MIB
  mibs/moxa/MOXA-GENERAL-MIB
  mibs/moxa/MOXA-PORT-MIB
  mibs/moxa/MOXA-SYSTEM-INFO-MIB
  mibs/moxa/MOXA-SYSTEM-UTILIZATION-MIB
  tests/data/moxa-eds-4000-series_eds-4012-4gc.json
  tests/snmpsim/moxa-eds-4000-series_eds-4012-4gc.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15464 Add FortiGate Environment stats
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate.json
  tests/data/fortigate_1500d-sensors.json
  tests/data/fortigate_1500d.json
  tests/data/fortigate_500d.json
  tests/data/fortigate_60f.json
  tests/data/fortigate_cluster-60f.json
  tests/data/fortigate_webfilter.json
  tests/snmpsim/fortigate_60f.snmprec
Labels: Device :desktop_computer:

#15225 rework: Cisco SB Switch Temp and Fanspeed fix
  includes/definitions/discovery/ciscosb.yaml
  tests/data/ciscosb_cbs250-24p-4x-v3.json
  tests/data/ciscosb_cbs350.json
  tests/data/ciscosb_esw540-8p.json
  tests/data/ciscosb_sg350x-24p.json
  tests/data/ciscosb_sg350x-48.json
  tests/data/ciscosb_sg550x-24.json
  tests/data/ciscosb_sg550x-8f8t.json
  tests/snmpsim/ciscosb.json
  tests/snmpsim/ciscosb_cbs250-24p-4x-v3.snmprec
  tests/snmpsim/ciscosb_cbs250-24p-4x.snmprec
Labels: Device :desktop_computer:

#15522 Added values from SFP DDM values for awplus switches
  includes/discovery/sensors/current/awplus.inc.php
  includes/discovery/sensors/dbm/awplus.inc.php
  includes/discovery/sensors/pre-cache/awplus.inc.php
  includes/discovery/sensors/temperature/awplus.inc.php
  includes/discovery/sensors/voltage/awplus.inc.php
  tests/data/awplus_sfp.json
  tests/snmpsim/awplus_sfp.snmprec
Labels: Device :desktop_computer:

#15108 Add support eltex more devices
  includes/definitions/eltex-mes21xx.yaml
  includes/definitions/eltex-mes23xx.yaml
  includes/definitions/eltex-olt.yaml
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14915 Add Quantum Scalar I6000 Tape Library
  html/images/os/quantum.svg
  includes/definitions/discovery/quantum.yaml
  includes/definitions/quantum.yaml
  mibs/adic/ADIC-INTELLIGENT-STORAGE-MIB
  mibs/adic/ADIC-MANAGEMENT-MIB
  mibs/adic/ADIC-SANMGR-PROXY-MIB
  tests/data/quantum_scalari6000.json
  tests/snmpsim/quantum_scalari6000.snmprec
Labels: Device :desktop_computer:

#15445 Add support for FiberStore "data center" switches
  includes/definitions/discovery/fs-switch-dc.yaml
  includes/definitions/fs-switch-dc.yaml
  mibs/CAPWAP-BASE-MIB-draft06
  mibs/fs/FS-AC-MGMT-MIB
  mibs/fs/FS-ENTITY-MIB
  mibs/fs/FS-FIBER-MIB
  mibs/fs/FS-MEMORY-MIB
  mibs/fs/FS-PROCESS-MIB
  mibs/fs/FS-SMI
  mibs/fs/FS-SYSTEM-MIB
  mibs/fs/FS-TC
  tests/data/fs-switch-dc_fs-switch-dc.json
  tests/snmpsim/fs-switch-dc_fs-switch-dc.snmprec
Labels: Device :desktop_computer:

#15053 Axis: Add support for Security Radar
  includes/definitions/axiscam.yaml
  tests/snmpsim/axiscam_d2110ve
Labels: Device :desktop_computer:

#15436 Adding basic support for Datacom DmOS devices.
  includes/definitions/datacom-dmos.yaml
  includes/definitions/discovery/datacom-dmos.yaml
  mibs/datacom/DMOS-SYSMON-MIB
  mibs/datacom/DMOS-TC-MIB
  tests/data/datacom-dmos_dm4610-hw2.json
  tests/data/datacom-dmos_dm4611.json
  tests/data/datacom-dmos_dm4616.json
  tests/data/datacom-dmos_dm4618.json
  tests/data/datacom-dmos_dm4770.json
  tests/snmpsim/datacom-dmos_dm4610-hw2.snmprec
  tests/snmpsim/datacom-dmos_dm4611.snmprec
  tests/snmpsim/datacom-dmos_dm4616.snmprec
  tests/snmpsim/datacom-dmos_dm4618.snmprec
  tests/snmpsim/datacom-dmos_dm4770.snmprec
Labels: Device :desktop_computer:

#15010 Add disk sensors for Oceanstor
  includes/definitions/discovery/oceanstor.yaml
  tests/data/oceanstor_dorado3k.json
  tests/snmpsim/oceanstor_dorado3k.snmprec
Labels: Device :desktop_computer:

#15518 Misc device column cleanups
  LibreNMS/Polling/ConnectivityHelper.php
  app/Models/Device.php
Labels: Schema, Cleanup

#13864 Add Panorama log collection write rate
  includes/definitions/discovery/panos.yaml
  tests/data/panos.json
  tests/snmpsim/panos.snmprec
Labels: Device :desktop_computer:

#14223 Dantherm hostname
  LibreNMS/OS/DanthermOs.php
  tests/data/dantherm-os.json
  tests/snmpsim/dantherm-os.snmprec
Labels: Device :desktop_computer:

#15543 Vertiv PDU show power graph in mouesover and device overview
  includes/definitions/vertiv-pdu.yaml
Labels: Device :desktop_computer:

#15545 Fix Down/Up time error if device is unpolled
  app/Models/Device.php
Labels: Bug :spider:, WebUI

#14921 Fix Fortinet HA-status polling state translations
  includes/discovery/sensors/state/fortigate.inc.php
  tests/data/fortigate_1500d-sensors.json
  tests/data/fortigate_1500d.json
  tests/data/fortigate_cluster-60f.json
  tests/data/fortigate_webfilter.json
Labels: Bug :spider:, Device :desktop_computer:

#14895 Increase max package name length to 128 characters
  database/migrations/2023_11_04_125846_packages_increase_name_column_length.php
  misc/db_schema.yaml
Labels: Bug :spider:

#15549 Wifi module does not exist anymore
  includes/definitions/airos-af-ltu.yaml
  includes/definitions/airos-af.yaml
  includes/definitions/airos-af60.yaml
  includes/definitions/alfo80hd.yaml
  includes/definitions/siklu.yaml
  includes/definitions/sub10.yaml
  includes/polling/wifi.inc.php
  lang/en/settings.php
  lang/fr/settings.php
  lang/it/settings.php
  lang/uk/settings.php
  misc/os_schema.json
Labels: Cleanup

#15546 Prometheus on failure, disable for rest of run
  LibreNMS/Data/Store/Prometheus.php
Labels: Bug :spider:

#15547 UCD-MIB polling check isset
  includes/polling/ucd-mib.inc.php
Labels: Bug :spider:, Polling

#15548 BGP-peers if no data, skip
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:, Polling

#14704 Zyxel AP wireless client discovery enhancement
  LibreNMS/OS/Zyxelnwa.php
  mibs/zyxel/ZYXEL-ES-WIRELESS
  tests/data/zyxelnwa.json
  tests/snmpsim/zyxelnwa.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15551 Fix graphs device check before auth
  includes/html/graphs/graph.inc.php
Labels: Bug :spider:

#15555 Use GitHub for vulnerability reporting
  SECURITY.md
Labels: Documentation :book:, Security

#15556 Update Docker docs
  doc/Installation/Docker.md
Labels: Documentation :book:

#15560 API Oxidized source optimization
  includes/html/api_functions.inc.php
Labels: API

#15558 Disable GET login by default
  app/Http/Middleware/LegacyExternalAuth.php
  lang/en/settings.php
  misc/config_definitions.json
Labels: Security

#15554 Mail Transport: option to use BCC
  LibreNMS/Alert/Transport/Mail.php
  LibreNMS/Util/Mail.php
Labels: Feature

#15569 Change spelling disc -> disk
  includes/html/pages/device/apps/mdadm.inc.php
Labels: Translation

#15563 Remove api_demo config setting
  lang/de/settings.php
  lang/en/settings.php
  lang/fr/settings.php
  lang/it/settings.php
  lang/uk/settings.php
  lang/zh-CN/settings.php
  lang/zh-TW/settings.php
  misc/config_definitions.json
Labels: Cleanup

#15564 Huawei Controllers - Exception removed and changed OID for AP Type
  LibreNMS/OS/Vrp.php
Labels: Bug :spider:

#15208 Add option to disable the send of acknowledgement alerts.
  LibreNMS/Alert/RunAlerts.php
  includes/html/forms/alert-rules.inc.php
  includes/html/forms/sql-from-alert-collection.inc.php
  includes/html/forms/sql-from-alert-rules.inc.php
  includes/html/modal/new_alert_rule.inc.php
  lang/en/settings.php
  misc/config_definitions.json
Labels: Alerting :bell:

#15574 bug - Fix API Content-Type Header handling
  LibreNMS/Alert/Transport/Api.php
Labels: Bug :spider:

#15577 Only set user roles if they are defined
  app/Http/Controllers/UserController.php
Labels: Bug :spider:, WebUI

#15576 [APC sensor] Actual state of alarm contact beside config state
  includes/definitions/discovery/apc.yaml
  tests/data/apc_emu.json
  tests/snmpsim/apc_emu.snmprec
Labels: Device :desktop_computer:

#15581 Fix a few XSS vulnerabilities in device group popups
  app/Http/Controllers/DeviceGroupController.php
Labels: Security

#15580 Device links formatting changes
  LibreNMS/Util/Url.php
  html/css/styles.css
Labels: WebUI

#15583 Fallback template, give reason
  LibreNMS/Alert/Template.php
Labels: Alerting :bell:

#15585 Prevent non-unicode characters in ifAlias
  includes/polling/ports.inc.php
Labels: Bug :spider:, Polling

#15559 add Debian 12 to install docs
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#15589 Fixed state flag causing sql issues in test-template.php
  scripts/test-template.php
Labels: Bug :spider:

#15587 output Roles in auth_test script
  scripts/auth_test.php
Labels: Authentication

#15590 Update Debian 12 Installation Instructions.
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#15552 Update entity-sensor.inc.php for xos' os
  includes/discovery/sensors/entity-sensor.inc.php
  tests/data/xos_sfp.json
  tests/snmpsim/xos_sfp.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15586 Change default graph image to SVG
  LibreNMS/Data/Store/Rrd.php
  misc/config_definitions.json
Labels: Graphs

#15592 Add support for Okta Group claims to set Roles
  app/Http/Controllers/Auth/SocialiteController.php
  doc/Extensions/OAuth-SAML.md
  lang/en/settings.php
  misc/config_definitions.json
Labels: Authentication

#15599 more filter options for the BGP peer API endpoint
  doc/API/Routing.md
  includes/html/api_functions.inc.php
Labels: API

#15604 Set array before use to stop discovery erroring
  includes/discovery/sensors/temperature/axiscam.inc.php
Labels: Bug :spider:, Discovery

#15607 Add HPE iLO 6 to discovery
  includes/definitions/hpe-ilo.yaml
  tests/data/hpe-ilo_hpe-ilo6-with-vmware.json
  tests/snmpsim/hpe-ilo_hpe-ilo6-with-vmware.snmprec
Labels: Device :desktop_computer:
