Repository librenms/librenms, pull requests merged in 2023-09, with the labels that each got.

#15228 Add global NAC page and refactor the per-device one
  app/Http/Controllers/NacController.php
  app/Http/Controllers/Table/PortNacController.php
  app/Http/ViewComposers/MenuComposer.php
  resources/views/layouts/menu.blade.php
  resources/views/nac.blade.php
  routes/web.php
Labels: WebUI

#15279 Fix port ifAlias polling
  includes/polling/ports.inc.php
Labels: Bug :spider:, Polling

#15284 fix missing keys for new status
  app/Http/Controllers/Widgets/AvailabilityMapController.php
Labels: Bug :spider:

#15285 Return an 5XX error when an exception is raise
  LibreNMS/Exceptions/DatabaseConnectException.php
  LibreNMS/Exceptions/DatabaseInconsistentException.php
  LibreNMS/Exceptions/DuskUnsafeException.php
  LibreNMS/Exceptions/FileWriteFailedException.php
  LibreNMS/Exceptions/LdapMissingException.php
  LibreNMS/Exceptions/MaximumExecutionTimeExceeded.php
  LibreNMS/Exceptions/UnserializableRouteCache.php
Labels: Cleanup

#15291 readd missing key
  app/Http/Controllers/Widgets/AvailabilityMapController.php
Labels: Bug :spider:

#15294 Radius enforce roles
  LibreNMS/Authentication/RadiusAuthorizer.php
  lang/en/settings.php
  misc/config_definitions.json
Labels: Authentication

#15260 Include more tags in customoid data
  includes/polling/customoid.inc.php
Labels: Ignore changelog :mute:

#15296 Timezone, fix user set no timezone
  app/Http/Controllers/Ajax/TimezoneController.php
Labels: Bug :spider:, WebUI

#15298 Fix .env quoting issue
  LibreNMS/Util/EnvHelper.php
Labels: Bug :spider:

#15297 Fix typo in default mibs for SnmpQuery
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Bug :spider:

#15266 Additional contact options for email transports
  LibreNMS/Alert/AlertData.php
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/Transport/Mail.php
  phpstan-baseline.neon
Labels: Feature, Alerting :bell:

#15289 RouterOS: use mtxrGaugeTable instead of mtxrHealthGroup
  includes/definitions/discovery/routeros.yaml
  tests/data/routeros.json
  tests/data/routeros_crs317.json
  tests/data/routeros_rb750gr3.json
  tests/data/routeros_rb760igs.json
  tests/data/routeros_wifi.json
  tests/snmpsim/routeros_crs317.snmprec
Labels: Device :desktop_computer:

#15301 Fix issue with rrdcached application and bad input
  includes/polling/applications/rrdcached.inc.php
Labels: Bug :spider:

#15305 Fix error when mail-contact is missing
  LibreNMS/Alert/Transport/Mail.php
Labels: Bug :spider:, Alerting :bell:

#15295 Fix smartos-dcp-m.yaml
  includes/definitions/discovery/smartos-dcp-m.yaml
  mibs/smartoptics/DCP-INTERFACE-MIB
  mibs/smartoptics/SO-TC-MIB
  tests/data/smartos-dcp-m_dcp-m40-pam4-zr.json
Labels: Device :desktop_computer:

#15310 Fix improperly escaped output in outages page
  includes/html/common/outages.inc.php
Labels: Security

#15311 Fix injection in search pages ipv4, etc
  includes/html/pages/search.inc.php
  includes/html/pages/search/ipv4.inc.php
Labels: Security

#15312 Fix another injection in ipv4 search page
  includes/html/pages/search/ipv4.inc.php
Labels: Security

#15313 Fix another addcslashes incorrect escape in eventlog
  includes/html/common/eventlog.inc.php
  includes/html/common/syslog.inc.php
  includes/html/pages/eventlog.inc.php
  includes/html/pages/syslog.inc.php
Labels: Security

#15314 Fix injection vulnerability in ports pages
  includes/html/pages/ports.inc.php
Labels: Security

#15315 Fix injection vulnerability in fdb search page
  includes/html/pages/search/fdb.inc.php
Labels: Security

#15319 Fix device display name in top interfaces widget
  app/Http/Controllers/Widgets/TopInterfacesController.php
Labels: Bug :spider:, WebUI

#15320 Allow port search API to search ifAlias again
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#15321 Fix login page HTML
  resources/views/auth/login-form.blade.php
Labels: WebUI, Cleanup

#15318 FIX TP-Link JetStream 3.0.0 Build 20180511 Rel.36491(s) T1500-28PCT 3.0
  includes/polling/ports.inc.php
Labels: Bug :spider:

#15325 Fix bug in sysContacts email collection
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/RunAlerts.php
Labels: Ignore changelog :mute:, Alert Rule

#15327 Fix unescaped output in ipv6 search page
  includes/html/pages/search/ipv6.inc.php
Labels: Security

#15331 Fix eventlog debug code left in
  includes/html/common/eventlog.inc.php
Labels: Bug :spider:, WebUI

#15332 Fix some issues with admin self settings
  app/Http/Requests/UpdateUserRequest.php
  resources/views/user/form.blade.php
Labels: Bug :spider:, WebUI

#15271 Device stulz WIB8000
  html/images/os/stulz.png
  includes/definitions/discovery/stulz.yaml
  includes/definitions/stulz.yaml
  mibs/Stulz-WIB8000-MIB.mib
  tests/data/stulz_wib8000.json
  tests/snmpsim/stulz_wib8000.snmprec
Labels: Device :desktop_computer:

#15337 Adding Active Power in Watts to APCs
  includes/definitions/discovery/apc.yaml
  tests/data/apc_smx750.json
  tests/snmpsim/apc_smx750.snmprec
Labels: Device :desktop_computer:

#15342 show Temperature Graphs on Smart App Overview
  includes/html/pages/apps.inc.php
Labels: WebUI

#15341 show never polled Information on Widget and in Device itself
  app/Http/Controllers/Widgets/AvailabilityMapController.php
  includes/html/dev-overview-data.inc.php
Labels: WebUI

#15339 Scale disk spezific SMART Graph from 0
  includes/html/pages/device/apps/smart.inc.php
Labels: Graphs

#15338 show device group on device overview
  includes/html/pages/devices.inc.php
Labels: WebUI

#15292 app: bird2 set timeformat protocols
  doc/Extensions/Applications.md
Labels: Documentation :book:

#15329 Device NAC page to Laravel Blade
  includes/html/pages/device/nac.inc.php
  resources/views/device/tabs/nac.blade.php
Labels: WebUI, Refactor

#15324 Refactor discovery-protocols with SnmpQuery
  includes/definitions/zynos.yaml
  includes/discovery/discovery-protocols.inc.php
Labels: Refactor

#15326 Stable release update clarification
  doc/General/Releases.md
Labels: Documentation :book:

#15335 Improve "count" graphs for F5OS
  includes/definitions/discovery/f5os.yaml
  tests/data/f5os_f5os.json
Labels: Bug :spider:

#15088 Add model for Christie Digital projectors
  html/images/os/christie.png
  includes/definitions/christie-projector.yaml
  includes/definitions/discovery/christie-projector.yaml
  includes/discovery/sensors/count/christie-projector.inc.php
  tests/snmpsim/christie-projector_cp.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15099 Update docs for osupdate when being used as a script for the agent
  doc/Extensions/Applications.md
Labels: Documentation :book:, Applications :floppy_disk:

#15333 FDB Tables improve performance
  LibreNMS/Util/Rewrite.php
  app/Http/Controllers/Table/FdbTablesController.php
  app/Models/PortsFdb.php
Labels: WebUI

#15349 Fix incorrect pages offset on app ntp page
  includes/html/table/app_ntp.inc.php
Labels: Bug :spider:, WebUI

#15350 Update Windows version naming
  LibreNMS/OS/Windows.php
Labels: Device :desktop_computer:

#15352 Fix BGP peer IP missing in Routing page
  includes/html/pages/routing/bgp.inc.php
Labels: Bug :spider:, WebUI

#15348 Calix logo update
  html/images/logos/calix.svg
  html/images/os/calix.svg
Labels: Device :desktop_computer:

#15354 Add unzip to all install docs dependencies
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#15356 Fix Linemessagingapi class name
  LibreNMS/Alert/Transport/Linemessagingapi.php
Labels: Bug :spider:, Alerting :bell:

#15355 Fix alerting find owner contacts on old SQL server versions
  LibreNMS/Alert/AlertUtil.php
  app/Models/User.php
Labels: Bug :spider:, Alerting :bell:

#15361 Vertically center device icons
  html/css/styles.css
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#15360 Aviat svg logos
  html/images/logos/aviat.svg
  html/images/os/aviat.png
  html/images/os/aviat.svg
Labels: Device :desktop_computer:

#15359 Add Fortinet logo
  html/images/logos/fortinet.svg
Labels: Device :desktop_computer:
