Repository librenms/librenms, pull requests merged in 2023-04, with the labels that each got.

#14919 Update junos discovery yaml to reference total memory instead of buff…
  includes/definitions/discovery/junos.yaml
  tests/data/junos_vmx.json
Labels: Device :desktop_computer:

#14920 add support for WTI console products
  includes/definitions/discovery/wti-console.yaml
  includes/definitions/wti-console.yaml
  mibs/wti/WTI-CONSOLE-MIB
  tests/data/wti-console_dsm-24nm-dp.json
  tests/snmpsim/wti-console_dsm-24nm-dp.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14942 APC UPS UIO sensor discovery bug
  includes/discovery/sensors/state/apc.inc.php
Labels: Device :desktop_computer:

#14923 Indicator on Port Notes tab when Port has notes
  includes/html/pages/device/port.inc.php
Labels: Feature

#14944 Added sensor support for older APC InfraStruXure PDUs
  includes/definitions/discovery/apc.yaml
  tests/data/apc_isx-pdu.json
  tests/snmpsim/apc_isx-pdu.snmprec
Labels: Device :desktop_computer:

#14847 Added graphing of DDoS-protection related OIDs for PAN-OS
  LibreNMS/OS/Panos.php
  includes/html/graphs/device/panos_panFlowDosBlkHwEntries.inc.php
  includes/html/graphs/device/panos_panFlowDosBlkNumEntries.inc.php
  includes/html/graphs/device/panos_panFlowDosBlkSwEntries.inc.php
  includes/html/graphs/device/panos_panFlowDosDropIpBlocked.inc.php
  includes/html/graphs/device/panos_panFlowDosPbpDrop.inc.php
  includes/html/graphs/device/panos_panFlowDosRedIcmp.inc.php
  includes/html/graphs/device/panos_panFlowDosRedIcmp6.inc.php
  includes/html/graphs/device/panos_panFlowDosRedIp.inc.php
  includes/html/graphs/device/panos_panFlowDosRedTcp.inc.php
  includes/html/graphs/device/panos_panFlowDosRedUdp.inc.php
  includes/html/graphs/device/panos_panFlowDosRuleDeny.inc.php
  includes/html/graphs/device/panos_panFlowDosRuleDrop.inc.php
  includes/html/graphs/device/panos_panFlowDosSyncookieNotTcpSyn.inc.php
  includes/html/graphs/device/panos_panFlowDosSyncookieNotTcpSynAck.inc.php
  includes/html/graphs/device/panos_panFlowDosZoneRedAct.inc.php
  includes/html/graphs/device/panos_panFlowDosZoneRedMax.inc.php
  includes/html/graphs/device/panos_panFlowMeterVsysThrottle.inc.php
  includes/html/graphs/device/panos_panFlowPolicyDeny.inc.php
  includes/html/graphs/device/panos_panFlowPolicyNat.inc.php
  includes/html/graphs/device/panos_panFlowScanDrop.inc.php
  misc/config_definitions.json
  tests/snmpsim/panos.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14902 Add initial OS detection for LoadBalancer.org
  html/images/logos/loadbalancer.svg
  html/images/os/loadbalancer.svg
  includes/definitions/loadbalancer.yaml
  tests/data/loadbalancer_vm.json
  tests/snmpsim/loadbalancer_vm.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#14931 Cleanup enable bgp setting
  app/Http/Controllers/OverviewController.php
  doc/Support/Configuration.md
  includes/discovery/bgp-peers.inc.php
  includes/discovery/bgp-peers/dell-os10.inc.php
  includes/discovery/bgp-peers/timos.inc.php
  includes/discovery/bgp-peers/vrp.inc.php
  includes/polling/bgp-peers.inc.php
  misc/config_definitions.json
Labels: Cleanup

#14945 RouterOS runtime quirk on first discovery
  includes/discovery/functions.inc.php
Labels: Device :desktop_computer:

#14951 Add Rubrik Discovery
  html/images/logos/rubrik.svg
  html/images/os/rubrik.svg
  includes/definitions/rubrik.yaml
  tests/data/rubrik.json
  tests/snmpsim/rubrik.snmprec
Labels: Device :desktop_computer:

#14950 Add Nutanix AOS discovery
  html/images/logos/nutanix.svg
  html/images/os/nutanix.svg
  includes/definitions/nutanix-aos.yaml
  tests/data/nutanix-aos.json
  tests/snmpsim/nutanix-aos.snmprec
Labels: Device :desktop_computer:

#14949 Update Install-LibreNMS.md
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#14934 snmp-scan filter for dns resolved devices
  routes/console.php
  snmp-scan.py
Labels: Discovery

#14940 Poller perf: add per device average
  includes/html/graphs/global/poller_perf.inc.php
Labels: Graphs

#14946 Fix typo
  resources/lang/en/commands.php
Labels: Documentation :book:, Ignore changelog :mute:

#14952 bug - wrong type in ports.inc.php
  includes/polling/ports.inc.php
Labels: Bug :spider:

#14913 Add discovery of NVT Phybridge FLEX24
  includes/definitions/phybridge-flex.yaml
  tests/data/phybridge-flex_flex-24.json
  tests/snmpsim/phybridge-flex_flex-24.snmprec
Labels: Device :desktop_computer:

#14939 Solves error in discovering services module
  app/Http/Controllers/ServiceTemplateController.php
  app/Models/Device.php
Labels: Bug :spider:

#14905 Add link to hosts mgmt (ipmi) interface
  app/Http/Controllers/DeviceController.php
Labels: Feature

#14954 Fix more divide by zero issues
  LibreNMS/Modules/PrinterSupplies.php
  app/Http/Controllers/Widgets/GlobeController.php
  app/Models/Mempool.php
  includes/discovery/sensors/load/dhcpatriot.inc.php
  includes/html/pages/device/routing/mpls.inc.php
  includes/html/print-map.inc.php
  scripts/collect-port-polling.php
  tests/data/dhcpatriot.json
Labels: Bug :spider:

#14956 fortivoice: add version, hardware and serial collection
  includes/definitions/discovery/fortivoice.yaml
  tests/data/fortivoice.json
  tests/snmpsim/fortivoice.snmprec
Labels: Device :desktop_computer:

#14933 Expand discovery of gigavue os
  includes/definitions/discovery/gigavue.yaml
  includes/definitions/gigavue.yaml
  tests/data/gigavue_hc2.json
  tests/snmpsim/gigavue_hc2.snmprec
Labels: Device :desktop_computer:

#14966 Fix Raisecom ROS processor collection
  includes/definitions/discovery/raisecom-ros.yaml
  tests/data/raisecom-ros.json
Labels: Device :desktop_computer:

#14967 Fix Legacy vars Processing
  LibreNMS/Util/Url.php
Labels: Bug :spider:, Graphs, WebUI

#14928 Stacked graphs on zoom to speed
  includes/html/functions.inc.php
  includes/html/graphs/generic_data.inc.php
Labels: Bug :spider:, Graphs

#14968 Fix Raisecom Processor
  includes/definitions/discovery/raisecom.yaml
  tests/data/raisecom.json
Labels: Device :desktop_computer:

#14425 Correct PowerConsumed SI Units in Overview
  includes/html/functions.inc.php
Labels: WebUI

#14829 Add support for Alpha CXC HP Controller
  includes/definitions/cxc.yaml
  includes/definitions/discovery/cxc.yaml
  mibs/alpha/ALPHA-RECTIFIER-SYS-MIB
  mibs/alpha/ALPHA-RESOURCE-MIB
  tests/data/cxc.json
  tests/snmpsim/cxc.snmprec
Labels: Device :desktop_computer:

#14969 Fix tait tnadmin processors
  includes/definitions/discovery/tait-tnadmin.yaml
Labels: Device :desktop_computer:

#14965 Add support for Trellix ATD devices
  includes/definitions/discovery/mlos-atd.yaml
  includes/definitions/mlos-atd.yaml
  mibs/trellix/MCAFEE-ATD-MIB
  mibs/trellix/MCAFEE-INTRUVERT-SMI
  tests/data/mlos-atd.json
  tests/snmpsim/mlos-atd.snmprec
Labels: Device :desktop_computer:

#14961 Cisco QFP polling fixes
  includes/html/graphs/qfp/memory.inc.php
  includes/html/pages/device/health/qfp.inc.php
  includes/polling/cisco-qfp.inc.php
Labels: Device :desktop_computer:

#14970 Fix vsolution discovery yaml
  includes/definitions/discovery/vsolution.yaml
Labels: Device :desktop_computer:

#14962 Fix some lint issues
  LibreNMS/Authentication/TwoFactor.php
  LibreNMS/Device/Processor.php
  LibreNMS/Device/YamlDiscovery.php
  LibreNMS/Exceptions/MaximumExecutionTimeExceeded.php
  app/Http/Controllers/Select/SelectController.php
  app/Http/Controllers/Table/CustomersController.php
  app/Http/Controllers/Table/TableController.php
  app/Http/Kernel.php
  app/Http/Middleware/EncryptCookies.php
  app/Http/Middleware/PreventRequestsDuringMaintenance.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Providers/EventServiceProvider.php
  database/migrations/2022_05_25_084617_migrate_widget_ids.php
  phpstan-baseline.neon
  tests/AuthSSOTest.php
Labels: Ignore changelog :mute:

#14739 Fix a bug when creating test data; if a community contained the strin…
  LibreNMS/Util/ModuleTestHelper.php
Labels: Tests :test_tube:

#14972 Update Copyright year to 2023 in README.md
  README.md
Labels: Documentation :book:

#14977 Fix routes after Laravel9
  routes/web.php
Labels: Bug :spider:

#14989 Set device ping_perf scale_min to 0
  LibreNMS/Data/Graphing/GraphParameters.php
  includes/html/graphs/device/ping_perf.inc.php
Labels: Graphs

#14979 Refactor billing
  LibreNMS/Billing.php
  billing-calculate.php
  includes/billing.php
  includes/html/api_functions.inc.php
  includes/html/graphs/bill/bits.inc.php
  includes/html/graphs/bill/historicbits.inc.php
  includes/html/graphs/bill/historicmonthly.inc.php
  includes/html/graphs/bill/historictransfer.inc.php
  includes/html/pages/bill.inc.php
  includes/html/pages/bill/transfer.inc.php
  includes/html/table/bills.inc.php
  includes/init.php
  phpstan-baseline-deprecated.neon
  poll-billing.php
Labels: Refactor

#14992 Fix scale_rigid accidentally being set to false
  LibreNMS/Data/Graphing/GraphParameters.php
Labels: Bug :spider:, Graphs

#14991 [About] Link to LinkedIn
  resources/views/about/index.blade.php
Labels: Miscellaneous

#14993 Fix some undefined constants
  includes/discovery/storage/hikvision-nvr.inc.php
  includes/html/graphs/application/cape_anti_issues.inc.php
  includes/html/graphs/application/cape_malscore.inc.php
  includes/html/pages/device/apps/hv-monitor.inc.php
Labels: Bug :spider:

#14996 Fix billing error introduced by #14979
  includes/html/graphs/bill/historicmonthly.inc.php
Labels: Bug :spider:, Ignore changelog :mute:

#14998 Fix more refactor errors
  includes/html/api_functions.inc.php
  includes/html/graphs/bill/historictransfer.inc.php
Labels: Bug :spider:, Ignore changelog :mute:

#14997 Fix SSO login
  routes/web.php
Labels: Bug :spider:, Ignore changelog :mute:

#15000 Update OAuth-SAML.md to prevent http code 419 error
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#15002 Fix spelling error in Graylog section
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#15006 Fix up icr-os outdated test data
  tests/data/icr-os.json
Labels: Device :desktop_computer:, Ignore changelog :mute:

#15003 Fix language selector
  app/Http/Controllers/UserPreferencesController.php
Labels: Bug :spider:, Ignore changelog :mute:, Translation

#15001 Slightly better OS module test output
  LibreNMS/Util/CiHelper.php
  tests/OSModulesTest.php
Labels: Tests :test_tube:

#15014 php implode arg mismatch
  includes/html/graphs/generic_multi.inc.php
Labels: Bug :spider:, Graphs

#15015 phpstan: new baseline
  LibreNMS/Proc.php
  phpstan-baseline.neon
  phpstan.neon
Labels: Cleanup, Ignore changelog :mute:
