Repository librenms/librenms, pull requests merged in 2023-06, with the labels that each got.

#15095 add ZFS L2 support
  doc/Extensions/Applications.md
  includes/html/graphs/application/zfs_l2_abort_lowmem.inc.php
  includes/html/graphs/application/zfs_l2_access_total.inc.php
  includes/html/graphs/application/zfs_l2_asize.inc.php
  includes/html/graphs/application/zfs_l2_bufc_d_asize.inc.php
  includes/html/graphs/application/zfs_l2_bufc_m_asize.inc.php
  includes/html/graphs/application/zfs_l2_d_to_m_ratio.inc.php
  includes/html/graphs/application/zfs_l2_errors.inc.php
  includes/html/graphs/application/zfs_l2_hdr_size.inc.php
  includes/html/graphs/application/zfs_l2_log_blk_asize.inc.php
  includes/html/graphs/application/zfs_l2_mfu_asize.inc.php
  includes/html/graphs/application/zfs_l2_mru_asize.inc.php
  includes/html/graphs/application/zfs_l2_prefetch_asize.inc.php
  includes/html/graphs/application/zfs_l2_rb_asize.inc.php
  includes/html/graphs/application/zfs_l2_rw_bytes.inc.php
  includes/html/graphs/application/zfs_l2_size.inc.php
  includes/html/graphs/application/zfs_l2_sizes.inc.php
  includes/html/pages/device/apps/zfs.inc.php
  includes/polling/applications/zfs.inc.php
  misc/alert_rules.json
  tests/data/linux_zfs-legacy.json
  tests/data/linux_zfs-v1-compressed.json
  tests/data/linux_zfs-v1.json
  tests/data/linux_zfs-v3.json
  tests/snmpsim/linux_zfs-v3.snmprec
Labels: Applications :floppy_disk:

#15094 add Linux Softnet Stat app
  doc/Extensions/Applications.md
  includes/html/graphs/application/linux_softnet_stat_backlog_length.inc.php
  includes/html/graphs/application/linux_softnet_stat_budget.inc.php
  includes/html/graphs/application/linux_softnet_stat_cpu_collision.inc.php
  includes/html/graphs/application/linux_softnet_stat_flow_limit.inc.php
  includes/html/graphs/application/linux_softnet_stat_packet_dropped.inc.php
  includes/html/graphs/application/linux_softnet_stat_packets.inc.php
  includes/html/graphs/application/linux_softnet_stat_received_rps.inc.php
  includes/html/graphs/application/linux_softnet_stat_time_squeeze.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/linux_softnet_stat.inc.php
  includes/polling/applications/linux_softnet_stat.inc.php
  tests/data/linux_linux_softnet_stat-v1.json
  tests/snmpsim/linux_linux_softnet_stat-v1.snmprec
Labels: Applications :floppy_disk:

#15096 Improve OpenWRT detection
  LibreNMS/OS/Openwrt.php
  includes/definitions/openwrt.yaml
  tests/data/openwrt.json
  tests/snmpsim/openwrt.snmprec
Labels: Device :desktop_computer:

#15101 Apply fixes from StyleCI
  LibreNMS/Authentication/LdapAuthorizer.php
  LibreNMS/Authentication/LegacyAuth.php
  LibreNMS/Exceptions/DatabaseConnectException.php
  LibreNMS/OS/Allied.php
  LibreNMS/Util/Url.php
  app/Http/Controllers/Select/PortFieldController.php
  app/Http/Controllers/Widgets/DeviceTypeController.php
  app/Http/Middleware/LegacyExternalAuth.php
  app/Http/Requests/UpdateUserRequest.php
  app/Models/MplsSap.php
  app/Models/MplsService.php
  includes/common.php
  includes/dbFacile.php
  includes/discovery/bgp-peers/firebrick.inc.php
  includes/discovery/functions.inc.php
  includes/discovery/libvirt-vminfo.inc.php
  includes/discovery/sensors/cisco-entity-sensor.inc.php
  includes/discovery/vmware-vminfo.inc.php
  includes/functions.php
  includes/html/collectd/functions.php
  includes/html/functions.inc.php
  includes/html/graphs/generic_multi_simplex_seperated.inc.php
  includes/html/pages/device/port.inc.php
  includes/polling/functions.inc.php
  includes/rewrites.php
  includes/snmp.inc.php
  routes/web.php
  tests/Unit/PermissionsTest.php
Labels: Ignore changelog :mute:

#14914 Extend Avocent Support
  includes/definitions/discovery/avocent.yaml
  mibs/avocent/ACS-MIB
  tests/data/avocent_6000.json
  tests/snmpsim/avocent_6000.snmprec
Labels: Device :desktop_computer:

#15110 Update MIKROTIK-MIB to v7.10 release
  mibs/mikrotik/MIKROTIK-MIB
Labels: MIBs

#15111 fix minor typo in Applications.md
  doc/Extensions/Applications.md
Labels: Ignore changelog :mute:

#15113 add archlinux example
  doc/Support/SNMP-Configuration-Examples.md
Labels: Documentation :book:

#15076 Fixes #14975 Services in Device Groups not displayed correctly in Availability widget
  app/Models/DeviceGroup.php
Labels: Bug :spider:

#15116 Yaml value filling improvements
  LibreNMS/Device/YamlDiscovery.php
  includes/definitions/discovery/aos7.yaml
  includes/definitions/discovery/e3meterdc.yaml
  includes/definitions/discovery/hpe-mapdu.yaml
  includes/definitions/discovery/timos.yaml
  includes/discovery/functions.inc.php
  lang/en/commands.php
Labels: Internal Features

#15117 Update Trellix NSP discovery
  includes/definitions/mlos-nsp.yaml
  tests/data/mlos-nsp_ns9500_1.json
  tests/snmpsim/mlos-nsp_ns9500_1.snmprec
Labels: Device :desktop_computer:

#15090 APC new sensors
  includes/definitions/discovery/apc.yaml
  tests/data/apc_ap8853.json
  tests/data/apc_ap8959eu3.json
  tests/data/apc_emu.json
  tests/snmpsim/apc_ap8959eu3.snmprec
  tests/snmpsim/apc_emu.snmprec
Labels: Device :desktop_computer:

#15115 Transport Messagebird voice message API
  LibreNMS/Alert/Transport/Messagebird.php
  LibreNMS/Alert/Transport/Messagebirdvoice.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#15089 More comforting generic os message
  LibreNMS/OS.php
Labels: Ignore changelog :mute:

#15083 Add regex for Supermicro switches running firmware 2.0 or newer, now called "SuperSwitch"
  includes/definitions/supermicro-switch.yaml
  tests/snmpsim/supermicro-switch_mbm.snmprec
Labels: Device :desktop_computer:

#15119 Update openwrt doc following PR #15096
  doc/Support/Device-Notes/Openwrt.md
Labels: Documentation :book:

#15105 add Suricata Extract submission stats app
  doc/Extensions/Applications.md
  includes/html/graphs/application/suricata_extract_errors.inc.php
  includes/html/graphs/application/suricata_extract_ignored_host.inc.php
  includes/html/graphs/application/suricata_extract_ignored_ip.inc.php
  includes/html/graphs/application/suricata_extract_ignored_ip_dest.inc.php
  includes/html/graphs/application/suricata_extract_ignored_ip_src.inc.php
  includes/html/graphs/application/suricata_extract_sub.inc.php
  includes/html/graphs/application/suricata_extract_sub_2xx.inc.php
  includes/html/graphs/application/suricata_extract_sub_3xx.inc.php
  includes/html/graphs/application/suricata_extract_sub_4xx.inc.php
  includes/html/graphs/application/suricata_extract_sub_5xx.inc.php
  includes/html/graphs/application/suricata_extract_sub_codes.inc.php
  includes/html/graphs/application/suricata_extract_sub_fail.inc.php
  includes/html/graphs/application/suricata_extract_sub_size.inc.php
  includes/html/graphs/application/suricata_extract_truncated.inc.php
  includes/html/graphs/application/suricata_extract_zero_sized.inc.php
  includes/html/pages/apps.inc.php
  includes/html/pages/device/apps/suricata_extract.inc.php
  includes/polling/applications/suricata_extract.inc.php
  misc/alert_rules.json
  tests/data/linux_suricata_extract-v1.json
  tests/snmpsim/linux_suricata_extract-v1.snmprec
Labels: Applications :floppy_disk:

#15124 Add Oxidized search clarification
  includes/html/pages/oxidized.inc.php
Labels: WebUI, Oxidized

#15126 Change state value for unplugged linecard
  includes/discovery/sensors/state/loop-telecom.inc.php
  tests/data/loop-telecom_loop-am3440-ccpb-a.json
Labels: Device :desktop_computer:
