Repository librenms/librenms, pull requests merged in 2023-05, with the labels that each got.

#15025 Telegram: Fix undefined array key
  LibreNMS/Alert/Transport/Telegram.php
Labels: Bug :spider:, Alerting :bell:

#13626 Added support for user timezones and user browser timezone by default (incomplete)
  LibreNMS/Data/Store/Rrd.php
  app/Http/Controllers/Ajax/TimezoneController.php
  app/Http/Controllers/Device/Tabs/LatencyController.php
  app/Http/Controllers/Table/EventlogController.php
  app/Http/Controllers/Table/OutagesController.php
  app/Http/Controllers/UserController.php
  app/Http/Controllers/UserPreferencesController.php
  app/Providers/LegacyUserProvider.php
  html/js/librenms.js
  includes/html/graphs/graph.inc.php
  includes/html/pages/outages.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
  phpstan-baseline.neon
  resources/views/layouts/librenmsv1.blade.php
  resources/views/user/form.blade.php
  resources/views/user/index.blade.php
  resources/views/user/preferences.blade.php
  routes/web.php
Labels: WebUI

#15031 Remove references to VM images
  doc/Installation/Images.md
  doc/index.md
  mkdocs.yml
Labels: Documentation :book:

#15013 Fix availability graphs to 100%
  includes/html/graphs/device/availability.inc.php
Labels: Bug :spider:, Graphs

#15009 Updated WebUI config options in docs to support direct linking to installs
  doc/Extensions/Authentication.md
  doc/Extensions/Auto-Discovery.md
  doc/Extensions/Dispatcher-Service.md
  doc/Extensions/Distributed-Poller.md
  doc/Extensions/Fast-Ping-Check.md
  doc/Extensions/Graylog.md
  doc/Extensions/Interface-Description-Parsing.md
  doc/Extensions/NFSen.md
  doc/Extensions/PeeringDB.md
  doc/Extensions/RRDCached.md
  doc/Extensions/SNMP-Trap-Handler.md
  doc/Extensions/Smokeping.md
  doc/Extensions/Sub-Directory.md
  doc/Extensions/World-Map.md
  doc/Extensions/metrics/Graphite.md
  doc/Extensions/metrics/InfluxDB.md
  doc/Extensions/metrics/OpenTSDB.md
  doc/Extensions/metrics/Prometheus.md
  doc/General/Releases.md
  doc/Installation/Installation-CentOS-6-Apache-Nginx.md
  doc/Support/Cleanup-options.md
  doc/Support/Configuration.md
  doc/Support/Discovery Support.md
  doc/Support/Performance.md
  doc/Support/Poller Support.md
Labels: Documentation :book:

#15035 Remove old unused adduser page and script
  adduser.php
  includes/html/pages/adduser.inc.php
Labels: Cleanup

#15036 Remove set-output from github actions
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: Ignore changelog :mute:, Tests :test_tube:

#15033 rutos-rutx: Map GPS lat and lon to os module
  includes/definitions/discovery/rutos-rutx.yaml
Labels: Device :desktop_computer:, Needs Testing

#14964 Add support for Trellix NSP devices
  includes/definitions/discovery/mlos-nsp.yaml
  includes/definitions/mlos-nsp.yaml
  includes/discovery/ports.inc.php
  includes/discovery/ports/mlos-nsp.inc.php
  includes/polling/ports/os/mlos-nsp.inc.php
  mibs/trellix/TRELLIX-INTRUVERT-SMI
  mibs/trellix/TRELLIX-INTRUVERT-TC
  mibs/trellix/TRELLIX-SENSOR-CONF-MIB
  mibs/trellix/TRELLIX-SENSOR-PERF-MIB
  mibs/trellix/TRELLIX-SENSOR-SMI
  tests/data/mlos-nsp_ns9500.json
  tests/snmpsim/mlos-nsp_ns9500.snmprec
Labels: Device :desktop_computer:

#15046 Reduce OS module test noise
  tests/FunctionsTest.php
  tests/OSModulesTest.php
Labels: Tests :test_tube:, Internal Features

#15050 Ondemand popup graphs
  resources/views/components/device-link.blade.php
Labels: WebUI

#15057 Tests: Fix Dusk tests after 13626
  app/Http/Controllers/Ajax/TimezoneController.php
  app/Http/Controllers/Device/Tabs/LatencyController.php
  app/Http/Controllers/Table/EventlogController.php
  app/Http/Controllers/Table/OutagesController.php
  app/Http/Controllers/UserPreferencesController.php
  app/Http/Middleware/LoadUserPreferences.php
  app/Providers/LegacyUserProvider.php
  includes/html/graphs/graph.inc.php
  includes/html/pages/outages.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
  phpstan-baseline.neon
  resources/views/layouts/librenmsv1.blade.php
  tests/Browser/source/.gitignore
Labels: Bug :spider:

#15058 Add AllowDynamicProperties to DynamicConfigItem
  LibreNMS/Util/DynamicConfigItem.php
Labels: Cleanup

#15060 Quick fix for alerting
  LibreNMS/Alert/RunAlerts.php
Labels: Bug :spider:, Alerting :bell:, Ignore changelog :mute:

#15026 add sensor support for cefcModuleOperStatus
  includes/definitions/discovery/ios.yaml
  tests/data/ios_4506.json
  tests/snmpsim/ios_4506.snmprec
Labels: Device :desktop_computer:

#15070 Fix syslog transport output format
  LibreNMS/Alert/Transport/Syslog.php
Labels: Bug :spider:, Alerting :bell:

#15074 Remove asterisk from recurring input
  includes/html/modal/alert_schedule.inc.php
Labels: Alerting :bell:
