Repository librenms/librenms, pull requests merged in 2024-11, with the labels that each got.

#16622 Fix arp search where like
  includes/html/table/arp-search.inc.php
Labels: Bug :spider:

#16629 Fix XSS in customoid
  includes/html/print-customoid.php
Labels: Security

#16625 Add Procurve stack monitoring
  includes/definitions/discovery/procurve.yaml
  mibs/hp/HP-STACK-MIB
Labels: Device :desktop_computer:

#16627 Fix map maintenance missing
  app/Http/Controllers/Maps/MapDataController.php
Labels: Bug :spider:, WebUI

#16630 MS Teams: use AdaptiveCard for JSON tests
  LibreNMS/Alert/Transport/Msteams.php
Labels: Alerting :bell:

#16633 Fix brower push alert too large
  app/Notifications/AlertNotification.php
Labels: Bug :spider:, Alert Rule

#16632 Fix availability map xss
  resources/views/map/availability.blade.php
Labels: Security

#16640 Fix xss in netmap
  resources/views/map/netmap.blade.php
Labels: Security

#16641 Fix worldmap widget up/down filtering
  resources/views/widgets/worldmap.blade.php
Labels: Bug :spider:

#16395 Created IBM On Call Manager Alert Transport
  LibreNMS/Alert/Transport/Ibmocm.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:, User-Pending

#16646 Catch RRD Startup Exception
  LibreNMS/Data/Store/Rrd.php
Labels: Bug :spider:, Datastore

#16654 Revert "Support for TrueNAS-SCALE (as new os)"
  html/images/os/truenas-scale.png
  includes/definitions/discovery/truenas-scale.yaml
  includes/definitions/discovery/truenas.yaml
  includes/definitions/truenas-scale.yaml
  includes/definitions/truenas.yaml
  includes/discovery/sensors/temperature/truenas-scale.inc.php
  includes/discovery/storage/truenas-scale-zv.inc.php
  includes/polling/storage/truenas-scale-zv.inc.php
  mibs/ixsystems/TRUENAS-MIB
  tests/data/truenas-scale_24.04.2.2.json
  tests/data/truenas.json
  tests/data/truenas_11-3.json
  tests/snmpsim/truenas-scale_24.04.2.2.snmprec
Labels: Ignore changelog :mute:

#16645 Catch more mail exceptions
  LibreNMS/Alert/Transport/Mail.php
  LibreNMS/IRCBot.php
  LibreNMS/Util/Mail.php
  LibreNMS/Validations/Mail.php
  daily.php
Labels: Bug :spider:

#16644 Use the standard menu option for all map page refreshes
  app/Http/Controllers/Maps/NetMapController.php
  resources/views/components/refresh-timer.blade.php
  resources/views/layouts/legacy_page.blade.php
  resources/views/layouts/menu.blade.php
  resources/views/map/availability.blade.php
  resources/views/map/device-dependency.blade.php
  resources/views/map/fullscreen.blade.php
  resources/views/map/netmap.blade.php
Labels: WebUI

#16660 Additional XSS fixes
  includes/html/modal/new_alert_rule.inc.php
  includes/html/modal/new_customoid.inc.php
  includes/html/pages/addsrv.inc.php
  includes/html/pages/device/edit/ipmi.inc.php
  includes/html/pages/outages.inc.php
  includes/html/pages/search/arp.inc.php
  includes/html/pages/search/fdb.inc.php
  includes/html/pages/search/ipv4.inc.php
  includes/html/pages/search/ipv6.inc.php
  includes/html/pages/search/mac.inc.php
  includes/html/pages/syslog.inc.php
Labels: Security

#16672 Procurve transceiver
  LibreNMS/OS/Procurve.php
  includes/discovery/sensors/current/procurve.inc.php
  includes/discovery/sensors/dbm/procurve.inc.php
  includes/discovery/sensors/pre-cache/procurve.inc.php
  includes/discovery/sensors/state/procurve.inc.php
  includes/discovery/sensors/temperature/procurve.inc.php
  includes/discovery/sensors/voltage/procurve.inc.php
  mibs/hp/HP-ICF-TRANSCEIVER-MIB
  tests/data/procurve.json
  tests/data/procurve_2520.json
  tests/data/procurve_e2910.json
  tests/data/procurve_nac.json
Labels: Device :desktop_computer:

#16659 Add multi-select support to custom map editor
  app/Http/Controllers/Maps/CustomMapController.php
  lang/en/map.php
  resources/views/map/custom-edit.blade.php
  resources/views/map/custom-map-modal.blade.php
Labels: Maps

#16681 Convert device neighbour blade to use components for device and port map pop-ups
  app/Http/Controllers/Device/Tabs/NeighboursController.php
  resources/views/device/tabs/neighbours.blade.php
Labels: WebUI

#16671 The unbound app creates RRD's incorrectly, with 'DERIVE'.
  includes/polling/applications/unbound.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#16670 Map performance
  app/Http/Controllers/Maps/DeviceDependencyController.php
  app/Http/Controllers/Maps/NetMapController.php
  resources/views/map/device-dependency.blade.php
  resources/views/map/netmap.blade.php
Labels: Maps

#16668 Add screenshot mode option to custom map widget
  app/Http/Controllers/Widgets/CustomMapController.php
  resources/views/widgets/custom-map.blade.php
  resources/views/widgets/settings/custom-map.blade.php
Labels: Maps

#16669 Add a new edge option to select the position of the edge text
  app/Http/Controllers/Maps/CustomMapController.php
  app/Http/Controllers/Maps/CustomMapDataController.php
  database/migrations/2024_11_07_110342_custommap_edge_add_text_align.php
  lang/en/map.php
  misc/config_definitions.json
  misc/db_schema.yaml
  resources/views/map/custom-edge-modal.blade.php
  resources/views/map/custom-edit.blade.php
  resources/views/map/custom-js.blade.php
Labels: Maps

#16683 Allow underscores in hostnames
  LibreNMS/Util/Validate.php
  tests/CommonFunctionsTest.php
Labels: Miscellaneous

#16685 Bugfix for setting dependency map selected border width
  resources/views/map/device-dependency.blade.php
Labels: Bug :spider:, Maps

#16657 Update to current version of vis.js
  app/Http/Controllers/Maps/CustomMapDataController.php
  app/Http/Controllers/Maps/MapDataController.php
  app/View/Components/DeviceLinkMap.php
  app/View/Components/PortLinkMap.php
  html/js/vis-data.min.js
  html/js/vis-network.min.js
  html/js/vis.min.js
  includes/html/pages/routing/mpls-path-map.inc.php
  includes/html/print-graph-alerts.inc.php
  resources/views/components/device-link-map.blade.php
  resources/views/components/port-link-map.blade.php
  resources/views/device/tabs/latency.blade.php
  resources/views/device/tabs/neighbours.blade.php
  resources/views/map/custom-edge-modal.blade.php
  resources/views/map/custom-edit.blade.php
  resources/views/map/custom-js.blade.php
  resources/views/map/custom-node-modal.blade.php
  resources/views/map/custom-view.blade.php
  resources/views/map/device-dependency.blade.php
  resources/views/map/netmap.blade.php
Labels: Maps

#16687 dont migrate views in 2021_02_09_122930_migrate_to_utf8mb4
  database/migrations/2021_02_09_122930_migrate_to_utf8mb4.php
Labels: Bug :spider:

#16693 Fix edge graph pop-up on edge maps
  app/Http/Controllers/Maps/MapDataController.php
  resources/views/map/netmap.blade.php
Labels: Bug :spider:

#16696 procuve: don't detect stack state if stacking is disabled
  includes/definitions/discovery/procurve.yaml
Labels: Device :desktop_computer:

#16356 Task Scheduler Configuration
  LibreNMS/queuemanager.py
  LibreNMS/service.py
  alerts.php
  app/Models/PollerCluster.php
  billing-calculate.php
  check-services.php
  discovery-wrapper.py
  doc/Extensions/Dispatcher-Service.md
  doc/Extensions/Services.md
  lang/en/settings.php
  lang/it/settings.php
  lang/pt-BR/settings.php
  lang/uk/settings.php
  misc/config_definitions.json
  ping.php
  poll-billing.php
  poller-wrapper.py
  poller.php
  services-wrapper.py
Labels: User-Pending, Settings, Miscellaneous

#16698 procurve: don't detect PoE Power if no Power is available
  includes/definitions/discovery/procurve.yaml
Labels: Device :desktop_computer:, Sensor

#16700 Sonicwall: convert connection counts to sensors
  LibreNMS/OS/Sonicwall.php
  includes/definitions/discovery/sonicwall.yaml
  includes/html/graphs/device/sonicwall_sessions.inc.php
  phpstan-baseline.neon
  tests/data/sonicwall_sonicos7.json
Labels: Device :desktop_computer:

#16643 Add new config option for dependency map vis options
  app/Http/Controllers/Maps/DeviceDependencyController.php
  doc/Extensions/VisJS-Config.md
  misc/config_definitions.json
Labels: Maps

#16656 Fortigate - Add SSL VPN Sensor tunnel name
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate_webfilter.json
Labels: Device :desktop_computer:

#16702 Windows nullable checks
  LibreNMS/OS/Windows.php
Labels: Bug :spider:, Device :desktop_computer:

#16695 Dependency Updates
  composer.lock
  phpstan-baseline.neon
Labels: Dependencies

#16682 Use ifIndex for TPLINK LLDP neighbour lookup first
  includes/discovery/discovery-protocols.inc.php
Labels: Device :desktop_computer:

#16538 Custom Map device images
  app/Http/Controllers/Maps/CustomMapController.php
  app/Http/Controllers/Maps/CustomMapDataController.php
  app/Http/Controllers/Maps/CustomMapNodeImageController.php
  app/Models/CustomMapNode.php
  app/Models/CustomMapNodeImage.php
  database/migrations/2024_10_13_161616_create_custom_map_nodeimage_table.php
  database/migrations/2024_10_13_162920_add_custom_map_nodeimage_column.php
  lang/en/map.php
  misc/db_schema.yaml
  resources/views/layouts/menu.blade.php
  resources/views/map/custom-edit.blade.php
  resources/views/map/custom-js.blade.php
  resources/views/map/custom-node-modal.blade.php
  resources/views/map/custom-nodeimage-delete-modal.blade.php
  resources/views/map/custom-nodeimage-manage.blade.php
  resources/views/map/custom-nodeimage-modal.blade.php
  routes/web.php
Labels: Maps

#16711 Fixed issue with check-services
  check-services.php
Labels: Ignore changelog :mute:

#16424 Fix updating port notes via the API
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#16430 Port down list now matches the menu
  app/Http/Controllers/Table/PortsController.php
  app/Models/Port.php
Labels: WebUI

#16470 Updated github apply/remove to clear route and view cache
  scripts/github-apply
  scripts/github-remove
Labels: Miscellaneous

#16707 Netvision RFC: Add Socomec Hardware
  includes/definitions/discovery/netvision-rfc.yaml
  includes/definitions/netvision-rfc.yaml
  tests/data/netvision-rfc.json
  tests/snmpsim/netvision-rfc.snmprec
Labels: Device :desktop_computer:

#16570 Start testing PHP 8.3
  .github/workflows/test.yml
Labels: Tests :test_tube:, Dependencies

#16536 [transceivers] Eltex MES23xx Transceiver support
  LibreNMS/OS/EltexMes23xx.php
  includes/definitions/discovery/eltex-mes23xx.yaml
  includes/discovery/sensors/current/eltex-mes23xx.inc.php
  includes/discovery/sensors/dbm/eltex-mes23xx.inc.php
  includes/discovery/sensors/pre-cache/eltex-mes23xx.inc.php
  includes/discovery/sensors/temperature/eltex-mes23xx.inc.php
  includes/discovery/sensors/voltage/eltex-mes23xx.inc.php
  misc/discovery_schema.json
  tests/data/eltex-mes23xx_mes2324b.json
  tests/data/eltex-mes23xx_mes2324p.json
  tests/data/eltex-mes23xx_mes2348p.json
Labels: Device :desktop_computer:

#16720 Adva-fsp150cp new OS
  includes/definitions/adva-fsp150cp.yaml
  includes/discovery/ports.inc.php
  includes/discovery/ports/adva-fsp150cp.inc.php
  includes/polling/ports/os/adva-fsp150cp.inc.php
  mibs/adva/FSP150-MIB
  tests/data/adva-fsp150cp_1.json
  tests/snmpsim/adva-fsp150cp_1.snmprec
Labels: Device :desktop_computer:

#16480 VRP Transceivers Support
  LibreNMS/OS/Vrp.php
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_5720-32x-ei.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ac6605-26.json
  tests/data/vrp_ar169sfp.json
  tests/data/vrp_ne8000-m8.json
  tests/data/vrp_power.json
Labels: Discovery, Sensor

#16722 Fix custom ports xss
  includes/html/functions.inc.php
Labels: Security

#16723 Fix various display name xss
  LibreNMS/Util/Url.php
  app/Http/Controllers/Table/PortsController.php
  includes/html/pages/apps.inc.php
  includes/html/pages/apps/overview.inc.php
Labels: Security

#16724 VRP Transceivers, type + distance details
  LibreNMS/OS/Vrp.php
  tests/data/vrp_ar169sfp.json
  tests/data/vrp_ne.json
  tests/data/vrp_ne8000-m8.json
Labels: Device :desktop_computer:

#16727 Fix sensor reset count null
  includes/html/forms/sensor-alert-reset.inc.php
Labels: Bug :spider:

#16733 Fix hyperlink to install doc
  doc/Support/FAQ.md
Labels: Documentation :book:

#16730 Attempt to fix legacy email alerts
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Alert/Transport/Mail.php
  LibreNMS/Util/Mail.php
Labels: Bug :spider:, Alerting :bell:

#16736 Updated Russian translations
  lang/ru.json
  lang/ru/auth.php
  lang/ru/bgp.php
  lang/ru/commands.php
  lang/ru/components.php
  lang/ru/device.php
  lang/ru/exceptions.php
  lang/ru/install.php
  lang/ru/inventory.php
  lang/ru/map.php
  lang/ru/modules.php
  lang/ru/pagination.php
  lang/ru/passwords.php
  lang/ru/plugins.php
  lang/ru/poller.php
  lang/ru/port.php
  lang/ru/preferences.php
  lang/ru/sensors.php
  lang/ru/settings.php
  lang/ru/smokeping.php
  lang/ru/stp.php
  lang/ru/syslog.php
  lang/ru/validation.php
  lang/ru/widgets.php
  lang/ru/wireless.php
Labels: Translation

#16704 Hirschmann: Convert state sensors from inc.php to yaml
  includes/definitions/discovery/hirschmann.yaml
  includes/discovery/sensors/state/hirschmann.inc.php
  tests/data/hirschmann.json
  tests/data/hirschmann_ms4128.json
Labels: Device :desktop_computer:

#16734 Updated daily.sh to check for php 8.2 minimum
  daily.sh
Labels: Dependencies

#16706 ArubaCX: Add ISL State, Power and Temperature sensors
  includes/definitions/discovery/arubaos-cx.yaml
  tests/data/arubaos-cx_8360.json
  tests/snmpsim/arubaos-cx_8360.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#16746 Fix bug with delete alert rules
  includes/html/forms/delete-alert-rule.inc.php
Labels: Bug :spider:

#16750 Downgraded vis-timeline-graph2d.min.js
  html/js/vis-timeline-graph2d.min.js
Labels: Ignore changelog :mute:

#16689 Added the ability to clone a custom map
  app/Http/Controllers/Maps/CustomMapController.php
  lang/en/map.php
  resources/views/map/custom-manage.blade.php
  resources/views/map/custom-map-clone-modal.blade.php
  routes/web.php
Labels: Maps

#16653 stat graph update: adds max and min information for hourly, weekly, and monthly
  includes/html/graphs/generic_stats.inc.php
Labels: WebUI

#16386 Convert Config to a singleton
  LibreNMS/Config.php
  LibreNMS/IRCBot.php
  LibreNMS/Util/Git.php
  LibreNMS/Util/Version.php
  app/ConfigRepository.php
  app/Facades/LibrenmsConfig.php
  app/Providers/AppServiceProvider.php
  app/Providers/ConfigServiceProvider.php
  app/Providers/ErrorReportingProvider.php
  config/app.php
  config/librenms.php
  config/logging.php
  phpunit.xml
  tests/ConfigTest.php
  tests/OSDiscoveryTest.php
  tests/bootstrap.php
Labels: Internal Features

#16620 Change alert worse/better wording
  LibreNMS/Alert/RunAlerts.php
Labels: Alert Rule

#16751 Added support for Flood sensors for HWG STE2 devices
  includes/definitions/discovery/hwg-ste2.yaml
  tests/data/hwg-ste2.json
  tests/snmpsim/hwg-ste2.snmprec
Labels: Device :desktop_computer:

#16557 Added support for Seagate EX-OS
  html/images/logos/seagate.svg
  html/images/os/seagate.svg
  includes/definitions/discovery/exos.yaml
  includes/definitions/exos.yaml
  includes/discovery/sensors/current/exos.inc.php
  includes/discovery/sensors/pre-cache/exos.inc.php
  includes/discovery/sensors/temperature/exos.inc.php
  includes/discovery/sensors/voltage/exos.inc.php
  includes/polling/sensors/current/exos.inc.php
  includes/polling/sensors/temperature/exos.inc.php
  includes/polling/sensors/voltage/exos.inc.php
  mibs/seagate/SEAGATESYSTEMTRAP-MIB
  tests/data/exos.json
  tests/snmpsim/exos.snmprec
Labels: Device :desktop_computer:

#16758 Class device as down even if alerting is disabled
  app/Models/Device.php
Labels: WebUI

#16759 Removed surplus sql_param entry causing graphs not to display on devices page
  includes/html/pages/devices.inc.php
Labels: Bug :spider:

#16755 Fix deprecated string inline variable format
  LibreNMS/Validations/Database/CheckSchemaStructure.php
  database/seeders/DefaultAlertTemplateSeeder.php
  includes/html/modal/new_bill.inc.php
  includes/html/pages/notifications.inc.php
  includes/html/table/bills.inc.php
  poll-billing.php
Labels: Cleanup

#16760 Added support for CyberPower envirContactTable states
  includes/definitions/discovery/cyberpower.yaml
  tests/data/cyberpower.json
  tests/snmpsim/cyberpower.snmprec
Labels: Device :desktop_computer:

#16764 Re-added edit link back to docs
  mkdocs.yml
Labels: Ignore changelog :mute:

#16768 Dell DRAC: Fix treshold detection
  includes/definitions/discovery/drac.yaml
  includes/discovery/sensors/temperature/drac.inc.php
Labels: Device :desktop_computer:

#16774 Update GA id
  mkdocs.yml
Labels: Documentation :book:, Ignore changelog :mute:

#16771 Definitions/EdgeCOS: Expand discovery match
  AUTHORS.md
  includes/definitions/edgecos.yaml
  tests/data/edgecos_dcs203.json
  tests/snmpsim/edgecos_dcs203.snmprec
Labels: Device :desktop_computer:

#16775 device:poll, remove -d shortcut
  app/Console/Commands/DevicePoll.php
Labels: Command Line

#16773 Enable config caching
  app/ConfigRepository.php
  app/Console/Commands/ClearConfigCommand.php
  app/Console/Commands/DevicePoll.php
  app/Facades/LibrenmsConfig.php
  config/librenms.php
  discovery.php
  lang/en/commands.php
  scripts/collect-snmp-data.php
  scripts/save-test-data.php
  tests/bootstrap.php
Labels: Feature

#16778 Fallback processor discovery for EdgeCOS
  LibreNMS/OS/Edgecos.php
Labels: Device :desktop_computer:

#15688 doc: add selinux rule to allow cache access from webui
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#16779 Fix alertops payload
  LibreNMS/Alert/Transport/Alertops.php
Labels: Alerting :bell:

#16703 Allow linked maps to have a device selected
  app/Http/Controllers/Maps/CustomMapDataController.php
  resources/views/map/custom-edge-modal.blade.php
  resources/views/map/custom-edit.blade.php
  resources/views/map/custom-js.blade.php
  resources/views/map/custom-node-modal.blade.php
  resources/views/map/custom-view.blade.php
  resources/views/widgets/custom-map.blade.php
Labels: Maps

#16749 Fix for Navbar overlapping page content when it overflows
  html/css/styles.css
  resources/views/layouts/librenmsv1.blade.php
  resources/views/layouts/menu.blade.php
Labels: WebUI
