Repository librenms/librenms, pull requests merged in 2024-02, with the labels that each got.

#15794 Add Procurve NAC support
  LibreNMS/OS/Procurve.php
  mibs/hp/HP-AUTZ-MIB
  mibs/hp/HP-DOT1X-EXTENSIONS-MIB
  mibs/hp/HP-ICF-TC
  tests/data/procurve_nac.json
  tests/snmpsim/procurve_nac.snmprec
Labels: Device :desktop_computer:

#15796 Replace pivotTable() by ->table(2) in powerconnect NAC polling
  LibreNMS/OS/Powerconnect.php
Labels: Refactor, Ignore changelog :mute:

#15764 device - webpower smart II snmp UPS card
  includes/definitions/discovery/webpower-smart2.yaml
  includes/definitions/webpower-smart2.yaml
  includes/definitions/webpower.yaml
  mibs/ingrasys/USHA-MIB
  tests/data/webpower-smart2.json
  tests/snmpsim/webpower-smart2.snmprec
Labels: Device :desktop_computer:

#15793 Add ArubaOS-CX VSF state sensor support
  includes/definitions/arubaos-cx.yaml
  includes/definitions/discovery/arubaos-cx.yaml
  includes/discovery/sensors/state/arubaos-cx.inc.php
  includes/polling/sensors/state/arubaos-cx.inc.php
  mibs/arubaos-cx/ARUBAWIRED-AAA-MIB
  mibs/arubaos-cx/ARUBAWIRED-CHASSIS-MIB
  mibs/arubaos-cx/ARUBAWIRED-CIPT-MIB
  mibs/arubaos-cx/ARUBAWIRED-CONFIG-MIB
  mibs/arubaos-cx/ARUBAWIRED-DIST-SERVICES-MIB
  mibs/arubaos-cx/ARUBAWIRED-FAN-MIB
  mibs/arubaos-cx/ARUBAWIRED-FANTRAY-MIB
  mibs/arubaos-cx/ARUBAWIRED-INTERFACE-MIB
  mibs/arubaos-cx/ARUBAWIRED-LLDP-MIB
  mibs/arubaos-cx/ARUBAWIRED-LOOPPROTECT-MIB
  mibs/arubaos-cx/ARUBAWIRED-MACNOTIFY-MIB
  mibs/arubaos-cx/ARUBAWIRED-MCLAG-MIB
  mibs/arubaos-cx/ARUBAWIRED-MDNS-MIB
  mibs/arubaos-cx/ARUBAWIRED-MGMD-RMON-TRAP-MIB
  mibs/arubaos-cx/ARUBAWIRED-MGMD-SNOOPING-MIB
  mibs/arubaos-cx/ARUBAWIRED-MODULE-MIB
  mibs/arubaos-cx/ARUBAWIRED-MSTP-MIB
  mibs/arubaos-cx/ARUBAWIRED-MVRP-MIB
  mibs/arubaos-cx/ARUBAWIRED-NETWORKING-OID
  mibs/arubaos-cx/ARUBAWIRED-POE-MIB
  mibs/arubaos-cx/ARUBAWIRED-PORT-ACCESS-MIB
  mibs/arubaos-cx/ARUBAWIRED-PORTSECURITY-MIB
  mibs/arubaos-cx/ARUBAWIRED-PORTVLAN-MIB
  mibs/arubaos-cx/ARUBAWIRED-POWERSUPPLY-MIB
  mibs/arubaos-cx/ARUBAWIRED-PROVIDER-BRIDGE-MIB
  mibs/arubaos-cx/ARUBAWIRED-RPVST-MIB
  mibs/arubaos-cx/ARUBAWIRED-SYSTEMINFO-MIB
  mibs/arubaos-cx/ARUBAWIRED-TEMPSENSOR-MIB
  mibs/arubaos-cx/ARUBAWIRED-VSF-MIB
  mibs/arubaos-cx/ARUBAWIRED-VSFv2-MIB
  mibs/arubaos-cx/ARUBAWIRED-VSX-MIB
  tests/data/arubaos-cx.json
  tests/data/arubaos-cx_10.06.json
  tests/data/arubaos-cx_10.07.json
  tests/data/arubaos-cx_10.10.json
  tests/data/arubaos-cx_6300m.json
  tests/snmpsim/arubaos-cx_6300m.snmprec
Labels: Device :desktop_computer:

#15789 Add support for Webex max message length.
  LibreNMS/Alert/Transport/Ciscospark.php
Labels: Alerting :bell:

#15774 Add API endpoints to update and delete Device Groups
  doc/API/DeviceGroups.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#15790 Support for new os/devices, CTS
  html/images/logos/cts.png
  html/images/os/cts.png
  includes/definitions/cts.yaml
  includes/definitions/discovery/cts.yaml
  mibs/cts/CTS-cvt_wac_wpc_mac_mpc3112-MIB
  mibs/cts/HES-3112-MIB
  mibs/cts/IES-3110-MIB
  mibs/cts/IPS-3106-SE-PB-MIB
  mibs/cts/IPS-3110-MIB
  mibs/cts/IPS-3110-PB-MIB
  tests/data/cts_ips-3110.json
  tests/snmpsim/cts_ips-3110.snmprec
Labels: Device :desktop_computer:

#15812 Add LRT-C / LCM-B / LRS-D / LCM-B modules to Luminato model
  includes/discovery/sensors/bitrate/luminato.inc.php
Labels: Device :desktop_computer:

#15813 Add support for Cadant E6000
  LibreNMS/OS/ArrisC4.php
  includes/definitions/arris-c4.yaml
Labels: Device :desktop_computer:

#15809 Add HSRP state sensors for Cisco IOS on L3 switches
  includes/definitions/discovery/ios.yaml
  tests/data/ios_c3560.json
  tests/snmpsim/ios_c3560.snmprec
  tests/snmpsim/ios_c3560@1.snmprec
  tests/snmpsim/ios_c3560@10.snmprec
  tests/snmpsim/ios_c3560@11.snmprec
  tests/snmpsim/ios_c3560@12.snmprec
  tests/snmpsim/ios_c3560@178.snmprec
  tests/snmpsim/ios_c3560@2.snmprec
  tests/snmpsim/ios_c3560@20.snmprec
  tests/snmpsim/ios_c3560@21.snmprec
  tests/snmpsim/ios_c3560@22.snmprec
  tests/snmpsim/ios_c3560@30.snmprec
  tests/snmpsim/ios_c3560@31.snmprec
  tests/snmpsim/ios_c3560@32.snmprec
  tests/snmpsim/ios_c3560@40.snmprec
  tests/snmpsim/ios_c3560@41.snmprec
  tests/snmpsim/ios_c3560@42.snmprec
Labels: Device :desktop_computer:

#15816 initial support for Eltex mes24xx
  includes/definitions/discovery/eltex-mes24xx.yaml
  includes/definitions/eltex-mes24xx.yaml
  includes/discovery/entity-physical/eltex-mes24xx.inc.php
  includes/discovery/ipv6-addresses/eltex-mes24xx.inc.php
  includes/discovery/route.inc.php
  includes/discovery/sensors/current/eltex-mes24xx.inc.php
  includes/discovery/sensors/dbm/eltex-mes24xx.inc.php
  includes/discovery/sensors/temperature/eltex-mes24xx.inc.php
  includes/discovery/sensors/voltage/eltex-mes24xx.inc.php
  includes/discovery/storage/eltex-mes24xx.inc.php
  includes/polling/storage/eltex-mes24xx.inc.php
  mibs/eltexmes24xx/ARICENT-ISS-MIB
  mibs/eltexmes24xx/ELTEX-MES-ISS-CPU-UTIL-MIB
  mibs/eltexmes24xx/ELTEX-MES-ISS-ENV-MIB
  mibs/eltexmes24xx/ELTEX-MES-ISS-MIB
  mibs/eltexmes24xx/ELTEX-PHY-MIB
  mibs/eltexmes24xx/ELTEX-SMI-ACTUAL
  tests/data/eltex-mes24xx_mes2424bac.json
  tests/snmpsim/eltex-mes24xx_mes2424bac.snmprec
Labels: Device :desktop_computer:

#15820 Add support for Cisco IE1000
  includes/definitions/ios.yaml
  tests/data/ios_ie1000.json
  tests/snmpsim/ios_ie1000.snmprec
Labels: Device :desktop_computer:

#15817 docs: more precise OAuth group/role claim information
  doc/Extensions/OAuth-SAML.md
Labels: Documentation :book:

#15823 Add HSRP state sensors for Cisco IOSXE on L3 switches
  includes/definitions/discovery/iosxe.yaml
  tests/snmpsim/iosxe_c3850.snmprec
  tests/snmpsim/iosxe_c3850@1.snmprec
  tests/snmpsim/iosxe_c3850@100.snmprec
  tests/snmpsim/iosxe_c3850@11.snmprec
  tests/snmpsim/iosxe_c3850@12.snmprec
  tests/snmpsim/iosxe_c3850@140.snmprec
  tests/snmpsim/iosxe_c3850@15.snmprec
  tests/snmpsim/iosxe_c3850@150.snmprec
  tests/snmpsim/iosxe_c3850@20.snmprec
  tests/snmpsim/iosxe_c3850@200.snmprec
  tests/snmpsim/iosxe_c3850@21.snmprec
  tests/snmpsim/iosxe_c3850@22.snmprec
  tests/snmpsim/iosxe_c3850@23.snmprec
  tests/snmpsim/iosxe_c3850@24.snmprec
  tests/snmpsim/iosxe_c3850@250.snmprec
  tests/snmpsim/iosxe_c3850@254.snmprec
  tests/snmpsim/iosxe_c3850@255.snmprec
  tests/snmpsim/iosxe_c3850@300.snmprec
  tests/snmpsim/iosxe_c3850@500.snmprec
  tests/snmpsim/iosxe_c3850@60.snmprec
  tests/snmpsim/iosxe_c3850@70.snmprec
  tests/snmpsim/iosxe_c3850@71.snmprec
  tests/snmpsim/iosxe_c3850@72.snmprec
  tests/snmpsim/iosxe_c3850@73.snmprec
  tests/snmpsim/iosxe_c3850@80.snmprec
  tests/snmpsim/iosxe_c3850@97.snmprec
  tests/snmpsim/iosxe_c3850@98.snmprec
  tests/snmpsim/iosxe_c3850@99.snmprec
  tests/snmpsim/iosxe_c3850@998.snmprec
Labels: Device :desktop_computer:

#15685 Show error if "Check Type" field is empty when creating new service template
  app/Http/Controllers/ServiceTemplateController.php
Labels: Bug :spider:

#15621 device - fix Counter64 octets value in 32bit column bgpPeerInTotalMessages
  includes/polling/bgp-peers.inc.php
Labels: Needs-Verification, Device :desktop_computer:

#15821 Add HSRP Sensor support for IOSXR
  includes/definitions/discovery/iosxr.yaml
  tests/data/iosxr_asr9904.json
  tests/snmpsim/iosxr_asr9904.snmprec
Labels: Device :desktop_computer:

#15831 Disable Page Refresh on Oxidized Tools Page
  includes/html/pages/oxidized.inc.php
Labels: Oxidized

#15824 Update Images.md
  doc/Installation/Images.md
Labels: Documentation :book:

#15836 Add kelvin to celcius conversion
  includes/common.php
  includes/html/modal/new_customoid.inc.php
  includes/polling/customoid.inc.php
Labels: Core

#15837 Correctly identify FS Datacenter Switch N8560-48BC
  includes/definitions/fs-switch-dc.yaml
  includes/definitions/fs-switch.yaml
  tests/data/fs-switch-dc_n8560-48bc.json
  tests/snmpsim/fs-switch-dc_n8560-48bc.snmprec
Labels: Device :desktop_computer:

#15783 Modify the date selector to use the session timezone
  html/js/librenms.js
  includes/html/pages/device/overview/eventlog.inc.php
  includes/html/print-date-selector.inc.php
  includes/html/table/poll-log.inc.php
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#15695 Don't escape leaflet tile url in location edit map
  app/Http/Controllers/LocationController.php
  resources/views/locations.blade.php
Labels: Bug :spider:

#15830 Rewrite ipv4 address discovery to Eloquent
  app/Models/Ipv4Address.php
  app/Models/Ipv4Network.php
  includes/discovery/functions.inc.php
  includes/discovery/ipv4-addresses.inc.php
Labels: Refactor

#14321 fix tp-link jetstream FDB discovery
  includes/discovery/fdb-table/jetstream.inc.php
Labels: Device :desktop_computer:

#15845 Socket Statistic Application cleanup and application page graph fixes.
  doc/Extensions/Applications.md
  includes/html/graphs/application/ss-af-common.inc.php
  includes/html/graphs/application/ss-common.inc.php
  includes/html/graphs/application/ss-netid-common.inc.php
  includes/html/graphs/application/ss_dccp.inc.php
  includes/html/graphs/application/ss_inet.inc.php
  includes/html/graphs/application/ss_inet6.inc.php
  includes/html/graphs/application/ss_link.inc.php
  includes/html/graphs/application/ss_mptcp.inc.php
  includes/html/graphs/application/ss_netlink.inc.php
  includes/html/graphs/application/ss_raw.inc.php
  includes/html/graphs/application/ss_sctp.inc.php
  includes/html/graphs/application/ss_tcp.inc.php
  includes/html/graphs/application/ss_tipc.inc.php
  includes/html/graphs/application/ss_udp.inc.php
  includes/html/graphs/application/ss_unix.inc.php
  includes/html/graphs/application/ss_vsock.inc.php
  includes/html/graphs/application/ss_xdp.inc.php
  includes/html/pages/apps.inc.php
Labels: Applications :floppy_disk:

#15378 add dhcp-stats tests and update for v3 of the extend
  doc/Extensions/Applications.md
  includes/html/pages/device/apps/dhcp-stats.inc.php
  includes/polling/applications/dhcp-stats.inc.php
  resources/views/widgets/sortable_table.blade.php
  tests/data/linux_dhcp-stats-v2.json
  tests/data/linux_dhcp-stats-v3.json
  tests/snmpsim/linux_dhcp-stats-v2.snmprec
  tests/snmpsim/linux_dhcp-stats-v3.snmprec
Labels: Applications :floppy_disk:

#15844 [bugfix] Fix json-app-tool.php to work with Oid class.
  scripts/json-app-tool.php
Labels: Bug :spider:

#15846 Update Port Real Time Graph error
  html/graph-realtime.php
  includes/html/pages/device/port/realtime.inc.php
Labels: Miscellaneous

#15835 Fix for linkDown/linkUp ifOperStatus
  LibreNMS/Snmptrap/Handlers/LinkDown.php
Labels: Bug :spider:

#15849 Applications.md formatting update for better readability.
  doc/Extensions/Applications.md
Labels: Documentation :book:

#15855 Updated SLA poller for Cisco Nexus 9000
  LibreNMS/OS/Shared/Cisco.php
  tests/data/nxos_n9000-9.3.9.json
  tests/snmpsim/nxos_n9000-9.3.9.snmprec
Labels: Device :desktop_computer:

#15856 Fixed graphs for icmp service showing PL 4 times
  includes/services/check_icmp.inc.php
Labels: Graphs

#15834 YAMLized version of previous PR for Ericsson SSR 80xx routers
  includes/definitions/discovery/ericsson-ipos.yaml
  includes/definitions/ericsson-ipos.yaml
  includes/discovery/storage/ericsson-ipos.inc.php
  includes/polling/storage/ericsson-ipos.inc.php
  mibs/ericsson/ERICSSON-ROUTER-ALARM-TC
  mibs/ericsson/ERICSSON-ROUTER-CPU-METER-MIB
  mibs/ericsson/ERICSSON-ROUTER-ENVMON-CAP
  mibs/ericsson/ERICSSON-ROUTER-ENVMON-MIB
  mibs/ericsson/ERICSSON-ROUTER-OPTICAL-TRANSCEIVER-MIB
  mibs/ericsson/ERICSSON-ROUTER-SFP-MIB
  mibs/ericsson/ERICSSON-ROUTER-SMI
  mibs/ericsson/ERICSSON-ROUTER-SYS-RESOURCES-MIB
  mibs/ericsson/ERICSSON-ROUTER-TC
  mibs/ericsson/ERICSSON-TC-MIB
  mibs/ericsson/ERICSSON-TOP-MIB
  tests/data/ericsson-ipos_ssr8020.json
  tests/snmpsim/ericsson-ipos_ssr8020.snmprec
Labels: Device :desktop_computer:

#15863 [ipv4] fix /32 addresses discovery
  includes/discovery/functions.inc.php
  includes/discovery/ipv4-addresses.inc.php
Labels: Bug :spider:

#15864 Added additional lines for selinux config to work with RHEL8
  doc/Extensions/RRDCached.md
Labels: Documentation :book:
