Repository librenms/librenms, pull requests merged in 2024-05, with the labels that each got.

#15998 SNMP Traps - Ciena AAA
  LibreNMS/Snmptrap/Handlers/CienaCesAAAUserAuthenticationEvent.php
  config/snmptraps.php
  mibs/ciena/CIENA-CES-AAA-MIB
  tests/Feature/SnmpTraps/CienaCesAAAUserAuthenticationEventTest.php
Labels: SNMP Traps

#16001 Fix for AD Lookup in our environment
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
Labels: Authentication

#16004 Change custom map editor icon
  resources/views/layouts/menu.blade.php
Labels: WebUI

#16011 Mobile menu full height
  resources/views/layouts/menu.blade.php
Labels: WebUI

#16009 Massive changes to the Chinese interface translation.
  lang/zh-CN/auth.php
  lang/zh-CN/bgp.php
  lang/zh-CN/commands.php
  lang/zh-CN/components.php
  lang/zh-CN/device.php
  lang/zh-CN/exceptions.php
  lang/zh-CN/install.php
  lang/zh-CN/inventory.php
  lang/zh-CN/map.php
  lang/zh-CN/modules.php
  lang/zh-CN/pagination.php
  lang/zh-CN/passwords.php
  lang/zh-CN/plugins.php
  lang/zh-CN/poller.php
  lang/zh-CN/port.php
  lang/zh-CN/preferences.php
  lang/zh-CN/sensors.php
  lang/zh-CN/smokeping.php
  lang/zh-CN/stp.php
  lang/zh-CN/syslog.php
  lang/zh-CN/validation.php
  lang/zh-CN/widgets.php
  lang/zh-CN/wireless.php
Labels: Translation

#16005 Map Management: Show Groups
  app/Http/Controllers/Maps/CustomMapController.php
  html/css/app.css
  html/mix-manifest.json
  lang/en/map.php
  resources/views/map/custom-manage.blade.php
  resources/views/map/custom-map-delete-modal.blade.php
Labels: WebUI

#16016 Fix WirelessSensor incorrect model
  app/Models/WirelessSensor.php
Labels: Bug :spider:

#16017 [DOC] Install LibreNMS: add Icons
  doc/Extensions/Customizing-the-Web-UI.md
  doc/Installation/Install-LibreNMS.md
  mkdocs.yml
Labels: Documentation :book:

#15566 Linux MegaRAID SAS fixes
  includes/definitions/discovery/linux.yaml
  tests/data/linux_lsi.json
Labels: Device :desktop_computer:, Breaking-Change

#15967 Added FibroLAN devices
  html/images/os/fibrolan.svg
  includes/definitions/discovery/fibrolan-falcon.yaml
  includes/definitions/discovery/fibrolan-metrostar.yaml
  includes/definitions/fibrolan-falcon.yaml
  includes/definitions/fibrolan-metrostar.yaml
  mibs/fibrolan/FIBROLAN-COMMON-MIB
  mibs/fibrolan/FIBROLAN-DEVICE-MIB
  mibs/fibrolan/FIBROLAN-MIB-ACM110
  mibs/fibrolan/FIBROLAN-MIB-DEVICECONVERTERS
  mibs/fibrolan/FIBROLAN-MIB-GBE-MCM1000
  mibs/fibrolan/FIBROLAN-MIB-GBE-MCM1000X
  mibs/fibrolan/FIBROLAN-MIB-GBE-MCM1000XRL
  mibs/fibrolan/FIBROLAN-MIB-GBECONVERTERS
  mibs/fibrolan/FIBROLAN-MIB-LTA41MA
  mibs/fibrolan/FIBROLAN-MIB-LTA41XE1
  mibs/fibrolan/FIBROLAN-MIB-MCM100-xE1
  mibs/fibrolan/FIBROLAN-MIB-MCM1xx
  mibs/fibrolan/FIBROLAN-MIB-METRO-STAR-MV
  mibs/fibrolan/FIBROLAN-MIB-MSM100U
  mibs/fibrolan/FIBROLAN-MIB-MSM2500U
  mibs/fibrolan/FIBROLAN-MIB-MSM622U
  mibs/fibrolan/FIBROLAN-MIB-MSMODULE
  mibs/fibrolan/FIBROLAN-MIB-REDUNDANCYDEVICES
  mibs/fibrolan/FIBROLAN-MIB-SFP
  mibs/fibrolan/FIBROLAN-SFP-MIB
  mibs/fibrolan/METROSTAR-MIB
  mibs/fibrolan/MS-TRAPS-MIB
  tests/data/fibrolan-falcon_falcon-mx.json
  tests/data/fibrolan-falcon_falcon-x.json
  tests/data/fibrolan-falcon_ufalcon-mx.json
  tests/data/fibrolan-metrostar_1.json
  tests/snmpsim/fibrolan-falcon_falcon-mx.snmprec
  tests/snmpsim/fibrolan-falcon_falcon-x.snmprec
  tests/snmpsim/fibrolan-falcon_ufalcon-mx.snmprec
  tests/snmpsim/fibrolan-metrostar_1.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15974 Rrd source does not work with rrdcached
  LibreNMS/RRD/RrdDefinition.php
Labels: Bug :spider:

#16023 Update MIB for Edge-Core ECS4120-Series
  mibs/edgecos/ECS4120-MIB
Labels: MIBs

#15832 Mysql PDO options to support SSL/TLS client communication
  config/database.php
Labels: Feature, Security

#15705 Update Dispatcher-Service.md
  doc/Extensions/Dispatcher-Service.md
Labels: Documentation :book:

#15673 snmpscan.py output errors and nodns
  snmp-scan.py
Labels: Feature

#16024 Always run tests
  .github/workflows/test.yml
Labels: Tests :test_tube:

#16020 Custom Maps: geo map and color backgrounds
  app/Http/Controllers/LocationController.php
  app/Http/Controllers/Maps/CustomMapBackgroundController.php
  app/Http/Controllers/Maps/CustomMapController.php
  app/Models/CustomMap.php
  app/Models/CustomMapBackground.php
  database/migrations/2024_04_29_180911_custom_maps_add_background_type_and_background_data.php
  database/migrations/2024_04_29_183605_custom_maps_drop_background_suffix_and_background_version.php
  html/css/L.Control.Locate.min.css
  html/css/L.Control.Locate.min.css.map
  html/css/app.css
  html/css/leaflet.css
  html/js/Leaflet.GoogleMutant.js
  html/js/leaflet-image.js
  html/js/leaflet.js
  html/js/leaflet.markercluster.js
  html/js/librenms.js
  html/mix-manifest.json
  lang/en/map.php
  misc/db_schema.yaml
  package-lock.json
  resources/views/components/geo-map.blade.php
  resources/views/components/input.blade.php
  resources/views/components/tab.blade.php
  resources/views/components/tabs.blade.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/locations.blade.php
  resources/views/map/custom-background-modal.blade.php
  resources/views/map/custom-edit.blade.php
  resources/views/map/custom-view.blade.php
Labels: Feature, WebUI

#16035 Revert "AD auth: escape backslashes"
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
Labels: Ignore changelog :mute:

#16034 Device location map zoom out when location N/A
  includes/html/dev-overview-data.inc.php
Labels: Bug :spider:, WebUI

#16039 Fix icmp ping y-axis over 1000ms
  includes/html/graphs/device/icmp_perf.inc.php
Labels: Bug :spider:, Graphs

#16041 Fix issue loading session preferences
  app/Http/Middleware/LoadUserPreferences.php
Labels: Bug :spider:, WebUI

#16040 Fix downtime in corner cases
  app/Models/Device.php
Labels: Bug :spider:

#16043 API: return error when no device ports found
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#16054 Update Hatteras DSLAM name
  includes/definitions/hatteras.yaml
Labels: Device :desktop_computer:

#16055 Manage Maps limit width
  html/css/app.css
  html/mix-manifest.json
  resources/views/map/custom-manage.blade.php
Labels: WebUI

#16057 Remove device_perf_purge
  misc/config_definitions.json
Labels: Cleanup, Settings

#16053 Widget hot refresh & worldmap cleanup
  app/Http/Controllers/Widgets/WorldMapController.php
  config/debugbar.php
  html/css/styles.css
  html/js/librenms.js
  lang/en/settings.php
  misc/config_definitions.json
  resources/views/layouts/librenmsv1.blade.php
  resources/views/overview/default.blade.php
  resources/views/widgets/alertlog.blade.php
  resources/views/widgets/alertlog_stats.blade.php
  resources/views/widgets/alerts.blade.php
  resources/views/widgets/eventlog.blade.php
  resources/views/widgets/graylog.blade.php
  resources/views/widgets/settings/base.blade.php
  resources/views/widgets/settings/worldmap.blade.php
  resources/views/widgets/syslog.blade.php
  resources/views/widgets/worldmap.blade.php
  routes/web.php
Labels: WebUI

#16056 Remove enable_ports_poe
  misc/config_definitions.json
Labels: Cleanup, Settings

#16066 Fix error in riverbed
  LibreNMS/OS/Riverbed.php
Labels: Bug :spider:, Device :desktop_computer:

#16075 Fix duplication of processor entries & limit length of type
  LibreNMS/Device/Processor.php
  includes/definitions/discovery/fortiauthenticator.yaml
  misc/discovery_schema.json
  tests/data/fortiauthenticator.json
Labels: Bug :spider:

#16081 Fix duplicate maps in relationship
  app/Models/Device.php
Labels: Bug :spider:, WebUI
