Repository librenms/librenms, pull requests merged in 2024-09, with the labels that each got.

#16341 Use the already installed chromedriver
  .github/workflows/test.yml
  tests/DuskTestCase.php
Labels: Tests :test_tube:

#16347 Ignore entity-sensor invalid sensors
  LibreNMS/Util/Number.php
  includes/discovery/sensors/entity-sensor.inc.php
  tests/data/arista_eos.json
  tests/data/arista_eos_vrf.json
Labels: Bug :spider:

#16348 awplus sensor fixes
  includes/discovery/sensors/current/awplus.inc.php
  includes/discovery/sensors/dbm/awplus.inc.php
  includes/discovery/sensors/temperature/awplus.inc.php
  includes/discovery/sensors/voltage/awplus.inc.php
  includes/polling/ntp/awplus.inc.php
  tests/data/awplus_sfp.json
Labels: Device :desktop_computer:

#16351 Fix Cisco entity-sensor
  includes/common.php
  includes/discovery/sensors/cisco-entity-sensor.inc.php
  tests/data/iosxr_asr9001.json
  tests/data/iosxr_asr9010.json
  tests/data/iosxr_asr9901.json
  tests/data/iosxr_ncs55a2.json
Labels: Device :desktop_computer:

#16350 Fix bad health sensor labels in the ui
  includes/html/functions.inc.php
Labels: Bug :spider:, WebUI

#16345 Remove global $var access functions
  includes/html/functions.inc.php
  includes/html/pages/apps/proxmox.inc.php
  includes/html/pages/apps/proxmox/vm.inc.php
  includes/html/pages/device/apps/proxmox.inc.php
Labels: Cleanup

#16353 Improve Rrd datastore test
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Proc.php
  tests/RrdtoolTest.php
Labels: Tests :test_tube:

#16336 Fix handling of zero value for entSensorThresholdValue for dbm cisco sensor
  includes/discovery/sensors/cisco-entity-sensor.inc.php
  tests/data/iosxe_c8500-20x6c.json
  tests/snmpsim/iosxe_c8500-20x6c.snmprec
Labels: Bug :spider:

#16357 Fix rrd show command
  LibreNMS/Data/Store/Rrd.php
Labels: Bug :spider:

#16354 Add full python dependencies to Ubuntu 22.04 and 24.04 install docs
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#16360 Fix phpstan ignore
  tests/RrdtoolTest.php
Labels: Ignore changelog :mute:

#16364 Fix sensor custom limits being reverted
  app/Observers/SensorObserver.php
Labels: Bug :spider:, Ignore changelog :mute:

#16365 Fix some issues with cisco entity sensors
  includes/discovery/sensors/state/cisco.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#16329 Fix ignore check for F5 component polling and Web UI
  includes/html/pages/device/loadbalancer/f5-cert.inc.php
  includes/html/pages/device/loadbalancer/gtm_pool.inc.php
  includes/html/pages/device/loadbalancer/gtm_wide.inc.php
  includes/html/pages/device/loadbalancer/ltm_bwc.inc.php
  includes/html/pages/device/loadbalancer/ltm_pool.inc.php
  includes/html/pages/device/loadbalancer/ltm_vs.inc.php
  includes/polling/loadbalancers/f5-gtm.inc.php
  includes/polling/loadbalancers/f5-ltm-currconns.inc.php
  includes/polling/loadbalancers/f5-ltm.inc.php
Labels: Polling, WebUI

#16368 Availability calculations, handle bad data
  LibreNMS/Device/Availability.php
  tests/Unit/Util/NumberTest.php
Labels: Bug :spider:

#16367 save-test-data.php improvements
  LibreNMS/Util/Snmpsim.php
  scripts/save-test-data.php
Labels: Internal Features

#16316 device - infortrend - add temperature sensor
  includes/definitions/discovery/infortrend.yaml
  tests/data/infortrend_ds3016.json
  tests/snmpsim/infortrend_ds3016.snmprec
Labels: Device :desktop_computer:

#16369 More cisco state fixes
  includes/discovery/sensors/state/cisco.inc.php
  mibs/cisco/CISCO-ENVMON-MIB
Labels: Bug :spider:, Device :desktop_computer:

#16370 Sensor: Only post to eventlog when specific columns change
  app/Observers/SensorObserver.php
Labels: Discovery

#16373 bug - VRP NAC - Fix not-nullable columns
  LibreNMS/OS/Vrp.php
Labels: Bug :spider:, Ignore changelog :mute:

#16284 Remove SmartOptics Skip Values
  includes/definitions/discovery/smartos-dcp-m.yaml
Labels: Device :desktop_computer:, Sensor

#16372 Improved module controls
  LibreNMS/Interfaces/Module.php
  LibreNMS/Modules/Availability.php
  LibreNMS/Modules/Core.php
  LibreNMS/Modules/EntityPhysical.php
  LibreNMS/Modules/Isis.php
  LibreNMS/Modules/LegacyModule.php
  LibreNMS/Modules/Mempools.php
  LibreNMS/Modules/Mpls.php
  LibreNMS/Modules/Nac.php
  LibreNMS/Modules/Netstats.php
  LibreNMS/Modules/Os.php
  LibreNMS/Modules/Ospf.php
  LibreNMS/Modules/PortsStack.php
  LibreNMS/Modules/PrinterSupplies.php
  LibreNMS/Modules/Slas.php
  LibreNMS/Modules/Stp.php
  LibreNMS/Modules/Vminfo.php
  LibreNMS/Modules/Xdsl.php
  app/Http/Controllers/Device/Tabs/ModuleController.php
  app/Models/Device.php
  includes/html/forms/discovery-module-update.inc.php
  includes/html/forms/poller-module-update.inc.php
  includes/html/pages/device/edit/modules.inc.php
  routes/web.php
Labels: Feature, WebUI

#16390 python3-command-runner is only available in Ubuntu 24.04
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#16389 Fix sensor discover when device_id is omitted
  app/Discovery/Sensor.php
Labels: Bug :spider:, Discovery

#16388 Remove internal usages of config_to_json.php
  LibreNMS/__init__.py
  snmp-scan.py
Labels: Cleanup

#16385 Remove legacy db config
  LibreNMS/Config.php
  LibreNMS/config.py
  config_to_json.php
Labels: Cleanup

#16392 Sensors move can skip and output into singleton
  app/Discovery/Sensor.php
  app/Models/Sensor.php
  includes/discovery/functions.inc.php
Labels: Refactor

#16396 Save guessed limits
  app/Models/Sensor.php
  app/Observers/SensorObserver.php
Labels: Bug :spider:

#16397 Fix module tests
  tests/OSModulesTest.php
Labels: Bug :spider:, Tests :test_tube:

#16393 Fix sensor state translations
  LibreNMS/DB/SyncsModels.php
  app/Discovery/Sensor.php
  app/Models/Sensor.php
  app/Models/SensorToStateIndex.php
  app/Models/StateIndex.php
  app/Models/StateTranslation.php
  includes/definitions/discovery/ies5000.yaml
  includes/functions.php
Labels: Bug :spider:

#16409 Updated documentation navigation and options to tidy things up
  mkdocs.yml
Labels: Documentation :book:

#16413 Bump minimum PHP version to 8.2
  LibreNMS/Validations/Php.php
  doc/Installation/Install-LibreNMS.md
  mkdocs.yml
Labels: Documentation :book:, Dependencies

#16416 Updated from values for port graphs to be valid
  resources/views/device/tabs/ports/graphs.blade.php
Labels: Bug :spider:, WebUI

#16417 FS centec: disable bulk for vlans
  includes/definitions/fs-centec.yaml
Labels: Device :desktop_computer:

#16422 Added support for Siteboss360 appliances
  includes/definitions/discovery/siteboss360.yaml
  includes/definitions/siteboss360.yaml
  mibs/asentria/SITEBOSS-360-STD-MIB
  tests/data/siteboss360_siteboss360.json
  tests/snmpsim/siteboss360_siteboss360.snmprec
Labels: Device :desktop_computer:

#16421 Fix smokeping generator for TCP transport
  app/Console/Commands/SmokepingGenerateCommand.php
Labels: Bug :spider:, Command Line

#16363 Fix normal users UI widget AlertLog Stats
  includes/html/table/alertlog-stats.inc.php
Labels: WebUI

#16426 Adva 150CC - Exclude nemihubshelf (150CM)
  includes/definitions/adva_fsp150.yaml
Labels: Device :desktop_computer:

#16414 Fixed the issues with JetStream lldp discovery
  includes/discovery/discovery-protocols.inc.php
Labels: Bug :spider:, Discovery

#16425 Fix AdvaOSA OS naming
  includes/definitions/adva-osa.yaml
  includes/definitions/discovery/adva-osa.yaml
  tests/data/adva-osa_osa.json
  tests/snmpsim/adva-osa_osa.snmprec
Labels: Device :desktop_computer:

#16415 Global VLAN ports page
  app/Http/Controllers/Table/VlanDevicesController.php
  app/Http/Controllers/Table/VlanPortsController.php
  app/Http/Controllers/VlansController.php
  html/css/mono.css
  resources/views/layouts/menu.blade.php
  resources/views/vlans/index.blade.php
  routes/web.php
Labels: WebUI

#16436 Improve reset to default button on settings page
  html/css/app.css
  html/js/app.js
  html/js/vendor.js
  html/mix-manifest.json
  package-lock.json
  package.json
  resources/js/components/LibrenmsSetting.vue
Labels: WebUI

#16438 LLDP Discovery - LldpRemPortId convert to string when in HEX
  includes/discovery/discovery-protocols.inc.php
  tests/data/panos_vsys.json
Labels: Feature

#16435 Updated APC sensors to include upsAdvTestDiagnosticsResults state
  includes/definitions/discovery/apc.yaml
  misc/alert_rules.json
Labels: Device :desktop_computer:

#16442 Fix device group stored XSS
  includes/html/pages/devices.inc.php
Labels: Security

#16449 Fix default config for custom map height and width
  misc/config_definitions.json
Labels: WebUI, Ignore changelog :mute:

#16443 Fix alert rule name stored XSS
  includes/html/print-alert-rules.php
Labels: Security

#16444 Alert transport details xss
  LibreNMS/Alert/Transport.php
  includes/html/print-alert-transports.php
Labels: Security

#16445 Fix potential xss in edit alert transport
  includes/html/modal/edit_alert_transport.inc.php
Labels: Security

#16446 Fix alert template creation xss
  includes/html/forms/alert-templates.inc.php
  includes/html/modal/alert_template.inc.php
Labels: Security

#16447 Fix device dependencies xss
  includes/html/pages/device-dependencies.inc.php
Labels: Security

#16448 Sanitize custom map SVGs
  app/Http/Controllers/Maps/CustomMapBackgroundController.php
  composer.json
  composer.lock
Labels: Security

#16455 Format Oxidized update time
  includes/html/functions.inc.php
Labels: WebUI

#16456 Transceivers - Extend to more Cisco Containers
  LibreNMS/OS/Shared/Cisco.php
Labels: Device :desktop_computer:

#16458 Fix double escaping sysname in device dependencies
  includes/html/forms/get-host-dependencies.inc.php
Labels: Bug :spider:

#16459 Fix popup javascript
  html/js/librenms.js
  resources/views/components/popup.blade.php
  resources/views/layouts/librenmsv1.blade.php
Labels: Bug :spider:, WebUI

#16460 OcNOS transceiver temperature display fix
  includes/discovery/sensors/temperature/ocnos.inc.php
  tests/data/ocnos_s9600-32x.json
Labels: Bug :spider:, Device :desktop_computer:

#16468 OcNOS transceiver tx not visible
  includes/discovery/sensors/current/ocnos.inc.php
  includes/discovery/sensors/dbm/ocnos.inc.php
  tests/data/ocnos_s9600-32x.json
Labels: Bug :spider:, Device :desktop_computer:

#16469 FS centec switch transceiver temperature not showing
  includes/discovery/sensors/temperature/fs-centec.inc.php
Labels: Bug :spider:, Device :desktop_computer:
