Repository librenms/librenms, pull requests merged in 2024-04, with the labels that each got.

#15920 Fix wrong terminology
  lang/zh-TW/settings.php
Labels: Translation

#15919 bug - typo for request rate + sanity on numerical not_null values
  includes/polling/netscaler-vsvr.inc.php
Labels: Bug :spider:

#15917 bug - vrp - fix signed-tinyint overloaded with disabled radios
  LibreNMS/OS/Vrp.php
Labels: Bug :spider:

#15924 Add Fortigate HA state sensor definition
  includes/definitions/discovery/fortigate.yaml
  tests/data/fortigate.json
  tests/snmpsim/fortigate.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#15674 Added support for new device OS Westermo WeOS
  html/images/logos/westermo.svg
  html/images/os/westermo.png
  includes/definitions/discovery/weos.yaml
  includes/definitions/weos.yaml
  mibs/westermo/TTDP-MIB
  mibs/westermo/WESTERMO-FRNT-MIB
  mibs/westermo/WESTERMO-INTERFACE-MIB
  mibs/westermo/WESTERMO-OID-MIB
  mibs/westermo/WESTERMO-WEOS-MIB
  mibs/westermo/WESTERMO-WEOS-TECHPREVIEW-MIB
  misc/config_definitions.json
  tests/data/weos_ddw-225.json
  tests/snmpsim/weos_ddw-225.snmprec
Labels: Device :desktop_computer:

#15936 bug - fix tests after SDSL default change
  tests/data/oneaccess_lbb350.json
  tests/data/oneaccess_oneaccess-lte.json
  tests/data/oneaccess_oneaccess-sdsl.json
  tests/data/oneaccess_oneaccess-showtime.json
Labels: Bug :spider:, Ignore changelog :mute:

#15870 Documentation - opcache issue on Debian 12
  doc/Support/Performance.md
Labels: Documentation :book:

#15934 bug - Cisco NAC key error
  LibreNMS/OS/Shared/Cisco.php
Labels: Bug :spider:

#15942 Fix PDNS recursor error
  includes/polling/applications/powerdns-recursor.inc.php
Labels: Bug :spider:, Applications :floppy_disk:

#15946 Fix graph selection when to/from missing from url
  html/js/librenms.js
  resources/views/layouts/librenmsv1.blade.php
Labels: Bug :spider:, Graphs

#15945 fix null in services
  includes/services.inc.php
Labels: Bug :spider:, WebUI

#15949 Network-Map: Fix "lnms config:set" command syntax
  doc/Extensions/Network-Map.md
Labels: Documentation :book:

#15885 Improve order validation in list_devices
  includes/html/api_functions.inc.php
Labels: Security

#15898 Pretty up Slack formatting.
  LibreNMS/Alert/Transport/Slack.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#15950 Fix SQL injection issues in packages search
  includes/html/pages/search/packages.inc.php
Labels: Security

#15940 Improved Latency graph
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Data/Source/Fping.php
  LibreNMS/Data/Source/FpingResponse.php
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Data/Store/TimeSeriesPoint.php
  LibreNMS/Exceptions/FpingUnparsableLine.php
  LibreNMS/Polling/ConnectivityHelper.php
  LibreNMS/RRD/RrdDefinition.php
  app/Http/Controllers/Device/Tabs/LatencyController.php
  app/Http/Controllers/Widgets/TopDevicesController.php
  app/Jobs/PingCheck.php
  app/Models/Device.php
  app/Models/DevicePerf.php
  app/Observers/DeviceObserver.php
  daily.php
  daily.sh
  database/migrations/2024_04_10_093513_remove_device_perf.php
  doc/Alerting/Templates.md
  doc/Support/Configuration.md
  includes/html/api_functions.inc.php
  includes/html/graphs/device/icmp_perf.inc.php
  includes/html/graphs/device/ping_perf.inc.php
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/overview/ping.inc.php
  includes/html/pages/devices.inc.php
  lang/de/settings.php
  lang/en/settings.php
  lang/fr/settings.php
  lang/it/settings.php
  lang/uk/settings.php
  lang/zh-CN/settings.php
  lang/zh-TW/settings.php
  misc/config_definitions.json
  misc/db_schema.yaml
  resources/views/device/tabs/latency.blade.php
  scripts/rrdstep.php
  tests/FpingTest.php
  tests/Unit/ConnectivityHelperTest.php
Labels: Feature, Graphs

#15954 Fix JS injection in Service Templates
  resources/views/service-template/index.blade.php
Labels: Security

#15956 Fix Graph date selector
  includes/html/print-date-selector.inc.php
Labels: Bug :spider:, Security, Graphs

#15955 Add missing p5-File-Slurp dependency
  doc/Extensions/Applications.md
Labels: Documentation :book:

#15959 Skip rrd sources that do not exist
  LibreNMS/RRD/RrdDefinition.php
Labels: Bug :spider:

#15904 Add support for a maintenance boolean in API results.
  doc/API/Devices.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#15961 packet_loss macros quick fix
  doc/Support/Cleanup-options.md
  misc/macros.json
  misc/notifications.rss
Labels: Bug :spider:

#15958 New velocloud devices
  includes/definitions/velocloud.yaml
  tests/snmpsim/velocloud_EDGE6X0.snmprec
Labels: Device :desktop_computer:

#15962 Update packet_loss docs
  doc/Alerting/Macros.md
Labels: Documentation :book:

#15966 Git ignore custom map images
  .gitignore
Labels: Bug :spider:

#15965 Custom Maps: make edit title clickable
  resources/views/map/custom-edit.blade.php
Labels: WebUI

#15979 remove poller_name from docs
  doc/Alerting/Templates.md
Labels: Documentation :book:

#15978 Custom Map: Show crosshairs when adding
  html/css/app.css
  html/js/alpine.min.js
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  package-lock.json
  resources/views/map/custom-edit.blade.php
Labels: WebUI

#15972 Fix graph_type variable (svg / png)
  LibreNMS/Data/Store/Rrd.php
  LibreNMS/Enum/ImageFormat.php
  LibreNMS/Util/Graph.php
  app/Http/Controllers/GraphController.php
  includes/html/graphs/graph.inc.php
Labels: Graphs

#15985 Show custom maps in device overview
  app/Models/Device.php
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/overview/maps.inc.php
  resources/views/device/overview/maps.blade.php
Labels: Feature, WebUI

#15988 Fix systemd graphs using wrong rrd filename variable
  includes/html/graphs/application/systemd-common.inc.php
Labels: Bug :spider:

#15991 Chinese translation fixesChinese translation fixes
  lang/zh-CN/sensors.php
  lang/zh-CN/settings.php
  lang/zh-CN/syslog.php
Labels: Translation

#15996 Update to Material for MkDocs 8.3.9 -> 9.5.20
  doc/Dockerfile
Labels: Documentation :book:

#15997 Added initial support for ULAF+ devices
  html/images/os/ulaf.svg
  includes/definitions/discovery/ulaf.yaml
  includes/definitions/ulaf.yaml
  mibs/siemens/PLUS-MIB
  mibs/siemens/TRAP-MIB
  mibs/siemens/ULAF2-MIB
  tests/data/ulaf_1.json
  tests/snmpsim/ulaf_1.snmprec
Labels: Device :desktop_computer:

#15994 Merge duplicate toBytes functions
  LibreNMS/Util/Number.php
  app/Http/Controllers/Maps/CustomMapDataController.php
  includes/polling/applications/docker.inc.php
  tests/Unit/Util/NumberTest.php
Labels: Bug :spider:, Cleanup
