Repository librenms/librenms, pull requests merged in 2024-07, with the labels that each got.

#16078 New OS broadworks / broadsoft
  html/images/os/broadworks.png
  includes/definitions/broadworks.yaml
  includes/definitions/discovery/broadworks.yaml
  mibs/broadworks/BW-BroadworksApplicationServer
  mibs/broadworks/BW-BroadworksMediaServer
  mibs/broadworks/BW-BroadworksNetworkServer
  mibs/broadworks/BroadworksMaintenance
  tests/data/broadworks_broadsoft.json
  tests/snmpsim/broadworks_broadsoft.snmprec
Labels: Device :desktop_computer:

#15906 add generic and improved NFS support with initial support for both FreeBSD and Linux
  LibreNMS/Util/StringHelpers.php
  doc/Extensions/Applications.md
  includes/html/graphs/application/nfS_client_rpc_info.inc.php
  includes/html/graphs/application/nfs-common.inc.php
  includes/html/graphs/application/nfs_client_cache.inc.php
  includes/html/graphs/application/nfs_client_general.inc.php
  includes/html/graphs/application/nfs_client_network.inc.php
  includes/html/graphs/application/nfs_client_rpc.inc.php
  includes/html/graphs/application/nfs_client_rpc1.inc.php
  includes/html/graphs/application/nfs_client_rpc2.inc.php
  includes/html/graphs/application/nfs_client_rpc3.inc.php
  includes/html/graphs/application/nfs_client_rpc4.inc.php
  includes/html/graphs/application/nfs_client_rpc5.inc.php
  includes/html/graphs/application/nfs_client_rpc6.inc.php
  includes/html/graphs/application/nfs_client_rpc7.inc.php
  includes/html/graphs/application/nfs_client_rpc8.inc.php
  includes/html/graphs/application/nfs_client_rpc9.inc.php
  includes/html/graphs/application/nfs_client_rpc_info.inc.php
  includes/html/graphs/application/nfs_server_RAcache.inc.php
  includes/html/graphs/application/nfs_server_cache.inc.php
  includes/html/graphs/application/nfs_server_general.inc.php
  includes/html/graphs/application/nfs_server_io.inc.php
  includes/html/graphs/application/nfs_server_network.inc.php
  includes/html/graphs/application/nfs_server_rpc.inc.php
  includes/html/graphs/application/nfs_server_rpc1.inc.php
  includes/html/graphs/application/nfs_server_rpc2.inc.php
  includes/html/graphs/application/nfs_server_rpc3.inc.php
  includes/html/graphs/application/nfs_server_rpc4.inc.php
  includes/html/graphs/application/nfs_server_rpc5.inc.php
  includes/html/graphs/application/nfs_server_rpc6.inc.php
  includes/html/graphs/application/nfs_server_rpc7.inc.php
  includes/html/graphs/application/nfs_server_rpc8.inc.php
  includes/html/graphs/application/nfs_server_rpc9.inc.php
  includes/html/graphs/application/nfs_server_rpc_info.inc.php
  includes/html/pages/device/apps/nfs.inc.php
  includes/nfs-shared.inc.php
  includes/polling/applications/nfs.inc.php
  tests/data/linux_nfs-v1.json
  tests/snmpsim/linux_nfs-v1.snmprec
Labels: Applications :floppy_disk:

#16109 Fixed wrong column and parameter used when deleting a location via API
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#16166 Allow for AXIS Panoramic cameras such as the P4707
  includes/definitions/axiscam.yaml
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#16171 Misc Junos MIB updates
  mibs/MPLS-VPN-MIB
  mibs/PPVPN-TC-MIB
  mibs/junos/JUNIPER-CHASSIS-DEFINES-MIB
  mibs/junos/JUNIPER-FRU-MIB
  mibs/junos/JUNIPER-MIB
  mibs/junos/JUNIPER-PING-MIB
  mibs/junos/JUNIPER-SMI
Labels: MIBs

#16172 Fix php issue in cisco ntp code
  includes/polling/ntp/cisco.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#16179 Fix incorrect get_class call
  LibreNMS/Device/Processor.php
Labels: Bug :spider:

#16178 Add more Synology disk health info
  includes/definitions/discovery/dsm.yaml
  mibs/synology/SYNOLOGY-DISK-MIB
  mibs/synology/SYNOLOGY-RAID-MIB
  mibs/synology/SYNOLOGY-SYSTEM-MIB
  tests/data/dsm.json
  tests/data/dsm_ds214se-dsm6.json
  tests/data/dsm_ds214se-dsm7.json
  tests/snmpsim/dsm_ds214se-dsm6.snmprec
  tests/snmpsim/dsm_ds214se-dsm7.snmprec
Labels: Device :desktop_computer:

#16170 [webui] Ports: correct sorting order when using ifName
  app/Http/Controllers/Device/Tabs/PortsController.php
Labels: WebUI

#16107 SnmpTrap Handler for Cisco IOS LDP Session UP and DOWN
  LibreNMS/Snmptrap/Handlers/CiscoLdpSesDown.php
  LibreNMS/Snmptrap/Handlers/CiscoLdpSesUp.php
  config/snmptraps.php
  mibs/cisco/MPLS-LDP-MIB
  tests/Feature/SnmpTraps/CiscoLdpSesTest.php
Labels: Needs Tests :unicorn:, SNMP Traps

#16173 BGP integer fields fix
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:

#16154 Changelog cleanup
  doc/General/Changelog.md
  doc/General/Changelogs/2013.md
  doc/General/Changelogs/2014.md
  doc/General/Changelogs/2015.md
  doc/General/Changelogs/2016.md
  doc/General/Changelogs/2017.md
  doc/General/Changelogs/2018.md
  doc/General/Changelogs/2019.md
  doc/General/Changelogs/2020.md
  doc/General/Changelogs/2021.md
  doc/General/Changelogs/2022.md
  doc/General/Changelogs/2023.md
  tests/DocsTest.php
Labels: Documentation :book:

#16180 nut-ups: adjust Line Nominal default limits
  includes/discovery/sensors/voltage/unix.inc.php
  tests/data/linux_ups-nut.json
Labels: Sensor

#16185 Add Hardware and frmware detection for moxa P510
  includes/definitions/discovery/moxa-etherdevice.yaml
  tests/data/moxa-etherdevice_edsp510a8poe.json
  tests/snmpsim/moxa-etherdevice_edsp510a8poe.snmprec
Labels: Device :desktop_computer:

#16187 lnms snmp:translate always show textual and numeric translations
  app/Console/Commands/SnmpFetch.php
  app/Console/Commands/SnmpTranslate.php
  lang/en/commands.php
Labels: Feature

#16181 Fix up the Siteboss571 discovery yaml to split pdnOutputCurrentValue and pdnMainCurrentValue indexes
  LibreNMS/OS/Siteboss571.php
  includes/definitions/discovery/siteboss571.yaml
  tests/data/siteboss571_siteboss571-2.json
  tests/data/siteboss571_siteboss571.json
  tests/snmpsim/siteboss571_siteboss571-2.snmprec
Labels: Bug :spider:, Device :desktop_computer:

#16192 Maps - Keep edge black when link is 0 bps
  app/Http/Controllers/Maps/CustomMapDataController.php
Labels: WebUI

#16200 Radwin MIB update
  mibs/radwin/RADWIN-MIB-WINLINK1000
Labels: MIBs

#16201 Fix null in sensors discovery
  LibreNMS/Device/Sensor.php
Labels: Bug :spider:

#16186 InfluxDBv2 allow filter by group and disable debug by default
  LibreNMS/Data/Store/InfluxDBv2.php
  doc/Extensions/metrics/InfluxDBv2.md
  lang/en/settings.php
  misc/config_definitions.json
Labels: Feature, Datastore

#16182 extend update for wireguard, correct is_int to is_numeric for polling purposes, and clean up the app page
  doc/Extensions/Applications.md
  includes/html/pages/device/apps/wireguard.inc.php
  includes/polling/applications/wireguard.inc.php
  tests/data/linux_wireguard-v1.json
Labels: Applications :floppy_disk:

#16194 Add NAC to Arubaos-CX
  LibreNMS/OS/ArubaosCx.php
  tests/data/arubaos-cx_nac.json
  tests/snmpsim/arubaos-cx_nac.snmprec
Labels: Device :desktop_computer:

#16204 SnmpQuery default improvements
  LibreNMS/Data/Source/NetSnmpQuery.php
Labels: Internal Features

#16206 Fix FortiGate Cluster Sync status
  includes/discovery/sensors/state/fortigate.inc.php
  tests/data/fortigate_100e.json
  tests/data/fortigate_1500d-sensors.json
  tests/data/fortigate_1500d.json
  tests/data/fortigate_60f.json
  tests/data/fortigate_60f3g4g.json
  tests/data/fortigate_cluster-60f.json
  tests/data/fortigate_fwf60d.json
  tests/data/fortigate_webfilter.json
Labels: Device :desktop_computer:

#16209 Support to Brazilian Portuguese
  lang/pt-BR.json
  lang/pt-BR/auth.php
  lang/pt-BR/bgp.php
  lang/pt-BR/commands.php
  lang/pt-BR/components.php
  lang/pt-BR/device.php
  lang/pt-BR/exceptions.php
  lang/pt-BR/install.php
  lang/pt-BR/inventory.php
  lang/pt-BR/map.php
  lang/pt-BR/modules.php
  lang/pt-BR/overview.php
  lang/pt-BR/pagination.php
  lang/pt-BR/passwords.php
  lang/pt-BR/plugins.php
  lang/pt-BR/poller.php
  lang/pt-BR/port.php
  lang/pt-BR/preferences.php
  lang/pt-BR/sensors.php
  lang/pt-BR/settings.php
  lang/pt-BR/smokeping.php
  lang/pt-BR/stp.php
  lang/pt-BR/syslog.php
  lang/pt-BR/validation.php
  lang/pt-BR/widgets.php
  lang/pt-BR/wireless.php
Labels: Translation

#16213 Fix snmpsim in CI
  .github/workflows/test.yml
Labels: Bug :spider:, Tests :test_tube:

#15471 Improve Snmpsim usage to ease testing
  .github/workflows/test.yml
  LibreNMS/Util/CiHelper.php
  LibreNMS/Util/ModuleTestHelper.php
  LibreNMS/Util/Snmpsim.php
  app/Console/Commands/DevSimulate.php
  lang/en/commands.php
  phpstan-baseline.neon
  scripts/collect-snmp-data.php
  scripts/save-test-data.php
  tests/OSDiscoveryTest.php
  tests/bootstrap.php
Labels: Internal Features

#16212 Custom map defaults
  app/Http/Controllers/Maps/CustomMapController.php
  app/Models/CustomMap.php
  html/css/app.css
  html/js/app.js
  html/mix-manifest.json
  lang/en/settings.php
  misc/config_definitions.json
  resources/js/components/SettingColor.vue
  resources/views/map/custom-background-modal.blade.php
Labels: WebUI

#16156 Tripplite console server
  includes/definitions/discovery/trippliteconsole.yaml
  includes/definitions/poweralert.yaml
  includes/definitions/trippliteconsole.yaml
  tests/data/trippliteconsole.json
  tests/data/trippliteconsole_b093.json
  tests/data/trippliteconsole_b097.json
  tests/snmpsim/trippliteconsole.snmprec
  tests/snmpsim/trippliteconsole_b093.snmprec
  tests/snmpsim/trippliteconsole_b097.snmprec
Labels: Device :desktop_computer:

#16219 Add support for FortiNet FortiExtender
  LibreNMS/OS/Fortiextender.php
  includes/definitions/discovery/fortiextender.yaml
  includes/definitions/fortiextender.yaml
  mibs/fortinet/FORTINET-FORTIEXTENDER-MIB
  tests/data/fortiextender_201e.json
  tests/snmpsim/fortiextender_201e.snmprec
Labels: Device :desktop_computer:

#16225 Improve Fiberstore S3900 series support
  LibreNMS/OS/FsSwitch.php
  includes/definitions/discovery/fs-switch.yaml
  includes/definitions/fs-switch.yaml
  tests/data/fs-switch_s3900-24f4s.json
  tests/data/fs-switch_s3900-24t4s.json
  tests/snmpsim/fs-switch_s3900-24f4s.snmprec
  tests/snmpsim/fs-switch_s3900-24t4s.snmprec
Labels: Device :desktop_computer:

#16224 Fix error from MikroTik routers when updating BGP peer info
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:

#16226 Docs Update: Large Scale LNMS Deployment Example
  doc/Extensions/Distributed-Poller.md
  doc/img/librenms-distributed-diagram-esxi.png
  doc/img/librenms-distributed-diagram-openstack.png
Labels: Documentation :book:

#16236 Fix custom map default settings error
  app/Http/Controllers/Maps/CustomMapController.php
  misc/config_definitions.json
Labels: Bug :spider:, WebUI

#16235 set `default_role` when registering instead of at every login
  app/Http/Controllers/Auth/SocialiteController.php
Labels: Bug :spider:, Authentication

#16237 Discovery, make sure where is set
  discovery.php
Labels: Bug :spider:, Discovery

#16238 Refactor SnmpResponse mapTable
  LibreNMS/Data/Source/SnmpResponse.php
Labels: Refactor

#16243 Fix list_arp API
  includes/html/api_functions.inc.php
Labels: Bug :spider:, API

#16214 Fix poller wrapper debug option
  LibreNMS/wrapper.py
Labels: Polling, Alert Rule

#16244 Update graph timezone data
  html/js/RrdGraphJS/moment-timezone-with-data.js
Labels: WebUI

#16227 Fix Port Channel
  LibreNMS/Modules/PortsStack.php
  app/Http/Controllers/Device/Tabs/PortsController.php
  app/Models/Device.php
  app/Models/Port.php
  app/Models/PortStack.php
  database/migrations/2018_07_03_091314_create_ports_stack_table.php
  database/migrations/2024_07_19_120719_update_ports_stack_table.php
  database/schema/testing_persistent-schema.sql
  html/css/styles.css
  includes/discovery/ports-stack.inc.php
  includes/html/api_functions.inc.php
  includes/html/pages/device/port.inc.php
  misc/db_schema.yaml
  resources/views/device/tabs/ports/includes/port_row.blade.php
  tests/data/ciscosb.json
  tests/data/edgecos_ecs2100-10t.json
  tests/data/ericsson-tn_tn.json
  tests/data/linksys-ss_lgs318p.json
Labels: Bug :spider:, Discovery, WebUI, API, Breaking-Change

#16246 Fix Port Channels take 2
  LibreNMS/Modules/PortsStack.php
  app/Http/Controllers/Device/Tabs/PortsController.php
  app/Models/Device.php
  app/Models/Port.php
  app/Models/PortStack.php
  database/migrations/2018_07_03_091314_create_ports_stack_table.php
  database/migrations/2020_04_06_001048_the_great_index_rename.php
  database/migrations/2024_07_19_120719_update_ports_stack_table.php
  database/schema/testing_persistent-schema.sql
  html/css/styles.css
  includes/discovery/ports-stack.inc.php
  includes/html/api_functions.inc.php
  includes/html/pages/device/port.inc.php
  misc/db_schema.yaml
  resources/views/device/tabs/ports/includes/port_row.blade.php
  tests/SVGTest.php
  tests/data/ciscosb.json
  tests/data/edgecos_ecs2100-10t.json
  tests/data/ericsson-tn_tn.json
  tests/data/linksys-ss_lgs318p.json
Labels: Ignore changelog :mute:

#16249 Add Servicename to Alert Detail
  includes/html/functions.inc.php
Labels: WebUI

#16251 add skip_values to iosxr hsrp
  includes/definitions/discovery/iosxr.yaml
Labels: Device :desktop_computer:

#16233 add bgp peer description to alert_detail
  includes/html/functions.inc.php
Labels: Alerting :bell:

#16252 Update Devices.md
  doc/API/Devices.md
Labels: Documentation :book:

#16250 Cleanup - Ensure percentage is calculated out of positive values only
  LibreNMS/Util/Number.php
  tests/data/hpe-ilo_hpe-ilo6-with-vmware.json
Labels: Bug :spider:, Cleanup
