Repository librenms/librenms, pull requests merged in 2024-06, with the labels that each got.

#16085 Fix fping bulk
  LibreNMS/Data/Source/Fping.php
  tests/FpingTest.php
Labels: Bug :spider:

#16084 Edit Current Map menu entry
  resources/views/layouts/menu.blade.php
Labels: WebUI

#16067 Fix Ruckus Unleashed product ID for OS detection
  includes/definitions/ruckuswireless-unleashed.yaml
  tests/data/ruckuswireless-unleashed.json
  tests/snmpsim/ruckuswireless-unleashed.snmprec
Labels: Device :desktop_computer:

#16018 add initial support for socomec-ups
  LibreNMS/OS/SocomecUps.php
  includes/definitions/discovery/socomec-ups.yaml
  includes/definitions/socomec-ups.yaml
  mibs/socomec/SOCOMECUPS-MIB
  tests/data/socomec-ups.json
  tests/snmpsim/socomec-ups.snmprec
Labels: Device :desktop_computer:

#16088 Don't run poller validations when there are no devices
  LibreNMS/Validations/Poller/CheckActivePoller.php
  LibreNMS/Validations/Poller/CheckDispatcherService.php
Labels: Miscellaneous

#16091 note the suffix/prefix stuff for LDAP auth
  doc/Extensions/Authentication.md
Labels: Documentation :book:

#16059 ESRI ArcGIS geo map support
  html/js/esri-leaflet-vector.js
  html/js/esri-leaflet.js
  html/js/librenms.js
  lang/en/settings.php
  misc/config_definitions.json
  resources/views/widgets/settings/worldmap.blade.php
Labels: Feature, WebUI

#16096 Fix typo in device edit page
  includes/html/pages/device/edit/device.inc.php
Labels: Bug :spider:

#16094 fix display of graphs on the multi-server app page for Mojo CAPE Submit
  includes/html/graphs/application/mojo_cape_submit_app_protos.inc.php
  includes/html/graphs/application/mojo_cape_submit_hash_changed.inc.php
  includes/html/graphs/application/mojo_cape_submit_mean.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_max.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_mean.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_median.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_min.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_mode.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_stats.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_stddev.inc.php
  includes/html/graphs/application/mojo_cape_submit_size_sum.inc.php
  includes/html/graphs/application/mojo_cape_submit_subs.inc.php
  includes/html/graphs/application/mojo_cape_submit_subs_top12.inc.php
  includes/html/pages/device/apps/mojo_cape_submit.inc.php
Labels: Bug :spider:, Applications :floppy_disk:

#16089 [vlans] Add VLANs information to Huawei VRP os
  includes/discovery/vlans/vrp.inc.php
  tests/data/vrp_vlans.json
  tests/snmpsim/vrp_vlans.snmprec
Labels: Device :desktop_computer:

#15842 Add support for new sensors on Firebrick 9000 models.
  includes/definitions/discovery/firebrick.yaml
  tests/data/firebrick_2900.json
  tests/data/firebrick_6000.json
  tests/data/firebrick_9000.json
  tests/snmpsim/firebrick_9000.snmprec
Labels: Device :desktop_computer:

#15916 Rename index_string to str_index_as_numeric
  LibreNMS/Device/YamlDiscovery.php
  doc/Developing/os/Health-Information.md
  includes/definitions/discovery/ciena-rls.yaml
  includes/definitions/discovery/junos.yaml
  includes/definitions/discovery/solidserver.yaml
  misc/discovery_schema.json
Labels: Refactor

#16114 Storage Module - wrong default regex /on: \/junos^/ should be /on: \/junos$/
  misc/config_definitions.json
Labels: Bug :spider:

#16120 Update Dell MIBs
  includes/discovery/sensors/state/dell.inc.php
  includes/discovery/sensors/state/drac.inc.php
  mibs/dell/MIB-Dell-10892
  mibs/dell/StorageManagement-MIB
  mibs/drac/IDRAC-MIB-SMIv2
Labels: Bug :spider:, Device :desktop_computer:, MIBs

#16116 Bug - Sorting FDB table by devices
  app/Http/Controllers/Table/FdbTablesController.php
Labels: Bug :spider:

#16123 Fix submenu whitespace
  resources/views/components/submenu.blade.php
Labels: Ignore changelog :mute:

#16124 Fix incorrect port view reference
  includes/html/pages/device/port.inc.php
Labels: Bug :spider:, WebUI

#16127 Fix port pagination
  app/Http/Controllers/Device/Tabs/PortsController.php
  resources/views/device/tabs/ports/detail.blade.php
Labels: Bug :spider:, WebUI, Ignore changelog :mute:

#16128 Fix port neighbors unknown local port
  lang/en/port.php
  resources/views/device/tabs/ports/links.blade.php
Labels: Bug :spider:, WebUI, Ignore changelog :mute:

#16131 Change port pagination default to 32
  app/Http/Controllers/Device/Tabs/PortsController.php
  misc/config_definitions.json
  resources/views/device/tabs/ports/detail.blade.php
Labels: WebUI

#16140 [DOC] - Update doc/API/DeviceGroups.md
  doc/API/DeviceGroups.md
Labels: Documentation :book:

#16132 Device Ports settings
  app/Http/Controllers/Device/Tabs/PortsController.php
  misc/config_definitions.json
Labels: WebUI

#16145 Fix graph row lazy loading
  app/View/Components/Graph.php
  resources/views/components/graph.blade.php
  resources/views/components/linked-graph.blade.php
Labels: Bug :spider:, WebUI

#16151 Fix port link device missing
  resources/views/components/port-link.blade.php
Labels: Bug :spider:, WebUI

#16141 Alertmanager, Striptag Dynamic Variables!
  LibreNMS/Alert/Transport/Alertmanager.php
Labels: Bug :spider:, Alerting :bell:

#16150 Add support for more Cisco FTD devices
  includes/definitions/ftd.yaml
  tests/data/ftd_3130.json
  tests/snmpsim/ftd_3130.snmprec
Labels: Device :desktop_computer:

#16147 Port link component easier graphs
  app/View/Components/PortLink.php
  resources/views/components/port-link.blade.php
Labels: WebUI, Internal Features

#16130 Update axis detection
  includes/definitions/axiscam.yaml
  includes/discovery/sensors/temperature/axiscam.inc.php
  tests/data/axiscam_p1425-le-mk-ii.json
  tests/data/axiscam_p1435-le.json
  tests/data/axiscam_p1455-le.json
  tests/data/axiscam_p5676-le.json
  tests/snmpsim/axiscam_p1425-le-mk-ii.snmprec
  tests/snmpsim/axiscam_p1435-le.snmprec
  tests/snmpsim/axiscam_p1455-le.snmprec
  tests/snmpsim/axiscam_p5676-le.snmprec
Labels: Device :desktop_computer:

#16153 Fortigate append-index doc
  doc/Support/Device-Notes/Fortigate.md
  mkdocs.yml
Labels: Documentation :book:

#16111 Convert list_arp API to Eloquent
  includes/html/api_functions.inc.php
Labels: API, Refactor

#16159 Fix for lnms snmp:translate
  app/Console/Commands/SnmpTranslate.php
Labels: Bug :spider:

#16164 Handle missing device when linking
  app/View/Components/DeviceLink.php
  resources/views/components/device-link-missing.blade.php
Labels: Bug :spider:, WebUI

#16146 Fix device ports VRF display
  app/Models/Port.php
  html/mix-manifest.json
  lang/en/port.php
  resources/views/device/tabs/ports/includes/port_row.blade.php
Labels: Bug :spider:, WebUI, Ignore changelog :mute:

#16168 Update edgeswitch.yaml to add new UBNT OID
  includes/definitions/edgeswitch.yaml
  tests/data/edgeswitch_us-16-150w.snmprec
Labels: Device :desktop_computer:
