Repository librenms/librenms, pull requests merged in 2024-12, with the labels that each got.

#16783 Discover box cameras models
  includes/definitions/axiscam.yaml
  tests/data/axis cam_box.json
  tests/snmpsim/axiscam_box.snmprec
Labels: Device :desktop_computer:

#16785 Fixed alert transport docs.
  doc/Alerting/Transports.md
Labels: Ignore changelog :mute:

#16787 Fixed test file location
  tests/data/axiscam_box.json
Labels: Ignore changelog :mute:

#16791 Fixed non-numerical hddtemp sensors in unix-agent
  includes/polling/unix-agent/hddtemp.inc.php
Labels: Bug :spider:, Polling, Applications :floppy_disk:

#16794 Added traphandlers and tests for some Aruba Clearpass traps - take 2
  LibreNMS/Snmptrap/Handlers/CppmServiceRestartNotification.php
  LibreNMS/Snmptrap/Handlers/CppmServiceStartNotification.php
  LibreNMS/Snmptrap/Handlers/CppmServiceStopNotification.php
  config/snmptraps.php
  mibs/arubaos/CPPM-MIB
  tests/Feature/SnmpTraps/CppmServiceRestartTrapTest.php
  tests/Feature/SnmpTraps/CppmServiceStartTrapTest.php
  tests/Feature/SnmpTraps/CppmServiceStopTrapTest.php
Labels: SNMP Traps

#16797 fix json-app-tool
  scripts/json-app-tool.php
Labels: Applications :floppy_disk:

#16800 Programs Validation: fix getcap parsing
  LibreNMS/Validations/Programs.php
Labels: Miscellaneous

#16795 Extended support Teltonika TRB
  includes/definitions/discovery/rutos-rutx.yaml
  mibs/teltonika/TELTONIKA-RUTX-MIB
  tests/data/rutos-rutx_rut360.json
  tests/data/rutos-rutx_rutx11.json
  tests/data/rutos-rutx_trb500.json
  tests/snmpsim/rutos-rutx_trb500.snmprec
Labels: Device :desktop_computer:

#16804 Fixed the location filter causing graphs to break
  includes/html/pages/devices.inc.php
Labels: Bug :spider:, WebUI

#16710 Improve InfluxdbV2
  LibreNMS/Data/Store/InfluxDBv2.php
  doc/Extensions/metrics/InfluxDBv2.md
  lang/en/settings.php
  misc/config_definitions.json
Labels: Datastore

#16738 Change OS config loading behaviour
  LibreNMS/Modules/Core.php
  LibreNMS/OS.php
  LibreNMS/Util/OS.php
  app/ConfigRepository.php
  app/Console/Commands/DevicePoll.php
  app/Console/Commands/GetConfigCommand.php
  app/Console/Commands/SetConfigCommand.php
  app/Console/Commands/SnmpTranslate.php
  discovery.php
  html/ajax_ossuggest.php
  includes/init.php
  misc/config_definitions.json
  scripts/collect-snmp-data.php
  scripts/save-test-data.php
  tests/ConfigTest.php
  tests/OSDiscoveryTest.php
  tests/bootstrap.php
Labels: Refactor

#16777 Added Meraki CS device detection
  includes/definitions/discovery/merakims.yaml
  includes/definitions/merakims.yaml
  misc/os_schema.json
  tests/data/merakims_c9300.json
  tests/snmpsim/merakims_c9300.snmprec
Labels: Device :desktop_computer:

#16793 Remove the virtual images from the docs
  doc/Installation/Images.md
Labels: Documentation :book:

#16514 add high memory alert templates for Linux
  misc/alert_rules.json
Labels: Alert Rule

#16806 Aruba refactor some wireless code
  LibreNMS/Data/Source/SnmpResponse.php
  LibreNMS/OS/Arubaos.php
  includes/polling/aruba-controller.inc.php
  includes/snmp.inc.php
  tests/Unit/SnmpResponseTest.php
Labels: Cleanup

#16812 Skip alerts if disabled
  app/Listeners/CheckAlerts.php
Labels: Alerting :bell:

#16809 Powerlogic port to yaml
  includes/definitions/discovery/powerlogic.yaml
  includes/discovery/sensors/current/powerlogic.inc.php
  includes/discovery/sensors/frequency/powerlogic.inc.php
  includes/discovery/sensors/power/powerlogic.inc.php
  includes/discovery/sensors/pre-cache/powerlogic.inc.php
  includes/discovery/sensors/voltage/powerlogic.inc.php
  includes/snmp.inc.php
  mibs/schneider/PM8ECCMIB
Labels: Device :desktop_computer:, Cleanup

#16816 Added ID to edges so we know when to add/remove them
  resources/views/map/device-dependency.blade.php
  resources/views/map/netmap.blade.php
Labels: Maps

#16810 Change Oid API
  LibreNMS/Data/Source/NetSnmpQuery.php
  LibreNMS/Data/Source/SnmpResponse.php
  LibreNMS/Device/Processor.php
  LibreNMS/Device/YamlDiscovery.php
  LibreNMS/OS/Edgecos.php
  LibreNMS/OS/Traits/YamlMempoolsDiscovery.php
  LibreNMS/OS/Traits/YamlOSDiscovery.php
  LibreNMS/Util/Oid.php
  includes/discovery/sensors/charge/unix.inc.php
  includes/discovery/sensors/current/eltex-mes24xx.inc.php
  includes/discovery/sensors/dbm/eltex-mes24xx.inc.php
  includes/discovery/sensors/fanspeed/unix.inc.php
  includes/discovery/sensors/load/unix.inc.php
  includes/discovery/sensors/netscaler.inc.php
  includes/discovery/sensors/runtime/unix.inc.php
  includes/discovery/sensors/state/rfc1628.inc.php
  includes/discovery/sensors/state/unix.inc.php
  includes/discovery/sensors/temperature/eltex-mes24xx.inc.php
  includes/discovery/sensors/temperature/unix.inc.php
  includes/discovery/sensors/voltage/eltex-mes24xx.inc.php
  includes/discovery/sensors/voltage/unix.inc.php
  includes/polling/applications/bird2.inc.php
  includes/polling/functions.inc.php
  includes/snmp.inc.php
  tests/Mocks/SnmpQueryMock.php
Labels: Refactor, Internal Features

#16815 Remove Cisco Voice module
  doc/Support/Poller Support.md
  includes/definitions/acano.yaml
  includes/definitions/acs.yaml
  includes/definitions/acsw.yaml
  includes/definitions/apic.yaml
  includes/definitions/cat1900.yaml
  includes/definitions/catos.yaml
  includes/definitions/cimc.yaml
  includes/definitions/cips.yaml
  includes/definitions/ciscosce.yaml
  includes/definitions/ciscowap.yaml
  includes/definitions/ciscowlc.yaml
  includes/definitions/fxos.yaml
  includes/definitions/ios.yaml
  includes/definitions/iosxe.yaml
  includes/definitions/iosxr.yaml
  includes/definitions/ise.yaml
  includes/definitions/nxos.yaml
  includes/definitions/ons.yaml
  includes/definitions/pixos.yaml
  includes/definitions/primeinfrastructure.yaml
  includes/definitions/sanos.yaml
  includes/definitions/tpconductor.yaml
  includes/definitions/ucos.yaml
  includes/definitions/vccodec.yaml
  includes/definitions/vcs.yaml
  includes/definitions/waas.yaml
  includes/html/graphs/device/cisco-iosdsp.inc.php
  includes/html/graphs/device/cisco-iosmtp.inc.php
  includes/html/graphs/device/cisco-iospri.inc.php
  includes/html/graphs/device/cisco-iosxcode.inc.php
  includes/html/graphs/device/cisco-voice-ip.inc.php
  includes/polling/cisco-voice.inc.php
  includes/polling/cisco-voice/cisco-iosdsp.inc.php
  includes/polling/cisco-voice/cisco-iosmtp.inc.php
  includes/polling/cisco-voice/cisco-iospri.inc.php
  includes/polling/cisco-voice/cisco-iosxcode.inc.php
  includes/polling/cisco-voice/cisco-ip.inc.php
  lang/en/settings.php
  lang/fr/settings.php
  lang/it/settings.php
  lang/pt-BR/settings.php
  lang/ru/settings.php
  lang/uk/settings.php
  misc/config_definitions.json
  misc/os_schema.json
Labels: Cleanup

#16814 IBM AMM sensors to yaml
  includes/definitions/discovery/ibm-amm.yaml
  includes/discovery/sensors/fanspeed/ibm-amm.inc.php
  includes/discovery/sensors/state/ibm-amm.inc.php
  includes/discovery/sensors/temperature/ibm-amm.inc.php
Labels: Device :desktop_computer:, Cleanup

#16813 Sinetica UPS convert to yaml
  includes/definitions/discovery/sinetica.yaml
  includes/definitions/sinetica.yaml
  includes/discovery/sensors/charge/sinetica.inc.php
  includes/discovery/sensors/current/sinetica.inc.php
  includes/discovery/sensors/frequency/sinetica.inc.php
  includes/discovery/sensors/load/sinetica.inc.php
  includes/discovery/sensors/power/sinetica.inc.php
  includes/discovery/sensors/runtime/sinetica.inc.php
  includes/discovery/sensors/voltage/sinetica.inc.php
  mibs/mitsubishi/NET-SNMP-MIB
  mibs/mitsubishi/UPS-MIB
  tests/data/sinetica.json
  tests/snmpsim/sinetica.snmprec
Labels: Device :desktop_computer:, Cleanup

#16808 Updated Ciena SAOS support
  includes/definitions/ciena-saos.yaml
  includes/definitions/discovery/ciena-saos.yaml
  tests/data/ciena-saos_cn5164.json
  tests/snmpsim/ciena-saos_cn5164.snmprec
Labels: Device :desktop_computer:

#16818 Snmpsim 1.x requires Python 3.8+
  LibreNMS/Util/Snmpsim.php
Labels: Internal Features

#16811 JunOS BGP port to SnmpQuery
  includes/polling/bgp-peers.inc.php
  includes/snmp.inc.php
Labels: Device :desktop_computer:, Cleanup

#16821 Added support for NetElastic Flex BNG devices
  html/images/logos/netelastic.png
  html/images/os/netelastic.png
  includes/definitions/discovery/flexbng.yaml
  includes/definitions/flexbng.yaml
  mibs/netelastic/NETELASTIC-FLEXBNG-MIB
  mibs/netelastic/NETELASTIC-FLEXBNG-SYSINFO
  tests/data/flexbng.json
  tests/snmpsim/flexbng.snmprec
Labels: Device :desktop_computer:

#16478 Adjust decimal places in number_format to be significant figures
  LibreNMS/Billing.php
  LibreNMS/IRCBot.php
  LibreNMS/Modules/Xdsl.php
  LibreNMS/Util/Number.php
  app/Http/Controllers/Table/PortsController.php
  app/Models/Sensor.php
  billing-calculate.php
  includes/html/api_functions.inc.php
  includes/html/graphs/bill/bits.inc.php
  includes/html/graphs/bill/historicbits.inc.php
  includes/html/graphs/bill/historicmonthly.inc.php
  includes/html/graphs/bill/historictransfer.inc.php
  includes/html/graphs/generic_data.inc.php
  includes/html/pages/bill.inc.php
  includes/html/pages/bill/history.inc.php
  includes/html/pages/bill/transfer.inc.php
  includes/html/pages/device/edit/device.inc.php
  includes/html/pages/device/graphs/customoid.inc.php
  includes/html/pages/device/health/qfp.inc.php
  includes/html/pages/device/health/sensors.inc.php
  includes/html/pages/device/loadbalancer/netscaler_vsvr.inc.php
  includes/html/pages/device/packages.inc.php
  includes/html/pages/device/port.inc.php
  includes/html/pages/device/port/macaccounting.inc.php
  includes/html/pages/device/port/sensors.inc.php
  includes/html/pages/device/processes.inc.php
  includes/html/pages/device/routing/cef.inc.php
  includes/html/pages/device/wireless.inc.php
  includes/html/pages/ports.inc.php
  includes/html/pages/ports/graph.inc.php
  includes/html/pages/routing/bgp.inc.php
  includes/html/print-accesspoint.inc.php
  includes/html/reports/ports.csv.inc.php
  includes/html/table/address-search.inc.php
  includes/html/table/bills.inc.php
  includes/html/table/sensors-common.php
  includes/polling/ports.inc.php
  resources/views/device/tabs/ports/includes/port_row.blade.php
  resources/views/device/tabs/ports/includes/xdsl_base_columns.blade.php
  resources/views/device/tabs/ports/xdsl.blade.php
Labels: WebUI

#16798 Update arubaos-cx.yaml to remove historical temps as limits
  includes/definitions/discovery/arubaos-cx.yaml
  tests/data/arubaos-cx_8360.json
Labels: Device :desktop_computer:

#16757 Adding Microsoft DHCP Scope Monitoring
  includes/definitions/discovery/windows.yaml
  includes/definitions/windows.yaml
  mibs/microsoft/DHCP-MIB
  mibs/microsoft/MSFT-MIB
  tests/data/windows_svr_2019_1809.json
  tests/snmpsim/windows_svr_2019_1809.snmprec
Labels: Device :desktop_computer:

#16822 Map graph refresh
  resources/views/components/refresh-timer.blade.php
  resources/views/map/custom-view.blade.php
  resources/views/map/device-dependency.blade.php
  resources/views/map/netmap.blade.php
Labels: Maps

#16829 Added support for Tachyon Networks devices
  LibreNMS/OS/Tachyon.php
  html/images/logos/tachyon.svg
  html/images/os/tachyon.svg
  includes/definitions/discovery/tachyon.yaml
  includes/definitions/tachyon.yaml
  mibs/tachyon/TACHYON-MIB
  tests/data/tachyon.json
  tests/snmpsim/tachyon.snmprec
Labels: Device :desktop_computer:

#16563 Fix Smartoptics skip_values
  includes/definitions/discovery/smartos-dcp-m.yaml
  tests/data/smartos-dcp-m_dcp-m40-pam4-zr.json
Labels: Bug :spider:

#16765 Added ability to re-order alert and device group rules within the builder
  html/js/interact.min.js
  includes/html/modal/new_alert_rule.inc.php
  resources/views/device-group/create.blade.php
  resources/views/device-group/form.blade.php
Labels: WebUI

#16731 New graph design for health sensors
  includes/html/graphs/graph.inc.php
  includes/html/graphs/sensor/airflow.inc.php
  includes/html/graphs/sensor/auth.inc.php
  includes/html/graphs/sensor/ber.inc.php
  includes/html/graphs/sensor/bitrate.inc.php
  includes/html/graphs/sensor/charge.inc.php
  includes/html/graphs/sensor/chromatic_dispersion.inc.php
  includes/html/graphs/sensor/cooling.inc.php
  includes/html/graphs/sensor/count.inc.php
  includes/html/graphs/sensor/current.inc.php
  includes/html/graphs/sensor/dbm.inc.php
  includes/html/graphs/sensor/delay.inc.php
  includes/html/graphs/sensor/eer.inc.php
  includes/html/graphs/sensor/fanspeed.inc.php
  includes/html/graphs/sensor/frequency.inc.php
  includes/html/graphs/sensor/generic.inc.php
  includes/html/graphs/sensor/humidity.inc.php
  includes/html/graphs/sensor/load.inc.php
  includes/html/graphs/sensor/loss.inc.php
  includes/html/graphs/sensor/percent.inc.php
  includes/html/graphs/sensor/power.inc.php
  includes/html/graphs/sensor/power_consumed.inc.php
  includes/html/graphs/sensor/power_factor.inc.php
  includes/html/graphs/sensor/pressure.inc.php
  includes/html/graphs/sensor/quality_factor.inc.php
  includes/html/graphs/sensor/signal.inc.php
  includes/html/graphs/sensor/snr.inc.php
  includes/html/graphs/sensor/temperature.inc.php
  includes/html/graphs/sensor/tv_signal.inc.php
  includes/html/graphs/sensor/voltage.inc.php
  includes/html/graphs/sensor/waterflow.inc.php
  includes/html/pages/graphs.inc.php
Labels: Graphs, WebUI

#16830 Updated detection for APC AP7998B devices
  includes/definitions/apc.yaml
  mibs/apc/PowerNet-MIB
  tests/data/apc_ap7998b.json
  tests/snmpsim/apc_ap7998b.snmprec
Labels: Device :desktop_computer:

#16788 Add support for ADVA AOS os, with FSP3000 Cloud Connect (with Teraflex)
  includes/definitions/adva-aos.yaml
  includes/definitions/discovery/adva-aos.yaml
  includes/discovery/sensors/pre-cache/adva-aos.inc.php
  mibs/adva/ADVA-MIB
  mibs/adva/AOS-CORE-CONDITION-MIB
  mibs/adva/AOS-CORE-FACILITY-MIB
  mibs/adva/AOS-DOMAIN-OTN-PM-MIB
  tests/data/adva-aos_sh1r.json
  tests/data/adva-aos_tsh1r2.json
  tests/snmpsim/adva-aos_sh1r.snmprec
  tests/snmpsim/adva-aos_tsh1r2.snmprec
Labels: Device :desktop_computer:

#16834 Transceivers for VRP - fixes and filtering
  LibreNMS/OS/Vrp.php
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_5720-32x-ei.json
  tests/data/vrp_5720-vrf.json
  tests/data/vrp_5720.json
  tests/data/vrp_ac6605-26.json
  tests/data/vrp_ar169sfp.json
  tests/data/vrp_ne8000-m8.json
  tests/data/vrp_power.json
Labels: Device :desktop_computer:

#16826 Cisco SB - Bugfix for 16544
  includes/discovery/sensors/state/ciscosb.inc.php
  tests/data/ciscosb_cbs250-24p-4x-v3.json
  tests/data/ciscosb_cbs350-4x.json
  tests/data/ciscosb_cbs350.json
  tests/data/ciscosb_sg350x-24p.json
  tests/data/ciscosb_sg550x-8f8t.json
  tests/data/ciscosb_sge.json
  tests/data/ciscosb_sx550x-24f.json
Labels: Device :desktop_computer:

#16763 feat: rewrite daily alert_log clean query to reflect intent
  daily.php
Labels: Core, Cleanup

#15902 Implement panSysHAState
  includes/definitions/discovery/panos.yaml
  tests/data/panos.json
  tests/data/panos_sensors_1.json
  tests/data/panos_sensors_2.json
  tests/data/panos_vsys.json
  tests/snmpsim/panos_sensors_1.snmprec
  tests/snmpsim/panos_sensors_2.snmprec
Labels: Device :desktop_computer:

#16537 expand if statement to gather the right Values from Cisco C800 Routers
  includes/discovery/vrf.inc.php
Labels: Bug :spider:

#16776 Cisco NXOS Bugfix for 16544 (and migration to SnmpQuery)
  includes/discovery/sensors/state/nxos.inc.php
  tests/data/nxos_n3k-3064pq.json
Labels: Device :desktop_computer:

#16621 Fix Ciena-sds Entity Discovery
  LibreNMS/OS/CienaSds.php
  mibs/ciena/CIENA-CES-PORT-XCVR-MIB
  tests/data/ciena-sds.json
Labels: Device :desktop_computer:

#16258 FortiAuthenticator improve identifaction
  includes/definitions/fortiauthenticator.yaml
Labels: Device :desktop_computer:

#16819 Oxidized error message
  includes/html/pages/device/showconfig.inc.php
Labels: Oxidized

#16845 Added additional support for Flex BNG devices
  includes/definitions/discovery/flexbng.yaml
  includes/definitions/flexbng.yaml
  mibs/netelastic/NETELASTIC-FLEXBNG-IPPOOL
  mibs/netelastic/NETELASTIC-FLEXBNG-IPPOOLV6
  mibs/netelastic/NETELASTIC-FLEXBNG-PPPOE
  tests/data/flexbng.json
Labels: Device :desktop_computer:

#16864 Fixed overview graphs
  includes/definitions/flexbng.yaml
Labels: Ignore changelog :mute:

#16852 Improve model name for C9500
  LibreNMS/OS/Shared/Cisco.php
Labels: Device :desktop_computer:

#16866 Resolve issue 16865 with polling Cisco NAC table
  LibreNMS/OS/Shared/Cisco.php
Labels: Bug :spider:, Device :desktop_computer:

#16868 UFiber - Fix show all ports
  includes/discovery/ports/edgeosolt.inc.php
  includes/polling/ports/os/edgeosolt.inc.php
  tests/data/edgeosolt.json
Labels: Device :desktop_computer:

#16875 Corrected some sensor info for poweralert
  includes/definitions/discovery/poweralert.yaml
Labels: Bug :spider:, Device :desktop_computer:

#16877 IPSEC tunnels Exception on empty IP addr
  includes/polling/cipsec-tunnels.inc.php
Labels: Bug :spider:

#16876 Fix typos in YAML
  includes/definitions/discovery/broadworks.yaml
  includes/definitions/discovery/imcopower-ls110.yaml
  includes/definitions/discovery/logmaster.yaml
  includes/definitions/discovery/mlos-atd.yaml
  includes/definitions/discovery/zxa10.yaml
  tests/data/broadworks_broadsoft.json
  tests/data/imcopower-ls110.json
  tests/data/mlos-atd.json
Labels: Bug :spider:

#15814 Powervault ME Sensors
  includes/definitions/dell-powervault.yaml
  includes/definitions/discovery/dell-powervault.yaml
  includes/discovery/sensors/charge/dell-powervault.inc.php
  includes/discovery/sensors/current/dell-powervault.inc.php
  includes/discovery/sensors/pre-cache/dell-powervault.inc.php
  includes/discovery/sensors/state/dell-powervault.inc.php
  includes/discovery/sensors/temperature/dell-powervault.inc.php
  includes/discovery/sensors/voltage/dell-powervault.inc.php
  includes/polling/sensors/charge/dell-powervault.inc.php
  includes/polling/sensors/current/dell-powervault.inc.php
  includes/polling/sensors/state/dell-powervault.inc.php
  includes/polling/sensors/temperature/dell-powervault.inc.php
  includes/polling/sensors/voltage/dell-powervault.inc.php
  tests/data/dell-powervault_me4084.json
  tests/snmpsim/dell-powervault_me4084.snmprec
Labels: Device :desktop_computer:

#16844 Remove high limit on UPS charge sensors
  includes/discovery/sensors/charge/apc.inc.php
  includes/discovery/sensors/charge/dsm.inc.php
  includes/discovery/sensors/charge/eatonups.inc.php
  includes/discovery/sensors/charge/netagent2.inc.php
  includes/discovery/sensors/charge/rfc1628.inc.php
  includes/discovery/sensors/charge/unix.inc.php
  tests/data/apc_smart1500.json
  tests/data/apc_smt750x-nmc2.json
  tests/data/apc_smtl1000-nmc3.json
  tests/data/apc_smx750.json
  tests/data/apc_sua1500rmi2u.json
  tests/data/apc_sua750i.json
  tests/data/apc_surt3000xl.json
  tests/data/apc_symmetralx.json
  tests/data/dell-ups_tower1000w.json
  tests/data/deltaups.json
  tests/data/deltaups_rfc1628string.json
  tests/data/eaton-mgeups_5px.json
  tests/data/eaton-mgeups_93ps.json
  tests/data/eaton-mgeups_9px.json
  tests/data/eaton-mgeups_9pxle.json
  tests/data/eatonups.json
  tests/data/eatonups_eaton-connectups.json
  tests/data/eatonupsm2_9px+empg2.json
  tests/data/eatonupsm2_9px.json
  tests/data/generex-ups_cs141-v22036.json
  tests/data/generex-ups_cs141.json
  tests/data/huaweiups_ups2000.json
  tests/data/istars.json
  tests/data/linux_ups-nut.json
  tests/data/marathonups.json
  tests/data/netagent2.json
  tests/data/netagent2_1.json
  tests/data/netmanplus_204.json
  tests/data/netmanplus_mct20.json
  tests/data/netvision-rfc.json
  tests/data/orvaldi-ups.json
  tests/data/poweralert_2.json
Labels: Device :desktop_computer:

#16855 Delete skip_values in yaml for Panduit vendor
  includes/definitions/discovery/panduit.yaml
  tests/data/panduit_2.json
  tests/snmpsim/panduit_2.snmprec
Labels: Device :desktop_computer:

#15536 Fix docs CPU aggregate advanced rule
  doc/Alerting/Rules.md
Labels: Documentation :book:

#16882 Added support for Dell SONiC OS
  includes/definitions/dell-sonic.yaml
  includes/definitions/inteno.yaml
  tests/data/dell-sonic.json
  tests/snmpsim/dell-sonic.snmprec
Labels: Device :desktop_computer:

#16881 Added support for Sensors/Health in device-summary widgets
  LibreNMS/Util/ObjectCache.php
  app/Http/Controllers/Widgets/DeviceSummaryController.php
  app/Models/Sensor.php
  resources/views/widgets/device-summary-horiz.blade.php
  resources/views/widgets/device-summary-vert.blade.php
  resources/views/widgets/settings/device-summary.blade.php
Labels: WebUI

#16885 Correct STP Controller logic
  app/Http/Controllers/Device/Tabs/StpController.php
Labels: Bug :spider:, WebUI

#16886 Replace deviceLink and portLink
  app/Http/Controllers/Table/CustomersController.php
  app/Http/Controllers/Table/EventlogController.php
  app/Http/Controllers/Table/FdbTablesController.php
  app/Http/Controllers/Table/GraylogController.php
  app/Http/Controllers/Table/InventoryController.php
  app/Http/Controllers/Table/MempoolsController.php
  app/Http/Controllers/Table/OutagesController.php
  app/Http/Controllers/Table/PortNacController.php
  app/Http/Controllers/Table/PortStpController.php
  app/Http/Controllers/Table/PortsController.php
  app/Http/Controllers/Table/RoutesTablesController.php
  app/Http/Controllers/Table/SyslogController.php
Labels: Security

#16896 Update config.php.default
  config.php.default
Labels: Documentation :book:

#16873 Update queuemanager.py: Single element args tuple breaks alerts.php running
  LibreNMS/queuemanager.py
Labels: Bug :spider:, Alerting :bell:

#15742 Support for Ubiquiti UISP Fiber OLT XGS
  includes/definitions/edgeosolt.yaml
  includes/definitions/inteno.yaml
  tests/data/edgeosolt_uisp-fiber.json
  tests/snmpsim/edgeosolt_uisp-fiber.snmprec
Labels: Device :desktop_computer:

#16843 Additional HPE Procurve Hardware State Data
  includes/definitions/discovery/procurve.yaml
  tests/data/procurve.json
  tests/snmpsim/procurve.snmprec
Labels: Device :desktop_computer:

#16887 Extend STP discovery on Cisco devices + test fix for #15742
  LibreNMS/OS/Shared/Cisco.php
  tests/data/edgeosolt_uisp-fiber.json
  tests/data/ios_2960x.json
  tests/data/ios_stp-vlans.json
  tests/data/iosxe_c9400.json
  tests/data/nxos_n3k-3064pq.json
  tests/snmpsim/ios_2960x.snmprec
  tests/snmpsim/ios_stp-vlans.snmprec
  tests/snmpsim/iosxe_c9400.snmprec
  tests/snmpsim/nxos_n3k-3064pq.snmprec
Labels: Discovery

#16902 Cisco SIP voice count sensor
  includes/definitions/discovery/iosxe.yaml
  tests/data/iosxe_isr4321.json
  tests/snmpsim/iosxe_isr4321.snmprec
Labels: Device :desktop_computer:

#16898 Fix routes display
  app/Http/Controllers/Table/RoutesTablesController.php
  includes/html/pages/device/routing/routes.inc.php
Labels: Bug :spider:, WebUI

#16891 Plugin docs udpate
  doc/Extensions/Plugin-System.md
Labels: Documentation :book:

#16913 Added DHCP Count for RouterOS (Mikrotik)
  includes/definitions/discovery/routeros.yaml
  tests/data/routeros.json
  tests/data/routeros_rb2011il.json
  tests/data/routeros_rb750gr3.json
  tests/data/routeros_rb760igs.json
  tests/data/routeros_rblhgr.json
  tests/data/routeros_wifi.json
Labels: Device :desktop_computer:

#16906 map.php - Traditional Chinese Translation
  lang/zh-TW/map.php
Labels: Translation

#16884 Added sensor monitoring for IBM 3584 Tape Library
  includes/definitions/discovery/ibmtl.yaml
  includes/definitions/ibmtl.yaml
  tests/data/ibmtl_7420.json
  tests/snmpsim/ibmtl_7420.snmprec
Labels: Device :desktop_computer:

#16907 Fixed port error red flag staying after error correction on FDB table and ARP table
  app/Http/Controllers/Table/FdbTablesController.php
  includes/html/table/arp-search.inc.php
Labels: Bug :spider:, WebUI
