Repository librenms/librenms, pull requests merged in 2025-08, with the labels that each got.

#18116 Remove sql regexp
  app/Models/User.php
Labels: Cleanup

#18121 Restore dark primary button to blue
  html/css/tw_dark.css
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#18125 Billing: Remove undefined variable
  includes/html/pages/bill/history.inc.php
Labels: Cleanup

#18119 PHP Error Fixes
  app/Http/Controllers/Widgets/GraphController.php
  includes/html/graphs/application/ntp-server_bits.inc.php
  includes/html/graphs/generic_stats.inc.php
  includes/html/graphs/generic_v3_multiline.inc.php
  includes/html/pages/device/apps.inc.php
  includes/html/pages/device/apps/certificate.inc.php
  includes/html/pages/device/apps/mdadm.inc.php
  includes/html/pages/device/apps/smart.inc.php
Labels: Cleanup

#18120 Remove sudo from daily.sh
  daily.sh
Labels: Breaking-Change

#18088 Added hardware and serial number discovery for OneFS devices
  resources/definitions/os_discovery/onefs.yaml
  tests/data/ones.json
  tests/snmpsim/onefs.snmprec
Labels: Device :desktop_computer:

#18053 Update arista-mos.yaml - add additional sysObjectID for 7130-48G3S
  resources/definitions/os_detection/arista-mos.yaml
Labels: Device :desktop_computer:

#18142 Fix ping.php output
  ping.php
Labels: Bug :spider:

#18143 Update to FontAwesome 6.7.2
  html/css/font-awesome.css
  html/css/fontawesome.min.css
  html/css/v4-shims.min.css
  html/fonts/FontAwesome.otf
  html/webfonts/fa-brands-400.ttf
  html/webfonts/fa-brands-400.woff2
  html/webfonts/fa-regular-400.ttf
  html/webfonts/fa-regular-400.woff2
  html/webfonts/fa-solid-900.ttf
  html/webfonts/fa-solid-900.woff2
  html/webfonts/fa-v4compatibility.ttf
  html/webfonts/fa-v4compatibility.woff2
Labels: WebUI

#18133 Add support for WUT 57608 8xTemperature sensor
  mibs/wut/WebGraph-8xThermometer-US-MIB
  resources/definitions/os_discovery/wut.yaml
  tests/data/wut_57608.json
  tests/snmpsim/wut_57608.snmprec
Labels: Device :desktop_computer:

#18150 Fix output for legacy scripts
  LibreNMS/Util/Laravel.php
  check-services.php
  discovery.php
  ping.php
  scripts/collect-snmp-data.php
  scripts/save-test-data.php
Labels: Bug :spider:

#18131 Added support for Grandstream GXW devices
  includes/discovery/sensors/state/grandstream-gxw.inc.php
  includes/discovery/sensors/state/grandstream-ht.inc.php
  mibs/grandstream/GS-GXW42XX-MIB
  mibs/grandstream/GS-HT8XX-MIB
  resources/definitions/os_detection/grandstream-gxw.yaml
  resources/definitions/os_discovery/grandstream-gxw.yaml
  tests/data/grandstream-gxw.json
  tests/snmpsim/grandstream-gxw.snmprec
Labels: Device :desktop_computer:

#18159 Set max reported errors in prod
  app/Exceptions/ErrorReporting.php
Labels: Bug :spider:

#18074 Add batch handling and measurement filtering
  LibreNMS/Data/Store/InfluxDB.php
  doc/Extensions/metrics/InfluxDB.md
  lang/en/settings.php
  lang/it/settings.php
  lang/ka/settings.php
  lang/pt-BR/settings.php
  lang/ru/settings.php
  lang/uk/settings.php
  resources/definitions/config_definitions.json
  tests/Unit/Data/InfluxDBStoreTest.php
Labels: Datastore

#18167 Added new versions of EATON-EPDU-MIB | EATON-SENSOR-MIB
  mibs/eaton/EATON-EPDU-MIB
  mibs/eaton/EATON-SENSOR-MIB
Labels: MIBs

#18101 add missing current and load to ipmi discovery and filter out blank lines too
  includes/discovery/sensors/ipmi.inc.php
Labels: Polling

#18180 Fix dashboard translations
  lang/en/dashboard.php
  resources/views/overview/default.blade.php
Labels: Bug :spider:, Translation

#18174 Add lnms config:list command
  app/Console/Commands/ConfigListCommand.php
  lang/en/commands.php
Labels: Feature

#18162 Enlogic pdu2 fixes
  resources/definitions/os_detection/enlogic-pdu.yaml
  resources/definitions/os_detection/enlogic-pdu2.yaml
  resources/definitions/os_discovery/enlogic-pdu2.yaml
  tests/data/enlogic-pdu2.json
  tests/snmpsim/enlogic-pdu2.snmprec
Labels: Device :desktop_computer:

#17974 IPv4 network discovery improvements
  LibreNMS/Modules/Ipv4Addresses.php
  app/Console/Commands/MaintenanceCleanupNetworks.php
  database/migrations/2025_06_30_080844_add_ipv4_network_index_to_ipv4_addresses_table.php
  doc/Support/Cleanup-options.md
  lang/en/commands.php
  resources/definitions/config_definitions.json
  resources/definitions/schema/db_schema.yaml
  routes/console.php
Labels: Cleanup

#18091 Adding New Sensor Class "Signal Loss"
  LibreNMS/Enum/Sensor.php
  doc/Developing/os/Health-Information.md
  includes/html/graphs/device/signal_loss.inc.php
  includes/html/pages/device/health/signal_loss.inc.php
  includes/html/pages/device/overview.inc.php
  includes/html/pages/device/overview/sensors/signal_loss.inc.php
  lang/en/sensors.php
  resources/definitions/os_discovery/iqnos.yaml
  tests/data/iqnos_mtc6.json
  tests/data/iqnos_signal-loss.json
  tests/snmpsim/iqnos_signal-loss.snmprec
Labels: Device :desktop_computer:

#18190 Detection: Add new OIDs for Eltex MES 33XX-serires switches
  resources/definitions/os_detection/eltex-mes23xx.yaml
Labels: Device :desktop_computer:

#18188 Device Settings: Check directory exists
  LibreNMS/Util/File.php
Labels: Bug :spider:

#18194 Delete old csv export
  html/csv.php
  includes/html/pages/ports.inc.php
  includes/html/reports/ports.csv.inc.php
Labels: Bug :spider:
