Repository librenms/librenms, pull requests merged in 2025-10, with the labels that each got.

#18256 Add Unifi E7 model detection
  resources/definitions/os_detection/unifi.yaml
  tests/data/unifi_e7.json
  tests/snmpsim/unifi_e7.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#18227 Added api route for location maintenance along with the function and documentation
  doc/API/Locations.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#18309 Refactor device log pages
  app/Http/Controllers/Device/Tabs/EventlogController.php
  app/Http/Controllers/Device/Tabs/GraylogController.php
  app/Http/Controllers/Device/Tabs/OutagesController.php
  app/Http/Controllers/Device/Tabs/SyslogController.php
  app/View/Components/Device/LogTabs.php
  app/View/Components/Device/Page.php
  includes/html/pages/device/logs.inc.php
  includes/html/pages/device/logs/graylog.inc.php
  includes/html/pages/eventlog.inc.php
  resources/views/components/device/log-tabs.blade.php
  resources/views/components/device/page.blade.php
  resources/views/device/tabs/logs/eventlog.blade.php
  resources/views/device/tabs/logs/graylog.blade.php
  resources/views/device/tabs/logs/outages.blade.php
  resources/views/device/tabs/logs/syslog.blade.php
  routes/web.php
Labels: WebUI, Refactor

#18325 Block os with underscores or capitals in the names
  tests/OSDiscoveryTest.php
Labels: Tests :test_tube:

#18329 FortiADC is a Loadbalancer
  resources/definitions/os_detection/fortiadc.yaml
  tests/data/fortiadc_vm.json
Labels: Device :desktop_computer:
