Repository librenms/librenms, pull requests merged in 2025-03, with the labels that each got.

#17207 Block polling for new devices to avoid race condition
  LibreNMS/service.py
Labels: Bug :spider:

#17089 IPv6 neighbor discovery
  app/Http/Controllers/Device/Tabs/PortsController.php
  app/Models/Device.php
  app/Models/Ipv6Nd.php
  app/Models/Port.php
  database/migrations/2025_01_30_214311_create_ipv6_nd_table.php
  includes/discovery/arp-table.inc.php
  includes/html/pages/device/port.inc.php
  includes/html/pages/device/port/nd.inc.php
  lang/en/port.php
  misc/db_schema.yaml
  resources/views/device/tabs/ports/nd.blade.php
Labels: Feature

#17212 Fix sudo example block for SNMP Extend
  doc/Extensions/Applications.md
Labels: Documentation :book:

#17205 Updated html/js/pace.min.js to 1.2.4 and added data-pace-options params to layouts/librenmsv1
  html/js/pace.min.js
  resources/views/layouts/librenmsv1.blade.php
Labels: WebUI

#17210 Doco updates for syslog_hooks lnms config
  doc/Extensions/Syslog.md
  doc/Installation/Install-LibreNMS.md
  doc/Support/Configuration.md
  misc/config_definitions.json
Labels: Documentation :book:

#17215 OSPFv3 module - Fix ip handling when ipv6 in hex format + null handling
  LibreNMS/Modules/Ospfv3.php
  tests/data/fortigate_60fospfv3.json
Labels: Bug :spider:, Ignore changelog :mute:

#17216 Notify installs about cisco-access -> ciscosb os change
  misc/notifications.rss
Labels: Ignore changelog :mute:

#17187 Update MySQL.md
  doc/Extensions/Applications/MySQL.md
Labels: Documentation :book:

#17209 Cisco 400g transceiver
  LibreNMS/OS/Shared/Cisco.php
  tests/data/iosxr_c8200-400g.json
  tests/snmpsim/iosxr_c8200-400g.snmprec
Labels: Device :desktop_computer:

#17217 Ospfv3 module - column type still wrong
  LibreNMS/Modules/Ospfv3.php
Labels: Bug :spider:, Ignore changelog :mute:

#17223 Updated iLert -> ilert
  LibreNMS/Alert/Transport/Ilert.php
  doc/Alerting/Transports.md
Labels: Ignore changelog :mute:

#17227 Resolve NAC error pooling
  LibreNMS/OS/Shared/Cisco.php
Labels: Bug :spider:

#17231 Fix discovery for IOS IE3200 with v17.12
  includes/definitions/ios.yaml
  tests/data/ios_ie32008t2s-ios17-12.json
  tests/snmpsim/ios_ie32008t2s-ios17-12.snmprec
Labels: Device :desktop_computer:

#17232 Add support for Cisco Ultra-Reliable Wireless Backhaul APs
  includes/definitions/ciscowap.yaml
  mibs/cisco/CISCO-PRODUCTS-MIB
  tests/data/ciscowap_iw9165dh.json
  tests/snmpsim/ciscowap_iw9165dh.snmprec
Labels: Device :desktop_computer:

#17229 bug - bgp-peers.inc.php - check for null in $bgpPeer
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:

#17221 Add outlet, temperature, humidity sensor support for Panduit PDUs
  includes/definitions/discovery/panduit.yaml
  tests/data/panduit.json
  tests/data/panduit_2.json
  tests/data/panduit_g5-p32g13m.json
  tests/snmpsim/panduit_g5-p32g13m.snmprec
Labels: Device :desktop_computer:

#17234 Added some additional fields to list_alerts api
  includes/html/api_functions.inc.php
Labels: API

#17239 Remove weathermap from docs
  doc/Extensions/Weathermap.md
Labels: Documentation :book:

#17206 wrapper: No new devices should not trigger error log
  LibreNMS/wrapper.py
Labels: Bug :spider:

#17242 feat: add cord balance to sentry pdu
  includes/definitions/discovery/sentry4.yaml
  tests/data/sentry4.json
Labels: Device :desktop_computer:

#17240 Updated Flexbng to add individual dhcp pool %
  includes/definitions/discovery/flexbng.yaml
  tests/data/flexbng.json
Labels: Device :desktop_computer:

#17241 Added Opsgenie EOL date and link to announcement
  doc/Alerting/Transports.md
Labels: Documentation :book:

#17237 Updated pt-BR translations
  lang/pt-BR.json
  lang/pt-BR/commands.php
  lang/pt-BR/device.php
  lang/pt-BR/exceptions.php
  lang/pt-BR/install.php
  lang/pt-BR/map.php
  lang/pt-BR/modules.php
  lang/pt-BR/poller.php
  lang/pt-BR/port.php
  lang/pt-BR/sensors.php
  lang/pt-BR/settings.php
  lang/pt-BR/tools.php
  lang/pt-BR/widgets.php
  lang/pt-BR/wireless.php
Labels: Translation

#17244 Skip arp/nd on an interface when the interface is not found
  includes/discovery/arp-table.inc.php
Labels: Bug :spider:

#17249 Fix UCD not providing descr sometimes
  LibreNMS/OS/Traits/UcdResources.php
Labels: Bug :spider:

#17252 Fix discovery of new devices
  LibreNMS/service.py
Labels: Bug :spider:

#17255 Fix invalid yaml fs-switch-dc
  includes/definitions/discovery/fs-switch-dc.yaml
Labels: Device :desktop_computer:, Cleanup

#17256 Fix the final implicitly nullable parameters
  LibreNMS/Exceptions/AuthenticationException.php
  LibreNMS/Exceptions/DatabaseInconsistentException.php
  LibreNMS/Exceptions/FileWriteFailedException.php
  LibreNMS/Exceptions/JsonAppBase64DecodeException.php
  LibreNMS/Exceptions/JsonAppBlankJsonException.php
  LibreNMS/Exceptions/JsonAppExtendErroredException.php
  LibreNMS/Exceptions/JsonAppGzipDecodeException.php
  LibreNMS/Exceptions/JsonAppMissingKeysException.php
  LibreNMS/Exceptions/JsonAppParsingFailedException.php
  LibreNMS/Exceptions/JsonAppWrongVersionException.php
  LibreNMS/Exceptions/LdapMissingException.php
  LibreNMS/Exceptions/UnserializableRouteCache.php
  app/Exceptions/PluginDoesNotImplementHookException.php
  app/Policies/UserPolicy.php
Labels: Cleanup

#17258 Fix dusk tests
  .env.travis
  .github/workflows/test.yml
  .github/workflows/web.yml
  LibreNMS/Exceptions/DatabaseInconsistentException.php
  app/Console/Commands/DevCheckCommand.php
  tests/Browser/LoginTest.php
  tests/Browser/Pages/DashboardPage.php
  tests/Browser/Pages/TwoFactorPage.php
  tests/DuskTestCase.php
Labels: Tests :test_tube:

#17257 LDAP fixes for newer PHP versions
  LibreNMS/Authentication/ADAuthorizationAuthorizer.php
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
  LibreNMS/Authentication/ActiveDirectoryCommon.php
  LibreNMS/Authentication/LdapAuthorizationAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizer.php
  misc/config_definitions.json
Labels: Cleanup

#17260 bug - exception in IP::fromHexString
  includes/polling/cipsec-tunnels.inc.php
Labels: Bug :spider:

#17254 PHP package updates
  composer.lock
Labels: Dependencies

#17269 LDAP fixes
  LibreNMS/Authentication/ADAuthorizationAuthorizer.php
  LibreNMS/Authentication/ActiveDirectoryAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizationAuthorizer.php
  LibreNMS/Authentication/LdapAuthorizer.php
  misc/config_definitions.json
Labels: Bug :spider:

#17173 support envPhysicalDescr for junos EVO transceivers
  LibreNMS/OS/Junos.php
  tests/data/junos_qfx5130-32cd-evo.json
  tests/snmpsim/junos_qfx5130-32cd-evo.snmprec
Labels: Device :desktop_computer:

#17263 devices - add support for parks-switch
  html/images/logos/parks.svg
  html/images/os/parks.svg
  includes/definitions/discovery/parks-switch.yaml
  includes/definitions/parks-switch.yaml
  mibs/parks/PARKS-PK700
  tests/data/parks-switch.json
  tests/snmpsim/parks-switch.snmprec
Labels: Device :desktop_computer:

#17270 Fix wireless sensor thresholds being lost
  app/Observers/WirelessSensorObserver.php
  app/Providers/AppServiceProvider.php
Labels: Bug :spider:

#17271 Mempool perc_warn, never update
  LibreNMS/Modules/Mempools.php
  app/Observers/MempoolObserver.php
  app/Providers/AppServiceProvider.php
Labels: Bug :spider:

#17265 lnms user:add: add roles when missing
  app/Console/Commands/AddUserCommand.php
  phpstan-baseline.neon
Labels: Miscellaneous

#17276 OSPFv3 trivial name change
  LibreNMS/Modules/Ospfv3.php
Labels: Cleanup, Ignore changelog :mute:

#17278 Fix popups background color
  html/css/app.css
  html/js/boot.js
  html/mix-manifest.json
  resources/views/components/popup.blade.php
Labels: Bug :spider:

#14960 Add tagged VLANs to api call 'get_port_info'
  doc/API/Ports.md
  includes/html/api_functions.inc.php
Labels: API

#17272 Clarify the naming convention for seeder keys.
  doc/Support/Configuration.md
Labels: Documentation :book:

#17007 api: add ip version specific endpoints
  doc/API/Routing.md
  includes/html/api_functions.inc.php
  routes/api.php
Labels: API

#17267 Non-Greedy version from hrSWInstalledName on junos
  LibreNMS/OS/Junos.php
  tests/data/junos_qfx5100-vcs-14.1x53-d40.8-1.json
  tests/data/junos_qfx5100-vcs-14.1x53-d40.8-2.json
  tests/snmpsim/junos_qfx5100-vcs-14.1x53-d40.8-1.snmprec
  tests/snmpsim/junos_qfx5100-vcs-14.1x53-d40.8-2.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#17286 Tests: use static data providers
  tests/MibTest.php
  tests/OSDiscoveryTest.php
  tests/OSModulesTest.php
  tests/QueryBuilderTest.php
  tests/Unit/Util/MacUtilTest.php
Labels: Tests :test_tube:

#17279 Migrate from Laravel Mix to Vite
  app/Console/Commands/TranslationGenerateCommand.php
  app/Providers/AppServiceProvider.php
  html/build/assets/app-Bb26Zm1b.js
  html/build/assets/app-CZYTlXGO.css
  html/build/manifest.json
  html/css/app.css
  html/css/vendor.css
  html/js/app.js
  html/js/manifest.js
  html/js/vendor.js
  html/js/vendor.js.LICENSE.txt
  html/mix-manifest.json
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/app.js
  resources/js/bootstrap.js
  resources/js/components/LibrenmsSetting.vue
  resources/js/components/PollerSettings.vue
  resources/js/components/SettingArray.vue
  resources/js/components/SettingArraySubKeyed.vue
  resources/js/components/SettingBoolean.vue
  resources/js/components/SettingColor.vue
  resources/js/components/SettingDirectory.vue
  resources/js/components/SettingEmail.vue
  resources/js/components/SettingExecutable.vue
  resources/js/components/SettingFloat.vue
  resources/js/components/SettingGroupRoleMap.vue
  resources/js/components/SettingInteger.vue
  resources/js/components/SettingLdapGroups.vue
  resources/js/components/SettingMultiple.vue
  resources/js/components/SettingOxidizedMaps.vue
  resources/js/components/SettingPassword.vue
  resources/js/components/SettingSelect.vue
  resources/js/components/SettingSelectDynamic.vue
  resources/js/components/SettingSnmp3auth.vue
  resources/js/components/SettingText.vue
  resources/sass/_variables.scss
  resources/sass/app.scss
  resources/views/components/notification-subscription-status.blade.php
  resources/views/layouts/librenmsv1.blade.php
  resources/views/poller/settings.blade.php
  resources/views/settings/index.blade.php
  vite.config.mjs
  webpack.mix.js
Labels: WebUI, Internal Features

#17287 Update FORTINET-FORTIAP-MIB
  mibs/fortinet/FORTINET-FORTIAP-MIB
Labels: Device :desktop_computer:, MIBs

#17281 Remove error_handling(0) calls in auth code
  app/Providers/LegacyUserProvider.php
Labels: Needs Testing, Cleanup

#17290 Remove auto snmpsim and migrate:fresh from phpunit calls
  LibreNMS/Util/CiHelper.php
  LibreNMS/Util/ModuleTestHelper.php
  scripts/save-test-data.php
  tests/OSDiscoveryTest.php
  tests/OSModulesTest.php
  tests/SnmpsimHelpers.php
  tests/TestCase.php
  tests/bootstrap.php
Labels: Tests :test_tube:, Internal Features

#17284 Axis camera temperature thresholds
  includes/discovery/sensors/temperature/axiscam.inc.php
  tests/data/axiscam_box.json
  tests/data/axiscam_p1375.json
  tests/snmpsim/axiscam_p1375.snmprec
Labels: Device :desktop_computer:

#17285 PHPUnit 10 Shift
  .gitignore
  composer.json
  composer.lock
  phpunit.xml
  tests/Browser/LoginTest.php
  tests/DBSetupTest.php
  tests/DocsTest.php
  tests/FpingTest.php
  tests/FunctionsTest.php
  tests/IpTest.php
  tests/MibTest.php
  tests/OSDiscoveryTest.php
  tests/OSModulesTest.php
  tests/QueryBuilderTest.php
  tests/SVGTest.php
  tests/Unit/Data/DatastoreTest.php
  tests/Unit/Data/GraphiteStoreTest.php
  tests/Unit/Data/InfluxDBStoreTest.php
  tests/Unit/Data/OpenTSDBStoreTest.php
  tests/Unit/Data/PrometheusStoreTest.php
  tests/Unit/Util/MacUtilTest.php
  tests/Unit/Util/NumberTest.php
  tests/YamlSchemaTest.php
Labels: Tests :test_tube:

#17295 Revert "Remove error_handling(0) calls in auth code"
  app/Providers/LegacyUserProvider.php
Labels: Ignore changelog :mute:

#17300 Update super-linter to v7
  .github/workflows/lint.yml
Labels: Tests :test_tube:

#17299 Correct casing of SmokepingGenerateCommand
  tests/SmokepingCliTest.php
Labels: Cleanup, Tests :test_tube:

#17292 Add assertions to mockery shouldReceive's
  tests/Unit/Data/GraphiteStoreTest.php
  tests/Unit/Data/OpenTSDBStoreTest.php
Labels: Tests :test_tube:

#17304 Add missing static phpunit dataprovider
  tests/MibTest.php
Labels: Ignore changelog :mute:, Tests :test_tube:

#17214 Documentation: High Availability setup with redis sentinel
  doc/Extensions/Distributed-Poller.md
  doc/Extensions/RRDCached.md
  doc/Extensions/Redis-Sentinel.md
  doc/Installation/Install-LibreNMS.md
  doc/Support/High-Availability.md
  mkdocs.yml
Labels: Documentation :book:

#17275 Drop ospfv3_nbrs.ospfv3NbrIfIndex
  app/Models/Ospfv3Nbr.php
  database/migrations/2025_03_17_144000_drop_ospfv3nbrifindex.php
  doc/API/Routing.md
  misc/db_schema.yaml
  tests/data/fortigate_60fospfv3.json
Labels: Cleanup

#17274 Ifalias on alerts
  includes/html/functions.inc.php
Labels: WebUI

#17208 Improve Cisco C1200/C1300 support by merging it into ciscosb
  includes/definitions/cisco-access.yaml
  includes/definitions/ciscosb.yaml
  tests/data/ciscosb_c1200.json
  tests/snmpsim/ciscosb_c1200.snmprec
  tests/snmpsim/ciscosb_c1300.snmprec
Labels: Device :desktop_computer:, Blocker :no_entry_sign:

#17315 Fix SnmpResponse getRawWithoutBadLines
  LibreNMS/Data/Source/SnmpResponse.php
Labels: Bug :spider:, Internal Features

#17305 Remove CheckStatus
  LibreNMS/Enum/CheckStatus.php
  LibreNMS/Enum/SyslogSeverity.php
Labels: Cleanup

#17317 Updated Custom map list to sub menu
  resources/views/layouts/menu.blade.php
Labels: WebUI, Maps

#17306 Log a message when an alert is unack'd too
  app/Http/Controllers/AlertController.php
Labels: Alerting :bell:

#17321 Fetch all IPv6 Link-Local
  LibreNMS/Modules/Ipv6Addresses.php
Labels: Bug :spider:

#17318 bug - Zyxel - Fix for FDB discovery
  includes/discovery/fdb-table/zynos.inc.php
Labels: Bug :spider:

#17327 Squid, allow unordered oids
  includes/polling/applications/squid.inc.php
Labels: Bug :spider:, Applications :floppy_disk:

#17328 Use the main ID for the alert within Grafana transport
  LibreNMS/Alert/Transport/Grafana.php
Labels: Alerting :bell:

#17329 Fix device ssh links
  app/Http/Controllers/DeviceController.php
Labels: Bug :spider:, WebUI

#17334 Deprecate snmp.inc.php
  includes/snmp.inc.php
  phpstan-baseline-deprecated.neon
Labels: Internal Features

#17288 Replace bouncer with laravel-permissions
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/Transport/Mail.php
  LibreNMS/Authentication/RadiusAuthorizer.php
  app/Console/Commands/AddUserCommand.php
  app/Http/Controllers/Auth/SocialiteController.php
  app/Http/Controllers/Install/MakeUserController.php
  app/Http/Controllers/Select/RoleController.php
  app/Http/Controllers/UserController.php
  app/Http/Requests/StoreUserRequest.php
  app/Http/Requests/UpdateUserRequest.php
  app/Models/User.php
  app/Providers/AuthServiceProvider.php
  app/Providers/LegacyUserProvider.php
  composer.json
  composer.lock
  config/permission.php
  database/factories/RoleFactory.php
  database/factories/UserFactory.php
  database/migrations/2023_06_18_195618_create_bouncer_tables.php
  database/migrations/2023_06_18_201914_migrate_level_to_roles.php
  database/migrations/2025_03_17_222255_rename_existing_permissions_tables.php
  database/migrations/2025_03_17_222652_create_permission_tables.php
  database/migrations/2025_03_17_222734_migrate_bouncer_to_spatie.php
  database/migrations/2025_03_18_003446_drop_bouncer_tables.php
  database/seeders/RolesSeeder.php
  misc/db_schema.yaml
  phpstan-baseline.neon
  resources/views/user/form.blade.php
  resources/views/user/index.blade.php
  routes/web.php
  tests/AuthSSOTest.php
  tests/Unit/SqliteTest.php
Labels: Internal Features

#17294 Fix Datacom optical signal levels by changing divisor value
  includes/discovery/sensors/dbm/datacom.inc.php
  tests/data/datacom.json
  tests/snmpsim/datacom.snmprec
Labels: Device :desktop_computer:, Needs Tests :unicorn:

#17336 Apply fixes from StyleCI
  includes/discovery/sensors/state/eltex-mes24xx.inc.php
Labels: Ignore changelog :mute:

#17326 Improved Sensor Discovery for Eaton PDU
  includes/definitions/discovery/eatonpdu.yaml
  includes/discovery/sensors/current/eatonpdu.inc.php
  tests/data/eatonpdu_2.json
  tests/data/eatonpdu_dbq.json
  tests/snmpsim/eatonpdu_2.snmprec
Labels: Device :desktop_computer:

#17316 Add support for bison router
  html/images/logos/bison.svg
  html/images/os/bison.svg
  includes/definitions/bison.yaml
  includes/definitions/discovery/bison.yaml
  includes/discovery/ports.inc.php
  includes/discovery/ports/bison.inc.php
  includes/polling/ports/os/bison.inc.php
  mibs/bison/BISON-ROUTER-MIB
  tests/data/bison.json
  tests/snmpsim/bison.snmprec
Labels: Device :desktop_computer:

#17339 fix test namespaces
  tests/Unit/ConfigItemTest.php
  tests/Unit/TimeUtilityTest.php
Labels: Cleanup

#17345 Fix bison deprecated snmp
  includes/discovery/ports/bison.inc.php
  includes/polling/ports/os/bison.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#17344 Roles migration ignore duplicate roles
  database/migrations/2025_03_17_222734_migrate_bouncer_to_spatie.php
Labels: Bug :spider:

#17342 Update Cisco Platform Detection
  LibreNMS/OS/Shared/Cisco.php
Labels: Device :desktop_computer:

#17350 Fix installer breakage
  database/migrations/2025_03_17_222652_create_permission_tables.php
Labels: Bug :spider:

#17347 updating minor help popup text grammatical error
  lang/en/poller.php
  lang/en/settings.php
  lang/it/poller.php
  lang/it/settings.php
  lang/zh-TW/poller.php
Labels: Translation

#17351 Fix JS language files not loading
  app/Providers/AppServiceProvider.php
Labels: Bug :spider:, WebUI

#17359 Fix admin only scope
  app/Models/User.php
Labels: Bug :spider:

#17354 Eatonups power per phase
  includes/definitions/discovery/eatonups.yaml
  tests/data/eatonups.json
  tests/data/eatonups_eaton-connectups.json
  tests/snmpsim/eatonups.snmprec
Labels: Device :desktop_computer:

#17368 Documentation for SnmpQuery
  doc/Developing/Using-SnmpQuery.md
  mkdocs.yml
Labels: Documentation :book:

#17367 PHP version check in webui
  app/Checks.php
Labels: Miscellaneous

#17365 Refactor processors table backend
  app/Http/Controllers/Table/ProcessorsController.php
  includes/html/pages/health/processor.inc.php
  includes/html/table/processor.inc.php
  routes/web.php
Labels: Refactor

#17364 Refactor storages table backend
  app/Http/Controllers/Table/StoragesController.php
  includes/html/pages/health/storage.inc.php
  includes/html/table/storage.inc.php
  routes/web.php
Labels: Refactor

#17322 Ospfv3 rewrite
  LibreNMS/Modules/Ospfv3.php
  app/Models/Ospfv3Area.php
  app/Models/Ospfv3Instance.php
  app/Models/Ospfv3Nbr.php
  app/Models/Ospfv3Port.php
  database/factories/Ospfv3NbrFactory.php
  database/factories/Ospfv3PortFactory.php
  database/migrations/2025_03_19_205644_fix_ospfv3_areas_table.php
  database/migrations/2025_03_19_205648_fix_ospfv3_instances_table.php
  database/migrations/2025_03_19_205655_fix_ospfv3_nbrs_table.php
  database/migrations/2025_03_19_205700_fix_ospfv3_ports_table.php
  doc/API/Routing.md
  includes/discovery/ospfv3.inc.php
  includes/html/api_functions.inc.php
  includes/html/pages/device/routing.inc.php
  includes/html/pages/device/routing/ospfv3.inc.php
  includes/html/pages/routing/ospfv3.inc.php
  misc/config_definitions.json
  misc/db_schema.yaml
  routes/api.php
  tests/data/fortigate_60fospfv3.json
  tests/snmpsim/fortigate_60fospfv3.snmprec
Labels: Bug :spider:, Refactor

#17370 Fix Yaml data fetch bug
  LibreNMS/Device/YamlDiscovery.php
Labels: Bug :spider:

#17372 Updated sysDescr for Aruba Os 10
  includes/definitions/aruba-instant.yaml
  tests/data/aruba-instant.json
  tests/data/aruba-instant_105.json
  tests/snmpsim/aruba-instant.snmprec
  tests/snmpsim/aruba-instant_ 635.snmprec
Labels: Device :desktop_computer:

#17369 Fix uncompressed ipv6 for mapped ipv4
  LibreNMS/Util/IPv6.php
  tests/IpTest.php
Labels: Bug :spider:

#17309 Added detection for Eltex MES2300D
  includes/definitions/eltex-mes23xx.yaml
  tests/snmpsim/eltex-mes23xx_mes2300d-24p.snmprec
Labels: Device :desktop_computer:

#17228 Nokia ISAM module improvement
  includes/definitions/discovery/nokia-isam.yaml
  includes/discovery/sensors/pre-cache/nokia-isam.inc.php
  includes/discovery/sensors/state/nokia-isam.inc.php
  tests/data/nokia-isam.json
Labels: Device :desktop_computer:

#17353 Fix default language always showing current
  app/Http/Controllers/UserPreferencesController.php
  config/app.php
Labels: Bug :spider:, WebUI, Translation
