Repository librenms/librenms, pull requests merged in 2025-02, with the labels that each got.

#17098 Update announcement workflow
  .github/workflows/announcements.yml
Labels: Ignore changelog :mute:

#17096 Graph has trouble detecting the range if the sensor is constant
  app/Models/Sensor.php
  includes/html/graphs/sensor/generic.inc.php
Labels: Graphs

#17102 Fix poller submodule support
  app/Jobs/PollDevice.php
Labels: Bug :spider:

#17100 Remove ObjectCache notifications page
  app/Models/User.php
  includes/html/pages/notifications.inc.php
Labels: Refactor

#17103 Fix port churn port assoc mode if is non-existent field
  includes/common.php
Labels: Bug :spider:

#17104 Fix storage_perc_warn not being applied to new storages
  LibreNMS/Modules/Storage.php
Labels: Bug :spider:

#17105 Fix typo
  app/Models/Sensor.php
  includes/html/graphs/sensor/generic.inc.php
Labels: Ignore changelog :mute:

#17097 Remove Create sensor to state index
  doc/Developing/Sensor-State-Support.md
  includes/discovery/functions.inc.php
  includes/discovery/sensors/gw-eydfa.inc.php
  includes/discovery/sensors/rittal-cmc-iii-sensors.inc.php
  includes/discovery/sensors/rpigpiomonitor.inc.php
  includes/discovery/sensors/state/airos-af-ltu.inc.php
  includes/discovery/sensors/state/airos-af60.inc.php
  includes/discovery/sensors/state/aos-emu2.inc.php
  includes/discovery/sensors/state/aos6.inc.php
  includes/discovery/sensors/state/apc.inc.php
  includes/discovery/sensors/state/arubaos-cx.inc.php
  includes/discovery/sensors/state/asa.inc.php
  includes/discovery/sensors/state/axiscam.inc.php
  includes/discovery/sensors/state/boss.inc.php
  includes/discovery/sensors/state/cisco.inc.php
  includes/discovery/sensors/state/ciscosb.inc.php
  includes/discovery/sensors/state/commander-plus.inc.php
  includes/discovery/sensors/state/compas.inc.php
  includes/discovery/sensors/state/ctm.inc.php
  includes/discovery/sensors/state/dell-powervault.inc.php
  includes/discovery/sensors/state/dell.inc.php
  includes/discovery/sensors/state/dhcpatriot.inc.php
  includes/discovery/sensors/state/eltek-webpower.inc.php
  includes/discovery/sensors/state/enlogic-pdu.inc.php
  includes/discovery/sensors/state/equallogic.inc.php
  includes/discovery/sensors/state/eurostor.inc.php
  includes/discovery/sensors/state/extendair.inc.php
  includes/discovery/sensors/state/fortigate.inc.php
  includes/discovery/sensors/state/fs-nmu.inc.php
  includes/discovery/sensors/state/hp.inc.php
  includes/discovery/sensors/state/hpblmos.inc.php
  includes/discovery/sensors/state/ict-pdu.inc.php
  includes/discovery/sensors/state/infinera-groove.inc.php
  includes/discovery/sensors/state/innovaphone.inc.php
  includes/discovery/sensors/state/juniper-mss.inc.php
  includes/discovery/sensors/state/linux.inc.php
  includes/discovery/sensors/state/loop-telecom.inc.php
  includes/discovery/sensors/state/netagent2.inc.php
  includes/discovery/sensors/state/nokia-isam.inc.php
  includes/discovery/sensors/state/nxos.inc.php
  includes/discovery/sensors/state/powervault.inc.php
  includes/discovery/sensors/state/printer.inc.php
  includes/discovery/sensors/state/procurve.inc.php
  includes/discovery/sensors/state/quanta.inc.php
  includes/discovery/sensors/state/rfc1628.inc.php
  includes/discovery/sensors/state/serverscheck.inc.php
  includes/discovery/sensors/state/sitemonitor.inc.php
  includes/discovery/sensors/state/sm-os.inc.php
  includes/discovery/sensors/state/unix.inc.php
  includes/discovery/sensors/state/voss.inc.php
  includes/discovery/sensors/state/vrp.inc.php
  includes/discovery/sensors/state/wipipe.inc.php
  includes/functions.php
Labels: Cleanup

#17101 Remove unused files
  LibreNMS/ObjectCache.php
  includes/caches/alerts.inc.php
  includes/caches/devices.inc.php
  includes/caches/notifications.inc.php
  includes/caches/ports.inc.php
  includes/caches/services.inc.php
  includes/caches/toner.inc.php
  includes/html/object-cache.inc.php
  includes/polling/availability.inc.php
  includes/polling/core.inc.php
  includes/polling/isis.inc.php
  includes/polling/mempools.inc.php
  includes/polling/mpls.inc.php
  includes/polling/nac.inc.php
  includes/polling/netstats.inc.php
  includes/polling/os.inc.php
  includes/polling/ospf.inc.php
  includes/polling/printer-supplies.inc.php
  includes/polling/qos.inc.php
  includes/polling/slas.inc.php
  includes/polling/storage.inc.php
  includes/polling/stp.inc.php
  includes/polling/wireless/cambium-250.inc.php
  includes/polling/wireless/cambium-650.inc.php
  includes/polling/wireless/cambium-epmp.inc.php
  includes/polling/wireless/cambium-generic.inc.php
  includes/polling/wireless/canopy-generic.inc.php
  includes/polling/xdsl.inc.php
Labels: Cleanup

#16984 Adtran ALM series
  includes/definitions/adva-alm.yaml
  includes/definitions/discovery/adva-alm.yaml
  mibs/adva/ADVA-FSP3000ALM-MIB
  tests/data/adva-alm_16alm.json
  tests/snmpsim/adva-alm_16alm.snmprec
Labels: Device :desktop_computer:

#17110 Fixed: failed with 415 with content type not supported issue
  LibreNMS/Alert/Transport/Linemessagingapi.php
Labels: Alerting :bell:

#16483 showconfig.inc.php changed svn_log() and svn_diff() to Process()
  includes/html/pages/device/showconfig.inc.php
Labels: Refactor

#17118 Workaround for Routeros LLDP local port index
  includes/discovery/discovery-protocols.inc.php
Labels: Device :desktop_computer:

#17146 Updated Moxa vendor logo
  html/images/logos/moxa.svg
  html/images/os/moxa.svg
Labels: WebUI, Device :desktop_computer:

#17144 Opengear devices: Add missing sensors & support for new CM8100 model
  includes/definitions/discovery/opengear.yaml
  mibs/opengear/OG-OMTELEM-MIB
  mibs/opengear/OG-PRODUCTS-MIB
  tests/data/opengear_cm71xx.json
  tests/data/opengear_cm81xx.json
  tests/data/opengear_im72xx.json
  tests/snmpsim/opengear_cm71xx.snmprec
  tests/snmpsim/opengear_cm81xx.snmprec
  tests/snmpsim/opengear_im72xx.snmprec
Labels: Device :desktop_computer:

#17142 Add power suply status to VRP OS (Huawei devices)
  includes/definitions/discovery/vrp.yaml
  tests/data/vrp_ne8000-m8.json
  tests/data/vrp_power.json
Labels: Device :desktop_computer:

#17143 Add power supply status to Yunshan OS (Huawei devices)
  includes/definitions/discovery/yunshan.yaml
  tests/data/yunshan_s5735-v2.json
  tests/snmpsim/yunshan_s5735-v2.snmprec
Labels: Device :desktop_computer:

#17134 Map not working on device overview with custom engine
  includes/html/dev-overview-data.inc.php
Labels: Maps

#17130 Add enable_syslog_hooks config defaults
  doc/Extensions/Syslog.md
  misc/config_definitions.json
Labels: Cleanup

#17133 Added additional snr support
  LibreNMS/OS/SmOs.php
  includes/definitions/discovery/sm-os.yaml
  tests/data/sm-os_80hdx.json
Labels: Device :desktop_computer:

#17113 Imcopower - added alarms and renamed temperature sensor
  includes/definitions/discovery/imcopower-big.yaml
  includes/definitions/discovery/imcopower-ls110.yaml
  tests/data/imcopower-big.json
  tests/data/imcopower-ls110.json
  tests/snmpsim/imcopower-big.snmprec
Labels: Device :desktop_computer:

#17117 Initial detection for Keenetic devices
  html/images/logos/keeneticos.svg
  html/images/os/keeneticos.svg
  includes/definitions/discovery/keeneticos.yaml
  includes/definitions/keeneticos.yaml
  tests/data/keeneticos_hero2311.json
  tests/snmpsim/keeneticos_hero2311.snmprec
Labels: Device :desktop_computer:

#17036 Add custom maps node warning state display
  app/Http/Controllers/Maps/CustomMapDataController.php
  html/mix-manifest.json
  lang/en/settings.php
  misc/config_definitions.json
Labels: Maps

#17153 Try and fix worfklow
  .github/workflows/announcements.yml
Labels: Ignore changelog :mute:

#16952 Moved currentInUse from custom table to sensors for Cisco ASA
  LibreNMS/Util/Stats.php
  app/Observers/DeviceObserver.php
  database/migrations/2025_01_07_223946_drop_cisco_a_s_a_table.php
  doc/Support/Poller Support.md
  includes/definitions/asa.yaml
  includes/definitions/discovery/asa.yaml
  includes/definitions/pixos.yaml
  includes/html/graphs/device/asa_conns.inc.php
  includes/polling/cisco-asa-firewall.inc.php
  lang/en/settings.php
  lang/fr/settings.php
  lang/it/settings.php
  lang/pt-BR/settings.php
  lang/ru/settings.php
  lang/uk/settings.php
  misc/alert_rules.json
  misc/config_definitions.json
  misc/db_schema.yaml
  misc/os_schema.json
  phpstan-baseline-deprecated.neon
  tests/data/asa.json
Labels: Device :desktop_computer:, Breaking-Change

#17155 And another change!
  .github/workflows/announcements.yml
Labels: Ignore changelog :mute:

#17131 Add Device page default to preferred SNMP settings
  includes/html/pages/addhost.inc.php
Labels: WebUI

#17147 Update ENTITY and fix consequences
  includes/definitions/discovery/velocloud.yaml
  mibs/ENTITY-MIB
  mibs/IANA-ENTITY-MIB
  mibs/UUID-TC-MIB
  tests/data/nokia-isam.json
Labels: Dependencies

#17162 Web add hosts fixes
  includes/html/pages/addhost.inc.php
Labels: Bug :spider:, Security, WebUI

#17168 Add support for wis bridge
  LibreNMS/OS/WisBridge.php
  html/images/os/wis.png
  includes/definitions/wis-bridge.yaml
  mibs/wis/WIS-BRIDGE-MIB
  mibs/wis/WIS-MIB
  tests/data/wis-bridge.json
  tests/snmpsim/wis-bridge.snmprec
Labels: Device :desktop_computer:

#17171 Fix wlanAPChInterferenceIndex formula. Fixes Numeric value out of range: 1264 Out of range value for column 'interference'
  includes/polling/aruba-controller.inc.php
Labels: Bug :spider:

#17145 Fix for issue #16895
  includes/definitions/discovery/panos.yaml
  tests/data/panos.json
  tests/data/panos_440.json
  tests/data/panos_5220.json
  tests/data/panos_vsys.json
Labels: Device :desktop_computer:

#17175 Fix 'page' selection for the ARP Search page. $page wasn't supplied to pagination.
  includes/html/table/arp-search.inc.php
Labels: WebUI

#17158 Fix cisco qos missing title
  LibreNMS/OS/Shared/Cisco.php
Labels: Bug :spider:, Device :desktop_computer:

#17178 Fix alert history table verbose detail display
  includes/html/common/alert-log.inc.php
  includes/html/table/alertlog.inc.php
Labels: WebUI

#17182 Typo docs
  doc/Extensions/VisJS-Config.md
  doc/Extensions/Weathermap.md
Labels: Documentation :book:

#17181 FS S3900 switch sysobject additions
  includes/definitions/fs-bdcom.yaml
  includes/definitions/fs-switch.yaml
  tests/data/fs-bdcom_s3900-24t4s-r.json
  tests/data/fs-bdcom_s3900-48t6s-r.json
  tests/snmpsim/fs-bdcom_s3900-24t4s-r.snmprec
  tests/snmpsim/fs-bdcom_s3900-48t6s-r.snmprec
Labels: Device :desktop_computer:

#17184 fix: Properly display power supply numbers for YunShan OS in LibreNMS
  includes/definitions/discovery/yunshan.yaml
  tests/data/yunshan_s5735-v2.json
Labels: Device :desktop_computer:

#17196 Mock dns resolver for LOC test
  LibreNMS/Util/Dns.php
  tests/Unit/LocationTest.php
Labels: Tests :test_tube:

#17195 fix: Minor typo in PHP-FPM poller log
  includes/polling/applications/php-fpm.inc.php
Labels: Miscellaneous

#15880 Adding alert transport for ilert.
  LibreNMS/Alert/Transport/Ilert.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#17201 Eaton sc300 rectifer OS support
  includes/definitions/discovery/eaton-sc300.yaml
  includes/definitions/eaton-sc300.yaml
  mibs/eaton/RPS-SC300-MIB
  tests/data/eaton-sc300.json
  tests/snmpsim/eaton-sc300.snmprec
Labels: Device :desktop_computer:

#17046 Add support for OSPFv3 discovery and polling
  LibreNMS/Cache/Port.php
  LibreNMS/Modules/Ospfv3.php
  LibreNMS/Util/ObjectCache.php
  LibreNMS/Util/Stats.php
  app/Http/Controllers/Device/Tabs/RoutingController.php
  app/Http/ViewComposers/MenuComposer.php
  app/Models/Device.php
  app/Models/Ospfv3Area.php
  app/Models/Ospfv3Instance.php
  app/Models/Ospfv3Nbr.php
  app/Models/Ospfv3Port.php
  app/Models/Port.php
  app/Models/Route.php
  app/Observers/DeviceObserver.php
  database/factories/Ospfv3NbrFactory.php
  database/factories/Ospfv3PortFactory.php
  database/migrations/2025_01_20_125000_create_ospfv3_areas_table.php
  database/migrations/2025_01_20_125000_create_ospfv3_instances_table.php
  database/migrations/2025_01_20_125000_create_ospfv3_nbrs_table.php
  database/migrations/2025_01_20_125000_create_ospfv3_ports_table.php
  doc/API/Routing.md
  doc/Extensions/Auto-Discovery.md
  doc/Support/Discovery Support.md
  doc/Support/Features.md
  doc/Support/Poller Support.md
  includes/discovery/discovery-protocols.inc.php
  includes/html/api_functions.inc.php
  includes/html/pages/device/routing.inc.php
  includes/html/pages/device/routing/ospfv3.inc.php
  includes/html/pages/routing.inc.php
  includes/html/pages/routing/ospfv3.inc.php
  includes/polling/ospfv3.inc.php
  lang/en/settings.php
  lang/fr/settings.php
  lang/it/settings.php
  lang/ru/settings.php
  lang/uk/settings.php
  misc/config_definitions.json
  misc/db_schema.yaml
  misc/os_schema.json
  routes/api.php
  tests/data/fortigate_60fospfv3.json
  tests/snmpsim/fortigate_60fospfv3.snmprec
Labels: Feature
