Repository librenms/librenms, pull requests merged in 2025-07, with the labels that each got.

#17983 Fix polling writing to log file
  app/Jobs/PollDevice.php
Labels: Bug :spider:, Ignore changelog :mute:

#17984 Misc cleanups
  LibreNMS/Alert/RunAlerts.php
  check-services.php
  includes/services.inc.php
  poll-billing.php
Labels: Cleanup

#17982 Ribbon Neptune transceivers and sensors
  LibreNMS/OS/Neptune.php
  LibreNMS/Util/Number.php
  database/migrations/2025_06_25_001525_change_transceivers_table_string_limit.php
  mibs/ribbon/NPT-EQUIPMENT-MIB
  mibs/ribbon/NPT-ROOT-MIB
  mibs/ribbon/NPT-SYSTEM-MIB
  mibs/ribbon/NPT-TC-MIB
  resources/definitions/os_discovery/neptune.yaml
  resources/definitions/schema/db_schema.yaml
  tests/data/neptune_npt2100.json
  tests/data/neptune_npt2300.json
  tests/snmpsim/neptune_npt2100.snmprec
  tests/snmpsim/neptune_npt2100a.snmprec
  tests/snmpsim/neptune_npt2300.snmprec
Labels: Device :desktop_computer:

#17978 syslog.php attempt to improve
  syslog.php
Labels: Cleanup

#17985 Fix dashboard widget edit icon logic
  resources/views/overview/default.blade.php
Labels: Bug :spider:

#17972 [ibm-imm] Add sensors / OS data
  LibreNMS/OS/IbmImm.php
  LibreNMS/OS/Traits/YamlOSDiscovery.php
  database/migrations/2025_07_29_025425_hr_device_table_add_type_default.php
  resources/definitions/os_detection/ibm-imm.yaml
  resources/definitions/os_discovery/ibm-imm.yaml
  resources/definitions/schema/db_schema.yaml
  resources/definitions/schema/discovery_schema.json
  tests/data/ibm-imm_x3550m3.json
  tests/snmpsim/ibm-imm_x3550m3.snmprec
Labels: Device :desktop_computer:

#17988 Fix apps page
  includes/html/pages/apps/overview.inc.php
Labels: Bug :spider:, WebUI

#17973 Improve devices loading time
  app/Http/Controllers/DevicePopupController.php
  app/Http/Controllers/Table/DeviceController.php
  app/View/Components/GraphRow.php
  config/debugbar.php
  html/build/assets/app-CVFTjosH.css
  html/build/assets/app-D87epv4S.js
  html/build/assets/app-D8fIM6hs.js
  html/build/assets/app-DtJPMVZ-.css
  html/build/manifest.json
  html/css/tailwind.min.css
  html/js/alpine.min.js
  html/js/librenms.js
  includes/html/graphs/generic_stats.inc.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/app.js
  resources/js/components/alpine/deviceLink.js
  resources/js/components/alpine/oldpopup.js
  resources/js/components/alpine/popup.js
  resources/views/components/device-link.blade.php
  resources/views/device/action-icon.blade.php
  resources/views/device/actions.blade.php
  resources/views/device/list/hostname.blade.php
  resources/views/device/popup.blade.php
  resources/views/layouts/librenmsv1.blade.php
  routes/web.php
Labels: WebUI

#17991 More discovery fixes
  LibreNMS/OS/Traits/HostResources.php
  database/migrations/2025_07_01_173854_hrdevice_default_values.php
  database/migrations/2025_07_01_175422_stp_change_root_cost_size.php
  resources/definitions/schema/db_schema.yaml
Labels: Cleanup

#17929 Add Behavior to Scheduled Maintenance
  LibreNMS/Alert/AlertRules.php
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Enum/MaintenanceAlertBehavior.php
  LibreNMS/Polling/ConnectivityHelper.php
  app/Http/Controllers/DeviceController.php
  app/Http/Controllers/Table/AlertScheduleController.php
  app/Http/Controllers/Table/DeviceController.php
  app/Models/Device.php
  database/migrations/2025_06_19_165621_add_behavior_to_alert_schedule_table.php
  doc/Alerting/Scheduled-Maintenances.md
  doc/Extensions/Plugin-System.md
  html/css/styles.css
  includes/html/api_functions.inc.php
  includes/html/forms/schedule-maintenance.inc.php
  includes/html/modal/alert_schedule.inc.php
  includes/html/modal/device_maintenance.inc.php
  includes/html/pages/alert-schedule.inc.php
  includes/html/pages/device/edit/device.inc.php
  lang/en/maintenance.php
  lang/en/settings.php
  mkdocs.yml
  resources/definitions/config_definitions.json
  resources/definitions/schema/db_schema.yaml
  resources/views/device/header.blade.php
  resources/views/map/availability.blade.php
Labels: Alerting :bell:

#18000 Fix csv output
  app/Http/Controllers/Table/EventlogController.php
  app/Http/Controllers/Table/OutagesController.php
  includes/html/table/eventlog.inc.php
Labels: WebUI

#18009 Fix logo image svg detection
  app/View/Components/Logo.php
Labels: Bug :spider:, WebUI

#18012 GitHub apply example
  scripts/github-apply
Labels: Miscellaneous

#18010 Fix unauthenticated site style
  app/Http/Middleware/LoadUserPreferences.php
  resources/views/layouts/librenmsv1.blade.php
Labels: Bug :spider:, WebUI

#18011 Restore header menu alerts color
  resources/views/layouts/menu.blade.php
Labels: Bug :spider:, WebUI

#17992 Add info to lnms about command
  LibreNMS/Util/Version.php
  app/Providers/AppServiceProvider.php
Labels: Feature

#18013 github-apply, Error on no args
  scripts/github-apply
Labels: Miscellaneous

#17998 Maint behavior redux
  LibreNMS/Alert/AlertRules.php
  LibreNMS/Alert/AlertUtil.php
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Enum/MaintenanceBehavior.php
  LibreNMS/Enum/MaintenanceStatus.php
  LibreNMS/Polling/ConnectivityHelper.php
  app/Http/Controllers/Table/AlertScheduleController.php
  app/Models/AlertSchedule.php
  app/Models/Device.php
  database/migrations/2025_06_19_165621_add_behavior_to_alert_schedule_table.php
  doc/Alerting/Scheduled-Maintenances.md
  doc/Extensions/Plugin-System.md
  html/css/styles.css
  includes/html/api_functions.inc.php
  includes/html/forms/schedule-maintenance.inc.php
  includes/html/modal/alert_schedule.inc.php
  includes/html/modal/device_maintenance.inc.php
  includes/html/pages/alert-schedule.inc.php
  includes/html/pages/device/edit/device.inc.php
  lang/en/maintenance.php
  lang/en/settings.php
  mkdocs.yml
  resources/definitions/config_definitions.json
  resources/definitions/schema/db_schema.yaml
  resources/views/device/header.blade.php
  resources/views/map/availability.blade.php
Labels: Ignore changelog :mute:

#18017 Fix Alert Maintenance translation issue
  app/Http/Controllers/Table/AlertScheduleController.php
  includes/html/modal/alert_schedule.inc.php
  includes/html/modal/device_maintenance.inc.php
  lang/en/alerting.php
  lang/en/maintenance.php
  resources/views/widgets/availability-map.blade.php
Labels: Bug :spider:, WebUI

#18019 Routes - Restore order of discovery from before #17537
  LibreNMS/Modules/Routes.php
Labels: Bug :spider:

#17431 Rewrite raritan PDU2-MIB sensors as YAML
  LibreNMS/Util/Compare.php
  doc/Support/Device-Notes/Raritan.md
  doc/img/raritan-gui-inlet-detail.png
  doc/img/raritan-gui-inlet-thresholds.png
  doc/img/raritan-gui-inlet.png
  doc/img/raritan-thresholds.png
  includes/discovery/sensors/current/raritan-pdu.inc.php
  includes/discovery/sensors/frequency/raritan-pdu.inc.php
  includes/discovery/sensors/humidity/raritan-pdu.inc.php
  includes/discovery/sensors/power/raritan-pdu.inc.php
  includes/discovery/sensors/pre-cache/raritan-pdu.inc.php
  includes/discovery/sensors/temperature/raritan-pdu.inc.php
  includes/discovery/sensors/voltage/raritan-pdu.inc.php
  mibs/raritan/PDU2-MIB
  mkdocs.yml
  resources/definitions/os_discovery/raritan-pdu.yaml
  tests/data/raritan-pdu_px2-temp.json
  tests/data/raritan-pdu_px2.json
  tests/data/raritan-pdu_px3.json
  tests/data/raritan-pdu_px4.json
  tests/snmpsim/raritan-pdu_px3.snmprec
  tests/snmpsim/raritan-pdu_px4.snmprec
Labels: Device :desktop_computer:, Breaking-Change

#18016 Adding Operating System Information for Compas USV Devices
  resources/definitions/os_discovery/compas.yaml
  tests/data/compas_usv.json
  tests/snmpsim/compas_usv.snmprec
Labels: Device :desktop_computer:

#18032 ipSystemStats: prevent undefined array key error
  includes/polling/ipSystemStats.inc.php
Labels: Cleanup

#18033 Allow larger values for STP bridge max age value
  database/migrations/2025_07_08_111910_change_stp_bridge_max_age_size.php
  resources/definitions/schema/db_schema.yaml
Labels: Schema

#18037 discovery-protocols: prevent undefined array key error
  includes/discovery/discovery-protocols.inc.php
Labels: Cleanup

#18020 Change hrDeviceType column size back to 255
  database/migrations/2025_07_07_080514_change_hr_device_type.php
  database/migrations/2025_07_29_025425_hr_device_table_add_type_default.php
  resources/definitions/schema/db_schema.yaml
Labels: Schema

#18040 Set relation after syncing models
  LibreNMS/DB/SyncsModels.php
Labels: Bug :spider:

#18018 Stop setting poller groups in dispatcher service
  LibreNMS/service.py
Labels: Bug :spider:

#18052 Restore query logging for some dbFacile queries
  includes/dbFacile.php
Labels: Bug :spider:

#18054 Fix typo in Configuration.md
  doc/Support/Configuration.md
Labels: Documentation :book:

#18065 Disable error_log for now whilst we release 25.7.0
  app/Exceptions/ErrorReporting.php
Labels: Ignore changelog :mute:

#18068 Fix typo in Devices.md
  doc/API/Devices.md
Labels: Documentation :book:

#18082 Fix: Undefined array key in ipmi.inc.php:43
  includes/polling/ipmi.inc.php
Labels: Cleanup

#18086 Fix debug output in lnms snmp commands
  app/Console/Commands/SnmpFetch.php
Labels: Internal Features

#18089 Fix state sensor incorrect color
  app/Models/StateTranslation.php
Labels: Bug :spider:, WebUI

#18085 Fix typos "receive"
  SECURITY.md
  doc/Developing/os/Health-Information.md
  doc/Extensions/Syslog.md
Labels: Documentation :book:

#18078 Fix sensor multiplier typo
  includes/discovery/functions.inc.php
Labels: Bug :spider:

#18092 Aruba: Fix issue when interference stat is missing on old radios.
  includes/polling/aruba-controller.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#18090 Fix some issues when ldap_get_entries returns false
  LibreNMS/Authentication/LdapAuthorizer.php
Labels: Bug :spider:, Authentication

#18096 Fix errors in various routing pages
  includes/html/pages/device/routing/isis.inc.php
  includes/html/pages/routing/bgp.inc.php
  includes/html/pages/routing/isis.inc.php
  includes/html/pages/routing/ospf.inc.php
Labels: Cleanup

#18098 Adding support for ABB UPS Powescale with UPS-MIB
  html/images/os/abb.svg
  mibs/abb/ABB-MODULARUPS-MIB
  resources/definitions/os_detection/abbups.yaml
  resources/definitions/os_discovery/abbups.yaml
  tests/data/abbups_abbups.json
  tests/snmpsim/abbups_abbups.snmprec
Labels: Device :desktop_computer:
