Repository librenms/librenms, pull requests merged in 2025-01, with the labels that each got.

#16718 SEH: Initial detection with USB port detection
  html/images/logos/seh.svg
  html/images/os/seh.svg
  includes/definitions/discovery/seh-uds.yaml
  includes/definitions/seh-uds.yaml
  mibs/seh/SEH-PSRV-MIB
  tests/data/seh-uds.json
  tests/snmpsim/seh-uds.snmprec
Labels: Device :desktop_computer:

#16912 DELL drac: Move the remaining inc.php sensors to YAML
  includes/definitions/discovery/drac.yaml
  includes/discovery/sensors/fanspeed/drac.inc.php
  includes/discovery/sensors/state/drac.inc.php
  includes/discovery/sensors/voltage/drac.inc.php
  mibs/dell/DELL-RAC-MIB
  mibs/dell/IDRAC-MIB
  mibs/dell/IDRAC-MIB-SMIv2
  tests/data/drac.json
  tests/data/drac_1.json
  tests/data/drac_2.json
  tests/data/drac_c6525.json
  tests/data/drac_idrac7.json
  tests/data/drac_m1000e.json
  tests/data/drac_r640.json
  tests/snmpsim/drac_c6525.snmprec
  tests/snmpsim/drac_idrac7.snmprec
  tests/snmpsim/drac_m1000e.snmprec
  tests/snmpsim/drac_r640.snmprec
Labels: Device :desktop_computer:

#16924 Update zh-TW.json
  lang/zh-TW.json
Labels: Translation

#16330 Add datetime and level to librenms.log
  app/Logging/LogFileFormatter.php
  config/logging.php
Labels: Core, Breaking-Change

#16918 Fix Graph problems in Mail
  LibreNMS/Util/Graph.php
Labels: Bug :spider:, Alerting :bell:

#16925 Add Axis camera alarm traps
  LibreNMS/Snmptrap/Handlers/AxisAlarmCleared.php
  LibreNMS/Snmptrap/Handlers/AxisAlarmNew.php
  LibreNMS/Snmptrap/Handlers/AxisAlarmSingle.php
  config/snmptraps.php
  tests/Feature/SnmpTraps/AxisVideoTrapTest.php
Labels: SNMP Traps

#16929 Ensure ordering of poller modules
  app/Jobs/PollDevice.php
Labels: Bug :spider:, Polling

#16926 Refractor some Helpers
  includes/common.php
  includes/functions.php
  includes/html/forms/application-update.inc.php
  includes/html/forms/create-alert-item.inc.php
  includes/html/forms/customoid.inc.php
  includes/html/functions.inc.php
  includes/html/graphs/graph.inc.php
  includes/polling/customoid.inc.php
  scripts/new-os.php
  tests/CommonFunctionsTest.php
Labels: Refactor, Cleanup

#16931 Create components.php
  lang/zh-TW/components.php
Labels: Translation

#16900 Improve url validation check
  LibreNMS/Validations/WebServer.php
Labels: WebUI

#16930 zh-TW port.php
  lang/zh-TW/port.php
Labels: Translation

#16928 Corrected index for EXOS sensors
  includes/definitions/discovery/exos.yaml
  includes/discovery/sensors/current/exos.inc.php
  includes/discovery/sensors/pre-cache/exos.inc.php
  includes/discovery/sensors/temperature/exos.inc.php
  includes/discovery/sensors/voltage/exos.inc.php
  tests/data/exos.json
  tests/snmpsim/exos.snmprec
Labels: Device :desktop_computer:

#16938 orderBy snmp_index because qos.title is not unique
  LibreNMS/Modules/Qos.php
Labels: Bug :spider:

#16940 Remove non existing module from config-definition
  misc/config_definitions.json
Labels: Bug :spider:, Ignore changelog :mute:

#16937 Null strings in Junos Transceivers code
  LibreNMS/OS/Junos.php
Labels: Bug :spider:

#16942 Junos Transceivers handle nulls
  LibreNMS/OS/Junos.php
Labels: Ignore changelog :mute:

#16936 snmpsim extra check
  LibreNMS/Util/Snmpsim.php
  scripts/save-test-data.php
Labels: Internal Features

#16944 Add support for Cisco-NS-MIB traps
  LibreNMS/Snmptrap/Handlers/CiscoNSDatabaseFull.php
  LibreNMS/Snmptrap/Handlers/CiscoNSEntryAdd.php
  LibreNMS/Snmptrap/Handlers/CiscoNSEntryDelete.php
  LibreNMS/Snmptrap/Handlers/CiscoNSRejectRegNotify.php
  config/snmptraps.php
  mibs/cisco/CISCO-NS-MIB
  tests/Feature/SnmpTraps/CiscoNSTrapTest.php
Labels: SNMP Traps

#16850 Add new vendor bitstream
  html/images/logos/bitstream.png
  html/images/os/bitstream.png
  includes/definitions/discovery/hyperion.yaml
  includes/definitions/hyperion.yaml
  tests/data/hyperion.json
  tests/data/hyperion_bitstream.json
  tests/snmpsim/hyperion.snmprec
  tests/snmpsim/hyperion_bitstream.snmprec
Labels: Device :desktop_computer:

#16947 Fix some issues with aix returning "NULL"
  includes/discovery/sensors/fanspeed/unix.inc.php
  includes/discovery/sensors/temperature/unix.inc.php
  includes/discovery/sensors/voltage/unix.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#16941 Add multiple translation files for zh-TW.
  lang/zh-TW/exceptions.php
  lang/zh-TW/install.php
  lang/zh-TW/inventory.php
  lang/zh-TW/widgets.php
Labels: Translation

#16948 stulz wib8000 fixes
  includes/definitions/discovery/stulz.yaml
  includes/definitions/stulz.yaml
  tests/data/stulz_wib8000.json
  tests/snmpsim/stulz_wib8000.snmprec
Labels: Device :desktop_computer:

#16300 Add support for Cisco ISA devices
  includes/definitions/asa.yaml
Labels: Device :desktop_computer:

#16956 Fix rrdgraph comment typo
  includes/html/graphs/sensor/generic.inc.php
  includes/html/graphs/sensor/power_consumed.inc.php
Labels: Bug :spider:, WebUI

#16963 cast_number() => Number::cast()
  LibreNMS/Device/Sensor.php
  LibreNMS/OS/Arubaos.php
  includes/discovery/functions.inc.php
  includes/discovery/sensors/state/equallogic.inc.php
  includes/discovery/sensors/temperature/boss.inc.php
  includes/discovery/storage/eql-storage.inc.php
  includes/helpers.php
  includes/polling/ports/os/infinera-groove.inc.php
  includes/polling/ports/port-etherlike.inc.php
  includes/polling/storage/eql-storage.inc.php
  includes/polling/unix-agent/packages.inc.php
Labels: Refactor

#16965 Fixed use of device_id in Eventlog::log()
  includes/discovery/applications.inc.php
  includes/discovery/arp-table.inc.php
  includes/discovery/junose-atm-vp.inc.php
  includes/discovery/mef.inc.php
  includes/discovery/vlans/aos6.inc.php
  includes/discovery/vlans/aos7.inc.php
  includes/discovery/vlans/boss.inc.php
  includes/discovery/vlans/cisco-vtp.inc.php
  includes/discovery/vlans/jetstream.inc.php
  includes/discovery/vlans/junos.inc.php
  includes/html/forms/update-ifalias.inc.php
  includes/polling/applications/cape.inc.php
  includes/polling/applications/chronyd.inc.php
  includes/polling/applications/fail2ban.inc.php
  includes/polling/applications/http_access_log_combined.inc.php
  includes/polling/applications/mojo_cape_submit.inc.php
  includes/polling/applications/opensearch.inc.php
  includes/polling/applications/oslv_monitor.inc.php
  includes/polling/applications/php-fpm.inc.php
  includes/polling/applications/portactivity.inc.php
  includes/polling/applications/postgres.inc.php
  includes/polling/applications/poudriere.inc.php
  includes/polling/applications/sagan.inc.php
  includes/polling/applications/smart.inc.php
  includes/polling/applications/sneck.inc.php
  includes/polling/applications/ss.inc.php
  includes/polling/applications/suricata.inc.php
  includes/polling/applications/suricata_extract.inc.php
  includes/polling/applications/systemd.inc.php
  includes/polling/applications/wireguard.inc.php
  includes/polling/applications/zfs.inc.php
  includes/polling/bgp-peers.inc.php
  includes/polling/functions.inc.php
  includes/polling/mef.inc.php
  includes/polling/ports.inc.php
  includes/polling/sensors/load/dhcpatriot.inc.php
  includes/services.inc.php
Labels: Bug :spider:, Ignore changelog :mute:

#16967 rename Jira Service Managment transport (#16195)
  LibreNMS/Alert/Transport/Jsm.php
Labels: Alerting :bell:

#16962 ifClass() => Url::portLinkDisplayClass()
  LibreNMS/Util/Url.php
  includes/common.php
  includes/html/functions.inc.php
  includes/html/pages/iftype.inc.php
Labels: Refactor

#16961 get_dev_attribs($device_id) => Use the Model Method
  includes/common.php
  includes/html/graphs/device/poller_modules_perf.inc.php
Labels: Refactor

#16867 Tachyon - Added wireless interface to ports
  includes/discovery/ports.inc.php
  includes/discovery/ports/tachyon.inc.php
  includes/polling/ports/os/tachyon.inc.php
  tests/data/tachyon.json
  tests/snmpsim/tachyon.snmprec
Labels: Device :desktop_computer:

#16968 Additional type declarations to Eventlog
  app/Models/Eventlog.php
Labels: Refactor

#16946 Added some additional ip pool sensors
  includes/definitions/discovery/flexbng.yaml
  tests/data/flexbng.json
Labels: Device :desktop_computer:

#16571 Support for ESPHOME OS
  html/images/logos/esphome.svg
  html/images/os/esphome.svg
  includes/definitions/discovery/esphome.yaml
  includes/definitions/esphome.yaml
  mibs/esphome/ESPHOME-ESP32-SNMP-MIB
  mibs/esphome/ESPHOME-ESP8266-SNMP-MIB
  tests/data/esphome_esp32.json
  tests/data/esphome_esp8266.json
  tests/snmpsim/esphome_esp32.snmprec
  tests/snmpsim/esphome_esp8266.snmprec
Labels: Device :desktop_computer:

#16982 Update Install-LibreNMS.md
  doc/Installation/Install-LibreNMS.md
Labels: Documentation :book:

#16970 Horizon Quantum Device Support
  LibreNMS/OS/HorizonQuantum.php
  includes/definitions/discovery/horizon-quantum.yaml
  includes/definitions/horizon-quantum.yaml
  includes/polling/ports/os/horizon-quantum.inc.php
  mibs/dragonwave/DRAGONWAVE-HORIZON-QUANTUM-MIB
  tests/data/horizon-quantum.json
  tests/snmpsim/horizon-quantum.snmprec
Labels: Device :desktop_computer:

#16989 qos test data fix
  tests/data/iosxe_c9800.json
Labels: Ignore changelog :mute:, Tests :test_tube:

#16990 Fix fs-centec bias thresholds
  includes/discovery/sensors/current/fs-centec.inc.php
  tests/data/fs-centec_s5850-48s2q4c.json
Labels: Bug :spider:, Device :desktop_computer:

#16988 Fix Junos BGP polling
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#16993 Junos non-null fallbacks for columns that are not nullable
  includes/polling/bgp-peers.inc.php
Labels: Bug :spider:, Device :desktop_computer:

#16996 Update authentication docs
  LibreNMS/Authentication/HttpAuthAuthorizer.php
  doc/Extensions/Authentication.md
  html/mix-manifest.json
  lang/en/settings.php
  misc/config_definitions.json
Labels: Documentation :book:

#16897 procurve handle HPE rebrand
  includes/definitions/discovery/procurve.yaml
  tests/snmpsim/procurve_hpe-instanton1960.snmprec
Labels: Device :desktop_computer:

#16997 Timos MPLS ignore bad rows
  LibreNMS/OS/Timos.php
Labels: Bug :spider:, Device :desktop_computer:

#16995 Fix time intervals sometimes being wrong
  LibreNMS/Util/Time.php
  tests/FunctionsTest.php
  tests/Unit/TimeUtilityTest.php
Labels: Bug :spider:, WebUI

#17004 Show unused cached snmp queries
  LibreNMS/Data/Source/NetSnmpQuery.php
  app/Polling/Measure/MeasurementManager.php
Labels: Internal Features

#16983 Viptela vendor - Processor and Memory fix
  LibreNMS/OS/Viptela.php
  includes/definitions/discovery/viptela.yaml
  includes/definitions/viptela.yaml
  mibs/viptela/VIPTELA-APP-ROUTE
  mibs/viptela/VIPTELA-BFD
  mibs/viptela/VIPTELA-BRIDGE
  mibs/viptela/VIPTELA-DOT1X
  mibs/viptela/VIPTELA-GLOBAL
  mibs/viptela/VIPTELA-HARDWARE
  mibs/viptela/VIPTELA-OMP
  mibs/viptela/VIPTELA-OPER-BGP
  mibs/viptela/VIPTELA-OPER-MULTICAST
  mibs/viptela/VIPTELA-OPER-OSPF
  mibs/viptela/VIPTELA-OPER-SYSTEM
  mibs/viptela/VIPTELA-OPER-VPN
  mibs/viptela/VIPTELA-POLICY
  mibs/viptela/VIPTELA-SECURITY
  mibs/viptela/VIPTELA-TRAPS
  mibs/viptela/VIPTELA-WLAN
  mibs/viptela/VIPTELA-WWAN
  tests/data/viptela_vedge-2000.json
  tests/data/viptela_vedge1000.json
  tests/snmpsim/viptela_vedge-2000.snmprec
Labels: Device :desktop_computer:

#17003 Remove unix agent global usage
  LibreNMS/Modules/Core.php
  LibreNMS/Modules/LegacyModule.php
  includes/polling/applications.inc.php
  includes/polling/functions.inc.php
  includes/polling/unix-agent.inc.php
Labels: Cleanup

#16960 zeropad() => Str::padLeft()
  LibreNMS/Billing.php
  LibreNMS/OS/Boss.php
  LibreNMS/OS/Sgos.php
  LibreNMS/OS/Shared/Cisco.php
  LibreNMS/OS/Vrp.php
  LibreNMS/Util/IPv6.php
  LibreNMS/Util/Rewrite.php
  includes/common.php
  includes/discovery/cisco-mac-accounting.inc.php
  includes/discovery/fdb-table/aos6.inc.php
  includes/discovery/fdb-table/arubaos.inc.php
  includes/discovery/fdb-table/bridge.inc.php
  includes/discovery/fdb-table/edgeswitch.inc.php
  includes/discovery/fdb-table/ios.inc.php
  includes/discovery/fdb-table/jetstream.inc.php
  includes/discovery/fdb-table/vrp.inc.php
  includes/discovery/fdb-table/zynos.inc.php
  includes/discovery/ports/zynos.inc.php
  includes/discovery/sensors/temperature/areca.inc.php
  includes/discovery/sensors/temperature/boss.inc.php
  includes/functions.php
  includes/polling/ports/os/zynos.inc.php
Labels: Refactor

#17009 Fix Tests for PHP IPv6 reserved handling changes
  tests/IpTest.php
Labels: Tests :test_tube:

#16972 Added ZenDuty Transport
  LibreNMS/Alert/Transport/ZenDuty.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#16978 Updated Grafana transport and docs to support richer information
  LibreNMS/Alert/Transport/Grafana.php
  doc/Alerting/Transports.md
Labels: Alerting :bell:

#16949 Improve logging for use of values from SNMP; improve logging for determining multiplier/divisor from YAML
  LibreNMS/Device/YamlDiscovery.php
  includes/discovery/functions.inc.php
Labels: Refactor

#17002 Implement PortCache
  LibreNMS/Cache/Port.php
  LibreNMS/Modules/Isis.php
  LibreNMS/Modules/Ospf.php
  LibreNMS/Modules/PortsStack.php
  LibreNMS/Modules/Xdsl.php
  LibreNMS/OS.php
  LibreNMS/OS/ArubaosCx.php
  LibreNMS/OS/Comware.php
  LibreNMS/OS/EltexMes23xx.php
  LibreNMS/OS/Exa.php
  LibreNMS/OS/FsCentec.php
  LibreNMS/OS/Iosxe.php
  LibreNMS/OS/Junos.php
  LibreNMS/OS/Ocnos.php
  LibreNMS/OS/Powerconnect.php
  LibreNMS/OS/Procurve.php
  LibreNMS/OS/Routeros.php
  LibreNMS/OS/Shared/Cisco.php
  LibreNMS/OS/Traits/BridgeMib.php
  LibreNMS/OS/Traits/ResolvesPortIds.php
  LibreNMS/OS/Vrp.php
  app/Facades/PortCache.php
  app/Providers/AppServiceProvider.php
  config/app.php
  includes/discovery/functions.inc.php
  includes/discovery/route.inc.php
  includes/discovery/route/routeros.inc.php
  includes/html/pages/device/edit/snmp.inc.php
  includes/html/pages/device/port.inc.php
  includes/html/pages/device/port/plugins.inc.php
Labels: Internal Features

#17006 Convert timos to SnmpQuery
  LibreNMS/Data/Source/SnmpResponse.php
  LibreNMS/OS/Timos.php
  includes/discovery/bgp-peers/timos.inc.php
  includes/polling/bgp-peers.inc.php
  includes/polling/ports/os/timos.inc.php
  phpstan-baseline.neon
  tests/data/timos_7705.json
Labels: Device :desktop_computer:, Refactor

#17014 Notification for ciscoASA table change
  misc/notifications.rss
Labels: Ignore changelog :mute:

#16803 Add voltage and power sensors for Digipower PDUs
  includes/definitions/digipower.yaml
  includes/definitions/discovery/digipower.yaml
  includes/discovery/sensors/current/digipower.inc.php
  mibs/digipower/DigiPower-PDU-MIB
  misc/discovery_schema.json
  tests/data/digipower.json
  tests/snmpsim/digipower.snmprec
Labels: Device :desktop_computer:

#17011 German typo correction for "channel"
  lang/de/wireless.php
Labels: Translation

#17015 Dark mode for the new Sensor graphs addition
  includes/html/graphs/sensor/generic.inc.php
Labels: Bug :spider:, Graphs, WebUI

#17031 Fix error in arp-table module
  includes/discovery/arp-table.inc.php
Labels: Bug :spider:

#16969 get_device_id_by_port_id(x) => PortCache::get()
  includes/common.php
  includes/html/functions.inc.php
Labels: Refactor

#17030 Work around bad bridge-mib implementations
  includes/discovery/fdb-table/bridge.inc.php
Labels: Discovery

#17032 Add enable_proxmox to config defs
  misc/config_definitions.json
Labels: Miscellaneous

#16892 APC: Convert "Recommended Replace Date" from count to runtime sensor
  LibreNMS/Util/Time.php
  LibreNMS/Util/UserFuncHelper.php
  includes/definitions/discovery/apc.yaml
  tests/data/apc_smart1500.json
  tests/data/apc_smx750.json
  tests/data/apc_sua750i.json
Labels: Device :desktop_computer:, Needs Tests :unicorn:, Breaking-Change

#16453 Add authz_status field to Arubaos-CX NAC
  LibreNMS/OS/ArubaosCx.php
Labels: Device :desktop_computer:, Needs Tests :unicorn:, User-Pending

#17034 Aruba Instant use SnmpQuery
  LibreNMS/OS/ArubaInstant.php
  phpstan-baseline.neon
  tests/data/aruba-instant.json
Labels: Device :desktop_computer:, Refactor

#17037 Handle orphaned ports in port search
  app/Http/Controllers/Ajax/PortSearchController.php
Labels: WebUI

#17038 Update the ordering of sensors for Overview page
  includes/html/pages/device/overview/generic/sensor.inc.php
Labels: WebUI

#17040 Fix agent data not being stored
  includes/polling/applications/proxmox.inc.php
  includes/polling/unix-agent.inc.php
Labels: Bug :spider:, Ignore changelog :mute:

#17042 Handle null port_id in PortCache::get()
  LibreNMS/Cache/Port.php
Labels: Bug :spider:, Ignore changelog :mute:

#17044 lnms dev:check modules only
  LibreNMS/Util/CiHelper.php
  app/Console/Commands/DevCheckCommand.php
  doc/Developing/os/Test-Units.md
Labels: Documentation :book:, Internal Features

#16313 Fix Alert diff, Add new AlertStatus changed, Fix AlertLog UI not showing the correct details
  LibreNMS/Alert/RunAlerts.php
  LibreNMS/Alert/Transport.php
  LibreNMS/Enum/AlertState.php
  app/Http/Controllers/Widgets/AlertsController.php
  doc/API/Alerts.md
  doc/Alerting/Transports.md
  doc/Alerting/index.md
  includes/html/common/alert-log.inc.php
  includes/html/common/alerts.inc.php
  includes/html/functions.inc.php
  includes/html/reports/alert-log.pdf.inc.php
  includes/html/table/alertlog.inc.php
  includes/html/table/alerts.inc.php
  misc/config_definitions.json
  scripts/test-template.php
Labels: Alerting :bell:

#17051 Added announcement workflow
  .github/workflows/announcements.yml
Labels: Ignore changelog :mute:

#17053 Updated announcement workflow
  .github/workflows/announcements.yml
Labels: Ignore changelog :mute:

#17054 Archived 2024 Changelog and updated navigation
  doc/General/Changelog.md
  doc/General/Changelogs/2024.md
  mkdocs.yml
  tests/DocsTest.php
Labels: Breaking-Change

#17056 Fix cumulus mellanox test data
  tests/data/cumulus_mellanox.json
Labels: Device :desktop_computer:, Tests :test_tube:

#17049 MAC OUI Vendor lookup
  LibreNMS/Util/Mac.php
  app/Http/Controllers/OuiLookupController.php
  lang/en/tools.php
  resources/views/layouts/menu.blade.php
  resources/views/oui_lookup.blade.php
  routes/web.php
  tests/Unit/Util/MacUtilTest.php
  tests/data/iosxe_c9800.json
Labels: Feature, WebUI

#17055 Storage deleted removal notification and alert rule
  misc/alert_rules.json
  misc/notifications.rss
Labels: Alert Rule

#17057 Fix multi port graph
  includes/html/functions.inc.php
Labels: Bug :spider:, Graphs

#17048 Remove snmp_getnext_multi()
  LibreNMS/Data/Source/SnmpResponse.php
  LibreNMS/OS/Airos.php
  LibreNMS/OS/Awplus.php
  LibreNMS/OS/Cumulus.php
  LibreNMS/OS/Eurostor.php
  LibreNMS/OS/Exa.php
  LibreNMS/OS/Gepulsar.php
  LibreNMS/OS/Qnap.php
  LibreNMS/OS/Unifi.php
  includes/snmp.inc.php
  tests/Unit/SnmpResponseTest.php
Labels: Refactor

#17059 Update PHP dependencies
  composer.lock
Labels: Dependencies

#17067 Update SCHLEIFENBAUER Mibs
  mibs/schleifenbauer/SCHLEIFENBAUER-DATABUS-MIB
  mibs/schleifenbauer/SCHLEIFENBAUER-PRODUCTS-MIB
  mibs/schleifenbauer/SCHLEIFENBAUER-SMI
Labels: MIBs

#17065 Repair support for Meraki MR accesspoints.
  includes/definitions/merakimr.yaml
  tests/data/merakimr_mr28.json
  tests/snmpsim/merakimr_mr28.snmprec
Labels: Device :desktop_computer:

#17063 Hiveos has also added IQ Engine to the sysdescription
  includes/definitions/hiveos-wireless.yaml
Labels: Device :desktop_computer:

#17072 Replace use of $config with Config::get() in poll-billing
  poll-billing.php
Labels: Bug :spider:

#17066 Better handle issues with ipmitool/freeipmi so we try other types as …
  includes/discovery/sensors/ipmi.inc.php
Labels: Polling

#17077 Re-add ifIndex index to ports table
  database/migrations/2025_01_30_000121_add_ifindex_index_to_ports_table.php
  misc/db_schema.yaml
Labels: Bug :spider:, Schema

#17079 Adding the new OPNsense Logo
  html/images/os/opnsense.svg
Labels: WebUI

#17081 Fix module override submodules
  includes/functions.php
Labels: Bug :spider:, Discovery

#17084 Docs: Update Custom-Graphs.md
  doc/Developing/os/Custom-Graphs.md
Labels: Documentation :book:

#17075 Remove echo from ports polling module
  includes/polling/ports.inc.php
Labels: Cleanup

#17076 Remove echo calls from sensors polling
  includes/polling/functions.inc.php
Labels: Cleanup

#17073 Updated detection for Tachyon devices
  includes/definitions/tachyon.yaml
  tests/data/tachyon_tns100.json
  tests/snmpsim/tachyon_tns100.snmprec
Labels: Device :desktop_computer:

#17074 Added support for WitchOS by Teltonika
  includes/definitions/discovery/witchos.yaml
  includes/definitions/witchos.yaml
  mibs/witchos/TELTONIKA-MIB
  tests/data/witchos.json
  tests/snmpsim/witchos.snmprec
  tests/snmpsim/witchos.snmpwalk
Labels: Device :desktop_computer:

#17087 Check if json file is existing when saving test data
  LibreNMS/Util/ModuleTestHelper.php
Labels: Cleanup

#17093 CIMC C220 M6 Model / Serial / Version Fix
  includes/definitions/discovery/cimc.yaml
  tests/data/cimc_1.json
  tests/snmpsim/cimc_1.snmprec
Labels: Device :desktop_computer:

#17069 Add Meraki MR WiFi Frequency polling
  LibreNMS/OS/Merakimr.php
  tests/data/merakimr_mr28.json
  tests/snmpsim/merakimr_mr28.snmprec
Labels: Device :desktop_computer:
